.row.box-sort-result
  .span12
    %span.count [index] <i>of</i> [total count]
    %span.type Memorable snapshots
    %h4 [Instructions]
.row.box-sort-result
  .span12
    .swatch.correct
    %span.option-label= result[:options][0][:text]
    .swatch.ambivalent
    %span.option-label= result[:options][1][:text]
    .swatch.incorrect
    %span.option-label= result[:options][2][:text]

.row.box-sort-result
  - 3.times do
    = render 'quizzes/box_sort_question_key_image', correct: true

.row.box-sort-result
  - 3.times do
    = render 'quizzes/box_sort_question_key_image', correct: false

