.row.multiple-choice-results
  .span7
    .row
      .span7
        %span.type Question
        %span.count #{result[:order]} -
        %span.student-average
          #{result[:average_correct]}% of students answered correctly

    .row
      .span7
        %h4= result[:question]
        %ol
          - result[:options].each_with_index do |option, idx|
            - c = option[:status].to_s
            - c += " has-image" if option[:image] && option[:image][:url]
            %li{:class => c}
              = option[:answer]
              -if option[:image] && option[:image][:url]
                %img.img-polaroid{ src: option[:image][:url] }
        -if ! result[:correct] && result[:explanation]
          %h5
          Explanation:
          #{result[:explanation].html_safe}
