.row
  .span12
    %span.type Question
    %span.count #{result[:order]}
    %span.student-average
      #{result[:average_correct]}% of students answered correctly

    %h4!= result[:question]
    %h5!= "(#{result[:instructions]})"

    %p.result
      %em Your answer was #{formatted_solution_score(result[:solution_score])} correct.

.order-sort.clearfix.results
  .grid-container
    - result[:answer_images].each_with_index do |image, index|
      .grid-item
        = image_tag(image[:url])
        .caption
          .num.show
            = index + 1
          = image[:caption]
