- content_for :custom_js do
  :javascript
    $(document).ready(function() {
      new ChefSteps.Views.BoxSortImageSet({
        el: '.box-sort'
      });
    });

#quiz-container
  .question.box-sort
    .container
      .row
        .span8
          .instructions
            Four loko next level mixtape, aliqua lomo brunch ut direct trade.
      .hero-unit.span9
        .row.images
          .span3
            .image-pile
              = image_tag 'http://lorempixel.com/270/152/food/1/Picture 1', class: 'img-polaroid'
              = image_tag 'http://lorempixel.com/270/152/food/2/Picture 2', class: 'img-polaroid'
              = image_tag 'http://lorempixel.com/270/152/food/3/Picture 3', class: 'img-polaroid'
              = image_tag 'http://lorempixel.com/270/152/food/4/Picture 4', class: 'img-polaroid'
              = image_tag 'http://lorempixel.com/270/152/food/5/Picture 5', class: 'img-polaroid'
              = image_tag 'http://lorempixel.com/270/152/food/6/Picture 6', class: 'img-polaroid'
              = image_tag 'http://lorempixel.com/270/152/food/7/Picture 7', class: 'img-polaroid'
              = image_tag 'http://lorempixel.com/270/152/food/8/Picture 8', class: 'img-polaroid'
              = image_tag 'http://lorempixel.com/270/152/food/9/Picture 9', class: 'img-polaroid'
              = image_tag 'http://lorempixel.com/270/152/food/10/Picture 10', class: 'img-polaroid'
        .row
          .span4.image-caption
            Four loko next level mixtape, aliqua lomo brunch ut direct trade
            culpa twee vinyl etsy. Consequat ullamco non vegan irure.
        .row
          .span3
            .sort-option
            %label I remember
          .span3
            .sort-option
            %label I'm not sure
          .span3
            .sort-option
            %label I don't remember
