- content_for :title, "#{quiz.title.html_safe} Results"

.hero-unit.quiz-title
  .container
    .row
      .span12
        %h3 Your Results for #{quiz.title}

#quiz-results.container
  .results-header.row
    .span6
      .center
        Questions:
    .span4
      .center.bordered.right.left
        Your Answer:
      .center.bordered.right
        Correct Answer:
    .span2
      .center
        Students Avg. Score:
  = render 'quizzes/multiple_choice_question_results', is_correct: true
  = render 'quizzes/multiple_choice_question_results', is_correct: false
  = render 'quizzes/multiple_choice_question_results'

