:javascript
  window.ChefSteps = window.ChefStepsAdmin || {};
  window.ChefSteps.questionsData = JSON.parse('#{j(questions)}');

:ruby
  add_body_data behavior: 'nav-hideable'
  content_for :title, 'Quiz'

%link{href: "//cloud.typography.com/7213652/651062/css/fonts.css", type: "text/css", rel: "stylesheet"}

.quiz-wrapper
  .quiz-title
    .container-fluid.no-margin-padding
      .row-fluid
        .span12
          %h2= quiz.title

  #quiz-container
    .container-fluid.no-margin-padding
      .row-fluid
        .span12
          %h3
            = quiz.started_by?(current_user) ? "Welcome back to" : "Test your skills on"
            %strong #{quiz.title}!
      .row-fluid.overview
        .span8
          - if quiz.has_image?
            = image_tag quiz.image.url, class: 'img-polaroid'
        .span4.dials
          - remaining_question_count = quiz.questions_remaining_for_count(current_user)
          .dial-left
            = progress_dial *question_count_stats(quiz),
              label: 'questions' do
              - if quiz.started_by?(current_user)
                You have
                %span= remaining_question_count
                %br
                remaining #{'question'.pluralize remaining_question_count}
          .dial-right
            = progress_dial *question_time_stats(quiz),
              label: 'est. min.',
              display_value: estimated_mins(quiz.question_count) do
              - if quiz.started_by?(current_user)
                You have
                %span= estimated_mins(remaining_question_count)
                %br
                est. min. remaining
      .row-fluid
        .span12
          %p.pull-left
            :markdown
              #{quiz.start_copy}
          .pull-right
            #start-quiz.btn.btn-primary.btn-large
              = quiz.started_by?(current_user) ? "Return to Quiz" : "Start Quiz"
          -if params[:return_to]
            = link_to 'Return to Course', params[:return_to], class: 'btn btn-primary'

