:javascript
  window.ChefSteps = window.ChefStepsAdmin || {};
  window.ChefSteps.questionsData = JSON.parse('#{j(questions)}');

- add_body_data(behavior: 'nav-hideable')

.hero-unit.quiz-title
  .container
    .row
      .span12
        %h3= quiz.title

#quiz-container
  .container
    .row
      .span12
        %h3
          Test your skills on
          %strong #{quiz.title}!
    .row.hero-unit.overview
      .span8
        = image_tag 'http://lorempixel.com/745/376/food/', class: 'img-polaroid'
      .span4.dials
        .dial-left
          = progress_dial *question_count_stats(quiz), label: 'questions'
        .dial-right
          = progress_dial *question_time_stats(quiz), label: 'est. min.', display_value: estimated_time(quiz.question_count)/60
    .row
      .span12
        %p.pull-left= quiz.start_copy
        .pull-right
          #start-quiz.btn-uppercase.btn-primary.btn-x-large Start Quiz

