.container
  .row
    .span12
      / %h1
      /   = @users.count
      / %ul
      /   - @users.each do |user|
      /     %li= user.survey_results
      %h1
        = "#{@amateurs.count} Amateurs"
      %ul
        - @amateurs.each do |user|
          %li= user.email

      %h1
        = "#{@homecooks.count} Homecooks"
      %ul
        - @homecooks.each do |user|
          %li= user.email

      %h1
        = "#{@students.count} Students"
      %ul
        - @students.each do |user|
          %li= user.email

      %h1
        = "#{@professionals.count} Professionals"
      %ul
        - @professionals.each do |user|
          %li= user.email