.container
  .row.section
    .span6
      %h3= "New users last 7 days: #{@new_users_last_week.count}"
      %h3= "New active users (> 3 events): #{@new_active_users.all.count}"
      %h3= "New active users (> 10 events): #{@new_very_active_users.all.count}"

  .row.section
    .span4
      %h3= "Users: #{@users_count}"
      %table.table-striped.table-bordered
        %thead
          %tr
            %th Date
            %th Users
        %tbody
          - @users_trend.reverse.each do |date_trend|
            %tr
              %td= date_trend[0]
              %td= date_trend[1]

    .span4
      %h3 Enrollments

      - @enrollments_trends.each_with_index do |trend,index|
        .section
          %h4
            = "#{@assemblies[index].title}: #{@assemblies[index].enrollments.count}"
          %table.table-striped.table-bordered
            %thead
              %tr
                %th Date
                %th Enrollments
            %tbody
              - trend.reverse.each do |date_trend|
                %tr
                  %td= date_trend[0]
                  %td= date_trend[1]
    .span4
      %h3 Users that Uploaded
      %h4= @uploads_count.count