= render 'layouts/filepicker'

:javascript
  window.ChefStepsAdmin = window.ChefStepsAdmin || {};
  window.ChefStepsAdmin.questionImageData = JSON.parse('#{j(@question_images)}');
  window.ChefStepsAdmin.solutionData = JSON.parse("#{j(@solutions)}");

%h2 Order Sort Question for "#{@question.quiz.title}"

= semantic_form_for [:admin, @question], url: admin_order_sort_question_path(@question) do |f|
  = f.inputs name: "Question Details" do
    = f.input :question, input_html: { value: @question.question }
    = f.input :instructions, input_html: { value: @question.instructions }

  %h2 Solutions
  %p
    You can re-order each solution item by drag-and-drop.

  #solutions-list.clearfix

  = f.actions do
    = f.action :submit, label: 'Save Question'

#image-uploader
  #image-list
    .image.image-placeholder{ data: {behavior: 'filepicker'}}
      %p.img-polaroid
        %i.icon-plus
          %span Upload Images
