= semantic_form_for [:admin, @recipe] do |f|
  = f.inputs name: "Recipe Details" do
    = f.input :title
    = f.input :yield
    = f.input :activity
  = f.inputs name: "Ingredients" do
    %li= copy_button('Add Ingredient', '#ingredient-row', 'table#ingredients')
    %table.nested-records.sortable#ingredients
      %tr
        %th Ingredient
        %th Quantity
        %th Unit
      = render 'ingredient_form', ingredient: nil
      - @recipe.ingredients.ordered.each do |ingredient|
        = render 'ingredient_form', ingredient: ingredient

  = f.inputs name: "Steps" do
    %li= copy_button('Add Step', '#step-row', 'table#steps')
    %table.nested-records.sortable#steps
      %tr
        %th Title
        %th Directions (Markdown or HTML)
        %th Image Id
        %th Youtube Id
      = render 'step_form', step: nil
      - @recipe.steps.ordered.each do |step|
        = render 'step_form', step: step

  = f.actions do
    = f.action :submit
    = f.action :cancel, wrapper_html: {class: :cancel}, :label => 'Cancel'

:javascript
  var fixHelper = function(e, ui) {
    ui.children().each(function() {
      $(this).width($(this).width());
    });
    return ui;
  };

  $(function() {
    $('table.sortable').sortable({
      cursor: 'move',
      helper: fixHelper,
      items: 'tr:not(:first)',
      containment: 'parent'
    }).disableSelection();
  });

