= semantic_form_for [:admin, @recipe] do |f|
  = f.inputs name: "Recipe Details" do
    = f.input :title
    = f.input :yield
  = section("Ingredients", f) do
    %p
      foobar
    .ingredient-table-container
      = sortable_table('ingredients') do
        %tr
          %th Ingredient
          %th Quantity
          %th Unit
        = render 'ingredient_form', ingredient: nil
        - @recipe.ingredients.ordered.each do |ingredient|
          = render 'ingredient_form', ingredient: ingredient
    %li= copy_button 'Add Ingredient', '#ingredient-row', 'table#ingredients'

  = section("Steps", f) do
    %li.two-button-row
      = copy_button 'Add Step', '#step-row', 'table#steps'
    = sortable_table('steps') do
      %tr
        %th Title
        %th Directions (Markdown or HTML)
        %th Image Id
        %th Image Description
        %th Youtube Id
        %th Audio Clip
        %th Audio Title
      = render 'step_form', step: nil
      - @recipe.ordered_steps.each do |step|
        = render 'step_form', step: step
    %li.two-button-row
      = copy_button 'Add Step', '#step-row', 'table#steps'

  = f.actions do
    = f.action :submit
    = f.action :cancel, wrapper_html: {class: :cancel}, label: 'Cancel'

