= semantic_form_for [:admin, @recipe] do |f|
  = f.inputs name: "Recipe Details" do
    = f.input :title
    = f.input :yield
    = f.input :activity
  = f.inputs name: "Ingredients" do
    %li= copy_button('Add Ingredient', '#ingredient-row', 'table#ingredients')
    %table.nested-records#ingredients
      %tr
        %th Ingredient
        %th Quantity
        %th Unit
      = render 'ingredient_form', ingredient: nil
      - @recipe.ingredients.each do |ingredient|
        = render 'ingredient_form', ingredient: ingredient

  = f.inputs name: "Steps" do
    %li= copy_button('Add Step', '#step-row', 'table#steps')
    %table.nested-records#steps
      %tr
        %th Title
        %th Directions (Markdown or HTML)
        %th Image Id
        %th Youtube Id
      = render 'step_form', step: nil
      - @recipe.steps.each do |step|
        = render 'step_form', step: step

  = f.actions do
    = f.action :submit
    = f.action :cancel, wrapper_html: {class: :cancel}, :label => 'Cancel'
