:ruby
  is_template = ingredient.nil?
  ingredients ||= Ingredient.titles
  field_name_prefix ||= "recipe[ingredients][]"

  row_id ||= 'ingredient-row' if is_template
  title_data_attrs = {
    data: {source: ingredients, provide: 'typeahead'},
    autocomplete: 'off'
  }

  title = ingredient.title unless is_template
  quantity = ingredient.quantity unless is_template
  unit = ingredient.unit unless is_template

%tr{id: row_id}
  %td= text_field_tag "#{field_name_prefix}[title]", title, title_data_attrs
  %td= text_field_tag "#{field_name_prefix}[quantity]", quantity
  %td
    = text_field_tag "#{field_name_prefix}[unit]", unit
    = remove_button 'tr'
    = reorder_icon
