.panel
  %h3 Recipe
  .panel_contents
    .attributes_table
      %table
        %tbody
          %tr
            %th Title
            %td= recipe.title
          - unless recipe.activities.empty?
            %tr
              %th Activities
              %td
                %ul
                  - recipe.activities.each do |activity|
                    %li= link_to activity.title, admin_activity_path(activity)
          %tr
            %th Ingredients
            %td
              %ul
                - recipe.ingredients.each do |ingredient|
                  %li
                    = ingredient.measurement
                    = link_to ingredient.title, admin_ingredient_path(ingredient.ingredient_id)
          %tr
            %th Steps
            %td
              %ul
                - recipe.steps.each_with_index do |step, index|
                  %li= link_to step.title(index) , admin_step_path(step)

