:ruby
  is_template = step.nil?

  row_id = 'step-row' if is_template

  unless is_template
    title = step.title
    id = step.id 
    directions = step.directions
    image_id = step.image_id
    youtube_id = step.youtube_id
  end

%tr{id: row_id, class: ('template-row' if is_template )}
  %td
    = text_field_tag 'recipe[steps][][title]', title
    = hidden_field_tag 'recipe[steps][][id]', id
  %td= text_area_tag 'recipe[steps][][directions]', directions, rows: 5
  %td= text_field_tag 'recipe[steps][][image_id]', image_id
  %td
    = text_field_tag 'recipe[steps][][youtube_id]', youtube_id
    = remove_button 'tr'
    = reorder_icon
