:ruby
  row_id = "step-#{count}-ingredients-row"
  field_name_prefix = "step_ingredients[#{step.id}][]"

%li= copy_button 'Add Ingredient To Step', "##{row_id}", "table#step-#{count}-ingredients"
= sortable_table("step-#{count}-ingredients") do
  %tr
    %th Ingredient
    %th Quantity
    %th Unit
  = render 'ingredient_form', ingredient: nil, ingredients: ingredients, row_id: row_id, field_name_prefix: field_name_prefix
  - step.ingredients.each do |ingredient|
    = render 'ingredient_form', ingredient: ingredient, ingredients: ingredients, field_name_prefix: field_name_prefix
%li= copy_button 'Add Ingredient To Step', "##{row_id}", "table#step-#{count}-ingredients"

