:ruby
  is_template = step.nil?

  row_id = 'step-row' if is_template
  field_name_prefix ||= "recipe[steps][]"

  unless is_template
    title = step.title
    id = step.id 
    directions = step.directions
    image_id = step.image_id
    image_description = step.image_description
    youtube_id = step.youtube_id
    audio_clip = step.audio_clip
    audio_title = step.audio_title
  end

%tr{id: row_id, class: ('template-row' if is_template )}
  %td
    = text_field_tag "#{field_name_prefix}[title]", title
    = hidden_field_tag "#{field_name_prefix}[id]", id
  %td= text_area_tag "#{field_name_prefix}[directions]", directions, rows: 5
  %td= text_field_tag "#{field_name_prefix}[image_id]", image_id
  %td= text_area_tag "#{field_name_prefix}[image_description]", image_description, rows: 5
  %td= text_field_tag "#{field_name_prefix}[youtube_id]", youtube_id
  %td= text_field_tag "#{field_name_prefix}[audio_clip]", audio_clip
  %td= text_field_tag "#{field_name_prefix}[audio_title]", audio_title
  %td
    = remove_button 'tr'
    = reorder_icon
