.container#main-container
  .row.section
    .span5.offset1.section
      .lead
        %h3 Join the Community!
        %ul
          %li Participate in the forums
          %li Get your questions about cooking answered
    .span5.section.registration
      = form_for @user, url: registration_path(@user) do |f|
        = render 'shared/error_messages', target: f
        = f.hidden_field :signed_up_from
        %div= f.text_field :name, placeholder: 'Name', class: 'input-block-level'
        %div= f.text_field :email, placeholder: 'Email', class: 'input-block-level', type: 'email'
        %div= f.password_field :password, placeholder: 'Password', class: 'input-block-level'
        %div= f.password_field :password_confirmation, placeholder: 'Confirmation', class: 'input-block-level'
        %div= f.submit 'Sign up', class: 'btn btn-primary btn-large'
        .section
          = label_tag :terms_registration do
            .hide
              = check_box_tag :terms_registration, true, true, required: true
            = "By signing up, you are agreeing to the <b>#{link_to "Terms of Service", terms_of_service_path}</b>.".html_safe

      / %hr
      / .registration.facebook
      /   = render 'devise/shared/facebook_login', text: 'Sign up with <b>Facebook</b>'
