.container
  .box.box-full
    - if params[:email]
      %h2 Almost done!
      %h5 Please fill out the following to complete your registration:
    - else
      %h3 Please fill out the following to complete your registration:
    %hr
    .registration.standard
      = form_for @user, url: registration_path(@user), html: {class: 'form-horizontal'} do |f|
        = render 'shared/error_messages', target: f
        .control-group
          .control-label= f.label :name
          .controls= f.text_field :name

        .control-group
          .control-label= f.label :email
          .controls= f.text_field :email

        .control-group
          .control-label= f.label :password
          .controls= f.password_field :password

        .control-group
          .control-label= f.label :password_confirmation, 'Confirmation'
          .controls= f.password_field :password_confirmation

        .control-group
          .controls.controls-small
            =label_tag :terms_registration do
              = check_box_tag :terms_registration, true, false, required: true
              = "I accept the #{link_to "Terms of Service", terms_of_service_path, target: '_blank'}".html_safe

        .control-group
          .controls.controls-small
            =label_tag :okay_to_email do
              = check_box_tag :okay_to_email, true, true
              = "Please email me the latest updates from ChefSteps".html_safe
            =f.submit 'Sign up', class: 'btn btn-primary'
    .registration.facebook
      = render 'devise/shared/facebook_login', text: 'Sign up with <b>Facebook</b>'
