.container.search-container
  %h2 Search Chefsteps
  = form_tag '/search', :method => :get, class: 'form-inline' do
    = text_field_tag :q, nil, :placeholder => 'Example: sous vide'
    = submit_tag 'Search', class: 'btn btn-primary'

  - if @results
    - @results.each do |result|
      .box.box-small
        = link_to activity_path(result) do
          %h4= result.title
          / - result.step_images.each do |image|
          /   = s3_image_url(image)
          - if result.step_images.any?
            = image_tag s3_image_url(result.step_images.first)