.container
  - badges.each do |badge|
    .row
      %h2
        = "Users: #{badge.users.count}"
      .span3
        = image_tag badge.image, width: 200
      .span9
        .row
          - badge.users.order('name ASC').each_slice(3) do |slice|
            .span3
              - slice.each do |user|
                %div
                  - number_of_badges = user.badges.select{|b| b.id == badge.id}.count
                  - if number_of_badges > 1
                    = link_to "#{user.name} (#{number_of_badges})", user_profile_path(user)