= render 'layouts/filepicker'
= semantic_form_for [:admin, @premium_gift_certificate_group] do |f|
  = f.inputs do
    = f.input :title
    = f.input :coupon_count, max: 5000, min: 1

  = f.actions do
    = f.action :submit
    = f.action :cancel, wrapper_html: {class: :cancel}, label: 'Cancel'

