.tutorial
  %h3 Creating a New Assembly
  %ol
    %li
      %p
        Go to
        = link_to '/admin/assemblies', '/admin/assemblies'
    %li
      %p
        Click on the 'New Assembly' button at the top right corner
        %br
        = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/Dyn6oTKvSpySLoQRGa1Q/convert?fit=max&w=800&cache=true'
    %li
      %p
        Choose an Assembly Type:
        %ul
          %li Course - These will be included into class index page
          %li Group - These are groupings of activities that may tree up into a course (ex: 'Making French Macarons' group inside the 'French Macaron' class)
          %li Project - Mean for recipes with multiple components (Salmon 104) or the recipe development projects (vegetable demi)
        %br
        = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/TVoQ25CdRiufmJK5FP5l/convert?fit=max&w=800&cache=true'
    %li
      %p
        Enter a title, description, photo, video, etc.
    %li
      %p
        Save.

  %h3 Nesting content into an Assembly
  %ol
    %li
      %p
        Edit an exiting assembly, or create a new one.
    %li
      %p
        Scroll to the bottom and click on the 'Add Assembly Inclusion' link:
        %br
        = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/P7S40W1HRbKV8ulb4DAT/convert?fit=max&w=800&cache=true'
    %li
      %p
        An inclusion box will appear.  Select an includable type:
        %ul
          %li Activity - Recipes
          %li Assembly - These are assemblies labeled as groups.
          %li Assignment - These assignments that require user input such as an Upload page
          %li Page - Use this to create custom bespoke pages
        %br
        = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/8XCFBYZRjSrRopbozTcq/convert?fit=max&w=800&cache=true'
    %li
      %p
        By selecting an includable type, the includable list will filter to the includable type chosen:
        = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/J7f16GesRhKQOru7P9pp/convert?fit=max&w=800&cache=true'
    %li
      %p
        Repeat as necessary.  Click on the inclusion box and drag to reorder the inclusions.
    %li
      %p
        Save the Assembly.