= semantic_form_for [:admin, @poll] do |f|
  = f.inputs do
    = f.input :title
    = f.input :description
    = render '/shared/filepicker_group', label_text: "Image", param: "poll[image_id]", value: @poll.image_id
    = f.input :status, as: :select, collection: ['Open', 'Closed']

  %h2 Poll Items
  = link_to_add_fields "Add Poll Item", f, :poll_items
  #poll_items
    = f.semantic_fields_for :poll_items do |builder|
      = render 'poll_item_fields', f: builder
    = f.actions

= render 'layouts/filepicker'