- direction = direction || 'left'
- user_noun = current_user == event.user ? 'You' : event.user.name
- votable_object = event.trackable.votable

- case votable_object.class.to_s
- when 'PollItem'
  .timeline-text-only{data: {direction: direction}}
    .timeline-text-only-text.text-center
      %div
        = "#{user_noun} voted for #{votable_object.title} in the poll: #{link_to votable_object.poll.title, votable_object.poll}.".html_safe
      %div
        = time_ago_in_words(event.created_at) + ' ago'