.container
  .row
    .span12
      %h1 Badges
- @badges.each do |badge|
  .container
    .row.section{id: "badge-#{badge.id}"}
      .span3
        - if badge.image
          = image_tag badge.image
        - else
          = image_tag 'http://www.placehold.it/300x300&text=Coming%20Soon'
      .span9
        .lead
          %h2= badge.name.titleize
          = badge.description