%h1(style="color: red;") READ ME!!!
%h2 As of now, there should be exactly one advertisement and it is used for the hero on the home page of the Joule app when there is no Joule paired. Do not mess with this if you aren't sure you know what you are doing!

= semantic_form_for [:admin, @advertisement] do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs do
    = render '/shared/filepicker_group', label_text: "Image", param: "advertisement[image]", value: @advertisement.image
    = f.input :title, input_html: { rows: 1}, label: "Title (large text on ad, optional)"
    = f.input :description, input_html: { rows: 2}, label: "Description (smaller text on ad, optional)"
    = f.input :button_title, input_html: { rows: 1}, label: "Text shown on button (optional)"
    = f.input :url, input_html: { rows: 1}, label: "Target URL for ad"
    = f.input :campaign, input_html: { rows: 1}, label: "UTM campaign code"
    = f.actions
= render 'layouts/filepicker'