- submit_options = @quiz.persisted? ? {label: 'Save Details'} : {label: 'Add Questions'}

= render 'layouts/filepicker'
= semantic_form_for [:admin, @quiz] do |f|
  = f.inputs name: "Quiz Details" do
    = f.input :published
    = f.input :title
    = f.input :activity
    = f.input :start_copy, label: 'Start Message'
    = f.input :end_copy, label: 'End Message'
    %li
      %label.label Quiz Image
      %button.admin-button{type: 'button', data: {behavior: 'filepicker'}} Upload Quiz Image
    %li
      = f.actions do
        = f.action :submit, submit_options
        = f.action :cancel, wrapper_html: {class: :cancel}, label: 'Cancel'
  - if @quiz.persisted?
    = link_to 'Edit Questions', manage_questions_admin_quiz_path(@quiz), class: 'admin-button'

