:javascript
  window.ChefStepsAdmin = window.ChefStepsAdmin || {};
  window.ChefStepsAdmin.questionsData = JSON.parse('#{j(@questions)}');

#resource-actions.top
  = link_to 'Finish', admin_quizzes_path, class: 'admin-button'

%h2 Questions for "#{@quiz.title}"

#quiz-control-anchor{ data: { behavior: 'stick-to-top-anchor' } }
#quiz-controls{ data: { behavior: 'stick-to-top'} }
  = admin_button 'Add Multiple Choice Question', '#', id: 'add-multiple-choice-question'
  #question-count
    .count
    Questions

#quiz-questions
  #question-filters
    %button.admin-button.ordering{ data: {toggle: 'active', 'toggle-text' => 'Normal View'}} Re-order View
  %ol#question-list

#resource-actions.bottom
  = link_to 'Finish', admin_quizzes_path, class: 'admin-button'

