= render 'layouts/filepicker'

:javascript
  window.ChefStepsAdmin = window.ChefStepsAdmin || {};
  window.ChefStepsAdmin.questionsData = JSON.parse('#{j(@questions)}');

#resource-actions.top
  = link_to 'Finish', admin_quizzes_path, class: 'admin-button'

%h2 Questions for "#{@quiz.title}"

#quiz-control-anchor{ data: { behavior: 'stick-to-top-anchor' } }
#quiz-controls{ data: { behavior: 'stick-to-top'} }
  %ul
    %li= admin_button 'Add Multiple Choice Question', '#', id: 'add-multiple-choice-question'
    %li= link_to 'Add Box Sort Question', admin_quiz_questions_path(@quiz, question_type: 'box_sort'), method: :post, class: 'admin-button'
    %li= link_to 'Add Order Sort Question', admin_order_sort_questions_path(quiz_id: @quiz.id), method: :post, class: 'admin-button'
  #question-count
    .count
    Questions

#quiz-questions
  #question-filters
    %button.admin-button.ordering{ type: 'button', data: {toggle: 'active', 'toggle-text' => 'Normal View'}} Re-order View
  %ol#question-list

#resource-actions.bottom
  = link_to 'Finish', admin_quizzes_path, class: 'admin-button'

