%p
  = task_button 'Create display quantities', admin_tasks_create_display_quantities_path
  Copies the decimal value of quantity in StepIngredient and RecipeIngredient
  into the display_quantity field.

%p
  = task_button 'Update activity recipe steps', admin_tasks_update_activity_recipe_steps_path
  Ensure that the ActivityRecipeStep models are setup for all steps associated with activities
  via recipes.

%p
  = task_button 'Create new copy entries', admin_tasks_create_new_copy_path
  Non-destructively creates new copy entries from the copy.yml file.

%p
  = task_button 'Publish all activities', admin_tasks_publish_all_activities_path

%p
  = task_button 'Create activity slugs', admin_tasks_create_activity_slugs_path
