.row
  .span12
    %h3 Custom Checkbox
#checkboxes
  %h4 Checkboxes
  .row
    .span4
      = fancy_checkbox_tag 'check-1', 'check-1', true do
        Checkbox 1. This is an example of the ChefSteps styled checkbox.
    .span4
      = fancy_checkbox_tag 'check-2', 'check-2' do
        Checkbox 2. You can select multiple.

  %h4 Radio Group
  .row
    .span4
      = fancy_radio_button_tag 'radio', 'radio-1' do
        Radio 1. This is an example of the ChefSteps styled radio button.
    .span4
      = fancy_radio_button_tag 'radio', 'radio-2', true do
        Radio 2. You can only select one.

  %h4 Variants
  .row
    .span4
      = fancy_checkbox_tag 'check-variant-1', 'check-variant-1', true do
        = image_tag 'http://lorempixel.com/181/102/food/1/', class: 'img-polaroid'
        This is an example of the ChefSteps styled checkbox with an image in the label.
