- content_for :title, 'Styleguide'

/ = stylesheet_link_tag :styleguide

.container
  %h2 ChefSteps Styleguide
  %p
    We're using twitter bootstrap. Checkout some of the bootstrap
    = link_to "components.", "http://twitter.github.com/bootstrap/components.html", target: "_blank"

  = render 'headers'
  = render 'fonts'
  = render 'colors'
  = render 'buttons'
  = render 'row-spans'
  = render 'icons'
  = render 'sprites'
  = render 'labels'
  = render 'dials'
  = render 'checkboxes'
