- content_for :title, 'Styleguide'

= stylesheet_link_tag :styleguide

.container
  %h3 Delve Styleguide

  = render 'headers'
  = render 'fonts'
  = render 'colors'
  = render 'buttons'
  = render 'row-spans'
  = render 'icons'
  = render 'sprites'

