- direction = direction || 'left'
- user_noun = current_user == event.user ? 'You' : event.user.name

.timeline-circle{data: {direction: direction}}
  .timeline-circle-img
    = link_to event.trackable do
      = image_tag filepicker_circle_image(event.trackable.featured_image), class: 'img-circle'
  .timeline-circle-text.text-center
    %div
      = "#{user_noun} created #{link_to event.trackable.title, event.trackable}.".html_safe
    %div
      = time_ago_in_words(event.created_at) + ' ago'

/ .timeline-circle{data: {direction: direction}}
/   .timeline-circle-img
/     = link_to user_upload_path(event.trackable.user, event.trackable) do
/       = image_tag filepicker_circle_image(event.trackable.image_id), class: 'img-circle'
/   .timeline-circle-text.text-center
/     %div= "#{user_noun} uploaded a photo"
/     %div= time_ago_in_words(event.created_at) + ' ago'