%div(ng-controller='csBlindersController')
  %cs-blinders
    - media_objects.each_with_index do |media_object, index|
      %cs-blinder(index="#{index}")
        = image_tag filepicker_activity_hero_image(media_object.featured_image)
        .cs-blinder-title
          = link_to "#{object_path}/#{media_object.slug}" do
            %h4= media_object.title