/ .gallery-filter(ng-cloak='')
/   .dropdown
/     = link_to 'javascript:void(0);', class: 'dropdown-toggle' do
/       {{date_type || 'Date'}}
/       %i.icon-angle-down
/     %ul.dropdown-menu
/       %li(ng-click="date = '-published_at' ; date_type = 'Most Recent'")
/         = link_to 'Most Recent', 'javascript:void(0);'
/       %li(ng-click="date = 'published_at' ; date_type = 'Oldest'")
/         = link_to 'Oldest', 'javascript:void(0);'
/   .dropdown
/     = link_to 'javascript:void(0);', class: 'dropdown-toggle' do
/       {{filters.difficulty || 'Difficulty'}}
/       %i.icon-angle-down
/     %ul.dropdown-menu
/       %li(ng-click="filters.difficulty = 'easy'")
/         = link_to 'Easy', 'javascript:void(0);'
/       %li(ng-click="filters.difficulty = 'intermediate'")
/         = link_to 'Intermediate', 'javascript:void(0);'
/       %li(ng-click="filters.difficulty = 'advanced'")
/         = link_to 'Advanced', 'javascript:void(0);'
/   .dropdown
/     %div(ng-show="filters.difficulty || date_type" ng-click="filters = {} ; date_type = null; date = '-updated_at'")
/       = link_to 'Clear x', 'javascript:void(0);'
/ %div.pull-left(galleryscroll='load_data()')
/   .media-box-3(ng-cloak='' ng-repeat='activity in filtered = (activities | filter:search | filter:filters | orderBy:date)' ng-animate="'gallery-animation'")
/     %a(href= 'activities/{{activity.slug}}')
/       .media-box-3-title
/         {{activity.title}}
/       %img(ng-src="{{activityImageURL(activity, 400)}}")
/       .media-box-3-footer
/         .footer-left
/           {{activity.difficulty}}
/ .gallery-spinner(ng-show='spinner')
/   %i.icon-spinner.icon-spin.icon-large

.gallery-filter(ng-cloak='')
  .dropdown
    = link_to 'javascript:void(0);', class: 'dropdown-toggle' do
      {{date_type || 'Date'}}
      %i.icon-angle-down
    %ul.dropdown-menu
      %li(ng-click="filters.by_published_at = 'desc' ; date_type = 'Most Recent'")
        = link_to 'Most Recent', 'javascript:void(0);'
      %li(ng-click="filters.by_published_at = 'asc' ; date_type = 'Oldest'")
        = link_to 'Oldest', 'javascript:void(0);'
  .dropdown
    = link_to 'javascript:void(0);', class: 'dropdown-toggle' do
      {{filters.difficulty || 'Difficulty'}}
      %i.icon-angle-down
    %ul.dropdown-menu
      %li(ng-click="filters.difficulty = 'easy'")
        = link_to 'Easy', 'javascript:void(0);'
      %li(ng-click="filters.difficulty = 'intermediate'")
        = link_to 'Intermediate', 'javascript:void(0);'
      %li(ng-click="filters.difficulty = 'advanced'")
        = link_to 'Advanced', 'javascript:void(0);'
  .dropdown
    %div(ng-show="filters.difficulty || date_type" ng-click="filters = {} ; date_type = null; date = '-updated_at'")
      = link_to 'Clear x', 'javascript:void(0);'
%div.pull-left(galleryscroll='load_data()')
  / .media-box-3(ng-cloak='' ng-repeat='activity in filtered = (activities | filter:search | filter:filters | orderBy:date)' ng-animate="'gallery-animation'")
  .media-box-3(ng-cloak='' ng-repeat='activity in activities' ng-animate="'gallery-animation'")
    %a(href= 'activities/{{activity.slug}}')
      .media-box-3-title
        {{activity.title}}
      %img(ng-src="{{activityImageURL(activity, 400)}}")
      .media-box-3-footer
        .footer-left
          {{activity.difficulty}}
.gallery-spinner(ng-show='spinner')
  %i.icon-spinner.icon-spin.icon-large