/ Defaults to size medium
%div{class: "media-centered media-centered-#{ size ||= 'medium' }"}
  = link_to media do
    = image_tag s3_image_url(media.featured_image)
    .title-block
      .title-main
        = main
      = media.title