.media-hero
  = link_to media_object do
    = image_tag filepicker_hero_image(media_object.featured_image)

  = link_to activity_path(media_object, autoplay: true) do
    .media-header
      .media-header-left
        .media-header-content
          %h3= media_object.title.html_safe
      .media-header-right
        .btn-play-image.pull-left
        .media-header-content
          - if media_object.activity_type.first == 'Science'
            = "See the Video"
          - else
            = "See the #{media_object.activity_type.first}"