- object_data = object ? "#{object.class}-#{object.id}" : nil

.media-box-5{data: {object: object_data}}
  = link_to url do
    .media-box-5-title-container
      .media-box-5-title
        = title.html_safe
    - if image
      = image_tag filepicker_gallery_image(image)
