.media-hero
  = image_tag s3_image_url(media_image)
  .container
    .media-block
      .media-body.lead
        = link_to media_object do
          %h2= main
          %h3= media_object.title
          %p= media_object.description
        = link_to '#', data: { url: youtube_url(media_object.youtube_id, 1), youtubeid: media_object.youtube_id}, class: 'media-hero-play' do
          %i.icon-play
      .media-options
        %p.pull-right
          = link_to 'See More Recipes', recipe_gallery_index_path, class: 'btn btn-primary'