.media-hero
  = link_to media_object do
    = image_tag s3_image_url(media_image)
  .media-header-background
  .container
    .media-block
      .media
        .media-object.pull-left
          / = link_to '#', data: {youtubeid: media_object.youtube_id}, class: 'media-hero-play' do
          /   .btn-play
          /     .btn-play-trangle
          = link_to media_object do
            .btn-play
              .btn-play-trangle
        .media-heading.pull-left
          %h2= media_object.title.html_safe
          - media_object.activity_type.each do |type|
            %div{class: "label label-large label-#{type}"}
              = type
        .pull-right
          = link_to '#hero-carousel', class: 'hero-carousel-control right', data: {slide: 'next'} do
            / %i.icon-chevron-right
            .btn-next