/ Defaults to size medium
- cache [media, size] do
  %div{class: "media-centered media-centered-#{size}"}
    - if media.featured_image
      -if size == 'small'
        = image_tag filepicker_slider_image(media.featured_image), alt: media.title, title: media.title
      -else
        = image_tag filepicker_gallery_image(media.featured_image), alt: media.title, title: media.title
    - else
      = image_tag 'https://d92f495ogyf88.cloudfront.net/static/missing.png'
    .title-block
      = media.title.html_safe