.media-hero
  = image_tag s3_image_url(media_image)
  .container
    .media-block
      .title-main
        %h2
          = main
      .media-body
        %h3
          = media_object.title
        %p.lead
          = media_object.description
        %p
          = link_to 'See More Recipes', recipe_gallery_index_path