- content_for :title, "#{@ingredient.title} - Ingredient".html_safe
- description = @ingredient.text_fields && @ingredient.text_fields["description"] ? sanitize(@ingredient.text_fields["description"]).html_safe : sanitize(@ingredient.title).html_safe
- content_for :description, description
- content_for :canonical_link, ingredient_url(@ingredient) if @ingredient.id
-if ! @ingredient.well_edited
  - content_for :extra_head_tags, '<META NAME="ROBOTS" CONTENT="NOINDEX">'.html_safe
-# content_for :keywords, @ingredient.tag_list.join(',')
- if @ingredient.id
  - content_for :facebook_og do
    %meta{property: 'og:url', content: ingredient_url(@ingredient)}
    %meta{property: 'og:title', content: sanitize(@ingredient.title).html_safe}
    %meta{property: 'og:description', content: description}
    - if @ingredient.image_id?
      %meta{property: 'og:image', content: filepicker_activity_hero_image(@ingredient.image_id)}
  - content_for :twitter_cards do
    %meta{property: 'twitter:site', content: '@chefsteps'}
    %meta{property: 'twitter:title', content: sanitize(@ingredient.title).html_safe }
    %meta{property: 'twitter:description', content: description}
    - if @ingredient.image_id?
      %meta{property: 'twitter:image:src', content: filepicker_activity_hero_image(@ingredient.image_id)}
    - if @ingredient.youtube_id?
      %meta{property: 'twitter:card', content: 'player'}
      %meta{property: 'twitter:player', content: "https://www.youtube.com/embed/#{@ingredient.youtube_id}?wmode=opaque\&rel=0&modestbranding=1\&showinfo=0"}
      %meta{property: 'twitter:player:height', content: '270'}
      %meta{property: 'twitter:player:width', content: '480'}
    - else
      %meta{property: 'twitter:card', content: 'summary_large_image'}


- @body_tag_attributes = {:'ng-app' => "ChefStepsApp", :'ng-controller' => "IngredientShowController", :'data-ingredient-id' => @ingredient_id}

-# This is how search engine crawlers know to request the _escaped_fragment_ page
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}

.container.ingredient-show(ng-cloak ng-class="addEditModeClass()")

  .section

  .row.section.anim-basic-fade(ng-show="! editMode && ingredient.title")
    .span12.well.text-center.wiki-warning(ng-show="csAuthentication.loggedIn()")
      %div(ng-show="showStubTip()")
        %h3.section-tiny
          %i This page is a stub. You can help!
        Your contributions to the ChefSteps ingredient wiki are always welcome. Just click the edit button below

      %div(ng-show="! showStubTip()")
        ChefSteps
        %a(href="/ingredients") ingredient wiki
        pages are community-edited. If you see incorrect information, please
        %a(ng-click="startEditMode()") fix it
        or
        %a(ng-click="reportProblem()") report it.

        Your contributions are always welcome, just click the edit button below

    .span12.well.text-center.wiki-warning(ng-show="! csAuthentication.loggedIn()")
      ChefSteps
      %a(href="/ingredients") ingredient wiki
      pages are community-edited. If you see incorrect information, please
      %a(ng-click="reportProblem()") report it,
      or
      %a(href="/sign_in") sign in
      to edit.

  .row.relative
    .span6
      %h2.inline(ng-bind-html="ingredient.title")
      %h5.no-bold(ng-show="lastEditingUser()")
        Last edited by
        %span(ng-switch="lastEditingUser().role == 'admin'")
          %span(ng-switch-when="true") Team ChefSteps
          %span(ng-switch-when="false")
            %a(ng-href="/profiles/{{lastEditingUser().slug}}" ng-bind-html="lastEditingUser().name")

    .span6.edit-buttons-group(ng-show="! editMode")
      .btn-toolbar
        .btn-group
          .btn.btn-primary(ng-click="startEditMode()" ng-show="csAuthentication.loggedIn()")
            EDIT
    .span6.edit-buttons-group.anim-basic-fade(ng-show="editMode")
      .btn-toolbar
        .btn.btn-primary(ng-click="endEditMode()")
          SAVE
        .btn.btn-link(ng-click="cancelEditMode()")
          Cancel
        .btn.btn-link(ng-click="showHelpModal = true")
          Help

  .row.section
    .span6

      .row.section(ng-init="heroImageSize=570")
        .span6
          .noprint
            .section
              = render 'activities/hero_visual'
            = render 'activities/edit_hero_visual'
            = render 'layouts/social_buttons', media_object: nil

      .row.text-fields(ng-repeat="textFieldName in textFieldOptions")
        .span6.section(ng-show="editMode || (ingredient.text_fields[textFieldName].length)")
          %h3(ng-bind-html="textFieldName")
          %div( cs_contenteditable="editMode"
                ng-model="ingredient.text_fields[textFieldName]")

    .span6
      .well.relative
        .row.section.anim-basic-fade(ng-show="editMode")
          .span6
            %h3.inline Tags
            .btn.btn-link.inline(ng-click="showTagsModal()") Select...
            %input(type="hidden" ng-model="ingredient.tags" ui-select2="tagsSelect2()")

        .row.section(ng-show="(! editMode) && ingredient.tags.length")
          .span6
            %h3 Tags
            %csTagList(ng-model="ingredient.tags" search-path="'/ingredients#/?search_all'")

        .row.section(ng-show="ingredient.product_url")
          .span6
            %h3 Where To Buy
            %ul
              %li
                %a(ng-href="{{ingredient.product_url}}" target="_blank" ng-bind-html="urlAsNiceText(ingredient.product_url)")

        .row.section(ng-show="usedInChefStepsActivities().length > 0")
          .span6
            %h3 Used In
            %ul
              %li(ng-repeat="activity in usedInChefStepsActivities()")
                %a(ng-href="/activities/{{activity.slug}}" ng-bind-html="activity.title")

        .row.section(ng-show="frequentlyUsedWith().length > 0")
          .span6
            %h3 Often Used With
            %ul
              %li(ng-repeat="usedWith in frequentlyUsedWith()")
                %a(ng-href="/ingredients/{{usedWith.slug}}" ng-bind-html="usedWith.title")

        .row.section(ng-show="getEditingUsers().length > 0")
          .span6
            %h3 Contributions By
            %ul
              %li(ng-repeat="user in getEditingUsers()")
                %a(ng-href="/profiles/{{user.slug}}" ng-bind-html="user.name")

        .row.anim-basic-fade(ng-show="editMode || ingredient.density")
          .span6
            %h3.inline Volume Conversion
            .btn.btn-link.inline(ng-show="editMode" ng-click="densityService.editDensity(ingredient)")
              Set...
            %ul(ng-show="!! ingredient.density")
              %li(ng-repeat="du in densityService.densityUnits")
                {{densityService.displayDensity(ingredient.density / du.perL)}}
                grams per {{du.name|lowercase}}
        .btn.btn-link.btn-small.report-problem(ng-click="reportProblem()")
          Report a problem


  .row.section#comments
    %a(name='discussion')
    %cscomments(comments-type="ingredient" comments-id="{{ingredient.id}}" seo-bot="#{is_static_render}")

= content_for :footer do
  = render 'layouts/footer'

= render 'density_table'

%div(ng-cloak close="showHelpModal = false" modal="showHelpModal" options="modalOptions")
  .modal-header
    %h2
      How To Edit Ingredients
  .modal-body
    %p
      Thank you for contributing your knowledge to the ChefSteps community!
    %p
      Simply click in any text field and type; choose Save when you are done. Your edits
      will be reviewed and published soon.

    %p
      Please only include text, images or video that you create yourself or that you are
      legally allowed to share, and include any required attribution.

    %p
      To maximize the value of these pages, please stick to factual, non-self-promotional information, similar to what you would find on Wikipedia, Quora, or StackOverflow.
  .modal-footer
    %button.btn(ng-click="showHelpModal = false") Done

%div(ng-cloak close="showPostEditModal = false" modal="showPostEditModal" options="modalOptions")
  .modal-header
    %h2 Thanks For Your Contribution!
  .modal-body
    %h4 Now tell the world?
    = render 'layouts/social_buttons', media_object: nil
    .section

%script(type="text/ng-template" id="ingredientTagChooserModal.html")
  .modal-header
    %h2 Choose Tags
    Pick all that apply to how you think as a cook; e.g. it is ok to mark
    %i tomato
    as both a fruit and a vegetable.
  .modal-body.tag-bg
    %csTagChooser(  ng-model="ingredient.tags"
                    options="csTagService.ingredientSuggestedTags")
  .modal-footer
    %button.btn(ng-click="$dismiss('close')") Done

