- content_for :title, "#{@ingredient.title} - Ingredient".html_safe
- description = @ingredient.text_fields && @ingredient.text_fields["description"] ? @ingredient.text_fields["description"].html_safe : @ingredient.title.html_safe
- content_for :description, description
- content_for :canonical_link, ingredient_url(@ingredient) if @ingredient.id
-# content_for :keywords, @ingredient.tag_list.join(',')
- if @ingredient.id
  - content_for :facebook_og do
    %meta{property: 'og:url', content: ingredient_url(@ingredient)}
    %meta{property: 'og:title', content: @ingredient.title.html_safe}
    %meta{property: 'og:description', content: description}
    - if @ingredient.image_id?
      %meta{property: 'og:image', content: filepicker_activity_hero_image(@ingredient.image_id)}
  - content_for :twitter_cards do
    %meta{property: 'twitter:site', content: '@chefsteps'}
    %meta{property: 'twitter:title', content: @ingredient.title.html_safe }
    %meta{property: 'twitter:description', content: description}
    - if @ingredient.image_id?
      %meta{property: 'twitter:image:src', content: filepicker_activity_hero_image(@ingredient.image_id)}
    - if @ingredient.youtube_id?
      %meta{property: 'twitter:card', content: 'player'}
      %meta{property: 'twitter:player', content: "https://www.youtube.com/embed/#{@ingredient.youtube_id}?wmode=opaque\&rel=0&modestbranding=1\&showinfo=0\&vq=hd720"}
      %meta{property: 'twitter:player:height', content: '270'}
      %meta{property: 'twitter:player:width', content: '480'}
    - else
      %meta{property: 'twitter:card', content: 'summary_large_image'}


- @body_tag_attributes = {:'ng-app' => "ChefStepsApp", :'ng-controller' => "IngredientShowController", :'data-ingredient-id' => @ingredient_id}

-# This is how search engine crawlers know to request the _escaped_fragment_ page
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}

= render 'layouts/filepicker'

.container.ingredient-show(ng-cloak ng-class="addEditModeClass()")

  = render 'shared/alerts'

  .section

  .row.section
    .span12.well.text-center.wiki-warning(ng-show="! editMode")
      ChefSteps ingredient wiki pages are community-edited. If you see incorrect information, please
      %a(ng-click="startEditMode()") fix it
      or
      %a(ng-click="reportProblem()") report it. 
      Your contributions are always welcome, just click the edit button below.

  .row.relative
    .span6
      %h2.inline(ng-bind-html-unsafe="ingredient.title")
      %h5.no-bold(ng-show="lastEditingUser()")
        Last edited by
        %span(ng-switch="lastEditingUser().role == 'admin'")
          %span(ng-switch-when="true") Team ChefSteps
          %span(ng-switch-when="false")  
            %a(ng-href="/profiles/{{lastEditingUser().slug}}" ng-bind-html-unsafe="lastEditingUser().name")        

    .span6.edit-buttons-group(ng-show="! editMode")
      .btn.btn-primary(ng-click="startEditMode()" ng-show="csAuthentication.loggedIn()")
        EDIT
    .span6.edit-buttons-group(ng-show="editMode")
      .btn.btn-link(ng-click="showHelpModal = true")
        Help
      .btn.btn-link(ng-click="cancelEditMode()")
        Cancel
      .btn.btn-primary(ng-click="endEditMode()")
        SAVE

  .row.section
    .span6
      .row.section(ng-show="showStartEditTip() && csAuthentication.loggedIn()")
        .section
        .span6
          %h4
            %i Be the first to add information about this ingredient. Click the edit button to get started.

      .row.section
        .span6
          .noprint
            = render 'activities/hero_visual'
            = render 'layouts/social_buttons', media_object: nil

      .row(ng-repeat="textFieldName in textFieldOptions" ng-animate="'custom'")
        .span6.section(ng-show="(! editMode) && (ingredient.text_fields[textFieldName].length)")
          %h3(ng-bind-html-unsafe="textFieldName")
          %div(ng-bind-html-unsafe="ingredient.text_fields[textFieldName] | markdown | shortcode") 
        .span6.section(ng-show="editMode")         
          %h3(ng-bind-html-unsafe="textFieldName")
          %div(ng-model="ingredient.text_fields[textFieldName]" contenteditable="true")          

    .span6
      .well.relative
        .row.section(ng-show="editMode")
          .span6
            %input(type="text" ng-model="tags" ng-model="ingredient.tags" ui-select2="tagsSelect2")
        .row.section(ng-show="! editMode")
          .span6
            .ro-tag-group
              %span.ro-tag(ng-repeat="tag in ingredient.tags")
                %i.icon-tag
                {{tag.name}}

        .row.section(ng-show="ingredient.product_url")
          .span6
            %h3 Where To Buy
            %ul
              %li
                %a(ng-href="{{ingredient.product_url}}" target="_blank" ng-bind-html-unsafe="urlAsNiceText(ingredient.product_url)")

        .row.section(ng-show="usedInChefStepsActivities().length > 0")
          .span6
            %h3 Used In
            %ul
              %li(ng-repeat="activity in usedInChefStepsActivities()")
                %a(ng-href="/activities/{{activity.slug}}" ng-bind-html-unsafe="activity.title")

        .row.section(ng-show="frequentlyUsedWith().length > 0")
          .span6
            %h3 Often Used With
            %ul
              %li(ng-repeat="usedWith in frequentlyUsedWith()")
                %a(ng-href="/ingredients/{{usedWith.slug}}" ng-bind-html-unsafe="usedWith.title")

        .row.section(ng-show="getEditingUsers().length > 0")
          .span6
            %h3 Contributions By
            %ul
              %li(ng-repeat="user in getEditingUsers()")
                %a(ng-href="/profiles/{{user.slug}}" ng-bind-html-unsafe="user.name")

        .row(ng-show="editMode || ingredient.density")
          .span6
            %h3.inline Volume Conversion
            .btn.btn-link.inline(ng-show="editMode" ng-click="densityService.editDensity(ingredient)")
              Set...
            %ul(ng-show="!! ingredient.density")
              %li(ng-repeat="du in densityService.densityUnits")
                {{densityService.displayDensity(ingredient.density / du.perL)}} 
                grams per {{du.name|lowercase}}  
        .btn.btn-link.btn-small.report-problem(ng-click="reportProblem()")
          Report a problem
 

  .row.section
    .span12
      %div(ng-controller='CommentsController' ng-init="init('ingredients','#{@ingredient.id}')")
        = render 'comments/comments'           

.container
  .row.activity-loading-spinner(ng-hide="true")
    .span12
      %i.icon-page-load

= render 'density_table'

%div(close="showHelpModal = false" modal="showHelpModal" options="modalOptions")
  .modal-header
    %h2
      How To Edit Ingredients
  .modal-body
    %p
      Thank you for contributing your knowledge to the ChefSteps community!
    %p
      Simply click in any text field and type; choose Save when you are done. Your edits
      will be reviewed and published soon.

    %p
      Please only include text, images or video that you create yourself or that you are
      legally allowed to share, and include any required attribution.

    %p
      To maximize the value of these pages, please stick to factual, non-self-promotional information, similar to what you would find on Wikipedia, Quora, or StackOverflow.
  .modal-footer
    %button.btn(ng-click="showHelpModal = false") Done

%div(close="showPostEditModal = false" modal="showPostEditModal" options="modalOptions")
  .modal-header
    %h2 Thanks For Your Contribution!
  .modal-body
    %h4 Now tell the world?
    = render 'layouts/social_buttons', media_object: nil


