.container.about-tabs
  .row
    .span12
      %hr
      %ul.nav.nav-tabs
        %li.active
          %a(href='#about-overview' data-toggle='tab')Overview
        %li
          %a(href='#about-our-story' data-toggle='tab')Our Story
        %li
          %a(href='#about-our-kitchen' data-toggle='tab')Our Kitchen
        %li
          %a(href='#about-our-team' data-toggle='tab')Our Team

.container-fluid.about-tab-content.well
  .row-fluid
    .container
      .row
        .span12
          .tab-content#about-tabs.shift(cs-scroll-action on-appear-class='shift-left')
            .tab-pane.active#about-overview
              %h2 How to use this site
              %p Frankly, we think you should use this site in any way you please, but here are some things you might want to know:
              .overview-items
                - @about_tips.each_slice(2) do |slice|
                  .span4
                    - slice.each do |tip|
                      .overview-item
                        .text-center
                          = image_tag tip[:image], class: 'img-circle'
                        - if tip[:copy]
                          %p.section
                            :markdown
                              #{tip[:copy].copy}

            .tab-pane#about-our-story
              .section
                = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/bpKlBmBXRBmUPSZUSLXW/convert?fit=max&w=1200&cache=true'
              .section
                :markdown
                  #{@about_story}
            .tab-pane#about-our-kitchen
              .section
                :markdown
                  #{@about_kitchen}
            .tab-pane#about-our-team
              .row.section
                .span4.text-center.founder
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/RGKBOD8BTAmF1eO3FHkE/convert?fit=crop&w=400&h=400&cache=true', class: 'img-circle'
                  %h4 Ryan Matthew Smith (Alumnus)
                  %p
                    Ryan was the principal photographer and photo editor for Modernist Cuisine: The Art and Science of Cooking. Smith’s work has been featured by PPN, Photographer, Life, Time, The New York Times, Feature Shoot, Quo, and Abduzeedo.
                .span4.text-center.founder
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/X5ZXg1LjTCKerc06Nzjj/convert?fit=crop&w=400&h=400&cache=true', class: 'img-circle'
                  %h4 Chris Young
                  %p
                    Chris is the principal coauthor of the acclaimed and world-wide bestselling six-volume work Modernist Cuisine: The Art and Science of Cooking. Modernist Cuisine was named the 2012 Cookbook of the Year and Best Professional Cookbook of the year by the James Beard Foundation. Chris was also the founding chef of Heston Blumenthal’s Fat Duck Experimental Kitchen, the secret culinary laboratory behind the innovative dishes served at one of the best restaurants in the world. Prior to becoming a chef, he completed degrees in theoretical mathematics and biochemistry.
                .span4.text-center.founder
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/tF7mChtzSWeY5ctL4MBX/convert?fit=crop&w=400&h=400&cache=true', class: 'img-circle'
                  %h4 Grant Lee Crilly
                  %p 
                    Grant was the first development chef hired by the Modernist Cuisine team. Prior to that, he was chef de cuisine at Busaba in Mumbai and Mistral in Seattle, and he served as head development chef at Delicious Planet. He has cooked for Pascal Barbot at L’Astrance, worked with Pierre Hermé’s team at Grégoire-Ferrandi, and practiced butchery at Bajon Jean Pierre in Paris.
              %hr
              - @team.each_slice(3) do |slice|
                .row
                  - slice.each do |member|
                    .span4
                      .team-member
                        .team-member-image
                          = image_tag member[:image]
                        .team-member-title
                          %p= member[:name]
                          %p= member[:title]
                        .team-member-bio
                          %p= member[:bio].html_safe