.container.about-tabs
  .row
    .span12
      %hr
      %ul.nav.nav-tabs
        %li.active
          %a(href='#about-overview' data-toggle='tab')Overview
        %li
          %a(href='#about-our-story' data-toggle='tab')Our Story
        %li
          %a(href='#about-our-kitchen' data-toggle='tab')Our Kitchen
        %li
          %a(href='#about-our-team' data-toggle='tab')Our Team

.container-fluid.about-tab-content.well
  .row-fluid
    .container
      .row
        .span12
          .tab-content#about-tabs.shift(cs-scroll-action on-appear-class='shift-left')
            .tab-pane.active#about-overview
              %h2 Getting Started
              %br
              .overview-items
                - @about_tips.each_slice(2) do |slice|
                  .span4
                    - slice.each do |tip|
                      .overview-item
                        .text-center
                          = image_tag tip[:image], class: 'img-circle'
                        - if tip[:copy]
                          %p.section
                            :markdown
                              #{tip[:copy].copy}

            .tab-pane#about-our-story
              .section
                = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/bpKlBmBXRBmUPSZUSLXW/convert?fit=max&w=1200&cache=true'
              .section
                :markdown
                  #{@about_story}
            .tab-pane#about-our-kitchen
              .section
                :markdown
                  #{@about_kitchen}
              .section
                %h4 Visiting ChefSteps

                %p
                  Want to come and see us? We want to see you, too! That’s why we set up Open Kitchen Hours. Every month we open our doors for 90 minutes for folks to come by and see the kitchen, meet the chefs, and say hello. Take a look at our upcoming
                  %a(href="http://www.brownpapertickets.com/event/1883413") Open Kitchen Hours calendar
                  and sign up for the day that works best for you or your group.

                %p
                  If your schedule doesn’t line up with Open Kitchen Hours and you're still hoping to visit us, please email
                  = succeed "." do
                    %a(href="mailto:info@chefsteps.com") info@chefsteps.com
                  While we are not always able to accommodate visits outside of Open Kitchen Hours, we'll certainly review your request and do our best. Unfortunately, for visits outside of Open Kitchen Hours, we can't guarantee that the chefs or the founders will be around, and please know that Camp, our friendly canine mascot, may be working from home. (But if he is the office, he will gladly pose for pictures and accept treats!) Visits outside of Open Kitchen Hours may be subject to change depending on kitchen and filming needs. We hope you understand.
            .tab-pane#about-our-team
              .row.section
                .span4.founder
                  .text-center.section
                    = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/X5ZXg1LjTCKerc06Nzjj/convert?fit=crop&w=400&h=400&cache=true', class: 'img-circle'
                  %h4.text-center Chris Young
                  %p
                    Chris is the principal coauthor of the acclaimed and world-wide bestselling six-volume work <i>Modernist Cuisine: The Art and Science of Cooking</i>. <i>Modernist Cuisine</i> was named the 2012 Cookbook of the Year and Best Professional Cookbook of the year by the James Beard Foundation. Chris was also the founding chef of Heston Blumenthal’s Fat Duck Experimental Kitchen, the secret culinary laboratory behind the innovative dishes served at one of the best restaurants in the world. Prior to becoming a chef, he completed degrees in theoretical mathematics and biochemistry.
                .span4.founder
                  .text-center.section
                    = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/optlOTIVS4GTtYUY6lwN/convert?fit=crop&w=400&h=400&cache=true', class: 'img-circle'
                  %h4.text-center Grant Lee Crilly
                  %p
                    Before co-founding ChefSteps, Grant Crilly spent four years collaborating closely with photographer Ryan Matthew Smith to develop the startling visual brand that defines the Modernist Cuisine series. His globe-spanning culinary adventures include a stint in Paris, where he broke down beasts at famed butcher Bajon Jean Pierre, cooked for Pascal Barbot at L’Astrance, and worked with Pierre Hermé’s team at L’Ecole Grégoire-Ferrandi. He’s also been Chef de cuisine at both Busaba in Mumbai, India and Seattle’s Mistral Kitchen. At ChefSteps, Grant combines his love for amazing food and inspiring, image-driven storytelling, growing the content and kitchen teams from the ground up. He also whistles a lot and has a hipster mustache.
                .span4.founder
                  .text-center.section
                    = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/5Iq86WtrSAe9xC0HCMre/convert?fit=crop&w=400&h=400&cache=true', class: 'img-circle'
                  %h4.text-center Edward Starbird
                  %p
                    Edward spent 8 years in operations as an engineer, a production manager, and a supply chain manager. Seeking a smaller company, he has completely changed gears at ChefSteps and now wears many hats that keep the doors open, the lights on, and the development team innovating.
              %hr
              - @team.each_slice(3) do |slice|
                .row
                  - slice.each do |member|
                    .span4
                      .team-member
                        .team-member-image
                          = image_tag member[:image], class: "img-circle"
                        .team-member-title.text-center
                          %h5= member[:name]
                        .team-member-bio
                          %p
                            = member[:bio].html_safe