.container-fluid.well-gradient#madlib-container(ng-controller="LoginController" ng-show="!authentication.currentUser()" ng-cloak ng-init="registrationSource='homeMadlib'; setIntent('ftue')")
  = render "devise/sessions/new_angular"
  .row-fluid
    .container
      .row
        .span10.offset1.relative
          = render 'madlib'

.container.home-signed-in(ng-cloak)
  .row
    .span8
      .home-section(ng-show="#{@hero_cms[:url].length}")
        %h3(ng-show="#{@hero_cms[:title].length}")
          %a.black-link(href="#{@hero_cms[:url]}" cs-track-link="Home Hero Clicked")
            = @hero_cms[:title]
        .home-featured-item
          %div(ng-show="#{@hero_cms[:image].length}")
            %a(href="#{@hero_cms[:url]}" cs-track-link="Home Hero Clicked")
              = image_tag filepicker_stream_image(@hero_cms[:image])
          .section-tiny(ng-show="#{@hero_cms[:description].length}")
            = @hero_cms[:description]
          .home-featured-item-btn(ng-show="#{@hero_cms[:button_text].length}")
            %a(href="#{@hero_cms[:url]}" cs-track-link="Home Hero Clicked")
              .btn.btn-primary.btn-large
                = @hero_cms[:button_text]
      .home-section
        %h3
          = link_to 'Classes', classes_path, class: 'black-link'
        - @classes.each.with_index do |course, index|
          - url = landing_class_path(course)

          .home-standard-item
            .home-standard-item-image
              = link_to url do
                = image_tag filepicker_stream_image(course.featured_image)
            .home-standard-item-text
              = link_to url do
                %h3= course.title
              %csrating.rating(value="#{course.average_rating}" readonly="true")
              %p= course.short_description
        .section.pull-right
          %h4.section
            = link_to 'See more', courses_path


      .home-section
        %h3 Projects
        - @projects.each do |project|
          - url = project_path(project)
          .home-standard-item
            .home-standard-item-image
              = link_to url do
                = image_tag filepicker_stream_image(project.featured_image)
            .home-standard-item-text
              = link_to url do
                %h3= project.title
              %csrating.rating(value="#{project.average_rating}" readonly="true")
              %p= project.short_description

    .span4
      .home-section
        %h3
          = link_to "Latest", '/gallery', class: 'black-link'
        .whats-new.section
          - @latest.each.with_index do |item, index|
            = render 'shared/media_box_4', url: activity_path(item), title: item.title, image: item.featured_image, object: item
        .section.pull-right
          %h4.section
            = link_to 'See more', '/gallery'

      = render 'shared/bloom_hot'



:javascript
  mixpanel.track('Viewed Homepage', {'url' : window.location.pathname});
