.container
  .row
    .span12
      %h2 Activity
    .span10
      .row
        .container-fluid
          .row-fluid
            / - current_user.events.timeline.each do |event|
            /   .event
            /     = event.trackable_type
            /     = event.action
            /     = event.created_at
            / - current_user.events.timeline.group_by{|e| [e.trackable.commentable || e.trackable.likeable || e.trackable, e.trackable_type, e.action] rescue true}.each do |event_group|
            /   = event_group
            /   %hr
            - current_user.events.timeline.group_by{|e| e.group_name}.take(4).each do |group|
              - group_type = group[0][0]
              - group_name = group[0][1]
              - group_events = group[1]
              - case group_type
              - when ['Like','received_create']
                - media_object = group_events.first.trackable.likeable
                .span3.text-center
                  %h4= media_object.class.to_s
                  %p= media_object.title
                  = image_tag filepicker_gallery_image(media_object.image_id)
                  %p= "#{media_object.likes_count} people liked this."
              %hr