.container
  .row
    .span12
      %h2 Activity
    .span10
      .row
        .container-fluid
          .row-fluid
            .stream
              - current_user.events.timeline.group_by{|e| e.group_name}.each do |group|
                - group_type = group[0][0]
                - group_name = group[0][1]
                - group_events = group[1]
                - case group_type
                - when ['Comment','create']
                  - media_object = group_events.first.trackable.commentable
                  .stream-item  
                    .stream-item-top
                      = link_to media_object do
                        .stream-item-title
                          %h4 Comment
                        .stream-item-subtitle
                          = media_object.title
                        = image_tag filepicker_media_box_image(media_object.image_id)
                    .stream-item-bottom
                      %p= "#{time_ago_in_words(group_events.first.created_at)} ago"
                      .stream-item-media1
                        .stream-item-media1-user
                          = link_to user_profile_path(group_events.first.trackable.user) do
                            = image_tag filepicker_circle_image(group_events.first.trackable.user.image_id)
                        .stream-item-media1-content
                          = link_to group_events.first.trackable.user.name, user_profile_path(group_events.first.trackable.user)
                          = "said, '#{group_events.first.trackable.content}'"

                - when ['Comment','received_create']
                  - media_object = group_events.first.trackable.commentable
                  .stream-item  
                    .stream-item-top
                      = link_to media_object do
                        .stream-item-title
                          %h4 Comment
                        .stream-item-subtitle
                          = media_object.title
                        = image_tag filepicker_media_box_image(media_object.image_id)
                    .stream-item-bottom
                      %p= "#{time_ago_in_words(group_events.first.created_at)} ago"
                      .stream-item-media1
                        .stream-item-media1-user
                          = link_to user_profile_path(group_events.first.trackable.user) do
                            = image_tag filepicker_circle_image(group_events.first.trackable.user.image_id)
                        .stream-item-media1-content
                          = link_to group_events.first.trackable.user.name, user_profile_path(group_events.first.trackable.user)
                          = "said, '#{group_events.first.trackable.content}'"

                - when ['Course','enroll']
                  - media_object = group_events.first.trackable
                  .stream-item  
                    .stream-item-top
                      = link_to media_object do
                        .stream-item-title
                          %h4 Course Enrollment
                        .stream-item-subtitle
                          = media_object.title
                        = image_tag filepicker_media_box_image(media_object.featured_image)
                    .stream-item-bottom
                      %p= "#{time_ago_in_words(group_events.first.created_at)} ago"
                      %p= "#{group_events.first.user.name} enrolled into the #{media_object.title} Course"

                - when ['Like','create']
                  - media_object = group_events.first.trackable.likeable
                  .stream-item  
                    .stream-item-top
                      = link_to media_object do
                        .stream-item-title
                          %h4= media_object.class.to_s
                        .stream-item-subtitle
                          = media_object.title
                        = image_tag filepicker_media_box_image(media_object.featured_image)
                    .stream-item-bottom
                      %p= "#{time_ago_in_words(group_events.first.created_at)} ago"
                      %p= "#{group_events.first.user.name} liked this."

                - when ['Like','received_create']
                  - media_object = group_events.first.trackable.likeable
                  .stream-item  
                    .stream-item-top
                      = link_to media_object do
                        .stream-item-title
                          %h4= media_object.class.to_s
                        .stream-item-subtitle
                          = media_object.title
                        = image_tag filepicker_media_box_image(media_object.image_id)
                    .stream-item-bottom
                      %p= "#{time_ago_in_words(group_events.first.created_at)} ago"
                      %p= "#{media_object.likes_count} people liked this."

                - when ['Upload', 'create']
                  - media_object = group_events.first.trackable
                  .stream-item  
                    .stream-item-top
                      = link_to media_object do
                        .stream-item-title
                          %h4= media_object.class.to_s
                        .stream-item-subtitle
                          = media_object.title
                        = image_tag filepicker_media_box_image(media_object.image_id)
                    .stream-item-bottom
                      %p= "#{time_ago_in_words(group_events.first.created_at)} ago"
                      .stream-item-media1
                        .stream-item-media1-user
                          = link_to user_profile_path(group_events.first.user) do
                            = image_tag filepicker_circle_image(group_events.first.user.image_id)
                        .stream-item-media1-content
                          = link_to group_events.first.user.name, user_profile_path(group_events.first.user)
                          = "uploaded this photo."