.container.home-signed-in

  .row
    .span8
      .home-section
        %h2.section
          = link_to 'Classes', courses_path, class: 'orange-link'
        .home-featured-item.section
          - home_featured_path = landing_class_path(@classes[0])
          = link_to home_featured_path do
            = image_tag filepicker_stream_image(@classes[0].featured_image), onclick: 'track_viewed_course_through_signed_in_homepage();'
            .section.pull-right.home-featured-item-btn(onclick= 'track_viewed_course_through_signed_in_homepage();')
              / = where_user_left_off_in_course(@classes[0], current_user, 'btn btn-primary btn-large')
          .section.top-group            
            %p
              = @classes[0].short_description
                
        - @classes.from(1).each.with_index do |course, index|
          - url = landing_class_path(course)
          .home-standard-item
            .home-standard-item-image
              = link_to url do
                = image_tag filepicker_stream_image(course.featured_image)
            .home-standard-item-text
              = link_to url do
                %h3= course.title
              %csrating.rating(value="#{course.average_rating}" readonly="true")
              %p= course.short_description
        %h4
          = link_to 'See More...', courses_path
        %hr
        .home-section
          %h2 Mini-Classes
          - @projects.each do |project|
            - url = project_path(project)
            .home-standard-item
              .home-standard-item-image
                = link_to url do
                  = image_tag filepicker_stream_image(project.featured_image)
              .home-standard-item-text
                = link_to url do
                  %h3= project.title
                %csrating.rating(value="#{project.average_rating}" readonly="true")
                %p= project.short_description

    .span4
      .home-section
        %h2.section
          = link_to "Latest", gallery_index_path, class: 'orange-link'
        .whats-new.section
          - @latest.each.with_index do |item, index|
            = render 'shared/media_box_4', url: activity_path(item), title: item.title, image: item.featured_image, object: item
        .section  
          = link_to 'See More', gallery_index_path, class: 'btn btn-large btn-outline-blue-large'



:javascript
  mixpanel.track('Viewed Signed in Homepage', {'url' : window.location.pathname});
