.container
  .row
    .span10
      .stream-header-section
        %h2 Latest from ChefSteps
        = link_to 'See More', gallery_index_path, class: 'btn btn-large btn-outline-blue-large'
      = render 'shared/horizontal_slider', items: @latest, direction: 'right'

    .span10
      .stream-header-section
        %h2 Activity Stream
        = link_to user_profile_path(current_user), class: 'btn btn-large btn-outline-blue-large' do
          See More
          %i.icon-angle-right

    / .span10.stream-wrapper
    /   .stream
    /     .stream-line
    /     - @stream.each do |group|
    /       - group_type = group[0][0]
    /       - group_name = group[0][1]
    /       - group_events = group[1]
    /       = render "/activity_stream/#{group_type[0].downcase}/#{group_type[1]}", group_events: group_events

    .span8.offset2
      .stream
        - current_user.stream.each do |group|
          - group_type = group[0][0]
          - group_name = group[0][1]
          - group_events = group[1]
          = render "/activity_stream/#{group_type[0].downcase}/#{group_type[1]}", group_events: group_events

    / .span10.stream-wrapper
    /   .stream
    /     .stream-line
    /     - current_user.followings.first.created_stream.each do |group|
    /       - group_type = group[0][0]
    /       - group_name = group[0][1]
    /       - group_events = group[1]
    /       = render "/activity_stream/#{group_type[0].downcase}/#{group_type[1]}", group_events: group_events

    / .span10.stream-wrapper
    /   .stream
    /     .stream-line
    /     - current_user.followings[1].created_stream.each do |group|
    /       - group_type = group[0][0]
    /       - group_name = group[0][1]
    /       - group_events = group[1]
    /       = render "/activity_stream/#{group_type[0].downcase}/#{group_type[1]}", group_events: group_events

    .span2
