.container
  .row
    .span10
      .stream-header-section
        %h2 Latest from ChefSteps
        = link_to 'See More', gallery_index_path, class: 'btn btn-large btn-outline-blue-large'
      = render 'shared/horizontal_slider', items: @latest, direction: 'right'

    .span10
      .stream-header-section
        %h2 Activity Stream
        = link_to user_profile_path(current_user), class: 'btn btn-large btn-outline-blue-large' do
          See More
          %i.icon-angle-right

    .span8.offset2
      / .stream
      /   - @followings_stream.each do |event|
      /     - path_array = event.group_type.downcase.split('_')
      /     - folder = path_array.first
      /     - file = (path_array - [folder]).join('_')
      /     = render "/activity_stream/#{folder}/#{file}", event: event
      /     %hr
      / = paginate @followings_stream
      .stream(ng-controller='StreamsController' ng-init="init()")
        %div(ng-repeat='stream in streams')
          {{stream.group_type}}
          / %div(ng-include src='stream.templateUrl')
          %div(ng-switch="stream.group_type")
            %div(ng-switch-when='Comment_create')
              %h2 Comment Create!!
              %div(ng-include src="'client_views/comment_create.html'")
          / = render "/activity_stream/{{stream.trackable_type}}/{{stream.action}}"

    .span2
