.container.top-container
  .row
    %br
    .span6
      = image_tag('https://www.filepicker.io/api/file/dFzpH7W3TkyA6XtngZFc')
    .span6
      %h2 Cook. Forward.
      %p ChefSteps is a totally new approach to learning the art and science of cooking. Whether you are a professional chef, a culinary student, or a cooking enthusiast, if you are also a curious cook then ChefSteps is for you.

  .row.section
    .span12  
      %h2.text-center Founded by
  .row
    .span4.text-center
      = image_tag('https://www.filepicker.io/api/file/CgGfV60UTwKQpFqBkmX4?cache=true', title: 'Chris Young', class: 'img-circle')
      %h3 Chris Young
    .span4.text-center
      = image_tag('https://www.filepicker.io/api/file/eRfg2GubR3y9F22cFDLM?cache=true', title: 'Grant Lee Crilly', class: 'img-circle')
      %h3 Grant Lee Crilly
    .span4.text-center
      = image_tag('http://d1w42w8pbelamn.cloudfront.net/assets/ryan-84d486f3332c411371d25d143d80db64.jpg', title: 'Ryan Matthew Smith', class: 'img-circle')
      %h3 Ryan Matthew Smith
  %hr
  .row.section
    .span12
    %h2.text-center The Team
    - team = {'ben' => 'development chef', 'nick' => 'development chef', 'michael' => 'CTO', 'huy' => 'web developer', 'hans' => 'director of audio', ' lorraine' => 'social media', 'kristina' => 'multimedia pm', 'ed' => 'director of business operations', 'tim' => 'product design' }.sort.each do |bio_name, position|
      .span3.text-center.section
        = image_tag('http://placehold.it/100x100&text=ChefSteps',  title: 'title', class: 'img-circle')
        %h4= "#{bio_name}"
        %h5= "#{position}"
  %hr
  .row.section
    .span6
      .row
        %h4 Want to Join Us?
        %p We're looking for some folks to help us define the future of online cooking school and recipes. 
        = link_to "Check out our open positions.", "/jobs"
    .span6
      - blog = parse_feed("http://blog.chefsteps.com/feed/")
      %h4 Blog
      %h5= link_to blog.items.first.title.html_safe, "#{blog.items.first.link}"
      %p #{blog.items.first.description.html_safe}

  /.row.section
  /  .span12
  /    %h2.text-center Press
  /  .row
  /    .span3
  /      = image_tag ('http://placehold.it/100x100')
  /    .span3
  /      = image_tag ('http://placehold.it/100x100')
  /    .span3
  /      = image_tag ('http://placehold.it/100x100')
  /    .span3
  /      = image_tag ('http://placehold.it/100x100')

= content_for :footer do
  = render 'layouts/footer'
