- content_for :title, "About The Team"
- content_for :description, "The ChefSteps team is here to help you become a better cook."
- content_for :keywords, 'Recipes, Techniques, Courses, Food Science, Culinary School'

.container.top-container
  .row
    %br
    .span6
      = image_tag('https://www.filepicker.io/api/file/dFzpH7W3TkyA6XtngZFc')
    .span6
      %h2 Cook. Forward.
      %p ChefSteps is a totally new approach to learning the art and science of cooking. Whether you are a professional chef, a culinary student, or a cooking enthusiast, if you are also a curious cook then ChefSteps is for you.

  .row.section
    .span12  
      %h2.text-center Founded by
  .row
    .span10.offset1
      - @founders.each do |f|
        .span3.text-center
          = image_tag filepicker_circle_image(f.image_id), class: 'img-circle clearfix'
          %h4= "#{f.name}"

  %hr
  .row.section
    .span12
    %h2.text-center The Team
    - @team.each do |t|
      .span2.text-center.section
        = image_tag filepicker_circle_image(t.image_id), class: 'img-circle clearfix'
        %h4= "#{t.name}"

  %hr
  .row.section
    .span6
      .row
        %h4 Want to Join Us?
        %p We're looking for some folks to help us define the future of online cooking school and recipes. 
        = link_to "Check out our open positions.", "/jobs"
    .span6
      - blog = parse_feed("http://blog.chefsteps.com/feed/")
      %h4 Blog
      %h5= link_to blog.items.first.title.html_safe, "#{blog.items.first.link}"
      %p #{blog.items.first.description.html_safe}

  /.row.section
  /  .span12
  /    %h2.text-center Press
  /  .row
  /    .span3
  /      = image_tag ('http://placehold.it/100x100')
  /    .span3
  /      = image_tag ('http://placehold.it/100x100')
  /    .span3
  /      = image_tag ('http://placehold.it/100x100')
  /    .span3
  /      = image_tag ('http://placehold.it/100x100')

= content_for :footer do
  = render 'layouts/footer'
