= content_for :title, 'About'

.container.about-quote
  .row
    .span8.offset2
      .lead.section
        %blockquote
          %p
            Whenever we cook we become practical chemists, drawing on the accumulated knowledge of generations, and transforming what the Earth offers us into more concentrated forms of pleasure and nourishment.
          %p.pull-right
            &#8211 Harold McGee

.container.about-mission
  .row
    .span12
      %h1 About ChefSteps
      .row
        .span6
          :markdown
            #{@about_left}
        .span6
          :markdown
            #{@about_right}

= render 'about_tabs'
= render 'about_get_to_work'

= render 'layouts/footer'