= content_for :title, 'About'

.container.about-quote
  .row
    .span12
      .lead.section.text-center.whitespace
        %h1 Every cook, cooking smarter.

.container.about-mission
  .row
    .span6
      %csEmbedYouTube(  video-id="FqS0D9vo_Ck")
    .span6
      :markdown
        #{@about_left}
      :markdown
        #{@about_right}

= render 'about_tabs'
/ = render 'about_get_to_work'
= render 'layouts/footer'