- content_for :title, "Free-to-Learn Culinary School"

- cache ['home', version, user_signed_in?] do
  .container
    .video-unit
      .featured-and-filmstrip
        #featured-video
          .video-container
            %iframe{src: youtube_url(@filmstrip.first.youtube_id) }
        #filmstrip-container
          .filmstrip
            - @filmstrip.each do |video|
              .filmstrip-item{ data: {youtube: video.youtube_id} }
                .filmstrip-thumbnail.crop
                  .filmstrip-img.croppable
                    = image_tag youtube_image(video.youtube_id, 0)
                  .filmstrip-item-title
                    = video.title
      .new-content
        .new-content-header
          %h4 New Content
        - @new_content.each do |activity|
          .filmstrip-item{ data: {youtube: activity.youtube_id} }
            .filmstrip-thumbnail.crop
              .filmstrip-img.croppable
                = image_tag youtube_image(activity.youtube_id, 0)

  .hero-unit.signup-banner
    .container
      .row
        .span6
          %h2 ChefSteps is building the free-to-learn culinary school.
          %h3 Master sous vide cooking in our first course.
        .span.pull-right.preview-course-button
          %a.button{ href: course_path('accelerated-sous-vide-cooking-course') }
            .inner
              Preview Course
              %i.icon-double-chevron-right
  .container
    .row
      - if homepage_blurb
        .intro.span7
          :markdown
            #{ homepage_blurb.copy.to_s}

      .creators.span5
        %h3 From creators of Modernist Cuisine
        %ul.unstyled.creators
          - if bio_chris
            %li.creator
              .row
                .span1
                  = image_tag('chris.jpg', title: 'Chris Young', class: 'img-profile')
                .span3
                  :markdown
                    #{bio_chris.copy.to_s}
              .row
                .span4.horizontal-divider

          - if bio_grant
            %li.creator
              .row
                .span1
                  = image_tag('grant.jpg', title: 'Grant Crilly', class: 'img-profile')
                .span3
                  :markdown
                    #{bio_grant.copy.to_s}
              .row
                .span4.horizontal-divider

          - if bio_ryan
            %li.creator
              .row
                .span1
                  = image_tag('ryan.jpg', title: 'Ryan Matthew Smith', class: 'img-profile')
                .span3
                  :markdown
                    #{bio_ryan.copy.to_s}
              .row
                .span4.horizontal-divider


