- content_for :title, ""
- content_for :description, "Free online cooking school from key members of the Modernist Cuisine team. Our first course will teach you everything you need to know about sous vide cooking."

- if @new_visitor
  = render 'madlib'
- else
  = render 'hero_carousel'

.container
  .row.section
    .span12
      %h2.text-center.text-orange We offer a variety of cooking courses...
  .row.section
    - if @courses.any?
      - @courses.each do |course|
        .span4
          = render 'shared/media_box_2', title: course.title, image: course.first_published_activity.featured_image

  .row.section
    .span6.offset3
      %p.lead 
        %strong And teachers and community to help you succeed.
        %br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium elit nec tortor ultrices rhoncus. Vestibulum malesuada lacus eu nibh fringilla convallis. Maecenas quis dui nisi, id lobortis nulla. Phasellus fringilla sem in dolor ornare tempus. Curabitur nec bibendum urna.
    / .span4
    /   .media-box
    /     - if @courses.any?
    /       = image_tag filepicker_gallery_image(@courses.first.first_published_activity.featured_image)
    /       = @courses.first.title

.container-fluid.well-gradient
  .row-fluid
    %hr
    .container
      .row.section
        .span12
          %h2.text-center.text-orange Or just take in smaller bits...
      .row.section
        .span6
          %p.lead
            %strong Learn a New Recipe.
            %br
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium elit nec tortor ultrices rhoncus. Vestibulum malesuada lacus eu nibh fringilla convallis. Maecenas quis dui nisi, id lobortis nulla. Phasellus fringilla sem in dolor ornare tempus. Curabitur nec bibendum urna.
        .span6
          = render 'shared/horizontal_slider', items: @recipes, direction: 'right'

      .row.section
        .span6
          = render 'shared/horizontal_slider', items: @techniques, direction: 'left'
        .span6
          %p.lead
            %strong Pefect a New Technique
            %br
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium elit nec tortor ultrices rhoncus. Vestibulum malesuada lacus eu nibh fringilla convallis. Maecenas quis dui nisi, id lobortis nulla. Phasellus fringilla sem in dolor ornare tempus. Curabitur nec bibendum urna.

      .row.section
        .span6
          %p.lead
            %strong Absorb the Science.
            %br
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium elit nec tortor ultrices rhoncus. Vestibulum malesuada lacus eu nibh fringilla convallis. Maecenas quis dui nisi, id lobortis nulla. Phasellus fringilla sem in dolor ornare tempus. Curabitur nec bibendum urna.
        .span6
          = render 'shared/horizontal_slider', items: @sciences, direction: 'right'

.container
  .row.section
    %span12
      %h2.text-center.text-orange Did we mention its free?
  .row.section
    .span6
      %p.lead
        %strong Some lead title.
        %br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium elit nec tortor ultrices rhoncus. Vestibulum malesuada lacus eu nibh fringilla convallis. Maecenas quis dui nisi, id lobortis nulla. Phasellus fringilla sem in dolor ornare tempus. Curabitur nec bibendum urna.
    .span6
      %p.lead
        We'll keep you up to date with the latest from ChefSteps.  We don't like spam, and we don't do shady stuff with your info.
      = form_tag sign_up_url, :method => :get, class: 'form-inline' do
        %p= email_field_tag 'email', nil, {class: 'input-signup-email', placeholder: 'Email Address', required: true}
        %p= submit_tag 'Subscribe Now', class: 'btn btn-primary btn-large', id: 'subscribe-email'

= content_for :footer do
  = render 'layouts/footer'
