- content_for :title, ""
- content_for :description, "Free online cooking school from key members of the Modernist Cuisine team. Our first course will teach you everything you need to know about sous vide cooking."

/= content_for :hero do  
.container#hero-container
  .row
    .span12
      - cache @heroes do
        .swipe#hero-swiper
          .swipe-wrap
            - @heroes.each_with_index do |hero, index|
              %div{class: "item #{'active' if index == 0}", id: "#{'hero-first' if index == 0}"}
                = render 'shared/media_hero', main_title: hero.activity_type? ? hero.activity_type : 'Recipe', media_object: hero
        .swipe-indicators#hero-indicators
          - @heroes.each_with_index do |hero, index|
            .swipe-indicator-btn.hero-indicator-btn{class: "#{'indicator-active' if index == 0}", id: "hero-swipe-indicator-#{index}", data: {target: '#swiper', :'slide-to-index' => index}}

/ .row
/   .span12
/     .swipe#swiper
/       .swipe-wrap
/         - @recipes.each_slice(3).with_index do |slice,index|
/           %div
/             - slice.each do |recipe|
/               .item.item-medium
/                 = link_to activity_path(recipe) do
/                   = render 'shared/media_centered', media: recipe
/       .swipe-indicators#content-indicators
/         - @recipes.each_slice(3).with_index do |slice,index|
/           .swipe-indicator-btn.content-indicator-btn{class: "#{'indicator-active' if index == 0}", id: "swipe-indicator-#{index}", data: {target: '#swiper', :'slide-to-index' => index}}

.row
  .span12
    .row
      .span4
        %h4.text-center 
          = link_to 'Recipes', recipe_gallery_index_path, class: 'black-link'
        - cache @recipes do
          .swipe#recipe-swiper.only-touch
            .swipe-wrap
              - @recipes.each do |recipe|
                %div
                  = link_to activity_path(recipe) do
                    = render 'shared/media_centered', media: recipe, size: 'medium'
          .vertical-slider-2.only-non-touch
            - @recipes.each do |recipe|
              %div
                = link_to activity_path(recipe) do
                  = render 'shared/media_centered', media: recipe, size: 'medium'
      .span4
        %h4.text-center
          = link_to 'Techniques', techniques_path, class: 'black-link'
        - cache @techniques do
          .swipe#technique-swiper.only-touch
            .swipe-wrap
              - @techniques.each do |technique|
                %div
                  = link_to activity_path(technique) do
                    = render 'shared/media_centered', media: technique, size: 'medium'
          .vertical-slider-2.only-non-touch
            - @techniques.each do |technique|
              %div
                = link_to activity_path(technique) do
                  = render 'shared/media_centered', media: technique, size: 'medium'
      .span4
        %h4.text-center
          = link_to 'Knowledge', sciences_path, class: 'black-link'
        - cache @sciences do
          .swipe#knowledge-swiper.only-touch
            .swipe-wrap
              - @sciences.each do |science|
                %div
                  = link_to activity_path(science) do
                    = render 'shared/media_centered', media: science, size: 'medium'
          .vertical-slider-2.only-non-touch
            - @sciences.each do |science|
              %div
                = link_to activity_path(science) do
                  = render 'shared/media_centered', media: science, size: 'medium'

.row.section
  .span12
    .row
      .span8#discussion
        / %h3 Latest From Our Forums:
        / %h4= @discussion[:name]
        / %blockquote.word-wrap
        /   %p= truncate(strip_tags(@discussion[:body]), length: 300, separator: ' ')
        /   %small
        /     %cite
        /       = @discussion[:first_name]
        / - discussion_link = @discussion[:url].gsub('https://chefsteps.vanillaforums.com','http://forum.chefsteps.com')
        / = link_to 'Join the Discussion', discussion_link, class: 'btn btn-primary'
        %h3 Latest From Our Forums:
        %h4.discussion-name
        %blockquote.word-wrap
          %p.discussion-body
          %small
            %cite
              .discussion-author
        = link_to 'Join the Discussion', '#', class: 'btn btn-primary discussion-link'

        %hr

        - if @status
          - cache @status, expires: 10.minutes do
            #twitter-status
              %h3 Latest Tweet:
              = @status.html_safe
              = link_to 'Follow us on Twitter', 'https://twitter.com/@chefsteps', class: 'btn btn-primary'
      .span4.signup-box
        .well
          %h3 Join The Community!
          = form_tag sign_up_url, :method => :get do
            %p= email_field_tag 'email', nil, {class: 'input-signup-email', placeholder: 'Enter email', required: true}
            %p= submit_tag 'Sign Up Now', class: 'btn btn-primary btn-large btn-block', id: 'subscribe-email'

= content_for :footer do
  = render 'layouts/footer'