- content_for :title, ""
- content_for :description, "Free online cooking school from key members of the Modernist Cuisine team. Our first course will teach you everything you need to know about sous vide cooking."

= content_for :hero do
  .container-fluid#hero-container
    .row-fluid
      .carousel.slide#hero-carousel
        .carousel-inner
          - @heroes.each_with_index do |hero, index|
            %div{class: "item #{'active' if index == 0}", id: "#{'hero-first' if index == 0}"}
              = render 'shared/media_hero', main_title: hero.activity_type? ? hero.activity_type : 'Recipe', media_image: hero.step_images.last, media_object: hero
        = link_to '#hero-carousel', class: 'hero-carousel-control right', data: {slide: 'next'} do
          / %i.icon-chevron-right
          .btn-next
  .container#hero-video
    .row
      .span10.offset1
        .video-container
          #hero-player
      .span1
        = link_to '#', id: 'player-close' do
          %i.icon-remove.icon-large

.row
  .span12
    .carousel.slide#recipe-carousel
      .carousel-inner
        - @recipes.each_slice(3).with_index do |slice, index|
          %div{class: "item #{'active' if index == 0}"}
            .row
              .span12
                .row
                  - slice.each do |recipe|
                    .span4
                      = link_to activity_path(recipe) do
                        = render 'shared/media_centered', media: recipe, media_image: recipe.step_images.last, main: 'Recipe'
      = link_to '&lsaquo;'.html_safe, '#recipe-carousel', class: 'carousel-control left', data: {slide: 'prev'}
      = link_to '&rsaquo;'.html_safe, '#recipe-carousel', class: 'carousel-control right', data: {slide: 'next'}

.row
  .span12
    .row
      .span6
        .row
          .span6
            %h3 Latest From Our Forums:
            %h4= @discussion[:name]
            %blockquote
              %p= truncate(@discussion[:body].html_safe, length: 300, separator: ' ')
              %small
                %cite
                  = @discussion[:first_name]
            - discussion_link = @discussion[:url].gsub('https://chefsteps.vanillaforums.com','http://forum.chefsteps.com')
            = link_to 'Join the Discussion', discussion_link, class: 'btn btn-primary'

            %hr

            - if @status
              #twitter-status
                %h3 Latest Tweet:
                = @status.html_safe
                = link_to 'Follow us on Twitter', 'https://twitter.com/@chefsteps', class: 'btn btn-primary'
      .span6
        .hero-unit
          %h2 Sign up for a FREE account
          %hr
          / %ul
          /   %li Keep track of your favorite recipes
          /   %li Save notes on what you've cooked
          /   %li FREE Bonus Content: Sous Vide Time and Temperature data sheets
          = link_to sign_up_path, class: 'btn btn-primary btn-large' do
            Sign Up Now

= # TODO Implement Culinary Challenge and Testimonials
/ .row
/   .span12
/     .row
/       .span6
/         .well
/           %h2 Culinary Challenge:
/           %h4 Something Your Grandmother Would Have Cooked
/       .span6
/         - 2.times do
/           %blockquote.pull-right
/             %p
/               "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius consectetur arcu, nec adipiscing turpis porta id. Nulla pellentesque, mauris quis commodo fringilla, quam lorem vehicula lorem, feugiat rhoncus tellus felis non nunc."
/             %small
/               User Testimonial