#terms
  %h3 CHEFSTEPS' VILK&#xC5;R FOR ANVENDELSE OG SALG
  %p Senest opdateret: 9/11/2017
  %p
    DU BEDES L&#xC6;SE DISSE VILK&#xC5;R FOR ANVENDELSE OG SALG OMHYGGELIGT, HERUNDER DEN UFRAVIGELIGE BESTEMMELSE OM VOLDGIFT I AFSNIT 18 FOR BEBOERE I USA. HVIS DU BOR UDEN FOR USA, KAN DER G&#xC6;LDE YDERLIGERE VILK&#xC5;R OG BETINGELSER FOR DIG, SOM ENTEN SUPPLERER ELLER
    ERSTATTER VISSE BESTEMMELSER I DISSE VILK&#xC5;R FOR ANVENDELSE OG SALG. DU BEDES GENNEMG&#xC5; SLUTNINGEN AF DETTE DOKUMENT FOR AT AFG&#xD8;RE, OM DER G&#xC6;LDER YDERLIGERE VILK&#xC5;R OG BETINGELSER FOR DIG.
  %p
    VED AT KLIKKE FOR AT TILKENDEGIVE DIN ACCEPT AF DISSE VILK&#xC5;R FOR ANVENDELSE OG SALG ELLER I &#xD8;VRIGT F&#xC5; ADGANG TIL ELLER BRUGE VORES PRODUKTER OG TJENESTER (DEFINERET NEDENFOR), ACCEPTERER DU AT V&#xC6;RE BUNDET AF DISSE VILK&#xC5;R FOR ANVENDELSE OG SALG OG ALLE
    VILK&#xC5;R, DER ER HENVIST TIL HERI. HVIS DU IKKE ACCEPTERER ALLE DISSE VILK&#xC5;R, M&#xC5; DU IKKE TILG&#xC5;, K&#xD8;BE ELLER BRUGE VORES PRODUKTER ELLER TJENESTER.
  %p
    Disse Vilk&#xE5;r for Anvendelse og Salg ("
    %strong> Vilk&#xE5;r
    ") g&#xE6;lder for din adgang til og brug af Produkterne og Tjenesterne tilh&#xF8;rende ChefSteps, Inc. ("
    %strong> ChefSteps
    ", "
    %strong> vi
    ", "
    %strong> os
    ", eller "
    %strong> vores
    "),
    et selskab, der er stiftet i Staten Washington, USA, og beliggende 1501 Pike Place, #300, Seattle, Washington, 98101, USA, med skatteidentifikationsnummer
    464326180
    \. Begrebet "
    %strong> Produkter
    " betyder den hardware og de fysiske enheder,
    der s&#xE6;lges af ChefSteps, herunder Joule Circulator og Joule Big Clamp. Begrebet "
    %strong> Tjenester
    " henviser til vores websider, mobilapplikationer og andre onlineprodukter og tjenester.
  %p
    Disse Vilk&#xE5;r &#xE6;ndrer p&#xE5; ingen m&#xE5;de vilk&#xE5;r og betingelser i andre aftaler, du m&#xE5;tte have med os, hvad ang&#xE5;r Produkter, Tjenester eller i &#xF8;vrigt. Hvis du bruger Produkterne eller Tjenesterne p&#xE5; vegne af en juridisk enhed, erkl&#xE6;rer og garanterer du, at du
    er bemyndiget til at acceptere disse Vilk&#xE5;r p&#xE5; vegne af denne juridiske enhed, og at denne juridiske enhed accepterer at v&#xE6;re ansvarlig over for os, hvis du eller den juridiske enhed overtr&#xE6;der disse Vilk&#xE5;r.
  %p
    ChefSteps forbeholder sig til enhver tid retten til at &#xE6;ndre disse Vilk&#xE5;r efter eget sk&#xF8;n. Hvis vi &#xE6;ndrer disse Vilk&#xE5;r, giver vi varsel om disse &#xE6;ndringer, s&#xE5;som ved at sende en e-mailbesked, give meddelelse via Tjenesterne eller opdatering af datoen
    \&#x201D;
    %strong> Senest opdateret
    \&#x201D; i starten af Vilk&#xE5;rene. Din fortsatte brug af Tjenesterne bekr&#xE6;fter din accept af de reviderede Vilk&#xE5;r. Vi opfordrer dig til ofte at gennemg&#xE5; Vilk&#xE5;rene for at sikre, at du forst&#xE5;r de vilk&#xE5;r og betingelser, der g&#xE6;lder,
    n&#xE5;r du f&#xE5;r adgang til eller bruger Tjenesterne. Hvis du ikke accepterer de reviderede Vilk&#xE5;r, m&#xE5; du ikke tilg&#xE5; eller bruge Tjenesterne. Eventuelle &#xE6;ndringer, vi foretager, p&#xE5;virker ikke dine rettigheder hvad ang&#xE5;r Produkter, du allerede har k&#xF8;bt, eller
    bestillinger du allerede har afgivet.
  %h3 1.	Datapolitik
  %p
    Der henvises til vores
    %a{:href => "https://www.chefsteps.com/privacy"} Datapolitik
    for oplysninger om, hvordan vi indsamler, bruger og videregiver oplysninger om dig.
  %h3 2.	Yderligere vilkår
  %p
    Når du bruger vores Produkter og Tjenester, er din brug underlagt de gældende vilkår og betingelser for disse Produkter og Tjenester. Når du f.eks. henter, installerer eller i øvrigt bruger vores mobilapplikationer, er din brug underlagt vores
    %a{:href => "https://www.chefsteps.com/eula"}Slutbrugerlicensaftale
    \. Hvis du køber Produkter, accepterer du vores
    %a{:href => "https://www.chefsteps.com/joule/warranty"}Begrænsede Garanti
    \.
  %h3 3.	Berettigelse, registrering og konto, krævet udstyr, internetudbyder og netoperatør
  %p
    Berettigelse. Tjenesterne er ikke rettet mod eller beregnet til brug af nogen personer under 13 år. Hvis du er mellem 13 og 18 år (eller mellem 13 og den juridiske myndighedsalder i henhold til gældende lov), må du kun bruge Tjenesterne under opsyn af
    en forælder eller juridisk værge, der accepterer at være bundet af disse Vilkår. Ved at bruge Tjenesterne erklærer og garanterer du, at du (a) ikke tidligere har været suspenderet eller fjernet fra Tjenesterne, eller været med i en aktivitet, der kunne
    medføre suspension eller fjernelse fra Tjenesterne, og (b) du har fuldstændig beføjelse og bemyndigelse til at acceptere disse Vilkår, og når du gør dette, ikke vil overtræde nogen anden aftale, som du er part i.
  %p
    Registrering og konto. For at få adgang til og bruge bestemte områder eller funktioner i Tjenesterne, skal du registrere dig til en ChefSteps-konto og/eller oprette en profil. Når du registrerer dig til en konto, kan du ikke oprette et kontonavn, der
    omfatter et varemærke uden godkendelse fra indehaveren af varemærket. Vi forbeholder os retten til at kræve kontonavne tilbage på vegne af en virksomhed eller enkeltperson, der har et juridisk krav, herunder varemærkerettigheder, til disse navne. Når
    du opretter en konto, accepterer du (a) at give nøjagtige, aktuelle og fuldstændige kontooplysninger, (b) til en hver tid at opretholde og straks opdatere dine kontooplysninger, som nødvendigt, (c) at opretholde sikkerheden i dine kontooplysninger,
    (d) at være ansvarlig for handlinger eller udeladelser fra en tredjepart, som du bemyndiger til at få adgang til eller bruge din konto og Tjenesterne, og (e) straks meddele os, hvis du opdager eller i øvrigt har mistanke om sikkerhedsbrud i relation
    til Tjenesterne eller din konto.
  %p
    Krævet udstyr, internetudbyder og netoperatør. Du accepterer, at tilgængeligheden af visse Tjenester afhænger af (a) din computer, mobiltelefon eller tablet, ledningsnettet hjemme hos dig, wi-fi-netværket i dit hjem, Bluetooth-forbindelse og andet relateret
    udstyr ("
    %strong> Udstyr
    "), (b) din internetudbyder ("
    %strong> ISP
    ") og (c) din mobiltelefon-operatør eller tablet-operatør ("
    %strong> Operatør
    "). Du accepterer, at du er ansvarlig for alle gebyrer, der opkræves af din Internetudbyder
    og Operatør i forbindelse med din brug af Tjenesterne, og at du er ansvarlig for at overholde alle aftaler og andre politikker, som din Internetudbyder og Operatør har. Du accepterer og anerkender endvidere, at dine interaktioner med din Internetudbyder
    og Operatør alene er mellem dig og disse tredjeparter, og at ChefSteps ikke på nogen måde er ansvarlig for disse interaktioner.
  %h3 4.	Salgsvilkår
  %h4 4.1.	Betaling og faktureringsoplysninger
  %p
    Ved at stille et kreditkort eller anden betalingsmetode, vi accepterer, til rådighed, erklærer og garanterer du, at du er bemyndiget til at anvende den valgte betalingsmetode, og at du giver os tilladelse (eller vores tredjeparts behandler af betalinger)
    til at debitere betalingsmetoden med det fulde beløb for din bestilling (herunder gældende Skatter og andre gebyrer). Hvis betalingsmetoden ikke kan verificeres, er ugyldig eller i øvrigt ikke acceptabel, kan din bestilling suspenderes eller annulleres.
    Du skal løse alle problemer, vi måtte komme ud for i forbindelse med den betalingsmetode, du vælger, for at kunne gå videre med din bestilling.
  %p
    Vores præsentation af Produkter og Tjenester skal ikke anses for at være et bindende tilbud, men snarere en opfordring til at afgive en bestilling. Når du afslutter købsprocessen online, har vi en bindende købekontrakt. Du kan til enhver tid opdatere
    din indkøbskurv, før du afslutter købsprocessen online. Vi går ikke videre med leveringsprocessen, før vi har modtaget betaling fra dig.
  %h4 4.2.	Priser og tilgængelighed
  %p
    Alle priser er vist i USD, medmindre loven kræver, at vi viser priser i den lokale valuta. Priserne indeholder ikke gældende Skatter (defineret nedenfor) forsendelse og håndteringsgebyrer eller andre afgifter, medmindre vi klart anfører noget andet, eller
    hvis loven kræver, at vi viser priser inklusive eventuelle Skatter, gebyrer og andre afgifter.
  %p
    Alle Produkter og Tjenester tilbydes til salg under forudsætning af, at de er til rådighed, og vi forbeholder os retten til at pålægge mængdebegrænsninger på en bestilling, afvise hele eller en del af en bestilling, og ophøre med salget af Produkter og
    Tjenester uden forudgående varsel. Priser for Produkter og Tjenester kan til enhver tid ændres, men disse ændringer påvirker ikke en bestilling på Produkter og Tjenester, som du allerede har afgivet.
  %h4 4.3.	Skatter
  %p
    I det af gældende lov videst muligt tilladte omfang er du ansvarlig for salgs/købs- og brugs moms eller andre statslige skatter, afgifter eller told (samlet "
    %strong> Skatter
    "), som skal betales, i forbindelse med dit køb og brug af Produkter
    eller Tjenester. Bestillinger afgivet uden for USA kan pålægges Skatter som afgjort af toldvæsenet i destinationslandet. Beskatningsgrundlaget bygger normalt på værdien af bestillingen, og den skattefri tærskel (hvis dette er relevant) for varer importeret
    til destinationslandet. Vi opkræver gældende Skatter, hvis vi afgør, at vi har pligt til at opkræve Skatter. Bemærk venligst, at vi ikke opkræver Skatter på varer sendt til jurisdiktioner, hvor vi ikke har væsentlig forbindelse. For vores brugere i
    USA kan de faktisk pålagte og opkrævede Skatter afvige fra det beløb, der vises ved betaling. Mange faktorer kan være årsag til denne forskel, såsom forskelle mellem behandlerprogrammer og ændringer i Skattesatser.
  %h4 4.4.	Forsendelse, risiko for tab
  %p
    Du accepterer at betale forsendelses- og administrationsgebyrer, der vises på det tidspunkt, hvor du foretager et køb. Vi forbeholder os retten til enhver tid at øge, sænke, tilføje eller fjerne forsendelses- og administrationsgebyrer, men vi giver varsel
    om de gebyrer, der gælder for dig, før du foretager dit køb. Leveringsdatoer og tider vist som led i betalingsprocessen er kun skøn og garanteres ikke. Medmindre vi anfører andet, overgår risikoen for tab eller skade på et Produkt til dig ved levering
    af Produktet til dit angivne leveringssted. Hvis du har spørgsmål eller bekymringer angående forsendelse, bedes du kontakte os på
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com.
  %h4 4.5.	Returnering og tilbagebetaling
  %p
    ChefSteps' Premium Medlemskab. ChefSteps' Premium Medlemskab giver dig ubegrænset adgang til ChefSteps' undervisning og andre fordele, der er forbeholdt medlemmer (for yderligere oplysninger se
    = succeed ")." do
      %a{:href => "https://www.chefsteps.com/premium"} https://www.chefsteps.com/premium
  %p
    Produkter købt direkte fra ChefSteps. Hvis du er bosiddende i USA, accepterer vi returneringer og yder tilbagebetaling for Produkter, der ikke er fødevarer, som du køber direkte fra os, hvis disse Produkter returneres inden for 30 dage efter levering
    i uåbnet og ubrugt stand. Før du returnerer et Produkt, skal du indhente godkendelse til at returnere fra ChefSteps ved at kontakte os på
    %a{:href => "mailto:support@chefsteps.com"} support@chefsteps.com
    og give følgende oplysninger: (a) Produktets serienummer,
    (b) årsagen til returnering, og (c) det originale indkøbsordrenummer. Vi kan opkræve et gebyr på 20 % for igen at føre returneringer på lager, som ikke er foretaget i overensstemmelse med disse vilkår. Hvis du er bosiddende uden for USA, se venligst
    nedenfor angående vilkår for returnering og tilbagebetaling for Produkter fra ChefSteps, der gælder for dig på baggrund af dit bopælsland.
  %p
    Tredjepartsprodukter købt fra tredjepartssælgere. Vi kan give mulighed for at købe produkter fra tredjepartssælgere via Tjenesterne, i hvilket tilfælde vi kun agerer som formidler. Hvis du køber et produkt fra en tredjepartssælger, er dit køb reguleret
    af tredjepartens vilkår og politikker. Vi er ikke sælgere af disse produkter og ikke part i salget af disse produkter. Derfor afgiver vi ingen erklæringer eller garantier hvad angår produktet, og vi accepterer heller ikke returnering eller foretager
    tilbagebetalinger for disse produkter.
  %h4 4.6.	Fejl
  %p
    Vi søger at være så nøjagtige som muligt og at fjerne fejl i vores Tjenester. Dog erklærer og garanterer vi ikke, at beskrivelserne, priserne eller andre Produkt- eller Tjenesterelaterede oplysninger er nøjagtige, fuldstændige, pålidelige, aktuelle eller
    fejlfri. I tilfælde af en fejl forbeholder vi os retten til at korrigere fejl og ændre din ordre i overensstemmelse hermed (hvilket omfatter at opkræve den rigtige pris) eller at annullere bestillingen og tilbagebetale et eventuelt opkrævet beløb.
  %h3 5.	Licenser til at bruge Tjenesterne og Materialerne
  %p
    Medmindre andet er anført, er alt indhold og andre materialer indeholdt i Tjenesterne, herunder, men ikke begrænset til, vores logoer og alle designs, tekster, opskrifter, lister over ingredienser, tilberedningstider, videoer, grafik, billeder, oplysninger,
    data, software, lydfiler, andre filer og udvalget og ordningen deraf (samlet "
    %strong> Materialer
    ") ChefSteps' eller vores licensgiveres beskyttede ejendom og er beskyttet af nationale og internationale ophavsrets- og varemærkelove og anden
    immaterialret.
  %p
    ChefSteps giver dig en begrænset, royaltyfri, ikke-eksklusiv, uoverdragelig, verdensomspændende licens, der ikke kan gives i underlicens, til at tilgå og bruge de Materialer, der er stillet til rådighed via Tjenesterne til dine egne, ikke-erhvervsmæssige
    formål. Undtagen, hvor loven udtrykkeligt tillader det eller hvor ChefSteps tillader det skriftligt, må du ikke reproducere, viderefordele, sælge, skabe afledte arbejder eller efterfølgende versioner, dekompilere, foretage reverse engineering eller
    afmontere vores Tjenester (undtagen i tilfælde hvor du har ret til at gøre dette i henhold til gældende lov), og du må heller ikke tage skridt til at forstyrre eller skade vores Tjenester.
  %p
    ChefSteps opfordrer til brug og distribution af visse Materialer på Tjenesterne, herunder vores opskrifter, lister over ingredienser, videoer, billeder og Brugerindhold (som defineret i Afsnit 11). Medmindre andet er angivet, stilles disse Materialer
    til din rådighed i henhold til den nyeste version af
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"} Creative Commons Attribution- NonCommercial-ShareAlike license
    (BY-NC-SA). Bemærk, at navne på vores tjenester, varemærker,
    logoer og slogans, der måtte forekomme på Tjenesterne, ikke er givet i licens til dig i henhold til Creative Commons-licensen.
  %p
    Medmindre udtrykkeligt angivet af os, skal intet i disse Vilkår fortolkes som at give nogen ret eller licens til et patent, varemærke, ophavsret eller andre beskyttede rettigheder tilhørende ChefSteps eller en tredjemand, uanset om det sker ved præklusion,
    UNDERFORSTÅET eller på anden måde. De heri givne licenser kan til enhver tid tilbagekaldes.
  %h3 6.	Politik for gentagne tilfælde af krænkelser, klager over ophavsret
  %p
    I overensstemmelse med amerikansk ophavsret (herunder navnlig ”the Digital Millinium Copyright Act”) og andre gældende love har vi vedtaget en politik om at begrænse adgang til Tjenesterne ved at opsige konti tilhørende brugere, der – efter omstændigheder
    og vores skøn - krænker andres immaterielle rettigheder. Hvis du mener, at noget i Tjenesterne krænker en ophavsret, som du ejer eller kontrollerer, kan du indgive meddelelse om denne krænkelse til vores udpegede agent som anført nedenfor:
  %p
    Navn på udpeget agent: Edward Starbird 
    %br>/
    Adresse: 1501 Pike Place, #300, Seattle, WA 98101 
    %br>/
    Telefon: (206) 905-1099 
    %br>/
    E-mail:
    %a{:href => "mailto:dmca@chefsteps.com"} dmca@chefsteps.com
  %p
    Hvis du er borger i USA, se venligst
    = succeed "ang\u{e5}ende" do
      %a{:href => "http://www.copyright.gov/title17/92chap5.html#512", :target => "_blank"} 17 U.S.C. § 512(c)(3) 
  %p
    Du bør også bemærke, at hvis du bevidst fremsætter væsentlige, urigtige eller misvisende oplysninger i din meddelelse om, at materialet eller aktiviteten er krænkende, er du ansvarlig for eventuelle skadeserstatninger, herunder, men ikke begrænset til,
    omkostninger og advokathonorarer, som vi eller den påstående krænker har afholdt som følge af, at vi har stolet på disse urigtige eller misvisende oplysninger ved at fjerne eller afbryde adgangen til materialet eller aktiviteten, der påstås at være
    krænkende.
  %h3 7.	Varemærker
  %p
    "
    %strong> ChefSteps
    ", ChefSteps' logo og andre ChefSteps navne på tjenester, logoer eller sloganer, der kan forekomme på Tjenesterne kan være registreret som varemærker tilhørende ChefSteps og vores leverandører og vores licensgivere og må ikke
    kopieres, efterlignes eller anvendes, hverken helt eller delvist, uden forudgående skriftlig tilladelse fra os eller den pågældende indehaver af varemærket. Du må ikke bruge metatags eller anden "
    %strong> skjult tekst
    ", der anvender "
    %strong> ChefSteps
    "
    eller andet navn, varemærke eller navn på et produkt eller tjeneste tilhørende ChefSteps uden vores forudgående, skriftlige tilladelse. Desuden udgør udseende og udtrykket af Tjenesterne, herunder, men ikke begrænset til, alle sideoverskrifter, tilpasset
    grafik, knapikoner og scripts, servicemærket, varemærket eller handelskarakteristika tilhørende ChefSteps og må ikke kopieres, efterlignes eller anvendes, hverken helt eller delvist, uden vores forudgående skriftlige tilladelse. Alle andre varemærker,
    registrerede varemærker, produktnavne og selskabsnavne eller logoer nævnt på Tjenesterne tilhører deres respektive ejere og må ikke kopieres, efterlignes eller anvendes, hverken helt eller delvist, uden tilladelse fra den pågældende indehaver af varemærket.
    Henvisning til produkter, tjenester, processer eller andre oplysninger ved navn, varemærke, producent, leverandør eller i øvrigt udgør eller indebærer ikke ChefSteps' godkendelse, sponsorat eller anbefaling.
  %p
    Hvis du mener, at noget i Tjenesterne krænker et varemærke, som du ejer eller kontrollerer, kan du indgive meddelelse om denne krænkelse til vores udpegede agent som anført i Afsnit 6.: En korrekt meddelelse skal indeholde samme elementer, som kræves
    til klager vedrørende ophavsret.
  %h3 8.	Hyperlinks
  %p
    Du tildeles en begrænset, ikke-eksklusiv, uoverdragelig ret til at oprette et tekst-hyperlink til Tjenesterne, under forudsætning af at dette link ikke portrætterer ChefSteps eller nogen af vores Tjenester på en urigtig, misvisende, nedgørende eller i
    øvrigt ærekrænkende måde, og desuden under forudsætning af, at siden, der linkes til, ikke indeholder materiale beregnet til voksne eller som er ulovligt, eller materiale der er stødende, chikanerende, eller på anden måde uønsket. Denne begrænsede ret
    kan til enhver tid tilbagekaldes. Du må ikke anvende ChefSteps' logo eller anden af ChefSteps' beskyttede grafik til at linke til Tjenesterne uden vores udtrykkelige, skriftlige tilladelse. Derudover må du ikke bruge, foretage framing eller anvende
    framing-teknikker til at vedlægge ChefSteps' varemærke, logo eller andre beskyttede oplysninger, herunder billeder fundet på Tjenesterne, indholdet i en tekst, layout eller design på en side, eller form indeholdt på en side, på Tjenesterne uden vores
    udtrykkelige, skriftlige tilladelse.
  %p
    I det af gældende lov videst muligt tilladte omfang fremsætter ChefSteps ikke nogen påstand eller erklæring angående, og accepterer intet ansvar for kvalitet, indhold, art eller pålidelighed hos tredjeparters websider, som tilgås via hyperlink fra Tjenesterne
    eller på websider, der linker til Tjenesterne. Vi kontrollerer ikke disse sider, og vi har ikke ansvar for indhold på en linket side, et link indeholdt på en linket side, eller en anmeldelse, opdatering eller ændring på disse sider. Vi leverer kun disse
    links til dig som en service, og medtagelsen af et link betyder ikke, at vi har et tilhørsforhold til, godkender eller har vedtaget en side eller oplysninger indeholdt der. Når du forlader Tjenesterne, bør du være klar over, at vores vilkår og politikker
    ikke længere gælder. Du bør gennemgå de pågældende vilkår og politikker, herunder praksis vedrørende privatlivets fred og indsamling, på en side, som du navigerer til fra Tjenesterne.
  %h3 9.	Tredjepartsindhold, open source software, interface til tredjepartsprodukter og -tjenester
  %p
    Tredjepartsindhold. Vi kan vise indhold, annoncer og reklamer fra tredjeparter gennem Tjenesterne (samlet "
    %strong> Tredjepartsindhold
    "). I det af gældende lov videst muligt tilladte omfang kontrollerer, godkender eller vedtager vi ikke Tredjepartsindhold,
    og vi fremsætter ingen oplysninger og garantier af nogen art angående dette Tredjepartsindhold, herunder, men ikke begrænset til, angående nøjagtigheden eller fuldstændigheden deraf. Du accepterer og anerkender, at dine interaktioner med tredjeparter,
    der leverer Tredjepartsindhold alene er mellem dig og disse tredjeparter, og at ChefSteps ikke på nogen måde er ansvarlig for disse interaktioner eller Tredjepartsindhold.
  %p
    Open source-software. Vores Tjenester kan også indeholde tredjepartssoftware, der er underlagt GNU General Public License ("
    %strong> GLP
    ") eller andre open source-licenser ("
    %strong> Open source software
    "). Open source-software er givet
    i licens i henhold til de licensvilkår, der ledsager Open Source Software, under forudsætning af yderligere vilkår og betingelser, der findes på
    = succeed "." do
      %a{:href => "https://www.chefsteps.com/libraries"} https://www.chefsteps.com/libraries
  %p
    Forbindelse til Tredjepartsprodukter og -Tjenester. ChefSteps kan tillade, at du bruger vores Produkter og Tjenester (såsom Joule) i sammenhæng med tredjepartsprodukter og -tjenester, såsom Amazon Alexa ("
    %strong> Tredjepartsprodukter og -Tjenester
    ").
    Hvis du beslutter dig for at forbinde vores Produkter eller Tjenester med Tredjepartsprodukter og -Tjenester, kræves dit udtrykkelige samtykke, som du til enhver tid kan tilbagekalde. Når du giver samtykke til at forbinde et bestemt Tredjepartsprodukt
    og -Tjeneste til vores Produkter eller Tjenester, accepterer du, at ChefSteps og leverandøren af Tredjepartsproduktet og -Servicen kan udveksle oplysninger for at muliggøre den funktionalitet, du godkender. Når ChefSteps deler oplysninger med en leverandør
    af et Tredjepartsprodukt og -Tjeneste, reguleres tredjepartsleverandørens brug af disse oplysninger kun af dennes egen datapolitik. Du anerkender og accepterer, at ChefSteps ikke fremsætter erklæringer og garantier om Tredjepartsprodukter eller -Tjenesters
    sikkerhed, og ChefSteps er ikke ansvarlig for din brug af et Tredjepartsprodukt eller -Tjeneste eller skade eller tab som følge af eller i forbindelse med din brug af Tredjepartsprodukter eller -Tjenester. Du bør kontakte tredjepartsleverandører direkte
    med spørgsmål om deres Tredjepartsprodukter og -Tjenester.
  %h3 10.	Brugeradfærd
  %p
    Du accepterer, at du ikke vil overtræde nogen lov, kontrakt, immateriel rettighed eller anden tredjepartsret eller begå en skadegørende handling, og at du alene er ansvarlig for din adfærd, når du får adgang til eller bruger Produkterne og Tjenesterne.
    Du accepterer, at du vil overholde disse Vilkår og ikke vil:
  %p Indlade dig på chikanøs, truende, skræmmende, destruktiv eller forfølgende adfærd,
  %p Bruge eller forsøge at bruge en anden brugers konto uden bemyndigelse fra denne bruger og ChefSteps,
  %p
    Bruge Produkterne og Tjenesterne på en måde, der kan forstyrre, afbryde, negativt påvirke eller forhindre andre brugere i fuld udnyttelse af Produkterne eller Tjenesterne, eller som på nogen måde kan skade, deaktivere, overbelaste eller forringe Produkternes
    og Tjenesternes funktion,
  %p Omdanne et aspekt i Produkterne eller Tjenesterne, herunder fejlretning, uden bemyndigelse fra ChefSteps,
  %p
    Foretage reverse engineering af noget aspekt i Produkterne eller Tjenesterne eller gøre noget, der måske kan afsløre kildekoden eller omgå eller anvende foranstaltninger til at hindre eller begrænse adgang til Materialer, funktioner eller områder i Produkterne
    eller Tjenesterne, undtagen hvor det udtrykkeligt er tilladt af gældende lov,
  %p Udvikle tredjepartsapplikationer, der interagerer med Brugerindhold eller Produkterne eller Tjenesterne uden vores forudgående, skriftlige samtykke,
  %p
    Bruge en robot, spider, crawler, scraper, script, browser-udvidelse, offline-læser eller andre automatiske midler eller grænseflader, som vi ikke har givet bemyndigelse til for at få adgang til Produkterne eller Tjenesterne, udtrække data eller i øvrigt
    gribe forstyrrende ind i eller ændre gengivelsen af Materialer eller funktioner,
  %p
    Omgå og ignorere instrukser indeholdt i filen robots.txt, der findes på
    = succeed "," do
      %a{:href => "https://www.chefsteps.com/robots.txt"} https://www.chefsteps.com/robots.txt
  %p Bruge Produkterne eller Tjenesterne til noget ulovligt eller uberettiget formål, eller beskæftige dig med, opmuntre til eller fremme en aktivitet, der overtræder disse Vilkår.
  %h3 11.	Brugerindhold
  %p
    Tjenesterne kan omfatte interaktive funktioner og områder, der tillader brugerne at oprette, sende, dele eller lagre indhold, herunder, men ikke begrænset til, brugerskabt indhold, opskrifter, anmeldelser, fotos, videoer, musik, lyd, tekst, grafik, kode,
    genstande eller andre materialer (samlet "
    %strong> Brugerindhold
    "). Hvis du beslutter at dele dit Brugerindhold med andre gennem Tjenesterne eller tredjepartsplatforme, er du indforstået med, at dette Brugerindhold er synligt for andre i overensstemmelse
    med de indstillinger for privatlivets fred, som du opretter på din konto.
  %p
    Du accepterer, at du alene er ansvarlig for dit Brugerindhold og for din brug af interaktive funktioner og områder i Tjenesterne. Ved at poste, overføre eller i øvrigt sende Brugerindhold erklærer og garanterer du, at (a) dette Brugerindhold ikke er fortroligt,
    (b) du ejer alle immaterielle rettigheder (eller har indhentet alle nødvendige tilladelser) til at levere dette indhold og give de deri anførte licenser, og at (c) Brugerindholdet ikke overtræder eller krænker nogen immaterielle rettigheder eller anden
    beskyttet ret, herunder ret til offentlighed eller privatlivets fred, for en person eller enhed.
  %p Ved at bruge de interaktive funktioner og områder i Tjenesterne accepterer du desuden ikke at oprette, sende, dele elle lagre noget af følgende:
  %p Brugerindhold, der er ulovligt, injurierende, ærekrænkende, obskønt, pornografisk, uanstændigt, sjofelt, antydende, chikanøst, truende, angriber privatlivets fred eller retten til offentliggørelse, groft, provokerende, svigagtigt eller i øvrigt uønsket,
  %p Brugerindhold, der ville udgøre, opmuntre eller give instrukser til en kriminel handling, overtræde en parts rettigheder eller i øvrigt give anledning til ansvar eller overtræde en lokal, statslig, national eller international lov,
  %p Brugerindhold, der indeholder eller afbilder udsagn, bemærkninger eller krav, der ikke afspejler dine ærlige synspunkter og erfaringer,
  %p Brugerindhold, der parodierer eller giver urigtige oplysninger om din tilknytning til en person eller enhed,
  %p Brugerindhold, der henviser til eller afbilder ChefSteps eller vores Produkter eller Tjenester, men som ikke oplyser om en væsentlig forbindelse med os, hvis du har en (f.eks. hvis du er medarbejder hos ChefSteps),
  %p Brugerindhold, der indeholder uopfordrede reklamer, politiske kampagner, annoncering eller uønskede henvendelser,
  %p Brugerindhold, der indeholder vira, ødelagte data eller andre skadelige, forstyrrende eller ødelæggende filer eller indhold, eller
  %p Brugerindhold, der, efter vores bedømmelse, er uønsket eller som begrænser eller hæmmer en anden person i at bruge eller nyde Produkterne eller Tjenesterne, eller som kan udsætte ChefSteps eller andre for skade eller ansvar af enhver art.
  %p
    Vi er ikke ansvarlige for noget Brugerindhold. Selv om vi ikke har nogen pligt til at screene, redigere eller overvåge Brugerindhold, forbeholder vi os retten til, og efter eget skøn, til enhver tid og uanset årsag, at fjerne, screene eller redigere Brugerindhold,
    der er sendt eller lagret på Tjenesterne, og du alene er ansvarlig for at oprette backup-kopier af og erstatte eventuelt Brugerindhold, du sender eller lagrer på Tjenesterne for egen regning.
  %h3 12.	Rettigheder til Brugerindhold
  %p
    Medmindre andet er anført i disse Vilkår eller i en særskilt aftale, påstår vi ikke ejerskab af eller kontrol over dit Brugerindhold. Ved at hente, poste eller på anden måde sende Brugerindhold, giver du dog ChefSteps en ikke-eksklusiv, royaltyfri, verdensomspændende,
    stedsevarende, uigenkaldelig, overdragelig ret, der fuldt ud kan gives i underlicens, til at bruge, reproducere, ændre, tilpasse, offentliggøre, oversætte, skabe afledte arbejder af, distribuere, udføre og vise dette Brugerindhold og dit navn, lighed,
    stemme og personlighed på Tjenesterne, på tredjepartssider og mobile applikationer, og i alle øvrige medier og formater, det være sig ukendt eller efterfølgende udviklet, til ethvert formål, herunder til ChefSteps' kommercielle formål. Du giver desuden
    alle brugere af vores Tjenester tilladelse til at få adgang til og bruge dit Brugerindhold i overensstemmelse med den nyeste version af licensen
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"} Creative Commons Attribution- NonCommercial-ShareAlike
    (BY-NC-SA).
  %h3 13.	Feedback
  %p
    Adskilt fra Brugerindhold kan du sende spørgsmål, kommentarer, forslag, ideer, originale eller kreative materialer eller andre oplysninger om ChefSteps elle vores Produkter eller Tjenester (samlet "
    %strong> Feedback
    "). Feedback er ikke fortrolig
    og bliver ChefSteps ejendom. ChefSteps ejer eksklusive rettigheder, herunder, men ikke begrænset til, alle immaterielle rettigheder, til denne Feedback og er berettiget til ubegrænset brug og formidling af denne Feedback til alle formål, kommercielle
    eller i øvrigt, uden anerkendelse eller kompensation til dig.
  %h3 14.	Skadesløsholdelse
  %p
    I det af gældende lov videst muligt tilladte omfang accepterer du at skadesløsholde og forsvare ChefSteps og vores respektive tidligere, nuværende og fremtidige medarbejdere, ledende medarbejdere, bestyrelsesmedlemmer, entreprenører, konsulenter, aktionærer,
    leverandører, sælgere, serviceudbydere, moderselskaber, datterselskaber, tilknyttede selskaber, agenter, repræsentanter, forgængere, retsefterfølgere og adkomsterhververe (sammen med ChefSteps, ”
    %strong> ChefSteps Partnere
    ”), for alle krav fra
    tredjeparter af enhver art, det være sig uden for kontrakt, inden for kontrakt eller i øvrigt (samlet ”
    %strong> Krav
    ”), herunder for skade på ejendom eller personskade, der udspringer af eller vedrører:
  %p din adgang til at bruge eller forkert brug af vores Produkter, Tjenester og Materialer,
  %p noget Brugerindhold, du skaber, lægger på, deler eller lagrer på eller via vores Tjenester eller vores sider eller tilfører på tredjeparts sociale mediers platforme,
  %p feedback, som du giver,
  %p din overtrædelse af disse Vilkår,
  %p din overtrædelse af en tredjeparts rettigheder, eller
  %p brug eller forkert brug af Produkterne eller Tjenesterne tilhørende en tredjepart, du bemyndiger til at bruge de Produkter eller Tjenester, der er leveret til dig.
  %p Denne pligt til skadesløsholdelse omfatter betaling af alle ChefSteps' Partneres advokaters honorarer og andre udgifter til undersøgelse og forsvar af Krav, og udgifterne til at håndhæve pligten til skadesløsholdelse.
  %p
    Du accepterer straks at give ChefSteps meddelelse om eventuelle Krav fra tredjeparter og at samarbejde med ChefSteps' Partnere om at forsvare disse Krav. Du accepterer endvidere, at ChefSteps-partnerne kontrollerer forsvaret eller aftalen af eventuelle
    Krav fra tredjeparter. Denne skadesløsholdelse er ud over, og ikke i stedet for, eventuel skadesløsholdelse anført i en skriftlig aftale mellem dig og ChefSteps.
  %h3 15.	Ansvarsfraskrivelser
  %p
    VI KAN GIVE VIGTIGE ADVARSLER OM SUNDHED OG SIKKERHED OG INSTRUKSER, SOM DU SKAL LÆSE, FØR DU BRUGER VISSE CHEFSTEPS-PRODUKTER OG/ELLER DELTAGER I BESTEMTE AKTIVITETER ELLER TJENESTER. VI KAN OPDATERE ELLER REVIDERE DISSE ADVARSLER OG INSTRUKSER, SÅ DU
    BEDES GENNEMGÅ DEM JÆVNLIGT.
  %p
    I DET AF GÆLDENDE LOV VIDEST MULIGT TILLADTE OMFANG LEVERES CHEFSTEPS' TJENESTER OG MATERIALER "SOM DE ER OG FOREFINDES" OG "SOM TILGÆNGELIGE" UDEN GARANTIER AF NOGEN ART, HVERKEN UDTRYKKELIGE ELLER UNDERFORSTÅEDE, OG VI FRASKRIVER OS UDTRYKKELIGT ALLE
    ANDRE GARANTIER, UDTRYKKELIGE ELLER UNDERFORSTÅEDE, HERUNDER, MEN IKKE BEGRÆNSET TIL, UNDERFORSTÅEDE INDESTÅELSER FOR SALGBARHED, EGNETHED TIL ET BESTEMT FORMÅL, ADKOMST OG IKKE-KRÆNKELSE. VI ERKLÆRER ELLER GARANTERER IKKE, AT CHEFSTEPS' WEBSIDER, MOBILE
    APPLIKATIONER OG MATERIALER ER NØJAGTIGE, FULDSTÆNDIGE, PÅLIDELIGE, AKTUELLE ELLER FEJLFRI. DESUDEN ER VORES WEBSIDER, MOBILE APPLIKATIONER OG MATERIALE (A) KUN TIL OPLYSNINGSMÆSSIGE FORMÅL, (B) GIVES SOM GENERELLE RÅD OG (C) IKKE BEREGNET TIL AT VÆRE
    EN ERSTATNING FOR PROFESSIONEL MEDICINSK ELLER NÆRINGSMÆSSIG RÅDGIVNING. SELV OM VI SØGER AT GØRE DIN ADGANG TIL OG BRUG AF CHEFSTEPS' WEBSIDER, MOBILE APPLIKATIONER OG MATERIALER SIKKER, KAN VI IKKE OG ERKLÆRER ELLER GARANTERER IKKE, AT DE ELLER VORES
    TJENESTER ER UDEN VIRUS ELLER ANDRE SKADELIGE KOMPONENTER. DERFOR BØR DU ANVENDE BRANCHEANERKENDT SOFTWARE TIL AT REGISTRERE OG RENSE VIRA FRA HENTNINGER.
  %p
    DU ALENE ER ANSVARLIG FOR KORREKT OG SIKKER RENSNING, HÅNDTERING, FORBEREDELSE, LAGRING, MADLAVNING, BRUG OG FORTÆRING AF FØDE. MADLAVNINGSINSTRUKSERNE OG DE ANVISNINGER, DER GIVES AF CHEFSTEPS, TILBYDES KUN SOM RETNINGSLINJER. BRUG DIN SUNDE DØMMEKRAFT
    OG BEDSTE SKØN, NÅR DU TILBEREDER ELLER INDTAGER FØDEVARER. INDTAGELSE AF RÅT ELLER UNDERTILBEREDT KØD, FJERKRÆ, FISK, SKALDYR ELLER ÆG KAN ØGE DIN RISIKO FOR EN FØDEVAREBÅREN SYGDOM, OG DENNE INDTAGELSE SKAL FORETAGES EFTER DIT EGET SKØN. VI FRASKRIVER
    OS UDTRYKKELIGT ANSVARET FOR UØNSKEDE BIVIRKNINGER, DER MÅTTE OPSTÅ FRA DIN BRUG ELLER ANVENDELSE AF OPLYSNINGER, DER LEVERES VIA TJENESTERNE.
  %p
    CHEFSTEPS GIVER INGEN GARANTI PÅ PRODUKTER, DER ER FREMSTILLET AF ANDRE ENHEDER, SELV OM DU MÅSKE KØBER DEM GENNEM VORES TJENESTER. PRODUKTER FREMSTILLET AF ANDRE ENHEDER, MEN SOLGT GENNEM VORES TJENESTER, SÆLGES AF CHEFSTEPS "SOM DE ER OG FOREFINDES"
    OG "MED ALLE FEJL". CHEFSTEPS FRASKRIVER SIG ALLE UNDERFORSTÅEDE GARANTIER FOR DISSE PRODUKTER, HERUNDER DEN UNDERFORSTÅET GARANTI FOR SALGBARHED, EGNETHED TIL ET BESTEMT FORMÅL, ADKOMST OG IKKE-KRÆNKELSE. CHEFSTEPS GARANTERER IKKE NOGEN KVALITET ELLER
    KARAKTERISTISKE TRÆK VED PRODUKTER, VI IKKE FREMSTILLER. MEDMINDRE PRODUCENTEN GIVER GARANTI, BÆRER DU SOM KØBER HELE RISIKOEN, HVAD ANGÅR KVALITET OG YDEEVNE VED SÅDANNE PRODUKTER, OG DU, OG IKKE CHEFSTEPS, PÅTAGER DIG HELE UDGIFTEN TIL EVENTUEL NØDVENDIG
    OMBYTNING ELLER REPARATION.
  %p PRODUCENTER AF PRODUKTER SOLGT AF CHEFSTEPS KAN GIVE DERES EGNE GARANTIER, OG DU ACCEPTERER, AT DIT RETSMIDDEL FOR EVENTUELLE FEJL I DISSE PRODUKTER KUN BYGGER PÅ EVENTUELLE GARANTIER, SOM ER GIVET AF DISSE PRODUCENTER.
  %h3 16.	Ansvarsbegrænsning, frigørelse for forpligtelse
  %p
    I DET AF GÆLDENDE LOV VIDEST MULIGT TILLADTE OMFANG: (A) CHEFSTEPS ELLER EN AF DE ANDRE CHEFSTEPS-PARTNERE ER I INTET TILFÆLDE ANSVARLIG FOR INDIREKTE TAB, FØLGESKADER AF NOGEN ART (HERUNDER, MEN IKKE BEGRÆNSET TIL, TAB AF INDTÆGT, INDKOMST ELLER FORTJENESTE,
    TAB AF BRUG ELLER DATA, TAB ELLER FORRINGELSE AF VÆRDIEN AF AKTIVER ELLER VÆRDIPAPIRER, ELLER ERSTATNING FOR DRIFTSTAB), DER UDSPRINGER AF ELLER PÅ NOGEN MÅDE HAR FORBINDELSE TIL ADGANG, BRUG AF TJENESTERNE ELLER MATERIALER ELLER PÅ ANDEN MÅDE I FORBINDELSE
    MED DISSE VILKÅR (HERUNDER, MEN IKKE BEGRÆNSET TIL, ERSTATNINGER FORÅRSAGET AF ELLER SOM FØLGE AF EN BRUGERS PÅBERÅBELSE AF OPLYSNINGER, INDHENTET FRA CHEFSTEPS, ELLER FRA FEJL, UNDLADELSER, AFBRYDELSER, SLETNING AF FILER ELLER E-MAILS, FEJL, MANGLER,
    FEJLFINDINGER, VIRA, TROJANSKE HESTE, FORSINKELSER I DRIFTEN ELLER TRANSMISSIONEN ELLER EN FEJL I YDELSEN, UANSET OM DEN MÅTTE VÆRE EN FØLGE AF NATURKATASTROFE, FORCE MAJEURE, KOMMUNIKATIONSFEJL, TYVERI, ØDELÆGGELSE ELLER UBERETTIGET ADGANG TIL CHEFSTEPS’
    OPTEGNELSER, PROGRAMMER ELLER SYSTEMER), UANSET ARTEN AF HANDLING, OM DEN ER BASERET PÅ KONTRAKT, UDEN FOR KONTRAKT (HERUNDER, MEN IKKE BEGRÆNSET TIL, SIMPEL UAGTSOMHED, DET VÆRE SIG AKTIV, PASSIV ELLER TILSKREVET), OBJEKTIVT PRODUKTANSVAR, ANDEN JURIDISK
    ELLER RIMELIG TEORI (SELV OM PARTEN ER BLEVET OPLYST OM MULIGHEDEN FOR SÅDANNE ERSTATNINGER OG UANSET OM SÅDANNE ERSTATNINGER KUNNE FORUDSES), OG (B) I INTET TILFÆLDE KAN CHEFSTEPS' OG CHEFSTEPS' PARTNERES (I FORENING) SAMLEDE ANSVAR, DET VÆRE SIG I
    HENHOLD TIL KONTRAKT, GARANTI, UDEN FOR KONTRAKT (HERUNDER UAGTSOMHED), OBJEKTIVT ANSVAR, PRODUKTANSVAR ELLER ANDEN TEORI, DER UDSPRINGER AF ELLER HAR RELATION TIL BRUGEN AF ELLER MANGLENDE EVNE TIL AT BRUGE TJENESTERNE, HERUNDER MATERIALER OG FUNKTIONER
    INDEHOLDT DERI, OVERSTIGE EVENTUEL ERSTATNING BETALT TIL OS FOR DIN ADGANG TIL ELLER BRUG AF PRODUKTERNE ELLER TJENESTERNE.
  %p
    I DET AF GÆLDENDE LOV VIDEST MULIGT TILLADTE OMFANG FRIGIVER, FRASKRIVER OG FRIGØR DU, PÅ VEGNE AF DINE ARVINGER, EKSEKUTORER, BOBESTYRERE, JURIDISKE OG PERSONLIGE REPRÆSENTANTER HERMED CHEFSTEPS-PARTERNE FOR ALLE KRAV, DER UDSPRINGER AF DISSE VILKÅR.
    HVIS DU ER BOSIDDENDE I CALIFORNIEN, FRAFALDER DU HERMED DEN CALIFORNISKE CIVILE LOV, PARAGRAF 1542, I FORBINDELSE MED DET FORANSTÅENDE, DER ANGIVER: "EN GENEREL FRIHOLDELSE OMFATTER IKKE KRAV, SOM KREDITOREN IKKE KENDER TIL ELLER HAR MISTANKE OM FINDES
    TIL FORDEL FOR VEDKOMMENDE PÅ TIDSPUNKTET FOR UDSTEDELSEN AF FRIHOLDELSEN, HVIS, SÅFREMT DEN ER KENDT AF VEDKOMMENDE, I VÆSENTLIG GRAD SKAL HAVE PÅVIRKET VEDKOMMENDES FORLIG MED DEBITOREN." DU GIVER HERMED AFKALD PÅ LIGNENDE BESTEMMELSER I ANDRE JURISDIKTIONER.
  %p
    DE BEGRÆNSNINGER, DER ER ANFØRT I DETTE AFSNIT 16, BEGRÆNSER ELLER UDELUKKER IKKE ANSVAR FOR DØDSFALD ELLER PERSONSKADE ELLER TINGSSKADE FORÅRSAGET AF PRODUKTER ELLER TJENESTER, DU KØBER FRA OS, ELLER FOR VORES SVIG, GROVE UAGTSOMHED ELLER FORSÆTLIGE,
    ONDSINDEDE ELLER HENSYNSLØSE TJENESTEFORSEELSE.
  %h3 17.	Ændringer i Tjenesterne
  %p
    Vi forbeholder os til enhver tid retten til efter eget skøn at ændre alle Materialer og at ændre, suspendere eller ophøre med at levere adgang til Tjenesterne (eller Tjenesternes funktioner eller funktionaliteter) uden varsel og uden forpligtelser eller
    ansvar over for dig. Du er også til enhver tid berettiget til ikke at anvende alle eller dele af Tjenesterne eller opsige denne aftale.
  %h3 18.	Konfliktløsning, voldgift
  %p DU BEDES LÆSE FØLGENDE AFSNIT OMHYGGELIGT, FORDI DET KRÆVER, AT DU SKAL AFGØRE VISSE TVISTER OG KRAV MED CHEFSTEPS VED VOLDGIFT OG BEGRÆNSER DEN MÅDE, HVORPÅ DU KAN SØGE AFHJÆLPNING FRA OS.
  %h4 18.1.	Bindende voldgift
  %p
    Med undtagelse af tvister, krav, søgsmål, sagsanlæg, søgsmålsgrunde, krav eller retsforhandlinger (samlet "
    %strong> Tvister
    "), der udspringer af eller i forbindelse med en overtrædelse af Afsnit 10 eller Tvister, hvor en af parterne søger at anlægge
    individuel sag i en civil domstol, der behandler søgsmål af begrænset værdi, eller søger forbud eller anden afhjælpning i henhold til equity for den påståede ulovlige brug af intellektuel ejendom, herunder, men ikke begrænset til, ophavsret, varemærker,
    varenavne, handelshavne, logoer, forretningshemmeligheder eller patenter, accepterer du og ChefSteps at frafalde dine og ChefSteps' respektive rettigheder til at få løst alle Tvister, der udspringer af eller i forbindelse med disse Vilkår, eller Tjenesterne,
    Materialer eller Produkter, i en domstol, og (b) at give afkald på dine og ChefSteps' respektive rettigheder til en nævningesag. I stedet accepterer du og ChefSteps at lade Tvister afgøre ved bindende voldgift (som er henvisning af en Tvist mellem en
    eller flere personer, der har ansvar for at gennemgå Tvisten og træffe en endelig og bindende afgørelse for at løse den, i stedet for at Tvisten skal afgøres af en dommer eller en jury i retten).
  %h4 18.2.	Ingen kollektiv voldgift, søgsmål eller fælles søgsmål
  %p
    Du og ChefSteps accepterer, at en Tvist, der udspringer af eller i forbindelse med disse Vilkår, Tjenester, Produkter eller Materialer er personlig for dig og ChefSteps, og at denne Tvist alene bliver løst via særskilt voldgift og ikke anlægges som kollektiv
    voldgift, kollektivt søgsmål eller anden type af fælles søgsmål. Du og ChefSteps accepterer, at der ikke er nogen kollektiv voldgift eller voldgift, hvor en enkeltperson søger at løse en Tvist som repræsentant for en anden enkeltperson eller gruppe
    af enkeltpersoner. Du og ChefSteps accepterer endvidere, at en Tvist ikke kan anlægges kollektivt eller som anden type fælles søgsmål, det være sig inden for eller uden for voldgift, eller på vegne af en anden enkeltperson elle gruppe af enkeltpersoner.
  %h4 18.3.	Den amerikanske voldgiftslov
  %p
    Du og ChefSteps accepterer, at disse Vilkår påvirker mellemstatslig handel, og at håndhævelsen af dette Afsnit 18 er både reelt og proceduremæssigt reguleret af og fortolkes og håndhæves i overensstemmelse med den amerikanske voldgiftslov) U.S.C. § 1
    ff. ("
    %strong> FAA
    "), i det af gældende lov videst muligt tilladte omfang.
  %h4 18.4.	Varsel, uformel konfliktløsning
  %p
    Du og ChefSteps accepterer, at hver part giver den anden part skriftlig meddelelse om en voldgifts- eller småsagstvist inden for tredive (30) dage efter den dato, hvor den opstår, således at parterne i god tro kan søge at løse Tvisten uformelt. Meddelelse
    til ChefSteps skal sendes elektronisk til
    = succeed "." do
      %a{:href => "mailto:disputes@chefsteps.com"} disputes@chefsteps.com
  %h4 18.5.	Proces
  %p
    Med undtagelse af Tvister, der udspringer af eller i forbindelse med en overtrædelse af Afsnit 10 eller Tvister, hvor begge parter søger at anlægge individuel sag i en civil domstol, der behandler sager af begrænset værdi, eller søge forbud eller anden
    afhjælpning inden for equity for den påståede ulovlige brug af intellektuel ejendom, herunder, men ikke begrænset til, ophavsret, varemærker, handelshavne, logoer, forretningshemmeligheder eller patenter, accepterer du og ChefSteps, at (a) en eventuel
    voldgift foregår i King Country, Washington, (b) voldgift føres i fortrolighed af en enkelt voldgiftsmand i overensstemmelse med de amerikanske regler Judicial Arbitration and Mediation Services ("
    %strong> JAMS
    "), som hermed inkorporeres ved
    henvisning, og (c) af henholdsvis statslige domstole eller forbundsdomstole i Staten Washington og USA, der har sæde i King County, Washington, har eksklusiv jurisdiktion over eventuelle appeller og håndhævelse af en voldgiftskendelse. Du kan også føre
    proces angående en Tvist i en civil domstol, der behandler sager af begrænset værdi, i amtet for din faktureringsadresse, hvis Tvisten opfylder kravene for behandling i en civil domstol, der behandler sager af begrænset værdi.
  %h4 18.6.	Voldgiftsmandens bemyndigelse
  %p
    Som begrænset af FAA, disse Vilkår og de gældende JAMS-regler, har voldgiftsmanden (a) eksklusiv bemyndigelse og jurisdiktion til at foretage alle processuelle og materielle afgørelser vedrørende en Tvist, herunder afgørelsen af, hvorvidt en Tvist kan
    gøres til genstand for voldgift, og (b) bemyndigelsen til at meddele en afhjælpning, der ellers ville være tilgængelig i retten, dog under forudsætning af, at voldgiftsmanden ikke har bemyndigelse til at føre en kollektiv voldgiftsbehandling eller et
    fælles søgsmål, som er forbudt i henhold til disse Vilkår. Voldgiftsmanden må kun føre individuel voldgiftsbehandling og må ikke sammenlægge mere end én persons krav, lede nogen form for kollektivt eller fælles søgsmål eller lede et søgsmål, der omfatter
    mere end en enkeltperson.
  %h4 18.7.	Regler i JAMS
  %p
    Reglerne i JAMS og yderligere oplysninger om JAMS kan findes på JAMS' webside. Ved at acceptere at være bundet af disse Vilkår anerkender du enten (a), at du har læst og forstået reglerne i JAMS, eller (b) giver afkald på din mulighed for at læse reglerne
    i JAMS og et krav om, at reglerne i JAMS er urimelige eller ikke burde være gældende, uanset årsag.
  %h4 18.8.	Vilkårenes uafhængighed
  %p
    Hvis et vilkår, klausul eller bestemmelse i dette Afsnit 18 anses for at være ugyldigt eller uden retskraft, anses det herfor i det minimale omfang, der kræves af loven, og alle øvrige vilkår, klausuler og bestemmelser i dette Afsnit 18 forbliver gyldige
    og retskraftige. Desuden kan de i Afsnit 18.2 anførte frafald udskilles fra de øvrige bestemmelser i disse Vilkår og forbliver gyldige og retskraftige, undtagen hvor det er forbudt af gældende lov.
  %h3 19.	Lovvalg og værneting
  %p
    Disse Vilkår og din adgang til og brug af Produkterne og Tjenesterne reguleres af og fortolkes og håndhæves i overensstemmelse med lovene i Staten Washington, uden hensyntagen til lovvalgsregler eller principper (det være sig i Staten Washington eller
    anden jurisdiktion), der ville forårsage, at en anden jurisdiktions love ville være gældende. En Tvist mellem parterne, der ikke er genstand for voldgift eller ikke kan behandles i en civil domstol, der behandler sager af begrænset værdi, skal henholdsvis
    løses i den statslige eller forbundsdomstolene i Staten Washington og USA, der har sæde i King County, Washington.
  %h3 20.	Opsigelse
  %p
    Uanset hvad der er indeholdt i disse Vilkår, forbeholder vi os retten til, i det af gældende lov videst muligt tilladte omfang, uden varsel og efter eget skøn, at bringe din ret til adgang eller brug af Tjenesterne til ophør og blokere eller forhindre
    din fremtidige adgang til og brug af Tjenesterne. Hvis du overfører et Produkt, der linker til vores Tjenester, såsom Joule, til en ny ejer, ophører din ret til at bruge Tjenesterne hvad angår det pågældende Produkt automatisk, og den nye ejer har ingen
    ret til at benytte Tjenesterne i henhold til din konto og skal registrere sig med en særskilt konto hos ChefSteps.
  %h3 21.	Vilkårenes uafhængighed
  %p
    Hvis et vilkår, en klausul eller bestemmelse i Vilkårene anses for at være ugyldigt eller uden retskraft, så skal det pågældende vilkår, den pågældende klausul eller bestemmelse udskilles af Vilkårene og påvirker ikke gyldighed eller retskraft hvad angår
    en resterende del af vilkåret, klausulen eller bestemmelsen, eller et andet vilkår, klausul eller bestemmelse i Vilkårene.
  %h3 22.	Overlevelse
  %p De følgende afsnit overlever udløbet eller opsigelsen af disse Vilkår, og opsigelsen af din ChefSteps-konto: alle definerede vilkår og Afsnit 1, 2, 3, 4, 5 (kun første tekstafsnit), 6, 7, 8 (kun andet tekstafsnit), 9 til 23.
  %h3 23.	Californiske videregivelser
  %p Hvis du er bosiddende i Californien, kan du indberette klager til det californiske forbrugerministerium ved at kontakte dem skriftligt på 1625 North Market Blvd., Suite N 112, Sacramento, CA 98834, USA, eller på telefon på (800) 952-5210.
  %h3 24.	Spørgsmål
  %p
    Hvis du har spørgsmål angående disse Vilkår eller vores Produkter eller Tjenester, bedes du kontakte os på
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
