#terms
  %h3 GEBRUIKS- EN VERKOOPVOORWAARDEN VAN CHEFSTEPS
  %p Laatst bijgewerkt: 13/1/2017
  %p
    LEES DEZE GEBRUIKS- EN VERKOOPVOORWAARDEN AANDACHTIG DOOR, MET INBEGRIP VAN DE BEPALING INZAKE VERPLICHTE ARBITRAGE IN ARTIKEL 18 VOOR INWONERS VAN DE VERENIGDE STATEN. INDIEN U BUITEN DE VERENIGDE STATEN WOONT, KUNNEN AANVULLENDE VOORWAARDEN OP U VAN
    TOEPASSING ZIJN DIE SOMMIGE BEPALINGEN IN DEZE GEBRUIKS- EN VERKOOPVOORWAARDEN AANVULLEN OF VERVANGEN. LEES HET EINDE VAN DIT DOCUMENT OM TE BEPALEN OF ER AANVULLENDE VOORWAARDEN OP U VAN TOEPASSING ZIJN.
  %p
    DOOR TE KLIKKEN OM UW AANVAARDING VAN DEZE GEBRUIKS- EN VERKOOPVOORWAARDEN AAN TE GEVEN, OF OP ANDERE WIJZE TOEGANG TE KRIJGEN TOT, OF GEBRUIK TE MAKEN VAN, ONZE PRODUCTEN EN DIENSTEN (ZIE HIERONDER), GAAT U ERMEE AKKOORD GEBONDEN TE ZIJN AAN DEZE GEBRUIKS-
    EN VERKOOPVOORWAARDEN EN ALLE VOORWAARDEN WAARNAAR HIERIN WORDT VERWEZEN. INDIEN U NIET AKKOORD GAAT MET AL DEZE VOORWAARDEN, DIENT U GEEN TOEGANG TE ZOEKEN TOT ONZE PRODUCTEN OF DIENSTEN OF DEZE TE KOPEN EN TE GEBRUIKEN.
  %p
    Deze Gebruiks- en Verkoopvoorwaarden ("
    %strong> Voorwaarden
    ") zijn van toepassing op uw toegang tot en gebruik van de Producten en Diensten van ChefSteps, Inc. ("
    %strong> ChefSteps
    , "
    %strong> wij
    ", "
    %strong> ons
    " of "
    %strong> onze
    "),
    een vennootschap opgericht in de staat Washington in de Verenigde Staten en gevestigd op het adres 1501 Pike Place, # 300, Seattle, Washington, 98101, met fiscaal identificatienummer
    464326180
    \. De term "
    %strong> Producten
    " verwijst naar
    de hardware en fysieke apparaten die door ChefSteps worden verkocht, met inbegrip van de Joule Circulator en de Joule Big Clamp. De term "
    %strong> Diensten
    " verwijst naar onze websites, mobiele applicaties en andere online producten en diensten.
  %p
    Deze Voorwaarden veranderen op geen enkele wijze de voorwaarden van enige andere overeenkomst die u met ons heeft gesloten met betrekking tot Producten, Diensten of anderszins. Indien u de Producten of Diensten namens een entiteit gebruikt, verklaart
    en garandeert u dat u bevoegd bent om deze Voorwaarden namens die entiteit te aanvaarden en dat die entiteit ermee instemt om tegenover ons verantwoordelijk te zijn wanneer u of deze entiteit deze Voorwaarden schendt.
  %p
    ChefSteps behoudt zich het recht voor om deze Voorwaarden te allen tijde en naar eigen goeddunken te wijzigen of aan te passen. Indien wij wijzigingen aanbrengen in deze Voorwaarden, zullen wij deze wijzigingen melden, bijvoorbeeld door het verzenden
    van een e-mailbericht, het verstrekken van een kennisgeving via de Diensten of het bijwerken van de datum "
    %strong> Laatst bijgewerkt
    " aan het begin van deze Voorwaarden. Uw voortgezette gebruik van de Diensten bevestigt uw aanvaarding van de
    herziene Voorwaarden. Wij raden u aan om de Voorwaarden regelmatig te herlezen om te waarborgen dat u de voorwaarden begrijpt die van toepassing zijn wanneer u toegang krijgt tot of gebruik maakt van de Diensten. Indien u niet akkoord gaat met de herziene
    Voorwaarden, mag u geen toegang zoeken tot of gebruik maken van de Diensten. Wijzigingen die wij aanbrengen hebben geen invloed op uw rechten met betrekking tot Producten die u reeds heeft gekocht of besteld.
  %h3 1.	Privacybeleid
  %p Raadpleeg ons Privacybeleid [insert hyperlink] voor informatie over hoe wij gegevens over u verzamelen, gebruiken en openbaar maken.
  %h3 2.	Aanvullende voorwaarden
  %p
    Wanneer u onze Producten en Diensten gebruikt, is uw gebruik onderworpen aan de toepasselijke voorwaarden voor deze Producten en Diensten. Wanneer u bijvoorbeeld onze mobiele applicaties downloadt, installeert of anderszins gebruikt, is onze Licentieovereenkomst
    voor Eindgebruikers van toepassing op uw gebruik [insert link]. Indien u Producten koopt, gaat u akkoord met onze Beperkte Garantie [insert link].
  %h3 3.	Leeftijdsbeperking; Registratie en Account; Vereiste apparatuur, ISP en Provider
  %p
    Leeftijdsbeperking. De Diensten zijn niet gericht op of bedoeld voor gebruik door personen jonger dan 13 jaar. Daarnaast geldt dat als u tussen de 13 en 18 jaar oud bent (of tussen 13 en de leeftijd van wettelijke meerderjarigheid onder toepasselijk recht)
    u de Diensten alleen mag gebruiken onder toezicht van een ouder of wettelijke voogd die ermee instemt gebonden te zijn aan deze Voorwaarden. Door gebruik te maken van de Diensten verklaart en garandeert u dat (a) niet eerder Diensten aan u zijn geweigerd
    of opgeschort, u niet betrokken bent geweest bij enige activiteit die kan leiden tot schorsing of weigering van de Diensten, en (b) dat u volledig bevoegd bent om u te binden aan deze Voorwaarden en dat u daarmee geen enkele andere overeenkomst waarbij
    u partij bent zult schenden.
  %p
    Registratie en account. Om toegang te krijgen tot en gebruik te maken van bepaalde onderdelen of functies van de Diensten, dient u zich te registreren voor een ChefSteps account en/of een profiel aan te maken. Wanneer u zich registreert voor een account,
    kunt u geen accountnaam aanmaken die een handelsmerk bevat zonder toestemming van de eigenaar van het handelsmerk. Wij behouden ons het recht voor om accountnamen terug te vorderen namens enig bedrijf of enig persoon dat of die een wettelijke aanspraak,
    met inbegrip van handelsmerkrechten, heeft op die namen. Door een account aan te maken, gaat u ermee akkoord (a) nauwkeurige, actuele en volledige accountgegevens te verstrekken, (b) uw accountgegevens van tijd tot tijd en voor zover nodig te onderhouden
    en onmiddellijk bij te werken, (c) de beveiliging van uw accountgegevens te handhaven, (d) verantwoordelijk te zijn voor de handelingen of nalatigheden van derden die u machtigt om toegang te krijgen tot of gebruik te maken van uw account en de Diensten,
    en (e) ons onmiddellijk op de hoogte te stellen als u inbreuken op de beveiliging ontdekt of anderszins vermoedt met betrekking tot de Diensten of uw account.
  %p
    Benodigde apparatuur, ISP en Provider. U erkent dat de beschikbaarheid van bepaalde Diensten afhankelijk is van (a) uw computer, mobiele telefoon of tablet, de elektrische bedrading in huis, uw Wifi-netwerk thuis, de Bluetooth-verbinding en andere aanverwante
    apparatuur ("
    %strong> Apparatuur
    "), (b) uw internetserviceprovider ("
    %strong> ISP
    ") en (c) de aanbieder van uw mobiele telefoon of tablet diensten ("
    %strong> Provider
    "). U komt overeen dat u verantwoordelijk bent voor alle kosten
    die uw ISP en Provider in rekening brengen in verband met uw gebruik van de Diensten en dat u verantwoordelijk bent voor het naleven van alle overeenkomsten en andere beleidsregels van uw ISP en Provider. Daarnaast erkent u en komt u overeen dat uw
    interacties met uw ISP en Provider uitsluitend tussen u en dergelijke derden plaatsvinden en dat ChefSteps op geen enkele wijze verantwoordelijk of aansprakelijk is voor dergelijke interacties.
  %h3 4.	Verkoopvoorwaarden
  %h4 4.1.	Betalings- en factureringsinformatie
  %p
    Door te betalen met een creditcard of andere betaalmethode die wij accepteren, verklaart en garandeert u dat u bevoegd bent om de aangewezen betaalmethode te gebruiken en dat u ons (of onze externe verwerker van betalingen) toestaat om u via uw betaalmethode
    het totale bedrag van uw bestelling (inclusief eventuele toepasselijke belastingen en andere kosten) in rekening te brengen. Indien de betaalmethode niet kan worden geverifieerd, ongeldig of anderszins niet aanvaardbaar is, kan uw bestelling worden
    opgeschort of geannuleerd. U dient elk door ons geconstateerd probleem met betrekking tot de betaalmethode die u selecteert op te lossen om verder te kunnen gaan met uw bestelling.
  %p
    Onze presentatie van Producten en Diensten wordt niet beschouwd als een bindend aanbod, maar als een uitnodiging om een bestelling te plaatsen. Zodra u het online aankoopproces heeft afgerond, hebben wij een bindend koopcontract. U kunt uw winkelwagen
    te allen tijde bijwerken voordat u het online aankoopproces afsluit. Wij zullen niet doorgaan met het leveringsproces totdat uw betaling is ontvangen.
  %h4 4.2.	Prijzen en beschikbaarheid
  %p
    Alle prijzen worden aangegeven in Amerikaanse dollars, tenzij wij wettelijk verplicht zijn om prijzen in de lokale valuta aan te geven. De prijzen zijn exclusief belastingen (gedefinieerd hieronder), verzendkosten en administratiekosten of andere kosten,
    tenzij wij duidelijk anders vermelden of wettelijk verplicht zijn om prijzen te tonen inclusief alle belastingen, heffingen en andere kosten.
  %p
    Alle Producten en Diensten die te koop worden aangeboden zijn afhankelijk van beschikbaarheid en wij behouden ons het recht voor om kwantitatieve beperkingen op te leggen aan elke bestelling, een bestelling geheel of gedeeltelijk af te wijzen en de verkoop
    van Producten en Diensten zonder voorafgaande kennisgeving te staken. Prijzen voor Producten en Diensten kunnen te allen tijde worden gewijzigd, maar dergelijke wijzigingen zullen geen invloed hebben op bestellingen van Producten of Diensten die u reeds
    heeft geplaatst.
  %h4 4.3.	Belastingen
  %p
    Voor zover toegestaan door de toepasselijke wetgeving bent u verantwoordelijk voor omzet- en gebruiksbelasting, belasting toegevoegde waarde of andere belastingen, vergoedingen of heffingen (tezamen, "
    %strong> Belastingen
    ") die verschuldigd zijn
    met betrekking tot uw aankoop en gebruik van Producten of Diensten. Voor orders die buiten de Verenigde Staten zijn geplaatst kunnen Belastingen gelden die door de douane in het land van bestemming worden vastgesteld. De heffing van belastingen is over
    het algemeen gebaseerd op de waarde van de order en de belastingvrije drempel (indien van toepassing) voor goederen die het land van bestemming worden ingevoerd. Wij zullen de toepasselijke belastingen invorderen als wij vaststellen dat wij verplicht
    zijn belastingen te innen. Wij verzoeken u er rekening mee te houden dat wij geen belasting innen op goederen die worden verzonden naar rechtsgebieden waarmee wij geen substantiële verbondenheid hebben. Voor onze Amerikaanse gebruikers kunnen de werkelijk
    geheven en geïnde belastingen afwijken van het bedrag dat bij het afrekenen wordt getoond. Verschillende factoren kunnen dit verschil veroorzaken, zoals verschillen tussen processorprogramma's en wijzigingen in belastingtarieven.
  %h4 4.4.	Verzending; Risico van verlies
  %p
    U stemt ermee in om alle verzend- en administratiekosten te betalen die op het moment van aankoop worden getoond. Wij behouden ons het recht voor om de verzend- en administratiekosten van tijd tot tijd te verhogen, te verlagen, toe te voegen of te elimineren,
    maar wij zullen u op de hoogte brengen van de kosten die voor u gelden voordat u uw aankoop doet. De leverdata of -tijden die als onderdeel van het afrekenproces worden opgegeven, zijn uitsluitend ramingen en worden niet gegarandeerd. Tenzij anders
    vermeld, gaat het risico van verlies van of schade aan een Product over op u bij levering van het Product op de door u opgegeven plaats van levering. Indien u vragen of zorgen heeft over de verzending, neem dan contact met ons op via
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com.
  %h4 4.5.	Retourzendingen en restituties
  %p
    ChefSteps Premium Lidmaatschap. ChefSteps Premium Lidmaatschap geeft u onbeperkt toegang tot ChefSteps klassen en andere voordelen die uitsluitend voor leden zijn bestemd (voor details, zie
    = succeed ")." do
      %a{:href => "https://www.chefsteps.com/premium"} https://www.ChefSteps.com/premium
  %p
    Producten die rechtstreeks zijn gekocht van ChefSteps. Indien u in de Verenigde Staten woont, accepteren wij retourzendingen en geven wij restituties voor niet-voedingsproducten die u rechtstreeks van ons koopt, indien deze Producten binnen 30 dagen na
    levering in een ongeopende en ongebruikte staat worden geretourneerd. Voordat u een Product terugstuurt, dient u goedkeuring voorretour van ChefSteps te verkrijgen door contact op te nemen met
    %a{:href => "mailto:support@chefsteps.com"} support@ChefSteps.com
    en de volgende informatie te verstrekken: (a) het serienummer van het Product; (b) de reden voor de retourzending; en (c) het oorspronkelijke ordernummer. Wij kunnen 20% herbevoorradingskosten in rekening brengen voor retourzendingen die niet in overeenstemming
    met deze voorwaarden geschieden. Voor niet-Amerikaanse ingezetenen, zie hieronder de retour- en terugbetalingsvoorwaarden voor Producten die u van ChefSteps heeft gekocht en die voor u van toepassing zijn op basis van uw land van verblijf.
  %p
    Producten van derden gekocht van derden-leveranciers. Wij kunnen de mogelijkheid bieden om producten van derden te kopen via de Diensten, in welk geval wij uitsluitend als tussenpersoon optreden. Indien u een product van een derde-verkoper koopt, is uw
    aankoop onderworpen aan de voorwaarden en het beleid van die derde. Wij zijn niet de verkopers van dergelijke producten en zijn geen partij bij de verkoop van deze producten; daarom geven wij geen verklaringen of garanties met betrekking tot dat product,
    noch accepteren wij retourzendingen en geven wij geen restitutie voor dergelijke producten.
  %h4 4.6.	Fouten
  %p
    Wij proberen zo accuraat mogelijk te zijn en fouten bij onze Diensten te elimineren; wij verklaren of garanderen echter niet dat de beschrijvingen, prijsstelling of andere Product- of Dienstgerelateerde informatie juist, volledig, betrouwbaar, actueel
    of foutloos is. In geval van een fout behouden wij ons het recht voor om deze fout te corrigeren en uw bestelling dienovereenkomstig te herzien (met inbegrip van het in rekening brengen van de juiste prijs) of om de bestelling te annuleren en alle in
    rekening gebrachte bedragen terug te betalen.
  %h3 5.	Licenties voor het gebruik van de Diensten en Materialen
  %p
    Tenzij anders is aangegeven, zijn alle content en andere materialen die opgenomen zijn in de Diensten, met inbegrip van, maar niet beperkt tot, onze logo's en alle ontwerpen, teksten, recepten, ingrediëntenlijsten, kooktijden, video' s, grafische weergaven,
    afbeeldingen, informatie, gegevens, software, geluidsbestanden, andere bestanden, en de selectie en rangschikking daarvan (gezamenlijk, "
    %strong> Materialen
    ") het eigendom van ChefSteps of onze licentiegevers en deze worden beschermd door nationale
    en internationale wet- en regelgeving inzake auteursrechten, handelsmerkenrechten en andere intellectuele eigendomsrechten.
  %p
    ChefSteps verleent u een beperkte, royaltyvrije, niet-exclusieve, niet-overdraagbare, niet-sublicentieerbare, wereldwijde licentie voor toegang tot en gebruik van de Materialen die via de Diensten beschikbaar worden gesteld voor uw eigen persoonlijke,
    niet-commerciële doeleinden. Tenzij uitdrukkelijk wettelijk of door ChefSteps schriftelijk toegestaan, zult u onze Diensten niet reproduceren, herdistribueren, verkopen, er afgeleide werken of opvolgende versies van maken, decompileren, reverse engineeren
    of demonteren (behalve in gevallen waarin u het recht heeft om dit te doen onder de toepasselijke wetgeving), noch zult u enige maatregelen nemen om onze Diensten te verstoren of te beschadigen.
  %p
    ChefSteps moedigt het gebruik en de verspreiding van bepaalde Materialen bij de Diensten aan, met inbegrip van onze recepten, ingrediëntenlijsten, video' s, afbeeldingen en Gebruikerscontent (gedefinieerd in artikel 11). Tenzij anders vermeld, worden
    dergelijke Materialen u ter beschikking gesteld onder de meest recente versie van de
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"} Creative Commons Attribution- NonCommercial-ShareAlike license
    (BY-NC-SA). Let op dat onze
    dienstnamen, handelsmerken, logo's en slogans die bij de Diensten kunnen voorkomen, niet aan u zijn gelicentieerd onder de Creative Commons licentie.
  %p
    Tenzij uitdrukkelijk door ons vermeld, mag niets in deze Voorwaarden worden uitgelegd als het verlenen van enig recht of licentie op enig octrooi, handelsmerk, auteursrecht of andere eigendomsrechten van ChefSteps of enige derde partij, hetzij door uitsluiting,
    implicatie of anderszins. De hierin verleende licenties kunnen te allen tijde worden herroepen.
  %h3 6.	Beleid personen die herhaaldelijk inbreuk plegen; Klachten met betrekking tot auteursrecht
  %p
    Wij hebben in overeenstemming met de Digital Millennium Copyright Act en andere toepasselijke wetten een beleid aangenomen om in bepaalde omstandigheden en naar eigen goeddunken de toegang tot de Diensten te beperken of de accounts te beëindigen van gebruikers
    die inbreuk maken op de intellectuele eigendomsrechten van anderen. Indien u van mening bent dat iets op de Diensten inbreuk maakt op enig auteursrecht waarvan u eigenaar bent of waarover u zeggenschap heeft, kunt u een kennisgeving van een dergelijke
    inbreuk indienen bij onze aangestelde agent, zoals hieronder uiteengezet:
  %p
    Naam van de aangestelde agent: Edward Starbird 
    %br>/
    Adres: 1501 Pike Place, #300, Seattle, WA 98101 
    %br>/
    Telefoon: (206) 905-1099 
    %br>/
    E-mail:
    %a{:href => "mailto:dmca@chefsteps.com"} dmca@ChefSteps.com
  %p
    Indien u ingezetene bent van de Verenigde Staten, raadpleeg dan
    = succeed "voor" do
      %a{:href => "http://www.copyright.gov/title17/92chap5.html#512"} 17 U.S.C. § 512(c)(3) 
  %p
    U dient er rekening mee te houden dat als u bewust een wezenlijk onjuiste voorstelling geeft in uw kennisgeving dat het materiaal of de activiteit inbreuk maakt, u aansprakelijk bent voor alle schade, met inbegrip van, maar niet beperkt tot, kosten en
    honoraria van advocaten, die wij of de vermeende inbreukmaker hebben gemaakt als gevolg van ons vertrouwen in een dergelijke onjuiste voorstelling bij het beëindigen van de toegang tot het materiaal of de activiteit waarvan beweerd wordt dat deze inbreuk
    maakt.
  %h3 7.	Handelsmerken
  %p
    "
    %strong> ChefSteps
    ," het ChefSteps logo en alle andere ChefSteps dienstnamen, logo's of slogans die op de Diensten kunnen voorkomen, kunnen geregistreerd zijn als handelsmerken van ChefSteps en onze leveranciers en onze licentiegevers en mogen
    zonder onze voorafgaande schriftelijke toestemming of die van de betreffende eigenaar van het handelsmerk niet worden gekopieerd, nagemaakt of gebruikt, geheel of gedeeltelijk. Zonder onze voorafgaande schriftelijke toestemming mag u geen metatags of
    andere "
    %strong> verborgen tekst
    " gebruiken waarin "
    %strong> ChefSteps
    " of een andere naam, handelsmerk of product- of dienstnaam van ChefSteps wordt gebruikt. Bovendien vormen de look and feel van de Diensten, met inbegrip van, maar
    niet beperkt tot, alle paginatitels, op maat gemaakte grafische afbeeldingen, knoppenpictogrammen en scripts, het dienstmerk, handelsmerk of het handelsimago van ChefSteps en deze mogen zonder onze voorafgaande schriftelijke toestemming niet worden
    gekopieerd, nagemaakt of gebruikt, geheel of gedeeltelijk. Alle andere handelsmerken, gedeponeerde handelsmerken, productnamen en bedrijfsnamen of logo's die op de Diensten worden vermeld, zijn eigendom van hun respectieve eigenaars en mogen niet worden
    gekopieerd, nagemaakt of gebruikt, geheel of gedeeltelijk, zonder toestemming van de betreffende eigenaar van het handelsmerk. Verwijzing naar producten, diensten, processen of andere informatie door vermelding van naam, handelsmerk, fabrikant, leverancier
    of anderszins houdt geen goedkeuring, sponsoring of aanbeveling door ChefSteps in.
  %p
    Indien u van mening bent dat iets op de Diensten inbreuk maakt op handelsmerken waarvan u eigenaar bent of waarover u de zeggenschap heeft, kunt u een kennisgeving van een dergelijke inbreuk indienen bij onze aangestelde agent, zoals vermeld in artikel
    6. Een correcte kennisgeving dient dezelfde elementen te bevatten als die welke vereist zijn voor klachten met betrekking tot auteursrecht.
  %h3 8.	Hyperlinks
  %p
    U krijgt een beperkt, niet-exclusief, niet-overdraagbaar recht om een hyperlink naar de Diensten te creëren, mits een dergelijke link ChefSteps of een van onze Diensten niet op een onjuiste, misleidende, vernederende of anderszins lasterlijke manier portretteert,
    en op voorwaarde dat de linkende site geen expliciet of illegaal materiaal bevat of enig materiaal dat beledigend, intimiderend of anderszins verwerpelijk is. Dit beperkte recht kan te allen tijde worden ingetrokken. Zonder onze uitdrukkelijke schriftelijke
    toestemming mag u geen ChefSteps logo of een andere afbeelding, die eigendom van ChefSteps is, gebruiken om naar de Diensten te linken. U mag voorts zonder onze uitdrukkelijke schriftelijke toestemming geen gebruik maken van framingtechnieken of framing
    om een ChefSteps handelsmerk, logo of andere bedrijfseigen informatie in te sluiten, met inbegrip van de afbeeldingen die gevonden worden op de Diensten, de inhoud van een tekst of de lay-out of het ontwerp van een pagina, of een vorm op een pagina,
    op de Diensten.
  %p
    ChefSteps geeft, voor zover wettelijk toegestaan, geen verklaring met betrekking tot, en aanvaardt geen enkele verantwoordelijkheid voor, de kwaliteit, content, aard of betrouwbaarheid van websites van derden die via hyperlinks toegankelijk zijn vanaf
    de Diensten of van websites die naar de Diensten linken. ChefSteps heeft geen zeggenschap over deze sites en is niet verantwoordelijk voor de content van enige gelinkte site, enige link in een gelinkte site, of enige herzieningen, wijzigingen of updates
    van dergelijke sites. Wij bieden deze links uitsluitend voor uw gemak aan, en opname van een link impliceert niet dat wij gelieerd zijn aan enige site of de daarin opgenomen informatie of dat wij die site of informatie goedkeuren of onderschrijven.
    Wanneer u de Diensten verlaat, moet u zich ervan bewust zijn dat onze voorwaarden en ons beleid niet langer van toepassing zijn. U dient kennis te nemen van de toepasselijke voorwaarden en beleidsregels, met inbegrip van hun handelswijze op het gebied
    van privacy en verzameling van gegevens, van elke site waarheen u navigeert vanaf de Diensten.
  %h3 9.	Content van derden; Open Source Software; Interface naar Producten en Diensten van derden
  %p
    Content van derden. Wij kunnen content, advertenties en promoties van derden weergeven via de Diensten (gezamenlijk "
    %strong> Content van derden
    "). Voor zover toegestaan onder toepasselijke wetgeving hebben wij geen zeggenschap over enige Content
    van derden en wordt deze niet door ons onderschreven of goedgekeurd, en wij geven geen verklaringen of garanties van welke aard dan ook met betrekking tot dergelijke Content van derden, met inbegrip van, maar niet beperkt tot, de juistheid of volledigheid
    ervan. U erkent en komt overeen dat uw interacties met derden die Content van derden leveren uitsluitend tussen u en deze derden plaatsvinden en dat ChefSteps op geen enkele wijze verantwoordelijk of aansprakelijk is voor dergelijke interacties of Content
    van derden.
  %p
    Open Source Software. Onze Diensten kunnen ook software van derden bevatten die onderworpen is aan de GNU General Public License ("
    %strong> GPL
    ") of andere open-sourcelicenties ("
    %strong> Open Source Software
    "). De Open Source Software
    is gelicentieerd onder de voorwaarden van de licentie die bij deze Open Source Software wordt geleverd, onder voorbehoud van aanvullende voorwaarden die beschikbaar zijn op
    = succeed "." do
      %a{:href => "https://www.chefsteps.com/libraries"} https://www.ChefSteps.com/libraries
  %p
    Connecten met Producten en Diensten van Derden. ChefSteps kan u toestaan om onze Producten en Diensten (zoals Joule) te gebruiken in combinatie met producten en diensten van derden, zoals Amazon Alexa ("
    %strong> Producten en Diensten van Derden
    ").
    Indien u besluit om onze Producten of Diensten te koppelen met Producten of Diensten van Derden, is uw uitdrukkelijke toestemming en goedkeuring vereist, die u te allen tijde kunt herroepen. Zodra u toestemming geeft om een bepaald Product en Dienst
    van Derden te koppelen met onze Producten of Diensten, komt u overeen dat ChefSteps en de leverancier van het Product en de Dienst van Derden informatie kunnen uitwisselen om de door u goedgekeurde functionaliteit mogelijk te maken. Zodra ChefSteps
    informatie deelt met een leverancier van Producten en Diensten van Derden, wordt het gebruik van deze informatie door de externe leverancier uitsluitend beheerst door haar eigen privacybeleid. U erkent en komt overeen dat ChefSteps geen garantie geeft
    voor, of verklaring aflegt over, de veiligheid van Producten of Diensten van Derden en dat ChefSteps niet verantwoordelijk is voor uw gebruik van Producten of Diensten van Derden, noch voor schade of verliezen die voortvloeien uit of verband houden
    met uw gebruik van Producten of Diensten van Derden. Neem rechtstreeks contact op met externe leveranciers bij vragen over hun Producten en Diensten van Derden.
  %h3 10.	Gebruikersgedrag
  %p
    U komt overeen dat u geen wetten, contracten, intellectuele eigendomsrechten of andere rechten van derden zult schenden, of een onrechtmatige daad zult plegen, en dat u als enige verantwoordelijk bent voor uw gedrag tijdens het toegang zoeken tot of het
    gebruik van de Producten en Diensten. U komt overeen dat u zich aan deze Voorwaarden zult houden en niet:
  %p Treiterend, bedreigend, intimiderend, agressief of stalkgedrag zult vertonen;
  %p Een ander gebruikersaccount zult gebruiken of trachten te gebruiken zonder toestemming van deze gebruiker en ChefSteps;
  %p
    De Producten of Diensten op een manier zal gebruiken die andere gebruikers kan hinderen, storen, negatief kan beïnvloeden of belemmeren om ten volle te genieten van de Producten of Diensten, of die kan leiden tot beschadiging, uitschakeling, overbelasting
    of aantasting van de werking van de Producten of Diensten op enigerlei wijze;
  %p Enig aspect van de Producten of Diensten zult omvormen, met inbegrip van het corrigeren van fouten, zonder de toestemming van ChefSteps;
  %p
    Enig aspect van de Producten of Diensten reverse zal engineeren of iets zult doen waardoor de broncode kan worden ontdekt of maatregelen zult omzeilen die zijn genomen om de toegang tot Materialen of functies of gebieden van de Producten of Diensten te
    verhinderen of te beperken, behoudens voor zover uitdrukkelijk toegestaan onder toepasselijke wetgeving;
  %p Zonder onze voorafgaande schriftelijke toestemming applicaties van derden zult ontwikkelen die interacteren met de Gebruikerscontent of de Producten of Diensten.
  %p
    Enige robot, spider, crawler, scraper, script, browser-extensie, offline reader of andere geautomatiseerde middelen of interface zult gebruiken die niet door ons is goedgekeurd voor het verkrijgen van toegang tot de Producten of Diensten, gegevens zult
    onttrekken of anderszins de levering van Materialen of functionaliteit zult verstoren of wijzigen;
  %p
    De instructies in het robots.txt bestand, waartoe toegang kan worden verkregen op
    = succeed "en" do
      %a{:href => "https://www.chefsteps.com/robots.txt"} https://www.chefsteps.com/robots.txt
  %p De Producten of Diensten voor illegale of ongeoorloofde doeleinden zult gebruiken, of deel zult nemen aan activiteiten die deze Voorwaarden schenden of deze activiteiten zult aanmoedigen of bevorderen.
  %h3 11.	Gebruikerscontent
  %p
    De Diensten kunnen interactieve functies en omgevingen omvatten die gebruikers in staat stellen content te creëren, te posten, te delen of op te slaan, met inbegrip van, maar niet beperkt tot, door de gebruiker gegenereerde content, recepten, recensies,
    foto' s, video' s, muziek, geluid, tekst, grafische afbeeldingen, code, items of andere materialen (gezamenlijk "
    %strong> Gebruikerscontent
    "). In het geval dat u besluit om uw Gebruikerscontent met anderen te delen via de Diensten of platformen
    van derden, begrijpt u dat deze Gebruikerscontent door anderen kan worden bekeken in overeenstemming met de privacyinstellingen die u in uw account instelt.
  %p
    U stemt ermee in dat u als enige verantwoordelijk bent voor uw Gebruikerscontent en voor uw gebruik van interactieve functies en omgevingen van de Diensten. Door het posten, uploaden of anderszins indienen van Gebruikerscontent verklaart en garandeert
    u dat (a) deze Gebruikerscontent niet-vertrouwelijk is; (b) u alle intellectuele eigendomsrechten bezit (of alle noodzakelijke toestemmingen heeft verkregen) om dergelijke content te leveren en de hierin beschreven licenties te verlenen; en (c) de Gebruikerscontent
    geen enkele intellectuele eigendomsrechten of andere eigendomsrechten, waaronder het recht op publiciteit of privacy van een persoon of entiteit, schendt of er inbreuk op maakt.
  %p Door gebruik te maken van de interactieve functies en omgevingen van de Diensten stemt u ermee in om geen van de volgende zaken te creëren, te posten, te delen of op te slaan:
  %p
    Gebruikerscontent die onwettig, lasterlijk, smadelijk, obsceen, pornografisch, onfatsoenlijk, onzedelijk, grof, suggestief, intimiderend, bedreigend, inbreuk makend op privacy- of publiciteitsrechten, beledigend, opruiend, frauduleus of anderszins verwerpelijk
    is;
  %p Gebruikerscontent die bestaat uit instructies, of instructies geeft, voor het plegen van een misdrijf of dit aanmoedigt, de rechten van een partij schendt of anderszins aansprakelijkheid creëert of een lokale, nationale of internationale wet schendt;
  %p Gebruikerscontent die verklaringen, opmerkingen of beweringen bevat of weergeeft die uw eerlijke meningen en ervaringen niet weerspiegelen;
  %p Gebruikerscontent die een persoon of entiteit imiteert of een verkeerde voorstelling geeft van uw banden met die persoon of entiteit;
  %p Gebruikerscontent die verwijst naar of een beeld geeft van ChefSteps of onze Producten, maar geen materiële band met ons openbaar maakt indien u er een heeft (bijvoorbeeld wanneer u een werknemer van ChefSteps bent);
  %p Gebruikerscontent die ongevraagde promoties, politieke campagnes, reclame of verzoeken bevat;
  %p Gebruikerscontent die virussen, beschadigde gegevens of andere schadelijke, storende of destructieve bestanden of inhoud bevat; of
  %p
    Gebruikerscontent die naar ons oordeel verwerpelijk is of die een andere persoon beperkt of verhindert om de Producten of Diensten te gebruiken of ervan te genieten, of die ChefSteps of anderen blootstelt aan enige schade of aansprakelijkheid van welke
    aard dan ook.
  %p
    Wij zijn niet verantwoordelijk of aansprakelijk voor enige Gebruikerscontent. Hoewel wij niet verplicht zijn om Gebruikerscontent te screenen, bewerken of controleren, behouden wij ons het recht voor, en hebben wij de absolute beoordelingsvrijheid, om
    Gebruikerscontent die op de Diensten is geplaatst of opgeslagen te allen tijde en om welke reden dan ook te verwijderen, te screenen of te bewerken, en u bent als enige verantwoordelijk voor het voor uw eigen rekening creëren van reservekopieën en het
    vervangen van Gebruikerscontent die u post of opslaat op de Diensten.
  %h3 12.	Rechten op Gebruikerscontent
  %p
    Tenzij anders bepaald in deze Voorwaarden of in een afzonderlijke overeenkomst, claimen wij geen eigendomsrecht of zeggenschap over uw Gebruikerscontent. Echter, door het uploaden, posten of anderszins indienen van Gebruikerscontent, verleent u ChefSteps
    een niet-exclusief, royalty-vrij, wereldwijd, eeuwigdurend, onherroepelijk, overdraagbaar en volledig sublicentieerbaar recht om deze Gebruikerscontent en uw naam, gelijkenis, stem en persona te gebruiken, te reproduceren, te wijzigen, aan te passen,
    te publiceren, te vertalen, er afgeleide werken van te maken, te distribueren, uit te voeren en weer te geven op de Diensten, op sites en mobiele applicaties van derden en in alle andere media of formats, die hetzij nu bekend zijn of hierna worden ontwikkeld
    voor enig doel, met inbegrip van de commerciële doeleinden van ChefSteps. U geeft daarnaast alle gebruikers van onze Diensten toestemming om toegang te krijgen tot en gebruik te maken van uw Gebruikerscontent in overeenstemming met de meest recente
    versie van de
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"} Creative Commons Attribution- NonCommercial-ShareAlike license
    (BY-NC-SA).
  %h3 13.	Feedback
  %p
    Afzonderlijk en los van Gebruikerscontent, kunt u vragen, opmerkingen, suggesties, ideeën, oorspronkelijke of creatieve materialen of andere informatie over ChefSteps of onze Producten of Diensten (gezamenlijk "
    %strong> Feedback
    ") indienen. Feedback
    is niet-vertrouwelijk en wordt het exclusieve eigendom van ChefSteps. ChefSteps bezit exclusieve rechten, met inbegrip van, maar niet beperkt tot, alle intellectuele eigendomsrechten, in en op deze Feedback en heeft recht op het onbeperkte gebruik en
    verspreiding van deze Feedback voor enig doel, commercieel of anderszins, zonder erkenning of vergoeding aan u.
  %h3 14.	Vrijwaring
  %p
    Voor zover toegestaan door toepasselijke wetgeving, komt u overeen om ChefSteps en onze respectieve voormalige, huidige en toekomstige werknemers, functionarissen, bestuurders, aannemers, consultants, aandeelhouders, leveranciers, dienstverleners, moedermaatschappijen,
    dochterondernemingen, gelieerden, agenten, vertegenwoordigers, voorgangers, opvolgers en rechtverkrijgenden (samen met ChefSteps, de "
    %strong> ChefSteps Partijen
    ") te vrijwaren en te verdedigen tegen alle vorderingen van derden van enigerlei
    aard, voortvloeiende uit onrechtmatige daad, contractbreuk of anderszins (samen "
    %strong> Vorderingen
    "), met inbegrip van schade aan eigendommen of persoonlijk letsel, die voortvloeien uit of verband houden met:
  %p uw toegang tot of gebruik of misbruik van onze Producten, Diensten en Materialen;
  %p alle Gebruikerscontent die u creëert, post, deelt of opslaat op of via onze Diensten of onze pagina's of feeds op social-mediaplatformen van derden;
  %p alle Feedback die u geeft;
  %p uw schending van deze Voorwaarden;
  %p uw schending van de rechten van een derde; of
  %p gebruik of misbruik van de Producten of Diensten door een derde die u machtigt om de aan u geleverde Producten of Diensten te gebruiken.
  %p Deze vrijwaringsverplichting omvat de betaling van de honoraria van de advocaten van de ChefSteps Partijen en andere kosten van onderzoek van en verdediging tegen Vorderingen, alsmede de kosten voor de handhaving van de vrijwaringsverplichting.
  %p
    U komt overeen ChefSteps onmiddellijk op de hoogte te stellen van alle Vorderingen van derden en samen te werken met de ChefSteps Partijen bij het verweer tegen deze Vorderingen. U komt voorts overeen dat de ChefSteps Partijen zeggenschap hebben over
    het verweer of schikking van Vorderingen van derden. Deze vrijwaring is een aanvulling op, en geen vervanging van, andere vrijwaringen die in een schriftelijke overeenkomst tussen u en ChefSteps zijn vastgelegd.
  %h3 15.	Vrijwaring
  %p
    WIJ KUNNEN BELANGRIJKE VEILIGHEIDS- EN GEZONDHEIDSWAARSCHUWINGEN EN -INSTRUCTIES GEVEN DIE U DIENT TE LEZEN VOORDAT U BEPAALDE CHEFSTEPS PRODUCTEN GEBRUIKT EN/OF DEELNEEMT AAN BEPAALDE ACTIVITEITEN OF DIENSTEN. WIJ KUNNEN DEZE WAARSCHUWINGEN EN INSTRUCTIES
    BIJWERKEN OF HERZIEN, DUS BEKIJK ZE REGELMATIG.
  %p
    DE DIENSTEN EN MATERIALEN VAN CHEFSTEPS WORDEN, VOOR ZOVER TOEGESTAAN DOOR DE TOEPASSELIJKE WETGEVING, AANGEBODEN OP EEN "AS IS" EN "BESCHIKBAARHEIDS" BASIS ZONDER ENIGE GARANTIE, UITDRUKKELIJK OF STILZWIJGEND, EN WIJ WIJZEN ALLE ANDERE GARANTIES, UITDRUKKELIJK
    OF STILZWIJGEND, MET INBEGRIP VAN, MAAR NIET BEPERKT TOT, STILZWIJGENDE GARANTIES VAN VERKOOPBAARHEID, GESCHIKTHEID VOOR EEN BEPAALD DOEL, AANSPRAKEN EN NIET-INBREUK, UITDRUKKELIJK VAN DE HAND. WIJ VERKLAREN OF GARANDEREN NIET DAT DE WEBSITES, MOBIELE
    APPLICATIES EN MATERIALEN VAN CHEFSTEPS JUIST, VOLLEDIG, BETROUWBAAR, ACTUEEL OF FOUTVRIJ ZIJN. ONZE WEBSITES, MOBIELE APPLICATIES EN MATERIALEN ZIJN VOORTS (A) UITSLUITEND BESTEMD VOOR INFORMATIEVE DOELEINDEN, (B) VERSTREKT ALS ALGEMEEN ADVIES EN (C)
    NIET BEDOELD ALS VERVANGING VAN PROFESSIONEEL MEDISCH OF VOEDINGSADVIES. HOEWEL WIJ PROBEREN OM UW TOEGANG TOT EN GEBRUIK VAN DE WEBSITES, MOBIELE APPLICATIES EN MATERIALEN VAN CHEFSTEPS VEILIG TE MAKEN, KUNNEN WIJ NIET VERKLAREN OF GARANDEREN EN VERKLAREN
    OF GARANDEREN WIJ NIET DAT ZIJ OF ONZE SERVERS VRIJ ZIJN VAN VIRUSSEN OF ANDERE SCHADELIJKE COMPONENTEN; U DIENT DERHALVE GEBRUIK TE MAKEN VAN ERKENDE SOFTWARE VOOR HET OPSPOREN VAN VIRUSSEN IN EN HET BESCHERMEN TEGEN VIRUSSEN VAN ELKE DOWNLOAD.
  %p
    U BENT ALS ENIGE VERANTWOORDELIJK VOOR HET NAAR BEHOREN EN VEILIG WASSEN, VERWERKEN, BEREIDEN, BEWAREN, KOKEN, GEBRUIKEN EN CONSUMEREN VAN VOEDSEL. DE KOOKINSTRUCTIES EN AANWIJZINGEN VAN CHEFSTEPS WORDEN UITSLUITEND ALS RICHTLIJNEN AANGEBODEN. GA AF OP
    UW EIGEN GEZONDE OORDEEL BIJ HET BEREIDEN OF CONSUMEREN VAN VOEDSEL. HET CONSUMEREN VAN RAUW VLEES OF TE WEINIG DOORBAKKEN VLEES, GEVOGELTE, SCHAAL- EN SCHELPDIEREN OF EIEREN KAN UW RISICO OP DOOR VOEDSEL OVERGEDRAGEN ZIEKTES VERHOGEN, EN EEN DERGELIJKE
    CONSUMPTIE DIENT NAAR UW EIGEN GOEDDUNKEN TE GESCHIEDEN. WIJ WIJZEN UITDRUKKELIJK DE VERANTWOORDELIJKHEID AF VOOR ELK NADELIG EFFECT DAT KAN VOORTVLOEIEN UIT UW GEBRUIK OF TOEPASSING VAN INFORMATIE DIE VIA DE DIENSTEN WORDT VERSTREKT.
  %p
    CHEFSTEPS GEEFT GEEN GARANTIE OP PRODUCTEN DIE DOOR ANDERE ENTITEITEN WORDEN VERVAARDIGD, OOK AL KOOPT U ZE VIA ONZE DIENSTEN. PRODUCTEN DIE DOOR ANDERE ENTITEITEN WORDEN GEPRODUCEERD MAAR VIA ONZE DIENSTEN WORDEN VERKOCHT, WORDEN VERKOCHT DOOR CHEFSTEPS
    "AS IS" EN "MET ALLE GEBREKEN". CHEFSTEPS WIJST ALLE STILZWIJGENDE GARANTIES VOOR DERGELIJKE PRODUCTEN VAN DE HAND, INCLUSIEF DE STILZWIJGENDE GARANTIE VAN VERKOOPBAARHEID, GESCHIKTHEID VOOR EEN BEPAALD DOEL, AANSPRAKEN EN NIET-INBREUK. CHEFSTEPS GARANDEERT
    GEEN ENKELE KWALITEIT OF EIGENSCHAP VAN PRODUCTEN DIE WIJ NIET PRODUCEREN. TENZIJ DE FABRIKANT EEN GARANTIE VERSTREKT, IS HET VOLLEDIGE RISICO MET BETREKKING TOT DE KWALITEIT EN PRESTATIES VAN DERGELIJKE PRODUCTEN VOOR UW REKENING ALS KOPER, EN ZIJN
    DE VOLLEDIGE KOSTEN VAN EVENTUELE NOODZAKELIJKE VERVANGING OF REPARATIE VOOR UW REKENING EN NIET VOOR REKENING VAN CHEFSTEPS.
  %p FABRIKANTEN VAN PRODUCTEN DIE DOOR CHEFSTEPS WORDEN VERKOCHT, KUNNEN HUN EIGEN GARANTIES GEVEN EN U KOMT OVEREEN DAT UW VERHAAL VOOR ALLE DEFECTEN IN DEZE PRODUCTEN UITSLUITEND GEBASEERD ZAL ZIJN OP DE EVENTUELE GARANTIES VAN DEZE FABRIKANTEN.
  %h3 16.	Beperking van aansprakelijkheid; Ontheffing
  %p
    VOOR ZOVER NAAR TOEPASSELIJK RECHT IS TOEGESTAAN: A) ZAL CHEFSTEPS OF EEN VAN DE ANDERE CHEFSTEPS PARTIJEN IN GEEN GEVAL AANSPRAKELIJK ZIJN VOOR ENIGE INDIRECTE, BIJZONDERE, INCIDENTELE OF GEVOLGSCHADE VAN ENIGERLEI AARD (MET INBEGRIP VAN, MAAR NIET BEPERKT
    TOT, VERLIES VAN OMZET, INKOMEN OF WINST, VERLIES VAN GEBRUIK OF GEGEVENS, VERLIES OF WAARDEVERMINDERING VAN ACTIVA OF EFFECTEN, OF SCHADE DOOR BEDRIJFSONDERBREKING) DIE VOORTVLOEIT UIT OF OP ENIGERLEI WIJZE VERBAND HOUDT MET DE TOEGANG TOT OF HET GEBRUIK
    VAN DE DIENSTEN OF DE MATERIALEN OF ANDERSZINS VERBAND HOUDT MET DEZE VOORWAARDEN (MET INBEGRIP VAN, MAAR NIET BEPERKT TOT, ALLE SCHADE VEROORZAAKT DOOR OF ALS GEVOLG VAN HET VERTROUWEN VAN EEN GEBRUIKER OP ENIGE INFORMATIE VERKREGEN UIT CHEFSTEPS,
    OF ALS GEVOLG VAN FOUTEN, OMISSIES, ONDERBREKINGEN, VERWIJDERING VAN BESTANDEN OF E-MAILS, FOUTEN, DEFECTEN, BUGS, VIRUSSEN, “TROJAN HORSES”, VERTRAGINGEN IN DE WERKING OF VERZENDING OF ENIGE TEKORTKOMING IN DE UITVOERING, AL DAN NIET ALS GEVOLG VAN
    OVERMACHT, FALEN VAN DE COMMUNICATIE, DIEFSTAL, VERNIETIGING OF ONGEOORLOOFDE TOEGANG TOT CHEFSTEPS' DOSSIERS, PROGRAMMA'S OF SYSTEMEN), ONGEACHT DE VORM VAN DE ACTIE, HETZIJ VOORTVLOEIENDE UIT CONTRACTBREUK OF ONRECHTMATIGE DAAD (MET INBEGRIP VAN,
    MAAR NIET BEPERKT TOT, EENVOUDIGE NALATIGHEID, ACTIEF, PASSIEF OF TOEREKENBAAR), STRIKTE PRODUCTAANSPRAKELIJKHEID OF ENIGE ANDERE RECHTS- OF BILLIJKHEIDSTHEORIE (OOK AL IS DE PARTIJ OP DE HOOGTE GEBRACHT VAN DE MOGELIJKHEID VAN EEN DERGELIJK SCHADE
    EN ONGEACHT OF EEN DERGELIJKE SCHADE HAD KUNNEN WORDEN VOORZIEN); EN B) IN GEEN GEVAL ZAL DE TOTALE AANSPRAKELIJKHEID VAN CHEFSTEPS EN CHEFSTEPS PARTIJEN (GEZAMENLIJK), HETZIJ IN VERBAND MET CONTRACTBREUK, EEN GARANTIE, ONRECHTMATIGE DAAD (MET INBEGRIP
    VAN NALATIGHEID, ACTIEVE, PASSIEVE OF TOEGEREKENDE NALATIGHEID), PRODUCTAANSPRAKELIJKHEID, RISICOAANSPRAKELIJKHEID OF ANDERE THEORIE, VOORTVLOEIEND UIT OF IN VERBAND MET HET GEBRUIK VAN OF DE ONMOGELIJKHEID OM DE DIENSTEN TE GEBRUIKEN, MET INBEGRIP
    VAN MATERIALEN EN FUNCTIES DIE DAARIN ZIJN OPGENOMEN, IN GEEN GEVAL HOGER ZIJN DAN ENIGE VERGOEDING DIE AAN ONS IS BETAALD VOOR UW TOEGANG TOT OF UW GEBRUIK VAN DE PRODUCTEN OF DIENSTEN.
  %p
    VOOR ZOVER NAAR TOEPASSELIJK RECHT IS TOEGESTAAN ONTHEFT EN ONTSLAAT U HIERBIJ NAMENS UW ERFGENAMEN, EXECUTEURS, BEHEERDERS, WETTELIJKE EN PERSOONLIJKE VERTEGENWOORDIGERS, DE CHEFSTEPS PARTIJEN VAN ALLE VORDERINGEN DIE VOORTVLOEIEN UIT OF VERBAND HOUDEN
    MET DEZE VOORWAARDEN. INDIEN U EEN INGEZETENE VAN CALIFORNIË BENT, DOET U HIERBIJ AFSTAND VAN ARTIKEL 1542 VAN HET BURGERLIJK WETBOEK VAN CALIFORNIË IN VERBAND MET HET VOORGAANDE, WAARIN HET VOLGENDE WORDT BEPAALD: "EEN ALGEMENE ONTHEFFING STREKT ZICH
    NIET UIT TOT VORDERINGEN WAARVAN DE SCHULDEISER NIET WEET OF VERMOEDT DAT DEZE IN ZIJN OF HAAR VOORDEEL BESTAAN OP HET MOMENT VAN DE VERLENING VAN DE ONTHEFFING, EN DIE, INDIEN DEZE BIJ HEM OF HAAR BEKEND WAREN, ZIJN OF HAAR SCHIKKING MET DE SCHULDENAAR
    WEZENLIJK MOETEN HEBBEN BEÏNVLOED." U DOET HIERBIJ AFSTAND VAN ELKE SOORTGELIJKE BEPALING IN EEN ANDER RECHTSGEBIED.
  %p
    DE IN DIT ARTIKEL 16 UITEENGEZETTE BEPERKINGEN ZULLEN DE AANSPRAKELIJKHEID VOOR DOOD, LICHAMELIJK LETSEL OF MATERIËLE SCHADE VEROORZAAKT DOOR PRODUCTEN OF DIENSTEN DIE U VAN ONS KOOPT, OF VOOR ONZE FRAUDE, GROVE NALATIGHEID OF OPZETTELIJK, KWAADWILLIG
    OF ROEKELOOS WANGEDRAG NIET BEPERKEN OF UITSLUITEN.
  %h3 17.	Wijzigingen van de Diensten
  %p
    Wij behouden ons het recht voor om naar eigen goeddunken alle Materialen te wijzigen en om de toegang tot de Diensten (of enige functies of functionaliteit van de Diensten) op elk moment te wijzigen, op te schorten of stop te zetten zonder kennisgeving
    en zonder verplichting of aansprakelijkheid jegens u. U heeft ook het recht om de Diensten geheel of gedeeltelijk niet te gebruiken, of deze overeenkomst op elk moment te beëindigen.
  %h3 18.	Geschillenbeslechting; Arbitrage
  %p WIJ VERZOEKEN U DE VOLGENDE PARAGRAAF AANDACHTIG DOOR TE LEZEN, OMDAT DEZE VEREIST DAT U BEPAALDE GESCHILLEN MET EN VORDERINGEN OP CHEFSTEPS AAN ARBITRAGE ONDERWERPT EN DE WIJZE WAAROP U VERHAAL OP ONS KUNT HALEN BEPERKT.
  %h4 18.1.	Bindende arbitrage
  %p
    Met uitzondering van alle geschillen, vorderingen, acties, rechtszaken, rechtsvorderingen, vorderingen of procedures (gezamenlijk "
    %strong> Geschillen
    ") die voortvloeien uit of verband houden met een schending van artikel 10 of Geschillen waarin
    een van de partijen een individuele rechtsvordering instelt voor een lagere rechtbank of een rechterlijk bevel of andere billijke voorziening vordert voor het vermeende onrechtmatige gebruik van intellectueel eigendom, met inbegrip van, maar niet beperkt
    tot, auteursrechten, handelsmerken, handelsnamen, logo' s, handelsgeheimen of octrooien, komen u en ChefSteps overeen (a) afstand te doen van uw en ChefSteps' respectieve rechten om alle Geschillen die voortvloeien uit of verband houden met deze Voorwaarden,
    of de Diensten, Materialen of Producten te laten beslechten door een rechter, en (b) afstand te doen van uw en ChefSteps' respectieve rechten op juryrechtspraak. U en ChefSteps komen in plaats daarvan overeen om Geschillen te beslechten door middel
    van bindende arbitrage (dat wil zeggen dat een Geschil wordt voorgelegd aan één of meer personen die belast zijn met de behandeling van het Geschil en een definitieve en bindende beslissing dienen te nemen ter beslechting van het Geschil in plaats van
    het geschil te laten beslechten door een rechter of jury in een rechtbank).
  %h4 18.2.	Geen collectieve arbitrages, collectieve acties of acties door belangenbehartigers
  %p
    U en ChefSteps komen overeen dat elk Geschil dat voortvloeit uit of verband houdt met deze Voorwaarden, de Diensten, Producten of Materialen persoonlijk is voor u en ChefSteps en dat een dergelijk Geschil uitsluitend zal worden beslecht middels individuele
    arbitrage en niet de vorm zal aannemen van een collectieve arbitrage, een collectieve actie of een andere vorm van een procedure gevoerd door belangenbehartigers. U en ChefSteps komen overeen dat er geen sprake zal zijn van collectieve arbitrage en
    geen arbitrage waarbij een persoon probeert een Geschil te laten beslechten als vertegenwoordiger van een andere persoon of groep van personen. U en ChefSteps komen voorts overeen dat een Geschil niet kan worden voorgelegd in een collectieve actie of
    een andere vorm van een procedure gevoerd door belangenbehartigers, hetzij binnen of buiten arbitrage, hetzij namens een andere persoon of groep personen.
  %h4 18.3.	Federale arbitragewet
  %p
    U en ChefSteps komen overeen dat deze Voorwaarden van invloed zijn op de interstatelijke handel en dat de afdwingbaarheid van dit artikel 18 zowel materieel als procedureel wordt beheerst door en wordt geïnterpreteerd en afgedwongen in overeenstemming
    met de Federal Arbitration Act, 9 U.S.C. § 1 e.v. (de "
    %strong> FAA
    "), voor zover maximaal toegestaan naar toepasselijk recht.
  %h4 18.4.	Kennisgeving; Informele geschillenbeslechting
  %p
    U en ChefSteps komen overeen dat elke partij de andere partij binnen dertig (30) dagen na de datum waarop zich een Geschil voordoet, dat voor arbitrage of behandeling in een lagere rechtbank in aanmerking komt, schriftelijk in kennis zal stellen van dat
    Geschil, zodat de partijen te goeder trouw kunnen trachten het Geschil op een informele wijze op te lossen. De kennisgeving aan ChefSteps dient elektronisch te worden verzonden naar
    = succeed "." do
      %a{:href => "mailto:disputes@chefsteps.com"} disputes@chefsteps.com
  %h4 18.5.	Proces
  %p
    Met uitzondering van Geschillen die voortvloeien uit of verband houden met een schending van artikel 10 of Geschillen waarin één van de partijen een individuele rechtsvordering instelt bij een lagere rechtbank of een voorlopige of andere gerechtelijke
    maatregel instelt tegen het vermeende onrechtmatige gebruik van intellectueel eigendom, met inbegrip van, maar niet beperkt tot, auteursrechten, handelsmerken, handelsnamen, logo' s, handelsgeheimen of octrooien, komen u en ChefSteps overeen dat (a)
    elke arbitrage zal plaatsvinden in King County, Washington, (b) arbitrage vertrouwelijk zal worden gevoerd door één arbiter overeenkomstig de regels van de
    %em Justicial Arbitration and Mediation Services
    ("
    %strong> JAMS
    "), die hierin middels
    verwijzing zijn opgenomen, en c) dat de staats- of federale rechtbanken van respectievelijk de staat Washington en de Verenigde Staten, die zitting hebben in King County, Washington, exclusieve bevoegdheid hebben met betrekking tot procedures in hoger
    beroep en de tenuitvoerlegging van een arbitraal vonnis. U kunt het Geschil ook aanhangig maken voor lagere rechtbanken in de stad van uw factuuradres indien het Geschil voldoet aan de vereisten om te worden voorgelegd aan een lagere rechtbank.
  %h4 18.6.	Bevoegdheid van de arbiter
  %p
    Zoals beperkt door de FAA, deze Voorwaarden en de toepasselijke JAMS-regels, zal de arbiter (a) de exclusieve bevoegdheid hebben om alle procedurele en inhoudelijke beslissingen te nemen met betrekking tot een Geschil, met inbegrip van de vaststelling
    of een Geschil in aanmerking komt voor beslechting doormiddel van arbitrage, en (b) de bevoegdheid om alle rechtsmiddelen toe te kennen die anders voor de rechter beschikbaar zouden zijn; echter met dien verstande dat de arbiter niet de bevoegdheid
    heeft om een collectieve arbitrage of een actie door een belangenbehartiger te behandelen, hetgeen uit hoofde van deze Voorwaarden verboden is. De arbiter mag slechts een individuele arbitrage ten uitvoer brengen en niet meer dan de vorderingen van
    één persoon consolideren, en mag niet als voorzitter optreden in enige collectieve actie of actie door belangenbehartigers of als voorzitter in een procedure waarbij meer dan één persoon betrokken is.
  %h4 18.7.	Regels van JAMS
  %p
    De regels van JAMS en aanvullende informatie over JAMS is beschikbaar op de JAMS-website. Door in te stemmen gebonden te zijn door deze Voorwaarden (a) erkent u en komt u overeen dat u de regels van JAMS heeft gelezen en begrijpt, of (b) doet u afstand
    van de gelegenheid om de regels van JAMS te lezen en doet u afstand van elke vordering dat de regels van JAMS oneerlijk zijn of om welke reden dan ook niet van toepassing zouden mogen zijn.
  %h4 18.8.	Scheidbaarheid
  %p
    Indien een voorwaarde, clausule of bepaling van dit artikel 18 ongeldig of niet-afdwingbaar wordt geacht, zal deze als zodanig worden beschouwd beperkt tot het minimum dat wettelijk vereist is, en blijven alle andere voorwaarden, clausules en bepalingen
    van dit artikel 18 geldig en afdwingbaar. Voorts zijn de in artikel 18.2 beschreven verklaringen van afstand scheidbaar van de andere bepalingen van deze Voorwaarden en blijven zij geldig en afdwingbaar, tenzij verboden naar toepasselijk recht.
  %h3 19.	Toepasselijk recht en rechtbank
  %p
    Deze Voorwaarden en uw toegang tot en gebruik van de Producten en Diensten worden beheerst door en geïnterpreteerd en afgedwongen in overeenstemming met de wetten van de staat Washington, zonder rekening te houden met collisieregels of -principes (hetzij
    van de staat Washington, hetzij van enig andere jurisdictie) die tot de toepassing van de wetten van enig ander rechtsgebied zouden leiden. Elk Geschil tussen de partijen dat niet kan worden onderworpen aan arbitrage of niet aan een lagere rechtbank
    kan worden voorgelegd, wordt beslecht in de staats- of federale rechtbanken van respectievelijk de staat Washington en de Verenigde Staten, die zitting hebben in King County, Washington.
  %h3 20.	Beëindiging
  %p
    Niettegenstaande alles wat in deze Voorwaarden is opgenomen en voor zover toegestaan naar het toepasselijk recht, behouden wij ons het recht voor om zonder voorafgaande kennisgeving en naar eigen goeddunken uw recht op toegang tot of uw gebruik van de
    Diensten te beëindigen en om uw toekomstige toegang tot en uw gebruik van de Diensten te blokkeren of te verhinderen. Indien u een Product dat is gekoppeld aan onze Diensten, zoals Joule, aan een nieuwe eigenaar overdraagt, eindigt automatisch uw recht
    om de Diensten met betrekking tot dat Product te gebruiken, en de nieuwe eigenaar heeft niet het recht om de Diensten onder uw account te gebruiken en dient zich te registreren voor een apart account bij ChefSteps.
  %h3 21.	Scheidbaarheid
  %p
    Indien enige voorwaarde, clausule of bepaling van deze Voorwaarden ongeldig of niet-afdwingbaar wordt geacht, dan zal die voorwaarde, clausule of bepaling van deze Voorwaarden gescheiden worden en zal dit geen invloed hebben op de geldigheid of afdwingbaarheid
    van enig overblijvend deel van die voorwaarde, clausule of bepaling, of enige andere voorwaarde, clausule of bepaling van deze Voorwaarden.
  %h3 22.	Overleving
  %p
    De volgende artikelen blijven na afloop of beëindiging van deze Voorwaarden en de beëindiging van uw ChefSteps account van kracht: alle gedefinieerde termen en artikelen 1, 2, 3, 4, 5 (alleen de eerste paragraaf), 6, 7, 8 (alleen de tweede paragraaf),
    9 tot en met 23.
  %h3 23.	Openbaarmakingen in Californië
  %p
    Indien u woonachtig bent in Californië, kunt u klachten melden bij de divisie
    %em Consumer Assistance
    van de
    %em Consumer Information Division
    van het
    %em California Department of Consumer Affairs
    door schriftelijk contact met de divisie
    op te nemen op het adres 1625 North Market Blvd., Suite N 112, Sacramento, CA 95834, of telefonisch op nummer (800) 952‑5210.
  %h3 24.	Vragen
  %p
    Indien u vragen heeft over deze Voorwaarden of onze Producten of Diensten, dan kunt u contact met ons opnemen via
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
