#terms
  %h3 CHEFSTEPS TERMS OF USE AND SALE
  %p Last Updated: 7/17/2018
  %p
    PLEASE READ THESE TERMS OF USE AND SALE CAREFULLY, INCLUDING THE MANDATORY ARBITRATION PROVISION IN SECTION 18 FOR RESIDENTS OF THE UNITED STATES. IF YOU RESIDE OUTSIDE OF THE UNITED STATES, ADDITIONAL TERMS AND CONDITIONS MAY BE APPLICABLE TO YOU THAT
    EITHER SUPPLEMENT OR REPLACE CERTAIN PROVISIONS IN THESE TERMS OF USE AND SALE. PLEASE REVIEW THE END OF THIS DOCUMENT TO DETERMINE WHETHER ANY ADDITIONAL TERMS AND CONDITIONS APPLY TO YOU.
  %p
    BY CLICKING TO INDICATE YOUR ACCEPTANCE TO THESE TERMS OF USE AND SALE, OR OTHERWISE ACCESSING OR USING OUR PRODUCTS AND SERVICES (DEFINED BELOW), YOU AGREE TO BE BOUND BY THESE TERMS OF USE AND SALE AND ALL TERMS REFERENCED HEREIN. IF YOU DO NOT AGREE
    TO ALL OF THESE TERMS, DO NOT ACCESS, PURCHASE OR USE OUR PRODUCTS OR SERVICES.
  %p
    These Terms of Use and Sale ("
    %strong> Terms
    ") apply to your access to, and use of the Products and Services of ChefSteps, Inc. ("
    %strong> ChefSteps
    ," "
    %strong> we
    ," "
    %strong> us
    ," or "
    %strong> our
    "), a company
    incorporated in the State of Washington, U.S.A. and located at 1501 Pike Place, #300, Seattle, Washington, 98101, with tax identification number
    464326180
    \. The term &#x201C;
    %strong> Products
    \&#x201D; means the hardware and physical devices sold by ChefSteps,
    including the Joule Circulator and the Joule Big Clamp. The term &#x201C;
    %strong> Services
    \&#x201D; refers to our websites, mobile applications, and other online products and services.
  %p
    These Terms do not alter in any way the terms or conditions of any other agreement you may have with us with respect to any Products, Services or otherwise. If you are using the Products or Services on behalf of any entity, you represent and warrant that
    you are authorized to accept these Terms on such entity&#x2019;s behalf and that such entity agrees to be responsible to us if you or such entity violates these Terms.
  %p
    ChefSteps reserves the right to change or modify these Terms at any time and in our sole discretion. If we make changes to these Terms, we will provide notice of such changes, such as by sending an email notification, providing notice through the Services
    or updating the "
    %strong> Last Updated
    " date at the beginning of these Terms. Your continued use of the Services will confirm your acceptance of the revised Terms. We encourage you to frequently review the Terms to ensure you understand the
    terms and conditions that apply when you access or use the Services. If you do not agree to the revised Terms, you may not access or use the Services. Any changes we make will not affect your rights with respect to Products you have already purchased
    or orders you have already placed.
  %h3 1.	Privacy Policy
  %p
    Please refer to our
    %a{:href => "https://www.chefsteps.com/privacy"} Privacy Policy
    for information about how we collect, use and disclose information about you.
  %h3 2.	Additional Terms
  %p
    When you use our Products and Services, your use is subject to the applicable terms and conditions for those Products and Services. For example, when you use download, install or otherwise use our mobile applications, your use is subject to our
    %a{:href => "https://www.chefsteps.com/eula"} End User License Agreement
    \. If you wish to sell a Product you purchased from us, you may apply to our certified reseller program to be approved as a
    certified ChefSteps reseller (”Certified Reseller”). If you purchase Products from us or a Certified Reseller, you agree to our
    %a{:href => "https://www.chefsteps.com/joule/warranty"} Limited Warranty
    \.
  %h3 3.	Eligibility; Registration and Account; Required Equipment, ISP and Carrier
  %p
    Eligibility. The Services are not targeted toward or intended for use by anyone under the age of 16. In addition, if you are between the ages of 16 and 18 (or between 16 and the age of legal majority under applicable law), you may only use the Services under the supervision of a parent or legal guardian who agrees to be bound by these Terms. By using the Services, you represent and warrant that you (a) have not been previously suspended or removed from the Services, or engaged in any activity that
    could result in suspension or removal from the Services, and (b) have full power and authority to enter into these Terms and that in so doing, will not violate any other agreement to which you are a party.
  %p
    Registration and Account. In order to access and use certain areas or features of the Services, you will need to register for a ChefSteps account and/or create a profile. When registering for an account, you cannot create an account name that incorporates
    a trademark without authorization from the trademark owner. We reserve the right to reclaim account names on behalf of any business or individual that holds legal claim, including trademark rights, in those names. By creating an account, you agree to
    (a) provide accurate, current and complete account information, (b) maintain and promptly update your account information from time to time as necessary, (c) maintain the security of your account credentials, (d) be responsible for the acts or omissions
    of any third party you authorize to access or use your account and the Services, and (e) immediately notify us if you discover or otherwise suspect any security breaches related to the Services or your account.
  %p
    Required Equipment, ISP and Carrier. You acknowledge that the availability of certain Services depends on (a) your computer, mobile phone or tablet, home wiring, home Wi-Fi network, Bluetooth connection, and other related equipment (“
    %strong> Equipment
    ”),
    (b) your Internet service provider (“
    %strong> ISP
    ”), and (c) your mobile phone or tablet carrier (“
    %strong> Carrier
    ”). You agree that you are responsible for all fees charged by your ISP and Carrier in connection with your use of the
    Services and that you are responsible for complying with all agreements and other policies of your ISP and Carrier. You further acknowledge and agree that your interactions with your ISP and Carrier are solely between you and such third parties, and
    that ChefSteps is not responsible or liable in any manner for such interactions.
  %h3 4.	Terms of Sale
  %h4 4.1.	Payment and Billing Information
  %p
    By providing a credit card or other payment method that we accept, you represent and warrant that you are authorized to use the designated payment method and that you permit us (or our third-party payment processor) to charge your payment method for the
    total amount of your order (including any applicable Taxes and other charges). If the payment method cannot be verified, is invalid or is otherwise not acceptable, your order may be suspended or canceled. You must resolve any problem we encounter in
    relation to the payment method you select in order to proceed with your order.
  %p
    Our presentation of Products and Services shall not be considered a binding offer, but rather an invitation to place an order. Once you conclude the online purchase process, we will have a binding contract of sale. You may update your cart at any time
    before concluding the online purchase process. We will not proceed with the delivery process until your payment has been received.
  %h4 4.2.	Pricing and Availability
  %p
    All prices are shown in U.S. dollars, unless we are required by law to display prices in the local currency. Prices do not include applicable Taxes (defined below), shipping and handling charges, or other fees, unless we clearly state otherwise or are
    required by law to display prices inclusive of any Taxes, charges and other fees.
  %p
    All Products and Services offered for sale are subject to availability and we reserve the right to impose quantity limits on any order, reject all or any part of an order, and discontinue sales of Products and Services without prior notice. Prices for
    Products and Services are subject to change at any time, but such changes will not affect any order for Products or Services you have already placed.
  %h4 4.3.	Taxes
  %p
    To the fullest extent permitted by applicable law, you are responsible for any sales, use, value-added or other governmental taxes, fees or duties (collectively, "
    %strong> Taxes
    ") due with respect to your purchase and use of Products or Services.
    Orders placed outside the U.S. may incur Taxes as determined by the customs agency within the destination country. Assessment of Taxes is generally based upon the value of the order and the Tax-free threshold (if applicable) for goods imported into
    the destination country. We will collect applicable Taxes if we determine we have a duty to collect Taxes. Please note that we do not collect Taxes on merchandise shipped to jurisdictions in which we do not have substantial nexus. For our U.S. users,
    the actual Taxes charged and collected may differ from the amount shown at checkout. Several factors may cause this difference, such as variances between processor programs and changes in Tax rates.
  %h4 4.4.	Shipping; Risk of Loss
  %p
    You agree to pay any shipping and handling charges shown at the time you make a purchase. We reserve the right to increase, decrease, add or eliminate shipping and handling charges from time to time, but we will provide notice of the charges applicable
    to you before you make your purchase. Any delivery dates or times shown as part of the checkout process are estimates only and are not guaranteed. Unless we state otherwise, risk of loss or damage to a Product passes to you upon delivery of the Product
    to your specified delivery location. If you have any questions or concerns regarding shipping, please contact us at
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com.
  %h4 4.5.	Returns and Refunds
  %p
    ChefSteps Premium Membership. ChefSteps Premium Membership gives you unlimited access to ChefSteps classes and other member-only benefits (for details, see
    = succeed ")." do
      %a{:href => "https://www.chefsteps.com/premium"} https://www.chefsteps.com/premium
  %p
    Products Purchased Directly from ChefSteps. If you reside in the U.S., we accept returns and issue refunds for non-food Products that you purchase directly from us if such Products are returned within 30 days of delivery in an unopened and unused condition.
    Before returning any Product, you must obtain a return authorization from ChefSteps by contacting us at
    %a{:href => "mailto:support@chefsteps.com"} support@chefsteps.com
    and providing the following information: (a) the Product’s serial number; (b) the
    reason for the return; and (c) the original purchase order number. We may charge a 20% restocking fee for any returns that are not made in accordance with these terms. For non-U.S. residents, please see below for the return and refund terms for Products
    purchased from ChefSteps that apply to you based on your country of residence.
  %p
    Third-Party Products Purchased from Third-Party Sellers. We may provide the ability to purchase products from third-party sellers through the Services, in which case, we act as an intermediary only. If you purchase a product from a third-party seller,
    your purchase will be governed by the terms and policies of that third party. We are not the sellers of such products and are not a party to the sale of these products; therefore, we do not make any representations or warranties in terms of that product,
    nor do we accept returns or issue refunds for such products.
  %h4 4.6.	Errors
  %p
    We attempt to be as accurate as possible and to eliminate errors on our Services; however, we do not represent or warrant that the descriptions, pricing or other Product- or Service-related information is accurate, complete, reliable, current or error-free.
    In the event of an error, we reserve the right to correct such error and revise your order accordingly (which includes charging the correct price) or to cancel the order and refund any amount charged.
  %h3 5.	Licenses to Use the Services and Materials
  %p
    Unless otherwise indicated, all content and other materials contained on the Services, including, without limitation, our logos and all designs, text, recipes, ingredient lists, cooking times, videos, graphics, pictures, information, data, software, sound
    files, other files, and the selection and arrangement thereof (collectively, "
    %strong> Materials
    ") are the proprietary property of ChefSteps or our licensors and are protected by national and international copyright, trademark and other intellectual
    property laws.
  %p
    ChefSteps grants you a limited, royalty-free, non-exclusive, non-transferable, non-sublicensable, worldwide license to access and use the Materials made available through the Services for your own personal, non-commercial purposes. Except as expressly
    permitted by law or by ChefSteps in writing, you will not reproduce, redistribute, sell, create derivative works or subsequent versions, decompile, reverse engineer or disassemble our Services (except in cases where you have the right to do so under
    applicable law), nor will you take any measures to interfere with or damage our Services.
  %p
    ChefSteps encourages the use and distribution of certain Materials on the Services, including our recipes, ingredient lists, videos, pictures and User Content (defined in Section 11). Unless otherwise stated, such Materials are made available to you under
    the most recent version of the
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"} Creative Commons Attribution- NonCommercial-ShareAlike license
    (BY-NC-SA). Note that our service names, trademarks, logos and slogans that may
    appear on the Services are not licensed to you under the Creative Commons license.
  %p
    Unless explicitly stated by us, nothing in these Terms shall be construed as conferring any right or license to any patent, trademark, copyright or other proprietary rights of ChefSteps or any third party, whether by estoppel, implication or otherwise.
    The licenses granted herein are revocable at any time.
  %h3 6.	Repeat Infringer Policy; Copyright Complaints
  %p
    In accordance with the Digital Millennium Copyright Act and other applicable laws, we have adopted a policy of limiting access to the Services by or terminating the accounts of users, in appropriate circumstances and in our sole discretion, who infringe
    the intellectual property rights of others. If you believe that anything on the Services infringes any copyright that you own or control, you may file a notification of such infringement with our designated agent as set forth below:
  %p
    Name of Designated Agent: Edward Starbird 
    %br>/
    Address: 1501 Pike Place, #300, Seattle, WA 98101 
    %br>/
    Phone: (206) 905-1099 
    %br>/
    Email:
    %a{:href => "mailto:dmca@chefsteps.com"} dmca@chefsteps.com
  %p
    If you are a resident of the United States, please see 
    %a{:href => "http://www.copyright.gov/title17/92chap5.html#512", :target => "_blank"}> 17 U.S.C. § 512(c)(3) 
    for the requirements of a proper notification. For non-U.S. residents, please see below for any
    jurisdiction specific requirements of a proper notification.
  %p
    You should also note that if you knowingly make any material misrepresentation in your notification that the material or activity is infringing, you will be liable for any damages, including, without limitation, costs and attorney's’ fees, incurred by
    us or the alleged infringer as the result of our relying on such misrepresentation in removing or disabling access to the material or activity claimed to be infringing.
  %h3 7.	Trademarks
  %p
    "
    %strong> ChefSteps
    ," the ChefSteps logo and any other ChefSteps service names, logos or slogans that may appear on the Services may be registered as trademarks of ChefSteps and our suppliers and our licensors and may not be copied, imitated or
    used, in whole or in part, without our or the applicable trademark holder's prior written permission. You may not use any metatags or other "
    %strong> hidden text
    " utilizing "
    %strong> ChefSteps
    " or any other name, trademark or product
    or service name of ChefSteps without our prior written permission. In addition, the look and feel of the Services, including, without limitation, all page headers, custom graphics, button icons and scripts, constitute the service mark, trademark or
    trade dress of ChefSteps and may not be copied, imitated or used, in whole or in part, without our prior written permission. All other trademarks, registered trademarks, product names, and company names or logos mentioned on the Services are the property
    of their respective owners and may not be copied, imitated or used, in whole or in part, without the permission of the applicable trademark holder. Reference to any products, services, processes or other information by name, trademark, manufacturer,
    supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation by ChefSteps.
  %p
    If you believe that anything on the Services infringes on any trademarks which you own or control, you may file a notification of such infringement with our designated agent as set forth in Section 6. A proper notification should contain the same elements
    required for copyright complaints.
  %h3 8.	Hyperlinks
  %p
    You are granted a limited, nonexclusive, nontransferable right to create a text hyperlink to the Services, provided such link does not portray ChefSteps or any of our Services in a false, misleading, derogatory or otherwise defamatory manner, and provided
    further that the linking site does not contain any adult or illegal material or any material that is offensive, harassing or otherwise objectionable. This limited right may be revoked at any time. You may not use a ChefSteps logo or other proprietary
    graphic of ChefSteps to link to the Services without our express written permission. Further, you may not use, frame or utilize framing techniques to enclose any ChefSteps trademark, logo or other proprietary information, including the images found
    on the Services, the content of any text or the layout or design of any page, or form contained on a page, on the Services without our express written consent.
  %p
    To the fullest extent permissible by applicable law, ChefSteps makes no claim or representation regarding, and accepts no responsibility for, the quality, content, nature or reliability of third-party websites accessible by hyperlink from the Services
    or of websites linking to the Services. Such sites are not under our control, and we are not responsible for the contents of any linked site, any link contained in a linked site, or any review, changes or updates to such sites. We provide these links
    to you only as a convenience, and the inclusion of any link does not imply our affiliation, endorsement or adoption of any site or any information contained therein. When you leave the Services, you should be aware that our terms and policies no longer
    govern. You should review the applicable terms and policies, including privacy and data gathering practices, of any site to which you navigate from the Services.
  %h3 9.	Third-Party Content; Open Source Software; Interface to Third-Party Products and Services
  %p
    Third-Party Content. We may display content, advertisements and promotions from third parties through the Services (collectively, "
    %strong> Third-Party Content
    "). To the fullest extent permissible by applicable law, we do not control, endorse
    or adopt any Third-Party Content, and we make no representations or warranties of any kind regarding such Third-Party Content, including, without limitation, regarding its accuracy or completeness. You acknowledge and agree that your interactions with
    third parties providing Third-Party Content are solely between you and such third parties, and that ChefSteps is not responsible or liable in any manner for such interactions or Third-Party Content.
  %p
    Open Source Software. Our Services may also contain third-party software that is subject to the GNU General Public License ("
    %strong> GPL
    ") or other open source licenses ("
    %strong> Open Source Software
    "). The Open Source Software is licensed
    under the terms of the license that accompanies such Open Source Software, subject to additional terms and conditions, available at
    = succeed "." do
      %a{:href => "https://www.chefsteps.com/libraries"} https://www.chefsteps.com/libraries
  %p
    Connecting to Third-Party Products and Services. ChefSteps may allow you to use our Products and Services (such as Joule) in conjunction with third-party products and services, such as Amazon Alexa (“
    %strong> Third-Party Products and Services
    ”).
    If you decide to connect our Products or Services with Third-Party Products and Services, your explicit consent and authorization is required, which is revocable by you at any time. Once you give consent to connect a particular Third-Party Product and
    Service to our Products or Services, you agree that ChefSteps and the provider of the Third-Party Product and Service may exchange information to enable the functionality you authorize. Once ChefSteps shares information with a provider of a Third-Party
    Product and Service, the third-party provider’s use of such information will be governed solely by its own privacy policy. You acknowledge and agree that ChefSteps makes no representation or warranty about the safety of any Third-Party Products or Services
    and ChefSteps is not responsible for your use of any Third-Party Product or Service or any harm or losses arising from or relating to your use of any Third-Party Products or Services. You should contact third-party providers directly with any questions
    about their Third-Party Products and Services.
  %h3 10.	User Conduct
  %p
    You agree that you will not violate any law, contract, intellectual property or other third-party right, or commit a tort, and that you are solely responsible for your conduct while accessing or using the Products and Services. You agree that you will
    abide by these Terms and will not:
  %p Engage in any harassing, threatening, intimidating, predatory or stalking conduct;
  %p Use or attempt to use another user’s account without authorization from such user and ChefSteps;
  %p
    Use the Products or Services in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying the Products or Services, or that could damage, disable, overburden or impair the functioning of the Products or
    Services in any manner;
  %p Transform any aspect of the Products or Services, including the correction of errors, without the authorization from ChefSteps;
  %p
    Reverse engineer any aspect of the Products or Services or do anything that might discover source code or bypass or circumvent measures employed to prevent or limit access to any Materials or features or areas of the Products or Services, except as expressly
    permitted under applicable law;
  %p Develop any third-party applications that interact with User Content or the Products or Services without our prior written consent;
  %p
    Use any robot, spider, crawler, scraper, script, browser extension, offline reader or other automated means or interface not authorized by us to access the Products or Services, extract data or otherwise interfere with or modify the rendering of Materials
    or functionality;
  %p
    Bypass or ignore instructions contained in the robots.txt file, accessible at
    = succeed "," do
      %a{:href => "https://www.chefsteps.com/robots.txt"} https://www.chefsteps.com/robots.txt
  %p Use the Products or Services for any illegal or unauthorized purpose, or engage in, encourage or promote any activity that violates these Terms.
  %h3 11.	User Content
  %p
    The Services may include interactive features and areas that allow users to create, post, share or store content, including, but not limited to, user-generated content, recipes, reviews, photos, videos, music, sound, text, graphics, code, items or other
    materials (collectively, "
    %strong> User Content
    "). In the event that you decide to share your User Content with others through the Services or third-party platforms, you understand that this User Content will be viewable by others in accordance
    with the privacy settings you establish in your account.
  %p
    You agree that you are solely responsible for your User Content and for your use of any interactive features and areas of the Services. By posting, uploading or otherwise submitting User Content, you represent and warrant that (a) such User Content is
    non-confidential; (b) you own all intellectual property rights (or have obtained all necessary permissions) to provide such content and to grant the licenses set forth herein; and (c) the User Content will not violate or infringe any intellectual property
    right or other proprietary right, including the right of publicity or privacy, of any person or entity.
  %p By using the interactive features and areas of the Services, you further agree not to create, post, share or store any of the following:
  %p User Content that is unlawful, libelous, defamatory, obscene, pornographic, indecent, lewd, suggestive, harassing, threatening, invasive of privacy or publicity rights, abusive, inflammatory, fraudulent or otherwise objectionable;
  %p User Content that would constitute, encourage or provide instructions for a criminal offense, violate the rights of any party or otherwise create liability or violate any local, state, national or international law;
  %p User Content that contains or depicts any statements, remarks or claims that do not reflect your honest views and experiences;
  %p User Content that impersonates, or misrepresents your affiliation with, any person or entity;
  %p User Content that references or depicts ChefSteps or our Products or Services but fails to disclose a material connection to us, if you have one (for example, if you are a ChefSteps employee);
  %p User Content that contains any unsolicited promotions, political campaigning, advertising or solicitations;
  %p User Content that contains any viruses, corrupted data or other harmful, disruptive or destructive files or content; or
  %p User Content that, in our sole judgment, is objectionable or that restricts or inhibits any other person from using or enjoying the Products or Services, or that may expose ChefSteps or others to any harm or liability of any type.
  %p
    We are not responsible or liable for any User Content. Although we have no obligation to screen, edit or monitor User Content, we reserve the right, and have absolute discretion, to remove, screen or edit User Content posted or stored on the Services
    at any time and for any reason, and you are solely responsible for creating backup copies of and replacing any User Content you post or store on the Services at your sole cost and expense.
  %h3 12.	Rights in User Content
  %p
    Except as otherwise provided in these Terms or in a separate agreement, we do not claim any ownership or control over your User Content. However, by uploading, posting or otherwise submitting User Content, you grant ChefSteps a non-exclusive, royalty-free,
    worldwide, perpetual, irrevocable, transferable and fully sublicenseable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform and display such User Content and your name, likeness, voice and persona
    on the Services, on third-party sites and mobile applications, and in all other media or formats, whether now known or hereafter developed, for any purpose, including for ChefSteps’ commercial purposes. You further grant all users of our Services permission
    to access and use your User Content in accordance with the most recent version of the
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"} Creative Commons Attribution- NonCommercial-ShareAlike license
    (BY-NC-SA).
  %h3 13.	Feedback
  %p
    Separate and apart from User Content, you can submit questions, comments, suggestions, ideas, original or creative materials or other information about ChefSteps or our Products or Services (collectively, "
    %strong> Feedback
    "). Feedback is non-confidential
    and shall become the sole property of ChefSteps. ChefSteps shall own exclusive rights, including, without limitation, all intellectual property rights, in and to such Feedback and shall be entitled to the unrestricted use and dissemination of this Feedback
    for any purpose, commercial or otherwise, without acknowledgment or compensation to you.
  %h3 14.	Indemnification
  %p
    To the fullest extent permitted by applicable law, you agree to indemnify, defend, and hold harmless ChefSteps and our respective past, present and future employees, officers, directors, contractors, consultants, equity holders, suppliers, vendors, service
    providers, parent companies, subsidiaries, affiliates, agents, representatives, predecessors, successors and assigns (together with ChefSteps, the "
    %strong> ChefSteps Parties
    ") from all third-party claims of any kind, whether in tort, contract
    or otherwise (collectively, "
    %strong> Claims
    "), including damages to property or personal injury, that arise from or relate to:
  %p your access to or use or misuse of our Products, Services and Materials;
  %p any User Content you create, post, share or store on or through our Services or our pages or feeds on third-party social media platforms;
  %p any Feedback you provide;
  %p your violation of these Terms;
  %p your violation of the rights of any third party; or
  %p use or misuse of the Products or Services by any third party you authorize to use the Products or Services provided to you.
  %p This indemnity obligation includes paying for any of the ChefSteps Parties’ attorneys’ fees and other costs of investigating and defending Claims, and the costs of enforcing the indemnity obligation.
  %p
    You agree to promptly notify ChefSteps of any third-party Claims and cooperate with the ChefSteps Parties in defending such Claims. You further agree that the ChefSteps Parties shall have control of the defense or settlement of any third-party Claims.
    This indemnity is in addition to, and not in lieu of, any other indemnities set forth in a written agreement between you and ChefSteps.
  %h3 15.	Disclaimers
  %p
    WE MAY PROVIDE IMPORTANT HEALTH AND SAFETY WARNINGS AND INSTRUCTIONS THAT YOU MUST READ BEFORE USING CERTAIN CHEFSTEPS PRODUCTS AND/OR PARTICIPATING IN CERTAIN ACTIVITIES OR SERVICES. WE MAY UPDATE OR REVISE THESE WARNINGS AND INSTRUCTIONS, SO PLEASE
    REVIEW THEM PERIODICALLY.
  %p
    TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, THE CHEFSTEPS SERVICES AND MATERIALS ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED AND WE EXPRESSLY DISCLAIM ALL OTHER WARRANTIES, EXPRESS
    OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. WE DO NOT REPRESENT OR WARRANT THAT THE CHEFSTEPS WEBSITES, MOBILE APPLICATIONS AND MATERIALS ARE ACCURATE,
    COMPLETE, RELIABLE, CURRENT OR ERROR-FREE. IN ADDITION, OUR WEBSITES, MOBILE APPLICATIONS AND MATERIAL ARE (A) FOR INFORMATIONAL PURPOSES ONLY, (B) PROVIDED AS GENERAL ADVICE AND (C) NOT INTENDED TO BE A SUBSTITUTE FOR PROFESSIONAL MEDICAL OR NUTRITIONAL
    ADVICE. WHILE WE ATTEMPT TO MAKE YOUR ACCESS TO AND USE OF THE CHEFSTEPS WEBSITES, MOBILE APPLICATIONS AND MATERIALS SAFE, WE CANNOT AND DO NOT REPRESENT OR WARRANT THAT THEY OR OUR SERVERS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; THEREFORE,
    YOU SHOULD USE INDUSTRY-RECOGNIZED SOFTWARE TO DETECT AND DISINFECT VIRUSES FROM ANY DOWNLOAD.
  %p
    YOU ARE SOLELY RESPONSIBLE FOR THE PROPER AND SAFE WASHING, HANDLING, PREPARATION, STORAGE, COOKING, USE AND CONSUMPTION OF FOOD. THE COOKING INSTRUCTIONS AND DIRECTIONS PROVIDED BY CHEFSTEPS ARE OFFERED AS GUIDELINES ONLY. USE YOUR BEST JUDGMENT AND
    PROPER DISCRETION WHEN PREPARING OR CONSUMING ANY FOOD. CONSUMING RAW OR UNDERCOOKED MEATS, POULTRY, SEAFOOD, SHELLFISH OR EGGS MAY INCREASE YOUR RISK OF FOODBORNE ILLNESS, AND SUCH CONSUMPTION IS TO BE DONE AT YOUR OWN DISCRETION. WE EXPRESSLY DISCLAIM
    RESPONSIBILITY FOR ANY ADVERSE EFFECT THAT MAY RESULT FROM YOUR USE OR APPLICATION OF INFORMATION PROVIDED THROUGH THE SERVICES.
  %p
    CHEFSTEPS PROVIDES NO WARRANTY ON PRODUCTS THAT ARE MANUFACTURED BY OTHER ENTITIES, EVEN THOUGH YOU MAY PURCHASE THEM THROUGH OUR SERVICES. PRODUCTS MANUFACTURED BY OTHER ENTITIES BUT SOLD THROUGH OUR SERVICES ARE SOLD BY CHEFSTEPS "AS IS" AND "WITH ALL
    FAULTS." CHEFSTEPS DISCLAIMS ALL IMPLIED WARRANTIES FOR SUCH PRODUCTS, INCLUDING THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NONINFRINGEMENT. CHEFSTEPS DOES NOT WARRANT ANY QUALITY OR CHARACTERISTIC OF PRODUCTS
    THAT WE DO NOT MANUFACTURE. UNLESS THE MANUFACTURER PROVIDES A WARRANTY, YOU AS THE BUYER BEAR THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF SUCH PRODUCTS, AND YOU, NOT CHEFSTEPS, ASSUME THE ENTIRE COST OF ANY NECESSARY REPLACEMENT OR REPAIR.
  %p MANUFACTURERS OF PRODUCTS SOLD BY CHEFSTEPS MAY PROVIDE THEIR OWN WARRANTIES AND YOU AGREE THAT YOUR REMEDY FOR ANY DEFECTS IN SUCH PRODUCTS WILL BE BASED SOLELY ON THE WARRANTIES, IF ANY, PROVIDED BY THOSE MANUFACTURERS.
  %h3 16.	Limitation of Liability; Release
  %p
    TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW: (A) IN NO EVENT SHALL CHEFSTEPS OR ANY OF THE OTHER CHEFSTEPS PARTIES BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL DAMAGES OF ANY KIND (INCLUDING, BUT NOT LIMITED TO, LOSS OF REVENUE,
    INCOME OR PROFITS, LOSS OF USE OR DATA, LOSS OR DIMINUTION IN VALUE OF ASSETS OR SECURITIES, OR DAMAGES FOR BUSINESS INTERRUPTION) ARISING OUT OF OR IN ANY WAY RELATED TO THE ACCESS OR USE OF THE SERVICES OR MATERIALS OR OTHERWISE RELATED TO THESE TERMS
    (INCLUDING, BUT NOT LIMITED TO, ANY DAMAGES CAUSED BY OR RESULTING FROM RELIANCE BY ANY USER ON ANY INFORMATION OBTAINED FROM CHEFSTEPS, OR FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETIONS OF FILES OR EMAILS, ERRORS, DEFECTS, BUGS, VIRUSES, TROJAN
    HORSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM ACTS OF GOD OR FORCE MAJEURE, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO CHEFSTEPS’ RECORDS, PROGRAMS OR SYSTEMS), REGARDLESS
    OF THE FORM OF ACTION, WHETHER BASED IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, SIMPLE NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), STRICT PRODUCT LIABILITY OR ANY OTHER LEGAL OR EQUITABLE THEORY (EVEN IF THE PARTY HAS BEEN ADVISED OF THE
    POSSIBILITY OF SUCH DAMAGES AND REGARDLESS OF WHETHER SUCH DAMAGES WERE FORESEEABLE); AND (B) IN NO EVENT SHALL THE AGGREGATE LIABILITY OF CHEFSTEPS AND THE CHEFSTEPS PARTIES (JOINTLY), WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER
    ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY OR OTHER THEORY, ARISING OUT OF OR RELATING TO THE USE OF OR INABILITY TO USE THE SERVICES, INCLUDING MATERIALS AND FUNCTIONS CONTAINED THEREIN, EXCEED ANY COMPENSATION PAID TO US FOR
    YOUR ACCESS TO OR USE OF THE PRODUCTS OR SERVICES.
  %p
    TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, YOU, ON BEHALF OF YOUR HEIRS, EXECUTORS, ADMINISTRATORS, LEGAL AND PERSONAL REPRESENTATIVES, HEREBY RELEASE, WAIVE, AND DISCHARGE THE CHEFSTEPS PARTIES FROM AND AGAINST ANY AND ALL CLAIMS ARISING OUT
    OF OR RELATING TO THESE TERMS. IF YOU ARE A CALIFORNIA RESIDENT, YOU HEREBY WAIVE CALIFORNIA CIVIL CODE SECTION 1542 IN CONNECTION WITH THE FOREGOING, WHICH STATES: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT
    TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.” YOU HEREBY WAIVE ANY SIMILAR PROVISION IN ANY OTHER JURISDICTION.
  %p
    THE LIMITATIONS SET FORTH IN THIS SECTION 16 WILL NOT LIMIT OR EXCLUDE LIABILITY FOR DEATH OR PERSONAL INJURY OR PROPERTY DAMAGE CAUSED BY PRODUCTS OR SERVICES YOU PURCHASE FROM US, OR FOR OUR FRAUD, GROSS NEGLIGENCE, OR INTENTIONAL, WILLFUL, MALICIOUS
    OR RECKLESS MISCONDUCT.
  %h3 17.	Modifications to the Services
  %p
    We reserve the right in our sole discretion to change any and all Materials and to modify, suspend or stop providing access to the Services (or any features or functionality of the Services) at any time without notice and without obligation or liability
    to you. You are also entitled not to use all or part of the Services, or terminate this agreement at any time.
  %h3 18.	Dispute Resolution; Arbitration
  %p PLEASE READ THE FOLLOWING SECTION CAREFULLY BECAUSE IT REQUIRES YOU TO ARBITRATE CERTAIN DISPUTES AND CLAIMS WITH CHEFSTEPS AND LIMITS THE MANNER IN WHICH YOU CAN SEEK RELIEF FROM US.
  %h4 18.1.	Binding Arbitration
  %p
    Except for any disputes, claims, suits, actions, causes of action, demands or proceedings (collectively, "
    %strong> Disputes
    ") arising out of or related to a violation of Section 10 or Disputes in which either party seeks to bring an individual
    action in small claims court or seeks injunctive or other equitable relief for the alleged unlawful use of intellectual property, including, without limitation, copyrights, trademarks, trade names, logos, trade secrets or patents, you and ChefSteps
    agree (a) to waive your and ChefSteps’ respective rights to have any and all Disputes arising from or related to these Terms, or the Services, Materials or Products, resolved in a court, and (b) to waive your and ChefSteps’ respective rights to a jury
    trial. Instead, you and ChefSteps agree to arbitrate Disputes through binding arbitration (which is the referral of a Dispute to one or more persons charged with reviewing the Dispute and making a final and binding determination to resolve it instead
    of having the Dispute decided by a judge or jury in court).
  %h4 18.2.	No Class Arbitrations, Class Actions or Representative Actions
  %p
    You and ChefSteps agree that any Dispute arising out of or related to these Terms, the Services, Products or Materials is personal to you and ChefSteps and that such Dispute will be resolved solely through individual arbitration and will not be brought
    as a class arbitration, class action or any other type of representative proceeding. You and ChefSteps agree that there will be no class arbitration or arbitration in which an individual attempts to resolve a Dispute as a representative of another individual
    or group of individuals. Further, you and ChefSteps agree that a Dispute cannot be brought as a class or other type of representative action, whether within or outside of arbitration, or on behalf of any other individual or group of individuals.
  %h4 18.3.	Federal Arbitration Act
  %p
    You and ChefSteps agree that these Terms affect interstate commerce and that the enforceability of this Section 18 shall be both substantively and procedurally governed by and construed and enforced in accordance with the Federal Arbitration Act, 9 U.S.C.
    § 1 et seq. (the "
    %strong> FAA
    "), to the maximum extent permitted by applicable law.
  %h4 18.4.	Notice; Informal Dispute Resolution
  %p
    You and ChefSteps agree that each party will notify the other party in writing of any arbitrable or small claims Dispute within thirty (30) days of the date it arises, so that the parties can attempt in good faith to resolve the Dispute informally. Notice
    to ChefSteps shall be sent electronically to
    = succeed "." do
      %a{:href => "mailto:disputes@chefsteps.com"} disputes@chefsteps.com
  %h4 18.5.	Process
  %p
    Except for Disputes arising out of or related to a violation of Section 10 or Disputes in which either party seeks to bring an individual action in small claims court or seeks injunctive or other equitable relief for the alleged unlawful use of intellectual
    property, including, without limitation, copyrights, trademarks, trade names, logos, trade secrets or patents, you and ChefSteps agree that (a) any arbitration will occur in King County, Washington, (b) arbitration will be conducted confidentially by
    a single arbitrator in accordance with the rules of the Judicial Arbitration and Mediation Services ("
    %strong> JAMS
    "), which are hereby incorporated by reference, and (c) that the state or federal courts of the State of Washington and the United
    States, respectively, sitting in King County, Washington, have exclusive jurisdiction over any appeals and the enforcement of an arbitration award. You may also litigate a Dispute in the small claims court located in the county of your billing address
    if the Dispute meets the requirements to be heard in small claims court.
  %h4 18.6.	Authority of Arbitrator
  %p
    As limited by the FAA, these Terms and the applicable JAMS rules, the arbitrator will have (a) the exclusive authority and jurisdiction to make all procedural and substantive decisions regarding a Dispute, including the determination of whether a Dispute
    is arbitrable, and (b) the authority to grant any remedy that would otherwise be available in court; provided, however, that the arbitrator does not have the authority to conduct a class arbitration or a representative action, which is prohibited by
    these Terms. The arbitrator may only conduct an individual arbitration and may not consolidate more than one individual’s claims, preside over any type of class or representative proceeding or preside over any proceeding involving more than one individual.
  %h4 18.7.	Rules of JAMS
  %p
    The rules of JAMS and additional information about JAMS are available on the JAMS website. By agreeing to be bound by these Terms, you either (a) acknowledge and agree that you have read and understand the rules of JAMS, or (b) waive your opportunity
    to read the rules of JAMS and any claim that the rules of JAMS are unfair or should not apply for any reason.
  %h4 18.8.	Severability
  %p
    If any term, clause or provision of this Section 18 is held invalid or unenforceable, it will be so held to the minimum extent required by law, and all other terms, clauses and provisions of this Section 18 will remain valid and enforceable. Further,
    the waivers set forth in Section 18.2 are severable from the other provisions of these Terms and will remain valid and enforceable, except as prohibited by applicable law.
  %h3 19.	Governing Law and Venue
  %p
    These Terms and your access to and use of the Products and Services shall be governed by and construed and enforced in accordance with the laws of the State of Washington, without regard to conflict of law rules or principles (whether of the State of
    Washington or any other jurisdiction) that would cause the application of the laws of any other jurisdiction. Any Dispute between the parties that is not subject to arbitration or cannot be heard in small claims court, shall be resolved in the state
    or federal courts of the State of Washington and the United States, respectively, sitting in King County, Washington.
  %h3 20.	Termination
  %p
    Notwithstanding anything contained in these Terms, to the fullest extent permitted by applicable law, we reserve the right, without notice and in our sole discretion, to terminate your right to access or use the Services, and to block or prevent your
    future access to and use of the Services. If you transfer a Product that links to our Services, such as Joule, to a new owner, your right to use the Services with respect to that Product automatically terminates, and the new owner will have no right
    to use the Services under your account and will need to register for a separate account with ChefSteps.
  %h3 21.	Severability
  %p
    If any term, clause or provision of these Terms is held invalid or unenforceable, then that term, clause or provision will be severable from these Terms and will not affect the validity or enforceability of any remaining part of that term, clause or provision,
    or any other term, clause or provision of these Terms.
  %h3 22.	Survival
  %p The following sections will survive the expiration or termination of these Terms and the termination of your ChefSteps account: all defined terms and Sections 1, 2, 3, 4, 5 (first paragraph only), 6, 7, 8 (second paragraph only), 9 through 23.
  %h3 23.	California Disclosures
  %p
    If you are a California resident, you may report complaints to the Consumer Assistance unit of the Consumer Information Division of the California Department of Consumer Affairs by contacting them in writing at 1625 North Market Blvd., Suite N 112, Sacramento,
    CA 95834, or by telephone at (800) 952‑5210.
  %h3 24.	Questions
  %p
    If you have any questions regarding these Terms or our Products or Services, please contact us at
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
