#terms
  %p CHEFSTEPS K&#xC4;YTT&#xD6;- JA MYYNTIEHDOT
  %p P&#xE4;ivitetty viimeksi: 13/1/2017
  %p
    LUE N&#xC4;M&#xC4; K&#xC4;YTT&#xD6;- JA MYYNTIEHDOT HUOLELLISESTI, ERITYISESTI PAKOLLISTA V&#xC4;LIMIESMENETTELY&#xC4; KOSKEVA KOHTA 18, JOKA KOSKEE YHDYSVALTOJEN ASUKKAITA. JOS ASUT YHDYSVALTOJEN ULKOPUOLELLA, SINUA VOI KOSKEA LIS&#xC4;EHDOT, JOTKA JOKO TULEVAT N&#xC4;IDEN K&#xC4;YTT&#xD6;- JA MYYNTIEHTOJEN
    OSAKSI TAI KORVAAVAT N&#xC4;IDEN K&#xC4;YTT&#xD6;- JA MYYNTIEHTOJEN TIETTYJ&#xC4; OSIA. KATSO T&#xC4;M&#xC4;N ASIAKIRJAN LOPUSTA KOSKEVATKO SINUA JOTKIN LIS&#xC4;EHDOT.
  %p
    KUN NAPAUTAT HYV&#xC4;KSYV&#xC4;SI N&#xC4;M&#xC4; K&#xC4;YTT&#xD6;- JA MYYNTIEHDOT, TAI KUN K&#xC4;YT&#xC4;T TUOTTEITAMME JA PALVELUITAMME (M&#xC4;&#xC4;RITELTY ALLA), HYV&#xC4;KSYT N&#xC4;IDEN K&#xC4;YTT&#xD6;- JA MYYNTIEHTOJEN KAIKKINE KOHTINEEN SITOVAN SINUA. JOS ET HYV&#xC4;KSY KAIKKIA N&#xC4;IT&#xC4; EHTOJA, ET VOI K&#xC4;YTT&#xC4;&#xC4; TAI OSTAA
    TUOTTEITAMME TAI PALVELUITAMME.
  %p
    N&#xE4;m&#xE4; K&#xE4;ytt&#xF6;- ja myyntiehdot (
    %strong> "Ehdot"
    ) p&#xE4;tev&#xE4;t ChefStepsin, Inc. (
    %strong> "ChefSteps", "me"
    ) Tuotteiden ja Palveluiden k&#xE4;ytt&#xF6;&#xF6;n. ChefSteps on yhti&#xF6;, jonka kotipaikka on Yhdysvaltojen Washingtonin osavaltiossa, jonka osoite on
    1501 Pike Place, #300, Seattle, Washington, 98101, USA, ja sen veronumero on
    464326180
    \. Termi &#x201C;
    %strong> Tuotteet
    \&#x201D; tarkoittaa ChefStepsin myymi&#xE4; fyysisi&#xE4; laitteita, mukaan lukien Joule Circulator ja Joule Big Clamp. Termi "
    %strong> Palvelut
    "
    tarkoittaa nettisivujamme, mobiilisovelluksiamme sek&#xE4; muita onlinetuotteitamme ja &#x2013;palveluitamme.
  %p
    N&#xE4;m&#xE4; Ehdot eiv&#xE4;t muuta mitenk&#xE4;&#xE4;n muita ehtoja tai sopimuksia, joihin olet sitoutunut koskien muita Tuotteitamme tai Palveluitamme. Jos k&#xE4;yt&#xE4;t Tuotteita tai Palveluita jonkin yhteis&#xF6;n puolesta, vakuutat t&#xE4;ten ett&#xE4; sinulla on valtuudet hyv&#xE4;ksy&#xE4; n&#xE4;m&#xE4; Ehdot
    kyseisen yhteis&#xF6;n puolesta ja ett&#xE4; kyseinen yhteis&#xF6; t&#xE4;ten hyv&#xE4;ksyy olevansa vastuussa meit&#xE4; kohtaan, jos kyseinen yhteis&#xF6; rikkoo n&#xE4;it&#xE4; Ehtoja.
  %p
    ChefSteps pid&#xE4;tt&#xE4;&#xE4; oikeuden muuttaa n&#xE4;it&#xE4; Ehtoja milloin tahansa oman harkintansa mukaan. Jos teemme muutoksia n&#xE4;ihin Ehtoihin, ilmoitamme t&#xE4;llaisista muutoksista esimerkiksi l&#xE4;hett&#xE4;m&#xE4;ll&#xE4; s&#xE4;hk&#xF6;postia, l&#xE4;hett&#xE4;m&#xE4;ll&#xE4; ilmoituksen Palveluiden kautta tai p&#xE4;ivitt&#xE4;m&#xE4;ll&#xE4;
    n&#xE4;iden Ehtojen alussa olevan "
    %strong> P&#xE4;ivitetty viimeksi
    " &#x2013;kohdan. Jatkamalla Palveluiden k&#xE4;ytt&#xF6;&#xE4; hyv&#xE4;ksyt muutetut Ehdot. Pyyd&#xE4;mme sinua tarkistamaan Ehdot s&#xE4;&#xE4;nn&#xF6;llisin v&#xE4;liajoin sen varmistamiseksi, ett&#xE4; ymm&#xE4;rr&#xE4;t kulloinkin voimassa olevat,
    Palveluiden k&#xE4;ytt&#xF6;&#xE4; koskevat s&#xE4;&#xE4;nn&#xF6;t. Jos et hyv&#xE4;ksy muutettuja Ehtoja, et voi k&#xE4;ytt&#xE4;&#xE4; Palveluita. Tekem&#xE4;mme muutokset eiv&#xE4;t vaikuta niihin oikeuksiin, jotka sinulla on suhteessa jo ostamiisi Tuotteisiin tai jo tekemiisi tilauksiin.
  %h3 1.	Tietosuojaseloste
  %p Tietosuojaselosteestamme [insert hyperlink] saat lisätietoja siitä, kuinka keräämme, käytämme ja jaamme sinua koskevia tietoja.
  %h3 2.	Lisäehdot
  %p
    Kun käytät Tuotteitamme ja Palveluitamme, käyttöösi pätevät lisäksi myös kyseisiä Tuotteita ja Palveluita koskevat ehdot. Esimerkiksi kun lataat, asennat tai muuten käytät mobiilisovelluksia, käyttöösi sovelletaan meidän Loppukäyttäjän lisenssisopimustamme
    [insert link]. Jos ostat Tuotteita, hyväksyt meidän Rajoitetun takuun [insert link].
  %h3 3.	Ikäraja; Rekisteröityminen ja Käyttäjätili; Vaadittavat laitteet, internet-palveluntarjoaja ja puhelinoperaattori
  %p
    Ikäraja. Palveluita ei ole osoitettu tai tarkoitettu alle 13-vuotiaiden käytettäväksi. Lisäksi, jos olet 13-18-vuotias (tai yli 13 vuotta mutta nuorempi kuin soveltuvassa lainsäädännössä täysi-ikäisyydelle asetettu ikäraja), voit käyttää Palveluita vain
    vanhemman tai laillisen huoltajan valvonnan alaisena; kyseisen vanhemman tai laillisen huoltajan tulee hyväksyä nämä Ehdot. Käyttämällä Palveluita, hyväksyt ja takaat että (a) sinua ei ole aiemmin kielletty käyttämästä Palveluita eikä Palveluiden käyttöäasi
    ole estetty, etkä ole toiminut tavalla, joka voisi johtaa siihen, että Palveluiden käyttösi keskeytetään tai estetään, ja (b) olet täysivaltainen hyväksymään nämä Ehdot, ja että hyväksymällä Ehdot et tule rikkoneeksi mitään muita sopimuksia, joissa
    olet osapuolena.
  %p
    Rekisteröityminen ja Käyttäjätili. Käyttääksesi Palveluiden tiettyjä alueita tai ominaisuuksia sinun tulee rekisteröityä ChefStepsin käyttäjäksi ja/tai luoda profiili. Kun hankit käyttäjätiliä, et voi käyttää käyttäjänimeä joka sisältää tavaramerkin ilman
    tavaramerkin omistajan lupaa. Pidätämme oikeuden vetää pois käyttäjänimet sellaisten yritysten tai yksityisten henkilöiden puolesta, joilla on laillinen oikeus (mukaan lukien tavaramerkkiin perustuva oikeus) kyseisiin nimiin. Luomalla käyttäjätilin,
    suostut (a) antamaan oikeat, paikkansa pitävät ja täydelliset tilitiedot, (b) pitämään yllä ja päivittämään tilitietojasi silloin tällöin tarpeen mukaan, (c) pitämään käyttäjätunnuksesi turvassa, (d) kantamaan vastuun sellaisen kolmannen osapuolen tekemisistä
    tai laiminlyönneistä, jonka olet valtuuttamaan käyttämään käyttäjätiliäsi ja Palveluita, ja (e) välittömästi ilmoittamaan meille jos huomaat tai epäilet, että Palveluiden tai käyttäjätilisi turvallisuutta on loukattu.
  %p
    Vaadittavat laitteet, internet-palveluntarjoaja ja puhelinoperaattori. Tiedostat, että tiettyjen Palveluiden saatavuus riippuu (a) tietokoneestasi, kännykästäsi tai tabletistasi, kotonasi saatavilla olevista yhteyksistä, kotisi langattomasta nettiyhteydestä,
    Bluetooth-yhteydestä ja muista vastaavista laitteista ("
    %strong> Laitteet
    "), (b) käyttämästäsi internet-palveluntarjoajasta (englanninkielisen termin mukaisesti "
    %strong> ISP
    "), ja (c) puhelinoperaattoristasi ("
    %strong> Operaattori
    "),
    joka tarjoaa yhteyden kännykkääsi tai tablettiisi. Hyväksyt olevasi itse vastuussa kaikista niistä maksuista, jotka ISP ja Operaattori veloittavat Palvelujen käytöstäsi, ja että olet velvollinen noudattamaan kaikkia ISP:n ja Operaattorin kanssa tekemiäsi
    sopimuksia ja niiden muita selosteita. Otathan lisäksi huomioon, että ISP:n tai operaattorin ja sinun välillä kanssakäyminen pysyy sinun ja näiden osapuolten välisenä, eikä ChefSteps ole vastuussa millään tapaa tällaisesta kanssakäymisestä.
  %h3 4.	Myyntiehdot
  %h4 4.1.	Maksaminen, laskutustiedot
  %p
    Antamalla meille luottokorttitietosi tai muun hyväksymämme maksuvälineen tiedot takaat ja vakuutat, että sinulla on lupa käyttää kyseistä maksuvälinettä ja sallit meidän (tai käyttämämme maksujenvälitysjärjestelmän) laskuttaa maksuvälineeltäsi tilauksesi
    kokonaissumman (mukaan lukien kaikki soveltuvat Verot ja muut maksut). Jos emme pysty vahvistamaan maksuvälinettäsi, tai maksuväline ei kelpaa, tilauksesi voidaan keskeyttää tai peruuttaa. Tässä tilanteessa sinun tulee selvittää maksuvälinettä koskeva
    ongelma ennen kuin voit jatkaa tilaustasi.
  %p
    Tuotteita ja Palveluita koskeva esittelymme ei ole sitova tarjous, vaan pikemminkin kehotus tehdä tilaus. Sitova kauppasopimus syntyy siinä vaiheessa, kun teet tilauksen verkossa loppuun. Voit päivittää ostoskärryäsi milloin tahansa ennen oston loppuun
    viemistä. Emme lähetä tuotteita ennen kuin olemme vastaanottaneet maksusi.
  %h4 4.2.	Hinnoittelu ja saatavuus
  %p
    Kaikki hinnat näytetään Yhdysvaltain dollareissa, ellei meillä ole laista johtuvaa velvoitetta esittää hinnat paikallisen valuutan mukaisesti. Hinnat eivät sisällä soveltuvia Veroja (määritelty alla), kuljetuksesta aiheutuvia kuluja ja käsittelymaksuja
    tai muita maksuja, ellei toisin ole selkeästi ilmoitettu tai ellei laissa säädetä siitä, että ilmoitettuun hintaan tulee sisältyä kaikki Verot ja muut maksut.
  %p
    Kaikki tarjoamamme Tuotteet ja Palvelut ovat riippuvaisia kunkin hetken saatavuustilanteesta ja pidätämme oikeuden rajoittaa kerrallaan tilattavien tuotteiden määrää, hylätä tilauksen osittain tai kokonaisuudessaan ja lopettaa Tuotteiden tai Palveluiden
    myynnin ilman etukäteistä ilmoitusta. Tuotteiden ja Palveluiden hintoja voidaan muuttaa milloin tahansa, mutta tällaiset muutokset eivät vaikuta jo tilattujen Tuotteiden tai Palveluiden hintaan.
  %h4 4.3.	Verot
  %p
    Maksettavaksesi tulevat kaikki ostoosi ja Tuotteiden ja Palveluiden käyttöön liittyvät verot (mukaan lukien arvonlisävero), maksut ja tullit (yhdessä "
    %strong> Verot
    ") siinä määrin, kuin sovellettava lainsäädäntö tämän sallii. Yhdysvaltojen ulkopuolelta
    tehtyihin tilauksiin voi liittyä veroja, jotka määrittää kohdemaan tulliviranomainen. Verojen määrä perustuu yleensä tilauksen arvoon ja maakohtaiseen tax-free kynnykseen (jos sellaista sovelletaan kyseisessä tapauksessa). Keräämme soveltuvat Verot,
    jos meillä on velvollisuus kyseisessä tapauksessa kerätä Veroja. Huomaathan, että emme kerää Veroja silloin, kun toimitamme tuotteita maihin, joihin meillä ei ole minkäänlaista yhteyttä. Tietona Yhdysvalloissa oleville käyttäjillemme, viimekädessä kerätty
    ja laskutettu Verojen määrä voi erota siitä, mitä ilmoitetaan kassalla. Tämä ero voi johtua useasta eri syystä, kuten esimerkiksi maksujenvälitysjärjestelmien välillä olevista eroista ja muutoksista veroprosenteissa.
  %h4 4.4.	Kuljetus ja tuotteen katoaminen
  %p
    Maksettavaksesi tulevat ostohetkellä ilmoitetut kuljetus- ja käsittelymaksut. Pidätämme oikeuden muuttaa, lisätä tai poistaa kuljetus- ja käsittelymaksuja välillä, mutta ilmoitamme tällaisista soveltuvista muutoksista sinulle ennen kuin teet ostoksesi.
    Maksamisen yhteydessä ilmoitetut toimitusajat ja –päivämäärät ovat arvioita emmekä voi taata niiden toteutumista. Ellei toisin mainita, riski Tuotteiden katoamisesta tai vahingoittumisesta siirtyy sinulle siinä vaiheessa, kun Tuote on toimitettu valitsemaasi
    toimituspaikkaan. Jos sinulla on kysymyksiä liittyen kuljetukseen, ota yhteyttä osoitteeseen
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com.
  %h4 4.5.	Palautukset ja hyvitykset
  %p
    ChefSteps Premium -jäsenyys. ChefSteps Premium –jäsenyys antaa sinulle rajoittamattoman pääsyn ChefStepsin kursseille sekä muihin jäsenille varattuihin etuihin (lisätietoja löytyy osoitteesta
    = succeed ")." do
      %a{:href => "https://www.chefsteps.com/premium"} https://www.chefsteps.com/premium
  %p
    Suoraan ChefStepsiltä ostetut Tuotteet. Jos asut Yhdysvalloissa, hyväksymme muiden kuin ruoka-aineiden palautukset ja hyvitämme ne. Tämä koskee meiltä suoraan ostettuja Tuotteita, jos kyseiset tuotteet on palautettu 30 päivän kuluessa toimituksesta avaamattomassa
    ja käyttämättömässä kunnossa. Ennen Tuotteen palautusta sinun tulee hankkia palautusta varten hyväksyntä ChefStepsiltä ottamalla meihin yhteyttä osoitteessa
    %a{:href => "mailto:support@chefsteps.com"} support@chefsteps.com
    ja antamalla meille seuraavat
    tiedot: (a) Tuotteen sarjanumero; (b) palautuksen syy; ja (c) alkuperäisen tilauksen numero. Voimme veloittaa 20 % maksun palautuksista, joita ei ole tehty näiden ohjeiden mukaisesti. Yhdysvaltojen ulkopuolella asuvia henkilöitä koskee alla olevat,
    asuinmaakohtaiset palautus- ja hyvitysehdot.
  %p
    Kolmansilta osapuolilta ostetut kolmansien osapuolien Tuotteet. Saatamme tarjota mahdollisuuden ostaa kolmansien osapuolien myymiä tuotteita Palveluidemme kautta. Tällaisessa tilanteessa toimimme ainoastaan välittäjän roolissa. Jos ostat tuotteet kolmannelta
    osapuolelta, ostokseesi pätevät kyseisen kolmannen osapuolen ehdot ja selosteet. Me emme ole tällaisten tuotteiden myyjiä emmekä ole osapuolena tällaisten tuotteiden myymisessä; näin ollen, emme anna mitään takuita tai vakuutuksia kyseisille tuotteilla,
    emmekä myöskään hyväksy tällaisten tuotteiden palautuksia tai anna niistä hyvityksiä.
  %h4 4.6.	Virheet
  %p
    Yritämme olla mahdollisimman tarkkoja ja pyrimme poistamaan kaikki mahdolliset virheet Palveluissamme. Emme kuitenkaan pysty takaamaan, että Tuotteisiimme ja Palveluihimme liittyvät kuvaukset ja hinnat ovat aina täysin oikeita, luotettavia ja virheettömiä.
    Virheen ilmetessä pidätämme oikeuden korjata kyseinen virhe ja muokata tilaustasi tämän mukaisesti (mukaan lukien oikean hinnan laskuttaminen) tai peruuttaa tilaus ja palauttaa laskutettu summa.
  %h3 5.	Lisenssit Palvelujen ja Materiaalien käyttämiseksi
  %p
    Ellei toisin mainita, kaikki Palveluissamme oleva sisältö ja muu materiaali, mukaan lukien logomme ja kaikki kuvitukset, tekstit, reseptit, ainesosalistat, kokkausajat, videot, grafiikat, kuvat, tiedot, ohjelmistot, äänitiedostot, muut tiedostot sekä
    tapa jolla nämä on järjestetty (yhdessä "Materiaalit") ovat ChefStepsin tai lisenssinantajamme omaisuutta, joita suojaa kansalliset tai kansainväliset tekijänoikeus-, tavaramerkki- tai muut immateriaaliaoikeuksia koskevat lait.
  %p
    ChefSteps tarjoaa sinulle rajoitetun, maksuttoman, ei-yksinomaiset, ei-siirrettävän, ei-alilisensoitavan maailmanlaajuisen lisenssin käyttää Palveluissa saatavilla olevia Materiaaleja omaa henkilökohtaista, ei-kaupallista käyttöäsi varten. Ellei toisin
    laissa tai ChefStepsin antamassa kirjallisessa ilmoituksessa sallita, sinulla ei ole oikeutta kopioida, jakaa edelleen, myydä, muuttaa tai luoda johdannaisteoksia tai myöhempiä versioita, yrittää löytää lähdekoodia tai takaisinmallintaa Palveluitamme
    (paitsi jos soveltuva lainsäädäntö tämän erikseen sallii). Sinulla ei myöskään ole oikeutta millään tapaa häiritä tai vahingoittaa Palveluitamme.
  %p
    ChefSteps kehoittaa käyttämään ja jakamaan tiettyjä Palveluissa olevia Materiaaleja, mukaan lukien reseptit, ainesosalistat, viedot, kuvat ja Käyttäjien luoma sisältö (määritelty Kohdassa 11). Ellei muuta ole mainittu, näihin Materiaaleihin pätee viimeisin
    versio Creative Commonsin BY-NC-SA-lisenssistä (
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"} Creative Commons Attribution- NonCommercial-ShareAlike license
    (BY-NC-SA)). Huomaathan kuitenkin, että palveluidemme nimet,
    tavaramerkit, logot ja sloganit, jotka näkyvät Palveluissa, eivät ole lisensoitu Creative Commons –lisenssillä.
  %p
    Ellei ChefSteps toisin ilmoita, mitään näissä Ehdoissa ei voi tulkita niin, että se myöntäisi implisiittisesti tai muuten (ei myöskään estoppel-teorian alla) oikeuden tai lisenssin ChefStepsin tai kolmannen osapuolen immateriaalioikeuksiin. Tässä myönnetyt
    lisenssit voidaan peruuttaa milloin tahansa.
  %h3 6.	Toistuvaa oikeudenloukkausta koskeva käytäntö; Tekijänoikeuskanteet
  %p
    Digital Millennium Copyright Actin (USA) ja muun soveltuvan lainsäädännön nojalla sovellamme toimintaperiaatetta, jonka mukaan asianmukaisissa olosuhteissa ja yksinomaisella harkinnallamme pääsyä Palveluihin voidaan rajoittaa ja käyttäjätilit lopettaa,
    mikäli toiminta loukkaa kolmannen osapuolen immateriaalioikeutta.  Mikäli mikä tahansa Palveluiden osa käsityksesi mukaan loukkaa omistuksessasi tai hallinnassasi olevaa tekijänoikeutta, voit nostaa kanteen tällaisesta loukkauksesta nimetylle edustajallemme
    alla olevin tiedoin:
  %p Edustajan nimi: Edward Starbird 
  %p Osoite: 1501 Pike Place, #300, Seattle, WA 98101 
  %p Puhelinnumero: (206) 905-1099 
  %p
    Sähköposti:
    %a{:href => "mailto:dmca@chefsteps.com"} dmca@chefsteps.com
  %p
    Mikäli asut Yhdysvalloissa, ole hyvä ja tutustu kohdassa 
    = succeed "esitettyihin" do
      %a{:href => "http://www.copyright.gov/title17/92chap5.html#512", :target => "_blank"} 17 U.S.C. § 512(c)(3) 
  %h3 7.	Tavaramerkit
  %p
    "
    %strong> ChefSteps
    ," ChefSteps liikemerkki ja mikä tahansa muu Palveluiden yhteydessä esiintyvä ChefStepin palvelun nimi, logo tai iskulause on rekisteröitävissä ChefStepin, toimittajamme tai lisenssinantajan tavaramerkkinä ja jonka kopioiminen,
    jäljittely tai käyttö kokonaisuudessaan tai osittain ilman ChefStepin tai kyseisten tavaramerkin haltijan etukäteistä kirjallista lupaa on kielletty. Metatagien tai muiden "piilotettujen tekstien" käyttö hyödyntäen nimeä "ChefSteps" tai mitä tahansa
    muuta ChefStepsin nimeä, tavaramerkkiä, tuotteen tai palvelun nimeä ilman etukäteistä kirjallista lupaamme on kielletty.
  %p
    Lisäksi, Palveluiden ulkoasu ja tuntu sisältäen, mutta rajoittumatta kaikki sivun ylätunnisteet, yksilölliset grafiikat, painikekuvakkeet, kirjoitukset muodostavat ChefStepin palvelumerkin, tavaramerkin tai pakkauksen ja joiden kopioiminen, jäljittely
    tai käyttö kokonaan tai osittain ilman ChefStepin etukäteistä kirjallista lupaa on kielletty.
  %p
    Kaikki muut Palveluiden yhteydessä mainitut tavaramerkit, rekisteröidyt tavaramerkit, tuotenimet ja yrityksen nimet tai liikemerkit ovat omistajiensa yksinomaista omaisuutta, ja näiden kopiointi, jäljittely tai käyttö kokonaan tai osittain ilman kyseisen
    tavaramerkin haltijan etukäteistä kirjallista lupaa on kielletty.
  %p Viittaukset mihin tahansa tuotteeseen, palveluun, menetelmään tai muuhun tietoon nimellä, tavaramerkillä, valmistajalla, toimittajalla tai muutoin eivät perusta tai merkitse Chefstepin tukea, sponsorointia tai suositusta.
  %p
    Mikäli uskot, että jokin Palveluissa loukkaa mitä tahansa tavaramerkkiä omistuksessasi tai hallinnassasi, voit [jättää ilmoituksen] tällaisesta oikeudenloukkauksesta nimetylle edustajallemme kohdassa 6 esitetyn mukaisesti. Asianmukaisen ilmoituksen tulee
    sisältää samat elementit kuin tekijänoikeuden loukkausta koskevien ilmoitusten yhteydessä on vaadittu.
  %h3 8.	Hyperlinkit
  %p
    Sinulle on myönnetty rajoitettu, ei-yksinomainen, ei-siirrettävä oikeus luoda tekstimuotoinen hyperlinkki Palveluihin edellyttäen, ettei kyseinen linkki esitä ChefStepsiä tai mitään muuta Palveluista valheellisella, harhaanjohtavalla, alentavalla tai
    muutoin halventavalla tavalla edellyttäen lisäksi, että linkitetty sivusto ei sisällä aikuisille suunnattua tai laitonta materiaalia tai muutoin loukkaavaa, häiritsevää tai muutoin paheksuttavaa sisältöä. Tämä rajoitettu oikeus on kumottavissa milloin
    tahansa. ChefStepin logoa tai muuta omistamaa grafiikkaa  ei saa käyttää Palveluiden linkittämiseen ilman nimenomaista kirjallista suostumustamme. Lisäksi kehyslinkittäminen tai kehyslinkitystekniikoiden hyödyntäminen Chefstepin tavaramerkin, liikemerkin
    tai muun omistustiedon, mukaan lukien Palveluista löydetyt kuvat, tekstin sisältö, sivun taitto tai design , tai sivun sisältämä muoto Palveluissa on kielletty ilman nimenomaista kirjallista suostumustamme.
  %p
    Soveltuvan lainsäädännön sallimissa rajoissa ChefStep ei esitä väitettä tai huomautusta eikä miltään osin vastaa kolmannen osapuolen verkkosivuston laadusta, sisällöstä, luonteesta tai luotettavuudesta, johon on pääsy Palveluista hyperlinkin kautta tai
    Palveluihin linkittyvistä verkkosivustoista. Kyseiset sivustot eivät ole hallinnassamme, emmekä ole vastuussa linkitettyjen sivustojen, linkitetyn sivuston sisältämän linkin sisällöstä tai tarkastuksista, muutoksista tai päivityksistä kyseiseen sisältöön.
    Linkit tarjotaan ainoastaan tarkoituksenmukaisuuden vuoksi, eikä linkin sisällyttäminen viittaa kytkökseen, tukeen tai sivuston tai sivustolla esitetyn sisällön hyväksymiseen. Poistuttuasi Palveluistamme käyttöehtomme ja käytäntömme eivät enää sovellu.
    Suosittelemme tarkastamaan kaikkien sivustojen soveltuvat ehdot ja käytännön, mukaan lukien tieto- ja yksityisyydensuojakäytännöt, joille siirryt Palveluistamme.
  %h3 9.	Kolmansien osapuolien tuottama sisältö; Avoimen lähdekoodin ohjelmistot; Käyttöliittymä ulkopuolisille Tuotteille ja Palveluille
  %p
    Kolmansien osapuolien tuottama sisältö. Saatamme näyttä sinulle Palveluissamme kolmansien osapuolien sisältöä, mainoksia tai tarjouksia (yhdessä
    = succeed ")." do
      %strong "Kolmansien osapuolien tuottama sisältö"
  %p
    Avoimen lähdekoodin ohjelmistot. Palvelumme voi myös sisältää kolmansien osapuolien ohjelmistoja, joita koskee GNU General Public License ("
    %strong> GPL
    ") –lisenssi tai jokin muu avoimen lähdekoodin lisenssi ("
    %strong> Avoimen lähdekoodin ohjelmistot
    ").
    Avoimen lähdekoodin ohjelmistot on lisensoitu sen lisenssiohjelman alaisuudessa, joka kyseistä Avoimen lähdekoodin ohjelmistoa koskee, huomioon ottaen kuitenkin lisäehdot, jotka ovat saatavilla osoitteessa
    = succeed "." do
      %a{:href => "https://www.chefsteps.com/libraries"} https://www.chefsteps.com/libraries
  %p
    Kolmansien osapuolien Tuotteiden ja Palveluiden yhdistäminen. ChefSteps voi sallia sinun käyttävän Tuotteitamme ja Palveluitamme (kuten Joulea) yhdistettynä kolmansien osapuolien tuotteisiin ja palveluihin, kuten esimerkiksi Amazonin Alexaan ("
    %strong> Kolmansien osapuolien Tuotteet ja Palvelut
    ").
    Jos päätät yhdistää Tuotteemme tai Palvelumme Kolmansien osapuolien Tuotteisiin tai Palveluihin, vaaditaan tätä varten sinun nimenomainen suostumuksesi ja lupasi, jotka voit perua milloin tahansa. Kun olet antanut suostumuksesi muodostaa yhteys tietyn
    Kolmannen osapuolen Tuotteen tai Palvelun sekä meidän tarjoamamme Tuotteet tai Palvelun välillä, hyväksyt että ChefSteps sekä Kolmannen osapuolen Tuotteen ja Palvelun tarjoaja voivat vaihtaa keskenään tietoja sinusta sen mahdollistamiseksi, että haluamasi
    yhteys toimii. Kun ChefSteps on jakanut tietoja Kolmansien osapuolien Tuotteiden ja Palveluiden tarjoajan kanssa, kolmannen osapuolen palveluntarjoajan näiden tietojen käyttöön pätee vain sen oma tietosuojaseloste. ChefSteps ei anna mitään takuita tai
    vakuutuksia koskien Kolmansien osapuolien Tuotteiden ja Palveluiden turvallisuutta eikä ChefSteps ole vastuussa käyttämistäsi Kolmansien osapuolien Tuotteista ja palveluista tai mistään vahingosta tai menetyksestä, joka aiheutuu tai liittyy käyttämiisiKolmansien
    osapuolien Tuotteisiin ja Palveluihin Jos sinulla on kysymyksiä liittyen Kolmansien osapuolien Tuotteisiin tai Palveluihin, olethan yhteydessä suoraan kyseisten tuotteiden tai palveluiden tarjoajiin.
  %h3 10.	Käyttäjän velvollisuudet
  %p
    Sitoudut olemaan rikkomatta lakia tai sopimuksia tai olemaan loukkaamatta kenenkään immateriaaliaoikeuksia tai muita kolmansien osapuolien oikeuksia, tai aiheuttamaan vahinkoa. Sitoudut siihen, että olet yksin vastuussa Tuotteiden ja Palveluiden käytöstäsi.
    Noudatat näitä Ehtoja ja varsinkin seuraavia kohtia:
  %p Et harjoita häiritsevää, uhkaavaa, uhkailevaa tai vakoilevaa toimintaa;
  %p Et käytä tai yritä käyttää muiden käyttäjien käyttäjätiliä ilman kyseisen käyttäjän ja ChefStepsin lupaa;
  %p
    Et käytä Tuotteita tai Palveluja millään sellaisella tavalla, joka voisi häiritä tai negatiivisesti vaikuttaa tai estää muita käyttäjiä täysimääräisesti nauttimasta Tuotteista tai Palveluista, tai joka voi vahingoittaa, ylikuormittaa tai hankaloittaa
    Tuotteiden tai Palveluiden toimintaa millään tapaa;
  %p Et muuta mitään osaa Tuotteista tai Palveluista, mukaan lukien virheiden korjaaminen, ilman ChefStepsin lupaa;
  %p
    Et yritä takaisinmallintaa mitään osaa Tuotteista tai Palveluista tai tee mitään mikä voisi paljastaa niiden lähdekoodin, etkä yritä kiertää keinoja, joilla on tarkoitettu rajoittaa pääsyä Materiaaleihin tai Tuotteiden tai palveluiden ominaisuuksiin tai
    alueille, paitsi siinä määrin kuin soveltuva laki tämän nimenomaisesti salli;
  %p Et kehitä kolmannen osapuolen sovelluksia jotka ovat yhteydessä Käyttäjien tuottamaan sisältöön tai Tuotteisiin tai Palveluihin ilman etukäteistä kirjallista suostumustamme;
  %p Et käytä teknisiä ja automatisoituja keinoja (kuten erilaiset botit), joita emme ole hyväksyneet, käyttäessäsi Tuotteita ja Palveluita, etkä yritä poistaa tietoja tai muuten puuttua tai muokata Materiaalien toimittamiseen tai niiden toiminnallisuuksiin;
  %p
    Et ohita tai jätä huomiotta ohjeita, jotka annetaan robots.txt -tiedostossa, ja joka on saatavilla osoitteessa
    = succeed "," do
      %a{:href => "https://www.chefsteps.com/robots.txt"} https://www.chefsteps.com/robots.txt
  %p Et käytä Tuotteita ja Palveluita mitään laitonta tai luvatonta tarkoitusta varten, etkä ryhdy toimintaan joka rikkoo näitä Ehtoja.
  %h3 11.	Käyttäjien tuottama Sisältö
  %p
    Palvelut voivat sisältää interaktiivisia ominaisuuksia ja alueita, jotka sallivat käyttäjien luoda, postata, jakaa ja säilyttää sisältöä; tämä viittaa esimerkiksi käyttäjien tuottamaan sisältöön, resepteihin, arvosteluihin, valokuviin, videoihin, musiikkiin,
    ääniin, teksteihin, grafiikkoihin, koodiin tai muihin materiaaleihin (yhdessä "
    %strong> Sisältö
    "). Jos päätät jakaa itse tuottamaasi, edellä mukaisen määritelmän mukaista Sisältöä muiden kanssa Palveluiden tai kolmansien osapuolien foorumien
    kautta, tämä tuottamasi Sisältö on näkyvillä muille sen mukaisesti, mitä olet valinnut käyttäjätilisi yksityisyysasetuksissa.
  %p
    Olet yksin vastuussa tuottamastasi Sisällöstä ja Palveluiden interaktiivisten ominaisuuksien ja alueiden käytöstä. Postaamalla, lataamalla tai muutoin lähettämällä Sisältöä takaat ja vakuutat että (a) kyseinen Sisältö ei sisällä luottamuksellista tietoa;
    (b) omistat itse kaikki immateriaalioikeudet kyseiseen Sisältöön (tai olet hankkinut vaadittavat luvat) kyseisen sisällön jakamiseksi ja täten myönnät niihin lisenssin; ja (c) Sisältö ei riko tai loukkaa immateriaalioikeuksia tai muita oikeuksia, mukaan
    lukien luonnollisille henkilöille ja yhteisöille kuuluva oikeus yksityisyyteen.
  %p Käyttämällä Palveluiden interaktiivisia ominaisuuksia ja alueita sitoudut lisäksi olemaan tuottamatta, postaamatta, jakamatta tai säilyttämättä mitään seuraavista:
  %p Sisältö, joka on laitonta, herjaavaa, halventavaa, säädytöntä, pornografista, epäsopivaa, rivoa, ehdottelevaa, häiritsevää, uhkailevaa, yksityisyyttä häiritsevää, loukkaavaa, yllyttävää, vilpillistä tai muutoin kyseenalaista;
  %p
    Sisältö, joka voidaan katsoa rikokseksi, rikkoo vastoin muiden oikeuksia tai muuten aiheuttaa korvausvelvollisuuden tai rikkoo mitä tahansa kansallista tai kansainvälistä lakia; tai sisältö joka yllyttää tai antaa ohjeita edellä tarkoitettuun toimintaan
    ryhtymiseksi;
  %p Sisältö, joka sisältää tai kuvastaa mitä tahansa lausuntoja, huomautuksia tai väitteitä jotka eivät ole rehellisten mielipiteittesi ja kokemuksiesi mukaisia;
  %p Sisältö, joka imitoi henkilöä tai yhteisöä, tai esittää vääriä tietoja sinun yhteydestäsi johonkin henkilöön tai yhteisöön;
  %p Sisältö, joka viittaa tai kuvaa ChefStepsiä tai Tuotteitamme tai Palveluitamme mutta ei kerro yhteydestä meihin, jos sellainen on olemassa (esimerkiksi jos olet ChefStepsin työntekijä);
  %p Sisältö, joka sisältää kohdentamattomia tarjouksia, poliittista kampanjointia, mainoksia tai tarjouksia;
  %p Sisältö, joka sisältää viiruksia, vioittuneita tietoja tai muuten vahingollista, häiritsevää tai tuhoisaa sisältöä tai kansioita; tai
  %p Sisältö, joka meidän harkintamme mukaan on kyseenalaista tai joka rajoittaa tai estää muita käyttämästä Tuotteita ja Palveluita tai nauttimasta niiden käytöstä, tai joka voi aiheuttaa ChefStepsille tai muille mitä tahansa vahinkoa tai korvausvelvollisuuden.
  %p
    Emme ole vastuussa Sisällöstä emmekä ole sen perusteella korvausvelvollissia.Meillä ei ole velvollisuutta monitoroida, filtteröidä tai muokata Sisältöä. Pidätämme kuitenkin oikeuden harkintavaltamme mukaan poistaa, filtteröidä tai muokata Palveluihin
    tallennettua tai postattua Sisältöä milloin tahansa ja mistä tahansa syystä, ja sinä olet yksin vastuussa omalla kustannuksellasi varmuuskopioiden luomisesta kyseisestä Sisällöstä ja Sisällön uudelleen postaamisesta Palveluihin.
  %h3 12.	Oikeudet käyttäjien tuottamaan Sisältöön
  %p
    Ellei toisin ole määrätty näissä Ehdoissa tai erillisessä sopimuksessa, meillä ei ole omistusoikeutta tai kontrollivaltaa tuottamaasi Sisältöön. Postaamalla, lataamalla tai muuten lähettämällä Sisältöä myönnät kuitenkin ChefStepsille ei-yksinomaisen,
    rojaltivapaan, maailmanlaajuisen, pysyvän, peruuttamattoman, siirrettävän ja vapaasti alilisensoitavan oikeuden käyttää, kopioida, muokata, julkaista, kääntää, luoda johdettuja teoksia, jakaa ja esittää kyseistä Sisältöä ja sinun nimeäsi, kuvaa, ääntä
    ja persoonaa Palveluissa, kolmansien osapuolien sivustoilla ja mobiilisovelluksissa, ja kaikissa muissa (nyt jo tiedossa olevissa tai myöhemmin kehitetyissä) välineissä ja formaateissa mitä tahansa tarkoitusta varten, mukaan lukien ChefStepsin kaupalliset
    tarkoitukset. Lisäksi myönnät kaikille Palveluidemme käyttäjille luvan käyttää Sisältöäsi viimeisimmän Creative Commons –lisenssin ehtojen mukaisesti (
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"} Creative Commons Attribution- NonCommercial-ShareAlike license
    (BY-NC-SA)).
  %h3 13.	Palaute
  %p
    Erillään Sisällöstä, voit lähettää kysymyksiä, kommentteja, ehdotuksia, ideoita, alkuperäistä tai luovaa materiaalia tai muita tietoja ChefStepsistä tai Tuotteistamme tai Palveluistamme (yhdessä "
    %strong> Palaute
    "). Palaute ei ole luottamuksellista
    ja se on ChefStepsin yksinomaista omaisuutta. ChefStepsillä on yksinoikeus kaikkiin immateriaalioikeuksiin tähän Palautteeseen ja sillä on oikeus käyttää ja levittää rajoittamattomasti tätä Palautetta mitä tahansa tarkoitusta (kaupallinen tai muu tarkoitus)
    varten antamatta tästä sinulle tunnustusta tai korvausta.
  %h3 14.	Vastuu vahingoista
  %p
    %strong Vastuu vahingoista.
    Sovellettavan lain sallimassa laajuudessa sitoudut korvaamaan ChefStepsille ja meidän entisille, nykyisille ja tuleville työntekijöille, toimihenkilöille, esimiehille, urakoitsijoille, konsulteille, osakkeenomistajille,
    toimittajille, myyjille, palveluntarjoajille, emoyhtiöille, tytäryhtiöille, osakkuusyhtiöille, asiamiehille, edustajille, edeltäjille, seuraajille ja luovutuksensaajille ("
    %strong> ChefStepsin osapuolet
    ") kolmansilta osapuolilta tulevat vaatimukset,
    olivat ne sitten vahingonkorvauksellisia, sopimuksellisia tai muita (yhdessä "
    %strong> Vaatimukset
    "), mukaan lukien vahingot omaisuudelle tai henkilövahingot, jotka johtuvat tai liittyvät alla oleviin:
  %ul
    %li Tuotteidemme, Palveluidemme ja Materiaaliemme käyttö;
    %li Palveluissamme tai sivustoillamme tai kolmansien osapuolien sosiaalisen median alustoilla kehittämäsi, postaamasi ja jakamasi Sisältö;
    %li Antamasi Palaute;
    %li Näiden Ehtojen rikkominen;
    %li Jos rikot vastoin kolmannen osapuolen oikeuksia; tai
    %li Kolmas osapuoli käyttää tai väärinkäyttää sinun luvallasi Palveluita tai Tuotteita, jotka on annettu sinun käyttöösi.
  %p Tämä korvausvelvollisuus kattaa myös velvoitteen korvata ChefStepsin osapuolien asianajajien palkkiot ja muut kulut liittyen vaateiden tutkimiseen ja puolustamiseen, ja kulut liittyen korvausvelvollisuuden täytäntöönpanoon.
  %p
    Sinun tulee ilmoittaa mahdollisimman pian ChefStepsille kolmansien osapuolien tekemistä vaatimuksista ja tehdä yhteistyötä ChefStepsin kanssa puolustautuessa kyseisiä vaatimuksia vastaan. ChefStepsin osapuolilla on oikeus määrätä puolustuksesta ja mahdollisista
    kolmansien osapuolten tekemien vaatimusten sovittelusta. Tämä vastuulauseke tukee, ei korvaa, muita mahdollisia vastuulausekkeita, joista olet sopinut kirjallisesti ChefStepsin kanssa.
  %h3 15.	Vastuuvapauslauseke
  %p
    SAATAMME ESITTÄÄ SINULLE TÄRKEITÄ TERVEYTTÄ JA TURVALLISUUTTA KOSKEVIA VAROITUKSIA JA OHJEITA, JOTKA SINUN TULEE LUKEA ENNEN KUIN ALAT KÄYTTÄMÄÄN TIETTYJÄ CHEFSTEPSIN TUOTTEITA JA/TAI ENNEN KUIN OSALLISTUT TIETTYIHIN TOIMINTOIHIN TAI PALVELUIHIN. SAATAMME
    PÄIVITTÄÄ TAI MUOKATA NÄITÄ VAROITUKSIA JA OHJEITA, JOTEN TARKASTATHAN NIIDEN SISÄLLÖN SÄÄNNÖLLISESTI.
  %p
    SIINÄ MÄÄRIN KUIN SOVELTUVA LAKI SEN SALLII, CHEFSTEPSIN PALVELUITA JA MATERIAALEJA TARJOTAAN "SELLAISENAAN" ILMAN MUITA NIMENOMAISIA TAI IMPLISIITTISIÄ VAKUUTUKSIA. KIISTÄMME NIMENOMAISESTI MITKÄÄN MUUT, NIMENOMAISET TAI IMPLISIITTISET, VAKUUTUKSET,
    MUKAAN LUKIEN OLETETUT VAKUUTUKSET KAUPALLISESTA HYÖDYNNETTÄVYYDESTÄ, SOVELTUVUUDESTA TIETTYÄ TARKOITUSTA VARTEN, OMISTUSOIKEUDESTA SEKÄ LOUKKAAMATTOMUUDESTA. EMME TAKAA TAI VAKUUTA ETTÄ CHEFSTEPSIN NETTISIVUT, MOBIILISOVELLUKSET JA MATERIAALIT OVAT
    OIKEITA, TÄYDELLISIÄ, LUOTETTAVIA TAI VIRHEETTÖMIÄ. LISÄKSI TODETTAKOON, ETTÄ NETTISIVUMME, MOBIILISOVELLUKSEMME JA MATERIAALIMME (A) OVAT AINOASTAAN INFORMOINTITARKOITUKSIA VARTEN, (B) TARJOAVAT VAIN YLEISIÄ NEUVOJA JA (C) EIVÄT OLE TARKOITETTU KORVAAMAAN
    AMMATTIMAISTA LÄÄKETIETEELLISTÄ TAI RAVITSEMUSTIETEELLISTÄ NEUVONTAA. PYRIMME SIIHEN, ETTÄ CHEFSTEPSIN NETTISIVUJEN, MOBIILISOVELLUSTEN JA MATERIAALIEN KÄYTTÖ ON TURVALLISTA, MUTTA EMME KUITENKAAN PYSTY TAKAAMAAN JA VAKUUTTAMAAN, ETTÄ NIISSÄ TAI PALVELIMISSAMME
    EI OLISI LAINKAAN VIRUKSIA TAI MUITA VAHINGOLLISIA OSIA; TÄMÄ HUOMIOON OTTAEN, SINUN TULEE AINA KÄYTTÄÄ MARKKINOILLA TUNNUSTETTUA OHJELMISTOA VIRUKSIEN TUNNUSTAMISEKSI JA TORJUMISEKSI KAIKKIEN LATAUSTEN YHTEYDESSÄ.
  %p
    OLET YKSIN VASTUUSSA SIITÄ, ETTÄ PESET, KÄSITTELET, VALMISTAT, SÄILYTÄT, KOKKAAT JA KÄYTÄT RUOKAA TURVALLISESTI JA ASIANMUKAISESTI. CHEFSTEPSIN KOKKAUSOHJEET TARJOAVAT VAIN SUUNTAVIIVOJA. KÄYTÄ OMAA HARKINTAASI, KUN VALMISTAT JA SYÖT RUOKAA. RAA'AN TAI
    PUOLIRAA'AN LIHAN, KANAN, MERENELÄVIEN, ÄYRIÄISTEN TAI KANANMUNIEN SYÖMINEN VOI LISÄTÄ RISKIÄ SAADA RUOKAMYRKYTYS TAI MUU ELINTARVIKEPERÄINEN SAIRAUS, JOTEN KÄYTÄTHÄN OMAA HARKINTAASI SYÖDESSÄSI EDELLÄMAINITTUJA RUOKA-AINEITA. EMME OLE VASTUUSSA MISTÄÄN
    HAITTAVAIKUTUKSISTA, JOITA SINULLE ON KOITUNUT SIITÄ, ETTÄ OLET SEURANNUT TAI SOVELTANUT PALVELUIDEN KAUTTA SAATUJA OHJEITA.
  %p
    CHEFSTEPS EI ANNA MITÄÄN VAKUUTUKSIA TUOTTEISTA, JOTKA MUUT YHTEISÖT OVAT VALMISTANEET, VAIKKA VOISITKIN OSTAA NIITÄ PALVELUIDEMME KAUTTA. MUIDEN YHTEISÖJEN VALMISTAMAT TUOTTEET, JOITA MYYDÄÄN PALVELUIDEMME KAUTTA, MYYDÄÄN "SELLAISENAAN" JA "KAIKKINE
    VIRHEINEEN". CHEFSTEPS KIISTÄÄ KAIKKI OLETETUT, KYSEISIÄ TUOTTEITA KOSKEVAT VAKUUTUKSET JA TAKUUT, MUKAAN LUKIEN OLETETUT VAKUUTUKSET KAUPALLISESTA HYÖDYNNETTÄVYYDESTÄ, SOVELTUVUUDESTA TIETTYÄ TARKOITUSTA VARTEN, OMISTUSOIKEUDESTA SEKÄ LOUKKAAMATTOMUUDESTA.
    NIIDEN TUOTTEIDEN OSALTA, JOITA CHEFSTEPS EI VALMISTA, CHEFSTEPS EI TAKAA KYSEISTEN TUOTTEIDEN TÄYTTÄVÄN MITÄÄN LAATUTAKEITA TAI VAATIMUKSIA TIETYISTÄ OMINAISUUKSISTA. SINULLA OSTAJANA ON YKSIN RISKI KOSKIEN KYSEISTEN TUOTTEIDEN LAATUA JA TOIMIVUUTTA
    JA SINÄ, EI CHEFSTEPS, OLET VASTUUSSA KAIKISTA KULUISTA, JOTKA JOHTUVAT TUOTTEEN KORVAAMISESTA TAI KORJAAMISESTA, PAITSI JOS VALMISTAJA ANTAA TÄTÄ KOSKEVAN TAKUUN.
  %p CHEFSTEPSIN MYYMIEN TUOTTEIDEN VALMISTAJAT VOIVAT TARJOTA OMIA TAKUITAAN. MAHDOLLISESTI SAAMASI KORVAUKSET KYSEISISSÄ TUOTTEISSA
  %h3 16.	Vastuunrajoitus
  %p
    SOVELLETTAVAN LAIN SALLIMISSA RAJOISSA: (A) CHEFSTEPS TAI MIKÄÄN MUU CHEFSTEPSIN OSAPUOLI EI MISSÄÄN TILANTEESSA OLE VASTUUSSA MINKÄÄNLAISISTA VÄLILLISISTÄ, ERITYISISTÄ, SATUNNAISISTA, VAROITTAVISTA TAI RANKAISEVISTA VAHINGOISTA (MUKAANLUKIEN, MUTTA TÄHÄN
    KUITENKAAN RAJOITTUMATTA, LIIKEVAIHDON, TULOJEN TAI LIIKEVOITON MENETYS, TIETOJEN HÄVIÄMINEN, VARALLISUUDEN TAI VAKUUKSIEN ARVON MENETYS TAI ALENTUMINEN TAI HAITTA LIIKETOIMINNAN KESKEYTYMISESTÄ), JOTKA JOHTUVAT TAI LIITTYVÄT PALVELUIDEN TAI MATERIAALIEN
    KÄYTTÖÖN TAI MUUTEN NÄIHIN EHTOIHIN (MUKAAN LUKIEN, MUTTA TÄHÄN KUITENKAAN RAJOITTUMATTA VAHINGOT, JOTKA AIHEUTUVAT TAI OVAT SEURAUSTA KÄYTTÄJÄN LUOTTAMUKSESTA CHEFSTEPSILTÄ SAATUUN TIETOON TAI VAHINKO, JOKA ON AIHEUTUNUT TAI ON SEURAUSTA VIRHEISTÄ,
    PUUTTEISTA, KESKEYTYKSISTÄ, TIEDOSTOJEN TAI SÄHKÖPOSTIEN POISTOSTA, EREHDYKSISTÄ, VIOISTA, OHJELMOINTIVIRHEISTÄ, VIIRUKSISTA, TROIJALAISISTA HEVOSISTA, VIIVEISTÄ TOIMINNASSA TAI TIEDONSIIRROSSA TAI MISTÄ TAHANSA VIASTA SUORITUSKYVYSSÄ RIIPPUMATTA SIITÄ,
    JOHTUUKO SE YLIVOIMAISESTA ESTEESTÄ, VIESTINNÄN EPÄONNISTUMISESTA, CHEFSTEPSIN ASIAKIRJA-AINEISTON, OHJELMIEN TAI JÄRJESTELMIEN VARKAUDESTA, TUHOAMISESTA TAI LUVATTOMASTA PÄÄSYSTÄ NIIHIN) RIIPPUMATTA TOIMINTAMUODOSTA JA SIITÄ, PERUSTUUKO TOIMINTA SOPIMUKSEEN,
    VAHINGONKORVAUKSEEN (MUKAAN LUKIEN, MUTTA EI RAJOITETTU PELKKÄÄN HUOLIMATTOMUUTEEN, OLI SE SITTEN AKTIIVISTA, PASSIIVISTA TAI SYYKSILUETTAVAA), TIUKKAAN TUOTEVASTUUSEEN TAI MUUHUN LAINMUKAISEEN TAI OIKEUDENMUKAISEEN TEORIAAN (VAIKKA OSAPUOLTA OLISI
    INFORMOITU TÄLLAISTEN VAHINKOJEN MAHDOLLISUUDESTA JA RIIPPUMATTA SIITÄ, OLIVATKO TÄLLAISET VAHINGOT ENNAKOITAVISSA); JA (B) CHEFSTEPSIN TAI MIKÄÄN MUU CHEFSTEPSIN OSAPUOLEN YHTEENLASKETTU VASTUU EI MISSÄÄN TILANTEESSA YLITÄ SITÄ SUMMAA JONKA OLE MAKSANUT
    TUOTTEIDEMME TAI PALVELUIDEMME KÄYTÖSTÄ RIIPPUMATTA SIITÄ, JOHTUUKO KORVAUSVASTUU SOPIMUKSESTA, TAKUUSTA, VAHINGONKORVAUSVASTUUSTA (MUKAAN LUKIEN HUOLIMATTOMUUS, OLI SE SITTEN AKTIIVISTA, PASSIIVISTA TAI SYYKSILUETTAVAA), TUOTEVASTUUSTA TAI MUUSTA TEORIASTA,
    JA JOHTUUKO VAHINKO TAI LIITTYYKÖ SE PALVELUIDEN KÄYTTÖÖN TAI SIIHEN ETTEI PALVELUITA VOIDA KÄYTTÄÄ, MUKAAN LUKIEN MATERIAALIT JA NIIDEN SISÄLTÄMÄT ERI FUNKTIOT .
  %p
    SOVELLETTAVAN LAIN RAJOISSA, SINÄ (PERILLISTESI, PUOLESTASI TOIMIVIEN HENKILÖIDEN TAI LAILLISTEN TAI MUIDEN HENKILÖKOHTAISTEN EDUSTAJIESI PUOLESTA) VAPAUTAT CHEFSTEPSIN OSAPUOLET KAIKISTA NÄIHIN EHTOIHIN LIITTYVISTÄ VAATIMUKSISTA. JOS OLET KALIFORNIAN
    ASUKAS, LUOVUT TÄTEN OIKEUKSISTA LIITTYEN PAIKALLISEEN LAINSÄÄDÄNTÖÖN (CALIFORNIA CIVIL CODE SECTION 1542), MISSÄ SÄÄDETÄÄN SEURAAVAA: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR
    AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR." (LAINKOHTA SUOMEKSI: YLEINEN VAPAUTUS VAATIMUKSISTA EI KOSKE SELLAISIA VAATIMUKSIA, JOISTA VELKOJA EI TIEDÄ VAPAUTUSTA
    MYÖNNETTÄESSÄ, JOS TIETO VAATIMUKSISTA OLISI OLENNAISESTI VAIKUTTANUT VELALLISEN KANSSA TEHTYYN SOVINTOON.) LISÄKSI LUOVUT OIKEUKSISTASI SUHTEESSA SAMANKALTAISIIN SÄÄNNÖKSIIN MUIDEN MAIDEN LAINSÄÄDÄNNÖISSÄ.
  %p
    TÄSSÄ KOHDASSA 16 MAINITUT VASTUUNRAJOITUKSET EIVÄT RAJOITA TAI SULJE POIS VASTUUTA SEURAAVISSA TAPAUKSISSA: (A) MEILTÄ OSAMIESI TUOTTEIDEN TAI PALVELUIDEN AIHEUTTAMA KUOLEMA TAI HENKILÖVAHINKO TAI OMAISUUSVAHINKO, (B) JOS OLEMME SYYLLISTYNEET PETOKSEEN
    TAI TOIMINEET TAHALLISESTI TAI TÖRKEÄN HUOLIMATTOMASTI.
  %h3 17.	Muutokset Palveluihin
  %p
    Pidätämme oikeuden muuttaa harkintamme mukaan mitä tahansa Materiaaleja sekä muokata Palveluitamme tai keskeyttää Palveluihin (tai mihin tahansa Palvelun ominaisuuteen) pääsyn ja niiden käytön ilman ennakkoilmoitusta ja ilman, että tästä aiheutuu velvoitteita
    tai vastuuta sinua kohtaan. Myös sinulla on oikeus olla käyttämättä Palveluita osittain tai kokonaisuudessaan, sekä oikeus päättää tämä sopimus milloin tahansa.
  %h3 18.	Riidanratkaisu; välimiesmenettely
  %p LUE SEURAAVA OSIO HUOLELLISESTI, KOSKA SE MÄÄRÄÄ TIETYT RIIDAT JA VAATIMUKSET CHEFSTEPSIÄ VASTAAN KÄSITELTÄVÄKSI VÄLIMIESMENETTELYSSÄ, JA RAJOITTAA SITÄ, MILLÄ TAVOIN VOIT HAKEA KORVAUSTA MEILTÄ.
  %h4 18.1.	Sitova välimiesmenettely
  %p
    Sinä ja ChefSteps sitoudutte (a) luopumaan oikeudestanne kaikkien näihin Ehtoihin, Palveluihin, Materiaaleihin tai Tuotteisiin liittyvien ja niistä johtuvien kiistojen ratkaisemiseen tuomioistuimessa, ja (b) luopumaan oikeudestanne valamiehistöoikeudenkäyntiin.
    Tämä ei koske riitoja, väitteitä, kanteita, kanneperusteita, vaatimuksia tai menettelyjä (yhdessä "Riidat"), jotka johtuvat tai liittyvät Osion 10 loukkaamiseen tai Riitoja, joissa toinen osapuolista nostaa yksittäisen, vähäisiä vaatimuksia koskevan
    kanteen tuomioistuinmenettelyssä tai hakee kieltotuomiota tai muuta oikeudenmukaista ratkaisua väitettyyn immateriaalioikeuksien luvattomaan käyttöön, mukaan lukien esimerkiksi tekijänoikeuteen, tavaramerkkeihin, toiminimiin, liikemerkkiin, liikesalaisuuteen
    tai patenttiin. Sinä ja ChefSteps sitoudutte ratkaisemaan Riidat sitovassa välimiesmenettelyssä (joka tarkoittaa Riidan saattamista yhden tai useamman välimiehen ratkaistavaksi, joiden tarkoituksena on tarkastella Riitaa ja tehdä lopullinen ja sitova
    päätös Riidassa ilman, että Riita saatetaan tuomarin tai valamiehistön ratkaistavaksi tuomioistuimeen).
  %h4 18.2.	Joukkokannekielto
  %p
    Sinä ja ChefSteps sitoudutte siihen, että näistä Ehdoista, Palveluista, Tuotteista tai Materiaaleista johtuva tai niihin liittyvä Riita on henkilökohtainen sinulle ja ChefStepsille, ja että tällainen Riita ratkaistaan ainoastaan yksittäisellä välimiesmenettelyllä,
    eikä siitä nosteta kollektiivista välimiesmenettelyä, ryhmäkannetta tai muuta edustajan avulla toimitettavaa menettelyä. Sinä ja ChefSteps sitoudutte siihen, että yksittäiset osapuolet eivät osallistu kollektiiviseen välimiesmenettelyyn tai ryhmäkanteeseen,
    jossa he pyrkivät ratkaisemaan Riidan toisen osapuolen tai useamman osapuolen edustajana. Lisäksi sinä ja ChefSteps sitoudutte siihen, että Riitaa ei ratkaista ryhmänä tai muuten edustuksellisesti tehdyllä kanteella, joko välimiesmenettelyssä tai sen
    ulkopuolella, tai toisen henkilön tai henkilöiden muodostaman ryhmän puolesta.
  %h4 18.3.	Yhdysvaltain liittovaltion välimiesmenettelyä koskeva laki
  %p
    Sinä ja ChefSteps sitoudutte siihen, että nämä Ehdot vaikuttavat valtioiden väliseen kauppaan, ja tämän Osion 18 täytäntöönpanoon sovelletaan aineellisoikeudellisesti ja menettelyllisesti Yhdysvaltain liittovaltion välimiesmenettelyä koskevaa lakia, 9
    U.S.C. § 1 ja sitä seuraavat pykälät ("FAA"), lain sallimassa laajuudessa.
  %h4 18.4.	Ilmoitus; Riitojen epäviralliset ratkaisukeinot
  %p
    Sinä ja ChefSteps sitoudutte siihen, että kumpikin osapuoli ilmoittaa toiselle osapuolelle kirjallisesti välimiesmenettelyyn kelpaavasta tai vähäisiä vaatimuksia koskevasta Riidasta kolmenkymmenen (30) päivän kuluessa sen syntymisestä, jotta osapuolilla
    on mahdollisuus sopia riita. Ilmoitus ChefStepsille lähetetään sähköisesti osoitteeseen
    = succeed "." do
      %a{:href => "mailto:disputes@chefsteps.com"} disputes@chefsteps.com
  %h4 18.5.	Menettely
  %p
    Sinä ja ChefSteps sitoudutte siihen, että (a) välimiesmenettely käydään King Countyssa, Washingtonissa, (b) välimiesmenettely toimitetaan salassa yhden välimiehen kokoonpanossa Judicial Arbitration and Mediation Services ("JAMS") –sääntöjen mukaan, jotka
    on liitetty osaksi tätä sopimusta, ja (c) Washingtonin osavaltion tuomioistuimilla ja Yhdysvaltojen liittovaltion tuomioistuimilla, joiden toimipaikka sijaitsee King Countyssa, Washingtonissa, on yksinomainen toimivalta välimiestuomiota koskevien valitusten
    ja välimiestuomion täytäntöönpanon osalta. Tämä ei koske Riitoja, jotka johtuvat tai liittyvät Osion 10 loukkaamiseen tai Riitoja, joissa toinen osapuolista nostaa yksittäisen kanteen vähäisiä vaatimuksia koskevassa tuomioistuinmenettelyssä tai hakee
    kieltotuomiota tai muuta oikeudenmukaista ratkaisua väitettyyn immateriaalioikeuksien luvattomaan käyttöön, mukaan lukien esimerkiksi tekijänoikeuteen, tavaramerkkeihin, toiminimiin, liikemerkkiin, liikesalaisuuteen tai patenttiin. Jos Riita täyttää
    vähäisiä vaatimuksia koskevan tuomioistuinmenettelyn vaatimukset, voit myös nostaa kanteen laskutusosoitteesi mukaisessa valtiossa vähäisiä vaatimuksia koskevassa tuomioistuimessa.
  %h4 18.6.	Välimiehen toimivalta
  %p
    Kuten FAA, nämä Ehdot ja soveltuvat JAMS-säännöt rajoittavat, välimiehellä on (a) yksinomainen toimivalta tehdä kaikki menettelylliset ja aineelliset päätökset koskien Riitaa, mukaan lukien Riidan välityskelpoisuuden ratkaiseminen, ja (b) toimivalta myöntää
    mikä tahansa korvaus, joka olisi muuten saatavilla tuomioistuimessa; edellyttäen kuitenkin, että välimiehellä ei ole toimivaltaa ratkaista kollektiivista välimiesmenettelyä tai edustuksellista kannetta, mikä on kielletty näissä ehdoissa. Välimies voi
    ratkaista vain yksittäisen välimiesmenettelyn ja välimies ei voi yhdistää kuin yksittäisen osapuolen vaatimukset, välimies ei voi toimia puheenjohtajana missään ryhmä- tai edustuksellisissa menettelyissä, eikä olla puheenjohtajana missään menettelyssä,
    johon osallistuu enemmän kuin yksi osapuoli.
  %h4 18.7.	JAMS-säännöt
  %p
    JAMS-säännöt ja lisätietoja JAMSista on saatavilla JAMSin internetsivustolla. Sitoutumalla näihin Ehtoihin, sinä joko (a) tiedostat ja hyväksyt, että olet lukenut ja ymmärrät JAMS-säännöt, tai (b) luovut mahdollisuudestasi lukea JAMS-säännöt ja kaikista
    väitteistä sen osalta, että JAMS-säännöt ovat kohtuuttomat, tai että niitä ei tulisi soveltaa.
  %h4 18.8.	Erotettavuus
  %p
    Jos jokin tämän Kohdan 18 alla oleva ehto tai osa katsotaan pätemättömäksi tai täytäntöönpanokelvottomaksi, tulee pätemättömyys tai täytäntöönpanokelvottomuus sovellettavaksi vain siinä määrin kuin laki vaatii, ja kaikki muut ehdot ja osat tämän Kohdan
    18 alla säilyvät pätevinä ja täytäntöönpanokelpoisina. Lisäksi, Kohtaa 18.2 voidaan lukea erillään näiden Ehtojen muista kohdista ja ne säilyvät pätevinä ja täytäntöönpanokelpoisina, paitsi jos soveltuva lainsäädäntö ei sitä salli.
  %h3 19.	Sovellettava lainsäädäntö
  %p
    Näihin Ehtoihin ja Tuotteiden ja Palveluiden käyttöösi sovelletaan Washingtonin osavaltion lakeja, ottamatta huomioon lainvalintasääntöjä tai -periaatteita, jotka johtaisivat jonkun muun lainkäyttöalueen lakien soveltumiseen. Osapuolien välillä oleva
    riita, jota ei voida käsitellä välimiesmenettelyssä tai vähäisiä vaatimuksia koskevassa tuomioistuinmenettelyssä, käsitellään Washingtonin osavaltion tuomioistuimessa tai Yhdysvaltain liittovaltion tuomioistuimessa, jotka molemmat sijaitsevat Washingtonin
    King Countyssa.
  %h3 20.	Päättyminen
  %p
    Sen estämättä, mitä näissä Ehdoissa määrätään ja soveltuvan lainsäädännön sallimissa rajoissa, ChefSteps pidättää oikeuden päättää, ilman ennakkoilmoitusta ja oman harkintamme mukaan, oikeutesi käyttää Palveluita sekä torjua tai estää tuleva pääsysi Palveluihin
    tai niiden käyttö.. Jos siirrät Palveluihimme yhdistettävän Tuotteet, kuten Joulen, uudelle omistajalle, oikeutesi käyttää kyseiseen Tuotteeseen liittyviä Palveluita päättyy automaattisesti, eikä uudella omistajalla ei ole oikeutta käyttää Palveluita
    käyttäjätililläsi, vaan hänen tulee luoda oma ChefSteps-käyttäjätili.
  %h3 21.	Erotuslauseke
  %p Jos jokin näiden Ehtojen osio tai lauseke katsotaan pätemättömäksi, tulee kyseinen osio tai lauseke erottaa näistä Ehdoista eikä se näin vaikuta näiden Ehtojen tai näiden Ehtojen muiden osioiden tai lausekkeiden pätevyyteen tai täytäntöönpanokelpoisuuteen.
  %h3 22.	Jatkuvuus
  %p Seuraavat osiot jatkavat voimassaoloaan näiden Ehtojen päättymisen tai päättämisen sekä ChefSteps-käyttäjätilisi poistamisen jälkeen: kaikki osioissa 1, 2, 3, 4, 5 (vain ensimmäinen kappale), 6, 7, 8 (vain toinen kappale) ja 9-23 määritellyt termit.
  %h3 23.	Kalifornian osavaltiota koskevat ilmoitukset
  %p
    Jos asut Kalifornian osavaltiossa, voit tehdä valituksia paikalliselle kuluttajaviranomaiselle (Consumer Assistance Unit of the Consumer Information Division of the California Department of Consumer Affairs) lähettämällä kirjallisen valituksesi osoitteeseen
    1625 North Market Blvd., Suite N 112, Sacramento, CA 95834, or by telephone at (800) 952‑5210.
  %h3 24.	Kysymykset
  %p
    Jos sinulla on näitä Ehtoja tai Tuotteitamme tai Palveluitamme koskevia kysymyksiä, ota yhteyttä osoitteeseen
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
