#terms
  %h3 CONDITIONS G&#xC9;N&#xC9;RALES D&#x2019;UTILISATION ET DE VENTE CHEFSTEPS
  %p Derni&#xE8;re mise &#xE0; jour&#xA0;: 13/1/2017
  %p
    LISEZ ATTENTIVEMENT LES PR&#xC9;SENTES CONDITIONS G&#xC9;N&#xC9;RALES D&#x2019;UTILISATION ET DE VENTE, Y COMPRIS LA CLAUSE IMP&#xC9;RATIVE D&#x2019;ARBITRAGE DE L&#x2019;ARTICLE 18 POUR LES R&#xC9;SIDENTS DES &#xC9;TATS-UNIS. SI VOUS NE R&#xC9;SIDEZ PAS AUX &#xC9;TATS-UNIS, D&#x2019;AUTRES CONDITIONS PEUVENT S&#x2019;APPLIQUER
    \&#xC0; VOUS, QU&#x2019;ELLES COMPL&#xC8;TENT OU REMPLACENT CERTAINES CLAUSES DES PR&#xC9;SENTES CONDITIONS G&#xC9;N&#xC9;RALES D&#x2019;UTILISATION ET DE VENTE. POUR SAVOIR SI D&#x2019;AUTRES CONDITIONS S&#x2019;APPLIQUENT &#xC0; VOUS, CONSULTEZ LA FIN DE CE DOCUMENT.
  %p
    EN CLIQUANT AFIN D&#x2019;EXPRIMER VOTRE ACCEPTATION DES PR&#xC9;SENTES CONDITIONS G&#xC9;N&#xC9;RALES D&#x2019;UTILISATION ET DE VENTE, OU ENCORE EN ACC&#xC9;DANT &#xC0; NOS PRODUITS ET SERVICES (QUI SONT D&#xC9;FINIS CI-DESSOUS) OU EN LES UTILISANT, VOUS ACCEPTEZ D&#x2019;&#xCA;TRE LI&#xC9;(E) PAR LES PR&#xC9;SENTES
    CONDITIONS G&#xC9;N&#xC9;RALES D&#x2019;UTILISATION ET DE VENTE ET PAR L&#x2019;ENSEMBLE DES CONDITIONS QUI SONT MENTIONN&#xC9;ES DANS LES PR&#xC9;SENTES. SI VOUS N&#x2019;ACCEPTEZ PAS L&#x2019;ENSEMBLE DE CES TERMES, N&#x2019;ACC&#xC9;DEZ PAS &#xC0; NOS PRODUITS OU SERVICES, NE LES ACHETEZ PAS ET NE LES UTILISEZ
    PAS.
  %p
    Les pr&#xE9;sentes conditions g&#xE9;n&#xE9;rales d&#x2019;utilisation et de vente (&#xAB;&#xA0;
    %strong> Conditions
    \&#xA0;&#xBB;) s&#x2019;appliquent &#xE0; l&#x2019;acc&#xE8;s, par vous-m&#xEA;me, aux Produits et services de ChefSteps, Inc. (&#xAB;&#xA0;
    %strong> ChefSteps&#xA0;&#xBB;
    , &#xAB;&#xA0;
    %strong> nous&#xA0;&#xBB;, &#xAB;&#xA0;notre&#xA0;&#xBB; ou &#xAB;&#xA0;nos
    \&#xA0;&#xBB;),
    soci&#xE9;t&#xE9; constitu&#xE9;e dans l&#x2019;&#xE9;tat de Washington (&#xC9;tats-Unis) et sise au 1501 Pike Place, #300, Seattle, Washington, 98101, dont le num&#xE9;ro d&#x2019;identification fiscale est le
    464326180
    , et &#xE0; leur utilisation. Le terme &#xAB;&#xA0;
    %strong> Produits
    \&#xA0;&#xBB; d&#xE9;signe
    le mat&#xE9;riel et les dispositifs physiques vendus par ChefSteps, parmi lesquels le Joule Circulator et le Joule Big Clamp. Le terme &#xAB;&#xA0;
    %strong> Services
    \&#xA0;&#xBB; d&#xE9;signe nos sites Internet, nos applications mobiles et autres Produits et services en ligne.
  %p
    Les pr&#xE9;sentes conditions ne modifient en aucune mani&#xE8;re les modalit&#xE9;s d&#x2019;un autre accord que vous auriez conclu avec nous concernant des Produits, Services ou tout autre accord. Si vous utilisez les Produits ou Services pour le compte d&#x2019;une personne morale,
    vous d&#xE9;clarez et garantissez que vous &#xEA;tes autoris&#xE9;(e) &#xE0; accepter les pr&#xE9;sentes conditions pour le compte de cette personne morale et qu&#x2019;elle accepte d&#x2019;engager sa responsabilit&#xE9; si vous ou elle ne respecte(z) pas les pr&#xE9;sentes conditions.
  %p
    ChefSteps se r&#xE9;serve le droit de modifier les pr&#xE9;sentes conditions &#xE0; tout moment et &#xE0; son gr&#xE9;. Si nous apportons des modifications aux pr&#xE9;sentes conditions, nous vous aviserons de ces modifications, par exemple en vous envoyant une notification par e-mail,
    en vous en avisant dans le cadre des services ou en actualisant la date de &#xAB;&#xA0;
    %strong> Derni&#xE8;re mise &#xE0; jour
    \&#xA0;&#xBB; indiqu&#xE9;e au d&#xE9;but des pr&#xE9;sentes conditions. En continuant d&#x2019;utiliser les Services, vous confirmerez que vous acceptez les conditions
    r&#xE9;vis&#xE9;es. Nous vous conseillons de consultez fr&#xE9;quemment les conditions afin de vous assurer que vous comprenez les modalit&#xE9;s qui s&#x2019;appliquent lorsque vous acc&#xE9;dez aux services ou les utilisez. Si vous n&#x2019;acceptez pas les conditions r&#xE9;vis&#xE9;es, vous n&#x2019;avez
    pas le droit d&#x2019;acc&#xE9;der aux services ni de les utiliser. Les modifications que nous apportons ne sauront affecter vos droits concernant des Produits d&#xE9;j&#xE0; achet&#xE9;s ni les commandes d&#xE9;j&#xE0; pass&#xE9;es.
  %h3 1.	Politique de confidentialité
  %p Pour de plus amples information sur la manière dont nous recueillons, dont nous utilisons et dont nous divulguons des informations sur vous, consultez notre
    %a{:href => "https://www.chefsteps.com/privacy"} Politique de confidentialité
    \.
  %h3 2.	Autres conditions
  %p
    Lorsque vous utilisez nos Produits et Services, cette utilisation est soumise aux modalités applicables à ces Produits et Services. Par exemple, lorsque vous utilisez les fonctions télécharger ou installer ou encore que vous utilisez nos applications
    mobiles, cette utilisation est soumise à notre
    %a{:href => "https://www.chefsteps.com/eula"} contrat de licence d’utilisateur final
    \. Si vous achetez des Produits, vous acceptez les
    %a{:href => "https://www.chefsteps.com/joule/warranty"} termes de notre garantie limitée
    \.
  %h3 3.	Limite d’âge ; Inscription et compte ; Matériel requis, FSI et Opérateur
  %p
    Limite d’âge. Les Services ne visent pas les personnes de moins de 13 ans et ne sont pas destinés à être utilisés par les personnes n’ayant pas atteint cet âge. De plus, si vous avez entre 13 et 18 ans (ou entre 13 ans et l’âge de la majorité légale en
    vertu de la loi en vigueur), vous n’êtes autorisé(e) à utiliser les services que sous la supervision d’un parent ou d’un tuteur qui accepte d’être lié par les présentes conditions. En utilisant les services, vous déclarez et garantissez (a) que votre
    accès aux services n’a jamais été suspendu ou supprimé, et que vous n’avez jamais eu d’activité susceptible d’entraîner la suspension ou la suppression de votre accès aux services, et (b) que vous avez le pouvoir de conclure les présentes conditions
    et que ce faisant, vous ne manquerez à aucun autre accord auquel vous êtes partie.
  %p
    Inscription et compte. Pour pouvoir accéder à certaines parties ou fonctionnalités des Services et les utiliser, vous devez vous inscrire et créer un compte ou un profil ChefSteps. Lors de votre inscription, vous ne pouvez choisir pour nom de compte un
    nom qui contient une marque de fabrique sans l’autorisation du propriétaire de cette marque de fabrique. Nous nous réservons le droit de revendiquer les noms de compte au nom de toute société ou de toute personne physique qui détient un droit légal,
    y compris des marques, sur ces noms. En créant un compte, vous vous engagez (a) à communiquer des informations exactes, à jour et complètes, (b) à tenir et à mettre à jour les informations liées à votre compte à tout moment si nécessaire, (c) à préserver
    la sécurité des identifiants de votre compte, (d) à être responsable des actes ou des omissions de tout tiers que vous autorisez à accéder à compte et aux services ou à les utiliser, et (e) si vous découvrez ou encore suspectez des atteintes à la sécurité
    liées aux services ou à votre compte, à nous en informer immédiatement.
  %p
    Matériel requis, FSI et Opérateur. Vous reconnaissez que la disponibilité de certains services dépend (a) de votre ordinateur, de votre téléphone portable ou tablette, de l’installation électrique de votre domicile, du réseau Wi-Fi de votre domicile,
    de vote connexion Bluetooth et de tout autre matériel associé (« 
    %strong> Matériel
     »), (b) de votre prestataire de services Internet (« 
    %strong> FSI
     »), et (c) de l’opérateur de votre téléphone portable ou tablette (« 
    %strong> Opérateur
     »).
    Vous convenez que vous êtes redevable de tous les frais facturés par votre FSI et votre opérateur en lien avec l’utilisation des Services et qu’il vous incombe de vous conformer à tous les accords et autres politiques de votre FSI et de votre Opérateur.
    Vous reconnaissez et convenez en outre que vos interactions avec votre FSI et votre Opérateur ne concernent que vous et ces tiers, et que ChefSteps n’est en aucune manière responsable de ces interactions.
  %h3 4.	Conditions de vente
  %h4 4.1.	Informations de paiement et de facturation
  %p
    En fournissant les informations concernant votre carte de crédit ou un autre mode de paiement que nous acceptons, vous déclarez et garantissez que vous êtes autorisé(e) à utiliser le mode de paiement désigné et que vous nous autorisez (nous ou notre prestataire
    de paiement tiers) à débiter de ce mode de paiement du montant total de votre commande (y compris toutes taxes et tous autres frais applicables). Si le mode de paiement ne peut être vérifié, n’est pas valable ou encore ne peut être accepté, votre commande
    pourra être suspendue ou annulée. Pour que nous puissions donner suite à votre commande, vous devez résoudre tout problème rencontré avec le mode de paiement que vous avez sélectionné.
  %p
    Notre présentation de Produits et de Services ne saura être considérée comme une offre irrévocable mais plutôt comme une invitation à passer une commande. À la fin du processus d’achat en ligne, nous aurons conclu un contrat de vente irrévocable. Vous
    pouvez actualiser votre panier à tout moment avant de conclure le processus d’achat en ligne. Nous ne déclencherons pas le processus de livraison tant que nous n’aurons pas reçu votre règlement.
  %h4 4.2.	Prix et disponibilité
  %p
    Tous les prix sont indiqués en dollar américain à moins que nous ne soyons tenus par la loi d’indiquer les prix dans la monnaie locale. Sauf mention écrite contraire, les prix s’entendent hors taxes (ces taxes étant définies ci-dessous), et ne comprennent
    pas les frais d’expédition et de manutention ni les autres frais, à moins que nous soyons tenus par la loi d’indiquer les prix taxes et autres frais compris.
  %p
    Tous les Produits et Services proposés à la vente sont proposés sous réserve de leur disponibilité et nous nous réservons le droit d’imposer des limites de quantité sur toute commande, de rejeter tout ou partie d’une commande et de cesser la vente de
    Produits et de services sans avis préalable. Les prix des Produits et services peuvent changer à tout moment, sans toutefois que cela n’ait d’incidence sur les commandes de Produits ou de services que vous avez déjà passées.
  %h4 4.3.	Taxes
  %p
    Dans les limites prévues par la loi applicable, vous êtes redevable de l’ensemble des taxe sur les ventes, taxe d’utilisation, taxe sur la valeur ajoutée ou autres taxes, frais ou droits légalement dus (ensemble, les « 
    %strong> Taxes
     ») sur l’achat
    et sur l’utilisation des Produits ou Services. Les commandes passées depuis un pays autre que les États-Unis peuvent donner lieu au paiement des taxes réclamées par le service des douanes du pays de destination. Le montant des taxes est généralement
    calculé d’après la valeur de la commande et le seuil d’exonération (s’il y en a un) pour les Produits importés dans le pays de destination. Nous collectons les taxes applicables si nous établissons que nous avons l’obligation de les collecter. Nous
    attirons votre attention sur le fait que nous ne collectons pas de taxes sur les Produits expédiés dans des pays avec lesquels nous avons une activité réduite. Pour nos utilisateurs américains, le montant réel des taxes facturées et collectées peut
    différer du montant indiqué lors du paiement. Plusieurs facteurs peuvent être à l’origine de cet écart, parmi lesquels les différences entre les programmes des processeurs et les changements des taux applicables aux Taxes.
  %h4 4.4.	Expédition ; Risque de perte
  %p
    Vous vous engagez à payer les frais d’expédition et de traitement indiqués au moment de l’achat. Nous nous réservons le droit d’augmenter, de baisser, d’ajouter ou de supprimer les frais d’expédition et de traitement à tout moment, mais nous vous informerons
    des frais dus avant l’achat. Les dates ou délais de livraison indiqués dans le cadre du processus de paiement ne sont que des dates et délais estimés et ne sont pas garantis. Sauf mention contraire, le risque de perte ou de détérioration d’un Produit
    vous est transmis dès la livraison du Produit sur le lieu de destination que vous avez spécifié. Si vous avez des questions ou des préoccupations concernant l’expédition, contactez-nous à
    %a{:href => "mailto:info@chefsteps.com."} info@chefsteps.com.
  %h4 4.5.	Retours et remboursements
  %p
    Membre ChefSteps Premium. En adhérant à notre programme Premium ChefSteps, vous pouvez bénéficier d’un accès illimité aux cours ChefSteps ainsi que d’autres avantages réservés à nos membres (pour en savoir plus, voir
    = succeed ")." do
      %a{:href => "https://www.chefsteps.com/premium"} https://www.chefsteps.com/premium
  %p
    Produits achetés directement à ChefSteps. Si vous résidez aux États-Unis, nous acceptons les retours et nous procéderons au remboursement des Produits non alimentaires que vous nous achetez directement si ces Produits nous sont retournés dans les 30 jours
    suivant la livraison, non ouverts et non utilisés. Avant de retourner un Produit, vous devez obtenir une autorisation de retour de ChefSteps en nous contactant à
    %a{:href => "mailto:support@chefsteps.com"} support@chefsteps.com
    et en nous communiquant
    les informations suivantes : (a) le numéro de série du Produit ; (b) la raison du retour ; et (c) le numéro de l’original du bon de commande. Nous pouvons facturer 20 % de frais de retour pour les retours qui ne sont pas effectués conformément aux présentes
    conditions. Pour nos clients qui ne résident pas aux États-Unis, consultez ci-dessous les conditions de retour et de remboursement des Produits achetés à ChefSteps qui s’appliquent à vous compte tenu de votre pays de résidence.
  %p
    Produits tiers achetés à des vendeurs tiers. Nous pouvons donner la possibilité d’acheter des produits de vendeurs tiers dans le cadre des services. Dans ce cas, nous n’intervenons qu’en qualité d’intermédiaire. Si vous achetez un produit d’un vendeur
    tiers, votre achat sera régi par les conditions et les politiques de ce tiers. Nous ne sommes pas les vendeurs de ces produits et ne sommes pas partie à leur vente. Par conséquent, s’agissant de ceux-ci, nous ne faisons aucune déclaration et ne donnons
    aucune garantie, et nous n’accepterons pas les retours et n’effectuerons aucun remboursement.
  %h4 4.6.	Erreurs
  %p
    Nous nous efforçons d’être aussi exacts que possible et d’éliminer les erreurs présentes dans nos Services ; toutefois, nous ne déclarons pas et ne garantissons pas que les descriptifs, prix et autres informations concernant les Produits ou services sont
    exacts, complets, fiables, à jour ou exempts d’erreur. En cas d’erreur, nous nous réservons le droit de corriger cette erreur et de réviser votre commande en conséquence (notamment en facturant le prix correct) ou d’annuler votre commande et de vous
    rembourser tout montant débité.
  %h3 5.	Licences d’utilisation des Services et des Eléments
  %p
    Sauf indication contraire, tout le contenu et tous les autres éléments contenus dans les services, et notamment nos logos et l’ensemble des dessins, textes, recettes, listes d’ingrédients, temps de cuisson, vidéos, illustrations, images, informations,
    données, logiciels, fichiers audio et autres fichiers, (ensemble, les « 
    %strong> Eléments
     ») dont la sélection et l’arrangement sont la propriété de ChefSteps ou de nos concédants et sont protégés par les lois sur le droit d’auteur et sur les
    marques de fabrique et par les autres lois sur la propriété intellectuelle nationales et internationales.
  %p
    ChefSteps vous concède une licence limitée, gratuite, non exclusive, non cessible, mondiale et sans possibilité de sous-licence, d’accéder aux éléments mis à disposition dans le cadre des services et de les utiliser à des fins personnelles et non commerciales.
    Sauf autorisation expresse légale ou écrite de ChefSteps, vous vous abstiendrez de reproduire nos services, de les rediffuser, de les vendre, d’en créer des œuvres dérivées ou des versions ultérieures, de les décompiler, de les soumettre à des opérations
    d’ingénierie inversée ou encore de les désassembler (sauf dans les cas où vous avez le droit de le faire en vertu de la loi en vigueur). De même, vous vous abstiendrez de prendre toute mesure visant à perturber ou à détériorer nos services.
  %p
    ChefSteps encourage l’utilisation et la diffusion de certains Eléments sur les Services, parmi lesquels nos recettes, listes d’ingrédients, vidéos, photos et contenus utilisateur (défini dans l’Article 11). Sauf indication contraire, ces éléments sont
    mis à votre disposition aux termes de la version la plus récente de la licence
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"} Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage
    (BY-NC-SA). Nous attirons
    votre attention sur le fait que les noms de service, marques de fabrique, logos et slogans qui nous appartiennent et qui peuvent apparaître dans les services ne sont pas mis à votre disposition dans le cadre de la licence Creative Commons.
  %p
    Sauf mention expresse contraire, aucun terme des présentes conditions ne sera interprété comme conférant un droit ou une licence sur un brevet, une marque de fabrique, un droit d’auteur ou autres droits de propriété de ChefSteps ou d’un tiers, que ce
    soit par
    = succeed "," do
      %em estoppel
  %h3 6.	Politique relative aux violations répétées ; Réclamations relatives au droit d’auteur
  %p
    En vertu du
    %em Digital Millennium Copyright Act
    et d’autres lois applicables, nous avons adopté vis-à-vis des utilisateurs qui portent atteinte aux droits de propriété intellectuelle d’autrui une politique de limitation de l’accès aux services ou
    de résiliation des comptes, dans certains cas et à notre gré. Si vous estimez qu’une partie des services, quelle qu’elle soit, porte atteinte à un droit d’auteur dont vous êtes titulaire ou que vous contrôlez, vous pouvez notifier cette atteinte à notre
    mandataire désigné à l’adresse indiquée ci-dessous :
  %p
    Nom du mandataire désigné : Edward Starbird 
    %br>/
    Adresse : 1501 Pike Place, #300, Seattle, WA 98101 
    %br>/
    Téléphone : (206) 905-1099 
    %br>/
    E-mail :
    %a{:href => "mailto:dmca@chefsteps.com"} dmca@Chefsteps.com
  %p
    Si vous résidez aux États-Unis, reportez-vous au
    = succeed "pour" do
      %a{:href => "http://www.copyright.gov/title17/92chap5.html#512", :target => "_blank"} 17 U.S.C. § 512(c)(3) 
  %p
    Nous attirons également votre attention sur le fait que si, dans la notification de l’élément ou de l’activité non autorisé, vous faites délibérément une fausse déclaration, vous serez responsable de tous les dommages, et notamment des frais et honoraires
    d’avocat que nous-mêmes ou l’auteur présumé de l’atteinte engagerions, qui résulteraient de la suppression ou de la désactivation de l’accès à l’élément ou à l’activité présenté(e) comme non autorisé(e) à la suite de cette fausse déclaration.
  %h3 7.	Marques de fabrique
  %p
    « 
    %strong> ChefSteps »
    , le logo ChefSteps et tous les autres noms de service, logos ou slogans ChefSteps susceptibles d’apparaître dans les Services peuvent être des marques de fabrique déposées de ChefSteps, de nos fournisseurs et de nos concédants,
    et ne peuvent être copiés, imités ou utilisés, même partiellement, sans notre autorisation écrite préalable ou celle de leurs titulaires respectifs. Vous n’avez pas le droit d’utiliser des métatags ou autre « 
    %strong> texte caché
     » reprenant
    « 
    %strong> ChefSteps
     » ou un autre nom, marque de fabrique ou nom de Produit ou de Service de ChefSteps sans notre autorisation écrite préalable. De plus, l’identité visuelle des Services, et notamment tous les en-têtes, images personnalisées,
    icônes de bouton et scripts, constituent une marque de service, une marque de fabrique ou l’habillage commercial de ChefSteps et ne peuvent être copiés, imités ou utilisés, même partiellement, sans notre autorisation écrite préalable. L’ensemble des
    autres marques de fabrique, marques de fabrique déposées, noms de produit et raisons sociales ou logos mentionnés dans les Services sont la propriété de leurs propriétaires respectifs et ne peuvent être copiés, imités ou utilisés, même partiellement,
    sans l’autorisation de leurs titulaires respectifs. Aucune référence à des Produits, Services, procédés ou autres informations par un nom, une marque de fabrique, un fabricant, un fournisseur ou tout autre référence ne constitue et ne sous-entend un
    cautionnement, un parrainage ou une recommandation de la part de ChefSteps.
  %p
    Si vous estimez qu’une partie des services, quelle qu’elle soit, porte atteinte à des marques de fabrique dont vous êtes titulaire ou que vous contrôlez, vous pouvez notifier cette atteinte à notre mandataire désigné comme indiqué dans l’Article 6. Cette
    notification devra être accompagnée des mêmes éléments que les notifications relatives au droit d’auteur.
  %h3 8.	Liens HyperText
  %p
    Vous bénéficiez d’un droit limité, non exclusif et non cessible de création d’un lien hypertexte vers les Services, à la condition que ce lien ne présente pas ChefSteps ou l’un de nos Services de manière fausse, trompeuse, dénigrante ou encore diffamatoire,
    et à la condition en outre que le site sur lequel figure le lien hypertexte ne contienne pas de textes ou d’images réservés aux adultes ou illégaux, ou encore des textes ou des images injurieux, diffamatoires ou encore choquants. Ce droit limité peut
    être révoqué à tout moment. Vous n’êtes pas autorisé(e) à utiliser un logo ChefSteps ni d’autres illustrations dont ChefSteps est propriétaire pour créer un lien vers les services sans notre autorisation expresse écrite. De plus, vous n’êtes pas autorisé(e)
    à utiliser les techniques de framing pour incorporer une marque de fabrique, un logo ou autre information exclusive, y compris des images trouvées dans les Services, le contenu de tout texte ou la composition ou la conception d’une page, ou un formulaire
    figurant sur une page ChefSteps, dans les Services sans notre accord écrit exprès.
  %p
    Dans les limites prévues par la loi en vigueur, ChefSteps ne fournit aucune garantit, et décline toute responsabilité, concernant la qualité, le contenu, la nature ou la fiabilité des sites Internet tiers accessibles par lien hypertexte depuis les Services,
    et des sites Internet depuis lesquels il est possible d’accéder aux Services. Nous n’exerçons aucun contrôle sur ces sites, et nous déclinons toute responsabilité concernant le contenu de tout site lié, tout lien figurant dans un site lié, ou toute
    révision, modification ou mise à jour de ces sites. Nous ne vous proposons ces liens que par souci de commodité, et la présence d’aucun lien ne sous-entend une affiliation, l’adoption ou le cautionnement d’un site ou d’une information contenue dans
    les présentes. Lorsque vous quittez les Services, nos conditions et politiques ne font plus foi. Il vous appartient de consulter les conditions et les politiques applicables, notamment en matière de confidentialité et de collecte des données, de tout
    site auquel vous accédez depuis les Services.
  %h3 9.	Contenu de tiers ; Logiciel Open Source ; Interface avec les Produits et services tiers
  %p
    Contenu de tiers. Nous pouvons afficher du contenu, des publicités et des promotions de tiers dans le cadre des Services (ensemble, le « 
    %strong> Contenu de tiers
     »). Dans les limites prévues par la loi applicable, nous ne contrôlons, ne cautionnons
    et n’adoptons aucun Contenu de tiers, et nous ne faisons aucune déclaration et ne donnons aucune garantie de quelque nature que ce soit concernant ce Contenu de tiers, et notamment concernant son exactitude ou son exhaustivité. Vous reconnaissez et
    convenez que vos interactions avec les tiers qui fournissent du Contenu de tiers ne concernent que vous et ces tiers, et que ChefSteps n’est en aucune manière responsable de ces interactions ou de ce Contenu de tiers.
  %p
    Logiciels Open Source. Nos services peuvent également contenir des logiciels tiers qui sont soumis à la licence publique générale GNU (« 
    %strong> GPL
     ») ou à d’autres licences open source (« 
    %strong> Logiciels Open Source
     »). Les Logiciels
    Open Source sont mis à disposition conformément aux conditions de la licence qui les accompagne, dans le respect d’autres conditions, qui peuvent être consultées sur
    = succeed "." do
      %a{:href => "https://www.chefsteps.com/libraries"} https://www.Chefsteps.com/libraries
  %p
    Connexion de Produits et services tiers. ChefSteps peut vous autoriser à utiliser ses Produits et services (par exemple le Joule) avec des Produits et services tiers, tels qu’Alexa d’Amazon (« 
    %strong> Produits et services tiers
     »). Si vous décidez
    de connecter nos Produits ou services avec des Produits et services tiers, votre accord et votre autorisation exprès, que vous pouvez révoquer à tout moment, sont requis. Dès lors que vous avez donné votre accord concernant la connexion d’un Produit
    ou service tiers avec nos Produits ou services, vous convenez que ChefSteps et le fournisseur de ce Produit ou service tiers peuvent échanger des informations afin d’activer la fonctionnalité que vous autorisez. Dès lors que ChefSteps partage des informations
    avec le fournisseur d’un Produit ou service tiers, l’utilisation par ce fournisseur tiers de ces informations est uniquement régie par sa propre politique de confidentialité. Vous reconnaissez et convenez que ChefSteps ne fait aucune déclaration et
    ne donne aucune garantie concernant la sécurité des Produits ou services tiers et décline toute responsabilité concernant l’utilisation, par vous-même, d’un Produit ou service tiers ou tout préjudice ou perte qui ferait suite ou serait lié à cette utilisation.
    Si vous avez des questions concernant des Produits et services, il vous appartient de contacter directement les fournisseurs tiers.
  %h3 10.	Comportement de l’utilisateur
  %p
    Vous vous engagez à ne pas enfreindre la loi, respecter vos obligations aux termes de tout contrat, ne pas porter atteinte à des droits de propriété intellectuelle ou à d’autres droits d’autrui et ne pas commettre un acte constituant un délit ou un quasi-délit.
    Vous reconnaissez par ailleurs êtes seul(e) responsable de votre comportement lorsque vous accédez aux Produits et Services ou que vous les utilisez. Vous vous engagez à respecter les présentes conditions et à ne pas :
  %p adopter un comportement diffamatoire, menaçant, intimidant, de prédateur ou harcelant ;
  %p utiliser ou tenter d’utiliser le compte d’un autre utilisateur sans l’autorisation de cet utilisateur et de ChefSteps ;
  %p
    utiliser les Produits ou services d’une manière susceptible de perturber, de nuire ou d’empêcher d’autres utilisateurs de profiter pleinement des Produits ou services, ou encore susceptible de détériorer, désactiver, surcharger ou compromettre le fonctionnement
    des Produits ou des services de quelque manière que ce soit ;
  %p transformer un aspect quel qu’il soit des Produits ou services, y compris la correction des erreurs, sans l’autorisation de ChefSteps ;
  %p
    soumettre à des opérations d’ingénierie inversée un aspect quel qu’il soit des Produits ou services ou faire quoi que ce soit qui pourrait vous permettre de découvrir le code source ou de contourner les mesures employées pour empêcher ou limiter l’accès
    à des éléments, fonctions ou parties des Produits ou services, à moins que la loi en vigueur ne l’autorise expressément ;
  %p développer des applications tiers qui entrent en interaction avec le Contenu Utilisateur ou les Produits ou services sans notre accord écrit préalable ;
  %p
    utiliser un robot, un robot d’indexation, un « crawler », un « scraper », un script, une extension de navigateur, un lecteur hors ligne ou tout autre moyen automatisé ou interface non autorisée par nous pour accéder aux Produits ou services, extraire
    des données ou encore perturber ou modifier le rendu des éléments ou le fonctionnement ;
  %p
    contourner ou ignorer les instructions contenues dans le fichier robots.txt, qui peut être consulté à l’adresse
    %a{:href => "https://www.chefsteps.com/robots.txt"} https://www.Chefsteps.com/robots.txt
    et qui contrôle tous les accès automatisés aux services ;
    ou
  %p utiliser les Produits ou services à des fins illégales ou non autorisées, ou intervenir, encourager ou promouvoir des interventions de manière contraire aux présentes conditions.
  %h3 11.	Contenu Utilisateur
  %p
    Les Services peuvent inclure des fonctions interactives et des sections permettant aux utilisateurs de créer, poster, partager ou stocker du contenu, et notamment du contenu généré par les utilisateurs, des recettes, des avis, des photos, des vidéos,
    de la musique, du son, du texte, des illustrations, un code ou autres éléments (ensemble, le « 
    %strong> Contenu Utilisateur
     »). Si vous décidez de partager votre Contenu Utilisateur avec d’autres personnes dans le cadre des Services ou sur des
    plates-formes tierces, vous comprenez que ce Contenu Utilisateur pourra être vu par d’autres personnes conformément aux paramètres de confidentialité que vous avez définis dans votre compte.
  %p
    Vous convenez que vous êtes seul(e) responsable de votre Contenu Utilisateur et de l’utilisation que vous faites des fonctions et sections interactives des Services. En postant, téléchargeant depuis votre appareil ou encore soumettant du Contenu Utilisateur,
    vous déclarez et garantissez (a) que ce Contenu Utilisateur n’est pas confidentiel ; (b) que vous détenez tous les droits de propriété intellectuelle (ou avez obtenu toutes les autorisations nécessaires) pour fournir ce contenu et concéder les licences
    visées dans les présentes ; et (c) que le Contenu Utilisateur ne portera pas atteinte à un droit de propriété intellectuelle ou autre droit de propriété, et notamment à aucun droit de publicité ou de confidentialité, d’une personne morale ou physique
    quelle qu’elle soit.
  %p En utilisant les fonctions et les sections interactives des Services, vous vous engagez en outre à ne pas créer, poster, partager ou stocker :
  %p
    du Contenu Utilisateur qui est illégal, diffamatoire, calomnieux, obscène, pornographique, indécent, suggestif, harcelant, menaçant, portant atteinte au droit à la vie privée et à la protection de la personnalité d’autrui, malveillant, provocateur, frauduleux
    ou encore répréhensible ;
  %p
    du Contenu Utilisateur qui constituerait ou encouragerait ou donnerait des instructions afin de commettre une infraction pénale, porterait atteinte aux droits d’un tiers ou serait source de responsabilité ou enfreindrait une règlementation nationale ou
    internationale ;
  %p du Contenu Utilisateur qui contient ou décrit des déclarations, observations ou revendications qui ne reflètent pas fidèlement vos opinions et vos expériences ;
  %p du Contenu Utilisateur qui vous fait passer pour une personne morale ou physique que vous n’êtes pas ou qui présente de manière erronée votre relation avec cette celle-ci ;
  %p du Contenu Utilisateur qui mentionne ou décrit Chefsteps ou nos Produits ou services sans pour autant faire état d’une éventuelle relation que vous avez avec ChefSteps (par exemple, si vous êtes salarié(e) de Chefsteps) ;
  %p du Contenu Utilisateur qui contient des promotions, de la propagande politique, de la publicité ou des sollicitations non souhaités ;
  %p du Contenu Utilisateur qui contient des virus, des données corrompues ou d’autres fichiers ou contenu dangereux, perturbateurs ou destructeurs ; ou
  %p
    du Contenu Utilisateur qui, selon nous, est répréhensible ou qui limite ou fait obstacle à l’utilisation et la jouissance par une autre personne des Produits ou des Services, ou qui peut exposer Chefsteps ou d’autres à un préjudice ou responsabilité de
    quelque nature que ce soit.
  %p
    Nous déclinons toute responsabilité concernant tout Contenu Utilisateur. Bien que nous n’ayons aucune obligation de filtrer, de modifier ou de contrôler le Contenu Utilisateur, nous nous réservons le droit de supprimer, filtrer ou modifier le Contenu
    Utilisateur posté ou stocké dans les services à tout moment et pour quelque motif que soit et nous avons toute latitude pour le faire. Par ailleurs, il vous appartient, à vous seul(e), de créer des copies de sauvegarde du Contenu Utilisateur que vous
    postez ou stockez dans les services et de le remplacer à vos frais.
  %h3 12.	Droits relatifs au Contenu Utilisateur
  %p
    Sauf mention contraire dans les présentes Conditions ou dans un accord séparé, nous ne revendiquons ni la propriété ni le contrôle de votre Contenu Utilisateur. Toutefois, en téléchargeant depuis votre appareil, en postant ou encore en soumettant du Contenu
    Utilisateur, vous concédez à ChefSteps un droit non exclusif, gratuit, universel, perpétuel, irrévocable et cessible, avec possibilité de sous-licences, d’utilisation, de reproduction, de modification, d’adaptation, de publication, de traduction, de
    création d’œuvres dérivées, de diffusion et de présentation en public de ce Contenu Utilisateur et de votre nom, de votre image, de votre voix et de votre personne dans le cadre des Services, sur des sites et applications mobiles de tiers, et sur tous
    les autres médias ou sous tous les autres formats, qu’ils soient déjà connus actuellement ou développés ultérieurement, à quelques fins que ce soit, y compris aux fins commerciales de ChefSteps. Vous autorisez en outre tous les utilisateurs de nos services
    à accéder à votre Contenu Utilisateur et à l’utiliser conformément aux termes de la version la plus récente de la licence
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"} Creative Commons Attribution + Pas d’Utilisation Commerciale + Partage
    (BY-NC-SA).
  %h3 13.	Avis et Observations
  %p
    Hormis votre Contenu Utilisateur, vous pouvez faire part de vos questions, observations, suggestions, idées, éléments originaux ou créatifs ou autres informations concernant ChefSteps ou ses Produits ou services (ensemble, « 
    %strong> Avis et Observations
     »).
    Ces Avis et Observations ne sont pas confidentiels et deviennent la propriété exclusive de ChefSteps. ChefSteps détient des droits exclusifs, et notamment tous les droits de propriété intellectuelle, sur ces Avis et Observations et a le droit de les
    utiliser et de les diffuser de manière illimitée à quelques fins que ce soit, commerciales ou autre, sans vous mentionner ni vous rémunérer.
  %h3 14.	Indemnisation
  %p
    Dans les limites prévues par la loi applicable, vous vous engagez à garantir ChefSteps et ses salariés, dirigeants, administrateurs, contractants, consultants, actionnaires, fournisseurs, prestataires de services, sociétés mères, filiales, mandataires,
    représentants, prédécesseurs, successeurs et cessionnaires respectifs passés, présents et futurs (avec ChefSteps, les « 
    %strong> Parties ChefSteps
     ») contre l’ensemble des actions de tiers, quelle qu’en soit la nature, en matière délictuelle,
    contractuelle ou autre (ensemble, les « 
    %strong> Actions
     »), y compris les dommages matériels ou préjudices corporels, qui feraient suite ou seraient liés :
  %p à votre accès à nos Produits, Services et Eléments ou à leur utilisation, abusive ou non, par vous-même ;
  %p à du Contenu Utilisateur que vous créez, postez, partagez ou stockez dans le cadre de nos services ou sur nos pages ou fils d’information sur les plates-formes de médias sociaux tierces ;
  %p aux Avis et Observations dont vous nous faites part ;
  %p à une atteinte, par vous-même, aux présentes Conditions ;
  %p à une atteinte, par vous-même, aux droits d’un tiers ; ou
  %p à l’utilisation, abusive ou non, des Produits ou Services par un tiers que vous autorisez à utiliser les Produits ou Services qui vous sont fournis.
  %p Cette obligation de garantie couvre le paiement des frais d’avocat et des autres frais engagés par les Parties ChefSteps pour examiner ces actions et les contester, ainsi que les frais liés à l’exécution forcée de cette obligation de garantie.
  %p
    Vous vous engagez à aviser dans les meilleurs délais ChefSteps de toute action engagée par un tiers et de coopérer avec les Parties ChefSteps dans le cadre de la contestation de cette action. Vous convenez en outre que les Parties ChefSteps contrôleront
    la contestation ou le règlement de toutes actions de tiers. Cette indemnisation est en plus, et non en remplacement, des autres indemnisations décrites un accord écrit conclu entre vous et ChefSteps.
  %h3 15.	Exclusion de garanties
  %p
    NOUS POUVONS ÊTRE AMENÉS À VOUS FAIRE PART, POUR VOTRE SANTÉ ET VOTRE SÉCURITÉ, D’IMPORTANTES MISES EN GARDE ET INSTRUCTIONS QUE VOUS DEVEZ IMPÉRATIVEMENT LIRE AVANT D’UTILISER CERTAINS PRODUITS CHEFSTEPS ET/OU DE BÉNÉFICIER DE CERTAINES ACTIVITÉS OU
    SERVICES. NOUS POUVONS METTRE À JOUR OU RÉVISER CES MISES EN GARDE ET INSTRUCTIONS ET VOUS PRIONS DONC DE LES CONSULTER RÉGULIÈREMENT.
  %p
    DANS LES LIMITES PRÉVUES PAR LA LOI EN VIGUEUR, LES SERVICES ET ÉLÉMENTS CHEFSTEPS SONT FOURNIS « EN L’ÉTAT » ET « SOUS RÉSERVE DE DISPONIBILITÉ » SANS GARANTIE DE QUELQUE NATURE QUE CE SOIT, EXPRESSE OU TACITE, ET NOUS EXCLUONS EXPRESSÉMENT TOUTES LES
    AUTRES GARANTIES, EXPRESSES OU TACITES, ET NOTAMMENT LES GARANTIES TACITES DE QUALITÉ MARCHANDE, D’APTITUDE A L’EXÉCUTION D’UN TRAVAIL DONNÉ, DE PROPRIÉTÉ ET DE NON-CONTREFAÇON. NOUS NE DÉCLARONS ET NE GARANTISSONS PAS QUE LES SITES INTERNET, APPLICATIONS
    MOBILES ET ÉLÉMENTS CHEFSTEPS SONT EXACTS, COMPLETS, FIABLES, À JOUR OU EXEMPTS D’ERREUR. DE PLUS, NOS SITES INTERNET, APPLICATIONS MOBILES ET ÉLÉMENTS (A) NE SONT FOURNIS QUE POUR INFORMATION, (B) SONT FOURNIS EN TANT QUE CONSEILS GÉNÉRAUX ET (C) NE
    SONT PAS DESTINÉS À REMPLACER UN AVIS MÉDICAL OU NUTRITIONNEL PROFESSIONNEL. SI NOUS NOUS EFFORÇONS DE SÉCURISER VOTRE ACCÈS AUX SITES INTERNET, APPLICATIONS MOBILES ET ÉLÉMENTS CHEFSTEPS AINSI QUE LEUR UTILISATION, NOUS NE POUVONS DÉCLARER NI GARANTIR,
    ET NE DÉCLARONS ET NE GARANTISSONS PAS, QUE CEUX-CI OU NOS SERVEURS SONT EXEMPTS DE VIRUS OU D’AUTRES COMPOSANTS DANGEREUX. PAR CONSÉQUENT, IL VOUS APPARTIENT D’UTILISER UN LOGICIEL RECONNU DANS LE SECTEUR POUR DÉTECTER LES VIRUS PRÉSENTS DANS TOUT
    FICHIER TÉLÉCHARGÉ ET LES ÉLIMINER.
  %p
    C’EST À VOUS ET À VOUS SEUL(E) QU’IL INCOMBE DE LAVER, MANIPULER, PRÉPARER, STOCKER, CUIRE, UTILISER ET CONSOMMER VOS ALIMENTS DE MANIÈRE ADAPTÉE ET SÛRE. LES INSTRUCTIONS DE CUISSON ET LES CONSIGNES DONNÉES PAR CHEFSTEPS NE SONT DONNÉES QU’À TITRE INDICATIF.
    NOUS VOUS INVITONS A AGIR DE MANIRE RAISONNABLE QUAND VOUS PRÉPAREZ OU CONSOMMEZ DES ALIMENTS. LA CONSOMMATION DE VIANDES, DE VOLAILLE, DE FRUITS DE MER, DE COQUILLAGES OU D’ŒUFS CRUS OU INSUFFISAMMENT CUITS PEUT AUGMENTER VOS RISQUES D’INTOXICATION
    ALIMENTAIRE, ET NOUS LAISSONS CETTE CONSOMMATION À VOTRE APPRÉCIATION. NOUS DÉCLINONS EXPRESSÉMENT TOUTE RESPONSABILITÉ CONCERNANT LES EFFETS NOCIFS QUI POURRAIENT RÉSULTER DE LA MISE EN ŒUVRE OU DE L’UTILISATION DES INFORMATIONS FOURNIES DANS LE CADRE
    DES SERVICES.
  %p
    CHEFSTEPS NE FOURNIT AUCUNE GARANTIE SUR LES PRODUITS QUI SONT FABRIQUÉS PAR D’AUTRES ENTITÉS, MÊME SI VOUS POUVEZ LES ACHETER DANS LE CADRE DE NOS SERVICES. LES PRODUITS FABRIQUÉS PAR D’AUTRES ENTITÉS MAIS VENDUS DANS LE CADRE DE NOS SERVICES SONT VENDUS
    PAR CHEFSTEPS « EN L’ÉTAT » ET « AVEC TOUS LES DÉFAUTS ». CHEFSTEPS EXCLUT TOUTES LES GARANTIES TACITES CONCERNANT CES PRODUITS, Y COMPRIS LES GARANTIES TACITES DE QUALITÉ MARCHANDE, D’APTITUDE A L’EXÉCUTION D’UN TRAVAIL DONNÉ, DE PROPRIÉTÉ ET DE NON-CONTREFAÇON.
    CHEFSTEPS NE GARANTIT AUCUNE QUALITÉ NI CARACTÉRISTIQUE DES PRODUITS QUE NOUS NE FABRIQUONS PAS. À MOINS QUE LE FABRICANT NE FOURNISSE UNE GARANTIE, VOUS ASSUMEZ, EN TANT QU’ACHETEUR, L’ENSEMBLE DES RISQUES LIÉS À LA QUALITÉ ET AU FONCTIONNEMENT DE
    CES PRODUITS, ET LE COÛT TOTAL DE TOUT REMPLACEMENT OU DE TOUTE RÉPARATION NÉCESSAIRE EST À VOTRE CHARGE ET NON À LA CHARGE DE CHEFSTEPS.
  %p LES FABRICANTS DES PRODUITS VENDUS PAR CHEFSTEPS PEUVENT FOURNIR LEURS PROPRES GARANTIES ET VOUS CONVENEZ QUE VOTRE RECOURS EN CAS DE DÉFAUT DE CES PRODUITS SERA BASÉ UNIQUEMENT SUR LES GARANTIES FOURNIES, LE CAS ÉCHANT, PAR CES FABRICANTS.
  %h3 16.	Limitation de la responsabilité ; Désistement
  %p
    DANS LES LIMITES PRÉVUES PAR LA LOI EN VIGUEUR : (A) NI CHEFSTEPS NI LES AUTRES PARTIES CHEFSTEPS NE SAURONT ÊTRE RESPONSABLES DE QUELQUE MANIÈRE QUE CE SOIT DE DOMMAGES INDIRECTS, SPÉCIAUX, ACCESSOIRES, CONSÉCUTIFS DE QUELQUE NATURE QUE CE SOIT (ET NOTAMMENT
    DE MANQUE À GAGNER, DE PERTE DE REVENUS OU DE BÉNÉFICES, DE PERTE DE JOUISSANCE OU DE DONNÉES, DE PERTE OU DIMINUTION DE VALEUR D’ACTIFS OU DE TITRES, OU ENCORE DE PERTE D’EXPLOITATION) QUI FERAIENT SUITE OU SERAIENT DE QUELQUE MANIÈRE QUE CE SOIT LIÉS
    À L’ACCÈS AUX SERVICES OU AUX ÉLÉMENTS OU À LEUR UTILISATION OU ENCORE AUX PRÉSENTES CONDITIONS (ET NOTAMMENT TOUS DOMMAGES RÉSULTANT DE L’UTILISATION, PAR UN UTILISATEUR, D’UNE INFORMATION COMMUNIQUÉE PAR CHEFSTEPS, OU DES ERREURS, OMISSIONS, INTERRUPTIONS,
    SUPPRESSIONS DE FICHIERS OU D’E-MAILS, ERREURS, DÉFAUTS, « BUGS », VIRUS, CHEVAUX DE TROIE, RETARDS DE FONCTIONNEMENT OU DE TRANSMISSION OU ENCORE DÉFAILLANCES RÉSULTANT OU NON D’UNE CATASTROPHE NATURELLE OU DE LA FORCE MAJEURE, D’UNE PANNE DES SYSTÈMES
    DE COMMUNICATION, D’UN VOL, DE LA DESTRUCTION OU DE L’ACCÈS NON AUTORISÉ AUX DOSSIERS, PROGRAMMES OU SYSTÈMES DE CHEFSTEPS), QUELLE QUE SOIT LA FORME DE L’ACTION, QU’ELLE SOIT FONDÉE SUR LA RESPONSABILITÉ CONTRACTUELLE, LA RESPONSABILITÉ DÉLICTUELLE
    (ET NOTAMMENT LA NÉGLIGENCE SIMPLE, QU’ELLE SOIT ACTIVE, PASSIVE OU SUPPOSÉE), LA RESPONSABILITÉ PRODUIT STRICTE OU TOUT AUTRE CONCEPT JURIDIQUE EN ÉQUITÉ (MÊME SI LA PARTIE CONCERNÉE A ÉTÉ INFORMÉE QUE CES DOMMAGES RISQUAIENT DE SE CONCRÉTISER ET QUE
    CES DOMMAGES AIENT ÉTÉ OU NON PRÉVISIBLES) ; ET (B) LA RESPONSABILITÉ TOTALE DE CHEFSTEPS ET DES PARTIES CHEFSTEPS (CONJOINTEMENT), QUE CE SOIT AU TITRE D’UN CONTRAT, D’UNE GARANTIE, D’UN DÉLIT (ET NOTAMMENT DE LA NÉGLIGENCE, QU’ELLE SOIT ACTIVE, PASSIVE
    OU SUPPOSÉE), AU TITRE DE LA RESPONSABILITÉ DU FAITS DES PRODUITS DEFECTUEUX, DE LA RESPONSABILITÉ STRICTE OU D’UN AUTRE CONCEPT JURIDIQUE, EN LIEN AVEC L’UTILISATION, POSSIBLE OU NON, DES SERVICES, Y COMPRIS DES ÉLÉMENTS ET DES FONCTIONNALITES QU’ILS
    CONTIENNENT, NE SAURA EN AUCUN CAS ÊTRE SUPÉRIEURE À LA RÉMUNÉRATION QUI NOUS A ÉTÉ VERSÉE POUR VOTRE ACCÈS AUX PRODUITS OU SERVICES OU LEUR UTILISATION.
  %p
    DANS LES LIMITES PRÉVUES PAR LA LOI EN VIGUEUR, VOUS VOUS DÉSISTEZ, AU NOM DE VOS HÉRITIERS, EXÉCUTEURS TESTAMENTAIRES, ADMINISTRATEURS, REPRÉSENTANTS LÉGAUX ET PERSONNELS, AU PROFIT DES PARTIES CHEFSTEPS DE TOUTES LES ACTIONS QUI FERAIENT SUITE OU SERAIENT
    LIÉES AUX PRÉSENTES CONDITIONS. SI VOUS RÉSIDEZ EN CALIFORNIE, VOUS RENONCEZ PAR LES PRÉSENTES À L’APPLICATION DE LA SECTION 1542 DU CODE CIVIL CALIFORNIEN À CE SUJET PREVOIT QUE : « UN DÉSISTEMENT GÉNÉRAL NE S’ÉTEND PAS AUX CRÉANCES DONT LE CRÉANCIER
    NE CONNAÎT PAS OU NE SUSPECTE PAS L’EXISTENCE EN SA FAVEUR AU MOMENT DE LA SIGNATURE DU DÉSISTEMENT ET QUI, S’IL EN AVAIT EU CONNAISSANCE, AURAIENT EU UNE INCIDENCE IMPORTANTE SUR SON RÈGLEMENT AVEC LE DÉBITEUR ». VOUS RENONCEZ PAR LES PRÉSENTES À L’APPLICATION
    DE TOUTE DISPOSITION SIMILAIRE DANS UN AUTRE PAYS.
  %p
    LES LIMITATIONS PRÉVUES DANS LE PRESENT ARTICLE 16 NE SAURONT LIMITER NI EXCLURE LA RESPONSABILITÉ EN CAS DE DÉCÈS OU DE DOMMAGE CORPOREL CAUSÉ PAR DES PRODUITS OU SERVICES QUE VOUS NOUS ACHETEZ, NI EN CAS DE FRAUDE, DE FAUTE LOURDE OU DE COMPORTEMENT
    INTENTIONNELLEMENT MALVEILLANT OU IMPRUDENT DE NOTRE PART.
  %h3 17.	Modifications des services
  %p
    Nous nous réservons le droit de modifier à notre gré tous les éléments et de modifier ou suspendre l’accès aux services (ou des fonctions ou fonctionnalités des services) ou encore y mettre fin à tout moment sans avis préalable et sans obligation ni responsabilité
    envers vous. Vous avez également le droit de ne pas utiliser tout ou partie des services ou de résilier le présent contrat à tout moment.
  %h3 18.	Résolution des litiges ; Arbitrage
  %p LISEZ ATTENTIVEMENT L’ARTICLE SUIVANT PARCE QU’IL VOUS OBLIGE À AVOIR RECOURS A L’ARBITRAGE DANS LE CADRE DE CERTAINS LITIGES ET RÉCLAMATIONS AVEC CHEFSTEPS ET LIMITE LA MANIÈRE DONT VOUS POUVEZ NOUS RÉCLAMER RÉPARATION.
  %h4 18.1.	Arbitrage exécutoire
  %p
    À l’exception des litiges, réclamations, procès, actions, motifs d’action, exigences ou procédures (ensemble, les « 
    %strong> Litiges
     ») qui feraient suite ou seraient liés à un manquement à l’Article 10 ou des Litiges dans le cadre desquels l’une
    des parties cherche à entamer une action individuelle devant la cour des petites créances (
    %em> small claims court
    ) ou demande une mesure de réparation par injonction ou autre mesure de réparation en équité pour l’utilisation illégale présumée d’éléments
    protégés par des droits de propriété intellectuelle, et notamment droits d’auteur, marques de fabrique, dénominations commerciales, logos, secrets professionnels ou brevets, vous et ChefSteps vous engagez (a) à renoncer à vos droits respectifs et à
    faire résoudre tous les litiges faisant suite ou liés aux présentes Conditions, aux Services, Eléments ou Produits, par un tribunal, et (b) à renoncer à vos droits respectifs à un procès avec jury. Au lieu de cela, vous et ChefSteps vous engagez à soumettre
    vos litiges à un arbitrage (soumettre le litige à une ou plusieurs personnes chargées d’examiner le litige et de rendre une décision finale et exécutoire afin de le résoudre au lieu de demander à un juge ou à un jury du tribunal de statuer sur ce litige).
  %h4 18.2.	Interdiction des arbitrages collectifs, actions collectives et recours collectifs
  %p
    Vous et ChefSteps convenez que tout litige faisant suite ou lié aux présentes Conditions, aux Services, aux Produits ou Eléments est un litige personnel qui vous oppose à ChefSteps et que ce litige sera résolu uniquement par arbitrage individuel et ne
    donnera pas lieu à un arbitrage collectif, à une action collective ou à tout autre type de recours collectif. Vous et ChefSteps convenez qu’il n’y aura ni arbitrage collectif ni arbitrage le cadre duquel un individu tenterait de résoudre un litige en
    qualité de représentant d’un autre individu ou groupe d’individus. De plus, vous et ChefSteps convenez qu’un litige ne peut prendre la forme d’une action collective ou d’un autre type de recours collectif, que ce soit dans le cadre ou en dehors de l’arbitrage,
    ou au nom d’un autre individu ou groupe d’individus.
  %h4
    18.3.
    %em Federal Arbitration Act
  %p
    Vous et ChefSteps convenez que les présentes conditions affectent le commerce entre états et que la nature exécutoire du présent Article 18 est régie sur les plans à la fois matériel et procédural par le
    = succeed "," do
      %em Federal Arbitrage Act
    = succeed "\u{a0}\u{bb})," do
      %strong FAA
  %h4 18.4.	Notification ; Règlement informel des litiges
  %p
    Vous et ChefSteps convenez que chacune des parties informera l’autre partie par écrit de toute Litige qu’elle souhaite soumettre à arbitrage ou de toute autre demande dans le délai de trente (30) jours à compter de la survenance de l’élément à l’origine
    de ce Litige ou de cette demande, de manière à ce que les parties puissent tenter en toute bonne foi de résoudre ce Litige de manière informelle. Une notification sera adressée par voie électronique à ChefSteps à l’adresse
    = succeed "." do
      %a{:href => "mailto:disputes@chefsteps.com"} disputes@chefsteps.com
  %h4 18.5.	Procédure
  %p
    À l’exception des Litiges faisant suite ou liés à un manquement à l’Article 10 ou des litiges dans lesquels l’une des parties tente d’entamer une action individuelle devant le tribunal des petites créances ou demande une mesure de réparation par injonction
    autre réparation en Équité pour l’utilisation illégale présumée de propriété intellectuelle, et notamment de droits d’auteur, marques de fabrique, dénominations commerciales, logos, secrets professionnels ou brevets, vous et ChefSteps convenez que (a)
    tout arbitrage se déroulera dans le Comté de King, Washington, (b) cet arbitrage sera mené de manière confidentielle par un arbitre unique conformément au règlement des
    %em Judicial Arbitration and Mediation Services
    (« 
    %strong> JAMS
     »),
    qui est de par la présente mention intégré aux présentes, et (c) que les tribunaux d’état ou fédéraux de l’état de Washington et des États-Unis siégeant dans le Comté de King, Washington, ont compétence exclusive pour connaître des appels et de l’exécution
    d’une sentence arbitrale. Vous pouvez également soumettre un Litige au tribunal des petites créances siégeant dans le comté de votre adresse de facturation si ce Litige remplit les exigences pour être entendu devant le tribunal des petites créances.
  %h4 18.6.	Pouvoir de l’arbitre
  %p
    Conformément aux termes du FAA, aux présentes conditions et au règlement JAMS applicable, l’arbitre aura (a) le pouvoir et la compétence exclusifs pour prendre toutes les décisions sur les plans à la fois matériel et procédural concernant un Litige, y
    compris pour déterminer si un Litige est arbitrable, et (b) le pouvoir d’accorder une réparation qui serait disponible devant les tribunaux, étant toutefois entendu qu’il n’a pas le pouvoir de présider un arbitrage collectif ou un recours collectif,
    qui sont interdits par les présentes conditions. L’arbitre ne peut mettre en œuvre qu’un arbitrage individuel et n’est pas autorisé à rassembler les réclamations de plusieurs individus, de présider une action ou un recours de type collectif ou de mettre
    en œuvre une procédure impliquant plusieurs individus.
  %h4 18.7.	Règlement du JAMS
  %p
    Le règlement du JAMS et des informations concernant le JAMS peuvent être consultés sur le site Internet JAMS. En acceptant d’être lié(e) par les présentes conditions, (a) vous reconnaissez et convenez avoir lu et compris le règlement du JAMS, ou alors
    (b) vous renoncez à la possibilité de lire le règlement du JAMS et à toute revendication selon laquelle ce règlement serait injuste ou ne devrait pas s’appliquer pour une raison quelle qu’elle soit.
  %h4 18.8.	Autonomie des termes
  %p
    Si un terme, une clause ou une disposition du présent Article 18 est considérée non valable ou inapplicable, alors ce(cette) dernier(ère) sera jugé(e) non valable ou inapplicable dans la mesure légalement requise, et tous les autres termes, clauses et
    modalités du présent Article 18 resteront valables et exécutoires. De plus, les renonciations visées dans l’Article 18.2 sont dissociables des autres modalités des présentes conditions et resteront valables et exécutoires, à moins que la loi applicable
    ne l’interdise.
  %h3 19.	Droit applicable et attribution de compétence
  %p
    Les présentes conditions ainsi que votre accès aux Produits et services et leur utilisation sont régis par les lois de l’état de Washington, sans que ne soient pris en compte ces règles ou principes en matière de conflits de lois (de l’état de Washington
    ou de tout autre pays) qui entraîneraient l’application des lois d’un autre pays. Tout litige opposant les parties qui n’est pas soumis à l’arbitrage ou qui ne peut être entendu devant le tribunal des petites créances sera résolu respectivement par
    les tribunaux d’état ou fédéraux de l’état de Washington et des États-Unis siégeant dans le Comté de King, Washington.
  %h3 20.	Résiliation
  %p
    Nonobstant toute mention contraire dans les présentes Conditions, dans les limites prévues par la loi applicable, nous nous réservons le droit de mettre fin, sans notification préalable et à notre discretion, à votre droit d’accéder aux Services ou de
    les utiliser, et de bloquer ou d’empêcher tout nouvel accès et toute nouvelle utilisation des Services. Si vous cédez un Produit qui est lié à nos Services, tel le Joule, à un nouveau propriétaire, votre droit d’utiliser les Services en lien avec ce
    Produit expirera automatiquement, et le nouveau propriétaire n’aura pas le droit d’utiliser les Services avec votre compte et devra créer un compte ChefSteps séparé.
  %h3 21.	Autonomie des termes
  %p
    Si un terme, une clause ou une disposition des présentes conditions est jugé non valable ou non exécutoire, alors ce terme, cette clause ou cette disposition sera retiré des présentes Conditions sans que cela n’affecte la validité ou la nature exécutoire
    de toute partie restante de ce terme, de cette clause ou de cette disposition ni d’un autre terme, clause ou disposition des présentes Conditions.
  %h3 22.	Maintien en vigueur
  %p
    Les articles suivants resteront en vigueur après l’expiration ou la résiliation des présentes conditions et la résiliation de votre compte ChefSteps : tous les termes définis et les Articles 1, 2, 3, 4, 5 (premier paragraphe uniquement), 6, 7, 8 (deuxième
    paragraphe uniquement), ainsi que les Articles 9 à 23.
  %h3 23.	Communication d’informations en Californie
  %p
    Si vous résidez en Californie, vous pouvez signaler vos réclamations à l’unité d’assistance aux consommateurs de la division
    = succeed "du" do
      %em Consumer Information
    %em California Department of Consumer Affairs
    par écrit au 1625 North Market Blvd., Suite
    N 112, Sacramento, CA 95834, ou par téléphone au (800) 952‑5210.
  %h3 24.	Questions
  %p
    Si vous avez des questions concernant les présentes conditions ou nos Produits ou services, contactez-nous à
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@Chefsteps.com
