#terms
  %h3 CONDIZIONI DI UTILIZZO E VENDITA DI CHEFSTEPS
  %p Ultimo Aggiornamento: 9/11/2017
  %p
    SI PREGA DI LEGGERE ATTENTAMENTE LE PRESENTI CONDIZIONI DI UTILIZZO E VENDITA, COMPRESE LE DISPOSIZIONI SULL&#x2019;ARBITRATO OBBLIGATORIO DI CUI ALL&#x2019;ARTICOLO 18 PER I RESIDENTI NEGLI STATI UNITI. PER COLORO CHE RISIEDONO FUORI DAGLI STATI UNITI, POSSONO TROVARE
    APPLICAZIONE ULTERIORI CONDIZIONI CHE INTEGRANO O SOSTITUISCONO TALUNE DISPOSIZIONI CONTENUTE NELLE PRESENTI CONDIZIONI DI UTILIZZO E VENDITA. SI PREGA DI ESAMINARE LA FINE DEL PRESENTE DOCUMENTO PER VERIFICARE SE EVENTUALI ULTERIORI CONDIZIONI SONO
    APPLICABILI ALL&#x2019;UTENTE.
  %p
    CLICCANDO PER INDICARE ACCETAZIONE ALLE PRESENTI CONDIZIONI DI UTILIZZO E VENDITA, O ACCEDENDO O UTILIZZANDO ALTRIMENTI I PRODOTTI E SERVIZI CHEFSTEPS (DEFINITI DI SEGUITO), L&#x2019;UTENTE ACCETTA DI ESSERE VINCOLATO ALLE PRESENTI CONDIZIONI DI UTILIZZO E VENDITA
    E A TUTTE LE CONDIZIONI CUI SI FA RIFERIMENTO NEL PRESENTE DOCUMENTO. IN CASO DI MANCATA SOTTOSCRIVERE DELLE PRESENTI CONDIZIONI NEL LORO COMPLESSO, SI PREGA DI NON ACCEDERE, ACQUISTARE O UTILIZZARE I PRODOTTI O I SERVIZI CHEFSTEPS.
  %p
    Le presenti Condizioni di Utilizzo e Vendita (le &#x201C;
    %strong> Condizioni
    \&#x201D;) si applicano all&#x2019;accesso e all&#x2019;uso, da parte dell&#x2019;utente, dei Prodotti e Servizi ChefSteps, Inc. (&#x201C;
    %strong> ChefSteps
    \&#x201D;), societ&#xE0; costituita nello Stato di Washington,
    Stati Uniti, con sede in 1501 Pike Place, #300, Seattle, Washington, 98101, codice fiscale
    464326180
    \. Il termine &#x201C;
    %strong> Prodotti
    \&#x201D; indica i dispositivi hardware e fisica venduti da ChefSteps, compresi il
    %em Joule Circulator
    e il
    = succeed "." do
      %em Joule Big Clamp
    = succeed "\u{201d}" do
      %strong Servizi
  %p
    Le presente Condizioni non alterano in alcun modo le condizioni di qualsiasi altro contratto che l&#x2019;utente possa avere concluso con ChefSteps con riferimento a qualsiasi Prodotto, Servizio o altro. Qualora l&#x2019;utente stia utilizzando i Prodotti o Servizi
    per conto di qualsiasi ente, dichiara e garantisce di essere autorizzato ad accettare le presenti Condizioni per conto di tale ente e che questo accetta di essere responsabile nei confronti di ChefSteps in caso di violazione delle presenti Condizioni
    da parte dell&#x2019;utente o dell&#x2019;ente.
  %p
    ChefSteps si riserva il diritto di cambiare o modificare le presenti Condizioni in qualsiasi momento e a propria discrezione. In caso di modifiche alle presenti Condizioni, ChefSteps ne dar&#xE0; comunicazione all&#x2019;utente via email, attraverso i Servizi o tramite
    l&#x2019;aggiornamento della data dell&#x2019;&#x201C;
    %strong> Ultimo Aggiornamento
    \&#x201D; all&#x2019;inizio delle presenti Condizioni. L&#x2019;utilizzo dei Servizi senza soluzione di continuit&#xE0; da parte dell&#x2019;utente equivale ad accettazione delle Condizioni aggiornate. ChefSteps invita
    l&#x2019;utente a prendere visione delle Condizioni con frequenza per accertarsi di comprendere le condizioni che trovano applicazione al momento dell&#x2019;accesso o dell&#x2019;utilizzo dei Servizi. La mancata accettazione delle Condizioni aggiornate, comporta l&#x2019;impossibilit&#xE0;
    di accesso o di utilizzo dei Servizi. Qualsiasi modifica apportata da ChefSteps non pregiudica i diritti dell&#x2019;utente con riferimento ai Prodotti gi&#xE0; acquistata o agli ordini gi&#xE0; inoltrati.
  %h3
    1.
    %em Policy
    sulla Privacy
  %p
    Si prega di fare riferimento alla
    %em Policy
    sulla
    %a{:href => "https://www.chefsteps.com/privacy"} Privacy di ChefSteps
    per informazioni sulle modalità di raccolta, utilizzo e divulgazione dei dati degli utenti.
  %h3 2.	Condizioni Aggiuntive
  %p
    L’utilizzo dei Prodotti e dei Servizi ChefSteps da parte dell’utente è soggetto alle condizioni applicabili a tali Prodotti e Servizi. Ad esempio, il download, l’installazione o un altro utilizzo delle app per dispositivi mobili di ChefSteps è soggetto
    al
    %a{:href => "https://www.chefsteps.com/eula"} Contratto di Licenza con l’Utente Finale
    \. L’acquisto dei Prodotti equivale ad accettazione della
    %a{:href => "https://www.chefsteps.com/joule/warranty"} Garanzia Limitata di ChefSteps
    \.
  %h3 3.	Idoneità; Registrazione e Account; Attrezzatura Richiesta, ISP e Gestore
  %p
    Idoneità. I Servizi non sono mirati o destinati all’utilizzo da parte di persone di età inferiore ai 13 anni. Inoltre, coloro che hanno un’età compresa tra i 13 ed i 18 anni (o tra i 13 anni e la maggiore età ai sensi della legge applicabile), possono
    utilizzare i Servizi solo sotto la supervisione di un genitore o di un tutore che accetti di essere vincolato alle presenti Condizioni. Utilizzando i Servizi, l’utente dichiara e garantisce (a) di non essere stato precedentemente sospeso o rimosso dai
    Servizi, o coinvolto in qualsiasi attività che possa comportare una sospensione o rimozione dai Servizi, e (b) di disporre delle piene facoltà per sottoscrivere le presente Condizioni senza violare alcun altro accordo di cui è parte.
  %p
    Registrazione e Account. Al fine di accedere e utilizzare talune aree o caratteristiche dei Servizi, l’utente deve registrare un account ChefSteps e/o creare un profilo. Quando l’utente registra un account, non può crearlo con un nome che comprenda un
    marchio senza autorizzazione del titolare dello stesso. ChefSteps si riserva il diritto di reclamare i nomi di account per conto di qualsiasi persona fisica o giuridica che detenga un diritto su tali nomi, compresi i diritti di marchio. Creando un account
    l’utente accetta di (a) fornire informazioni di account accurate, aggiornate e complete (b) conservare e aggiornare tempestivamente di volta in volta le informazioni dell’account in quanto necessario, (c) preservare la sicurezza delle credenziali dell’account,
    (d) essere responsabile degli atti e delle omissioni di qualsiasi terzo autorizzato dall’utente ad accedere o utilizzare l’account e i Servizi, e (e) informare immediatamente ChefSteps nel caso in cui venga a conoscenza o altrimenti sospetti che vi
    siano violazioni della sicurezza in relazione ai Servizi o all’account.
  %p
    Attrezzatura richiesta, ISP e Gestore. L’utente riconosce che la disponibilità di determinati Servizi dipende (a) dal computer, telefono cellulare o tablet, impianto domestico, rete Wi-Fi domestica, connessione Bluetooth e altre attrezzatture connesse
    (“
    %strong> Attrezzature
    ”) utilizzati, (b) dal fornitore di servizi Internet (“
    %strong> ISP
    ”, secondo l’acronimo inglese [
    %em> Internet service provider
    ]), e (c) dal gestore del telefono cellulare o del tablet (“
    %strong> Gestore
    ”).
    L’utente accetta di essere responsabile di tutti gli addebiti applicati dall’ISP o dal Gestore in relazione all’utilizzo dei Servizi e di essere responsabile del rispetto di tutti gli accordi e delle altre
    %em policy
    dell’ISP e del Gestore. L’utente
    riconosce e accetta altresì che i rapporti con l’ISP e con il Gestore non sono opponibili a terzi e che ChefSteps non è responsabile di tali rapporti e non risponde in alcuna maniera in relazione agli stessi.
  %h3 4.	Condizioni di Vendita
  %h4 4.1.	Pagamento e Informazioni di Fatturazione
  %p
    Fornendo una carta di credito o altro metodo di pagamento accettato da ChefSteps, l’utente dichiara e garantisce di essere autorizzato a utilizzare il metodo di pagamento indicato e di consentire a ChefSteps (o al terzo gestore del sistema di pagamento
    incaricato da ChefSteps) di utilizzare tale metodo di pagamento per addebitare l’intero importo dell’ordine (inclusa qualsiasi Imposta applicabile e altri oneri). Qualora il metodo di pagamento non possa essere verificato, non sia valido o non sia altrimenti
    accettabile, l’ordine dell’utente può essere sospeso o cancellato. Al fine di procedere con l’ordine, l’utente è tenuto a risolvere qualsiasi problema incontrato da ChefSteps in relazione al metodo di pagamento selezionato.
  %p
    La presentazione dei Prodotti e Servizi ChefSteps non deve essere considerata un’offerta vincolante, ma piuttosto un invito a fare un ordine. Una volta conclusa la procedura di acquisto online, l’utente e ChefSteps avranno concluso un contratto di vendita
    vincolante. L’utente può aggiornare il proprio carrello in qualsiasi momento prima di concludere la procedura di acquisto online. ChefSteps non potrà procedere con la consegna fino alla ricezione del pagamento.
  %h4 4.2.	Prezzi praticati e Disponibilità
  %p
    Tutti i prezzi sono indicati in dollari americani, salvo che la legge non richieda di indicare i prezzi nella valuta locale. I prezzi non includono le Imposte applicabili (definite di seguito), gli oneri di spedizione e gestione, o altri canoni, salva
    espressa disposizione contraria o salvo che la legge richieda di indicare i prezzi comprensivi di ogni Imposta, onere e altro canone.
  %p
    Tutti i Prodotti e Servizi messi in vendita sono soggetti a disponibilità e ChefSteps si riserva il diritto di imporre limiti di quantità su qualsiasi ordine, di rifiutare un ordine in tutto o parte e di interrompere la vendita di Prodotti e Servizi senza
    previa comunicazione. I prezzi relativi ai Prodotti e ai Servizi possono essere soggetti in qualsiasi momento a modifica, ma tali modifiche non pregiudicano eventuali ordini di Prodotti o Servizi già inoltrati.
  %h4 4.3.	Imposte
  %p
    Nella misura massima consentita dalla legge in vigore, l’utente è responsabili di qualsiasi imposta, canone o dazio di vendita, utilizzo, valore aggiunto o governativa (collettivamente, le “
    %strong> Imposte
    ”) dovuti in relazione all’acquisto e
    all’utilizzo dei Prodotti o dei Servizi. Gli ordini effettuati fuori dagli Stati Uniti possono essere sottoposti a Imposte se stabilito dall’agenzia delle dogane del paese di destinazione. L’accertamento d’Imposta è generalmente fondato sul valore dell’ordine
    e sull’esenzione dall’imposta (se applicabile) per beni importati nel paese di destinazione. ChefSteps riscuoterà le Imposte applicabili qualora ritenga di essere soggetta a un obbligo di riscossione delle stesse. Si rileva che ChefSteps non riscuote
    Imposte su merce spedita in ordinamenti che non abbiano un collegamento sostanziale con ChefSteps. Per gli utenti negli Stati Uniti, le Imposte effettive addebitate e riscosse possono differire dall’importo mostrato al checkout. Diversi fattori possono
    comportare questa differenza, quali gli scostamenti tra processori e le modifiche delle aliquote fiscali.
  %h4 4.4.	Spedizione; Rischio di Danno
  %p
    L’utente accetta di pagare qualsiasi onere di spedizione e gestione indicato al momento dell’acquisto. ChefSteps si riserva il diritto di aumentare, ridurre, aggiungere o eliminare oneri di spedizione e gestione di volta in volta, ma gli oneri applicabili
    saranno comunicati all’utente prima dell’acquisto. Eventuali date di consegna o tempistiche indicate come parte della procedura di checkout sono solo stimate e non sono garantite. Salve disposizioni contrarie, il rischio di perdita o danno di un Prodotto
    passa all’utente con la consegna del prodotto nel luogo di consegna indicato. Per eventuali domande o problemi riguardanti la spedizione, si prega di contattare ChefSteps all’indirizzo
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com.
  %h4 4.5.	Resi e Rimborsi
  %p
    %em> Premium Membership
    di ChefSteps. La
    %em Premium Membership
    di ChefSteps dà accesso illimitato alle lezioni ChefSteps e ad altri benefici riservati solo ai membri (i dettagli al seguente link:
    = succeed ")." do
      %a{:href => "https://www.chefsteps.com/premium"} https://www.chefsteps.com/premium
    %em Premium Membership
    di ChefSteps viene offerta con una garanzia di soddisfazione del 100%. Qualora l’utente non sia soddisfatto della
    = succeed "," do
      %em Premium Membership
    = succeed "la" do
      %em
    %em Premium Membership
    sarà rimborsata
    per intero secondo le stesse modalità di pagamento, detratti eventuali sconti applicati all’utente in quanto membro.
  %p
    Prodotti Acquistati Direttamente da ChefSteps. Per i residenti negli Stati Uniti, ChefSteps accetta resi e richieste di rimborsi per i Prodotti non alimentari acquistati direttamente da ChefSteps qualora tali prodotti siano restituiti entro 30 giorni
    dalla consegna, chiusi e non utilizzati. Prima della restituzione di qualsiasi Prodotto, l’utente deve ottenere un’autorizzazione di restituzione da ChefSteps, che può essere richiesta scrivendo all’indirizzo
    %a{:href => "mailto:support@chefsteps.com"} support@chefsteps.com
    e fornendo le seguenti informazioni: (a) il numero di serie del Prodotto; (b) la ragione del reso; e (c) il numero originario dell’ordine di acquisto. ChefSteps potrà addebitare una maggiorazione per ricostituzione delle scorte del 20% per eventuali
    resi non effettuati conformemente alle presenti Condizioni. Per coloro che non risiedono negli Stati Uniti, si prega di prendere visione delle condizioni di reso e rimborso relative a Prodotti acquistati da ChefSteps applicabili al relativo paese di
    residenza.
  %p
    Prodotti di Terzi Acquistati da Venditori Terzi. ChefSteps può offrire la possibilità di acquistare prodotti da venditori terzi attraverso i Servizi, e in tal caso ChefSteps agisce esclusivamente in qualità di intermediario. Qualora l’utente acquisti
    un prodotto da un venditore terzo, tale acquisto sarà disciplinato dalle condizioni e dalle
    %em policy
    di tale terzo. ChefSteps non è considerato venditore di tali prodotti e non è parte della vendita degli stessi; pertanto, ChefSteps non presta
    alcuna dichiarazione o garanzia in relazione a tali prodotti, né accetta resi o richieste di rimborso in relazione agli stessi.
  %h4 4.6.	Errori
  %p
    ChefSteps si adopera per essere il più preciso possibile e per eliminare errori nei Servizi offerti; tuttavia, ChefSteps non dichiara né garantisce che le descrizioni, i prezzi o altre informazioni relative ai Prodotti o Servizi siano accurate, complete,
    attendibili, aggiornate o prive di errori. In caso di errore, ChefSteps si riserva il diritto di correggere lo stesso e di modificare di conseguenza l’ordine dell’utente (il che comprende l’applicazione del prezzo corretto) o di cancellare l’ordine
    e rimborsare qualsiasi importo addebitato.
  %h3 5.	Licenze per l’Uso dei Servizi e dei Materiali
  %p
    Salvo che non sia diversamente indicato, tutti i contenuti e altri materiali inclusi nei Servizi, compresi, a titolo meramente esemplificativo, i loghi ChefSteps e tutti i disegni, testi, ricette, liste di ingredienti, tempi di cottura, video, grafiche,
    immagini, informazioni, dati, software, file sonori, altri file e la relativa scelta e disposizione (collettivamente, i “
    %strong> Materiali
    ”) sono di proprietà di ChefSteps o dei suoi licenziatari e sono protetti da diritto d’autore nazionale
    e internazionale, diritto di marchio e altri diritti di proprietà intellettuale.
  %p
    ChefSteps garantisce all’utente una licenza a livello globale limitata, a titolo gratuito, non esclusiva, non trasferibile e non cedibile in licenza, di accesso e utilizzo dei Materiali resi disponibili attraverso i Servizi per i usi personali e non commerciali.
    Salvo quanto espressamente consentito dalla legge o da ChefSteps per iscritto, l’utente non può riprodurre, ridistribuire, vendere, elaborare o creare versioni successive, decompilare, sottoporre a
    %em reverse engineering
    o smontare i Servizi ChefSteps
    (salvo in casi in cui tali diritti siano previsti dalla legge applicabile), né può porre in essere alcuna azione che interferisca con i Servizi ChefSteps o li danneggi.
  %p
    ChefSteps incentiva l’utilizzo e la distribuzione di taluni Materiali sui Servizi, comprese le ricette, le liste di ingredienti, i video, le immagini e i Contenuti dell’Utente (definiti all’Articolo 11). Salvo quanto diversamente statuito, tali Materiali
    sono resi disponibili ai sensi della versione più recente della licenza
    %em
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"}
      %em Creative Commons Attribution- NonCommercial-ShareAlike
    = succeed "." do
      %em (BY-NC-SA)
  %p
    Se non diversamente indicato, nulla nelle presenti Condizioni deve essere inteso nel senso di attribuire eventuali diritti o licenze relativi a brevetti, marchi, diritti d’autore o altri diritti di proprietà di ChefSteps o di terzi, mediante
    = succeed "," do
      %em estoppel
  %h3
    6.
    %em Policy
    sulle Violazioni Ripetute; Reclami sui Diritti d’Autore
  %p
    Ai sensi del
    %em Digital Millennium Copyright Act
    e di altre leggi applicabili, ChefSteps ha adottato una
    %em policy
    di accesso limitato ai Servizi tramite chiusura degli account di utenti, in determinate circostanze e a sua discrezione, che
    violano diritti di proprietà intellettuale. Qualora l’utente ritenga che i Servizi violino diritti d’autore da esso detenuto o controllato, può segnalare tale violazione all’agente designato come di seguito indicato:
  %p Nome dell’Agente Designato: Edward Starbird
  %p Indirizzo: 1501 Pike Place, #300, Seattle, WA 98101
  %p Telefono: (206) 905-1099
  %p
    Email:
    %a{:href => "mailto:dmca@chefsteps.com"} dmca@chefsteps.com
  %p
    Per i residenti negli Stati Uniti si rinvia a
    %a{:href => "http://www.copyright.gov/title17/92chap5.html#512", :target => "_blank"} 17 U.S.C. § 512(c)(3) 
    per i requisiti di segnalazione corretta. Per coloro che non risiedono negli Stati Uniti, si prega di
    prendere visione dei requisiti specifici di ogni ordinamento per una segnalazione corretta.
  %p
    Si rileva inoltre che qualora l’utente, nella sua segnalazione circa il fatto che il materiale o l’attività siano abusivi, rilasci dolosamente una falsa dichiarazione, sarà responsabile di eventuali danni, compresi, a titolo meramente esemplificativo,
    i costi e le spese legali sostenuti da ChefSteps o dal presunto trasgressore come conseguenza dell’affidamento di ChefSteps su tale falsa dichiarazione ai fini della rimozione o della disabilitazione dell’accesso al materiale o all’attività che si afferma
    essere abusiva.
  %h3 7.	Marchi
  %p
    “
    %strong> ChefSteps
    ”, il logo ChefSteps e qualsiasi altro nome di servizio di ChefSteps, logo o slogan che può apparire sui Servizi devono essere registrati come marchi di ChefSteps e dei suoi fornitori e licenziatari e non possono essere copiati,
    imitati o utilizzati, in tutto o in parte, senza il previo consenso per iscritto di ChefSteps o del titolare del marchio. L’utente non può utilizzare eventuali metatag o altro “
    %strong> testo nascosto
    ” che utilizzino “
    %strong> ChefSteps
    ”
    o altro nome, marchio o nome di prodotto o di servizio di ChefSteps senza il previo consenso scritto di ChefSteps. Inoltre, la forma e la sostanza dei Servizi, compresi, a titolo meramente esemplificativo, tutte le intestazioni di pagina, le grafiche
    personalizzate, le icone dei pulsanti e gli scripts, costituiscono il marchio di servizio, il marchio o l’immagine commerciale di ChefSteps e non possono essere copiati, imitati o utilizzati, in tutto o in parte, senza il previo consenso scritto di
    ChefSteps. Tutti gli altri marchi, marchi registrati, nomi di prodotto e nomi o loghi di società menzionati nei Servizi sono di proprietà dei loro rispettivi titolari e non possono essere copiati, imitati o utilizzati, in tutto o in parte, senza il
    permesso del relativo titolare del marchio. Il riferimento a qualsiasi prodotto, servizio, procedura o altra informazione tramite nome, marchio, produttore, fornitore o in altra maniera non costituisce o comporta promozione, sponsorizzazione o raccomandazione
    da parte di ChefSteps.
  %p
    Qualora l’utente ritenga che i Servizi violini marchi di cui l’utente stesso è titolare o che l’utente stesso controlla, può segnalare tale violazione all’agente designato come indicato al Paragrafo 6. Una corretta segnalazione deve contenere gli stessi
    elementi richiesti per le segnalazioni in materia di diritto d’autore.
  %h3 8.	Hyperlink
  %p
    All’utente viene concesso un diritto limitato, non esclusivo, non trasferibile di creare un hyperlink di testo ai Servizi, a condizione che tale link non descriva ChefSteps o i Servizi di ChefSteps in una maniera falsa, ingannevole, offensiva o altrimenti
    diffamatoria e che il sito contenente il link non contenga altresì materiale vietato ai minori o illegale o qualsiasi altro materiale offensivo, molesto o altrimenti discutibile. Tale diritto limitato può essere revocato in qualsiasi momento. L’utente
    non può utilizzare un logo ChefSteps o altra grafica di proprietà di ChefSteps come collegamento ai Servizi senza l’espresso consenso scritto di ChefSteps. Inoltre, l’utente non può usare, inquadrare o utilizzare tecniche di
    %em framing
    per includere
    nei Servizi marchi, loghi o altre informazioni di proprietà di ChefSteps, comprese le immagini che si trovano sui Servizi, il contenuto di qualsiasi testo o il layout o design di qualsiasi pagina, o il formato contenuto in una pagina, senza l’espresso
    consenso scritto di ChefSteps.
  %p
    Nella misura massima consentita dalla legge applicabile, ChefSteps non rilascia dichiarazioni né fornisce garanzie, né accetta alcuna responsabilità riguardante la qualità, il contenuto, la natura o l’affidabilità dei siti web di terzi ai quali è possibile
    accedere da collegamenti all’interno dei Servizi o dei siti web contenenti collegamenti ai Servizi. Tali siti non sono soggetti al controllo di ChefSteps e ChefSteps non è responsabile del contenuto dei siti collegati o di qualsiasi collegamento contenuto
    in un sito collegato o di variazioni, modifiche o aggiornamenti a tali siti. ChefSteps fornisce tali collegamenti solo a scopo pratico e l’inclusione di un collegamento non comporta l’affiliazione, l’avallo o l’approvazione del sito o delle informazioni
    in esso contenute. La cessazione dei Servizi comporta la cessazione dell’applicabilità delle condizioni e delle
    %em policy
    di ChefSteps. L’utente è invitato a leggere le condizioni e le
    %em policy
    applicabili, incluse le prassi in materia
    di privacy e di raccolta dati, di qualsiasi sito al quale accede tramite i Servizi.
  %h3 9.	Contenuto di Terzi; Software Open Source; Interfaccia con Prodotti e Servizi di Terzi
  %p
    Contenuto di Terzi. ChefSteps può mostrare contenuti, pubblicità e promozioni di terzi attraverso i Servizi (collettivamente, il “
    %strong> Contenuto di Terzi
    ”). Nella misura massima consentita dalla legge applicabile, ChefSteps non controlla,
    promuove o adotta alcun Contenuto di Terzi e non offre alcuna dichiarazione o garanzia di alcun tipo in relazione a tale Contenuto di Terzi, anche relativamente alla sua accuratezza o completezza. L’utente riconosce e conviene che i suoi rapporti con
    terzi che forniscono Contenuto di Terzi non sono opponibili a terzi e che ChefSteps non è responsabile di tali rapporti o Contenuti di Terzi e non risponde in alcuna maniera in relazione agli stessi.
  %p
    Software Open Source. I Servizi di ChefSteps possono altresì contenere software di terzi soggetti alla GNU General Public License (“
    %strong> GNU GPL
    ”) o ad altre licenze open source (“
    %strong> Software Open Source
    ”). Il Software Open Source
    è concesso in licenza ai sensi delle condizioni di licenza che accompagnano tale Software Open Source, soggetto a ulteriori condizioni disponibili su
    = succeed "." do
      %a{:href => "https://www.chefsteps.com/libraries"} https://www.chefsteps.com/libraries
  %p
    Connessione a Prodotti e Servizi di Terzi. ChefSteps può consentire l’utilizzo dei suoi Prodotti e Servizi (quali
    = succeed ")" do
      %em Joule
    = succeed "\u{201d})." do
      %strong Prodotti e Servizi di Terzi
    %em policy
    sulla privacy. L’utente riconosce e conviene che ChefSteps non rilascia dichiarazioni
    o garanzie circa la sicurezza dei Prodotti o Servizi di Terzi e che ChefSteps non è responsabile dell’utilizzo di qualsiasi Prodotto o Servizio di Terzi effettuato dall’utente, o di eventuali danni derivanti da o connessi con l’utilizzo dei Prodotti
    o Servizi di Terzi. Per qualsiasi domanda relativa ai Prodotti e Servizi di Terzi, si prega di contattare direttamente i terzi fornitori.
  %h3 10.	Condotta dell’Utente
  %p
    L’utente si impegna a non violare alcuna legge, contratto, diritto di proprietà intellettuale o altro diritto di terzi o a non commetterete illeciti, e di essere l’unico responsabile della propria condotta in occasione dell’accesso e dell’utilizzo dei
    Prodotti e Servizi. L’utente si impegna a rispettare le presenti Condizioni e a non:
  %ul
    %li intraprendere alcuna condotta molesta, minacciosa, intimidatoria, predatoria o persecutoria;
    %li utilizzare o cercare di utilizzare l’account di un altro utente senza l’autorizzazione da parte dello stesso e di ChefSteps;
    %li
      utilizzare i Prodotti o Servizi in modo da interferire, interrompere, compromettere od ostacolare gli utenti dal godere pienamente dei Prodotti o Servizi, o in modo da danneggiare, disabilitare, sovraccaricare o pregiudicare in qualsiasi maniera il
      funzionamento dei Prodotti o Servizi;
    %li apportare modifiche ai Prodotti o Servizi, compresa la correzione di errori, senza l’autorizzazione di ChefSteps;
    %li
      sottoporre a
      %em reverse engineering
      i Prodotti o Servizi o intraprendere azioni che portino alla scoperta del codice sorgente o che eluda o aggiri le misure impiegate per prevenire o limitare l’accesso ai Materiali o caratteristiche o aree dei
      Prodotti o Servizi, salvo quanto espressamente consentito dalla legge applicabile;
    %li sviluppare app di terzi che interagiscano con il Contenuto Utente o con i Prodotti o Servizi senza il previo consenso scritto di ChefSteps;
    %li
      utilizzare alcun robot, spider, crawler, scraper, script, estensione del browser, lettore offline o altro mezzo o interfaccia automatici non autorizzati da ChefSteps al fine di accedere ai Prodotti o Servizi, estrarre dati o altrimenti interferire o
      modificare la prestazione dei Materiali o la funzionalità;
    %li
      eludere o ignorare istruzioni contenute nel file robots.txt, accessibile al seguente link:
      = succeed "," do
        %a{:href => "https://www.chefsteps.com/robots.txt"} https://www.chefsteps.com/robots.txt
    %li utilizzare i Prodotti o Servizi per qualsiasi scopo illecito o non autorizzato, o intraprendere, incentivare o promuovere qualsiasi attività che violi le presenti Condizioni.
  %h3 11.	Contenuto Utente
  %p
    I Servizi possono contenere caratteristiche e aree interattive che consentono all’utente di creare, pubblicare, condividere o archiviare contenuti, inclusi, a titolo meramente esemplificativo, i contenuti generati dall’utente, le ricette, le recensioni,
    le foto, i video, la musica, il suono, il testo, le grafiche, i codici, gli oggetti o altri materiali (collettivamente, il “
    %strong> Contenuto Utente
    ”). Qualora l’utente decida di condividere il proprio Contenuto Utente con altri mediante i
    Servizi o le piattaforme di terzi, tale Contenuto Utente sarà visibile dagli altri conformemente alle impostazioni della privacy dell’account.
  %p
    L’utente accetta di essere il solo responsabile del proprio Contenuto Utente e dell’utilizzo di qualsiasi caratteristica e area interattiva dei Servizi. Con la pubblicazione, l’upload o con l’inoltro secondo altre modalità del Contenuto Utente, l’utente
    dichiara e garantisce (a) che tale Contenuto Utente non è riservato; (b) di detenere tutti i diritti di proprietà intellettuale (o di avere ottenuto tutti i permessi necessari) per fornire tale contenuto e per concedere le licenze indicate nel presente
    documento; e (c) che il Contenuto Utente non viola alcun diritto di proprietà intellettuale o altro diritto proprietario, compreso il diritto di pubblicità o alla privacy, di alcun soggetto, che sia persona fisica o giuridica.
  %p Utilizzando le caratteristiche e aree interattive dei Servizi, l’utente accetta inoltre di non creare, pubblicare, condividere o archiviare:
  %ul
    %li Contenuto Utente che sia illecito, denigratorio, diffamatorio, osceno, pornografico, indecente, volgare, suggestivo, molesto, minaccioso, invasivo di diritti alla privacy o di pubblicità, abusivo, provocatorio, fraudolento o altrimenti discutibile;
    %li Contenuto Utente che potrebbe costituire, incentivare o fornire istruzioni per un crimine, violare i diritti di qualsiasi parte o altrimenti creare responsabilità o violare il diritto locale, statale, nazionale o internazionale;
    %li Contenuto Utente che contenga o rappresenti affermazioni, commenti o richieste che non riflettono le opinioni ed esperienze genuine dell’utente;
    %li Contenuto Utente che impersona o travisa l’affiliazione dell’utente a qualsiasi persona fisica o giuridica;
    %li Contenuto Utente che fa riferimento o rinvia a ChefSteps o ai Prodotti o Servizi ChefSteps ma non illustra l’eventuale collegamento rilevante con ChefSteps (ad esempio, il fatto di essere dipendenti di ChefSteps);
    %li Contenuto Utente che contenga promozioni, campagne politiche, annunci o sollecitazioni indesiderate;
    %li Contenuto Utente che contenga virus, dati danneggiati o altri file o contenuti dannosi, intrusivi o distruttivi; o
    %li Contenuto Utente che, a giudizio di ChefSteps, sia discutibile o che limiti o inibisca ad altre persone l’utilizzo o il godimento dei Prodotti o Servizi, o che possa esporre ChefSteps o altri a danni o responsabilità di qualsiasi tipo.
  %p
    ChefSteps non è responsabile del Contenuto Utente. Sebbene ChefSteps non sia tenuta a controllare, modificare o monitorare il Contenuto Utente, si riserva il diritto, a propria assoluta discrezione, di rimuovere, controllare o modificare il Contenuto
    Utente pubblicato o archiviato nei suoi Servizi in qualsiasi momento e per qualsiasi ragione, e l’utente è il solo responsabile della creazione di copie di backup e della sostituzione di qualsiasi Contenuto pubblicato o archiviato sui Servizi, con oneri
    e spese a suo carico.
  %h3 12.	Diritti correlati al Contenuto Utente
  %p
    Salvo quanto diversamente previsto nelle presenti Condizioni o in un accordo separato, ChefSteps non rivendica la titolarità o il controllo sul Contenuto Utente. Tuttavia, con la pubblicazione, l’upload o con l’inoltro secondo altre modalità del Contenuto
    Utente, l’utente concede a ChefSteps un diritto non esclusivo, gratuito, globale, perpetuo, irrevocabile, trasferibile e pienamente cedibile in licenza, di utilizzare, riprodurre, modificare, adattare, pubblicare, tradurre, elaborare, distribuire, eseguire
    e mostrare tale Contenuto Utente e il nome, l’apparenza, la voce e la persona dell’utente sui Servizi, su siti e app per dispositivi mobili di terzi e in qualsiasi altro mezzo o formato, attualmente conosciuto o che verrà sviluppato, per qualsiasi scopo,
    comprese le finalità commerciali di ChefSteps. L’utente concede altresì tutti gli utenti dei Servizi ChefSteps l’autorizzazione ad accedere e utilizzare il proprio Contenuto Utente conformemente alla versione più recente della licenza
    %em
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"}
      %em Creative Commons Attribution- NonCommercial-ShareAlike
    %em (BY-NC-SA)
  %h3 13.	Feedback
  %p
    Separatamente e al di fuori del Contenuto Utente, l’utente può presentare domande, commenti, suggerimenti, idee, materiali originali o creativi o altre informazioni su ChefSteps o sui Prodotti o Servizi ChefSteps (collettivamente, il “
    %strong> Feedback
    ”).
    Il Feedback non ha natura riservata e diventa di unica proprietà di ChefSteps. ChefSteps sarà titolare di diritti esclusivi, compresi, a titolo meramente esemplificativo, i diritti di proprietà intellettuale, con riferimento a tale Feedback, ed è autorizzata
    all’impiego illimitato e alla divulgazione di tale Feedback per qualsiasi finalità, commerciale o di altro tipo, senza riscontro o risarcimento all’utente.
  %h3 14.	Manleva
  %p
    Nella misura massima consentita dalla legge in vigore, l’utente accetta di manlevare e tenere indenne ChefSteps e i suoi dipendenti, dirigenti, amministratori, collaboratori, consulenti, azionisti, fornitori, venditori, fornitori di servizi, società controllanti,
    controllate, collegate, agenti, rappresentanti, danti causa, aventi causa e cessionari, passati, presenti e futuri (unitamente a ChefSteps, le “
    %strong> Parti ChefSteps
    ”) in relazione a pretese di terzi di qualsiasi tipo, per responsabilità
    aquiliana, contrattuale o di altro tipo (collettivamente, le “
    %strong> Pretese
    ”), compresi i danni alle cose o alle persone derivanti da o connessi a quanto segue:
  %ul
    %li l’accesso, l’utilizzo o l’abuso, da parte dell’utente, dei Prodotti, Servizi e Materiali ChefSteps;
    %li qualsiasi Contenuto Utente creato, pubblicato, condiviso o archiviato sui Servizi, sulle pagine, sulle piattaforme ChefSteps, o tramite gli stessi, relativo alle piattaforme dei social media di terzi;
    %li qualsiasi Feedback fornito dall’utente;
    %li la violazione delle presenti Condizioni da parte dell’utente;
    %li la violazione dei diritti di terzi da parte dell’utente; o
    %li l’utilizzo o l’abuso dei Prodotti o Servizi ad opera di terzo da autorizzato dall’utente a utilizzare i Prodotti o Servizi ad esso forniti.
  %p Il presente obbligo di manleva comprende il pagamento delle spese legali sostenute da ChefSteps e degli altri costi di studio e difesa dalle Pretese, nonché i costi di esecuzione dell’obbligo di manleva.
  %p
    L’utente si impegna a comunicare tempestivamente a ChefSteps qualsiasi Pretesa di terzi e di cooperare con le Parti ChefSteps nella difesa rispetto a tali Pretese. L’utente accetta altresì che le Parti ChefSteps abbiano il controllo della difesa o della
    transazione delle Pretese. Tale manleva si aggiunge e non sostituisce qualsiasi altra manleva prevista un accordo scritto tra l’utente e ChefSteps.
  %h3 15.	Liberatorie
  %p
    CHEFSTEPS PUÒ FORNIRE IMPORTANTI AVVERTENZE IN MATERIA DI SALUTE E SICUREZZA, NONCHÉ ISTRUZIONI DA LEGGERE PRIMA DI UTILIZZARE ALCUNI PRODOTTI CHEFSTEPS E/O DI PARTECIPARE AD ALCUNE ATTIVITÀ O SERVIZI. CHEFSTEPS PUÒ AGGIORNARE O MODIFICARE TALI AVVERTENZE
    E ISTRUZIONI, PERTANTO SI PREGA DI RIESAMINARLE PERIODICAMENTE.
  %p
    NELLA MISURA MASSIMA CONSENTITA DALLA LEGGE APPLICABILE, I SERVIZI E MATERIALI CHEFSTEPS SONO FORNITI “NELLO STATO IN CUI SI TROVANO” E “IN QUANTO DISPONIBILI” SENZA GARANZIE DI ALCUN TIPO, ESPLICITE O IMPLICITE, E CHEFSTEPS ESCLUDE ESPRESSAMENTE TUTTE
    LE GARANZIE, ESPLICITE O IMPLICITE, COMPRESE, A TITOLO MERAMENTE ESEMPLIFICATIVO, LE GARANZIE DI COMMERCIABILITÀ, IDONEITÀ A UN PARTICOLARE SCOPO, DIRITTO E NON VIOLAZIONE. CHEFSTEPS NON DICHIARA NÉ GARANTISCE CHE I SITI WEB, LE APP PER DISPOSITIVI
    MOBILI E I MATERIALI DI CHEFSTEPS SIANO ACCURATI, COMPLETI, AFFIDABILI, AGGIORNATI O PRIVI DI ERRORI. INOLTRE, I SITI WEB, LE APP PER DISPOSITIVI MOBILI E MATERIALI DI CHEFSTEPS (A) HANNO MERI FINI INFORMATIVI, (B) SONO FORNITI COME RACCOMANDAZIONE
    GENERICA E (C) NON SONO INTESI SOSTITUIRE PARERI MEDICI O NUTRIZIONALI PROFESSIONALI. NEL MOMENTO IN CUI CHEFSTEPS CONCEDE L’ACCESSO E L’UTILIZZO DEI SITI WEB, DELLE APP PER DISPOSITIVI MOBILI E DEI MATERIALI DI CHEFSTEPS NON PUÒ DICHIARARE O GARANTIRE
    CHE QUESTI O I SERVER CHEFSTEPS SIANO PRIVI DI VIRUS O DI ALTRE COMPONENTI DANNOSE; PERTANTO, L’UTENTE È TENUTO A UTULIZZARE APPOSITI SOFTWARE PER RILEVARE ED ELIMINARE I VIRUS DA OGNI DOWNLOAD.
  %p
    L’UTENTE È IL SOLO RESPONSABILE DEL LAVAGGIO, DELLA GESTIONE, DELLA PREPARAZIONE, DELLA CONSERVAZIONE, DELLA COTTURA, DELL’USO E DEL CONSUMO DEL CIBO ADEGUATI E SICURI. LE ISTRUZIONI DI COTTURA E LE DIRETTIVE FORNITE DA CHEFSTEPS SONO OFFERTE SOLO COME
    LINEE GUIDA. L’UTENTE È PREGATO DI ADOTTARE IL PROPRIO MIGLIOR DISCERNIMENTO E LA CORRETTA DISCREZIONALITÀ NELLA PREPARAZIONE O NEL CONSUMO DEL CIBO. CONSUMARE CARNI, POLLAME, PESCE, MOLLUSCHI O UOVA CRUDI O POCO COTTI PUÒ AUMENTARE IL RISCHIO DI MALLATIE
    ALIMENTARI E TALE CONSUMO DEVE ESSERE FATTO A DISCREZIONE DELL’UTENTE. CHEFSTEPS DECLINA ESPRESSAMENTE QUALSIASI RESPONSABILITÀ RELATIVA A QUALSIASI EFFETTO NEGATIVO CHE POSSA ESSERE CAUSATO DALL’USO O DALL’APPLICAZIONE DI INFORMAZIONI FORNIRE MEDIANTE
    I SERVIZI.
  %p
    CHEFSTEPS NON FORNISCE GARANZIE IN RELAZIONE AI PRODOTTI FABBRICATI DA ALTRI ENTI, ANCHE IN CASO DI ACQUISTO TRAMITE I SERVIZI CHEFSTEPS. I PRODOTTI FABBRICATI DA ALTRI ENTI MA VENDUTI ATTRAVERSO I SERVIZI CHEFSTEPS SONO VENDUTI DA CHEFSTEPS “NELLO STATO
    IN CUI SI TROVANO” E “CON TUTTI I VIZI”. CHEFSTEPS DECLINA QUALSIASI GARANZIA IMPLICITA PER TALI PRODOTTI, COMPRESA LA GARANZIA IMPLICITA DI COMMERCIABILITÀ, IDONEITÀ A UN PARTICOLARE SCOPO, DIRITTO E NON VIOLAZIONE. CHEFSTEPS NON GARANTISCE ALCUNA
    QUALITÀ O CARATTERISTICA DEI PRODOTTI CHE ESSA NON PRODUCE. SALVO CHE IL PRODUTTORE FORNISCA UNA GARANZIA, L’UTENTE IN QUANTO ACQUIRENTE SOSTIENE L’INTERO RISCHIO CIRCA LA QUALITÀ E LE PRESTAZIONI DI TALI PRODOTTI, E SEMPRE L’UTENTE, NON CHEFSTEPS,
    SOSTIENE L’INTERO COSTO DI EVENTUALI SOSTITUZIONI O RIPARAZIONI CHE SI RENDANO NECESSARIE.
  %p I PRODUTTORI DI PRODOTTI VENDUTI DA CHEFSTEPS POSSONO FORNIRE LE PROPRIE GARANZIE E L’UTENTE ACCETTA CHE IL MEZZO DI TUTELA A SUA DISPOSIZIONE IN CASO DI VIZI DI TALI PRODOTTI SARÀ BASATO UNICAMENTE SULLE EVENTUALI GARANZIE FORNITE DA TALI PRODUTTORI.
  %h3 16.	Limitazione della Responsabilità; Liberatoria
  %p
    NELLA MISURA MASSIMA CONSENTITA DALLA LEGGE APPLICABILE: (A) CHEFSTEPS O UNA DELLE PARTI CHEFSTEPS NON È IN NESSUN CASO RESPONSABILE DI DANNI DIRETTI, INDIRETTI O SPECIALI DI QUALSIASI TIPO (COMPRESI, A TITOLO MERAMENTE ESEMPLIFICATIVO, LUCRO CESSANTE,
    PERDITA DI USO O DI DATI, PERDITA O DIMINUZIONE NEL VALORE DELLE IMMOBILIZZAZIONI O DEI TITOLI, O DANNI PER INTERRUZIONE DELL’ATTIVITÀ) DERIVANTI DA O IN QUALSIASI MODO COLLEGATI ALL’ACCESSO O ALL’UTILIZZO DEI SERVIZI O MATERIALI O IN ALTRA MANIERA
    COLLEGATI ALLE PRESENTI CONDIZIONI (COMPRESI, A TITOLO MERAMENTE ESEMPLIFICATIVO, I DANNI CAUSATI O RISULTANTI DALL’AFFIDAMENTO, DA PARTE DELL’UTENTE, SULLE INFORMAZIONI OTTENUTE DA CHEFSTEPS O DA ERRORI, OMISSIONI, INTERRUZIONI, CANCELLAZIONI DI FILE
    O EMAIL, VIZI, BUG, VIRUS, CAVALLI DI TROIA, RITARDI NELLA GESTIONE O NELLA TRASMISSIONE O QUALSIASI DIFETTO DI ESECUZIONE, RISULTANTE O MENO DA CAUSE DI FORZA MAGGIORE, MANCATE COMUNICAZIONI, FURTO, DISTRUZIONE O ACCESSO NON AUTORIZZATO AI DOCUMENTI,
    PROGRAMMI O SISTEMI DI CHEFSTEPS), INDIPENDENTEMENTE DALLA FORMA DELL’AZIONE, FONDATI SU CONTRATTO, ILLECITO (COMPRESA, A TITOLO MERAMENTE ESEMPLIFICATIVO, LA SEMPLICE NEGLIGENZA ATTIVA, PASSIVA O IMPUTATA), RESPONSABILITÀ OGGETTIVA O SU ALTRA TEORIA
    GIURIDICA O EQUITATIVA (ANCHE SE LA PARTE È STATA AVVERTITA DELLA POSSIBILITÀ DI TALI DANNI E INDIPENDENTEMENTE DAL FATTO CHE TALI DANNI FOSSERO PREVEDIBILI); E (B) LA RESPONSABILITÀ CONGIUNTA DI CHEFSTEPS E DELLE PARTI CHEFSTEPS (CONGIUNTAMENTE), FONDATA
    SU CONTRATTO, GARANZIA, ILLECITO (COMPRESA NEGLIGENZA SIA ATTIVA, PASSIVA CHE IMPUTATA) RESPONSABILITA’ DA PRODOTTO, RESPONSABILITA’ OGGETTIVA O ALTRA TEORIA DERIVANTE DA O COLLEGATA ALL’USO O L’INABILITA’ ALL’USO DEI SERVIZI, COMPRESI I MATERIALI E
    LE FUNZIONI QUI CONTENUTE, NON POTRÀ IN NESSUN CASO ECCEDERE IL RISARCIMENTO CORRISPOSTO A CHEFSTEPS PER L’ACCESSO O L’UTILIZZO DEI PRODOTTI O SERVIZI DA PARTE DELL’UTENTE.
  %p
    NELLA MISURA MASSIMA CONSENTITA DALLA LEGGE IN VIGORE, L’UTENTE, IN NOME DEI PROPRI EREDI, ESECUTORI, AMMINISTRATORI, RAPPRESENTANTI LEGALI E PERSONALI, CON IL PRESENTE DOCUMENTO LIBERA E SOLLEVA LE PARTI CHEFSTEPS RUSPETTO A QUALSIASI PRETESA SCATURENTE
    DA O COLLEGATE ALLE PRESENTI CONDIZIONI. QUALORA L’UTENTE SIA RESIDENTE IN CALIFORNIA, CON IL PRESENTE DOCUMENTO RINUNCIA ALL’APPLICAZIONE DELL’ARTICOLO 1542 DEL CODICE CIVILE DELLA CALIFORNIA IN RELAZIONE A QUANTO PRECEDE, IL QUALE DISPONE CHE: “UNA
    RINUNCIA GENERALE NON SI ESTENDE ALLE PRETESE CHE IL CREDITORE NON CONOSCE O DI CUI NON SOSPETTA L’ESISTENZA IN SUO FAVORE AL MOMENTO DELLA RINUNCIA, CHE SE DA QUESTI CONOSCIUTE AVREBBERO EFFETTIVAMENTE AVUTO UN IMPATTO RILEVANTE SULLA SUA TRANSAZIONE
    CON IL DEBITORE”. CON IL PRESENTE DOCUMENTO, L’UTENTE RINUNCIA AD ANALOGA PREVISIONE IN QUALSIASI ALTRO ORDINAMENTO.
  %p LE LIMITAZIONI INDICATE NEL PRESENTE ARTICOLO 16 NON LIMITERANNO O ESCLUDERANNO LA RESPONSABILITÀ PER MORTE O LESIONE PERSONALE O LESIONE A COSE CAUSATE DAI PRODOTTI O SERVIZI ACQUISTATI PRESSO CHEFSTEPS, PER TRUFFA, COLPA GRAVE O DOLO.
  %h3 17.	Modifiche ai Servizi
  %p
    ChefSteps si riserva il diritto, a sua sola discrezione, di modificare i Materiali e di modificare, sospendere o interrompere l’accesso ai Servizi (o a caratteristiche o funzionalità dei Servizi) in qualsiasi momento senza preavviso e senza obbligo o
    responsabilità nei confronti dell’utente. L’utente ha altresì il diritto di non utilizzare dei Servizi in tutto o in parte, o di risolvere il presente contratto in qualsiasi momento.
  %h3 18.	Risoluzione delle Controversie; Arbitrato
  %p SI PREGA DI LEGGERE ATTENTAMENTE IL PRESENTE ARTICOLO IN QUANTO ALL’UTENTE VIENE IMPOSTO DI PROCEDERE AD ARBITRATO CON RIFERIMENTO AD ALCUNE CONTROVERSIE E PRETESE CON CHEFSTEPS, E SONO POSTI LIMITI ALLE MODALITÀ DI RICHIESTA DI TUTELA A CHEFSTEPS.
  %h4 18.1.	Arbitrato Obbligatorio
  %p
    Salvo eventuali controversie, pretese, cause, azioni, rivendicazioni, domande o procedimenti (collettivamente, le “
    %strong> Controversie
    ”) derivanti da o connesse a una violazione dell’Articolo 10 nelle quali la parte promuove un’azione individuale
    di modesta entità o cerca di ottenere un’inibitoria o altro mezzo di tutela in
    %em equity
    per la presunta violazione di diritti di proprietà intellettuale, compresi, a titolo meramente esemplificativo, diritti d’autore, marchi, denominazioni commerciali,
    loghi, segreti commerciali o brevetti, l’utente e ChefSteps convengono (a) di rinunciare al diritto di adire il tribunale relativamente a tutte le Controversie derivanti dalle presenti Condizioni, o dai Servizi, Materiali o Prodotti, e (b) di rinunciare
    al diritto al processo con giuria. Di contro, l’utente e ChefSteps accettano di sottoporre ogni eventuale Controversia a un procedimento arbitrale vincolante (che consiste nel deferire la Controversia a una o più persone incaricate di esaminare la stessa
    e di pronunciare una decisione finale e vincolante, anziché devolvere la Controversia a un giudice o a una giuria in sede giudiziale).
  %h4 18.2.	Esclusione dell’Arbitrato Collettivo e dell’Azione Collettiva
  %p
    L’utente e ChefSteps convengono che qualsiasi Controversia derivante da o relativa alle presenti Condizioni, ai Servizi, Prodotti o Materiali non sia opponibile a terzi e che tale Controversia sarà risolta unicamente tramite arbitrato individuale e non
    sarà condotta come arbitrato collettivo, azione collettiva o qualsiasi altra tipologia di procedura rappresentativa. L’utente e ChefSteps convengono di escludere un arbitrato collettivo o arbitrato in cui un individuo intenda risolvere una Controversia
    in veste di rappresentante di un altro individuo o gruppo di individui. Inoltre, l’utente e ChefSteps convengono che una Controversia non possa essere promossa tramite azione collettiva o altra tipologia di azione rappresentativa, all’interno o al di
    fuori di un arbitrato, o in nome di un altro individuo o gruppo di individui.
  %h4
    18.3.
    %em Federal Arbitration Act
  %p
    L’utente e ChefSteps convengono che le presenti Condizioni concernono il commercio tra stati e che l’esecuzione del presente Articolo 18 deve essere disciplinata, interpretata ed eseguita, tanto dal punto di vista sostanziale quanto da quello procedurale,
    conformemente al
    = succeed "," do
      %em Federal Arbitration Act
    = succeed "." do
      %em et seq
    = succeed "\u{201d})," do
      %strong FAA
  %h4 18.4.	Comunicazioni; Risoluzione amichevole delle controversie
  %p
    L’utente e ChefSteps accettano che ciascuna parte darà comunicazione scritta all’altra parte di ogni eventuale Controversia arbitrabile o di modesta entità entro trenta (30) giorni dalla data in cui essa è sorta, cosicché le parti possano tentare in buona
    fede di risolvere la Controversia in maniera amichevole. La comunicazione a ChefSteps deve essere inviata elettronicamente a
    %a{:href => "mailto:disputes@chefsteps.com"} disputes@chefsteps.com
    e deve includere (a) nome, indirizzo postale e numero di telefono dell’utente, indirizzo email associato
    all’account ChefSteps e, se diverso, indirizzo email al quale indirizzare le comunicazioni, (b) una descrizione ragionevolmente dettagliata della natura o del fondamento della Controversia, e (c) lo specifico mezzo di tutela richiesto. Le comunicazioni
    di ChefSteps all’utente saranno inviate elettronicamente all’indirizzo email fornito al momento della registrazione e includeranno (x) nome, indirizzo postale, numero di telefono di ChefSteps e indirizzo email al quale indirizzare le comunicazioni in
    relazione alla Controversia, (y) una descrizione ragionevolmente dettagliata della natura o fondamento della Controversia, e (z) lo specifico mezzo di tutela richiesto. Qualora l’utente e ChefSteps non trovino un accordo su come risolvere la Controversia
    entro trenta (30) giorni, l’utente o ChefSteps potranno, se opportuno e conformemente al presente Articolo 18, avviare un procedimento arbitrale o, per quanto espressamente previsto all’Articolo 18.1, promuovere un procedimento giudiziale.
  %h4 18.5.	Procedura
  %p
    Ad eccezione delle Controversie derivanti da o connesse a una violazione dell’Articolo 10 nelle quali la parte promuove un’azione individuale di modesta entità o cerca di ottenere un’inibitoria o altro mezzo di tutela in
    %em equity
    per la presunta
    violazione di diritti di proprietà intellettuale, compresi, a titolo meramente esemplificativo, diritti d’autore, marchi, denominazioni commerciali, loghi, segreti commerciali o brevetti, l’utente e ChefSteps convengono che (a) la sede dell’arbitrato
    sarà King County, Washington, (b) l’arbitrato sarà condotto in maniera riservata da un arbitro unico in conformità con il regolamento del
    %em Judicial Arbitration and Mediation Services
    (i “
    %strong> JAMS
    ”), espressamente richiamato dalla
    presente Garanzia Limitata, e (c) i tribunali statali o federali rispettivamente dello Stato di Washington e degli Stati Uniti, aventi sede in King County, Washington, hanno giurisdizione esclusiva in merito a eventuali impugnazioni e all’esecuzione
    del lodo arbitrale. L’utente potrà altresì devolvere la Controversia al tribunale competente per cause di minor valore situato nella contea del proprio indirizzo di fatturazione se la Controversia corrisponde alle condizioni necessarie per poter essere
    giudicata in tale sede.
  %h4 18.6.	Poteri dell’Arbitro
  %p
    Nei limiti stabili dal FAA statunitense, dalla presente Garanzia Limitata e dal regolamento JAMS applicabile, l’arbitro avrà (a) il potere e la giurisdizione esclusiva di assumere tutte le decisioni procedurali e sostanziali concernenti la Controversia,
    compresa la decisione sull’idoneità della Controversia a essere sottoposta ad arbitrato, e (b) il potere di garantire qualsiasi mezzo di tutela altrimenti esperibile giudizialmente, a condizione, tuttavia, che l’arbitro non abbia il potere di condurre
    arbitrati o azioni collettivi. L’arbitro potrà conoscere unicamente controversie individuali e non potrà riunire più procedimenti individuali, né potrà amministrare qualsiasi tipo di procedura collettiva o che coinvolga più soggetti.
  %h4 18.7.	Regolamento JAMS
  %p
    Il regolamento JAMS e le ulteriori informazioni concernenti i servizi di tale organismo sono disponibili sul sito web di JAMS. Accettando di essere vincolato dalle presenti Condizioni, l’utente (a) dichiara di aver letto e compreso il regolamento JAMS,
    oppure (b) rinuncia all’opportunità di leggere il regolamento JAMS e a qualsiasi pretesa circa la sua iniquità o inapplicabilità per qualsiasi ragione.
  %h4 18.8.	Nullità Parziale
  %p
    Qualora qualsiasi termine, clausola o disposizione del presente Articolo 18 fosse ritenuta invalida o non applicabile, tale invalidità o inapplicabilità sarà limitata alla misura minima richiesta dalla legge. Tutti gli altri termini, clausole o disposizioni
    del presente Articolo 18 resteranno validi ed efficaci. Inoltre, le rinunce di cui all’Articolo 18.2 sono autonome rispetto alle altre disposizioni delle presenti Condizioni e resteranno valide e applicabili, fatto salvo il caso il cui ciò sia proibito
    dalla legge applicabile.
  %h3 19.	Legge Applicabile e Foro Competente
  %p
    Le presenti Condizioni e l’accesso e l’utilizzo dei Prodotti e Servizi saranno disciplinati e interpretati, e vi sarà data esecuzione, conformemente alle leggi dello Stato di Washington, con esclusione delle sue norme di diritto internazionale privato
    o dei principi che potrebbero comportare l’applicazione delle leggi di un altro ordinamento (dello Stato di Washington o di qualsiasi altro ordinamento). Qualsiasi Controversia tra le parti che non sia soggetta ad arbitrato o che non possa essere trattata
    da un tribunale competente per cause di modesta entità deve essere devoluta alla competenza dei tribunali statali o federali rispettivamente dello Stato di Washington e degli Stati Uniti, aventi sede in King County, Washington.
  %h3 20.	Cessazione
  %p
    Ferme restando le disposizioni contenute nelle presenti Condizioni, ChefSteps si riserva il diritto, senza preavviso e a sua completa discrezione, di far cessare il diritto dell’utente di accedere o utilizzare i Servizi, e di bloccare o impedire il futuro
    accesso e utilizzo degli stessi da parte dell’utente. Qualora l’utente trasferisca un Prodotto che si collega ai Servizi ChefSteps, come
    = succeed "," do
      %em Joule
  %h3 21.	Nullità Parziale
  %p
    Qualora qualsiasi termine, clausola o disposizione delle presenti Condizioni fosse ritenuta invalida o non applicabile, lo stesso sarà considerato scindibile dalle presenti Condizioni e non pregiudicherà la validità o l’applicabilità della parte residua
    di tale termine, clausola o disposizione, né gli altri termini, clausole o disposizioni delle presenti Condizioni.
  %h3 22.	Ultrattività
  %p
    Gli articoli elencati di seguito resteranno validi anche successivamente alla scadenza o alla risoluzione delle presenti Condizioni e alla cessazione dell’account ChefSteps dell’utente: tutti i termini definiti e gli Articoli 1, 2, 3, 4, 5 (solo il primo
    paragrafo), 6, 7, 8 (solo il secondo paragrafo), da 9 a 23.
  %h3 23.	Informativa per la California
  %p
    Coloro che sono residenti in California potranno rivolgere i propri reclami all’ufficio Assistenza Consumatori della Divisione Informazione Consumatori del
    %em>
    Dipartimento Consumatori della California, inviando comunicazione scritta all’indirizzo
    1625 North Market Blvd., Suite N 112, Sacramento, CA 95834, o per telefono al numero (800) 952‑5210.
  %h3 24.	Domande
  %p
    In caso di domande relative alle presenti Condizioni o ai Prodotti o Servizi ChefSteps, si prega di scrivere all’indirizzo
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
