#terms
  %h3 CHEFSTEPS&#x2019; VILK&#xC5;R FOR BRUK OG SALG
  %p Sist oppdatert: 13/1/2017
  %p
    VENNLIGST LES N&#xD8;YE GJENNOM DISSE VILK&#xC5;RENE FOR BRUK OG SALG, HERUNDER BESTEMMELSEN OM OBLIGATORISK VOLDGIFT I PUNKT&#xA0;18 FOR PERSONER BOSATT I USA. HVIS DU BOR UTENFOR USA, KAN DET FOR DEG GJELDE YTTERLIGERE VILK&#xC5;R SOM ENTEN SUPPLERER ELLER ERSTATTER VISSE
    BESTEMMELSER I DISSE VILK&#xC5;RENE FOR BRUK OG SALG. VENNLIGST LES GJENNOM SLUTTEN AV DETTE DOKUMENTET FOR &#xC5; AVGJ&#xD8;RE OM YTTERLIGERE VILK&#xC5;R GJELDER FOR DEG.
  %p
    VED &#xC5; KLIKKE FOR &#xC5; ANGI AT DU GODTAR DISSE VILK&#xC5;RENE FOR BRUK OG SALG, ELLER P&#xC5; ANNEN M&#xC5;TE &#xC5;PNE TILGANG TIL ELLER BRUKE V&#xC5;RE PRODUKTER OG TJENESTER (DEFINERT NEDENFOR), SAMTYKKER DU I &#xC5; V&#xC6;RE BUNDET AV DISSE VILK&#xC5;RENE FOR BRUK OG SALG OG ALLE VILK&#xC5;R NEVNT
    I DETTE DOKUMENTET. HVIS DU IKKE SAMTYKKER I ALLE DISSE VILK&#xC5;RENE, M&#xC5; DU IKKE &#xC5;PNE TILGANG TIL, KJ&#xD8;PE ELLER BRUKE V&#xC5;RE PRODUKTER ELLER TJENESTER.
  %p
    Disse vilk&#xE5;rene for bruk og salg (&#xAB;
    %strong> Vilk&#xE5;rene
    \&#xBB;) gjelder din tilgang til, og bruk av, produktene og tjenestene til ChefSteps, Inc. (&#xAB;
    %strong> ChefSteps
    \&#xBB;, &#xAB;
    %strong> vi
    \&#xBB;, &#xAB;
    %strong> oss
    \&#xBB; eller &#xAB;
    %strong> v&#xE5;r/v&#xE5;rt/v&#xE5;re
    \&#xBB;),
    et selskap registrert i delstaten Washington i USA med adresse 1501 Pike Place, #300, Seattle, Washington, 98101 og skatteidentifikasjonsnummer
    464326180
    \. Med &#xAB;
    %strong> Produkter
    \&#xBB; menes materiellet og det fysiske utstyret som selges av
    ChefSteps, herunder Joule Circulator og Joule Big Clamp. Med &#xAB;
    %strong> Tjenester
    \&#xBB; menes v&#xE5;re nettsteder, mobilapper og andre nettbaserte produkter og tjenester.
  %p
    Disse vilk&#xE5;rene endrer ikke p&#xE5; noen m&#xE5;te vilk&#xE5;rene i annen avtale du m&#xE5;tte ha med oss om produkter, tjenester eller annet. Hvis du bruker Produktene eller Tjenestene p&#xE5; vegne av et foretak, erkl&#xE6;rer og garanterer du at du har tillatelse til &#xE5; godkjenne
    disse Vilk&#xE5;rene p&#xE5; foretakets vegne, og at foretaket samtykker i &#xE5; st&#xE5; ansvarlig overfor oss hvis du eller foretaket bryter disse Vilk&#xE5;rene.
  %p
    ChefSteps forbeholder seg alene retten til n&#xE5;r som helst &#xE5; endre disse Vilk&#xE5;rene. Hvis vi endrer disse Vilk&#xE5;rene, vil vi informere om disse endringene, f.eks. ved &#xE5; underrette i e-post, informere gjennom Tjenestene eller oppdatere datoen merket &#xAB;
    %strong> Sist oppdatert
    \&#xBB;
    i begynnelsen av disse Vilk&#xE5;rene. Hvis du fortsetter &#xE5; bruke Tjenestene, bekrefter du at du godtar de reviderte Vilk&#xE5;rene. Vi oppfordrer deg til &#xE5; gjennomg&#xE5; Vilk&#xE5;rene ofte for &#xE5; p&#xE5;se at du forst&#xE5;r vilk&#xE5;rene som gjelder n&#xE5;r du &#xE5;pner tilgang til eller
    bruker Tjenestene. Hvis du ikke samtykker i de reviderte Vilk&#xE5;rene, kan du ikke &#xE5;pne tilgang til eller bruke Tjenestene. Endringer vi utf&#xF8;rer, p&#xE5;virker ikke dine rettigheter til Produkter du allerede har kj&#xF8;pt, eller bestillinger du allerede har gjort.
  %h3 1.	Personvernerklæring
  %p
    Informasjon om hvordan vi samler inn, bruker og utleverer opplysninger om deg, finnes i vår
    %a{:href => "https://www.chefsteps.com/privacy"} personvernerklæring
    \.
  %h3 2.	Tilleggsvilkår
  %p
    Når du bruker våre Produkter og Tjenester, er bruken underlagt gjeldende vilkår for Produktene og Tjenestene. Når du for eksempel bruker, laster ned, installerer eller på annen måte benytter våre mobilapper, er bruken underlagt vår
    %a{:href => "https://www.chefsteps.com/eula"} sluttbrukerlisensavtale
    \. Hvis du kjøper Produkter, samtykker du i vår
    %a{:href => "https://www.chefsteps.com/joule/warranty"} begrensede garanti
    \.
  %h3 3.	Kvalifikasjon, registrering og konto, nødvendig utstyr, ISP og operatør
  %p
    Kvalifikasjon. Tjenestene er ikke rettet mot eller beregnet brukt av personer under 13 år. Hvis du dessuten er mellom 13 og 18 år (eller mellom 13 og myndighetsalderen etter gjeldende lovgivning), kan du bare bruke Tjenestene under tilsyn av en forelder
    eller verge som samtykker i å være bundet av disse Vilkårene. Ved å bruke Tjenestene innestår og garanterer du for at du (a) ikke tidligere har vært midlertidig suspendert eller fjernet fra Tjenestene, eller engasjert i aktivitet som kan føre til midlertidig
    suspensjon eller fjerning fra Tjenestene, og (b) har fullmakt til å inngå disse Vilkårene og dermed ikke bryte annen avtale du er part i.
  %p
    Registrering og konto For å åpne tilgang til og bruke visse områder eller funksjoner i Tjenestene må du registrere deg for å få en ChefSteps-konto og/eller opprette en profil. Når du registrerer deg for å få en konto, kan du ikke opprette et kontonavn
    som omfatter et varemerke uten tillatelse fra varemerkeinnehaveren. Vi forbeholder oss retten til å kreve tilbake kontonavn på vegne av foretak eller person som har et rettskrav, herunder varemerkerettigheter, til disse navnene. Ved å opprette en konto
    samtykker du i å (a) gi nøyaktige, oppdaterte og fullstendige kontoopplysninger, (b) vedlikeholde og snarest oppdatere kontoopplysningene fra tid til annen etter behov, (c) ivareta kontoopplysningenes sikkerhet, (d) stå ansvarlig for handlingene eller
    unnlatelsene til tredjepart du gir tillatelse til å åpne tilgang til eller bruke kontoen og Tjenestene, og (e) underrette oss umiddelbart hvis du oppdager eller på annen måte mistenker sikkerhetsbrudd knyttet til Tjenestene eller kontoen.
  %p
    Nødvendig utstyr, ISP og operatør. Du bekrefter at tilgjengeligheten av visse tjenester avhenger av (a) datamaskinen, mobiltelefonen eller nettbrettet, kabelforbindelsene i hjemmet, trådløsnettet i hjemmet, Bluetooth-tilkoblingen og annet tilknyttet utstyr
    («
    %strong> Utstyr
    »), (b) Internett-tjenesteleverandøren («
    %strong> ISP
    ») og (c) mobil- eller nettbrettoperatøren («
    %strong> Operatør
    »). Du samtykker i at du står ansvarlig for alle gebyrer som din ISP og Operatør tar i forbindelse
    med at du bruker tjenestene, og at du står ansvarlig for å overholde alle avtaler og andre retningslinjer fra din ISP og Operatør. Du bekrefter og samtykker videre i at kontakten med ISP-en og Operatøren utelukkende er mellom deg og disse tredjepartene,
    og at ChefSteps ikke på noen måte står ansvarlig for denne kontakten.
  %h3 4.	Vilkår for salg
  %h4 4.1.	Betalings- og faktureringsinformasjon
  %p
    Ved å stille til rådighet et kredittkort eller annen betalingsmetode som vi godtar, erklærer og garanterer du at du har tillatelse til å bruke den utpekte betalingsmetoden, og at du gir oss (eller vår tredjepartsleverandør av betalingstjenester) tillatelse
    til å belaste din betalingsmetode for totalbeløpet i bestillingen (herunder aktuelle skatter, avgifter og andre gebyrer). Hvis betalingsmetoden ikke kan verifiseres, er ugyldig eller på annen måte ikke er akseptabel, kan bestillingen bli midlertidig
    stoppet eller annullert. Du må løse problemer med betalingsmetoden du velger for å gå videre med bestillingen.
  %p
    Vår presentasjon av produkter og tjenester skal ikke anses som et bindende tilbud, men i stedet en invitasjon til å gjøre en bestilling. Straks du fullfører kjøpsprosessen på nettet, har vi en bindende salgskontrakt. Du kan til enhver tid oppdatere handlevognen
    din før du fullfører kjøpsprosessen på nettet. Vi går ikke videre med leveringsprosessen før betaling har blitt mottatt.
  %h4 4.2.	Prisfastsettelse og tilgjengelighet
  %p
    Alle priser vises i amerikanske dollar, med mindre vi er lovpålagt å vise priser i lokal valuta. Priser inkluderer ikke gjeldende skatter og avgifter (definert nedenfor), ekspedisjonsgebyrer eller andre gebyrer, med mindre vi klart angir noe annet eller
    er lovpålagt å vise priser inklusive skatter, avgifter eller andre gebyrer.
  %p
    Alle produkter og tjenester som tilbys for salg, er underlagt tilgjengelighetsbegrensninger, og vi forbeholder oss retten til å legge mengdebegrensninger på bestillinger, avvise en hel eller deler av en bestilling og stoppe salg av produkter og tjenester
    uten forutgående varsel. Priser på produkter og tjenester kan bli endret når som helst, men slike endringer påvirker ikke bestilling av produkter eller tjenester du allerede har gjort.
  %h4 4.3.	Skatter og avgifter
  %p
    For så vidt det er tillatt etter gjeldende lovgivning, står du ansvarlig for utestående omsetnings-, bruks-, merverdi- eller andre offentlige skatter, avgifter eller gebyrer (sammen «
    %strong> Skatter og Avgifter
    ») i forbindelse med kjøp og bruk
    av Produkter eller Tjenester. Bestillinger som gjøres utenfor USA, kan bli skattlagt som fastsatt av tolletaten i mottakerstaten. Skatter og Avgifter fastsettes generelt på grunnlag av verdien av bestillingen og skatte- og avgiftsfrihetsterskelen (hvis
    det er relevant) for varer som importeres til mottakerstaten. Vi vil kreve inn gjeldende Skatter og Avgifter hvis vi finner ut at vi har en plikt til å kreve inn Skatter og Avgifter. Merk at vi ikke krever inn skatter og avgifter på varer som sendes
    til rettsdistrikter der vi ikke har vesentlig tilknytning. For våre amerikanske brukere kan de faktiske Skattene og Avgiftene som ilegges og kreves inn, avvike fra beløpet som vises i kassen. Flere faktorer kan gi denne forskjellen, f.eks. avvik mellom
    prosessorprogrammer og endringer i skatt- og avgiftssatser.
  %h4 4.4.	Forsendelse, tapsrisiko
  %p
    Du samtykker i å betale eventuelle ekspedisjonsgebyrer som vises når du utfører et kjøp. Vi forbeholder oss retten til å øke, redusere, legge til eller fjerne ekspedisjonsgebyrer til enhver tid, men vi vil informere om gjeldende gebyrer før du utfører
    kjøpet. Leveringsdatoer eller -tidspunkter som vises som del av betalingsprosessen, er bare estimater og garanteres ikke. Med mindre vi angir noe annet, går risikoen for tap eller skade på et produkt over til deg ved levering av produktet til angitt
    leveringssted. Hvis du har spørsmål om forsendelse, kan du kontakte oss på
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com.
  %h4 4.5.	Returer og refusjoner
  %p
    ChefSteps’ premiummedlemskap. ChefSteps’ premiummedlemskap gir deg ubegrenset tilgang til ChefSteps-klasser og andre medlemsfordeler (mer informasjon finnes på
    = succeed ")." do
      %a{:href => "https://www.chefsteps.com/premium"} https://www.chefsteps.com/premium
  %p
    Produkter kjøpt direkte av ChefSteps. Hvis du bor i USA, tar vi imot returer og utsteder refusjoner for Produkter som ikke er næringsmidler som du kjøper direkte av oss hvis Produktene returneres innen 30 dager etter levering i uåpnet, ubrukt stand. Før
    et Produkt returneres, må du innhente returtillatelse fra ChefSteps ved å kontakte oss på
    %a{:href => "mailto:support@chefsteps.com"} support@chefsteps.com
    og oppgi følgende informasjon: (a) produktets serienummer, (b) årsaken til returen og (c) opprinnelig
    kjøpsordrenummer. Vi kan ta et 20 % returgebyr for returer som ikke skjer i samsvar med disse vilkårene. Personer som ikke bor i USA, bes se nedenfor for gjeldende retur- og refusjonsvilkår i deres bostedsstat for produkter som er kjøpt av ChefSteps.
  %p
    Tredjepartsprodukter kjøpt av tredjepartsforhandlere. Vi kan gjøre det mulig å kjøpe produkter av tredjepartsforhandlere gjennom Tjenestene, der vi i så fall bare opptrer som formidler. Hvis du kjøper et produkt av en tredjepartsforhandler, reguleres
    kjøpet av tredjepartens vilkår og retningslinjer. Vi forhandler ikke disse produktene og er ikke part i salget av produktene. Vi innestår eller garantier ikke for disse produktene eller tar imot returer eller utsteder refusjoner for disse produktene.
  %h4 4.6.	Feil
  %p
    Vi forsøker å være så nøyaktig som mulig og luke ut feil i våre Tjenester. Vi innestår eller garanterer imidlertid ikke for at beskrivelsene, prisene eller andre produkt- eller tjenesterelaterte opplysninger er nøyaktige, fullstendige, pålitelige, aktuelle
    eller feilfrie. I tilfelle feil forbeholder vi oss retten til å rette feilen og revidere bestillingen i samsvar med dette (noe som omfatter å ta riktig pris) eller annullere bestillingen og refundere eventuelt belastet beløp.
  %h3 5.	Lisenser til å bruke Tjenestene og Materialet.
  %p
    Hvis annet ikke angis, tilhører alt innhold og annet materiale i Tjenestene, herunder blant annet våre logoer og alle mønstre, tekster, oppskrifter, ingredienslister, tilberedningstider, videoer, grafikker, bilder, opplysninger, data, programmer, lydfiler,
    andre filer samt utvelgelse og oppsett av disse (sammen «
    %strong> Materialet
    »), ChefSteps eller våre lisensgivere og er beskyttet av nasjonal og internasjonal opphavsretts-, varemerke- og annen immaterialrettslig lovgivning.
  %p
    ChefSteps gir deg en begrenset, royaltyfri, ikke-eksklusiv, ikke-overførbar, ikke-viderelisensierbar, verdensomspennende lisens til å åpne tilgang til og bruke Materialet som gjøres tilgjengelig gjennom Tjenestene for dine egne, personlige, ikke-kommersielle
    formål. Med mindre annet uttrykkelig tillates etter loven eller skriftlig av ChefSteps, skal du ikke fremstille, videredistribuere, selge, bearbeide, dekompilere, foreta omvendt utvikling av eller demontere våre Tjenester (unntatt i tilfeller der du
    har rett til å gjøre det etter gjeldende lovgivning), eller treffe tiltak for å forstyrre eller skade våre Tjenester.
  %p
    ChefSteps oppfordrer til bruk og distribusjon av visse materialer i Tjenestene, herunder oppskrifter, ingredienslister, videoer, bilder og brukerinnhold (definert i punkt 11). Hvis annet ikke angis, gjøres slike materialer tilgjengelige for deg i henhold
    til den nyeste versjonen av
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"} Creative Commons Attribution-NonCommercial-ShareAlike-lisensen
    (BY-NC-SA). Merk at våre servicenavn, varemerker, logoer og slagord som kan vises
    i Tjenestene, ikke lisensieres til deg etter Creative Commons-lisensen.
  %p
    Med mindre vi uttrykkelig angir noe annet, skal ingenting i disse vilkårene tolkes som en overføring av rettigheter eller lisenser til patent, varemerke, opphavsrett eller andre beskyttede rettigheter tilhørende ChefSteps eller tredjepart, verken ved
    innsigelsesavskjæring, stilltiende eller på annen måte. Lisensene som gis i dette dokumentet, kan til enhver tid tilbakekalles.
  %h3 6.	Retningslinjer for gjentatte regelbrudd; klager forbundet med opphavsrett
  %p
    I samsvar med den amerikanske opphavsrettsloven Digital Millennium Copyright Act og annen gjeldende lovgivning har vi vedtatt retningslinjer for å begrense tilgang til Tjenestene ved, under relevante omstendigheter og etter egen vurdering, å si opp kontoene
    til brukere som krenker andres immaterielle rettigheter. Hvis du mener at et forhold i Tjenestene krenker eventuell opphavsrett som du eier eller kontrollerer, kan du informere vår utpekte agent om slik krenkelse som angitt nedenfor:
  %p
    Navn på utpekt agent: Edward Starbird 
    %br>/
    Adresse: 1501 Pike Place, #300, Seattle, WA 98101 
    %br>/
    Telefon: (206) 905-1099 
    %br>/
    E-post:
    %a{:href => "mailto:dmca@chefsteps.com"} dmca@chefsteps.com
  %p
    Hvis du er bosatt i USA, bes du se 
    %a{:href => "http://www.copyright.gov/title17/92chap5.html#512", :target => "_blank"}> USAs føderale lovsamling del 17 § 512 bokstav c nr. 3
    om krav til korrekt underrettelse. Personer som ikke bor i USA, bes se nedenfor om
    spesifikke krav til korrekt underrettelse i deres rettsdistrikt.
  %p
    Du bør også bemerke at hvis du med overlegg gir vesentlige uriktige opplysninger i din underrettelse om at materialet eller aktiviteten medfører krenkelse, står du ansvarlig for skader, herunder blant annet kostnader og advokathonorarer, som vi eller
    den påstått krenkende part blir påført som følge av at vi har lagt disse uriktige opplysningene til grunn når vi har fjernet eller deaktivert tilgang til Materialet eller aktiviteten som ble påstått å medføre krenkelse.
  %h3 7.	Varemerker
  %p
    «
    %strong> ChefSteps
    », ChefSteps-logoen og andre ChefSteps-servicenavn, -logoer eller -slagord som kan vises i Tjenestene, kan være registrert som varemerker for ChefSteps og våre leverandører og våre lisensgivere og kan verken helt eller delvis
    kopieres, etterlignes eller brukes uten vår eller gjeldende varemerkeinnehavers forutgående skriftlige tillatelse. Du kan ikke bruke metatagger eller annen «
    %strong> skjult tekst
    » som bruker «
    %strong> ChefSteps
    » eller annet navn, varemerke
    eller produkt- eller servicenavn tilhørende ChefSteps uten vår forutgående skriftlige tillatelse. Tjenestenes utseende, herunder blant annet alle sideoverskrifter, tilpassede grafikker, knappeikoner og skript, utgjør dessuten servicemerket, varemerket
    eller innpakningen tilhørende ChefSteps og kan verken helt eller delvis kopieres, etterlignes eller brukes uten vår forutgående skriftlige tillatelse. Alle andre varemerker, registrerte varemerker, produktnavn og foretaksnavn eller logoer som nevnes
    i Tjenestene, tilhører respektive eiere og kan verken helt eller delvis kopieres, etterlignes eller brukes uten tillatelse fra gjeldende varemerkeinnehaver. Henvisning til produkter, tjenester, prosesser eller andre opplysninger ved navn, varemerke,
    produsent, leverandør eller annet verken utgjør eller antyder støtte, sponsing eller anbefaling fra ChefSteps’ side.
  %p
    Hvis du mener at et forhold ved Tjenestene krenker varemerker som du eier eller kontrollerer, kan du informere vår utpekte agent om slik krenkelse som angitt i punkt 6. En korrekt underrettelse bør inneholde de samme elementene som kreves for klager forbundet
    med opphavsrett.
  %h3 8.	Hyperkoblinger
  %p
    Du gis en begrenset, ikke-eksklusiv, ikke-overførbar rett til å opprette en teksthyperkobling til Tjenestene, forutsatt at koblingen ikke fremstiller ChefSteps eller noen av våre tjenester på en falsk, villedende, nedsettende eller for øvrig krenkende
    måte, og videre forutsatt at det tilkoblede nettstedet ikke inneholder pornografisk eller ulovlig materiale eller materiale som er støtende, trakasserende eller på annen måte upassende. Denne begrensede rettigheten kan til enhver tid tilbakekalles.
    Du kan ikke bruke en ChefSteps-logo eller annen beskyttet ChefSteps-grafikk for å koble til Tjenestene uten vår uttrykkelige skriftlige tillatelse. Du kan videre ikke bruke, ramme inn eller benytte innrammingsteknikker for å omslutte ChefSteps’ varemerke,
    logo eller annen beskyttet informasjon, herunder bildene i Tjenestene, innholdet i en tekst eller oppsettet eller designen på en side, eller formen på en side, i Tjenestene uten vårt uttrykkelige skriftlige samtykke.
  %p
    Så langt det er tillatt etter gjeldende lovgivning, fremsetter ChefSteps ingen påstand eller erklæring om, og påtar seg ikke noe ansvar for, kvaliteten, innholdet, arten eller påliteligheten til tredjepartsnettsteder som er tilgjengelige via hyperkobling
    fra Tjenestene, eller til nettsteder som kobler til Tjenestene. Slike nettsteder er ikke under vår kontroll, og vi er ikke ansvarlig for innholdet på tilkoblede nettsteder, koblinger på et tilkoblet nettsted, eller anmeldelser, endringer eller oppdateringer
    av slike nettsteder. Vi stiller disse koblingene til rådighet for deg bare av praktiske hensyn, og en inkludert kobling innebærer ikke at vi kontrollerer, støtter eller godkjenner nettstedet eller informasjon på nettstedet. Når du forlater Tjenestene,
    bør du være oppmerksom på at våre vilkår og retningslinjer ikke lenger gjelder. Du bør gjennomgå gjeldende vilkår og retningslinjer, herunder personvern- og datainnsamlingspraksis, for nettstedet du navigerer til fra Tjenestene.
  %h3 9.	Tredjepartsinnhold, åpen kilde-programvare, grensesnitt til tredjepartsprodukter og -tjenester
  %p
    Tredjepartsinnhold. Vi kan vise innhold, annonser og tilbud fra tredjeparter gjennom Tjenestene (sammen «
    %strong> Tredjepartsinnhold
    »). For så vidt det er tillatt etter gjeldende lovgivning, kontrollerer, støtter eller godkjenner vi ikke Tredjepartsinnhold,
    og vi innestår eller garanterer ikke for Tredjepartsinnhold, herunder blant annet om hvorvidt Tredjepartsinnhold er nøyaktig eller fullstendig. Du bekrefter og samtykker videre i at din kontakt med tredjeparter som leverer Tredjepartsinnhold, utelukkende
    er mellom deg og tredjepartene, og at ChefSteps ikke på noen måte er ansvarlig for kontakten eller Tredjepartsinnholdet.
  %p
    Programvare med åpen kildekode. Våre tjenester kan også inneholde tredjepartsprogramvare som er underlagt GNUs generelle offentlige lisens eller annen programvare med åpen kildekode («
    = succeed "\u{bb})." do
      %strong Programvare med åpen kildekode
    = succeed "." do
      %a{:href => "https://www.chefsteps.com/libraries"} https://www.chefsteps.com/libraries
  %p
    Tilkobling til Tredjepartsprodukter og -Tjenester. ChefSteps kan gi deg tillatelse til å bruke sine Produkter og Tjenester (f.eks. Joule) i forbindelse med tredjepartsprodukter og -tjenester, f.eks. Amazon Alexa («
    %strong> Tredjepartsprodukter og -Tjenester
    »).
    Hvis du bestemmer deg for å koble våre Produkter eller Tjenester til Tredjepartsprodukter og -Tjenester, kreves det uttrykkelig samtykke og tillatelse av deg som du til enhver tid kan tilbakekalle. Straks du gir samtykke til å koble bestemte Tredjepartsprodukter
    og -Tjenester til våre Produkter eller Tjenester, samtykker du i at ChefSteps og leverandøren av Tredjepartsproduktene og -Tjenestene kan utveksle informasjon for å aktivere funksjonaliteten du gir tillatelse til. Straks ChefSteps deler informasjon
    med en leverandør av Tredjepartsprodukter og -Tjenester, reguleres tredjepartsleverandørens bruk av informasjonen utelukkende av leverandørens egen personvernerklæring. Du bekrefter og samtykker i at ChefSteps verken innestår eller garanterer for Tredjepartsprodukters
    eller -Tjenesters sikkerhet, og ChefSteps står ikke ansvarlig for din bruk av Tredjepartsprodukter eller -Tjenester eller skader eller tap som måtte følge av din bruk av Tredjepartsprodukter eller -Tjenester. Du bør kontakte tredjepartsleverandører
    direkte ved spørsmål om deres Tredjepartsprodukter og -Tjenester.
  %h3 10.	Brukeratferd
  %p
    Du samtykker i at du ikke vil bryte loven, kontrakter, immaterielle rettigheter eller andre tredjepartsrettigheter, eller forvolde skade, og at du er eneansvarlig for din atferd når du får tilgang til eller bruker Produktene og Tjenestene. Du samtykker
    i at du vil overholde disse Vilkårene og ikke vil:
  %ul
    %li delta i trakasserende, truende, aggressiv eller forfølgende atferd,
    %li bruke eller forsøke å bruke en annen brukers konto uten tillatelse fra brukeren og ChefSteps,
    %li
      bruke Produktene eller Tjenestene på noen måte som kunne forstyrre, negativt påvirke eller hindre andre brukere i fullt ut å benytte Produktene eller Tjenestene, eller som kunne skade, deaktivere, overbelaste eller svekke funksjonen til Produktene eller
      Tjenestene på noen måte,
    %li omforme aspekter ved Produktene eller Tjenestene, herunder rettelse av feil, uten tillatelse fra ChefSteps,
    %li
      inversutvikle aspekter ved produktene eller tjenestene eller gjøre noe som helst som kan avdekke kildekode eller omgå tiltak satt i verk for å hindre eller begrense tilgang til materiale eller funksjoner eller områder i Produktene eller Tjenestene,
      med mindre annet uttrykkelig tillates etter gjeldende lovgivning,
    %li utvikle tredjepartsapplikasjoner som interagerer med Brukerinnhold eller Produktene eller Tjenestene uten vårt forutgående skriftlige samtykke,
    %li
      bruke enhver form for robot, indekseringsrobot, datasøkemotor, skript, nettleserutvidelse, frakoblet leser eller annet automatisert middel eller grensesnitt som vi ikke har autorisert, til å åpne tilgang til Produktene eller Tjenestene, trekke ut data
      eller på annen måte forstyrre eller endre gjengivelsen av Materialet eller funksjonalitet,
    %li
      omgå eller ignorere anvisninger i robots.txt-filen, tilgjengelig på
      = succeed "," do
        %a{:href => "https://www.chefsteps.com/robots.txt"} https://www.chefsteps.com/robots.txt
    %li bruke Produktene eller Tjenestene til ulovlig eller uautorisert formål, eller delta i, oppfordre til eller fremme aktivitet som bryter disse Vilkårene.
  %h3 11.	Brukerinnhold
  %p
    Tjenestene kan inkludere interaktive funksjoner og områder som lar brukere opprette, legge ut, dele eller lagre innhold, herunder blant annet brukergenerert innhold, oppskrifter, anmeldelser, bilder, videoer, musikk, lyd, tekst, grafikk, kode, elementer
    eller annet materiale (sammen «
    %strong> Brukerinnhold
    »). Hvis du bestemmer deg for å dele ditt Brukerinnhold med andre gjennom Tjenestene eller tredjepartsplattformer, forstår du at dette Brukerinnholdet vil være synlig for andre i samsvar med
    personverninnstillingene du fastsetter i kontoen din.
  %p
    Du samtykker i at du er eneansvarlig for ditt Brukerinnhold og for din bruk av interaktive funksjoner og områder i tjenestene. Ved å legge ut, laste opp eller på annen måte sende inn Brukerinnhold innestår du for og garanterer at (a) slikt brukerinnhold
    er ikke-konfidensielt, (b) du eier alle immaterielle rettigheter (eller har innhentet alle nødvendige tillatelser) til å stille til rådighet slikt innhold og gi lisensene fastsatt i denne avtalen og (c) Brukerinnholdet ikke vil bryte eller krenke andres
    immaterielle rettigheter eller annen eiendomsrett, herunder retten til publisitet eller privatliv, tilhørende en fysisk eller juridisk person.
  %p Ved å bruke de interaktive funksjonene og områdene i Tjenestene samtykker du videre til ikke å opprette, legge ut, dele eller lagre noe av følgende:
  %ul
    %li brukerinnhold som er ulovlig, injurierende, ærekrenkende, usømmelig, pornografisk, uanstendig, usømmelig, pikant, trakasserende, truende, krenkende for retten til privatliv eller publisitet, uforskammet, provoserende, svikaktig eller på annen måte upassende,
    %li brukerinnhold som ville utgjøre, oppfordre til eller gi anvisninger til en straffbar handling, bryte rettighetene til en annen person eller på annen måte medføre ansvar eller bryte lokal, regional, nasjonal eller internasjonal lovgivning,
    %li brukerinnhold som inneholder eller fremstiller erklæringer, kommentarer eller krav som ikke gjenspeiler dine oppriktige synspunkter og opplevelser,
    %li brukerinnhold som gir feil inntrykk av, eller gir uriktige opplysninger om, din tilknytning til en annen fysisk eller juridisk person,
    %li brukerinnhold som nevner eller fremstiller ChefSteps eller våre Produkter eller Tjenester, men ikke viser en vesentlig tilknytning til oss, hvis du har det (f.eks. hvis du er ChefSteps-ansatt),
    %li brukerinnhold som inneholder uoppfordrede tilbud, politiske kampanjer, annonser eller henvendelser,
    %li brukerinnhold som inneholder virus, ødelagte data eller andre skadelige, forstyrrende eller destruktive filer eller innhold, eller
    %li brukerinnhold som etter vår vurdering er upassende, eller som begrenser eller hindrer annen person i å bruke Produktene eller Tjenestene, eller som kan utsette ChefSteps eller andre for skade eller erstatningsansvar.
  %p
    Vi er ikke ansvarlig for noe Brukerinnhold. Selv om vi ikke plikter å vise, redigere eller overvåke Brukerinnhold, forbeholder vi oss retten til, og har absolutt muligheten til, å fjerne, vise eller redigere brukerinnhold lagt ut eller lagret i Tjenestene
    til enhver tid og av hvilken som helst grunn, og du er eneansvarlig for å sikkerhetskopiere og erstatte Brukerinnhold du legger ut eller lagrer i Tjenestene for egen regning.
  %h3 12.	Rettigheter til Brukerinnhold
  %p
    Med mindre annet angis i disse Vilkårene eller i en separat avtale, krever vi ikke eiendomsrett til eller kontroll over ditt Brukerinnhold. Ved å laste opp, legge ut eller på annen måte sende inn Brukerinnhold gir du imidlertid ChefSteps en ikke-eksklusiv,
    royaltyfri, verdensomspennende, evigvarende, ugjenkallelig, overførbar og fullt viderelisensierbar rett til å bruke, fremstille, endre, tilpasse, offentliggjøre, oversette, bearbeide, distribuere, utføre og vise slikt Brukerinnhold og ditt navn, likhet,
    stemme og person i Tjenestene, på tredjepartsnettsteder og mobilapper, og i alle andre medier eller formater, enten disse er kjent i dag eller blir utviklet senere, for alle formål, herunder for ChefSteps’ kommersielle formål. Du gir videre alle brukere
    av våre Tjenester tillatelse til å åpne tilgang til og bruke ditt brukerinnhold i samsvar med den nyeste versjonen av
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"} Creative Commons Attribution-NonCommercial-ShareAlike-lisensen
    (BY-NC-SA).
  %h3 13.	Tilbakemeldinger
  %p
    Atskilt fra Brukerinnhold kan du sende spørsmål, kommentarer, forslag, ideer, originalt eller kreativt materiale eller annen informasjon om ChefSteps eller våre Produkter eller Tjenester (sammen «
    %strong> Tilbakemeldinger
    »). Tilbakemeldinger er
    ikke-konfidensielle og blir ChefSteps’ eiendom. ChefSteps skal ha enerett, herunder blant annet alle immaterielle rettigheter, til slike tilbakemeldinger og skal ha rett til ubegrenset bruk og spredning av disse Tilbakemeldingene for alle formål, kommersielle
    eller andre, uten anerkjennelse eller godtgjørelse til deg.
  %h3 14.	Skadesløsholdelse
  %p
    For så vidt det er tillatt etter gjeldende lovgivning, samtykker du i å godtgjøre, forsvare og holde ChefSteps og våre respektive forhenværende, nåværende og fremtidige ansatte, tillitsmenn, styremedlemmer, leverandører, konsulenter, aksjonærer, underleverandører,
    forhandlere, tjenesteytere, morselskaper, datterselskaper, tilknyttede selskaper, agenter, representanter, forgjengere, rettsetterfølgere og rettighetserververe (sammen med ChefSteps, «
    %strong> ChefSteps-Partene
    ») skadesløs for alle tredjepartskrav
    av noen som helst art, enten de er basert på ikke-kontraktsmessige, kontraktsmessige eller andre forhold (sammen «
    %strong> Krav
    »), herunder tingskader eller personskader, som oppstår som følge av:
  %ul
    %li tilgang til eller bruk eller misbruk av våre Produkter, Tjenester og Materialer,
    %li Brukerinnhold du oppretter, legger ut, deler eller lagrer på eller gjennom våre tjenester eller våre sider eller legger ut på sosiale medier via tredjepartsplattformer,
    %li Tilbakemeldinger du gir,
    %li brudd på disse Vilkårene,
    %li brudd på tredjepartsrettigheter, eller
    %li bruk eller misbruk av Produktene eller Tjenestene av en tredjepart du gir tillatelse til å bruke Produktene eller Tjenestene du har fått levert.
  %p Denne skadesløsholdelsesforpliktelsen omfatter å betale for eventuelle advokathonorarer for ChefSteps-Parter og andre kostnader knyttet til granskning og forsvar av Krav, og kostnadene knyttet til håndheving av skadesløsholdelsesforpliktelsen.
  %p
    Du samtykker i snarest å underrette ChefSteps om eventuelle Krav fra tredjeparter og samarbeide med ChefSteps-Partene om å forsvare disse Kravene. Du samtykker videre i at ChefSteps-Partene skal ha kontroll over forsvar eller oppgjør av Krav fra tredjeparter.
    Denne skadesløshosholdelsesforpliktelen kommer i tillegg til, og ikke i stedet for, andre skadesløshosholdelsesforplikteler fastsatt i en skriftlig avtale mellom deg og ChefSteps.
  %h3 15.	Ansvarsfraskrivelser
  %p
    VI KAN GI VIKTIGE HELSE- OG SIKKERHETSADVARSLER OG -INSTRUKSER SOM DU MÅ LESE FØR DU BRUKER VISSE CHEFSTEPS-PRODUKTER OG/ELLER DELTAR I VISSE AKTIVITETER ELLER TJENESTER. VI KAN OPPDATERE ELLER REVIDERE DISSE ADVARSLENE OG ANVISNINGENE, SÅ VENNLIGST GJENNOMGÅ
    DEM REGELMESSIG.
  %p
    FOR SÅ VIDT DET ER TILLATT ETTER GJELDENDE LOVGIVNING, LEVERES CHEFSTEPS’ TJENESTER OG MATERIALE «SOM DE ER» OG «AVHENGIG AV TILGJENGELIGHET» UTEN GARANTIER AV NOEN SOM HELST ART, VERKEN UTTRYKKELIGE ELLER UNDERFORSTÅTTE, OG VI FRASKRIVER OSS UTTRYKKELIG
    ANSVAR FOR ALLE ANDRE GARANTIER, UTTRYKKELIGE ELLER UNDERFORSTÅTTE, HERUNDER BLANT ANNET UNDERFORSTÅTTE GARANTIER OM SALGBARHET, FORMÅLSTJENLIGHET, EIENDOMSRETT OG FRAVÆR AV IMMATERIALRETTSKRENKELSER. VI VERKEN INNESTÅR FOR ELLER GARANTERER FOR AT CHEFSTEPS’
    NETTSTEDER, MOBILAPPER OG MATERIALER ER NØYAKTIGE, FULLSTENDIGE, PÅLITELIGE, AKTUELLE ELLER FEILFRIE. VÅRE NETTSTEDER, MOBILAPPER OG MATERIALER ER DESSUTEN (A) BARE TIL INFORMASJON, (B) LEVERT SOM GENERELLE RÅD OG (C) IKKE BEREGNET PÅ Å ERSTATTE PROFESJONELLE
    LEGE- ELLER ERNÆRINGSRÅD. VI FORSØKER Å GJØRE DIN TILGANG TIL OG BRUK AV CHEFSTEPS’ NETTSTEDER, MOBILAPPER OG MATERIALE SIKKER, MEN VI KAN IKKE OG VIL INNESTÅ FOR ELLER GARANTERE AT DE ELLER VÅRE SERVERE ER FRI FOR VIRUS ELLER ANDRE SKADELIGE KOMPONENTER;
    DU BØR DERFOR BRUKE BRANSJEANERKJENT PROGRAMVARE TIL Å OPPDAGE OG DESINFISERE VIRUS FRA NEDLASTINGER.
  %p
    DU ER ENEANSVARLIG FOR KORREKT OG SIKKER VASK, HÅNDTERING, KLARGJØRING, OPPBEVARING, TILBEREDNING, BRUK OG INNTAK AV NÆRINGSMIDLER. MATLAGINGSANVISNINGENE FRA CHEFSTEPS TILBYS BARE SOM RETNINGSLINJER. BRUK DITT BESTE SKJØNN NÅR DU TILBEREDER ELLER SPISER
    NÆRINGSMIDLER. INNTAK AV RÅ ELLER FOR LITE KOKTE KJØTT-, FJÆRFE-, SJØMAT- ELLER EGGEPRODUKTER KAN ØKE RISIKOEN FOR NÆRINGSMIDDELOVERFØRT SYKDOM, OG SLIKT INNTAK SKJER ETTER EGET SKJØNN. VI FRASKRIVER OSS UTTRYKKELIG ANSVAR FOR EVENTUELL SKADEVIRKNING
    SOM KAN SKYLDES DIN BRUK AV INFORMASJON SOM LEVERES GJENNOM TJENESTENE.
  %p
    CHEFSTEPS GIR INGEN GARANTI FOR PRODUKTER SOM ER FREMSTILT AV ANDRE FORETAK, SELV OM DU KAN KJØPE DEM GJENNOM VÅRE TJENESTER. PRODUKTER SOM FREMSTILLES AV ANDRE FORETAK, MEN SELGES GJENNOM VÅRE TJENESTER, SELGES AV CHEFSTEPS «SOM DE ER». CHEFSTEPS FRASKRIVER
    SEG ANSVAR FOR ALLE UNDERFORSTÅTTE GARANTIER FOR SLIKE PRODUKTER, HERUNDER DEN UNDERFORSTÅTTE GARANTIEN OM SALGBARHET, FORMÅLSTJENLIGHET, EIENDOMSRETT OG FRAVÆR AV IMMATERIALRETTSKRENKELSER. CHEFSTEPS GARANTERER IKKE FOR KVALITETEN ELLER EGENSKAPER
    VED PRODUKTER SOM VI IKKE PRODUSERER. MED MINDRE PRODUSENTEN GIR EN GARANTI, BÆRER DU SOM KJØPER HELE RISIKOEN FOR KVALITETEN OG YTELSEN TIL DISSE PRODUKTENE, OG DU, IKKE CHEFSTEPS, PÅTAR DEG HELE KOSTNADEN VED EVENTUELL NØDVENDIG UTSKIFTING ELLER REPARASJON.
  %p PRODUSENTER AV PRODUKTER SOM SELGES AV CHEFSTEPS, KAN GI EGNE GARANTIER, OG DU SAMTYKKER I AT DINE BEFØYELSER I RELASJON TIL EVENTUELLE FEIL PÅ DISSE PRODUKTENE UTELUKKENDE VIL VÆRE BASERT PÅ GARANTIENE SOM EVENTUELT GIS AV DISSE PRODUSENTENE.
  %h3 16.	Begrensning av erstatningsansvar, kravsfrafall
  %p
    FØLGENDE GJELDER FOR SÅ VIDT DET ER TILLATT ETTER GJELDENDE LOVGIVNING: (A) CHEFSTEPS ELLER NOEN AV DE ANDRE CHEFSTEPS-PARTENE SKAL UNDER INGEN OMSTENDIGHETER VÆRE ANSVARLIG FOR INDIREKTE TAP ELLER TILLEGGS- ELLER FØLGESKADER AV NOEN SOM HELST ART (HERUNDER
    BLANT ANNET INNTEKTS- ELLER FORTJENESTETAP, BRUKS- ELLER DATATAP, VERDITAP ELLER -REDUKSJON FOR EIENDELER ELLER VERDIPAPIRER, ELLER ERSTATNING FOR DRIFTSAVBRUDD) SOM MÅTTE OPPSTÅ SOM FØLGE AV TILGANGEN TIL ELLER BRUKEN AV TJENESTENE ELLER MATERIALET
    ELLER PÅ ANNEN MÅTE KNYTTET TIL DISSE VILKÅRENE (HERUNDER BLANT ANNET SKADER FORÅRSAKET AV ELLER OPPSTÅTT SOM FØLGE AV EN BRUKERS TILLIT TIL INFORMASJON INNHENTET FRA CHEFSTEPS, ELLER AV FEILTAKELSER, UNNLATELSER, AVBRUDD, SLETTING AV FILER ELLER E-POSTER,
    FEIL, DEFEKTER, VIRUS, TROJANERE, DRIFTS- ELLER OVERFØRINGSFORSINKELSER ELLER YTELSESSVIKT, ENTEN DETTE SKYLDES NATURKATASTROFER ELLER FORCE MAJEURE, KOMMUNIKASJONSSVIKT, TYVERI, ØDELEGGELSE ELLER UAUTORISERT TILGANG TIL CHEFSTEPS’ VEDLEGG, PROGRAMMER
    ELLER SYSTEMER), UAVHENGIG AV SØKSMÅLSFORMEN, ENTEN DEN ER BASERT PÅ KONTRAKTSMESSIG FORHOLD, IKKE-KONTRAKTSMESSIG FORHOLD (HERUNDER BLANT ANNET SIMPEL UAKTSOMHET, ENTEN DEN ER AKTIV, PASSIV ELLER AVLEDET), STRENGT PRODUKTANSVAR ELLER EVENTUELL ANNEN
    RETTSTEORI (SELV OM PARTEN HAR BLITT INFORMERT OM MULIGHETEN FOR SLIKE SKADER OG UAVHENGIG AV OM SLIKE SKADER KUNNE FORUTSES), OG (B) SAMLET ERSTATNINGSANSVAR FOR CHEFSTEPS OG CHEFSTEPS-PARTENE (I FELLESSKAP), ENTEN DET ER BASERT PÅ KONTRAKTSMESSIG
    FORHOLD, GARANTI, IKKE-KONTRAKTSMESSIG FORHOLD (HERUNDER UAKTSOMHET), PRODUKTANSVAR, OBJEKTIVT ANSVAR ELLER ANNEN TEORI, SOM MÅTTE FØLGE AV BRUKEN AV ELLER MANGLENDE EVNE TIL Å BRUKE TJENESTENE, HERUNDER MATERIALE OG FUNKSJONER I TJENESTENE, SKAL UNDER
    INGEN OMSTENDIGHET OVERSKRIDE GODTGJØRELSE BETALT TIL OSS FOR DIN TILGANG TIL ELLER BRUK AV PRODUKTENE ELLER TJENESTENE.
  %p
    FOR SÅ VIDT DET ER TILLATT ETTER GJELDENDE LOVGIVNING, FRIGJØR DU HERVED, PÅ VEGNE AV DINE ARVINGER, TESTAMENTFULLBYRDERE, BOSTYRERE SAMT JURIDISKE OG PERSONLIGE REPRESENTANTER, CHEFSTEPS-PARTENE FOR ALLE KRAV SOM MÅTTE OPPSTÅ SOM FØLGE AV DISSE VILKÅRENE.
    HVIS DU ER BOSATT I CALIFORNIA, FRAFALLER DU HERVED RETTIGHETEN ANGITT I PARAGRAF 1542 I CALIFORNIAS SIVILLOVBOK I FORBINDELSE MED DET FOREGÅENDE, SOM ANGIR FØLGENDE: «ET GENERELT KRAVSFRAFALL GJELDER IKKE KRAV SOM KREDITOR IKKE VET ELLER ANTAR FINNES
    I HANS ELLER HENNES FAVØR PÅ TIDSPUNKTET FOR KRAVSFRAFALLET, OG SOM VESENTLIG VILLE PÅVIRKET HANS ELLER HENNES OPPGJØR MED DEBITOR HVIS DET VAR KJENT.» DU FRAFALLER HERVED LIGNENDE BESTEMMELSER I ANDRE JURISDIKSJONER.
  %p
    BEGRENSNINGENE FASTSATT I DETTE PUNKT 16 VIL IKKE BEGRENSE ELLER UTELUKKE ANSVAR FOR DØDSFALL, PERSONSKADE ELLER TINGSKADE FORÅRSAKET AV PRODUKTER ELLER TJENESTER DU KJØPER AV OSS, ELLER FOR SVIK, GROV UAKTSOMHET ELLER OVERLAGT, FORSETTLIG, ONDSINNET
    ELLER UFORSVARLIG FORSØMMELSE.
  %h3 17.	Endringer av Tjenestene
  %p
    Vi forbeholder oss retten til når som helst å endre alt Materiale og endre, suspendere eller slutte å gi tilgang til Tjenestene (eller funksjoner eller funksjonalitet i tjenestene) uten varsel og uten forpliktelse eller ansvar overfor deg. Du er også
    berettiget til å ikke bruke hele eller deler av Tjenestene, eller til enhver tid si opp denne avtalen.
  %h3 18.	Tvisteløsning, voldgift
  %p VENNLIGST LES NØYE GJENNOM FØLGENDE PUNKT FORDI DET KREVER AT VISSE TVISTER OG KRAV MED CHEFSTEPS AVGJØRES ved VOLDGIFT, OG BEGRENSER HVORDAN DU KAN SØKE ERSTATNING FRA OSS.
  %h4 18.1.	Bindende voldgift
  %p
    Med unntak av tvister, krav, søksmål, søksmålsgrunnlag, fordringer eller saker (sammen «
    %strong> Tvister
    ») som oppstår som følge av et brudd på punkt 10, eller Tvister der den ene parten forsøker å bringe et individuelt søksmål inn ved småkravsprosess
    eller krever rettslig pålegg for påstått krenkelse av immaterielle rettigheter, herunder blant annet opphavsrettigheter, varemerker, foretaksnavn, logoer, forretningshemmeligheter eller patenter, samtykker du og ChefSteps i (a) å frafalle dine og ChefSteps’
    respektive rettigheter til å få alle tvister som måtte oppstå som følge av disse Vilkårene, eller Tjenestene, Materialet eller Produkter, løst i en domstol, og (b) å frafalle dine og ChefSteps’ respektive rettigheter til rettsak med jury. I stedet samtykker
    du og ChefSteps til å løse tvister ved bindende voldgift (som vil si henvisning av en tvist til én eller flere personer med ansvar for å granske tvisten og treffe endelig og bindende avgjørelse for å løse tvisten i stedet for at en dommer eller jury
    avgjør tvisten).
  %h4 18.2.	Ingen gruppevoldgift eller gruppeøksmål
  %p
    Du og ChefSteps samtykker i at eventuell Tvist som oppstår som følge av eller i forbindelse med disse Vilkårene, Tjenestene, Produktene eller Materialet, er personlig for deg og ChefSteps, og at slik tvist vil bli løst utelukkende gjennom individuell
    voldgift og ikke bli ført som i en gruppevoldgift, i et gruppe
  %p
    søksmål eller lignende. Du og ChefSteps samtykker i at det ikke vil forekomme en gruppevoldgift eller voldgift der en enkeltperson forsøker å løse en tvist som representant for en annen enkeltperson eller gruppe av enkeltpersoner. Du og ChefSteps samtykker
    videre i at en tvist ikke kan bringes inn for retten som et gruppesøksmål eller lignende, verken innenfor eller utenfor voldgift, eller på vegne av annen enkeltperson eller gruppe av enkeltpersoner.
  %h4 18.3.	Den amerikanske føderale voldgiftsloven
  %p
    Du og ChefSteps samtykker i at disse Vilkårene påvirker handel mellom delstatene, og at dette punkt 18 både materielt og prosessuelt reguleres, tolkes og håndheves i samsvar med den amerikanske føderale voldgiftsloven, den amerikanske føderale voldgitsloven
    del 9 § 1 med førlgende («
    %strong> FAA
    »), i det omfang det er tillatt etter gjeldende lovgivning.
  %h4 18.4.	Meddelelser, uformell tvisteløsning
  %p
    Du og ChefSteps samtykker i at hver part underretter den andre part skriftlig om tvist underlagt voldgift eller småkravsprosses innen tretti (30) dager etter datoen der kravet oppstår, slik at partene i god tro kan forsøke å løse tvisten på minnelig måte.
    Meddelelse til ChefSteps skal sendes elektronisk til
    = succeed "." do
      %a{:href => "mailto:disputes@chefsteps.com"} disputes@chefsteps.com
  %h4 18.5.	Rettergang
  %p
    Med unntak av tvister som oppstår som følge av et brudd på punkt 10, eller tvister der den ene parten forsøker å bringe et søksmål ved småkravsprosess eller kreve rettslig pålegg for påstått krenkelse av immaterielle rettigheter, herunder blant annet
    opphavsrettigheter, varemerker, foretakssnavn, logoer, forretningshemmeligheter eller patenter, samtykker du og ChefSteps i at (a) voldgift vil finne sted i King County i Washington, (b) voldgift vil bli gjennomført fortrolig av en enkelt voldgiftsdommer
    i samsvar med reglene til Judicial Arbitration and Mediation Services («
    %strong> JAMS
    »), som herved opptas ved henvisning, og at (c) de delstatlige eller føderale domstolene i henholdsvis delstaten Washington og USA med sete i King County i
    Washington har enekompetanse over eventuelle anker og håndhevingen av en voldgiftsdom. Du kan også prosedere en tvist i ved småkravsprosess i distriktet der du har faktureringsadresse hvis tvisten oppfyller kravene til å bli behandlet i ved småkravsprosess.
  %h4 18.6.	Voldgiftsdommerens myndighet
  %p
    Som begrenset av FAA, disse vilkårene og de gjeldende JAMS-reglene vil voldgiftsdommeren ha (a) enemyndighet til å treffe alle prosessuelle og materielle avgjørelser i en tvist, herunder avgjøre om en tvist kan behandles ved voldgift, og (b) myndighet
    til å gi eventuell beføyelse som ellers ville være tilgjengelig i en domstol; men forutsatt at voldgiftsdommeren ikke har myndighet til å behandle en gruppevoldgift eller et gruppesøksmål, noe som er forbudt etter disse vilkårene. Voldgiftsdommeren
    kan bare behandle en individuell voldgift og kan ikke konsolidere mer enn én enkeltpersons krav, behandle noen form for gruppesøksmål eller behandle saker som omfatter mer enn én enkeltperson.
  %h4 18.7.	JAMS-regler
  %p
    JAMS-reglene og mer informasjon om JAMS er tilgjengelig på JAMS’ nettsted. Ved å samtykke i å være bundet av disse vilkårene vil du enten (a) bekrefte og samtykke i at du har lest og forstår JAMS-reglene, eller (b) fraskriver deg muligheten til å lese
    JAMS-reglene og påstander om at JAMS-reglene er urettferdige eller ikke bør gjelde av en eller annen grunn.
  %h4 18.8.	Tilsidesettelse av bestemmelser
  %p
    Hvis en betingelse, klausul eller bestemmelse i dette punkt 18 erklæres ugyldig eller rettsstridig, vil dette gjelde i lovens minste utstrekning, og alle andre betingelser, klausuler og bestemmelser i dette punkt 18 vil forbli gyldige. Rettighetsavståelsene
    nevnt i punkt 18.2 kan videre skilles ut fra de andre bestemmelsene i disse vilkårene og vil forbli gyldige og gjennomførbare, med mindre de forbys etter gjeldende lovgivning.
  %h3 19.	Lovvalg og verneting
  %p
    Disse vilkårene og din tilgang til og bruk av produktene og tjenestene skal reguleres, tolkes og håndheves i samsvar med lovgivningen i delstaten Washington, uten hensyn til lovkonfliktregler eller -prinsipper (verken i delstaten Washington eller annet
    rettsdistrikt) som ville føre til at lovgivningen i et annet rettsdistrikt fikk anvendelse. Tvist mellom partene som ikke er underlagt voldgift eller ikke kan behandles ved småkravsprosess, skal løses ved de delstatlige eller føderale domstolene i henholdsvis
    delstaten Washington og USA med sete i King County i Washington.
  %h3 20.	Oppsigelse
  %p
    Uten hensyn til disse Vilkårene forbeholder vi oss retten til uten varsel og etter egen vurdering, for så vidt det er tillatt etter gjeldende lovgivning, å si opp din rett til å åpne tilgang til eller bruke tjenestene, og til å blokkere eller hindre din
    fremtidige tilgang til og bruk av tjenestene. Hvis du overfører et produkt som kobler til våre Tjenester, f.eks. Joule, til en ny eier, opphører din rett til å bruke Tjenestene med hensyn til det Produktet uten videre, og den nye eieren vil ha ingen
    rett til å bruke tjenestene under din konto og vil måtte registrere seg for å få en separat konto med ChefSteps.
  %h3 21.	Tilsidesettelse av bestemmelser
  %p
    Hvis en betingelse, klausul eller bestemmelse i disse vilkårene erklæres ugyldig eller rettsstridig, skal betingelsen, klausulen eller bestemmelsen skilles ut fra disse vilkårene og ikke påvirke resterende del av betingelsens, klausulens eller bestemmelsens
    gyldighet, eller annen betingelse, klausul eller bestemmelse i disse vilkårene.
  %h3 22.	Vilkårenes fortsatte gyldighet
  %p Følgende punkter vil fortsette å gjelde etter utløp eller oppsigelse av disse vilkårene og oppsigelse av din ChefSteps-konto: alle definerte begreper og avsnitt 1, 2, 3, 4, 5 (bare første avsnitt), 6, 7, 8 (bare andre avsnitt), 9 til og med 23.
  %h3 23.	Klagerett i California
  %p
    Hvis du er bosatt i California, kan du melde inn klager til forbrukerhjelpenheten i forbrukerinformasjonsavdelingen ved Californias departement for forbrukersaker ved å ta skriftlig kontakt på 1625 North Market Blvd., Suite N 112, Sacramento, CA 95834,
    eller på telefon (800) 952-5210.
  %h3 24.	Spørsmål
  %p
    Hvis du har spørsmål om disse vilkårene eller våre produkter eller tjenester, kan du kontakte oss på
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
