#terms
  %h3 T&#xC9;RMINOS DE USO Y VENTA DE CHEFSTEPS
  %p &#xDA;ltima Actualizaci&#xF3;n: 13/1/2017
  %p
    POR FAVOR LEA ESTOS T&#xC9;RMINOS DE USO Y VENTA CUIDADOSAMENTE, INCLUYENDO LA DISPOSICI&#xD3;N DE ARBITRAJE OBLIGATORIO EN LA SECCI&#xD3;N 18 PARA RESIDENTES DE LOS ESTADOS UNIDOS. SI USTED RESIDE FUERA DE LOS ESTADOS UNIDOS, PUEDEN APLICARLE T&#xC9;RMINOS Y CONDICIONES
    ADICIONALES QUE, YA SEA COMPLEMENTEN O REEMPLACEN, CIERTAS DISPOSICIONES EN ESTOS T&#xC9;RMINOS DE USO Y VENTA. POR FAVOR REVISE EL FINAL DE ESTE DOCUMENTO PARA DETERMINAR SI ALGUNO DE LOS T&#xC9;RMINOS Y CONDICIONES ADICIONALES LE APLICAN.
  %p
    AL DAR CLIC PARA INDICAR SU ACEPTACI&#xD3;N DE ESTOS T&#xC9;RMINOS DE USO Y VENTA, O ACCEDER O UTILIZAR DE OTRA FORMA NUESTROS PRODUCTOS Y SERVICIOS (DEFINIDOS A CONTINUACI&#xD3;N), ACEPTA ESTAR VINCULADO POR ESTOS T&#xC9;RMINOS DE USO Y VENTA Y TODOS LOS T&#xC9;RMINOS A QUE
    SE HAGA REFERENCIA EN EL PRESENTE. SI NO ACEPTA TODOS ESTOS T&#xC9;RMINOS, NO ACCEDA, COMPRE O UTILICE NUESTROS PRODUCTOS O SERVICIOS.
  %p
    Estos T&#xE9;rminos de Uso y Venta ("
    %strong> T&#xE9;rminos
    ") aplican a su acceso y uso de los Productos y Servicios de ChefSteps, Inc. ("
    %strong> ChefSteps
    ", "
    %strong> nosotros
    ", "
    %strong> nuestro
    " o "
    %strong> nuestra
    "),
    una sociedad constituida en el Estado de Washington, EE.UU. y ubicada en 1501 Pike Place, #300, Seattle, Washington, 98101, con n&#xFA;mero de identificaci&#xF3;n fiscal
    464326180
    \. El t&#xE9;rmino &#x201C;
    %strong> Productos
    \&#x201D; significa el hardware y los dispositivos
    f&#xED;sicos vendidos por ChefSteps, incluyendo el Circulador Joule y la Gran Pinza Joule. El t&#xE9;rmino &#x201C;
    %strong> Servicios
    \&#x201D; se refiere a nuestros sitios web, aplicaciones m&#xF3;viles y otros productos y servicios en l&#xED;nea.
  %p
    Estos T&#xE9;rminos no alteran de ninguna manera los t&#xE9;rminos o condiciones de ning&#xFA;n otro acuerdo que pueda tener con nosotros con respecto a cualquier Producto, Servicio o cualquier otro. Si est&#xE1; utilizando los Productos o Servicios a nombre de cualquier
    entidad, usted manifiesta y garantiza que est&#xE1; autorizado para aceptar estos T&#xE9;rminos a nombre de tal entidad y que tal entidad acepta ser responsable ante nosotros si usted o tal entidad viola estos T&#xE9;rminos.
  %p
    ChefSteps se reserva el derecho de cambiar o modificar estos T&#xE9;rminos en cualquier momento y a nuestra entera discreci&#xF3;n. Si realizamos cambios a estos T&#xE9;rminos, proporcionaremos una notificaci&#xF3;n de tales cambios, tal como al enviar una notificaci&#xF3;n por
    correo electr&#xF3;nico, proporcionar notificaci&#xF3;n a trav&#xE9;s de los Servicios o actualizar la fecha de&#x201D;
    = succeed "\u{201d}" do
      %strong &#xDA;ltima Actualizaci&#xF3;n
  %h3 1.	Aviso de Privacidad
  %p
    Por favor refiérase a nuestro
    %a{:href => "https://www.chefsteps.com/privacy"} Aviso de Privacidad
    para información sobre cómo recabamos, utilizamos y divulgamos sus datos personales.
  %h3 2.	Términos Adicionales
  %p
    Cuando utilice nuestros Productos y Servicios, su uso se sujeta a los términos y condiciones que pueden aplicarse para esos Productos y Servicios. Por ejemplo, cuando descargue, instale o utilice de otra forma nuestras aplicaciones móviles, su uso se
    somete a nuestro
    %a{:href => "https://www.chefsteps.com/eula"} Acuerdo de Licencia de Usuario Final
    \. Si compra Productos, acepta nuestra
    %a{:href => "https://www.chefsteps.com/joule/warranty"} Garantía Limitada
    \.
  %h3 3.	Elegibilidad; Registro y Cuenta; Equipo Requerido; ISP y Operador
  %p
    Elegibilidad. Los Servicios no se dirigen hacia o se pretende que se utilicen por nadie con menos de 13 años de edad. Además, si tiene entre 13 y 18 años (o entre 13 y la mayor de edad legal conforme a la ley aplicable), sólo puede utilizar los Servicios
    bajo la supervisión de un padre o tutor legal que acepte vincularse a estos Términos. Al utilizar los Servicios, manifiesta y garantiza que (a) no se le han suspendido o retirado previamente los Servicios, ni ha participado en alguna actividad que pudiese
    resultar en suspensión o remoción de los Servicios, y (b) tiene plena facultad y autoridad para celebrar estos Términos y que, al hacerlo, no violará ningún otro acuerdo del cual usted sea parte.
  %p
    Registro y Cuenta. Con la finalidad de acceder y utilizar ciertas áreas o características de los Servicios, necesitará registrarse para obtener una cuenta de ChefSteps y/o crear un perfil. Al registrarse para obtener una cuenta, no puede usar un nombre
    de cuenta que incorpore una marca sin la autorización del propietario de la marca. Nos reservamos el derecho a recuperar los nombres de cuentas a nombre de cualquier negocio o persona física que mantenga el reclamo legal, incluyendo derechos de marca,
    en esos nombres. Al crear una cuenta, acepta (a) proporcionar información de la cuenta precisa, actual y completa, (b) mantener y actualizar oportunamente su información de cuenta de vez en cuando, según sea necesario, (c) mantener la seguridad de su
    usuario y contraseña de cuenta, (d) ser responsable de los actos u omisiones de cualquier tercero al que autorice a acceder o a utilizar su cuenta y los Servicios, y (e) notificarnos inmediatamente si descubre o sospecha de otra forma de cualquier incumplimiento
    de seguridad relacionado con los Servicios o su cuenta.
  %p
    Equipo Requerido, ISP y Operador. Usted reconoce que la disponibilidad de ciertos Servicios depende de (a) su computadora, teléfono móvil o tableta, cableado doméstico, red de Wi-Fi doméstica, conexión a Bluetooth y otro equipo relacionado (“
    %strong> Equipo
    ”),
    (b) su proveedor de servicio de Internet (“
    %strong> ISP
    ”) y (c) su operador de teléfono móvil o tableta (“
    %strong> Operador
    ”). Acepta que es responsable de todas las cuotas cobradas por su ISP y su Operador, en relación con su uso de
    los Servicios, y que es responsable de cumplir con todos los acuerdos y otras políticas de su ISP y su Operador. Reconoce y acepta adicionalmente que sus interacciones con su ISP y su Operador son exclusivamente entre usted y tales terceras partes y
    que ChefSteps no es responsable ni obligado en forma alguna, por tales interacciones.
  %h3 4.	Términos de Venta
  %h4 4.1.	Información de Pago y Facturación
  %p
    Al proporcionar una tarjeta de crédito u otro método de pago que aceptemos, manifiesta y garantiza que usted está autorizado para utilizar el método de pago designado y que nos permite (o a nuestro tercero procesador de pagos) cobrar al método de pago,
    la suma total de su pedido (incluyendo cualquier Impuesto aplicable y otros cargos). Si el método de pago no se puede verificar, es inválido o, por cualquier otra causa, no puede aceptarse, su pedido puede suspenderse o cancelarse. Debe resolver cualquier
    problema que encontremos en relación con el método de pago que seleccionó, a fin de proceder con su pedido.
  %p
    Nuestra presentación de los Productos y Servicios no debe considerarse una oferta obligatoria, sino más bien una invitación a realizar un pedido. Una vez que concluya el proceso de compra en línea, celebraremos un contrato de venta obligatorio. Puede
    actualizar su carrito en cualquier momento antes de concluir el proceso de compra en línea. No procederemos con el proceso de entrega hasta que se haya recibido su pago.
  %h4 4.2.	Precios y Disponibilidad
  %p
    Todos los precios se muestran en dólares de EE.UU., a menos que se requiera por ley visualizar los precios en la moneda local. Los precios no incluyen cobros de Impuestos (definidos a continuación), envío y entrega aplicables u otras cuotas, a menos que
    se mencione claramente de lo contrario, o se requiera por ley mostrar los precios incluyendo cualquier Impuesto, cobro y otras cuotas.
  %p
    Todos los Productos y Servicios ofrecidos a venta están sujetos a disponibilidad y nos reservamos el derecho a imponer límites en la cantidad de cualquier pedido, a rechazar todo o cualquier parte de un pedido, y descontinuar las ventas de Productos y
    Servicios, sin previo aviso. Los precios para los Productos y Servicios están sujetos a cambio en cualquier momento, pero tales cambios no afectarán ningún pedido de Productos y Servicios que ya se haya realizado.
  %h4 4.3.	Impuestos
  %p
    En la mayor medida permitida por la ley aplicable, usted es responsable de cualquier venta, uso, valor añadido u otros impuestos, cuotas o aranceles gubernamentales (conjuntamente, “
    %strong> Impuestos
    ”) a pagar con respecto a su compra y el uso
    de los Productos o Servicios. Los pedidos realizados fuera de los EE.UU. pueden incurrir en Impuestos según se determine por la agencia adeuanal dentro del país de destino. La evaluación de Impuestos generalmente se basa en el valor del pedido y el
    umbral de cuota de Impuestos (si aplica) para bienes importados hacia el país de destino. Recabaremos Impuestos aplicables si determinamos que tenemos la obligación de recabar Impuestos. Por favor tenga en consideración que no recabamos Impuestos en
    mercancía enviada a jurisdicciones con las cuales no tenemos nexo sustancial. Para nuestros usuarios de los EE.UU., los Impuestos reales cobrados y los recabados pueden diferir del monto mostrado al momento de pagar. Varios factores pueden provocar
    esta diferencia, tal como la variación entre los programas del procesador y los cambios en las tarifas de Impuestos.
  %h4 4.4.	Envío; Riesgo de Pérdida
  %p
    Acepta pagar cualquier cobro de envío y entrega mostrado al momento de realizar una compra. Nos reservamos el derecho de aumentar, disminuir, agregar o eliminar los cobros de envío y entrega de vez en cuando, pero proporcionaremos una notificación de
    los cobros aplicables antes de que realice su compra. Cualquier fecha u hora de entrega mostrada como parte del proceso de pago son sólo estimados y no se garantizan. A menos que lo indiquemos de otra forma, el riesgo de pérdida o daño a un Producto
    pasa a usted después de la entrega del Producto en la ubicación de entrega especificada. Si tiene cualquier pregunta o asunto con respecto al envío, por favor contáctenos en
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com.
  %h4 4.5.	Devoluciones y Rembolsos.
  %p
    Membresía Premium de ChefSteps. La Membresía Premium de ChefSteps le proporciona acceso ilimitado a clases de ChefSteps y otros beneficios sólo para miembros (para detalles, vea
    = succeed ")." do
      %a{:href => "https://www.chefsteps.com/premium"} https://www.chefsteps.com/premium
  %p
    Productos Comprados Directamente de ChefSteps. Si reside en los EE.UU., aceptamos devoluciones y emitimos rembolsos de Productos no alimenticios que haya comprado de nosotros, si tales Productos se devuelven en un plazo no mayor a 30 días de la entrega,
    sellados y sin haber sido usados. Antes de devolver cualquier Producto, debe obtener una autorización de devolución de ChefSteps contactándonos a través de
    = succeed "," do
      %a{:href => "mailto:support@chefsteps.com"} support@chefsteps.com
  %p
    Productos de Terceros, comprados de Terceros Vendedores. Puede que proporcionemos la capacidad de comprar productos de vendedores de terceras partes a través de los Servicios, en cuyo caso, actuamos como un intermediario solamente. Si compra un producto
    de un tercero vendedor, su compra se regirá por los términos y políticas de ese tercero. No somos los vendedores de tales productos y no somos parte en la venta de estos productos; por lo tanto, no hacemos ninguna manifestación o garantía en términos
    de ese producto, ni aceptamos devoluciones o emitimos rembolsos de tales productos.
  %h4 4.6.	Errores
  %p
    Intentamos ser tan precisos como sea posible y eliminar errores en nuestros Servicios; sin embargo, no manifestamos o garantizamos que las descripciones, precios u otra información relacionada con el Producto o el Servicio sean precisas, completas, confiables,
    actuales o libres de errores. En caso de un error, nos reservamos el derecho a corregir tal error y, por consiguiente, a revisar su pedido (que incluye cobrar el precio correcto) o cancelar el pedido y reembolsar cualquier monto cobrado.
  %h3 5.	Licencias para Utilizar los Servicios y Materiales
  %p
    A menos que se indique de otra forma, todo el contenido y otros materiales contenidos en los Servicios, incluyendo, sin limitación, nuestros logotipos y todos los diseños, textos, recetas, listas de ingredientes, tiempos de cocción, videos, gráficos,
    fotografías, información, datos, software, archivos de sonido, otros archivos y la selección y disposición de los mismos (conjuntamente, “
    %strong> Materiales
    ”) son propiedad exclusiva de ChefSteps o nuestros licenciantes, y se protegen por leyes,
    nacionales e internacionales, de derechos de autor, marcas y de propiedad intelectual.
  %p
    ChefSteps le concede una licencia limitada, exenta de regalías, no exclusiva, intransferible, no sublicenciable, para acceder y utilizar los Materiales que se encuentran disponibles a través de los Servicios para sus fines personales, no comerciales.
    Excepto como se permita expresamente por ley o por ChefSteps por escrito, no reproducirá, redistribuirá, venderá, creará obras derivadas o versiones posteriores, descompilará, descifrará o desensamblará nuestros Servicios (excepto en casos donde tenga
    el derecho a hacerlo conforme a la ley aplicable), ni tomará ninguna medida para interferir con o dañar nuestros Servicios.
  %p
    ChefSteps promueve el uso y distribución de ciertos Materiales en los Servicios, incluyendo nuestras recetas, listas de ingredientes, videos, fotografías y Contenido de Usuario (definido en la Sección 11). A menos que se indique de otra forma, tales Materiales
    se ponen a su disposición conforme a la versión más reciente de la licencia de “Creative Commons” Atribuión- NoComercial- Compartir Por Igual (BY-NC-SA, Atribution- NonComercial-ShareAlike). Tenga en cuenta que nuestros nombres de servicio, marcas,
    logotipos y lemas, que pueden aparecer en los Servicios, no se le licencian bajo la licencia de Creative Commons.
  %p
    A menos que se mencione explícitamente por nosotros, nada en estos Términos debe interpretarse que confiere algún derecho o licencia sobre alguna patente, marca, derechos de autor u otros derechos exclusivos de ChefSteps o cualquier tercero, ya sea por
    impedimento, implicación o de otra forma. Las licencias concedidas en el presente pueden revocarse en cualquier momento.
  %h3 6.	Política de Infractor Reincidente; Quejas de Derechos de Autor
  %p
    De conformidad con la ley Digital Millenium Copyright Act y otras leyes aplicables, hemos adoptado una política para limitar el acceso a los Servicios o rescindir las cuentas de los usuarios, en circunstancias apropiadas y a nuestra entera discreción,
    a quienes infrinjan los derechos de propiedad intelectual de otros. Si cree que algo en los Servicios infringe cualquier derecho de autor que usted posea o controle, puede presentar una notificación de tal infracción a nuestro agente designado, como
    se establece a continuación:
  %p
    Nombre del Agente Designado: Edward Starbird
    %br>/
    Dirección: 1501 Pike Place, #300, Seattle, WA 98101
    %br>/
    Teléfono: (206) 905-1099
    %br>/
    Correo electrónico:
    %a{:href => "mailto:dmca@chefsteps.com"} dmca@chefsteps.com
  %p
    Si es residente de los Estados Unidos, por favor vea
    %a{:href => "http://www.copyright.gov/title17/92chap5.html#512"} 17 U.S.C. § 512(c)(3)
    para los requerimientos de una notificación apropiada. Pare residentes fuera de los EE.UU., por favor lea más adelante
    para cualquier requerimiento específico de jurisdicción de una notificación apropiada.
  %p
    También debe notar que si realiza intencionalmente una declaración falsa sustancial en su notificación, de que el material o actividad está infringiendo, usted será responsable de cualquier daño, incluyendo, sin limitación, costos y cuotas de abogados,
    incurridos por nosotros o el supuesto infractor, como resultado de nuestra confianza en tal declaración falsa y remoción o des-habilitación del acceso al material o actividad reclamada que se infringirá.
  %h3 7.	Marcas
  %p
    "
    %strong> ChefSteps
    ", el logotipo de ChefSteps y cualquier otro nombre de servicio de ChefSteps, logotipos o lemas que puedan aparecer en los Servicios, pueden estar registrados como marcas de ChefSteps y de nuestros proveedores y de nuestros
    licenciantes, y no pueden copiarse, imitarse o utilizarse, en su totalidad o en parte, sin nuestra autorización previa por escrito, o autorización del titular de la marca que corresponda. No debe utilizar ninguna metaetiqueta u otro "
    %strong> texto oculto
    "
    utilizando "
    %strong> ChefSteps
    " o cualquier otro nombre, marca o nombre de producto o servicio de ChefSteps sin nuestra autorización previa por escrito. Además, la apariencia y sensación de los Servicios, incluyendo, sin limitación, todos los
    encabezados de página, gráficos personalizados, iconos de botón y guiones, constituyen la marca del servicio, imagen de la marca e imagen comercial de ChefSteps y no pueden copiarse, imitarse o utilizarse, en su totalidad o en parte, sin nuestra autorización
    previa por escrito. El resto de las marcas, marcas registradas, nombres de los productos y nombres de las compañías o logotipos mencionados en los Servicios son propiedad de sus propietarios respectivos y no pueden copiarse, imitarse o utilizarse, en
    su totalidad o en parte, sin el permiso del titular de la marca que corresponda. Referirse a cualquier producto, servicio, proceso u otra información por nombre, marca, fabricante, proveedor o de otra forma no constituye o implica aprobación, patrocinio
    o recomendación por parte ChefSteps.
  %p
    Si cree que algo en los Servicios infringe cualquier marca que usted posea o controle, puede presentar una notificación de tal infracción con nuestro agente designado, como se establece en la Sección 6. Una notificación apropiada debe contener los mismos
    elementos requeridos para quejas de derechos de autor.
  %h3 8.	Hipervínculos
  %p
    Se le concede un derecho limitado, no exclusivo, intransferible para crear un hipervínculo de texto a los Servicios, siempre que tal vínculo no represente a ChefSteps o cualquiera de nuestros Servicios de manera falsa, engañosa, despectiva o de cualquier
    forma difamatoria, y siempre que además el sitio vinculante no contenga ningún material para adultos o ilegal o ningún material que sea ofensivo, perjudicial o pueda ser objetable de cualquier otra forma. Este derecho limitado puede revocarse en cualquier
    momento. No puede utilizar un logotipo de ChefSteps u otro gráfico exclusivo de ChefSteps para vincular a los Servicios sin nuestro permiso expreso por escrito. Además, no puede utilizar, enmarcar o utilizar técnicas de enmarcado para incluir cualquier
    marca de ChefSteps, logotipo u otra información de su propiedad, incluyendo las imágenes que se encuentran en los Servicios, el contenido de cualquier texto, plano o diseño de cualquier página o formulario contenido en una página, en los Servicios,
    sin nuestro consentimiento expreso por escrito.
  %p
    En la mayor medida permitida por la ley aplicable, ChefSteps no hace ninguna demanda o declaración y no se hace responsable de la calidad, contenido, naturaleza o confiabilidad de sitios web de terceros a los que puede accederse por hipervínculos de los
    Servicios o de sitios web que vinculan a los Servicios. Tales sitios no están bajo nuestro control, y no nos hacemos responsables de los contenidos de ningún sitio vinculado, ningún vínculo contenido en un sitio vinculado, o ninguna revisión, cambio
    o actualización a tales sitios. Le proporcionamos estos vínculos sólo como conveniencia, y la inclusión de cualquier vínculo no implica nuestra afiliación, aprobación o adopción de ningún sitio o ninguna información contenida en el mismo. Cuando abandona
    los Servicios, debe estar consciente de que nuestros términos y políticas ya no rigen. Debe revisar los términos y políticas que apliquen, incluyendo las prácticas de privacidad y tratamiento de datos, de cualquier sitio al cual navegue desde los Servicios.
  %h3 9.	Contenido de Terceros; Software de Fuente Abierta; Interfaz a Productos y Servicios de Terceros
  %p
    Contenido de Terceros. Podemos mostrar contenido, publicidad y promociones de terceros a través de los Servicios (conjuntamente, "
    %strong> Contenido de Terceros
    "). En la mayor medida permitida por la ley que aplique, no controlamos, aprobamos
    o adoptamos ningún Contenido de Terceros, y no realizamos ninguna manifestación o garantía de ningún tipo con respecto a tal Contenido de Terceros, incluyendo, sin limitación, respecto a su precisión o integridad. Reconoce y acepta que sus interacciones
    con Terceros que proporcionan Contenido de Terceros son exclusivamente entre usted y tales terceros y que ChefSteps no es responsable ni obligado de ninguna manera por tales interacciones o Contenido de Terceros.
  %p
    Software de Fuente Abierta. Nuestros Servicios también pueden contener software de terceros que están sujetos a la Licencia Pública General de GNU ("
    %strong> GPL
    ") u otras licencias de fuente abierta ("
    %strong> Software de Fuente Abierta
    ”).
    El Software de Fuente Abierta se licencia conforme a los términos de la licencia que acompaña tal Software de Fuente Abierta, sujeta a términos y condiciones adicionales, disponibles en
    = succeed "." do
      %a{:href => "https://www.chefsteps.com/libraries"} https://www.chefsteps.com/libraries
  %p
    Conectándose a Productos y Servicios de Terceros. ChefSteps puede permitirle utilizar nuestros Productos y Servicios (tal como Joule) junto con productos y servicios de terceros, tal como Amazon Alexa (“
    %strong> Productos y Servicios de Terceros
    ”).
    Si decide conectar nuestros Productos y Servicios con Productos de Terceros, se requiere su consentimiento y autorización explícita, los cuales pueden revocarse en cualquier momento. Una vez que proporcione su consentimiento para conectar un Producto
    y Servicio de Terceros a nuestros Productos y Servicios, acepta que ChefSteps y el proveedor del Producto y Servicio de Terceros puedan intercambiar información para permitir la funcionalidad que autorizó. Una vez que ChefSteps comparta información
    con un proveedor de un Producto y Servicio de Terceros, el uso del tercero proveedor de tal información se regirá exclusivamente por su propia política de privacidad. Usted reconoce y acepta que ChefSteps no hace ninguna manifestación o garantía sobre
    la seguridad de ningún Producto o Servicio de Terceros, y ChefSteps no se hace responsable del uso de ningún Producto o Servicio de Terceros ni de ningún daño o pérdida que derive o se relacione con el uso de cualquier Producto o Servicio de Terceros.
    Debe ponerse en contacto con los terceros proveedores directamente en caso de cualquier duda sobre sus Productos y Servicios de Terceros.
  %h3 10.	Conducta del Usuario
  %p
    Usted acepta que no violará ninguna ley, contrato, propiedad intelectual u otro derecho de terceros, que no cometerá un ilícito, y que es el único responsable de su conducta mientras accede o utiliza los Productos y Servicios. Acepta que acatará estos
    Términos y que no:
  %p Se involucrará en ninguna conducta ofensiva, amenazante, intimidatoria, de rapiña o acoso;
  %p Utilizará o intentará utilizar otra cuenta de usuario sin autorización de tal usuario y ChefSteps;
  %p
    Utilizará los Productos o Servicios de cualquier manera que pudiera interferir, impedir, afectar negativamente o inhibir que otros usuarios disfruten por completo de los Productos y Servicios, o que pudiera dañar, deshabilitar, sobrecargar o perjudicar
    el funcionamiento de los Productos o Servicios de cualquier manera;
  %p Transformará ningún aspecto de los Productos o Servicios, incluyendo la corrección de errores, sin la autorización de ChefSteps;
  %p
    Aplicará ingeniería inversa a ningún aspecto de los Productos o Servicios o hará cualquier cosa que pueda descubrir el código fuente o utilizará medios para circunvenir o traspasar las medidas empleadas para evitar o limitar el acceso a cualquier Material
    o características o áreas de los Productos o Servicios, excepto como se permita expresamente conforme a la ley que aplique.
  %p Desarrollará ninguna aplicación de terceros que interactúe con el Contenido de Usuario o los Productos o Servicios sin nuestro consentimiento previo por escrito;
  %p
    Utilizará ningún robot, araña,
    = succeed "," do
      %em crawler
    = succeed "," do
      %em scraper
    = succeed "," do
      %em script
  %p
    Desviará o ignorará las instrucciones contenidas en los archivos de robots.txt a los que puede acceder en
    = succeed "," do
      %a{:href => "https://www.chefsteps.com/robots.txt"} https://www.chefsteps.com/robots.txt
  %p Utilizará los Productos o Servicios para ningún fin ilegal o no autorizado, o se involucrará, fomentará o promoverá alguna actividad que viole estos Términos.
  %h3 11.	Contenido de Usuario
  %p
    Los Servicios pueden incluir características y áreas interactivas que permiten que los usuarios creen, publiquen, compartan o almacenen contenido, incluyendo, pero sin limitarse a, contenido generado por usuarios, recetas, revisiones, fotografías, videos,
    música, sonido, texto, gráficos, códigos, artículos u otros materiales (conjuntamente, “
    %strong> Contenido de Usuario
    ”). En caso de que decida compartir su Contenido de Usuario con otros a través de los Servicios o plataformas de terceros, entiende
    que este Contenido de Usuario podrá ser visto por otros de conformidad con las configuraciones de privacidad que establezca en su cuenta.
  %p
    Acepta que es el único responsable de su Contenido de Usuario y del uso de cualquier característica y área interactiva de los Servicios. Al publicar, cargar o enviar de otra forma Contenido de Usuario, manifiesta y garantiza que (a) tal Contenido de Usuario
    no es confidencial; (b) posee todos los derechos de propiedad intelectual (o ha obtenido todos los permisos necesarios) para proporcionar tal contenido y para conceder las licencias establecidas en el presente; y (c) el Contenido de Usuario no violará
    o infringirá ningún derecho de propiedad intelectual u otro derecho exclusivo, incluyendo el derecho de publicidad o privacidad, de cualquier persona o entidad.
  %p Al utilizar las características y áreas interactivas de los Servicios, acepta además no crear, publicar, compartir o almacenar nada de lo siguiente:
  %p
    Contenido de Usuario que sea ilegal, escandaloso, difamatorio, obsceno, pornográfico, indecente, lascivo, sugerente, ofensivo, amenazante, invasivo de los derechos de privacidad y publicidad, abusivo, provocativo, fraudulento o que pueda objetarse de
    otra forma;
  %p Contenido de Usuario que pueda constituir, fomentar o proporcionar instrucciones para la comisión de un delito, violar los derechos de cualquier parte o crear de otra forma responsabilidad o violar cualquier ley local, estatal, nacional o internacional.
  %p Contenido de Usuario que contenga o muestre cualquier declaración, comentarios o quejas que no reflejen su punto de vista honesto y sus experiencias;
  %p Contenido de Usuario que personifique, o falsifique su afiliación con cualquier persona o entidad;
  %p Contenido de Usuario que haga referencia o muestre a ChefSteps o nuestros Productos y Servicios, pero sea omiso al describir una conexión sustancial con nosotros, si tuviese alguna (por ejemplo, si es un empleado de ChefSteps);
  %p Contenido de Usuario que contenga cualquier promoción no solicitada, campaña política, publicidad o solicitudes;
  %p Contenido de Usuario que contenga cualquier virus, datos corrompidos u otros archivos o contenido dañino, perjudicial o destructivo; o
  %p Contenido de Usuario que, a nuestro entero juicio, pueda objetarse o restrinja o inhiba que cualquier otra persona utilice o disfrute los Productos o Servicios, o que pueda exponer ChefSteps o a otros a cualquier daño o responsabilidad de cualquier tipo.
  %p
    No nos hacemos responsables de ningún Contenido de Usuario. Aunque no tenemos ninguna obligación de examinar, editar o monitorear el Contenido de Usuario, nos reservamos el derecho, y tenemos discreción absoluta, para remover, examinar o editar el Contenido
    de Usuario publicado o almacenado en los Servicios en cualquier momento y por cualquier razón, y usted es el único responsable de crear copias de respaldo y reemplazar cualquier Contenido de Usuario que haya publicado o almacenado en los Servicios cubriendo
    los costos y gastos.
  %h3 12.	Derechos en el Contenido de Usuario
  %p
    Excepto que se disponga de otra forma en estos Términos o en un acuerdo por separado, no reclamamos ninguna propiedad o control sobre su Contenido de Usuario. Sin embargo, al cargar, publicar o enviar de otra forma Contenido de Usuario, concede a ChefSteps
    un derecho no exclusivo, exento de regalías, mundial, perpetuo, irrevocable, transferible y completamente sublicenciable para utilizar, reproducir, modificar, adaptar, publicar, trasladar, crear obras derivadas, distribuir, realizar y mostrar tal Contenido
    de Usuario y su nombre, retrato, voz y persona en los Servicios, en sitios de terceros y aplicaciones móviles, y en el resto de los medios o formatos, ya sea conocidos ahora o desarrollados en lo sucesivo, para cualquier fin, incluyendo con fines comerciales
    de ChefSteps. Además, concede a todos los usuarios de nuestros Servicios el permiso para acceder y utilizar su Contenido de Usuario de conformidad con la versión más reciente de la licencia de “Creative Commons”
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"} Atribución-
    Nocomercial- CompartirPor Igual (BY-NC-SA).
  %h3 13.	Retroalimentación
  %p
    Por separado y aparte del Contenido de Usuario, puede enviar preguntas, comentarios, sugerencias, ideas, materiales originales o creativos u otra información sobre ChefSteps o nuestros Productos o Servicios (conjuntamente, “
    %strong> Retroalimentación
    ”).
    La retroalimentación no es confidencial y debe volverse propiedad exclusiva de ChefSteps. ChefSteps poseerá los derechos exclusivos, incluyendo, sin limitación, todos los derechos de propiedad intelectual, en y sobre tal Retroalimentación y tendrá derecho
    al uso sin restricción y distribución de esta Retroalimentación para cualquier fin, comercial o de otra forma, sin reconocerle o compensarle.
  %h3 14.	Indemnización.
  %p
    En la mayor medida en que lo permita la ley aplicable, está de acuerdo en indemnizar, defender y liberar de responsabilidad a ChefSteps y a nuestros pasados, presentes y futuros empleados, funcionarios, directores, contratistas, consultores, accionistas,
    suministradores, vendedores, proveedores de servicios, empresas matrices, subsidiarias, afiliados, agentes, representantes, predecesores, sucesores y cesionarios (junto con ChefSteps, las
    = succeed "\")," do
      %strong "Partes de ChefSteps
    = succeed "\")," do
      %strong Reclamaciones
  %p su acceso a o utilización o mal uso de nuestros Productos, Servicios y Materiales;
  %p cualquier Contenido de Usuario que cree, publique, comparta o almacene en o a través nuestros Servicios o nuestras páginas o alimente de plataformas de medios sociales de terceros;
  %p cualquier Retroalimentación que proporcione;
  %p la violación de estos Términos;
  %p la violación de los derechos de cualquier tercero; o
  %p el uso o mal uso de los Productos o Servicios por terceros a quienes autorice a utilizar los Productos o Servicios proporcionados a usted.
  %p La obligación de indemnización incluye pagar por cualquiera de las cuotas de abogados de las Partes de ChefSteps y otros costos de investigación y defensa de los Reclamos, y los costos por hacer cumplir la obligación de indemnización.
  %p
    Usted acepta notificar inmediatamente a ChefSteps cualquier Reclamo de terceros y cooperar con las Partes de ChefSteps para defender tales Reclamos. Usted está de acuerdo además con que las Partes de ChefSteps deben tener control en la defensa o acuerdo/arreglo
    de cualquier Reclamación de terceros. Esta indemnización es adicional y no en lugar de cualquier otra indemnización establecida en un acuerdo escrito entre usted y ChefSteps.
  %h3 15.	Cláusula de Exención de Responsabilidad
  %p
    PUEDE QUE PROPORCIONEMOS ADVERTENCIAS E INSTRUCCIONES DE SALUD Y SEGURIDAD IMPORTANTES QUE DEBA LEER ANTES DE UTILIZAR CIERTOS PRODUCTOS DE CHEFSTEPS Y/O PARTICIPAR EN CIERTAS ACTIVIDADES O SERVICIOS. PUEDE QUE ACTUALICEMOS O REVISEMOS ESTAS ADVERTENCIAS
    E INSTRUCCIONES, ASÍ QUE POR FAVOR REVÍSELAS PERIÓDICAMENTE.
  %p
    EN LA MEDIDA MÁXIMA PERMITIDA POR LA LEY APLICABLE, LOS SERVICIOS Y MATERIALES DE CHEFSTEPS SE PROPORCIONAN “COMO SE ENCUENTRAN”, “COMO SE ENCUENTREN DISPONIBLES” SIN GARANTÍAS DE NINGÚN TIPO, YA SEA EXPRESAS O IMPLÍCITAS Y EXPRESAMENTE RENUNCIAMOS A
    TODAS LAS DEMÁS GARANTÍAS, QUE INCLUYEN, SIN LIMITACIÓN, GARANTÍAS IMPLÍCITAS DE COMERCIABILIDAD, APTITUD PARA UN PROPÓSITO PARTICULAR, TÍTULO Y NO INFRACCIÓN. NO DECLARAMOS O GARANTIZAMOS QUE LOS SITIOS WEB DE CHEFSTEPS, APLICACIONES MÓVILES Y MATERIALES
    SEAN EXACTOS, COMPLETOS, CONFIABLES, ACTUALES O LIBRES DE ERRORES. ADEMÁS, NUESTROS SITIOS WEB, APLICACIONES MÓVILES Y MATERIAL SON (A) ÚNICAMENTE PARA PROPÓSITOS DE INFORMACIÓN, (B) PROPORCIONADAS COMO CONSEJO GENERAL Y (C) NO PRETENDEN SUSTITUIR CONSEJO
    MÉDICO O DE NUTRICIÓN PROFESIONAL. AUNQUE INTENTAMOS HACER SU ACCESO Y USO DE LOS SITIOS WEB DE CHEFSTEPS, APLICACIONES MÓVILES Y MATERIALES, SEGURO, NO PODEMOS Y NO GARANTIZAMOS NI DECLARAMOS QUE ESTOS O NUESTROS SERVIDORES SE ENCUENTREN LIBRES DE
    VIRUS O DE OTROS COMPONENTES DAÑINOS; POR LO TANTO, DEBERÁ UTILIZAR SOFTWARE RECONOCIDO POR LA INDUSTRIA PARA DETECTAR Y DESINFECTAR VIRUS DE CUALQUIER DESCARGA.
  %p
    ÚNICAMENTE USTED ES RESPONSABLE DE LA LIMPIEZA, MANEJO, PREPARACIÓN, ALMACENAMIENTO, COCCIÓN, USO Y CONSUMO DE ALIMENTOS ADECUADO. LAS INSTRUCCIONES Y DIRECCIONES DE COCCIÓN PROPORCIONADAS POR CHEFSTEPS SE OFRECEN ÚNICAMENTE COMO GUÍAS. UTILICE SU CRITERIO
    Y DISCRECIÓN PROPIA CUANDO PREPARE O CONSUMA CUALQUIER ALIMENTO. CONSUMIR CARNES, AVES DE CORRAL, ALIMENTOS DEL MAR, MARISCOS O HUEVOS CRUDOS O POCO COCIDOS PUEDE INCREMENTAR SU RIESGO DE ENFERMEDAD TRANSMITIDA POR ALIMENTOS, Y TAL CONSUMO SE DEBE REALIZAR
    A SU PROPIA DISCRECIÓN. EXPRESAMENTE RENUNCIAMOS A LA RESPONSABILIDAD POR CUALQUIER EFECTO ADVERSO QUE PUEDA RESULTAR DE SU USO O APLICACIÓN DE INFORMACIÓN PROPORCIONADA A TRAVÉS DE LOS SERVICIOS.
  %p
    CHEFSTEPS NO PROPORCIONA GARANTÍA EN PRODUCTOS QUE SE FABRIQUEN POR OTRAS ENTIDADES, INCLUSO SI SE COMPRARON A TRAVÉS DE NUESTROS SERVICIOS. LOS PRODUCTOS FABRICADOS POR OTRAS ENTIDADES PERO VENDIDOS A TRAVÉS DE NUESTROS SERVICIOS SE VENDEN POR CHEFSTEPS
    “COMO SE ENCUENTRAN” Y “CON TODOS LOS DEFECTOS”. CHEFSTEPS RENUNCIA A TODAS LAS GARANTÍAS IMPLÍCITAS PARA TALES PRODUCTOS, QUE INCLUYEN LA GARANTÍA IMPLÍCITA DE COMERCIABILIDAD, APTITUD PARA UN PROPÓSITO PARTICULAR, TÍTULO Y NO INFRACCIÓN. CHEFSTEPS
    NO GARANTIZA NINGUNA CALIDAD O CARACTERÍSTICA DE LOS PRODUCTOS QUE NO FABRIQUEMOS. A MENOS QUE EL FABRICANTE PROPORCIONE UNA GARANTÍA, USTED COMO EL COMPRADOR LLEVA TODO EL RIESGO EN CUANTO A LA CALIDAD Y RENDIMIENTO DE TALES PRODUCTOS, Y USTED, NO
    CHEFSTEPS, ASUME TODO EL COSTO DE CUALQUIER REEMPLAZO O REPARACIÓN NECESARIOS.
  %p LOS FABRICANTES DE PRODUCTOS VENDIDOS POR CHEFSTEPS PUEDEN PROPORCIONAR SUS PROPIAS GARANTÍAS Y ACUERDA QUE SU REMEDIO POR CUALQUIER DEFECTO EN TALES PRODUCTOS SE BASARÁ ÚNICAMENTE EN LAS GARANTÍAS, DE EXISTIR, PROPORCIONADAS POR LOS FABRICANTES.
  %h3 16.	Limitación de Responsabilidad, Liberación
  %p
    EN LA MEDIDA MÁXIMA PERMITIDA CONFORME A LA LEY APLICABLE: (A) EN NINGÚN CASO CHEFSTEPS O CUALQUIER OTRA PARTE DE CHEFSTEPS ES RESPONSABLE DE CUALQUIER DAÑO INDIRECTO, ESPECIAL, INCIDENTAL, CONSECUENTE DE CUALQUIER TIPO (QUE INCLUYE PERO NO SE LIMITA
    A, PÉRDIDA DE INGRESOS TOTALES, INGRESOS O GANANCIAS, PÉRDIDA DE USO O DATOS, PÉRDIDA O DIMINUCIÓN DE VALORES DE ACTIVOS O VALORES, O DAÑOS POR INTERRUPCIÓN DE NEGOCIOS) QUE SURJA DE O EN CUALQUIER FORMA SE RELACIONE CON EL ACCESO A O USO DE LOS SERVICIOS
    O MATERIALES, O SE RELACIONE DE OTRA FORMA CON ESTOS TÉRMINOS (QUE INCLUYE, PERO NO SE LIMITA A, CUALQUIER DAÑO PROVOCADO O QUE RESULTE DE LA CONFIANZA POR CUALQUIER USUARIO EN CUALQUIER INFORMACIÓN OBTENIDA DE CHEFSTEPS, O DE FALTAS, OMISIONES, INTERRUPCIONES,
    SUPRESIONES DE ARCHIVOS O CORREOS ELECTRÓNICOS, ERRORES, DEFECTOS, ERRORES LÓGICOS, VIRUS, CABALLOS DE TROYA, RETRASOS EN LA OPERACIÓN O TRANSMISIÓN O CUALQUIER FALLA DE RENDIMIENTO, RESULTANDO O NO DE CASOS FORTUITOS, FALLA DE COMUNICACIÓN, ROBO, DESTRUCCIÓN
    O ACCESO NO AUTORIZADO A LOS REGISTROS, PROGRAMAS O SISTEMAS DE CHEFSTEPS), INDEPENDIENTEMENTE DE LA FORMA DE ACCIÓN, YA SEA CON BASE EN CONTRATO, AGRAVIO (QUE INCLUYE, PERO NO SE LIMITA A, NEGLIGENCIA SIMPLE, YA SEA ACTIVA, PASIVA O IMPUTADA), RESPONSABILIDAD
    DEL PRODUCTO O CUALQUIER OTRA TEORÍA LEGAL O EQUITATIVA (INCLUSO SI LA PARTE HA SIDO ADVERTIDA DE LA POSIBILIDAD DE TALES DAÑOS E INDEPENDIENTEMENTE DE SI TALES DAÑOS FUERON PREVISIBLES); Y (B) EN NINGÚN CASO LA RESPONSABILIDAD AGREGADA DE CHEFSTEPS
    Y LAS PARTES DE CHEFSTEPS (CONJUNTAMENTE), YA SEA EN CONTRATO, GARANTÍA, RESPONSABILIDAD CIVIL (QUE INCLUYE NEGLIGENCIA, YA SEA ACTIVA, PASIVA O IMPUTADA), RESPONSABILIDAD DEL PRODUCTO, RESPONSABILIDAD ESTRICTA U OTRA TEORÍA, QUE SURJA DE O SE RELACIONE
    AL USO DE O INCAPACIDAD DE UTILIZAR LOS SERVICIOS, INCLUYENDO MATERIALES Y FUNCIONES CONTENIDOS EN LOS MISMOS, EXCEDE CUALQUIER COMPENSACIÓN PAGADA A NOSOTROS PARA SU ACCESO A O UTILIZACIÓN DE LOS PRODUCTOS O SERVICIOS.
  %p
    EN LA MEDIDA MÁXIMA PERMITIDA POR LA LEY APLICABLE, USTED, EN NOMBRE DE SUS HEREDEROS, ALBACEAS, ADMINISTRADORES, REPRESENTANTES LEGALES Y PERSONALES, MEDIANTE LA PRESENTE, LIBERAN, RENUNCIAN, Y EXIMEN A LAS PARTES DE CHEFSTEPS DE Y CONTRA TODOS Y CADA
    UNO DE LOS RECLAMOS QUE SURJAN DE O SE RELACIONEN CON ESTOS TÉRMINOS. SI ES RESIDENTE DE CALIFORNIA, MEDIANTE LA PRESENTE, RENUNCIA A LA SECCIÓN DE CÓDIGO CIVIL DE CALIFORNIA 1542 EN RELACIÓN CON LO ANTERIOR, QUE ESTABLECE: “UNA LIBERACIÓN GENERAL NO
    SE EXTIENDE A LOS RECLAMOS QUE EL ACREEDOR NO CONOCE O SOSPECHA QUE EXISTEN A SU FAVOR AL MOMENTO DE EJECUTAR LA LIBERACIÓN, QUE DE CONOCERSE POR EL/ELLA DEBE HABRÍA AFECTADO SUSTANCIALMENTE SU ACUERDO CON EL DEUDOR”. POR LA PRESENTE RENUNCIA A CUALQUIER
    DISPOSICIÓN SIMILAR EN CUALQUIER OTRA JURISDICCIÓN.
  %p
    LAS LIMITACIONES ESTABLECIDAS EN ESTA SECCIÓN 16 NO LIMITARÁN O EXCLUIRÁN LA RESPONSABILIDAD POR MUERTE O LESIONES PERSONALES O DAÑO A LA PROPIEDAD PROVOCADOS POR LOS PRODUCTOS O SERVICIOS QUE COMPRÓ DE NOSOTROS, O POR NUESTRO COMPORTAMIENTO FRAUDULENTO,
    DE NEGLIGENCIA GRAVE, DELIBERADO O INTENCIONAL, MALICIOSO O IMPRUDENTE.
  %h3 17.	Modificación a los Servicios
  %p
    Nos reservamos el derecho, a nuestra entera discreción, de cambiar cualquiera y todo el Material y DE modificar, suspender o detener la provisión o acceso a los Servicios (o cualquier característica o funcionalidad de los Servicios) en cualquier momento,
    sin aviso y sin obligación o responsabilidad ante usted. Tampoco tiene derecho a utilizar todo o parte de los Servicios, o terminar este acuerdo en cualquier momento.
  %h3 18.	Resolución de Disputa, Arbitraje.
  %p POR FAVOR LEA LA SIGUIENTE SECCIÓN CUIDADOSAMENTE DADO QUE REQUIERE QUE USTED REALICE ARBITRAJE DE CIERTAS DISPUTAS Y RECLAMOS CON CHEFSTEPS Y LIMITA LA MANERA EN LA CUAL USTED PUEDA BUSCAR COMPENSACIÓN POR NUESTRA PARTE.
  %h4 18.1.	Arbitraje Obligatorio
  %p
    Salvo por cualquier disputa, reclamo, pleito, acción, causa de acción, demanda o procedimiento (conjuntamente, "
    %strong> Disputas
    ") que surjan o se relacionen con una violación de la Sección 10, o las Disputas en las cuales cualquiera de las partes
    busque llevar una acción individual en el tribunal de reclamos menores o busque medidas precautorias o cautelares, o alguna compensación equitativa por uso ilegal de propiedad intelectual, que incluye, sin limitación, derechos de autor, marcas registradas,
    nombres comerciales, logos, secretos comerciales o patentes, usted y ChefSteps acuerdan (a) que usted y ChefSteps renuncian a sus derechos respectivos de tener todas y cada una de las Disputas que surjan o se relacionen con estos Términos, o los Servicios,
    Materiales o Productos, resueltos en un tribunal, y (b) que usted y ChefSteps renuncian a sus derechos respectivos a un juicio con jurado. En su lugar, usted y ChefSteps acuerdan arbitrar las Disputas a través de arbitraje vinculante (que es la remisión
    de una Disputa a una o más personas encargadas de revisar la Disputa, en lugar de que la Disputa la dirima un juez o jurado en el tribunal).
  %h4 18.2.	No Arbitraje en Clase, Acciones de Clase, o Acciones por Representante
  %p
    Usted y ChefSteps acuerdan que cualquier Disputa que surja o se relacione con estos Términos, los Servicios, Productos o Materiales es personal para usted y ChefSteps, y que tal Disputa se resolverá únicamente a través de arbitraje individual y no se
    llevará como un arbitraje de clase o conjunto, acción de clase, o cualquier otro tipo de procedimiento de representación. Usted y ChefSteps acuerdan que no existirá arbitraje de clase o arbitraje en el cual un individuo intente resolver una Disputa
    como un representante de otro individuo o grupo de individuos. Además, usted y ChefSteps acuerdan que una Disputa no puede llevarse como una clase u otro tipo de acción con representante, ya sea dentro o fuera del arbitraje, o en nombre de cualquier
    otro individuo o grupo de individuos.
  %h4 18.3.	Ley Federal de Arbitraje
  %p
    Usted y ChefSteps acuerdan que estos Términos afectan el comercio interestatal y que la aplicabilidad de esta Sección 18 tanto se debe regir como interpretar, sustancial y procesalmente, de acuerdo con la Ley Federal de Arbitraje, 9 U.S.C. § 1 et seq.
    (la "
    %strong> FAA
    "), hasta la medida máxima permitida por la ley aplicable.
  %h4 18.4.	Notificación, Solución Informal de Disputas
  %p
    Usted y ChefSteps acuerdan que cada parte notificará a la otra parte por escrito de cualquier disputa arbitrable o de reclamos menores dentro de no más de treinta (30) días contados a partir de la fecha en que ésta surja, de modo que las partes puedan
    intentar resolver la Disputa de buena fe, de manera informal. La notificación para ChefSteps debe enviarse de manera electrónica a
    = succeed "." do
      %a{:href => "mailto:disputes@chefsteps.com"} disputes@chefsteps.com
  %h4 18.5.	Proceso
  %p
    Salvo por las Disputas que surjan o se relacionen con una violación a la Sección 10 o las Disputas en las cuales cualquier parte busque ejercitar una acción individual en el tribunal de reclamos menores o busque medidas precautorias o cautelares o compensación
    equitativa por el supuesto uso ilegal de la propiedad intelectual, que incluye, sin limitación, derechos de autor, marcas registradas, nombres comerciales, logos, secretos comerciales o patentes, usted y ChefSteps acuerdan que (a) cualquier arbitraje
    se producirá en el Condado de King, Washington, (b) el arbitraje se realizará de manera confidencial por un solo árbitro de acuerdo con las reglas del Arbitraje Judicial y Servicios de Mediación ("
    %strong> JAMS
    "), que se incorporan en la presente
    por referencia, y (c) que los tribunales estatales o federales del estado de Washington y de los Estados Unidos, respectivamente, con asiento en el Condado de King, Washington, tengan jurisdicción exclusiva sobre cualquier apelación y el cumplimiento
    de un laudo arbitral. También podrá litigar una Disputa en el tribunal de reclamos menores en el condado de su dirección de facturación si la Disputa cumple con los requerimientos que se atienden en el tribunal de reclamos menores.
  %h4 18.6.	Autoridad del Árbitro
  %p
    Como se limita por la FAA, estos Términos, y las reglas de JAMS aplicables, el árbitro tendrá (a) la autoridad y jurisdicción exclusivas para realizar todas las decisiones de procedimiento y sustantivas con respecto a una Disputa, incluyendo la determinación
    de si una disputa es arbitrable, y (b) la autoridad de conceder cualquier remedio que de otro modo pudiera estar disponible en los tribunales, siempre que, no obstante, el árbitro no tiene la autoridad de realizar un arbitraje de clase o una acción
    por representante, las cuales se prohíben por estos Términos. El árbitro sólo puede dirigir un arbitraje individual y puede no consolidar más de uno de los reclamos del individuo ni presidir cualquier tipo de procedimiento de clase o por representante,
    ni presidir cualquier procedimiento que involucre más de un individuo.
  %h4 18.7.	Reglas de JAMS
  %p
    Las reglas de JAMS e información adicional acerca de JAMS se encuentran disponibles en el sitio web de JAMS. Al acordar estar limitado por estos Términos, usted ya sea (a) reconoce y acuerda que ha leído y entendido las reglas de JAMS, o (b) renuncia
    a la oportunidad de leer las reglas de JAMS y cualquier reclamo de que las reglas de JAMS son injustas o que no deben aplicarse por cualquier razón.
  %h4 18.8.	Divisibilidad
  %p
    Si cualquier término, cláusula o disposición de esta Sección 18 se considera inválida o no ejecutable, será inválida en la medida mínima requerida por la ley, y todos los demás términos, cláusulas o disposiciones de esta Sección 18 permanecerán válidos
    y ejecutables. Además, las exenciones establecidas en la subsección 18.2 son independientes de las otras disposiciones de estos Términos, y permanecerán válidas y ejecutables, excepto cuando la ley aplicable lo prohíba.
  %h3 19.	Ley Aplicable y Lugar de Proceso
  %p
    Estos Términos y su acceso y uso de los Productos y Servicios debe regirse, interpretarse y ejecutarse, de acuerdo con las leyes del Estado de Washington, sin consideración a las reglas de conflicto de leyes o principios (ya sea del Estado de Washington
    o cualquier otra jurisdicción) que pudieran provocar la aplicación de las leyes de cualquier otra jurisdicción. Cualquier Disputa entre las partes que no se someta a arbitraje o que no pueda atenderse en el tribunal de reclamos menores, deberá resolverse
    en los tribunales estatales o federales del Estado de Washington y de los Estados Unidos, respectivamente, con asiento en el Condado de King, Washington.
  %h3 20.	Término
  %p
    No obstante cualquier contenido en estos Términos, en la medida máxima permitida por la ley aplicable, nos reservamos el derecho, sin notificación y a nuestra única discreción, de terminar su derecho de acceso o uso de los Servicios, y bloquear o evitar
    su acceso y uso futuro de los Servicios. Si transfiere un Producto que vincula con nuestros Servicios, tal como el Joule, a un nuevo propietario, su derecho a utilizar los Servicios con respecto a ese Producto termina automáticamente, y el nuevo dueño
    no tendrá derecho a utilizar los Servicios bajo su cuenta y necesitará registrar una cuenta separada con ChefSteps.
  %h3 21.	Divisibilidad
  %p
    Si cualquier término, cláusula o disposición de estos Términos se considera inválida o no ejecutable, entonces ese término, cláusula o disposición se separará de estos Términos y no afectará la validez o aplicabilidad de cualquier parte restante de ese
    término, cláusula o disposición, o de cualquier otro término, cláusula o disposición de estos Términos.
  %h3 22.	Subsistencia
  %p
    Las siguientes secciones subsistirán la expiración o terminación de estos Términos y la terminación de su cuenta de ChefSteps: todos los términos definidos y las Secciones 1, 2, 3, 4, 5 (sólo el primer párrafo), 6, 7, 8 (sólo el segundo párrafo), 9 al
    23.
  %h3 23.	Divulgaciones de California
  %p
    Si es un residente de California, puede reportar quejas a la unidad de Asistencia al Consumidor de la División de Información del Consumidor del Departamento de California de Asuntos del Consumidor, al contactarlos por escrito a 1625 North Market Blvd.,
    Suite N 112, Sacramento, CA 95834, o por teléfono al (800) 952‑5210.
  %h3 24.	Preguntas
  %p
    Si tiene cualquier pregunta al respecto de estos Términos o nuestros Productos o Servicios , por favor contáctenos a través de
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
