// Start ASAI //

.knife#asai
  .knife-content
    %h3.media-heading Asai
    High in the Japanese Alps, in the small town of Takefu in the Fukui Prefecture, fifth-generation blacksmith Masami Asai forges some of the most distinctive handmade kitchen knives in the world. His knives are both elegant and functional, made with the highest grade carbon steel alloy for perfect edge retention, and finished with graceful details like mocha-colored Makassar ebony and rich Pakkawood ferrules. Together with four other bladesmiths in the region, Asai opened a knifemaking school in Takefu in 1993, where he and others teach the artistry and tradition of handmade knifemaking to the next generation. Asai is a living legend among Japanese knifemakers, well-known by chefs worldwide for his delicate handiwork.


.container
  .row.section
    .span12.section
      .annotation-slider-container
        .annotation-slider
          .annotation-close-overlay
          .annotation-buttons
            %a.annotation-slider-btn#asai-1(data-annotation-slider-reveal='left')
              +
            %a.annotation-slider-btn#asai-2(data-annotation-slider-reveal='right')
              +
          .annotation-slider-note.note-left
            %a.annotation-close-btn
              %span.icon-remove
            %h3 Asai Chef's Knife
            .annotation-slider-note-gallery
              .annotation-slider-note-gallery-thumbnails
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/SUsrjsPbRyOzjSJwtFl3', thumbnail_width: '124'
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/huVmTeBRsGbvPFij4bVQ', thumbnail_width: '124'
                .annotation-click-image
                  %small click images to enlarge
            = render 'knife_collection_social', title: 'Asai Chef Knife', image: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/SUsrjsPbRyOzjSJwtFl3'
            %p.section Modeled after the French chef’s blade but with all the grace and beauty of a Japanese handmade knife, this Gyuto is exceptionally versatile as a general chef’s knife. The core is made of the finest Japanese carbon steel for unparalleled edge holding, and the blade’s distal tapering provides optimal balance and weight. A Makassar ebony handle and Pakkawood ferrules further classify this knife as a work of art. [8-1/4 inches, 193 grams]
            .btn.btn-primary.btn-large.btn-block
              = link_to("Buy Now for $290", " http://www.epicedge.com/shopaff.asp?affid=1&id=89910")
          .annotation-slider-image
            = image_tag ('https://d3awvtnmmsvyot.cloudfront.net/api/file/5PSozfGPRJiTkQpha6rI?cache=true')
          .annotation-slider-note.note-right
            %a.annotation-close-btn
              %span.icon-remove
            %h3 Asai Petty Knife
            = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/nmsJg1TpSmiClRMvNqvb', thumbnail_width: '258'
            .annotation-click-image
              %small click image to enlarge
            = render 'knife_collection_social', title: 'Asai Petty Knife', image: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/nmsJg1TpSmiClRMvNqvb'
            %p.section This high-performance detail knife is made with the finest Japanese carbon steel for exceptional edge holding. The blade's hand-hammered surface helps release food from the knife when cutting. The octagonal ambidextrous handle is made of rich Makassar ebony with Pakkawood ferrules.  [5-1/3 inches, 82 g] 
            .btn.btn-primary.btn-large.btn-block
              = link_to("Buy Now for $155", "http://www.epicedge.com/shopaff.asp?affid=1&id=89913")

// End ASAI //

// Start OHISHI //

.knife.section#ohishi
  .knife-content
    %h3.media-heading Ohishi Hammer 
    Ohishi produces some of the finest-quality factory knives in the world, with stylized, ultra-thin blades that surpass most German and American handmade knives in both performance and beauty. At Ohishi, a small team of twenty-or-so blacksmiths and artisans design and forge knives with a characteristically thin blade geometry for clean cutting, and western-style riveted handles. The company, named after a small village at the foot of Mt Fuji where lavender grows rampant, set out to introduce high-performance knives at affordable prices, and they’ve done just that.

.container
  .row.section
    .span12.section
      .annotation-slider-container
        .annotation-slider
          .annotation-close-overlay
          .annotation-buttons
            %a.annotation-slider-btn#ohishi-1(data-annotation-slider-reveal='left')
              +
            %a.annotation-slider-btn#ohishi-2(data-annotation-slider-reveal='right')
              +
          .annotation-slider-note.note-left
            %a.annotation-close-btn
              %span.icon-remove
            %h3 Ohishi Chef's Knife
            .annotation-slider-note-gallery
              .annotation-slider-note-gallery-thumbnails
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/JuAyLXdSMSLoIyuVAqA4', thumbnail_width: '258'
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/LNrdE7aRRLSaKt8gKtNM', thumbnail_width: '124'
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/THxjO9E1TEqCyWaeytT7', thumbnail_width: '124'
                .annotation-click-image
                  %small click images to enlarge
            = render 'knife_collection_social', title: 'Ohishi Chef Knife', image: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/JuAyLXdSMSLoIyuVAqA4'
            %p.section With its thin blade geometry, solid pakkawood handle, and hammer finish, this knife is both beautiful and versatile. The blade has a VG10 super-steel core surrounded by 15 layers of stainless damascus for exceptional edge holding. The elegant tsuchime finish (meaning “hammered” in Japanese) forces food to fall away from the blade for enhanced efficiency. [9-1/2 inches, 184 grams]
            .btn.btn-primary.btn-large.btn-block
              = link_to("Buy Now for $129", "http://www.epicedge.com/shopaff.asp?affid=1&id=89157")

          .annotation-slider-image
            = image_tag ('https://d3awvtnmmsvyot.cloudfront.net/api/file/v5IsZcj3TFa3KmA6w0pB?cache=true')
          .annotation-slider-note.note-right
            %a.annotation-close-btn
              %span.icon-remove
            %h3 Ohishi Petty Knife
            .annotation-slider-note-gallery
              .annotation-slider-note-gallery-thumbnails
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/4VfViqxwSIO1O2kxWt5G', thumbnail_width: '124'
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/naTWQB6ySXOVZR1V4plT', thumbnail_width: '124'
                .annotation-click-image
                  %small click images to enlarge
            = render 'knife_collection_social', title: 'Ohishi Petty Knife', image: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/4VfViqxwSIO1O2kxWt5G'
            %p.section Perfect as a general purpose kitchen knife, this long, slender petty blade has a VG10 super-steel core for clean cutting, and a balanced pakkawood handle that’s durable and moisture-resistant. The elegant tsuchime finish (meaning “hammered” in Japanese) forces food to fall away from the blade for enhanced efficiency. [5-1/2 inches, 91 grams]
            .btn.btn-primary.btn-large.btn-block
              = link_to("Buy Now for $84", "http://www.epicedge.com/shopaff.asp?affid=1&id=89149")

// End Ohishi //

// Start Yoshikane //

.knife.section#yoshikane
  .knife-content
    %h3.media-heading Yoshikane 
    %p 
      Widely regarded as one of the most influential living knifemakers in Japan, Mr. Tsuneo Yoshida handcrafts each Yoshikane knife with unmatched precision and artistry from his shop in Sanjo City, in the Niigata Prefecture of Japan. 
    %p
      Here, nestled in a valley along the northwestern coast of the Japanese Alps region, bladesmithing is a long-standing tradition dating back to the Edo period, when Japanese artisans manufactured the very first western-style pointed knives in Japan. Now, Sanjo City is home to some of the highest-quality handmade knifemaking in the world, and Mr. Tsuneo Yoshida continues and elevates that tradition in earnest. 
    %p
      Yoshida forged his first knife at the age of 18, after learning from his grandfather, and has now passed it along to his two nephews, who will take over the business when Yoshida retires. The tight-knit Yoshida family rises early each morning, and meticulously hand-makes each and every Yoshikane knife using rare, hard-to-source materials like blonde buffalo horn, mammoth ivory, and enju wood. Every Yoshikane knife is a work of art, but their beauty is certainly matched in performance—these blades are considered among the highest-caliber available, with exceptional edge-holding and comfortable feel.


.container
  .row.section
    .span12.section
      .annotation-slider-container
        .annotation-slider
          .annotation-close-overlay
          .annotation-buttons
            %a.annotation-slider-btn#yoshikane-1(data-annotation-slider-reveal='left')
              +
            %a.annotation-slider-btn#yoshikane-2(data-annotation-slider-reveal='right')
              +
          .annotation-slider-note.note-left
            %a.annotation-close-btn
              %span.icon-remove
            %h3 Yoshikane Chef's Knife
            .annotation-slider-note-gallery
              .annotation-slider-note-gallery-thumbnails
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/byaPReR5RPauvhY1Ze0t', thumbnail_width: '258'
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/aMonSF5TCeKddFWFi2z6', thumbnail_width: '124'
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/bU8eukytRrmpN16RiOKi', thumbnail_width: '124'
                .annotation-click-image
                  %small click images to enlarge
            = render 'knife_collection_social', title: 'Yoshikane Chef Knife', image: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/byaPReR5RPauvhY1Ze0t'
            %p.section This elegant all-purpose chef’s knife features a long, slim blade perfect for sawing meat and vegetables, with a subtly uneven surface that prevents food from sticking. It features extremely rare blond buffalo horn ferrules, an ambidextrous enju wood handle, and a slim two-tone blade for a perfectly balanced, exceptionally handsome knife. [8-1/4 inches, 79 grams]
            .btn.btn-primary.btn-large.btn-block
              = link_to("Buy Now for $464", "http://www.epicedge.com/shopaff.asp?affid=1&id=91007")
          .annotation-slider-image
            = image_tag ('https://d3awvtnmmsvyot.cloudfront.net/api/file/MeXcSoEzSTCg05jeRkhn?cache=true')
          .annotation-slider-note.note-right
            %a.annotation-close-btn
              %span.icon-remove
            %h3 Yoshikane Petty Knife
            .annotation-slider-note-gallery
              .annotation-slider-note-gallery-thumbnails
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/zxxRDkwzTDqesXVpJrle', thumbnail_width: '124'
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/bU8eukytRrmpN16RiOKi', thumbnail_width: '124'
                .annotation-click-image
                  %small click images to enlarge
            = render 'knife_collection_social', title: 'Yoshikane Petty Knife', image: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/zxxRDkwzTDqesXVpJrle'
            %p.section Best for detail slicing—think tomatoes and garlic—this utility knife by Yoshikane has a smooth, slender blade comprised of SLD stainless steel (core) and stainless steel damascus (surface) that slides easily through food. The blade’s suminagashi pattern (meaning "floating ink" in Japanese) together with its light enju wood handle (the same wood used for making Shinto shrines) makes it a perfect balance of artistry and performance. [4-3/4 inches, 79 grams]
            .btn.btn-primary.btn-large.btn-block
              = link_to("Buy Now for $349", "http://www.epicedge.com/shopaff.asp?affid=1&id=89959")

// End Yoshikane //

// Start Sharpening Stones //

.knife.section#sharpening-stones
  .knife-content
    %h3.media-heading Sharpening Stones Kit 
    :markdown 
      A collection of high-quality knives requires a collection of high-quality waterstones to match. These professional-grade stones, designed specifically to sharpen high-quality steel, will keep your knives in superb condition for years to come. (Lower grade stones are often fragmented in their particle composition, making sharpening difficult and inconsistent.) Fix a broken tip, repair a damaged edge, polish your blade, or hone to razor sharp: This kit has everything you need to care for your finest knives. And [here’s how](/courses/knife-sharpening).

.container
  .row.section
    .span12.section
      .annotation-slider-container
        .annotation-slider
          .annotation-close-overlay
          .annotation-buttons
            %a.annotation-slider-btn#sharpening(data-annotation-slider-reveal='left')
              +
          .annotation-slider-note.note-left
            %a.annotation-close-btn
              %span.icon-remove
            %h3 Sharpening Stone Kit
            .annotation-slider-note-gallery
              .annotation-slider-note-gallery-thumbnails
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/xZBHFGfRByCEXftfgE2Q', thumbnail_width: '124'
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/1hfmZ0YOQsC3DGZkCwXb', thumbnail_width: '124'
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/Uf9mCymiRjqGtRw7y8id', thumbnail_width: '124'
                .annotation-slider-note-gallery-thumbnail
                  = render '/shared/open_lightbox', image_url: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/73gcpvPeSTCeCMGHMeDr', thumbnail_width: '124'
                .annotation-click-image
                  %small click images to enlarge
            = render 'knife_collection_social', title: 'Sharpening Stone Kit', image: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/t3l7VdjR1qjMMWTNufwJ'
            %p.section
              Includes the following stones. For more details, see the shop page.

              %ul
                %li= link_to '#220 Grit Ceramic Waterstone', 'http://www.epicedge.com/shopaff.asp?affid=1&id=80081'
                %li= link_to '#1000 Grit Waterstone', 'http://www.epicedge.com/shopaff.asp?affid=1&id=87550'
                %li= link_to '#3000/#8000 Grit Waterstone', 'http://www.epicedge.com/shopaff.asp?affid=1&id=88046'
                %li= link_to 'Nagura Stone', 'http://www.epicedge.com/shopaff.asp?affid=1&id=80011'
                %li= link_to 'Stone Holder', 'http://www.epicedge.com/shopaff.asp?affid=1&id=80010'
            .btn.btn-primary.btn-large.btn-block
              = link_to("Buy Now for $154", "http://www.epicedge.com/shopaff.asp?affid=1&id=91905")

          .annotation-slider-image
            = image_tag ('https://d3awvtnmmsvyot.cloudfront.net/api/file/t3l7VdjR1qjMMWTNufwJ?cache=true')

// End Sharpening Stones //

// Start Honing Rod //

.container#honing-rod
  .row.section
    .span12.section
      .annotation-slider-container
        .annotation-slider
          .annotation-close-overlay
          .annotation-buttons
            %a.annotation-slider-btn#honing(data-annotation-slider-reveal='right')
              +
          .annotation-slider-image
            = image_tag ('https://d3awvtnmmsvyot.cloudfront.net/api/file/hmePwJWDRpqFOpXzWQTV?cache=true')
          .annotation-slider-note.note-right
            %a.annotation-close-btn
              %span.icon-remove
            %h3 Honing Rod
            = render 'knife_collection_social', title: 'Honing Rod', image: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/hmePwJWDRpqFOpXzWQTV'
            %p Ceramic honing rods keep your knife in excellent condition between sharpening. A high-quality ceramic rod removes minimal material, maintaining a razor sharp edge without reshaping or scratching the blade. (12")
            .btn.btn-primary.btn-large.btn-block
              = link_to("Buy Now for $29", "http://www.epicedge.com/shopaff.asp?affid=1&id=80228")


// End Honing Rod //
