- content_for :title, "Knife Collection"
- content_for :description, "An exceptional knife should be the cornerstone of a cook's arsenal. It becomes an extension of your own hands; the tool with which you will create art and bring refinement to the table. A beautiful, high-quality knife will follow you to every kitchen and last a lifetime if properly cared for. Handcrafted Japanese knives in particular bring elegance and sophistication to any dish—a perfectly sliced piece of salmon; a delicate chiffonade; a meticulous dice—all expertly executed with slender, high-performance Japanese blades. Our readers have asked what knives we use when we cook, and this curated collection of hand-forged artisan knives, each completely unique and in finite supply, is our answer. In other words: Only the best."

.container
  .row.section#knife-intro
    .span5
      = image_tag ('https://d3awvtnmmsvyot.cloudfront.net/api/file/Ya5vpVc1RzysqAPC5ZIJ/convert?fit=712cache=true')
    .span7
      %h1 ChefSteps Knife Collection
      = render 'knife_collection_social', title: 'Chefsteps Knife Collection', image: 'https://d3awvtnmmsvyot.cloudfront.net/api/file/Ya5vpVc1RzysqAPC5ZIJ', likeable_object: @knife_page
      %p.section-small An exceptional knife should be the cornerstone of a cook's arsenal. It becomes an extension of your own hands; the tool with which you will create art and bring refinement to the table. A beautiful, high-quality knife will follow you to every kitchen and last a lifetime if properly cared for. Handcrafted Japanese knives in particular bring elegance and sophistication to any dish—a perfectly sliced piece of salmon; a delicate chiffonade; a meticulous dice—all expertly executed with slender, high-performance Japanese blades. Our readers have asked what knives we use when we cook, and this curated collection of hand-forged artisan knives, each completely unique and in finite supply, is our answer. In other words: Only the best.

- ab_test 'knife_collection', 'knife_a', 'knife_b' do |knife_split|
  - if knife_split == 'knife_a'
    = render 'knife_collection_split_a'
  - else
    = render 'knife_collection_split_b'

.section

= render 'layouts/footer'

// Lightbox //

.cs-lightbox
  .cs-lightbox-overlay
  .cs-lightbox-image
    %img
  .cs-lightbox-close
    %i.icon-remove

:javascript
  mixpanel.track('Viewed Knife Collection', {'url' : window.location.pathname});


