.container
  .row.section
    .span3.offset1
      = image_tag ('http://placehold.it/250x200')
    .span8
      %h1 ChefSteps Knife Collection
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


#creative-kit.modal.hide.fade
  .modal-header
    %h3 The Creative Kit
  .modal-body
    = image_tag 'https://www.filepicker.io/api/file/cFWqOq07TTyCzGPhs6Kn'
    %ul.section{style: "-webkit-column-count: 2"}
      %li
  .modal-footer.section
    %a(class="btn btn-secondary" data-dismiss="modal" aria-hidden="true") Close


#enthusiast-kit.modal.hide.fade
  .modal-header
    %h3 The Enthusiast Kit
  .modal-body
    = image_tag 'https://www.filepicker.io/api/file/kBzOoRGkRsmpKSZPg9fg'
    %ul.section{style: "-webkit-column-count: 2"}
      %li    
  .modal-footer.section
    %a(class="btn btn-secondary" data-dismiss="modal" aria-hidden="true") Close


#professional-kit.modal.hide.fade
  .modal-header
    %h3 The Professional Kit
  .modal-body
    = image_tag 'https://www.filepicker.io/api/file/LQAZxKYkToixUF6wQ7aA'
    %ul.section{style: "-webkit-column-count: 2"}
      %li
  .modal-footer.section
    %a(class="btn btn-secondary" data-dismiss="modal" aria-hidden="true") Close

%hr

.container
  .row.section
    .span8.offset2.media
      .pull-left
        = image_tag 'http://placehold.it/100x100', :class => "media-object"
      .media-body
        %h4.media-heading Pellentesque Consectetur
        Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.


.container-fluid
  .container
    .row.section
      .span12.section
        = image_tag ('https://www.filepicker.io/api/file/qzxRQ0rPS2j4tFZKutmg')

%hr.section


.container
  .row.section
    .span8.offset2.media
      .pull-left
        = image_tag 'http://placehold.it/100x100', :class => "media-object"
      .media-body
        %h4.media-heading Pellentesque Consectetur
        Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

.container-fluid
  .container
    .row.section
      .span12.section
        = image_tag ('https://www.filepicker.io/api/file/XPuEItyPTOaL2iO5r79j')

%hr.section


.container
  .row.section
    .span8.offset2.media
      .pull-left
        = image_tag 'http://placehold.it/100x100', :class => "media-object"
      .media-body
        %h4.media-heading Pellentesque Consectetur
        Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

.container-fluid
  .container
    .row.section
      .span12.section
        = image_tag ('https://www.filepicker.io/api/file/MfWzTk4YRGm7SOQf2iUT')

%hr.section

.container-fluid
  .row-fluid
    .container
      .row.section

= render 'layouts/footer'
