- content_for :title, "Knife Collection"
- content_for :description, "An exceptional knife should be the cornerstone of a cook's arsenal. It becomes an extension of your own hands; the tool with which you will create art and bring refinement to the table. A beautiful, high-quality knife will follow you to every kitchen and last a lifetime if properly cared for. Handcrafted Japanese knives in particular bring elegance and sophistication to any dish—a perfectly sliced piece of salmon; a delicate chiffonade; a meticulous dice—all expertly executed with slender, high-performance Japanese blades. Our readers have asked what knives we use when we cook, and this curated collection of hand-forged artisan knives, each completely unique and in finite supply, is our answer. In other words: Only the best."

.container
  .row.section#knife-intro
    .span5
      = image_tag ('https://www.filepicker.io/api/file/Ya5vpVc1RzysqAPC5ZIJ/convert?fit=max&w=550')
    .span7
      %h1 ChefSteps Knife Collection
      %p An exceptional knife should be the cornerstone of a cook's arsenal. It becomes an extension of your own hands; the tool with which you will create art and bring refinement to the table. A beautiful, high-quality knife will follow you to every kitchen and last a lifetime if properly cared for. Handcrafted Japanese knives in particular bring elegance and sophistication to any dish—a perfectly sliced piece of salmon; a delicate chiffonade; a meticulous dice—all expertly executed with slender, high-performance Japanese blades. Our readers have asked what knives we use when we cook, and this curated collection of hand-forged artisan knives, each completely unique and in finite supply, is our answer. In other words: Only the best.

// Start ASAI //

.knife.first
  .row.section
    .span10.offset1
      %h3.media-heading Asai
      High in the Japanese Alps, in the small town of Takefu in the Fukui Prefecture, fifth-generation blacksmith Masami Asai forges some of the most distinctive handmade kitchen knives in the world. His knives are both elegant and functional, made with the highest grade carbon steel alloy for perfect edge retention, and finished with graceful details like mocha-colored Makassar ebony and rich Pakkawood ferrules. Together with four other bladesmiths in the region, Asai opened a knifemaking school in Takefu in 1993, where he and others teach the artistry and tradition of handmade knifemaking to the next generation. Asai is a living legend among Japanese knifemakers, well-known by chefs worldwide for his delicate handiwork.


.container
  .row.section
    .span12.section
      .annotation-slider-container
        .annotation-slider
          .annotation-close-overlay
          .annotation-buttons
            %a.annotation-slider-btn#asai-1(data-annotation-slider-reveal='left')
              +
            %a.annotation-slider-btn#asai-2(data-annotation-slider-reveal='right')
              +
          .annotation-slider-note.note-left
            %a.annotation-close-btn
              %i.icon-remove
            %h3 Asai Chef's Knife
            .annotation-slider-note-gallery
              .annotation-slider-note-gallery-images
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/xgPYrtt9ROuDw4Qxany3/convert?fit=max&w=550'
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/RlVj5HwlRJgi431Kcqsw/convert?fit=max&w=550'
              .annotation-slider-note-gallery-thumbnails
                .annotation-slider-note-gallery-thumbnail
                  .open-lightbox(data-url="https://d3awvtnmmsvyot.cloudfront.net/api/file/xgPYrtt9ROuDw4Qxany3")
                    = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/xgPYrtt9ROuDw4Qxany3/convert?fit=max&w=75'
                .annotation-slider-note-gallery-thumbnail
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/RlVj5HwlRJgi431Kcqsw/convert?fit=max&w=75'
            %p.section Modeled after the French chef’s blade but with all the grace and beauty of a Japanese handmade knife, this Gyuto is exceptionally versatile as a general chef’s knife. The core is made of the finest Japanese carbon steel for unparalleled edge holding, and the blade’s distal tapering provides optimal balance and weight. A Makassar ebony handle and Pakkawood ferrules further classify this knife as a work of art.
            = buy_now(350234061,325)
          .annotation-slider-image
            = image_tag ('https://d3awvtnmmsvyot.cloudfront.net/api/file/qzxRQ0rPS2j4tFZKutmg')
          .annotation-slider-note.note-right
            %a.annotation-close-btn
              %i.icon-remove
            %h3 Asai Petty Knife
            = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/uAG5HZMRxCmnSpb5a7mA', :class => "main-image"
            %p.section This high performance detail knife is made with the finest Japanese carbon steel for exceptional edge holding. A brushed stainless steel blade seems understated at first look (at least for Asai, whose knives usually feature highly stylized blades), but there’s intrigue here: after a few weeks of use, the carbon steel core gives way to a remarkable blue patina that need not be removed.
            = buy_now(350067813,169)

// End ASAI //

// Start OHISHI //

.knife.section
  .row.section
    .span10.offset1
      %h3.media-heading Ohishi Hammer
      Ohishi produces some of the finest-quality factory knives in the world, with stylized, ultra-thin blades that surpass most German and American handmade knives in both performance and beauty. At Ohishi, a small team of twenty-or-so blacksmiths and artisans design and forge knives with a characteristically thin blade geometry for clean cutting, and western-style riveted handles. The company, named after a small village at the foot of Mt Fuji where lavender grows rampant, set out to introduce high-performance knives at affordable prices, and they’ve done just that.

.container
  .row.section
    .span12.section
      .annotation-slider-container
        .annotation-slider
          .annotation-close-overlay
          .annotation-buttons
            %a.annotation-slider-btn#ohishi-1(data-annotation-slider-reveal='left')
              +
            %a.annotation-slider-btn#ohishi-2(data-annotation-slider-reveal='right')
              +
          .annotation-slider-note.note-left
            %a.annotation-close-btn
              %i.icon-remove
            %h3 Ohishi Chef's Knife
            .annotation-slider-note-gallery
              .annotation-slider-note-gallery-images
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/JuAyLXdSMSLoIyuVAqA4'
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/LNrdE7aRRLSaKt8gKtNM'
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/THxjO9E1TEqCyWaeytT7'
              .annotation-slider-note-gallery-thumbnails
                .annotation-slider-note-gallery-thumbnail
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/JuAyLXdSMSLoIyuVAqA4/convert?fit=max&w=75'
                .annotation-slider-note-gallery-thumbnail
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/LNrdE7aRRLSaKt8gKtNM/convert?fit=max&w=75'
                .annotation-slider-note-gallery-thumbnail
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/THxjO9E1TEqCyWaeytT7/convert?fit=max&w=75'
            %p.section With its thin blade geometry, solid pakkawood handle, and hammer finish, this knife is both beautiful and versatile. The blade has a VG10 super-steel core surrounded by 15 layers of stainless damascus for exceptional edge holding. The elegant tsuchime finish (meaning “hammered” in Japanese) forces food to fall away from the blade for enhanced efficiency.
            = buy_now(345914261,129)
          .annotation-slider-image
            = image_tag ('https://d3awvtnmmsvyot.cloudfront.net/api/file/XPuEItyPTOaL2iO5r79j')
          .annotation-slider-note.note-right
            %a.annotation-close-btn
              %i.icon-remove
            %h3 Ohishi Petty Knife
            .annotation-slider-note-gallery
              .annotation-slider-note-gallery-images
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/4VfViqxwSIO1O2kxWt5G'
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/naTWQB6ySXOVZR1V4plT'
              .annotation-slider-note-gallery-thumbnails
                .annotation-slider-note-gallery-thumbnail
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/4VfViqxwSIO1O2kxWt5G/convert?fit=max&w=75'
                .annotation-slider-note-gallery-thumbnail
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/naTWQB6ySXOVZR1V4plT/convert?fit=max&w=75'
            %p.section Perfect as a general purpose kitchen knife, this long, slender Petty blade has a VG10 super-steel core for clean cutting, and a balanced pakkawood handle that’s durable and moisture-resistant. The elegant tsuchime finish (meaning “hammered” in Japanese) forces food to fall away from the blade for enhanced efficiency.
            = buy_now(345912499,84)

// End Ohishi //

// Start Yoshikane //

.knife.section
  .row.section
    .span10.offset1
      %h3.media-heading Yoshikane 
      %p 
        Widely regarded as one of the most influential living knifemakers in Japan, Mr. Tsuneo Yoshida handcrafts each Yoshikane knife with unmatched precision and artistry from his shop in Sanjo City, in the Niigata Prefecture of Japan. 
      %p
        Here, nestled in a valley along the northwestern coast of the Japanese Alps region, bladesmithing is a long-standing tradition dating back to the Edo period, when Japanese artisans manufactured the very first western-style pointed knives in Japan. Now, Sanjo City is home to some of the highest-quality handmade knifemaking in the world, and Mr. Tsuneo Yoshida continues and elevates that tradition in earnest. 
      %p
        Yoshida forged his first knife at the age of 18, after learning from his grandfather, and has now passed it along to his two nephews, who will take over the business when Yoshida retires. The tight-knit Yoshida family rises early each morning, and meticulously hand-makes each and every Yoshikane knife using rare, hard-to-source materials like blonde buffalo horn, mammoth ivory, and enju wood. Every Yoshikane knife is a work of art, but their beauty is certainly matched in performance—these blades are considered among the highest-caliber available, with exceptional edge-holding and comfortable feel.


.container
  .row.section
    .span12.section
      .annotation-slider-container
        .annotation-slider
          .annotation-close-overlay
          .annotation-buttons
            %a.annotation-slider-btn#yoshikane-1(data-annotation-slider-reveal='left')
              +
            %a.annotation-slider-btn#yoshikane-2(data-annotation-slider-reveal='right')
              +
          .annotation-slider-note.note-left
            %a.annotation-close-btn
              %i.icon-remove
            %h3 Yoshikane Chef's Knife
            .annotation-slider-note-gallery
              .annotation-slider-note-gallery-images
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/byaPReR5RPauvhY1Ze0t/convert?fit=max&h=161'
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/aMonSF5TCeKddFWFi2z6'
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/bU8eukytRrmpN16RiOKi'
              .annotation-slider-note-gallery-thumbnails
                .annotation-slider-note-gallery-thumbnail
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/byaPReR5RPauvhY1Ze0t/convert?fit=max&w=75'
                .annotation-slider-note-gallery-thumbnail
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/aMonSF5TCeKddFWFi2z6/convert?fit=max&w=75'
                .annotation-slider-note-gallery-thumbnail
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/bU8eukytRrmpN16RiOKi/convert?fit=max&w=75'
            %p.section This elegant all-purpose chef’s knife features a long, slim blade perfect for sawing meat and vegetables, with a subtly uneven surface that prevents food from sticking. It features extremely rare blond buffalo horn ferrules, an ambidextrous enju wood handle, and a slim two-tone blade for a perfectly balanced, exceptionally handsome knife.
            = buy_now(345920775,464)
          .annotation-slider-image
            = image_tag ('https://d3awvtnmmsvyot.cloudfront.net/api/file/MeXcSoEzSTCg05jeRkhn')
          .annotation-slider-note.note-right
            %a.annotation-close-btn
              %i.icon-remove
            %h3 Yoshikane Petty Knife
            .annotation-slider-note-gallery
              .annotation-slider-note-gallery-images
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/zxxRDkwzTDqesXVpJrle/convert?fit=max&h=161'
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/bU8eukytRrmpN16RiOKi'
              .annotation-slider-note-gallery-thumbnails
                .annotation-slider-note-gallery-thumbnail
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/zxxRDkwzTDqesXVpJrle/convert?fit=max&w=75'
                .annotation-slider-note-gallery-thumbnail
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/bU8eukytRrmpN16RiOKi/convert?fit=max&w=75'
            %p.section Best for detail slicing—think tomatoes and garlic—this utility knife by Yoshikane has a smooth, slender blade comprised of SLD stainless steel (core) and stainless steel damascus (surface) that slides easily through food. The blade’s suminagashi pattern (meaning "floating ink" in Japanese) together with its light enju wood handle (the same wood used for making Shinto shrines) makes it a perfect balance of artistry and performance.
            = buy_now(345920201,339)

// End Yoshikane //

// Start Sharpening Stones //

.knife.section
  .row.section
    .span10.offset1
      %h3.media-heading Sharpening Stones Kit 
      :markdown 
        A collection of high-quality knives requires a collection of high-quality waterstones to match. These professional-grade stones, designed specifically to sharpen high-quality steel, will keep your knives in superb condition for years to come. (Lower grade stones are often fragmented in their particle composition, making sharpening difficult and inconsistent.) Fix a broken tip, repair a damaged edge, polish your blade, or hone to razor sharp: This kit has everything you need to care for your finest knives. And [here’s how](http://www.chefsteps.com/activities/how-to-sharpen-a-knife).

.container
  .row.section
    .span12.section
      .annotation-slider-container
        .annotation-slider
          .annotation-close-overlay
          .annotation-buttons
            %a.annotation-slider-btn#sharpening(data-annotation-slider-reveal='left')
              +
          .annotation-slider-note.note-left
            %a.annotation-close-btn
              %i.icon-remove
            %h3 Sharpening Stone Kit
            .annotation-slider-note-gallery
              .annotation-slider-note-gallery-images
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/xZBHFGfRByCEXftfgE2Q/convert?fit=max&w=500'
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/1hfmZ0YOQsC3DGZkCwXb/convert?fit=max&w=500'
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/Uf9mCymiRjqGtRw7y8id/convert?fit=max&w=500'
                .annotation-slider-note-gallery-image
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/73gcpvPeSTCeCMGHMeDr/convert?fit=max&w=500'
              .annotation-slider-note-gallery-thumbnails
                .annotation-slider-note-gallery-thumbnail
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/xZBHFGfRByCEXftfgE2Q/convert?fit=max&w=100'
                .annotation-slider-note-gallery-thumbnail
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/1hfmZ0YOQsC3DGZkCwXb/convert?fit=max&w=100'
                .annotation-slider-note-gallery-thumbnail
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/Uf9mCymiRjqGtRw7y8id/convert?fit=max&w=100'
                .annotation-slider-note-gallery-thumbnail
                  = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/73gcpvPeSTCeCMGHMeDr/convert?fit=max&w=100'
            %p.section
              Includes the following stones. For more details, see the shop page.

              %h5 #220 Grit Ceramic Waterstone
              %p This fast-cutting abrasive waterstone is perfect for creating initial edge geometry and quickly removing material to fix chips and other damage.

              %h5 #1000 Grit Waterstone
              %p The Ohishi #1000 grit waterstone has a broad surface for refining longer knives. Its fast-cutting clay surface is best as a starting point for sharpening knives that are already in relatively good condition.

              %h5 #3000/#8000 Grit Waterstone
              %p This two-sided waterstone has a broad surface for refining longer knives. The #3000 grit side can be used to remove scratches or hone an aggressive edge, while the superfine #8000 grit side is perfect for creating a razor-sharp edge and polishing.

              %h5 Nagura Stones
              %p Nagura stones are extremely fine chalk stones that may be used to polish knives or clean the surfaces of your waterstones. They will improve the cutting effect of any stones with #3000 grit or greater.

              %h5 Stone Holder
              %p This stone holder has rubber feet for stability and rubber ends that will grip your waterstones without damaging them. The chrome-plated metal rods are rust resistant.

              %h5 Honing Rod
              %p Ceramic honing rods keep your knife in excellent condition between sharpening. A high-quality ceramic rod removes minimal material, maintaining a razor sharp edge without reshaping or scratching the blade.

            = buy_now(350238365,154)
          .annotation-slider-image
            = image_tag ('https://d3awvtnmmsvyot.cloudfront.net/api/file/t3l7VdjR1qjMMWTNufwJ')

// End Sharpening Stones //

// Start Honing Rod //

.container
  .row.section
    .span12.section
      .annotation-slider-container
        .annotation-slider
          .annotation-close-overlay
          .annotation-buttons
            %a.annotation-slider-btn#honing(data-annotation-slider-reveal='right')
              +
          .annotation-slider-image
            = image_tag ('https://d3awvtnmmsvyot.cloudfront.net/api/file/hmePwJWDRpqFOpXzWQTV')
          .annotation-slider-note.note-right
            %a.annotation-close-btn
              %i.icon-remove
            %h3 Honing Rod
            %p Ceramic honing rods keep your knife in excellent condition between sharpening. A high-quality ceramic rod removes minimal material, maintaining a razor sharp edge without reshaping or scratching the blade.
            = buy_now(345926695,29)

// End Honing Rod //
.section

= render 'layouts/footer'

// Lightbox //

.cs-lightbox
  .cs-lightbox-overlay
  .cs-lightbox-image




