- content_for :title, "Sous Vide Resources"
- content_for :description, "Sous vide is a modernist technique that slowly cooks packaged foods to a particular temperature in a heated water bath. It prevents overcooking, preserves flavor, and yields inimitable texture. Many people believe that sous vide cooking is inherently expensive, and requires lots of gadgets. But often you can cook sous vide with nothing more than an inexpensive digital thermometer. Other times, dedicated sous vide equipment is the only practical way to do the job. Either way, having proper sous vide cooking equipment is invaluable if you frequently cook sous vide, and if you’ve never tried it, we highly recommend you do. It’s a simple technique that’s revolutionizing kitchens worldwide, and for good reason: it works."

.row-fluid
  = image_tag ('http://placehold.it/1400x300')
.section
.row-fluid.white-space
  .span8.offset2
    .center
      %h2.text-center
.container
  .row-fluid
    .span4.fixed
      .text-center.section
        = image_tag 'http://placehold.it/150x150', class: 'img-circle', alt: ''
      %h2.text-center The Egg Calculator
      %p.text-center Find your perfect egg's time and temperature
    .span4.fixed
      .text-center.section
        = image_tag 'http://placehold.it/150x150', class: 'img-circle', alt: ''
      %h2.text-center Sous Vide Time and Temperature Chart
      %p.text-center
        Hand reference for your major proteins
    .span4.fixed
      .text-center.section
        = image_tag 'http://placehold.it/150x150', class: 'img-circle', alt: ''
      %h2.text-center The Map of Sous Vide
      %p.text-center
        An overview of how to travel in sous vide land

  .row-fluid
    .span6.offset3
      .whitespace
        .component-item.list.list-a
          %a.component-item-content
            .item-content-image
              = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
            .item-content-text
              .item-title
                "Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."


  .row-fluid.whitespace
    .span12
      .text-center
        %h1.section Classes
      .row.section
        .span4
          = image_tag ('http://placehold.it/400x300')
        .span8
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .row
        .span4
          = image_tag ('http://placehold.it/400x300')
        .span8
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


  .row-fluid
    .span12
      .text-center
        %h1.section Featured Sous Vide Recipes
    .row
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')
    .row
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')
    .row
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')
    .row
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')
      .span3
        .media-box
          = image_tag ('http://placehold.it/250x250')

  .row-fluid.whitespace
    .span12
      .text-center
        %h1.section FAQ
    .row
      .span6
        .component-item.list.list-a
          %a.component-item-content
            .item-content-image
              = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
            .item-content-text
              .item-content
                "Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."

      .span6
        .component-item.list.list-a
          %a.component-item-content
            .item-content-image
              = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
            .item-content-text
              .item-content
                "Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."
    .row
      .span6
        .component-item.list.list-a
          %a.component-item-content
            .item-content-image
              = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
            .item-content-text
              .item-content
                "Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."

      .span6
        .component-item.list.list-a
          %a.component-item-content
            .item-content-image
              = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
            .item-content-text
              .item-content
                "Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."
    .row
      .span6
        .component-item.list.list-a
          %a.component-item-content
            .item-content-image
              = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
            .item-content-text
              .item-content
                "Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."

      .span6
        .component-item.list.list-a
          %a.component-item-content
            .item-content-image
              = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
            .item-content-text
              .item-content
                "Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."
    .row
      .span6
        .component-item.list.list-a
          %a.component-item-content
            .item-content-image
              = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
            .item-content-text
              .item-content
                "Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."

      .span6
        .component-item.list.list-a
          %a.component-item-content
            .item-content-image
              = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
            .item-content-text
              .item-content
                "Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."
    .row
      .span6
        .component-item.list.list-a
          %a.component-item-content
            .item-content-image
              = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
            .item-content-text
              .item-content
                "Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."

      .span6
        .component-item.list.list-a
          %a.component-item-content
            .item-content-image
              = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
            .item-content-text
              .item-content
                "Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."
    .row
      .span6
        .component-item.list.list-a
          %a.component-item-content
            .item-content-image
              = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
            .item-content-text
              .item-content
                "Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."

      .span6
        .component-item.list.list-a
          %a.component-item-content
            .item-content-image
              = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
            .item-content-text
              .item-content
                "Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et."                



=render 'layouts/footer'
