.user-profile-bio
  .row
    - if is_current_user?(user)
      = link_to edit_registration_path(user), class: "edit-account uppercase-link" do
        Edit Account Settings
        %span.icon-double-chevron-right
    .span1
      = image_tag user_presenter.profile_image_url()
    .span3
      - if is_current_user?(user)
        .uppercase-link.edit-profile
          %span.icon-edit.icon-large
          %span Edit
      %h3{ data: {'attribute-invisible' => 'profile-name', attribute: 'profile-name' }, class: ('invisible' unless user.name.present?)}
        = user.name
      .chef-type{ data: {"attribute-invisible" => "profile-chef_type"}, class: ('invisible' unless user.chef_type.present?) }
        %span{ data: {attribute: 'profile-chef_type'}}= user.chef_type.titleize
      %ul.unstyled
        %li{ data: {"attribute-invisible" => "profile-location"}, class: ('invisible' unless user.location.present?) }
          %span.icon-map-marker.icon-large
          %span{ data: {attribute: 'profile-location'}}= user.location
        %li{ data: {"attribute-invisible" => "profile-website"}, class: ('invisible' unless user.website.present?) }
          %span.icon-globe.icon-large
          %a{href: user.website, data: { attribute: 'profile-website'}, target: '_blank'}= user.website
        %li
          %span.icon-calendar.icon-large
          %span= "Joined on #{user.created_at.strftime("%m/%d/%y")}"

  -# .row{ data: {"attribute-invisible" => "profile-quote"}, class: ('invisible' unless user.quote.present?)}
  -#   .span4.horizontal-divider

  -# .row
  -#   .span4{ data: {"attribute-invisible" => "profile-quote"}, class: ('invisible' unless user.quote.present?)}
  -#     %p.user-bio-quote{ data: {attribute: 'profile-quote'} }= user.quote

  .row
    .span4.horizontal-divider

- if is_current_user?(user)
  = render 'profile_bio_form', user: user

