.edit-user-profile
  .row
    .span4
      -if ! user.chef_type?
        :markdown
          #{encourage_profile.copy.to_s}

  .row
    .span1
      = link_to user_presenter.profile_edit_url, target: '_blank', class: 'change-pic' do
        = image_tag user_presenter.profile_image_url(), class: 'pull-left'
        .change-pic-label
          Change pic

    .span3
      %label{ for: 'name'} What is your name?
      %input#name{type: 'text', name: 'name', value: user.name }
      %ul.unstyled
        %li
          %label.location{ for: 'location'} What is your current hometown?
          %input#location{type: 'text', name: 'location', value: user.location, data: { behavior: 'autocomplete' } }
        %li
          %label.website{ for: 'website'} What is your personal website/blog?
          %input#website{type: 'text', name: 'website', value: user.website }
        %li.chef-types
          %label Please tell us about your level of culinary experience.
          - User::CHEF_TYPES.each do |chef_type|
            = radio_button_tag 'chef_type', chef_type, user.chef_type == chef_type
            %label{ for: "chef_type_#{chef_type}" } #{chef_type.titleize}
  .row
    .span4.horizontal-divider

  .row
    .span4
      -# %label{ for: 'quote'} Have anything to say?
      -# %textarea#quote{name: 'quote'}= user.quote
      .pull-right
        %span.edit-profile-cancel.uppercase-link Cancel
        %span.vertical-divider
          |
        %span.save-profile.uppercase-link.brick Save

