.row.user-profile-bio
  - if is_current_user?(user)
    = link_to edit_registration_path(user), class: "edit-account uppercase-link" do
      Edit Account Settings
      %i.icon-double-chevron-right
  .span1
    = image_tag 'chris-large.jpg', class: 'pull-left'
  .span3
    %h3{ data: {attribute: 'profile-name' }}= user.name
    %ul.unstyled
      %li
        %i.icon-map-marker.icon-large
        %span{ data: {attribute: 'profile-location'}}= user.location
      %li
        %i.icon-globe.icon-large
        = link_to "delvekitchen.com","http://delvekitchen.com", data: { attribute: 'profile-website'}
      %li
        %i.icon-calendar.icon-large
        %span= "Joined on #{user.created_at.strftime("%m/%d/%y")}"
.row
  .span4.horizontal-divider
.row
  .span4
    %p.user-bio-quote{ data: {attribute: 'profile-quote'} }
      ollit banh mi yr gluten-free flexitarian ennui. Wayfarers do
      single-origin coffee raw denim. Biodiesel portland nihil, craft
      beer stumptown next level seitan eiusmod officia trust fund
.row
  .span4.horizontal-divider

