.row.user-profile-bio
  .span1
    = image_tag 'chris-large.jpg', class: 'pull-left'
  .span3
    %h3= user.name
    %ul.unstyled
      %li
        %i.icon-map-marker.icon-large
        = "San Francisco, CA"
      %li
        %i.icon-globe.icon-large
        = link_to "delvekitchen.com","http://delvekitchen.com"
      %li
        %i.icon-calendar.icon-large
        = "Joined on #{user.created_at.strftime("%m/%d/%y")}"
.row
  .span4.horizontal-divider
.row
  .span4
    %p.user-bio-quote
      ollit banh mi yr gluten-free flexitarian ennui. Wayfarers do
      single-origin coffee raw denim. Biodiesel portland nihil, craft
      beer stumptown next level seitan eiusmod officia trust fund
.row
  .span4.horizontal-divider

