.container
  .row
    .span12
      %h2 Edit Profile
      = form_for @user, url: user_profile_path(@user), method: :put do |f|
        %div
          = f.label :name
          = f.text_field :name
        %div
          = f.label :email
          = f.text_field :email
        %div
          = f.label :website
          = f.text_field :website
        %div
          = f.submit 'Save Changes', class: 'btn btn-primary'
          = link_to 'Cancel', user_profile_path(@user), class: 'btn btn-primary'