.container-fluid.profile-cover{style: "background-image: url('#{s3_image_url(Setting.footer_image)}')"}
  .row-fluid
    .container
      .row
        .span12
          %h1= @user.name

.container.profile-edit
  .row
    .span12.flat-form
      %h2 Edit Profile
      = form_for @user, url: user_profile_path(@user), method: :put do |f|
        .row
          .span12
            .upload-wrapper.profile-edit-image
              = image_tag '/assets/missing.png', class: "upload-photo-preview"
              = link_to '+', '#', class: 'profile-photo-btn'
              %p= f.hidden_field :image_id, class: 'input-block-level upload-photo-field'
        .row
          .span6
            %div.section
              = f.label :name
              = f.text_field :name, class: 'input-block-level'
            %div
              = f.label :email
              = f.text_field :email, class: 'input-block-level'
            %div
              = f.label :website
              = f.text_field :website, class: 'input-block-level'
            %div
              = f.label :bio
              = f.text_area :bio, class: 'input-block-level'
            %div
              = f.submit 'Save Changes', class: 'btn btn-primary'
              = link_to 'Cancel', user_profile_path(@user), class: 'btn btn-primary'

= render 'layouts/filepicker'