- content_for :title, "Profile - #{@user.name}"
.hide
  / Automatically logs in user into forum
  %iframe{src:'http://forum.chefsteps.com/entry/jsconnect?client_id=1924714588&Target=%2F'}

.container-fluid.profile-cover{style: "background-image: url('#{s3_image_url(Setting.footer_image)}')"}
  .row-fluid
    .container
      .row
        .span2
          .profile-image
            = image_tag filepicker_circle_image(@user.image_id), class: 'img-circle'
        .span10
          %h1= @user.name

.container
  .row
    .span2
      .well.profile-badges
        %h4 Badges
      - if current_user == @user
        = link_to 'Edit Profile', edit_user_profile_path, class: 'btn btn-primary btn-block'
        = link_to 'Sign out', sign_out_path, class: 'btn btn-primary btn-block'
    .span5.nav-tabs-gray
      %h4 Bio
      %p= @user.bio
      %ul.nav.nav-tabs
        %li.active
          = link_to 'Courses', '#courses', data: {toggle: 'tab'}
        %li
          = link_to 'Uploads', '#uploads', data: {toggle: 'tab'}
      .tab-content
        .tab-pane.active#courses
          - @user.courses.each do |course|
            - course_text = capture do
              %h4
                Lesson
                = @user.viewed_activities_in_course(course).count
                of
                = course.viewable_activities.count
              = where_user_left_off_in_course(course, @user, 'btn btn-primary')
            = render 'shared/media_list_item', image: course.featured_image, title: course.title, text: course_text
        .tab-pane#uploads
          - @user.uploads.each do |upload|
            - upload_title = capture do
              = link_to upload.recipe_name, user_upload_path(@user, upload)
            = render 'shared/media_list_item', image: upload.image_id, title: upload_title, text: upload.notes

    .span5
      %h4 Timeline
      .timeline
        .text-center
          %h4 Today
        .timeline-media
          .timeline-line
          .timeline-start
          .timeline-end
          .timeline-left
            - @user.events.timeline.in_groups_of(2).map(&:first).compact.each do |event|
              = render "events/#{event.trackable_type.underscore}/#{event.action}", event: event, direction: 'left'
          .timeline-right
            - @user.events.timeline.in_groups_of(2).map(&:last).compact.each do |event|
              = render "events/#{event.trackable_type.underscore}/#{event.action}", event: event, direction: 'right'
        .text-center
          %h4= "You joined ChefSteps on"
          %h4= "#{@user.created_at.strftime('%B %-d, %Y')}."

        / - @user.events.timeline.each_with_index do |event, index|
        /   - direction = index.even? ? 'left' : 'right'
        /   = render "events/#{event.trackable_type.underscore}/#{event.action}", event: event, direction: direction

= content_for :footer do
  = render 'layouts/footer'