- content_for :title, "Profile - #{@user.name}"
/ Don't index user profiles - we don't want to leak Google juice from serious content pages onto profiles, and also some users get upset when they see their profile indexed.
- content_for :extra_head_tags, '<META NAME="ROBOTS" CONTENT="NOINDEX">'.html_safe

.hide
  / Automatically logs in user into forum
  %iframe{src:'http://forum.chefsteps.com/entry/jsconnect?client_id=1924714588&Target=%2F'}

.container-fluid.profile-cover{style: "background-image: url('#{s3_image_url(Setting.footer_image)}')"}
  .row-fluid
    .container
      .row
        .span2.profile-image-wrapper
          .profile-image
            = image_tag filepicker_circle_image(@user.profile_image_id), class: 'img-circle'

        .span10
          %h1= @user.name

.container
  .row
    .span2(ng-controller="LoginController")
      .profile-badges
        = render "devise/sessions/new_angular"

      .subscription-badge
        - if @user.studio?
          = image_tag 'https://d92f495ogyf88.cloudfront.net/static/badge-studio-pass.png'
        - if @user.premium_member
          = image_tag 'https://d92f495ogyf88.cloudfront.net/static/badge-premium.png'

      - if current_user
        - if current_user == @user
          = link_to 'Edit Profile', edit_user_profile_path, class: 'btn btn-secondary btn-block'
          %a.btn.btn-secondary.btn-block(href='/logout')
            Logout
    .span5.nav-tabs-gray
      %h4 Bio

      %p= @user.bio
      %ul.nav.nav-tabs
        %li.active
          = link_to 'Favorites', '#favorites', data: {toggle: 'tab'}
        -if @show_recipes_tab
          %li
            = link_to @is_current_user ? 'My Recipes' : @user.name + '\'s Recipes', '#recipes', data: {toggle: 'tab'}
      .tab-content
        .tab-pane.active#favorites
          - if @user.likes.count > 0
            - @user.likes.includes(:likeable).scoped_by_type('Activity').order('created_at DESC').each do |like|
              -if like.likeable
                - likeable_title = capture do
                  = link_to like.likeable.title, like.likeable
                = render 'shared/media_list_item', image: like.likeable.featured_image, title: likeable_title, text: ''
          - else
            .well-clear
              %h4 "#{@is_current_user ? 'Looks like you' : @user.name} hasn't favorited any recipes yet."
              %a.btn.btn-primary(href='/gallery')
                See our Recipe Gallery


        -if @show_recipes_tab
          .tab-pane#recipes
            - @user_pubbed_recipes.each do |activity|
              - activity_title = capture do
                = link_to activity.title, activity_path(activity)
              = render 'shared/media_list_item', image: activity.featured_image, title: activity_title, text: truncate(activity.description, length: 140, separator: ' ')
            -if @user_unpubbed_recipes.count > 0
              - @user_unpubbed_recipes.each do |activity|
                - activity_title = capture do
                  = link_to activity.title, activity_path(activity)
                = render 'shared/media_list_item', image: activity.featured_image, title: activity_title, text: truncate(activity.description, length: 140, separator: ' ') + " [Unpublished]"
            -if @can_add_recipes
              .media-list-item
                = link_to 'Create a new recipe', new_activity_url, class: 'btn btn-primary'

    .span5
      %h4 Timeline
      .timeline
        .text-center
          %h4 Today
        .timeline-media
          .timeline-line
          .timeline-start
          .timeline-end
          .timeline-left
            - @timeline_events.in_groups_of(2).map(&:first).compact.each do |event|
              - if event.trackable_type != 'Course' && event.trackable
                = render "events/#{event.trackable_type.underscore}/#{event.action}", event: event, direction: 'left'
          .timeline-right
            - @timeline_events.in_groups_of(2).map(&:last).compact.each do |event|
              - if event.trackable_type != 'Course' && event.trackable
                = render "events/#{event.trackable_type.underscore}/#{event.action}", event: event, direction: 'right'
        .text-center
          - if current_user == @user
            %h4= "You joined ChefSteps on"
          - else
            %h4= "#{@user.name} joined ChefSteps on"
          %h4= "#{@user.created_at.strftime('%B %-d, %Y')}."


= content_for :footer do
  = render 'layouts/footer'


= render 'shared/social_connect'
