- content_for :title, "#{user.name}'s Profile"

.hero-unit
  .container
    .row
      .span12
        - profile_title = is_current_user?(user) ? "My Profile" : "#{user.name}'s Profile"
        %h3=profile_title

.container.user-profile
  .row
    .span4.pull-right.horizontal-divider
      = render partial: 'profile_bio', user: user
    - if is_current_user?(user)
      .span8.pull-left.user-profile-intro
        = render partial: 'profile_intro', user: user
    .span8.pull-left.user-profile-info
      = render partial: 'profile_quiz_info', user: user

