- content_for :title, "#{user.name}'s Profile"
.row
  .span12
    .well
      %h2 My Profile
      %hr
      %p
        name:
        = user.name
      %p
        email:
        = user.email

      .section
        %h3 Quizzes
        = render partial: 'profile_quiz_info', user: user

      .section
        - if is_current_user?(user)
          = link_to edit_registration_path(user), class: 'btn btn-primary' do
            Edit Account Settings
          = link_to sign_out_path, class: 'btn btn-primary' do
            Sign Out
.row
  .span4
    %h2 Categories
    - @categories.each do |category|
      / = category.inspect
      / = category[:depth]
      - category_link = category[:url].gsub('https://forum.chefsteps.com','http://forum.chefsteps.com')
      = link_to category_link do
        - if category[:depth] == '1' 
          %h3= category[:name]
        - else
          %h4= category[:name]  
  .span8
    %h2 Discussions
    - @discussions.each do |discussion|
      - discussion_link = discussion[:url].gsub('https://chefsteps.vanillaforums.com','http://forum.chefsteps.com')
      %h4= discussion[:name]
      = link_to discussion_link do
        %blockquote.word-wrap
          %p= truncate(strip_tags(discussion[:body]), length: 300, separator: ' ')
          %small
            %cite
              = discussion[:first_name]

.hide
  %iframe{src:'http://forum.chefsteps.com/entry/jsconnect?client_id=1924714588&Target=%2F'}

/ .hero-unit
/   .container
/     .row
/       .span12
/         - profile_title = is_current_user?(user) ? "My Profile" : "#{user.name}'s Profile"
/         %h3=profile_title

/ .container.user-profile
/   .row
/     .span4.pull-right.horizontal-divider
/       = render partial: 'profile_bio', user: user
/     - if is_current_user?(user)
/       .span8.pull-left.user-profile-intro
/         = render partial: 'profile_intro', user: user
/     .span8.pull-left.user-profile-info
/       = render partial: 'profile_quiz_info', user: user

