.container
  .row
    .span12
      %h1 Polls
      = paginate @polls

- @polls.each do |poll|
  .container
    .row.section
      .span4
        = render 'shared/media_box_2', url: poll_path(poll), title: poll.title, image: poll.image_id, object: poll
      .span8
        = link_to poll do
          %h2= poll.title
        %p= poll.description
.container
  .row
    .span12
      = paginate @polls