- content_for :title, "Poll - #{@poll.title.html_safe}"
- content_for :description, @poll.description != "" ? @poll.description.html_safe : @poll.title.html_safe
- content_for :canonical_link, poll_url(@poll) if @poll.id
- content_for :keywords, @poll.poll_items.map(&:title).join(',')
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}

- content_for :facebook_og do
  %meta{property: 'og:url', content: poll_url(@poll)}
  %meta{property: 'og:title', content: @poll.title.html_safe}
  %meta{property: 'og:description', content: @poll.description != "" ? @poll.description.html_safe : @poll.title.html_safe}
  %meta{property: 'og:image', content: s3_image_url(Setting.footer_image)}
- require 'ostruct'

.container.section#poll{data: {:'poll-id' => "#{@poll.id}"}}
  .row
    .span12(ng-controller='VotesController' ng-cloak)
      - if current_user
        - current_user_votes = current_user.votes.scoped_by_type('PollItem').map(&:votable_id)
      - else
        - current_user_votes = false
      %span(ng-model="current_user_votes" ng-init="current_user_votes=#{current_user_votes}")
      .poll-header-block
        .poll-header
          %h1
            {{poll.title}}
            .label.label-large(ng-show="#{@poll.status=='Closed'}")
              Closed
          %p
            {{poll.description}}
        .poll-header-votes
          .poll-header-votes-border
            .poll-header-votes-count
              = @poll.poll_items.map(&:votes_count).inject(:+)
            .poll-header-votes-text
              Votes
              .poll-header-votes-subtext
                and counting...
      = link_to 'See Previous Polls', polls_path, class: 'btn btn-secondary pull-right section'

      %div(ng-repeat="poll_item in poll.poll_items | orderBy:'-votes_count'" ng-cloak ng-controller="PollItemController" ng-init="init('#{@poll.status}')")
        .poll-item
          .poll-item-vote-up
            %span(ng-switch on="current_user_voted_for_this(poll_item)")
              %span(ng-switch-when='true')
                .poll-item-btn.poll-item-btn-voted(ng-click="unvoteObject()")
                  %i.icon-angle-up
                  .poll-item-vote-count
                    {{poll_item.votes_count}}
              %span(ng-switch-when='false')
                %div(ng-show="#{@poll.status=='Closed'}")
                  .poll-item-btn-disabled(tooltip="Voting is now closed.")
                    %i.icon-angle-up
                    .poll-item-vote-count(ng-show='current_user_voted()')
                      {{poll_item.votes_count}}
                %div(ng-show="#{@poll.status!='Closed'}")
                  .poll-item-btn(ng-click="voteObject()" tooltip="Vote for this!")
                    %i.icon-angle-up
                    .poll-item-vote-count(ng-show='current_user_voted()')
                      {{poll_item.votes_count}}

          .poll-item-text
            %a.poll-item-details-btn(ng-click='pollItemDetails(poll_item)')
              %h3
                {{poll_item.title}}
                .label(ng-show="#{@poll.status == 'Completed'} && $index == 0")
                  Winner!
              %p.black-link {{poll_item.description}}
            .poll-item-user-voted(ng-show='current_user_voted_for_this(poll_item)')
              You and {{poll_item.votes_count - 1}} others voted for this.
            .poll-item-user-voted(ng-show='!current_user_voted_for_this(poll_item)')
              {{poll_item.votes_count}} people voted for this.
            .section.social-group
              %a.btn.btn-primary.btn-poll-comments(ng-click='pollItemDetails(poll_item)')
                %div(ng-show='poll_item.show_details')
                  Hide Comments
                %div(ng-show='!poll_item.show_details')
                  Show Comments
              = render 'layouts/share_button'
            %div(collapse='!poll_item.show_details')
              %a(name='discussion')
              %cscomments(comments-type="poll_item" comments-id="{{poll_item.id}}" seo-bot="#{is_static_render}")

      %div.voting-spinner(ng-hide="hideSpinner")
        %i.icon-spinner.icon-spin.icon-large

= render 'layouts/footer'

:javascript
  mixpanel.track('Poll Viewed', {'poll' : "#{@poll.title}", 'url' : window.location.pathname});
