- enrollable_type = enrollable.class.to_s.pluralize.downcase
- enrollable_id = enrollable.id
- signed_in = current_user ? true : false
- current_user_enrolled = current_user && current_user.enrolled?(enrollable)
- enrollable_url = class_url(enrollable)
- last_viewed_activity = current_user ? class_activity_path(enrollable, current_user.last_viewed_activity_in_assembly(enrollable)) : nil
- completed = current_user && current_user.completed_course?(enrollable) ? true : false

%div(ng-controller='EnrollmentsController' ng-init="init('#{enrollable_type}','#{enrollable_id}', '#{signed_in}', '#{current_user_enrolled}', '#{enrollable_url}', '#{last_viewed_activity}', '#{completed}')" ng-cloak)
  %div(ng-show="signed_in")
    %div(ng-switch on="current_user_enrolled")
      %div(ng-switch-when="false")
        %a.btn.btn-primary.btn-large.input-block-level(ng-click="enroll()")
          Enroll Now
      %div(ng-switch-default)
        %div(ng-show="completed")
          %a.btn.btn-primary.btn-large.input-block-level
            View Class
        %div(ng-hide="completed")
          %a.btn.btn-primary.btn-large.input-block-level(ng-href="{{last_viewed_activity || enrollable_url}}")
            Continue Class
  %div(ng-hide="signed_in")
    %a.btn.btn-primary.btn-large.input-block-level(ng-click="sign_in()")
      Enroll Now