.container
  .span12.text-center.section
    %h1.section Whoa. Something’s missing.
    .whitespace
      = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/ACP0NbPjSeJtQQ8B6uVg?cache=true'
    %h2.section
      = link_to 'Check out the Recipe Gallery?', '/gallery'
    %p Or contact us
    %ul.no-bullet
      %li
        %i.fa.fa-envelope-o
          = mail_to 'info@chefsteps.com', 'Email us'
      %li
        %i.fa.fa-twitter-square
          = link_to 'Tweet us', '//twitter.com/chefsteps'


  - # Do not remove this line. It is used for development
  - # purposes. When an error is found. In development, it
  - # shows the logs, in production it is nil.
  .error-msg
    = @log