%h4 Slutbrugerlicensaftale
%p Senest opdateret: 9/11/2017
%p
  Denne Slutbrugerlicensaftale (”Aftale”) regulerer din hentning, installation og brug af mobilapplikationen (”
  %strong> Applikationen med licens
  ”) leveret af ChefSteps Inc. (”
  %strong> ChefSteps
  ”). HVIS DU BOR UDEN FOR USA, KAN DER GÆLDE
  YDERLIGERE VILKÅR OG BETINGELSER FOR DIG, SOM ENTEN SUPPLERER ELLER ERSTATTER VISSE BESTEMMELSER I DENNE AFTALE. DU BEDES GENNEMGÅ SLUTNINGEN AF DETTE DOKUMENT FOR AT AFGØRE, OM DER GÆLDER YDERLIGERE VILKÅR OG BETINGELSER FOR DIG.
%p
  ChefSteps forbeholder sig til enhver tid retten til at ændre denne Aftale efter eget skøn. Hvis ChefSteps foretager ændringer i Aftalen, gives der varsel om disse ændringer, såsom ved at sende en e-mailbesked, give meddelelse via Applikationen med licens
  eller opdatering af datoen ”
  %strong> Senest opdateret
  ” i starten af Aftalen. Ved fortsat at få adgang til eller bruge Applikationen med licens efter at ChefSteps har givet varsel om disse ændringer, bekræfter du din accept af den reviderede
  Aftale og alle de vilkår inkorporeret heri ved henvisning.
%p
  DU BEDES LÆSE DENNE AFTALE GRUNDIGT. DEN INDEHOLDER VIGTIGE VILKÅR, DER PÅVIRKER DIG OG DIN BRUG AF APPLIKATIONEN MED LICENS. VED AT INSTALLERE DEN MOBILE APPLIKATION ACCEPTERER DU AT VÆRE BUNDET AF VILKÅRENE I DENNE AFTALE OG VORES
  %a{:href => "https://www.chefsteps.com/terms"} VILKÅR FOR ANVENDELSE
  OG SALG, SOM ER INKORPORERET VED HENVISNING. HVIS DU IKKE ACCEPTERER VILKÅRENE I AFTALEN OG VORES VILKÅR FOR ANVENDELSE, MÅ DU IKKE INSTALLERE, FÅ ADGANG TIL ELLER BRUGE APPLIKATIONEN MED LICENS.
%p
  Denne Aftale er en bindende aftale mellem dig og ChefSteps, og ikke med udbyderen af mobile applikationer, hvorfra du har installeret Applikationen med licens ”
  = succeed "\u{201d})." do
    %strong Applikations-udbyderen
%p
  %strong 1.	Samtykke til Elektronisk Kommunikation
  Lovgivningen kan kræve, at ChefSteps sender kommunikation til dig, der vedrører Applikationen med licens og din brug deraf. Du samtykker i at modtage disse kommunikationer elektronisk (f.eks.
  via e-mail, via ChefSteps’ webside eller Applikationen med licens).
%p
  %strong> 2.	Ejerskab til Applikationen med Licens
  Applikationen med licens er ChefSteps’ og dennes licensgiveres værdifulde ejendom og beskyttes af ophavsret og andre immaterialretlige love og traktater. ChefSteps og dennes licensgivere ejer
  alle rettigheder, adkomst og interesser i Applikationen med licens, herunder alle ophavsretlige og andre immaterialretlige rettigheder dertil. ChefSteps forbeholder sig alle rettigheder, der ikke udtrykkeligt er givet til dig.
%p
  %strong 3.	Omfang af licensen til Applikationen med licens
  Applikationen med licens gives i licens og sælges ikke til dig. Med respekt af Aftalens vilkår og betingelser tildeler ChefSteps dig en begrænset, ikke-eksklusiv, uoverdragelig, verdensomspændende
  licens, som ikke kan gives i underlicens, til at hente, installere og bruge Applikationen med licens på bestemte enheder eller produkter (hver især en ”Enhed”), som Applikations-udbyderen har givet bemyndigelse til, som du ejer eller kontrollerer og
  som tilladt af gældende vilkår og betingelser leveret af Applikations-udbyderen (”
  %strong> Regler for brug
  ”). Vilkårene for denne licens regulerer eventuelle opgraderinger leveret af ChefSteps, der erstatter eller supplerer den originale Applikation
  med licens, medmindre en opgradering ledsages af en særskilt licens, i hvilket tilfælde vilkårene for den særskilte licens regulerer forholdet.
%p
  %strong 4.	Licensbegrænsninger
  Det foranstående angiver dine rettigheder i deres helhed, hvad angår Applikationerne med Licens, og vi forbeholder os alle rettigheder til Applikationerne med licens, som ikke udtrykkeligt er givet til dig i Aftalen.
  Den licens givet til dig i afsnit 3 tillader dig ikke at foretage dig noget af følgende:
  (a) bruge Applikationen med licens på en Enhed, du ikke ejer eller kontrollerer;
  (b) distribuere, kopiere, give i licens, leje, sælge, videresælge, offentliggøre, lease eller på anden vis overdrage Applikationen med licens (undtagen som udtrykkeligt tilladt i Aftalen eller Reglerne for Brug) eller beskyttede materialer tilhørende ChefSteps til en tredjepart;
  (c) foretage reverse engineering (undtagen i tilfælde, hvor du har ret til at gøre dette i henhold til gældende ufravigelige rettigheder), dekompilere, skille eller forsøge at finde en kildekode eller fabrikationshemmeligheder i relation til Applikationen med licens eller eventuelle beskyttede materialer tilhørende ChefSteps, undtagen i det af gældende lov tilladte omfang;
  (d) ændre eller skabe afledte værker eller efterfølgende versioner af Applikationen med licens;
  (e) fjerne, ændre eller skjule en meddelelse om ophavsret, varemærke eller andre beskyttede
  rettigheder på eller i Applikationen med licens; 
  (f) komme uden om tekniske begrænsninger i Applikationen med licens; eller
  (g) bruge Applikationen med licens til formål ud over egen personlig, ikke-kommerciel brug, eller hvortil den ikke er beregnet.
  Medmindre det udtrykkeligt er anført heri eller i øvrigt af ChefSteps, skal intet i Aftalen fortolkes som at give ret eller licens til immaterielle rettigheder, uanset om det sker ved præklusion, stiltiende eller på anden måde. Hvis du bryder nogen
  af disse begrænsninger, kan du gøres til genstand for retsforfølgelse og være erstatningsansvarlig. Licensen kan til enhver tid tilbagekaldes, fx hvis du bryder Aftalen.
%p
  %strong 5.	Datapolitik
  ChefSteps kan i overensstemmelse med sin
  %a{:href => "https://www.chefsteps.com/privacy"} Datapolitik
  indsamle, bruge og dele oplysninger om dig, herunder, men ikke begrænset til, oplysninger om din brug af Applikationen
  med licens, Enhed, system- og applikationssoftware, og periferiudstyr, som samles i forbindelse med din adgang til og brug af Applikationen med licens. For yderligere oplysninger om, hvordan ChefSteps indsamler, bruger og deler oplysninger om dig i
  forbindelse med din brug af Applikationen med licens, henviser vi til ChefSteps'
  %a{:href => "https://www.chefsteps.com/privacy"} Datapolitik.
%p
  %strong 6.	Supportydelser
  ChefSteps er for øjeblikket ikke forpligtet til at yde support eller vedligeholdelsesydelser til Applikationen med licens. Hvis du har spørgsmål angående Applikationen med licens, bedes du kontakte ChefSteps på
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \. Applikations-udbyderen har ingen forpligtelser til at levere support eller vedligeholdelsesydelser hvad angår Applikationen med licens.
%p
  %strong 7.	Krav vedrørende Produktet
  ChefSteps, og ikke Applikations-udbyderen, er ansvarlig for at tage sig af eventuelle spørgsmål, kommentarer eller krav i forbindelse med Applikationen med licens eller din besiddelse og brug af Applikationen
  med licens, herunder, men ikke begrænset til, (a) krav vedrørende produktansvar; (b) eventuelle krav om, at Applikationen med licens ikke overholder de gældende juridiske eller regulatoriske krav; eller (c) krav opstået i henhold til forbrugerbeskyttelses-
  eller lignende lovgivning. Hvis du har spørgsmål, bedes du kontakte ChefSteps på
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \.
%p
  %strong 8.	Yderligere vilkår
  Applikationen med licens kan muliggøre adgang til websider, mobile applikationer og andre onlineprodukter og tjenester, der leveres af ChefSteps og tredjeparter. Din adgang til og brug af disse websider, mobile applikationer
  eller andre onlineprodukter og tjenester kan kræve, at du accepterer og overholder yderligere vilkår og politikker, der gives af ChefSteps og/eller tredjeparter, afhængig af forholdene, herunder, men ikke begrænset til ChefSteps’
  %a{:href => "https://www.chefsteps.com/terms"} Vilkår for Anvendelse
  og Salg (samlet de ”
  %strong> Yderligere Vilkår
  ”).
%p
  %strong> 9.	Ingen Garanti
  DU ANERKENDER OG ACCEPTERER, AT (A) APPLIKATIONEN MED LICENS KAN INDEHOLDE PROGRAMFEJL, FEJL OG MANGLER, VI IKKE ER KLAR OVER; (B) HENTNING, INSTALLATION OG BRUG AF APPLIKATIONEN MED LICENS SKER FOR DIN RISIKO; OG (C)
  HELE RISIKOEN FOR TILFREDSSTILLENDE KVALITET, YDELSE, NØJAGTIGHED OG INDSATS PÅHVILER DIG. SOM FØLGE HERAF LEVERES APPLIKATIONEN MED LICENS ”SOM DEN ER OG FOREFINDES”, ”SOM TILGÆNGELIG” MED ALLE FEJL OG MANGLER OG UDEN GARANTI AF NOGEN ART. CHEFSTEPS
  FRASKRIVER SIG ALLE GARANTIER (UDTRYKKELIGE OG STILTIENDE OG SOM UDSPRINGER AF LOV ELLER PÅ ANDEN MÅDE) ANGÅENDE APPLIKATIONEN MED LICENS OG DENS YDELSE ELLER EGNETHED TIL DIN TILSIGTEDE BRUG, HERUNDER, MEN IKKE BEGRÆNSET TIL, EVENTUELLE STILTIENDE
  GARANTIER FOR SALGBARHED, EGNETHED TIL ET BESTEMT FORMÅL, NØJAGTIGHED OG IKKE-KRÆNKELSE. CHEFSTEPS HAR INTET ANSVAR AF NOGEN ART FOR BRUGEN AF ELLER MANGLENDE EVNE TIL AT BRUGE APPLIKATIONEN MED LICENS ELLER FOR EVENTUELLE TAB AF DATA. CHEFSTEPS ERKLÆRER
  OG GARANTERER IKKE, AT APPLIKATIONEN MED LICENS LEVERES UDEN FORSTYRRELSER, FORSINKELSER, UNDLADELSER ELLER FEJL (SAMLET ”
  %strong> Fejl
  ”) ELLER PÅ SIKKER MÅDE, ELLER AT ALLE FEJL BLIVER RETTET. INGEN MUNDTLIGE ELLER SKRIFTLIGE OPLYSNINGER ELLER
  RÅD GIVET AF CHEFSTEPS ELLER DENNES BEMYNDIGEDE REPRÆSENTANTER SKABER EN GARANTI. HVIS APPLIKATIONEN MED LICENS ER FEJLBEHÆFTET, PÅTAGER DU DIG ALLE UDGIFTER TIL AL NØDVENDIG SERVICE, REPARATION ELLER RETTELSE.
%p APPLIKATIONS-UDBYDEREN HAR INGEN GARANTIFORPLIGTELSE HVAD ANGÅR APPLIKATIONEN MED LICENS ELLER ANDRE KRAV, TAB, ANSVAR, SKADESERSTATNINGER, UDGIFTER ELLER OMKOSTNINGER, DER KAN HENFØRES TIL EN FEJL VED APPLIKATIONEN I LICENS.
%p Loven i nogle stater eller jurisdiktioner tillader ikke, at stiltiende garantier udelukkes. I det omfang disse love gælder, gælder undtagelserne anført ovenfor måske ikke for dig.
%p
  %strong 10.	Skadesløsholdelse
  I det af gældende lov videst muligt tilladte omfang accepterer du at skadesløsholde, friholde og forsvare ChefSteps og vores respektive tidligere, nuværende og fremtidige medarbejdere, ledende medarbejdere, bestyrelsesmedlemmer,
  konsulenter, aktionærer, leverandører, sælgere, serviceudbydere, moderselskaber, datterselskaber, tilknyttede selskaber, agenter, repræsentanter, forgængere, retsefterfølgere og adkomsterhververe (”
  %strong> ChefSteps-parter
  ”), for alle krav
  fra ChefSteps-parter og tredjeparter af enhver art, det være sig uden for kontrakt, inden for kontrakt eller i øvrigt (samlet ”
  %strong> Krav
  ”), herunder skade på ejendom eller personskade, der udspringer af eller vedrører din hentning, installation
  og/eller brug af Applikationen med licens. I tilfælde af et krav om, at Applikationen med licens, eller din besiddelse eller brug deraf, krænker en tredjeparts immaterielle rettigheder, accepterer du at kontakte ChefSteps straks og direkte, og Applikations-udbyderen
  er ikke ansvarlig for undersøgelsen, forsvaret, forligsmæssig løsning og/eller opfyldelse af et sådant immaterielt Krav. Du accepterer at samarbejde med ChefSteps-parterne i forsvaret mod disse Krav. Du accepterer endvidere, at ChefSteps-partnerne skal
  kontrollere forsvaret af eller den forligsmæssige løsning på eventuelle Krav fra tredjeparter. Denne skadesløsholdelse er ud over, og ikke i stedet for, eventuel skadesløsholdelse anført i anden skriftlig aftale mellem dig og ChefSteps.
%p
  %strong> 11.
  Ansvarsbegrænsning I DET AF GÆLDENDE LOV VIDEST MULIGT TILLADTE OMFANG ER CHEFSTEPS ELLER EN AF DE ANDRE CHEFSTEPS-PARTER I INTET TILFÆLDE ANSVARLIG FOR INDIREKTE TAB, FØLGE TAB, PØNALT BEGRUNDET FORHØJET ERSTATNING (”TORT”) AF NOGEN
  ART (HERUNDER, MEN IKKE BEGRÆNSET TIL, TAB AF INDTÆGT, INDKOMST ELLER FORTJENESTE, TAB AF BRUG ELLER DATA, TAB ELLER FORMINDSKELSE AF VÆRDIEN AF AKTIVER ELLER VÆRDIPAPIRER, ELLER ERSTATNING FOR DRIFTSTAB), DER UDSPRINGER AF ELLER PÅ NOGEN MÅDE HAR FORBINDELSE
  TIL DIN HENTNING, INSTALLATION ELLER BRUG AF APPLIKATIONEN MED LICENS (HERUNDER, MEN IKKE BEGRÆNSET TIL, ERSTATNINGER FORÅRSAGET AF ELLER SOM FØLGE AF EN BRUGERS PÅBERÅBELSE AF OPLYSNINGER, INDHENTET FRA CHEFSTEPS, ELLER FRA FEJL, UNDLADELSER, AFBRYDELSER,
  SLETNING AF FILER ELLER E-MAILS, FEJL, MANGLER, FEJLFINDINGER, VIRA, TROJANSKE HESTE, FORSINKELSER I DRIFTEN ELLER TRANSMISSIONEN ELLER EN FEJL I YDELSEN, UANSET OM DEN MÅTTE VÆRE EN FØLGE AF NATURKATASTROFE, KOMMUNIKATIONSFEJL, TYVERI, ØDELÆGGELSE
  ELLER UBERETTIGET ADGANG TIL CHEFSTEPS’ OPTEGNELSER, PROGRAMMER ELLER SYSTEMER), UANSET ARTEN AF HANDLING, OM DEN ER BASERET PÅ KONTRAKT, UDEN FOR KONTRAKT (HERUNDER, MEN IKKE BEGRÆNSET TIL, SIMPEL UAGTSOMHED, DET VÆRE SIG AKTIV, PASSIV ELLER TILSKREVET),
  OBJEKTIVT PRODUKTANSVAR, ANDEN JURIDISK ELLER RIMELIG TEORI (SELV OM PARTEN ER BLEVET OPLYST OM MULIGHEDEN FOR SÅDANNE ERSTATNINGER OG UANSET OM SÅDANNE ERSTATNINGER KUNNE FORUDSES).
%p
  I DET AF GÆLDENDE LOV VIDEST MULIGT TILLADTE OMFANG SKAL CHEFSTEPS’ OG CHEFSTEPS-PARTNERNES (SAMMEN) MAKSIMALE SAMLEDE ANSVAR, DET VÆRE SIG I INDEN FOR KONTRAKT, UDSPRINGER AF ELLER PÅ NOGEN MÅDE ER RELATERET TIL APPLIKATIONEN MED LICENS IKKE OVERSTIGE
  USD TI DOLLARS (USD 10).
%p Nogle jurisdiktioner tillader ikke ansvarsfrihed for hændelig- eller følgeskade, så den ovennævnte begrænsning eller undtagelse gælder måske ikke for dig.
%p
  %strong 12.	Ingen eksport
  Du må ikke bruge eller på anden måde eksportere eller reeksportere Applikationen med licens eller noget indhold deri, undtagen som berettiget i henhold til amerikansk lov og lovene i den jurisdiktion, hvor Applikationen
  med licens eller noget indhold blev opnået. Især, men uden begrænsning, må Applikationen med licens og det deri indeholdte indhold ikke eksporteres eller reeksporteres til (a) lande der er pålagt embargo af USA; eller (b) nogen i det amerikanske finansministeriums
  liste over personer, der er genstand for særlige restriktioner eller det amerikanske handelsministeriums liste over personer eller enheder, som er på den sorte liste.
%p
  %strong 13.	Overholdelse af lovkrav
  Ved at hente, installere og bruge Applikationen med licens erklærer og garanterer du, at (a) du ikke befinder dig i et land, der er underlagt embargo fra den amerikanske regering eller som af den amerikanske
  regering er betegnet som et land, der ”støtter terrorister”; og (b) du ikke er opført på en liste fra den amerikanske regering med forbudte eller begrænsede parter. Du vil overholde alle gældende love, regler og forskrifter, herunder, men ikke begrænset
  til amerikanske love om eksportkontrol.
%p
  %strong 14.	Kommercielle varer
  Hvis Applikationen med licens erhverves af en myndighed i den amerikanske regering, anerkender denne myndighed, at (a) Applikationen med licens udgør ”kommerciel computersoftware” eller ”dokumentation for kommerciel
  computersoftware” i nr. 48 Code of Federal Regulations (CFR), § 12.212 og 48 CVR § 227.7202, alt efter forholdene; og (b) denne myndigheds rettigheder er begrænset til dem, der specifikt er givet i henhold til Aftalen.
%p
  %strong> 15.	Tredjeparts begunstigede
  Applikations-udbyderen og nogle af dennes datterselskaber er tredjeparts begunstigede i henhold til Aftalen. Ved din accept af Aftalen har Applikations-udbyderen ret til (og bliver anset for at have accepteret
  retten) at håndhæve Aftalen over for dig som tredjeparts begunstiget.
%p
  %strong 16.	Opsigelse
  Uanset hvad der er indeholdt i denne Aftale forbeholder ChefSteps sig retten til, uden varsel og efter eget skøn, at bringe din ret til adgang eller brug af Applikationen med licens til ophør og blokere eller forhindre din
  fremtidige adgang til og brug af Applikationen med licens. Du er også berettiget til at opsige Aftalen uden varsel, efter eget skøn og til enhver tid, ved at afinstallere Applikationen med licens.
%p
  %strong 17.	Vilkårenes uafhængighed
  Hvis et vilkår, en klausul eller bestemmelse i Aftalen anses for at være ugyldig eller uden retskraft, så skal det vilkår, den klausul eller bestemmelse udskilles af Aftalen og påvirker ikke gyldighed eller
  retskraft, hvad angår en resterende del af vilkåret, klausulen eller bestemmelsen, eller et andet vilkår, klausul eller bestemmelse i Aftalen.
%p
  %strong 18.	Lovvalg
  Aftalen reguleres af og fortolkes og håndhæves i overensstemmelse med lovene i Staten Washington, uden hensyntagen til lovvalgsregler eller principper, der ville forårsage, at en anden jurisdiktions love ville være gældende.
%p
  %strong 19.	Kontakt
  Hvis du har spørgsmål eller overvejelser angående Applikationen med licens eller Aftalen, bedes du kontakte ChefSteps på:
%p
  ChefSteps, Inc.
  = succeed "Att.:" do
    %br/
  = succeed "1501" do
    %br/
  = succeed "Seattle," do
    %br/
  = succeed "Telefon:" do
    %br/
  = succeed "E-mail:" do
    %br/
%h4.text-center
  End User License Agreement
%p
  %strong Last Updated: February 10, 2015
%p
  This End User License Agreement ("
  %strong> Agreement
  ") governs your download, installation and use of the mobile application (the "
  %strong> Licensed Application
  ") provided by ChefSteps Inc. ("
  %strong> ChefSteps
  ").
%p
  ChefSteps reserves the right to change or modify this Agreement at any time and in its sole discretion. If ChefSteps makes changes to this Agreement, it will provide notice of such changes, such as by sending an email notification, providing notice through the Licensed Application or updating the "Last Updated" date at the beginning of this Agreement. By continuing to access or use the Licensed Application after ChefSteps' provision of notice of such changes, you confirm your acceptance of the revised Agreement and all of the terms incorporated herein by reference.
%p
  PLEASE READ THIS AGREEMENT CAREFULLY.  IT CONTAINS IMPORTANT TERMS THAT AFFECT YOU AND YOUR USE OF THE LICENSED APPLICATION.  BY INSTALLING THE MOBILE APPLICATION, YOU AGREE TO BE BOUND BY THE TERMS OF THIS AGREEMENT AND OUR
  %a{:href => "https://www.chefsteps.com/terms"} TERMS OF USE
  , WHICH ARE INCORPORATED BY REFERENCE.  IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT AND OUR TERMS OF USE, DO NOT INSTALL, ACCESS OR USE THE LICENSED APPLICATION.
%p
  This Agreement is a binding agreement between you and ChefSteps, and not with Apple Inc. ChefSteps, and not Apple Inc., is solely responsible for the Licensed Application and the content thereof.
%p
  %strong 1. Consent to Electronic Communications.
  ChefSteps may be required by law to send communications to you that pertain to the Licensed Application and your use thereof. You consent to receive these communications electronically (e.g., via email, through the ChefSteps website or via the Licensed Application).
%p
  %strong 2. Ownership of the Licensed Application.
  The Licensed Application is the valuable property of ChefSteps and its licensors and is protected by copyright and other intellectual property laws and treaties. ChefSteps, and its licensors, own all right, title and interest in and to the Licensed Application, including all copyright and other intellectual property rights therein. ChefSteps reserves all rights not expressly granted to you.
%p
  %strong 3. Scope of License to the Licensed Application.
  The Licensed Application is licensed, not sold, to you. Subject to the terms and conditions of this Agreement, ChefSteps grants you a limited, nonexclusive, nontransferable, nonsublicensable license to download, install and use the Licensed Application on certain iOS products (each, a "Device") that you own or control and as permitted by the Usage Rules set forth in the
  %a{:href => "https://www.apple.com/legal/internet-services/itunes/appstore/jm/terms.html"} App Store Terms of Service
  (the "
  %strong> Usage Rules
  "). The terms of this license will govern any upgrades provided by ChefSteps that replace or supplement the original Licensed Application, unless an upgrade is accompanied by a separate license in which case the terms of that separate license will govern.
%p
  %strong 4. License Restrictions.
  The preceding states the entirety of your rights with respect to the Licensed Applications and we reserve all rights in and to the Licensed Applications not expressly granted to you in this Agreement.  The license granted to you in Section 3 does not allow you to do any of the following: (a) use the Licensed Application on any Device you do not own or control; (b) distribute, copy, license, rent, sell, resell, publish, lease or otherwise transfer the Licensed Application (except as expressly permitted by this Agreement or the Usage Rules) or any proprietary materials of ChefSteps to any third party; (c) reverse engineer, decompile, disassemble or attempt to discover any source code or trade secrets related to the Licensed Application or any proprietary materials of ChefSteps; (d) modify, alter or create any derivative works of the Licensed Application; (e) remove, alter or obscure any copyright, trademark or other proprietary rights notice on or in the Licensed Application; (f) work around any technical limitations in the Licensed Application; or (g) use the Licensed Application for purposes other than your own personal, noncommercial use, or for which it was not designed. Unless explicitly stated herein or otherwise by ChefSteps, nothing in this Agreement shall be construed as conferring any right or license to intellectual property rights, whether by estoppel, implication or otherwise. If you breach any of these restrictions, you may be subject to prosecution and damages. This license is revocable at any time.
%p
  %strong 5. Consent to Data Practices; Privacy Policy.
  You agree that ChefSteps may collect, use and share information about you, including, but not limited to, information about your use of the Licensed Application, Device, system and application software, and peripherals, that is gathered in connection with your access to and use of the Licensed Application. Please note that you may have the option to access and use the Licensed Application in “full access” or “limited access” mode.  Full access requires the creation of a ChefSteps account and will enable you to use additional features and functionality within the Licensed Application.  Alternatively, if you decide to access and use the Licensed Application in limited access mode, ChefSteps will not require an account and will not associate your use of the Licensed Application with personally identifiable information. For information about how ChefSteps collects, uses and shares information about you in connection with your use of the Licensed Application, please refer to ChefSteps'
  %a{:href => "https://www.chefsteps.com/privacy"} Privacy Policy.
%p
  %strong 6. Support Services.
  ChefSteps is not obligated to provide any support or maintenance services for the Licensed Application at this time. If you have any questions regarding the Licensed Application, please contact ChefSteps at
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \. Apple Inc. has no obligation whatsoever to furnish any support or maintenance services with respect to the Licensed Application.
%p
  %strong 7. Product Claims.
  ChefSteps, not Apple Inc., is responsible for addressing any questions, comments or claims relating to the Licensed Application or your possession and use of the Licensed Application, including, but not limited to, (a) product liability claims; (b) any claim that the Licensed Application fails to conform to the applicable legal or regulatory requirement; or (c) claims arising under consumer protection or similar legislation. If you have any questions, please contact ChefSteps at
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \.
%p
  %strong 8. Additional Terms.
  The Licensed Application may enable access to websites, mobile applications and other online products and services provided by ChefSteps and third parties. Your access to and use of these websites, mobile applications or other online products and services may require your acceptance of, and compliance with, additional terms and policies provided by ChefSteps and/or third parties, as applicable, including, but not limited to, ChefSteps'
  %a{:href => "https://www.chefsteps.com/terms"} Terms of Use
  (collectively, the "
  %strong> Additional Terms
  ").
%p
  %strong 9. No Warranty.
  YOU ACKNOWLEDGE AND AGREE THAT (A) THE LICENSED APPLICATION MAY CONTAIN BUGS, ERRORS AND DEFECTS; (B) DOWNLOAD, INSTALLATION AND USE OF THE LICENSED APPLICATION IS AT YOUR SOLE RISK; AND (C) THE ENTIRE RISK AS TO SATISFACTORY QUALITY, PERFORMANCE, ACCURACY AND EFFORT IS WITH YOU. ACCORDINGLY, THE LICENSED APPLICATION IS PROVIDED "AS IS," "AS AVAILABLE," WITH ALL FAULTS, DEFECTS AND ERRORS AND WITHOUT WARRANTY OF ANY KIND. CHEFSTEPS DISCLAIMS ALL WARRANTIES (EXPRESS AND IMPLIED AND ARISING BY LAW OR OTHERWISE) REGARDING THE LICENSED APPLICATION AND ITS PERFORMANCE OR SUITABILITY FOR YOUR INTENDED USE, INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY AND NON-INFRINGEMENT. CHEFSTEPS SHALL HAVE NO LIABILITY OF ANY KIND FOR THE USE OF, OR INABILITY TO USE, THE LICENSED APPLICATION OR FOR ANY LOSS OF DATA. CHEFSTEPS DOES NOT REPRESENT OR WARRANT THAT THE LICENSED APPLICATION WILL BE DELIVERED FREE OF ANY INTERRUPTIONS, DELAYS, OMISSIONS OR ERRORS (COLLECTIVELY, "
  %strong> Faults
  ") OR IN A SECURE MANNER OR THAT ANY FAULTS WILL BE CORRECTED. NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY CHEFSTEPS OR ITS AUTHORIZED REPRESENTATIVES SHALL CREATE ANY WARRANTY. IN THE EVENT THAT THE LICENSED APPLICATION IS DEFECTIVE, YOU ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION.
%p
  APPLE INC. HAS NO WARRANTY OBLIGATION WHATSOEVER WITH RESPECT TO THE LICENSED APPLICATION OR ANY OTHER CLAIMS, LOSSES, LIABILITIES, DAMAGES, COSTS OR EXPENSES ATTRIBUTABLE TO ANY FAILURE OF THE LICENSED APPLICATION.
%p
  The laws of some states or jurisdictions do not allow the exclusion of implied warranties. To the extent that those laws apply, the exclusions set forth above may not apply to you.
%p
  %strong 10.  Indemnification.
  To the fullest extent permitted by applicable law, you agree to indemnify, defend, and hold harmless ChefSteps and our respective past, present and future employees, officers, directors, contractors, consultants, equity holders, suppliers, vendors, service providers, parent companies, subsidiaries, affiliates, agents, representatives, predecessors, successors and assigns (the "
  %strong> ChefSteps Parties
  ") from all ChefSteps Party or third party claims of any kind, whether in tort, contract or otherwise (collectively, "
  %strong> Claims
  "), including damages to property or personal injury, that arise from or relate to your download, installation and/or use of the Licensed Application.  In the event of any Claim that the Licensed Application, or your possession or use thereof, infringes any intellectual property rights of a third party, you agree to contact ChefSteps promptly and directly, and Apple Inc. will not be responsible for the investigation, defense, settlement and discharge of any such intellectual property Claim. You agree to cooperate with the ChefSteps Parties in defending such Claims. You further agree that the ChefSteps Parties shall have control of the defense or settlement of any third party Claims. This indemnity is in addition to, and not in lieu of, any indemnities set forth in any other written agreement between you and ChefSteps.
%p
  %strong 11. Limitation of Liability.
  TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL CHEFSTEPS OR ANY OF THE OTHER CHEFSTEPS PARTIES BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES OF ANY KIND (INCLUDING, BUT NOT LIMITED TO, LOSS OF REVENUE, INCOME OR PROFITS, LOSS OF USE OR DATA, LOSS OR DIMINUTION IN VALUE OF ASSETS OR SECURITIES, OR DAMAGES FOR BUSINESS INTERRUPTION) ARISING OUT OF OR IN ANY WAY RELATED TO YOUR DOWNLOAD, INSTALLATION OR USE OF THE LICENSED APPLICATION (INCLUDING, BUT NOT LIMITED TO, ANY DAMAGES CAUSED BY OR RESULTING FROM RELIANCE BY ANY USER ON ANY INFORMATION OBTAINED FROM CHEFSTEPS, OR FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETIONS OF FILES OR EMAILS, ERRORS, DEFECTS, BUGS, VIRUSES, TROJAN HORSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM ACTS OF GOD, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO CHEFSTEPS' RECORDS, PROGRAMS OR SYSTEMS), REGARDLESS OF THE FORM OF ACTION, WHETHER BASED IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, SIMPLE NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), STRICT PRODUCT LIABILITY OR ANY OTHER LEGAL OR EQUITABLE THEORY (EVEN IF THE PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND REGARDLESS OF WHETHER SUCH DAMAGES WERE FORESEEABLE).
%p
  TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL THE MAXIMUM AGGREGATE LIABILITY OF CHEFSTEPS AND THE CHEFSTEPS PARTIES (JOINTLY), WHETHER IN CONTRACT  ARISING OUT OF OR IN ANY WAY RELATED TO THE LICENSED APPLICATION EXCEED TEN DOLLARS ($10.00).
%p
  Some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation or exclusion may not apply to you.
%p
  %strong 12. No Export.
  You may not use or otherwise export or re-export the Licensed Application or any content contained therein, except as authorized by United States law and the laws of the jurisdiction in which the Licensed Application or any content was obtained. In particular, but without limitation, the Licensed Application and the content contained therein may not be exported or re-exported to (a) any U.S. embargoed countries; or (b) anyone on the U.S. Treasury Department's list of Specially Designated Nationals or the U.S. Department of Commerce Denied Person's List or Entity List.
%p
  %strong 13. Legal Compliance.
  By downloading, installing and using the Licensed Application, you represent and warrant that (a) you are not located in a country that is subject to a U.S. Government embargo or that has been designated by the U.S. Government as a "terrorist supporting" country; and (b) you are not listed on any U.S. Government list of prohibited or restricted parties. You will comply with all applicable laws, rules and regulations, including, but not limited to, U.S. export control laws.
%p
  %strong 14. Commercial Items.
  If acquired by any agency of the U.S. Government, such agency acknowledges that (a) the Licensed Application constitutes "commercial computer software" or "commercial computer software documentation" for purposes of 48 C.F.R. §12.212 and 48 C.F.R. §227.7202, as applicable; and (b) such agency's rights are limited to those specifically granted under this Agreement.
%p
  %strong 15. Third Party Beneficiaries.
  Apple Inc. and Apple Inc.'s subsidiaries are third party beneficiaries of this Agreement. Upon your acceptance of this Agreement, Apple Inc. will have the right (and will be deemed to have accepted the right) to enforce this Agreement against you as a third party beneficiary thereof.
%p
  %strong 16. Termination
  Notwithstanding anything contained in this Agreement, ChefSteps reserves the right, without notice and in our sole discretion, to terminate your right to access or use the Licensed Application, and to block or prevent your future access to and use of the Licensed Application.
%p
  %strong 17. Severability
  If any term, clause or provision of this Agreement is held invalid or unenforceable, then that term, clause or provision will be severable from this Agreement and will not affect the validity or enforceability of any remaining part of that term, clause or provision, or any other term, clause or provision of this Agreement.
%p
  %strong 18. Contact
  If you have any questions or concerns regarding the Licensed Application or this Agreement, please contact ChefSteps at:
%p
  ChefSteps, Inc.
  %br/
  Attn: ChefSteps Legal Team
  %br/
  1501 Pike Place, Suite 300,
  %br/
  Seattle, WA 98101
  %br/
  USA
  %br/
  Telephone: 206-905-1099
  %br/
  Email: info@chefsteps.com
  %br/
