/ BE - Dutch
%h4 Licentieovereenkomst voor eindgebruikers
%p Laatst bijgewerkt: 9/11/2017
%p
  Deze Licentieovereenkomst voor Eindgebruikers ("
  %strong> Overeenkomst
  ") regelt uw download, installatie en gebruik van de mobiele applicatie (de "
  %strong> Gelicentieerde Applicatie
  ") die door ChefSteps Inc. wordt geleverd ("
  %strong> ChefSteps
  ").
  INDIEN U BUITEN DE VERENIGDE STATEN WOONACHTIG BENT, KUNNEN AANVULLENDE VOORWAARDEN OP U VAN TOEPASSING ZIJN DIE SOMMIGE BEPALINGEN IN DEZE OVEREENKOMST AANVULLEN OF VERVANGEN. LEES HET EINDE VAN DIT DOCUMENT OM TE BEPALEN OF ER AANVULLENDE VOORWAARDEN
  OP U VAN TOEPASSING ZIJN.
%p
  ChefSteps behoudt zich het recht voor om deze Overeenkomst te allen tijde en naar eigen goeddunken te wijzigen of aan te passen. Indien ChefSteps wijzigingen aanbrengt in deze Overeenkomst, zullen wij deze wijzigingen melden, bijvoorbeeld door het verzenden
  van een e-mailbericht, het verstrekken van een kennisgeving via de Gelicentieerde Applicatie of het bijwerken van de datum "
  %strong> Laatst bijgewerkt
  " aan het begin van deze Overeenkomst. Door toegang te zoeken tot de Gelicentieerde Applicatie
  of deze te gebruiken nadat ChefSteps een kennisgeving van dergelijke wijzigingen heeft verstrekt, bevestigt u uw aanvaarding van de herziene Overeenkomst en alle hierin middels verwijzing opgenomen voorwaarden.
%p
  LEES DEZE OVEREENKOMST ZORGVULDIG DOOR. DE OVEREENKOMST BEVAT BELANGRIJKE VOORWAARDEN DIE VAN INVLOED ZIJN OP U EN UW GEBRUIK VAN DE GELICENTIEERDE APPLICATIE. DOOR DE MOBIELE APPLICATIE TE INSTALLEREN KOMT U OVEREEN GEBONDEN TE ZIJN AAN DE VOORWAARDEN
  VAN DEZE OVEREENKOMST EN ONZE
  %a{:href => "https://www.chefsteps.com/terms"} GEBRUIKSVOORWAARDEN
  EN VERKOOPVOORWAARDEN, DIE MIDDELS VERWIJZING ZIJN OPGENOMEN. INDIEN U NIET AKKOORD GAAT MET DE VOORWAARDEN VAN DEZE OVEREENKOMST EN ONZE GEBRUIKS- EN VERKOOPVOORWAARDEN,
  DIENT U GEEN TOEGANG TE ZOEKEN TOT DE GELICENTIEERDE APPLICATIE EN DEZE NIET TE INSTALLEREN OF TE GEBRUIKEN.
%p
  Deze Overeenkomst is een bindende overeenkomst tussen u en ChefSteps, en niet met de aanbieder van de winkel voor mobiele applicaties waaruit u de Gelicentieerde Applicatie installeert ("
  %strong> Application Store Provider
  "). ChefSteps, en niet
  de Application Store Provider, is als enige verantwoordelijk voor de Gelicentieerde Applicatie en de inhoud ervan.
%p
  %strong 1.
  = succeed "." do
    %strong Toestemming voor elektronische communicatie
%p
  %strong 2.
  %strong Eigendom van de Gelicentieerde Applicatie.
  De Gelicentieerde Applicatie is het waardevolle eigendom van ChefSteps en haar licentiegevers en wordt beschermd door auteursrecht en andere intellectuele eigendomswetten
  en -verdragen. ChefSteps en haar licentiegevers zijn eigenaar van alle rechten, belangen en aanspraken in en op de Gelicentieerde Applicatie, met inbegrip van alle daarin vervatte auteursrechten en andere intellectuele eigendomsrechten. ChefSteps behoudt
  zich alle rechten voor die niet uitdrukkelijk aan u worden verleend.
%p
  %strong 3.
  %strong Licentieomvang van de Gelicentieerde Applicatie.
  De Gelicentieerde Applicatie wordt aan u in licentie gegeven en niet aan u verkocht. Onder voorbehoud van de voorwaarden en van deze Overeenkomst verleent ChefSteps
  u een beperkte, niet-exclusieve, niet-overdraagbare, niet-sublicentieerbare, wereldwijde licentie om de Gelicentieerde Applicatie te downloaden, installeren en gebruiken op bepaalde door de Application Store Provider goedgekeurde apparaten of producten
  (elk een "
  %strong> Apparaat
  ") die u bezit of beheert en zoals toegestaan door eventuele toepasselijke voorwaarden die verstrekt zijn door de Application Store Provider ("
  %strong> Gebruiksregels
  "). De voorwaarden van deze licentie zijn
  van toepassing op alle upgrades die door ChefSteps worden uitgevoerd en die de oorspronkelijke Gelicentieerde Applicatie vervangen of aanvullen, tenzij een upgrade vergezeld gaat van een afzonderlijke licentie, in welk geval de voorwaarden van die afzonderlijke
  licentie van toepassing zullen zijn.
%p
  %strong 4.
  %strong Licentiebeperkingen.
  In het voorgaande staan al uw rechten met betrekking tot de Gelicentieerde Applicaties en wij behouden ons alle rechten op de Gelicentieerde Applicaties voor die in deze Overeenkomst niet uitdrukkelijk
  aan u zijn verleend. De licentie die aan u in artikel 3 wordt verleend, staat u niet toe om een van de volgende zaken te doen:
  (a) gebruik maken van de Gelicentieerde Applicatie op een Apparaat waarvan u geen eigenaar bent of waarover u geen zeggenschap heeft;
  (b) de Gelicentieerde Applicatie (behoudens voor zover uitdrukkelijk toegestaan door deze Overeenkomst of de Gebruiksregels) of ChefSteps’ eigen materialen distribueren, kopiëren, in licentie geven, verhuren, verkopen, wederverkopen, publiceren, leasen of anderszins overdragenaan een derde ;
  (c) reverse engineeren (behoudens in gevallen waarin u het recht heeft om dit te doen uit hoofde van het toepasselijk dwingend recht), decompileren, demonteren of enige broncode of handelsgeheimen met betrekking tot de Gelicentieerde Applicatie of enige eigen materialen van ChefSteps proberen te ontdekken, tenzij en voor zover toegestaan onder de toepasselijke wetgeving;
  (d) afgeleide werken of latere versies van de Gelicentieerde Applicatie aanpassen, veranderen of creëren;
  (e) aanduidingen van auteursrecht, handelsmerken of andere aanduidingen van eigendomsrechten op of in de Gelicentieerde Applicatie verwijderen, wijzigen of verbergen; 
  (f) een omweg om technische beperkingen in de Gelicentieerde Applicatie
  aanbrengen (workaround); of
  (g) de Gelicentieerde Applicatie gebruiken voor andere doeleinden dan voor uw eigen persoonlijke, niet-commerciële gebruik of waarvoor deze niet is ontworpen. Tenzij uitdrukkelijk hierin of anderszins door ChefSteps wordt
  vermeld, zal niets in deze Overeenkomst worden uitgelegd als het verlenen van enig recht of licentie op intellectuele eigendomsrechten, hetzij door uitsluiting, implicatie of anderszins. Wanneer u in strijd handelt met deze beperkingen, kan een vervolging
  tegen u worden ingesteld en schadevergoeding worden geëist. Deze licentie is op elk moment herroepbaar, bijvoorbeeld als u deze Overeenkomst overtreedt.
%p
  %strong 5.
  = succeed "." do
    %strong Privacybeleid
  %a{:href => "https://www.chefsteps.com/privacy"} Privacybeleid
  van ChefSteps toegestaan informatie over u te verzamelen, gebruiken en delen, met inbegrip van,
  maar niet beperkt tot, informatie over uw gebruik van de Gelicentieerde Applicatie, het Apparaat, de systeem- en applicatiesoftware en randapparatuur, die wordt verzameld in verband met uw toegang tot en gebruik van de Gelicentieerde Applicatie. Voor
  meer informatie over hoe ChefSteps informatie over u verzamelt, gebruikt en deelt in verband met uw gebruik van de Gelicentieerde Applicatie, verwijzen wij u naar het
  %a{:href => "https://www.chefsteps.com/privacy"} Privacybeleid
  van ChefSteps.
%p
  %strong 6.
  %strong Ondersteunende diensten.
  ChefSteps is op dit moment niet verplicht om ondersteunende diensten of onderhoudsdiensten voor de Gelicentieerde Applicatie te verlenen. Indien u vragen heeft over de Gelicentieerde Applicatie,
  verzoeken wij u contact op te nemen met ChefSteps op
  = succeed "." do
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
%p
  %strong 7.
  = succeed "." do
    %strong Productclaims
  = succeed "." do
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
%p
  %strong 8.
  = succeed "." do
    %strong Aanvullende voorwaarden
  %a{:href => "https://www.chefsteps.com/terms"} Gebruiksvoorwaarden
  en Verkoopvoorwaarden van ChefSteps (samen de "
  %strong> Aanvullende Voorwaarden
  ").
%p
  %strong 9.
  = succeed "." do
    %strong Geen garantie
  = succeed "\")" do
    %strong Gebreken
%p
  DE APPLICATION STORE PROVIDER HEEFT GEEN ENKELE GARANTIEVERPLICHTING MET BETREKKING TOT DE GELICENTIEERDE APPLICATIE OF ENIGE ANDERE CLAIMS, VERLIEZEN, AANSPRAKELIJKHEDEN, SCHADE, KOSTEN OF UITGAVEN DIE AAN EEN DEFECT VAN DE GELICENTIEERDE APPLICATIE
  KUNNEN WORDEN TOEGESCHREVEN.
%p Het recht van sommige staten of rechtsgebieden staat niet toe dat stilzwijgende garanties worden uitgesloten. Voor zover deze wetten van toepassing zijn, zijn de hierboven vermelde uitsluitingen mogelijk niet op u van toepassing.
%p
  %strong 10.
  = succeed "." do
    %strong Vrijwaring
  = succeed "\")" do
    %strong ChefSteps Partijen
  = succeed "\")," do
    %strong Vorderingen
%p
  %strong 11.
  %strong Beperking van de aansprakelijkheid.
  VOOR ZOVER TOEGESTAAN DOOR TOEPASSELIJKE WETGEVING ZAL CHEFSTEPS OF EEN VAN DE ANDERE CHEFSTEPS PARTIJEN IN GEEN GEVAL AANSPRAKELIJK ZIJN VOOR ENIGE INDIRECTE, BIJZONDERE OF INCIDENTELE
  SCHADE, GEVOLGSCHADE OF PUNITIEVE SCHADE VAN WELKE AARD DAN OOK (MET INBEGRIP VAN, MAAR NIET BEPERKT TOT, VERLIES VAN OMZET, INKOMEN OF WINST, VERLIES VAN GEBRUIK OF GEGEVENS, VERLIES OF WAARDEVERMINDERING VAN ACTIVA OF EFFECTEN, OF SCHADE DOOR BEDRIJFSONDERBREKING)
  DIE VOORTVLOEIT UIT OF OP ENIGERLEI WIJZE VERBAND HOUDT MET UW DOWNLOAD, INSTALLATIE OF GEBRUIK VAN DE GELICENTIEERDE APPLICATIE (MET INBEGRIP VAN MAAR NIET BEPERKT TOT, ALLE SCHADE VEROORZAAKT DOOR OF VOORTVLOEIENDE UIT HET VERTROUWEN VAN EEN GEBRUIKER
  IN DE VAN CHEFSTEPS ONTVANGEN INFORMATIE, OF FOUTEN, OMISSIES, ONDERBREKINGEN, VERWIJDERINGEN VAN BESTANDEN OF E-MAILS, VERGISSINGEN, DEFECTEN, BUGS, VIRUSSEN, TROJAANSE PAARDEN, OF VERTRAGINGEN IN WERKING OF OVERDRACHT OF EEN GEBREKKIGE WERKING, AL
  DAN NIET ALS GEVOLG VAN NATUURRAMPEN, FALEN VAN DE COMMUNICATIE, DIEFSTAL, VERNIETIGING OF ONBEVOEGDE TOEGANG TOT DOCUMENTEN, PROGRAMMA'S OF SYSTEMEN VAN CHEFSTEPS), ONGEACHT DE VORM VAN DE ACTIE, HETZIJ OP BASIS VAN CONTRACTBREUK OF ONRECHTMATIGE DAAD
  (MET INBEGRIP VAN, MAAR NIET BEPERKT TOT, EENVOUDIGE NALATIGHEID, OFWEL ACTIEF, PASSIEF OF TOEREKENBAAR), RISICOAANSPRAKELIJKHEID VOOR HET PRODUCT OF ENIGE ANDERE RECHTS- OF BILLIJKHEIDSTHEORIE (ZELFS ALS DE PARTIJ OP DE HOOGTE IS GESTELD VAN DE MOGELIJKHEID
  VAN DERGELIJKE SCHADE EN ONGEACHT OF DEZE SCHADE HAD KUNNEN WORDEN VOORZIEN).
%p
  VOOR ZOVER TOEGESTAAN DOOR HET TOEPASSELIJK RECHT, ZAL DE MAXIMALE TOTALE AANSPRAKELIJKHEID VAN CHEFSTEPS EN DE CHEFSTEPS PARTIJEN (GEZAMENLIJK) IN GEEN GEVAL, , ONGEACHT OF HET VOORTKOMT UIT EEN CONTRACTUELE INBREUK VOORKOMENDE UIT OF OP ENIGERLEI WIJZE
  VERBANDHOUDEND MET DE GELICENTIEERDE AANVRAAG, MEER BEDRAGEN DAN TIEN DOLLAR ($10,00).
%p In sommige rechtsgebieden is uitsluiting of beperking van incidentele of gevolgschade niet toegestaan, zodat de bovenstaande beperking of uitsluiting mogelijk niet op u van toepassing is.
%p
  %strong 12.
  = succeed "." do
    %strong Geen export
%p
  %strong 13.
  = succeed "." do
    %strong Naleving van de wet
%p
  %strong 14.
  %strong Commerciële zaken.
  Indien verworven door een agentschap van de Amerikaanse overheid, erkent dit agentschap dat (a) de Gelicentieerde Applicatie "commerciële computersoftware" of "documentatie van commerciële computersoftware"
  is in de zin van 48 C.F.R. §12.212 dan wel 48 C.F.R. §227.7202, voor zover van toepassing; en (b) de rechten van dat agentschap beperkt zijn tot de rechten die specifiek uit hoofde van deze Overeenkomst zijn verleend.
%p
  %strong 15.
  = succeed "." do
    %strong Begunstigde derden
%p
  %strong 16.
  %strong Beëindiging.
  Niettegenstaande alles wat in deze Overeenkomst is opgenomen, behoudt ChefSteps zich het recht voor om zonder voorafgaande kennisgeving en naar eigen goeddunken uw recht op toegang tot of uw gebruik van
  de Gelicentieerde Applicatie te beëindigen en om uw toekomstige toegang tot en uw gebruik van de Gelicentieerde Applicatie te blokkeren of te verhinderen. U heeft ook het recht om de Overeenkomst zonder voorafgaande kennisgeving, naar eigen goeddunken
  en te allen tijde te beëindigen door de Gelicentieerde Applicatie te verwijderen.
%p
  %strong 17.
  = succeed "." do
    %strong Scheidbaarheid
%p
  %strong 18.
  = succeed "." do
    %strong Heersend recht
%p
  %strong 19.
  = succeed "." do
    %strong Contact
%p
  ChefSteps, Inc.
  %br/
  Attn: ChefSteps Legal Team
  %br/
  1501 Pike Place, Suite 300,
  %br/
  Seattle, WA 98101
  %br/
  USA
  %br/
  Telephone: 206-905-1099
  %br/
  Email: info@chefsteps.com
  %br/
