%h4 Contrat de licence d’utilisateur final
%p Dernière mise à jour : 13/10/2017
%p
  Le présent contrat de licence d’utilisateur final (ci-après « le
  = succeed "\u{a0}\u{bb})" do
    %strong Contrat
  = succeed "\u{a0}\u{bb})" do
    %strong Application sous licence
  = succeed "\u{a0}\u{bb})." do
    %strong ChefSteps
%p
  ChefSteps se réserve le droit de modifier tout ou partie de ce contrat à tout moment et à sa seule discrétion. Si elle apporte des modifications à ce contrat, ChefSteps le notifiera par l’envoi d’un courrier électronique, par l’envoi d’une note par l’intermédiaire
  de l’Application sous licence ou par l’actualisation de la date de
  %strong « Dernière Mise à Jour »
  qui figure au début de ce document. En continuant à accéder à l’Application sous licence ou à l’utiliser après que ChefSteps ait notifié lesdites
  modifications vous acceptez les termes du Contrat tel que modifié et toutes les dispositions du présent contrat auxquelles il fait référence.
%p
  VEUILLEZ LIRE ATTENTIVEMENT LE PRÉSENT CONTRAT. IL CONTIENT DES DISPOSITIONS IMPORTANTES QUI VOUS CONCERNENT PERSONNELLEMENT, AINSI QUE VOTRE UTILISATION DE L’APPLICATION SOUS LICENCE. EN INSTALLANT L’APPLICATION MOBILE VOUS CONSENTEZ AUX DISPOSITIONS
  DU PRÉSENT CONTRAT ET À CELLES DE NOS CONDITIONS GÉNÉRALES DE VENTE ET D’UTILISATION QUI EN SONT PARTIES INTÉGRANTES PAR RÉFÉRENCE. SI VOUS NE CONSENTEZ PAS AUX DISPOSITIONS DU PRÉSENT CONTRAT OU À CELLES DE NOS CONDITIONS GÉNÉRALES DE VENTE ET D’UTILISATION,
  N’INSTALLEZ PAS L’APPLICATION SOUS LICENCE, NE L’OUVREZ PAS ET NE L’UTILISEZ PAS.
%p
  Le Contrat est conclu entre vous et ChefSteps et ne vous lie pas contractuellement à l’opérateur de la boutique d’applications mobiles (ci-après le « 
  %strong> Magasin d’applications en ligne
   ») à partir de laquelle vous avez installée l’Application
  sous licence. ChefSteps est seule responsable de l’Application sous licence et de son contenu, à l’exclusion du Magasin d’applications en ligne.
%p
  %strong> 1.	Consentement aux communications électroniques
  \. – ChefSteps peut être soumise à une obligation légale de vous envoyer des communications au sujet de l’Application sous licence et de l’utilisation que vous en faites. Vous consentez à
  recevoir ces communications par voie électronique (c’est-à-dire par courrier électronique,
  %em via
  le site Web de ChefSteps ou
  %em via
  l’Application sous licence).
%p
  %strong> 2.	Propriété de l’Application sous licence
  \. – L’Application sous licence est la propriété de ChefSteps et de ses concédants de licence ; elle est protégée par le droit d’auteur ainsi que d’autres droits légaux de propriété intellectuelle.
  ChefSteps et ses concédants de licence sont titulaires de tous les droits, titres et intérêts attachés à l’Application sous licence, y compris les droits de reproduction et autres droits de propriété intellectuelle y relatifs. ChefSteps se réserve tout
  droit qui ne vous a pas été expressément concédé.
%p
  %strong> 3.	Champ d’application de la licence de l’Application
  \. – L’Application vous est fournie dans le cadre d’une concession de licence et non en vertu d’une vente. Aux termes des dispositions du Contrat, ChefSteps vous concède une licence
  limitée, non exclusive, incessible, ne pouvant faire l’objet d’une sous‑licence et valable pour le monde entier. Aux termes de cette licence, vous êtes autorisés à télécharger, installer et utiliser l’Application sous licence sur certains appareils
  ou produits dont vous êtes propriétaires ou qui sont sous votre contrôle, et agréés par le Magasin d’applications en ligne (ci-après « 
  %strong> l’Appareil 
  ») et dans les limites autorisées par toute disposition applicable dudit Magasin d’applications
  en ligne (ci-après « les
  = succeed "\u{a0}\u{bb})." do
    %strong Règles d’utilisation
%p
  %strong> 4.	Restrictions de la licence
  \. Ce qui précède prévoit l’intégralité de vos droits sur les Applications sous licence et nous nous réservons tous les droits attachés aux Applications sous licence qui ne vous ont pas été expressément concédés
  en vertu du présent Contrat. La licence qui vous est concédée au titre de l’Article 3 ne vous autorise pas : (a) à utiliser l’Application sous licence sur un appareil qui ne vous appartient pas ou dont vous n’avez pas le contrôle ; (b) à distribuer,
  dupliquer, concéder sous licence, louer, vendre, publier, vendre en crédit-bail ou céder d’une quelconque manière et à une quelconque tierce partie l’Application sous licence (sauf autorisation expresse aux termes du présent Contrat ou des Règles d’utilisation)
  ou tout élément dont ChefSteps est propriétaire ; (c) à soumettre l’Application sous licence ou un élément dont ChefSteps est propriétaire à des opérations d’ingénierie inverse (sauf si vous y êtes autorisé au titre de la loi applicable), de décompilation
  ou de désassemblage, ni de tenter d’accéder au code‑source ou à tout secret commercial relatif à l’Application sous licence ou à tout élément dont ChefSteps est propriétaire, sauf dans la mesure permise par les lois applicables ; (d) à modifier, altérer
  ou créer une œuvre dérivée ou une version ultérieure de l’Application sous licence ; (e) à supprimer, altérer ou masquer une information relative au droit d’auteur, aux marques ou à tout autre droit de propriété se trouvant sur ou dans l’Application
  sous licence ; (f) à contourner une limite technique de l’Application sous licence ; (g) à utiliser l’Application sous licence à un autre usage que votre usage personnel à but non lucratif ou que celui pour lequel elle a été prévue. Sauf autre disposition
  expresse prévue aux présentes ou dans un autre document par ChefSteps, rien dans le présent Contrat ne pourra être interprété comme conférant un droit ou concédant une licence de droit de propriété intellectuelle par
  = succeed "," do
    %em estoppel
%p
  %strong> 5.	Politique de confidentialité
  \. Conformément à sa Politique de confidentialité, ChefSteps peut collecter, utiliser et partager des informations à votre sujet, par exemple des informations sur votre mode d’utilisation de l’Application
  sous licence, de l’Appareil, du système et des logiciels d’application, ainsi que des périphériques, qui sont recueillies dès lors que vous accédez à l’Application sous licence ou l’utilisez. Veuillez vous reporter à la Politique de confidentialité
  de ChefSteps pour obtenir plus d’informations sur la manière dont ChefSteps collecte, utilise et partage des informations à votre sujet en lien avec votre mode d’utilisation de l’Application sous licence.
%p
  %strong> 6.	Services d’assistance
  \. ChefSteps n’est pas soumis à une obligation de fournir des services d’assistance ou de maintenance de l’Application sous licence. Si vous avez des questions au sujet de l’Application sous licence, veuillez contacter
  ChefSteps à l’adresse
  = succeed "." do
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
%p
  %strong> 7.	Réclamations relatives au produit
  \. Il incombe à ChefSteps, à l’exclusion du Magasin d’applications en ligne de répondre aux questions, commentaires ou réclamations concernant l’Application sous licence ou votre possession ou utilisation
  de ladite Application sous licence et notamment les réclamations (a) relatives à la responsabilité du fait des produits défectueux ; (b) relatives à la non-conformité de l’Application sous licence à une disposition légale ou réglementaire applicable ;
  ou (c) au titre de la protection du consommateur ou de toute autre loi ou règlementation similaire. Pour toute question, veuillez contacter ChefSteps à l’adresse
  = succeed "." do
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
%p
  %strong> 8.	Conditions additionnelles
  \. Il se peut que l’Application sous licence permette d’accéder à des sites Web à des applications mobiles et à d’autres produits et services en ligne fournis par ChefSteps ou des tiers, y compris les Conditions
  générales de vente et d’utilisation de ChefSteps. Pour y accéder et les utiliser, il se peut que votre consentement à ces conditions et votre respect des conditions et des politiques additionnelles de ChefSteps ou desdits tiers soient requis (collectivement
  « les
  = succeed "\u{a0}\u{bb})." do
    %strong Conditions additionnelles
%p
  %strong> 9.	Absence de garantie
  \. VOUS RECONNAISSEZ ET CONSENTEZ (A) À CE QUE L’APPLICATION SOUS LICENCE PUISSE CONTENIR DES
  = succeed "," do
    %em « BUGS »
  = succeed "\u{a0}\u{bb})" do
    %strong Défauts
%p
  LE MAGASIN D’APPLICATIONS N’EST SOUMIS À AUCUNE OBLIGATION DE GARANTIE EN RAPPORT AVEC L’APPLICATION SOUS LICENCE, NI EN CAS DE RÉCLAMATION, PERTE, RESPONSABILITÉ ENCOURUE, DOMMAGES‑INTÉRÊTS, FRAIS OU DÉPENSES IMPUTABLES À UNE DÉFAILLANCE DE L’APPLICATION
  SOUS LICENCE.
%p Les lois de certains états n’autorisent pas l’exclusion des garanties tacites. Dans le cas où ces lois trouveraient à s’appliquer, les exclusions de garantie ci-dessus peuvent ne pas vous être applicables.
%p
  %strong> 10.	Indemnisation
  \. Dans les limites prévues par les lois applicables, vous consentez à indemniser et défendre ChefSteps et, selon le cas, ses employés, dirigeants, administrateurs, sous-traitants, consultants, actionnaires, fournisseurs,
  sociétés-mères, filiales, sociétés affiliées, mandataires, représentants, prédécesseurs, successeurs et ayants droit (ci-après « les
  = succeed "\u{a0}\u{bb})" do
    %strong Parties ChefSteps
  = succeed "\u{a0}\u{bb})," do
    %strong Plaintes
%p
  %strong> 11.	Responsabilité limitée
  \. DANS LES LIMITES PRÉVUES PAR LES LOIS APPLICABLES, LA RESPONSABILITÉ DE CHEFSTEPS NI D’AUCUNE DES PARTIES CHEFSTEPS NE POURRA ÊTRE ENGAGÉE EN CAS DE DOMMAGES INDIRECTS, PARTICULIERS, ACCESSOIRES, CONSÉCUTIFS
  OU PUNITIFS D’AUCUNE SORTE (NOTAMMENT : PERTE DE CHIFFRE D’AFFAIRES, DE REVENU OU DE BÉNÉFICE, PERTE D’UTILISATION OU DE DONNÉES, PERTE OU DIMINUTION DE LA VALEUR DES ACTIFS OU TITRES OU DOMMAGES PAR SUITE D’UNE INTERRUPTION D’ACTIVITÉ) ET DIRECTEMENT
  OU INDIRECTEMENT LIÉS AU TÉLÉCHARGEMENT, À L’INSTALLATION OU À L’UTILISATION PAR VOUS DE L’APPLICATION SOUS LICENCE (NOTAMMENT TOUT DOMMAGE DIRECTEMENT OU INDIRECTEMENT LIÉ AU FAIT QU’UN UTILISATEUR SE SERA FIÉ À UNE INFORMATION OBTENUE AUPRÈS DE CHEFSTEPS,
  OU PAR SUITE D’ERREUR, OMISSION, INTERRUPTION, SUPPRESSION DE FICHIERS OU D’E-MAILS, DÉFAUT, « BUG », VIRUS, CHEVAL DE TROIE, RETARD D’EXPLOITATION OU DE TRANSMISSION OU DÉFAILLANCE DE FONCTIONNEMENT, RÉSULTANT OU NON D’UN CAS DE FORCE MAJEURE, DÉFAILLANCE
  DE TÉLÉCOMMUNICATION, VOL, DESTRUCTION OU ACCÈS SANS AUTORISATION AUX DOSSIERS, PROGRAMMES OU SYSTÈMES DE CHEFSTEPS, QUE LE FONDEMENT DE L’ACTION EN JUSTICE SOIT CONTRACTUEL, DÉLICTUEL OU AUTRE (NOTAMMENT, MAIS NON LIMITATIVEMENT, POUR SIMPLE NÉGLIGENCE
  ACTIVE, PASSIVE OU SUPPOSÉE), UNE STRICTE RESPONSABILITÉ DU FAIT DU PRODUIT OU TOUT AUTRE THÉORIE JURIDIQUE OU EN ÉQUITÉ (MÊME SI LA PARTIE A ÉTÉ INFORMÉE DE L’ÉVENTUALITÉ DE TELS DOMMAGES ET QUAND BIEN MÊME ILS ÉTAIENT PRÉVISIBLES).
%p
  DANS LES LIMITES PRÉVUES PAR LES LOIS APPLICABLES, LA RESPONSABILITÉ TOTALE MAXIMALE DE CHEFSTEPS ET DES PARTIES CHEFSTEPS (COLLECTIVEMENT), ENCOURUE CONTRACTUELLEMENT OU AUTREMENT PAR RAPPORT À L’APPLICATION SOUS LICENCE, NE POURRA EN AUCUN CAS ÊTRE
  ENGAGÉE POUR UN MONTANT SUPÉRIEUR À DIX DOLLARS (10,00 USD).
%p Certains pays interdisent l’exclusion ou la limitation des dommages-intérêts indirects ou consécutifs. Il est donc possible que les exclusions ou limitations ci-dessus ne vous soient pas applicables.
%p
  %strong> 12.	Interdiction d’exportation
  \. Il vous est interdit d’utiliser, d’exporter ou réexporter tout ou partie de l’Application sous licence, sauf quand cela est autorisé par les lois des États‑Unis et celles du pays dans lequel tout ou partie
  de l’Application sous licence a été obtenu. En particulier, tout ou partie de l’Application sous licence ne peut être exporté ou réexporté vers (a) un pays frappé d’embargo par les États‑Unis ou (b) vers quiconque figure sur la liste des « Specially
  Designated Nationals » établie par le Département américain du Trésor ou sur les listes des « Denied Persons » ou des « Entities » établie par le Département américain du Commerce.
%p
  %strong> 13.	Respect de la loi
  \. En téléchargeant, installant et utilisant l’Application sous licence, vous déclarez et garantissez (a) que vous ne vous trouvez pas dans un pays frappé d’embargo ou désigné comme « favorisant le terrorisme » par
  le gouvernement des États‑Unis et (b) que vous ne figurez sur aucune liste de personnes frappées d’interdiction ou de restrictions par le gouvernement des États-Unis. Vous vous conformerez à l’ensemble des lois, règles et réglementations et, notamment,
  aux lois des États-Unis sur le contrôle des exportations.
%p
  %strong> 14.	Articles commerciaux
  \. En cas d’achat par une agence du gouvernement des États-Unis, ladite agence reconnaît (a) que l’Application sous licence constitue un « logiciel informatique commercial » ou la « documentation d’un logiciel informatique
  commercial » aux fins définies aux 48 C.F.R. §12.212 ou 48 C.F.R. §227.7202 selon le cas, et (b) que les droits de ladite agence se limitent à ceux spécifiquement concédés par le Contrat.
%p
  %strong> 15.	Tiers bénéficiaires
  \. Le Magasin d’applications en ligne et ses éventuelles filiales sont des tiers bénéficiaires du Contrat. À la suite de votre acceptation du Contrat, le Magasin d’applications en ligne sera en droit (et sera réputé
  avoir accepté ce droit) de faire valoir, en qualité de tiers bénéficiaire, ledit Contrat à votre égard.
%p
  %strong> 16.	Résiliation
  \. Sans préjudice de toute autre disposition du Contrat, ChefSteps se réserve le droit, sans préavis et à sa seule discrétion, de mettre fin à votre droit d’accès ou d’utilisation de l’Application sous licence et d’en bloquer
  l’accès et l’utilisation à l’avenir. Vous pouvez résilier le Contrat, sans préavis et à votre seule discrétion, en désinstallant l’Application sous licence.
%p
  %strong> 17.	Autonomie des termes
  \. Toute condition, clause ou disposition du Contrat qui s’avèrerait invalide ou inapplicable sera séparée du Contrat sans pour autant affecter la validité ou la force exécutoire du reste de ladite condition, clause
  ou disposition et des autres conditions, clauses ou dispositions du Contrat.
%p
  %strong> 18.	Droit du Contrat
  \. Le Contrat est régi, interprété et pourra être exécuté par décision de justice conformément aux lois de l’État de Washington, nonobstant les règles ou principes en matière de conflits de lois qui pourraient entraîner
  l’application des lois d’un autre pays.
%p
  %strong> 19.	Contact
  \. Si vous avez des questions ou des préoccupations au sujet de l’Application sous licence ou du Contrat, veuillez contacter ChefSteps aux coordonnées suivantes :
%p
  ChefSteps, Inc.
  %br/
  Attn: ChefSteps Legal Team
  %br/
  1501 Pike Place, Suite 300,
  %br/
  Seattle, WA 98101
  %br/
  USA
  %br/
  Telephone: 206-905-1099
  %br/
  Email: info@chefsteps.com
  %br/
