%h4 Lisensavtale for sluttbrukere
%p Sist oppdatert: 13/10/2017
%p
  Denne lisensavtalen for sluttbrukere («
  %strong> Avtalen
  ») regulerer nedlasting, installasjon og bruk av mobilapplikasjonen (den «
  %strong> Lisensierte Applikasjonen
  ») levert av ChefSteps Inc. («
  %strong> ChefSteps
  »). HVIS DU ER BOSATT
  UTENFOR USA, KAN YTTERLIGERE VILKÅR OG BETINGELSER GJELDE FOR DEG, SOM ENTEN SUPPLERER ELLER ERSTATTER ENKELTE BESTEMMELSER I DENNE AVTALEN. VENNLIGST GJENNOMGÅ SISTE DEL AV DETTE DOKUMENTET FOR Å AVGJØRE OM EVENTUELLE YTTERLIGERE VILKÅR OG BETINGELSER
  GJELDER FOR DEG.
%p
  ChefSteps forbeholder seg retten til å endre eller modifisere denne avtalen når som helst og etter eget forgodtbefinnende. Dersom ChefSteps gjør endringer i denne avtalen, vil det gis varsel om slike endringer, enten via e-post, beskjed via den Lisensierte
  Applikasjonen eller ved å oppdatere datoen "
  %strong> sist oppdatert
  " i begynnelsen av denne avtalen. Ved fortsatt tilgang til og bruk av den Lisensierte Applikasjonen etter ChefSteps' varsling om slike endringer, bekrefter du at du godtar den
  reviderte avtalen og alle vilkårene innlemmet i denne, med referanser.
%p
  VENNLIGST LES DENNE AVTALEN NØYE. AVTALEN INNEHOLDER VIKTIGE BETINGELSER SOM PÅVIRKER DEG OG DIN BRUK AV DEN LISENSIERTE APPLIKASJONEN. VED Å INSTALLERE MOBILAPPLIKASJONEN GODTAR DU Å BINDE DEG TIL VILKÅRENE I DENNE AVTALEN OG
  %a{:href => "https://www.chefsteps.com/terms"} VILKÅRENE VÅRE FOR BRUK
  OG SALG, INKORPORERT VED HENVISNING. DERSOM DU IKKE GODTAR VILKÅRENE I DENNE AVTALEN OG VILKÅRENE VÅRE FOR BRUK OG SALG, IKKE INSTALLER, GÅ INN PÅ ELLER BRUK DEN LISENSIERTE APPLIKASJONEN.
%p
  Denne Avtalen er en bindende avtale mellom deg og ChefSteps, og ikke med leverandøren av mobilapplikasjonsbutikken som du installerte den lisensierte applikasjonen fra ("
  %strong> Applikasjonsbutikkleverandøren
  "). ChefSteps, ikke Applikasjonsbutikkleverandøren,
  er alene ansvarlig for den Lisensierte Applikasjonen og dens innhold.
%p
  %strong> 1.	Samtykke til elektronisk kommunikasjon
  \. ChefSteps kan bli pålagt ved lov å sende meddelelser til deg vedrørende den Lisensierte Applikasjonen og din bruk av denne. Du samtykker i å motta disse meddelelsene ved elektronisk kommunikasjon
  (eksempelvis via e-post, gjennom ChefSteps nettside eller via den Lisensierte Applikasjonen).
%p
  %strong 2.	Eierskap til den Lisensierte Applikasjonen.
  Den Lisensierte Applikasjonen tilhører Chefstep og deres lisensgivere og er beskyttet av opphavsrett, samt annen immateriell lovgivning og traktater. ChefSteps og deres lisensgivere eier
  alle rettigheter og titler i og til den Lisensierte Applikasjonen, inkludert opphavsrettigheter og andre immaterielle rettigheter. Chefsteps forbeholder seg alle rettigheter som ikke uttrykkelig er gitt til deg.
%p
  %strong 3.	Omfanget av lisensen til den Lisensierte Applikasjonen.
  Den Lisensierte Applikasjonen er lisensiert, og ikke solgt, til deg. I henhold til vilkårene og betingelsene i denne Avtalen gir ChefSteps deg en begrenset, ikke-eksklusiv, ikke-overførbar,
  ikke-viderelisensierbar, verdensomspennende lisens til å laste ned, installere og bruke den Lisensierte Applikasjonen på visse enheter eller produkter (hver en
  %strong «enhet»)
  autorisert av Applikasjonsbutikkleverandøren som du eier eller
  kontrollerer og som er tillatt av eventuelle gjeldende vilkår og betingelser gitt av Applikasjonsbutikkleverandøren ("
  %strong> bruksregler
  "). Vilkårene i denne lisensen vil styre eventuelle oppgraderinger utført av ChefSteps som erstatter eller
  supplerer den opprinnelige Lisensierte Applikasjonen, med mindre en oppgradering er ledsaget av en egen lisens. Vilkårene i den separate lisensen vil da komme til anvendelse.
%p
  %strong> 4.	Lisensbegrensninger
  \. Det foregående angir alle dine rettigheter når det gjelder den Lisensierte Applikasjonen. Vi forbeholder oss alle rettigheter i og til den Lisensierte Applikasjonen som ikke uttrykkelig er gitt til deg i denne
  avtalen. Lisensen gitt til deg i del 3 gir deg ikke rett til å gjøre noe av det følgende: (a) Bruke den Lisensierte Applikasjonen på en Enhet du ikke eier eller kontrollerer; (b) distribuere, kopiere, lisensiere, leie, selge, videreselge, publisere,
  lease eller på annen måte overføre den Lisensierte Applikasjonen (med mindre uttrykkelig tillatt i denne avtalen eller brukerreglementet) eller annet proprietært materiale tilhørende ChefSteps til noen tredjepart; (c) foreta omvendt utvikling (med mindre
  du har rett til dette under gjeldende ufravikelige rettsregler), dekompilere, demontere eller forsøke å finne ut av en kildekode eller forretningshemmeligheter relatert til den Lisensierte Applikasjonen eller noe annet proprietært materiale tilhørende
  ChefSteps, med mindre, og i den utstrekning det er tillatt under gjeldende lov; (d) modifisere, endre eller lage avledede produkter eller senere versjoner av den Lisensierte Applikasjonen; (e) fjerne, endre eller skjule eventuelle notiser om opphavsrett,
  varemerke eller annen rettighetsmarkering på den Lisensierte Applikasjonen; (f) omgå eventuelle tekniske begrensninger i den Lisensierte Applikasjonen; eller (g) bruke den Lisensierte Applikasjonen for andre formål enn din egen personlige, ikke-kommersielle
  bruk, eller til formål som den ikke var tiltenkt. Med mindre eksplisitt angitt her eller ellers av ChefSteps, skal ingenting i denne avtalen tolkes som en innrømmelse av en rettighet eller lisens til immaterielle rettigheter, enten ved passivitet, implikasjon
  eller annet. Hvis du bryter noen av disse restriksjonene, kan du bli utsatt for straffeforfølgelse og krevd for erstatning. Denne lisensen kan når som helst tilbakekalles, for eksempel dersom du bryter denne avtalen.
%p
  %strong> 5.	Personvernpolicy
  \. I henhold til ChefSteps'
  %a{:href => "https://www.chefsteps.com/privacy"} personvernpolicy
  kan ChefSteps samle inn, bruke og dele informasjon om deg, inkludert, men ikke begrenset til, informasjon om din bruk av den
  Lisensierte Applikasjonen, enheten, systemet og applikasjonens programvare, samt eksterne enheter som brukes i forbindelse med tilgangen din til og bruken av den Lisensierte Applikasjonen. For mer informasjon om hvordan ChefSteps samler inn, bruker
  og deler opplysninger om deg i forbindelse med din bruk av den lisensierte applikasjonen, vennligst se ChefSteps'
  %a{:href => "https://www.chefsteps.com/privacy"} personvernpolicy.
%p
  %strong> 6.	Støttetjenester
  \. ChefSteps er på nåværende tidspunkt ikke forpliktet til å yte støtte- eller vedlikeholdstjenester til den Lisensierte Applikasjonen. Dersom du har spørsmål angående den Lisensierte Applikasjonen, vennligst kontakt
  ChefSteps på
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \. Applikasjonsbutikkleverandøren har ingen forpliktelse til å støtte eller vedlikeholde tjenester i forbindelse med den Lisensierte Applikasjonen.
%p
  %strong> 7.	Produktkrav
  \. ChefSteps, ikke Applikasjonsbutikkleverandøren, er ansvarlig for å ta opp eventuelle spørsmål, kommentarer eller krav vedrørende den Lisensierte Applikasjonen eller din besittelse og bruk av den Lisensierte Applikasjonen,
  inkludert, men ikke begrenset til (a) produktansvarskrav; (b) ethvert krav som den Lisensierte Applikasjonen ikke overholder når det gjelder gjeldende juridiske eller forskriftsmessige krav; eller (c) krav som oppstår i henhold til forbrukervernlovgivning
  eller liknende lovgivning. Dersom du har spørsmål, vennligst kontakt ChefSteps på
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \.
%p
  %strong> 8.	Ytterligere vilkår
  \. Den Lisensierte Applikasjonen kan aktivere tilgang til nettsider, mobilapplikasjoner og andre nettjenester og produkter fra ChefSteps og tredjeparter. Din tilgang til og bruk av disse nettsidene, mobilapplikasjonene
  eller andre nettjenester og produkter kan kreve godkjennelse og etterlevelse av ytterligere vilkår og policyer gitt av ChefSteps og/eller tredjeparter, der aktuelt. Dette inkluderer, men er ikke begrenset til, ChefSteps'
  %a{:href => "https://www.chefsteps.com/terms"} brukerbetingelser
  og salg (samlet, "
  %strong> Ytterligere Vilkår
  ").
%p
  %strong 9.	Ingen garanti.
  DU ERKJENNER OG GODTAR AT (A) DEN LISENSIERTE APPLIKASJONEN KAN INNEHOLDE PROGRAMFEIL, ANDRE FEIL OG MANGLER VI IKKE ER KLAR OVER; (B) NEDLASTING, INSTALLASJON OG BRUK AV DEN LISENSIERTE APPLIKASJONEN GJØRES PÅ EGET
  ANSVAR; OG (C) ALL RISIKO KNYTTET TIL TILFREDSSTILLENDE KVALITET, YTELSE, NØYAKTIGHET OG INNSATS LIGGER HOS DEG. FØLGELIG LEVERES DEN LISENSIERTE APPLIKASJONEN "SOM DEN ER", "SOM TILGJENGELIG", MED ALLE DENS FEIL OG MANGLER, OG UTEN NOEN FORM FOR GARANTI.
  CHEFSTEPS FRASKRIVER SEG ALLE GARANTIER (DIREKTE OG INDIREKTE, SOM OPPSTÅR VED LOV ELLER ANNET) ANGÅENDE DEN LISENSIERTE APPLIKASJONEN OG DENS YTELSE ELLER EGNETHET FOR DITT TILTENKTE BRUK, INKLUDERT, OG IKKE BEGRENSET TIL, ENHVER IMPLISERT GARANTI
  FOR OMSETTELIGHET, EGNETHET FOR ET BESTEMT FORMÅL, NØYAKTIGHET OG AVTALEOVERHOLDELSE. CHEFSTEPS ER IKKE ANSVARLIG FOR NOEN FORM FOR BRUK AV, ELLER MANGLENDE BRUK AV, DEN LISENSIERTE APPLIKASJONEN ELLER FOR TAP AV DATA. CHEFSTEPS VERKEN INNESTÅR FOR
  ELLER GARANTERER AT DEN LISENSIERTE APPLIKASJONEN LEVERES UTEN EVENTUELLE FORSTYRRELSER, FORSINKELSER, UNNLATELSER ELLER FEIL (SAMLET, “
  %strong> Feil
  ”), AT LEVERINGEN SKJER PÅ EN SIKKER MÅTE ELLER AT EVENTUELLE FEIL VIL BLI RETTET. MUNTLIGE
  ELLER SKRIFTLIGE BESKJEDER ELLER RÅD GITT AV CHEFSTEPS ELLER DETS AUTORISERTE REPRESENTANTER INNEBÆRER INGEN GARANTI. DERSOM DEN LISENSIERTE APPLIKASJONEN ER SKADET, PÅTAR DU DEG HELE KOSTNADEN FOR ALL NØDVENDIG SERVICE, REPARASJON ELLER KORRIGERING.
%p APPLIKASJONSBUTIKKLEVERANDØREN HAR INGEN GARANTIFORPLIKTELSE NÅR DET GJELDER DEN LISENSIERTE APPLIKASJONEN ELLER ANDRE KRAV, TAP, ANSVAR, SKADER, KOSTNADER ELLER UTGIFTER KNYTTET TIL MANGLER VED DEN LISENSIERTE APPLIKASJONEN.
%p Enkelte staters eller jurisdiksjoners lover tillater ikke utelukkelse av underforståtte garantier. I den grad slike lover kommer til anvendelse kan det hende at utelukkelsene ovenfor ikke gjelder for deg.
%p
  %strong 10.	Skadesløsholdelse.
  Så langt gjeldende lov tillater, samtykker du i å holde skadesløs, forsvare og holde ChefSteps og våre respektive tidligere, nåværende og fremtidige ansatte, ledere, direktører, entreprenører, konsulenter, aksjonærer,
  leverandører, forhandlere, tjenesteleverandører, morselskaper, datterselskaper, tilknyttede, agenter, representanter, forgjengere og etterfølgere utenfor ansvar. I tillegg avstår du fra (“
  %strong> ChefSteps parter
  ") alle ChefSteps krav eller
  tredjeparts krav av noen slag, enten de gjelder skade, kontrakt eller annet (samlet, "
  %strong> krav
  "), inkludert skader på eiendom eller personskade som oppstår ved eller kan relateres til din nedlasting, installasjon og/eller bruk av den lisensierte
  applikasjonen. Dersom det oppstår krav om at den lisensierte applikasjonen, eller din besittelse eller bruk av denne krenker immaterielle rettigheter til en tredjepart, sier du deg enig i å kontakte ChefSteps raskt og direkte. Applikasjonsbutikkleverandøren
  vil ikke være ansvarlig for utredning, forsvar, forlik og opphevelse av noen slike immaterielle krav. Du samtykker i å samarbeide med ChefSteps’ parter for å forsvare slike krav. Videre godtar du at ChefSteps’ parter skal ha kontroll over forsvaret
  av eller oppgjøret ved ethvert tredjepartskrav. Denne skadesløsholdelsen kommer i tillegg til, og ikke i stedet for, eventuelle garantier om skadesløsholdelse som fremgår i annen skriftlig avtale mellom deg og ChefSteps.
%p
  %strong> 11.	Ansvarsbegrensning
  \. SÅ LANGT GJELDENDE LOV TILLATER, SKAL VERKEN CHEFSTEPS ELLER NOEN AV CHEFSTEPS PARTER VÆRE ANSVARLIGE FOR EVENTUELLE INDIREKTE ELLER TILFELDIGE SKADER, ELLER FØLGESKADER AV NOE SLAG (INKLUDERT, MEN IKKE BEGRENSET
  TIL, TAP AV INNTEKT, OMSETNING ELLER FORTJENESTE, TAP AV BRUK ELLER DATA, TAP ELLER REDUKSJON I VERDIEN AV EIENDELER ELLER VERDIPAPIRER, ELLER SKADER VED FORRETNINGSAVBRUDD) SOM FØLGE AV ELLER SOM PÅ NOEN MÅTE ER KNYTTET TIL NEDLASTING, INSTALLASJON
  ELLER BRUK AV DEN LISENSIERTE APPLIKASJONEN (INKLUDERT, MEN IKKE BEGRENSET TIL, SKADER FORÅRSAKET AV ELLER SOM FØLGE AV BRUKERES TILLIT TIL INFORMASJON INNHENTET FRA CHEFSTEPS, ELLER FRA FEIL, UTELATELSER, AVBRUDD, SLETTING AV FILER ELLER E-POSTER,
  FEIL, MANGLER, PROGRAMFEIL, VIRUS, TROJANSKE HESTER, FORSINKELSER I DRIFT ELLER OVERFØRING, ELLER EVENTUELL FEIL KNYTTET TIL YTELSE, SOM FØLGE AV NATURKATASTROFER ELLER ANNET, KOMMUNIKASJONSSVIKT, TYVERI, ØDELEGGELSE ELLER UAUTORISERT TILGANG TIL CHEFSTEPS'
  ARKIV, PROGRAMMER ELLER SYSTEMER), UAVHENGIG AV HANDLINGENS FORM, ENTEN BASERT PÅ KONTRAKT, SKADEVOLDENDE HANDLING (INKLUDERT, MEN IKKE BEGRENSET TIL, SIMPEL UAKTSOMHET), OBJEKTIVT PRODUKTANSVAR ELLER ANNET GRUNNLAG (SELV OM PARTEN HAR BLITT INFORMERT
  OM MULIGHETEN FOR SLIKE SKADER OG UTEN HENSYN TIL HVORVIDT SLIKE SKADER VAR PÅREGNELIGE).
%p
  SÅ LANGT GJELDENDE LOV TILLATER DET, SKAL MAKSIMALT SAMLET ANSVAR FOR CHEFSTEPS OG CHEFSTEPS’ PARTER (I FELLESSKAP) IKKE I NOE TILFELLE, ENTEN I KONTRAKT SOM FØLGE AV ELLER PÅ NOEN MÅTE KNYTTET TIL DEN LISENSIERTE APPLIKASJONEN, OVERSTIGE TI DOLLAR ($10,00).
%p Noen jurisdiksjoner tillater ikke utelukkelse eller begrensning av tilfeldige skader eller følgeskader, slik at begrensningen eller utelatelsen ovenfor muligens ikke vil få anvendelse i ditt tilfelle.
%p
  %strong> 12.	Ingen eksport
  \. Du kan ikke bruke eller på annen måte eksportere eller re-eksportere den Lisensierte Applikasjonen eller eventuelt innhold tilknyttet denne, med mindre det er tillatt i amerikansk lov og i lovene i jurisdiksjonen der
  den Lisensierte Applikasjonen eller eventuelt innhold ble innhentet. Den Lisensierte Applikasjonen og innholdet i denne kan ikke, uten begrensning, eksporteres eller re-eksporteres til (a) et land som har handelsblokade mot USA; eller (b) noen på det
  amerikanske Finansdepartement sin liste over spesielt utpekte statsborgere eller det amerikanske Handelsdepartementet sin liste over nektede personer eller enheter.
%p
  %strong 13.	Juridisk overholdelse.
  Ved å laste ned, installere og bruke den Lisensierte Applikasjonen bekrefter og garanterer du at (a) du ikke befinner deg i et land som er underlagt en amerikansk handelsblokade, eller som er utpekt av USAs
  myndigheter som et land som støtter terror; og (b) du står ikke på noen av amerikanske myndighetenes lister over forbudte eller begrensede parter. Du vil overholde alle gjeldende lover, regler og forskrifter, inkludert, men ikke begrenset til, USAs
  lover for eksportkontroll.
%p
  %strong> 14.	Kommersielle artikler
  \. Dersom ervervet av et amerikansk myndighetsorgan, erkjenner dette organet at (a) den Lisensierte Applikasjonen utgjør "kommersiell datamaskinprogramvare" eller "kommersiell dokumentasjon for datamaskinprogramvare"
  for formål som nevnt i 48 C.F.R. §12.212 og 48 C.F.R. §227.7202, gjeldene bestemmelser; (b) et slikt organs rettigheter er begrenset til de som er spesielt gitt i denne avtalen.
%p
  %strong> 15.	Tredjepartsmottakere
  \. Applikasjonsbutikkleverandøren og dens datterselskaper er tredjeparter til denne avtalen. Når du godtar denne avtalen vil Applikasjonsbutikkleverandøren ha rett (og anses å ha akseptert retten) til å håndheve
  denne avtalen overfor deg som en tredjepart.
%p
  %strong 16.	Terminering.
  Uavhengig av noe i denne avtalen forbeholder ChefSteps seg retten til, uten forvarsel og etter eget skjønn, å avslutte din rett til å bruke den Lisensierte Applikasjonen, samt blokkere eller forhindre din fremtidige tilgang
  til og bruk av den lisensierte applikasjonen. Du har også rett til, når som helst, å si opp avtalen, uten varsel og etter ditt eget skjønn, ved å avinstallere den Lisensierte Applikasjonen.
%p
  %strong> 17.	Ugyldighet
  \. Hvis et vilkår, en klausul eller en bestemmelse i denne Avtalen blir kjent ugyldig eller ugjennomførbar, så vil dette vilkåret, klausulen eller bestemmelsen tas bort fra avtalen og vil ikke påvirke gyldigheten eller gjennomførbarheten
  til noen gjenværende del av dette vilkåret, klausulen eller bestemmelsen, eller noe annet vilkår, klausul eller bestemmelse i denne Avtalen.
%p
  %strong> 18.	Gjeldende lov
  \. Denne Avtalen skal reguleres av, tolkes og håndheves i samsvar med lovene i den amerikanske staten Washington, uten hensyn til regler om konflikt med lov eller prinsipper som vil føre til anvendelse av lover fra andre
  jurisdiksjoner.
%p
  %strong> 19.	Kontakt
  \. Dersom du har spørsmål vedrørende den Lisensierte Applikasjonen eller anvendelsen av denne avtalen, vennligst kontakt ChefSteps:
%p
  ChefSteps, Inc.
  = succeed "Attn:" do
    %br/
  = succeed "1501" do
    %br/
  = succeed "Seattle," do
    %br/
  = succeed "Telefon:" do
    %br/
  = succeed "E-post:" do
    %br/
