%h3 Acuerdo de Licencia de Usuario Final
%p Última Actualización: 13/10/2017
%p
  Este Acuerdo de Licencia de Usuario Final ("
  %strong> Acuerdo
  ") regirá su descarga, instalación y uso de la aplicación móvil (la "
  %strong> Aplicación Licenciada
  ") proporcionada por ChefSteps Inc. ("
  %strong> ChefSteps
  "). SI USTED
  RESIDE FUERA DE LOS ESTADOS UNIDOS, PUEDEN APLICARLE TÉRMINOS Y CONDICIONES ADICIONALES QUE YA SEA, SUPLEMENTEN, O REEMPLACEN, CIERTAS DISPOSICIONES EN ESTE ACUERDO. POR FAVOR REVISE EL FINAL DE ESTE DOCUMENTO PARA DETERMINAR SI TÉRMINOS Y CONDICIONES
  ADICIONALES LE APLICAN.
%p
  ChefSteps se reserva el derecho a cambiar o modificar este Acuerdo en cualquier momento y a su única discreción. Si ChefSteps realiza cambios a este Acuerdo, proporcionará notificación de tales cambios, tal como enviando una notificación por correo electrónico,
  proporcionando notificación a través de la Aplicación Licenciada o al actualizar la fecha de
  %strong> “Última Actualización
  ” al principio de este acuerdo. Al continuar con el acceso o uso de la Aplicación Licenciada después de la notificación
  de tales cambios de ChefSteps, usted confirma su aceptación del Acuerdo modificado y de todos los términos incorporados al presente por referencia.
%p
  POR FAVOR LEA ESTE ACUERDO CUIDADOSAMENTE. CONTIENE TÉRMINOS IMPORTANTES QUE LO AFECTAN A USTED Y SU USO DE LA APLICACIÓN LICENCIADA. AL INSTALAR LA APLICACIÓN MÓVIL, ACEPTA LIMITARSE POR LOS TÉRMINOS DE ESTE ACUERDO Y NUESTROS
  %a{:href => "https://www.chefsteps.com/terms"} TÉRMINOS DE USO
  Y VENTA, QUE SE INCORPORAN POR REFERENCIA. SI NO ESTÁ DE ACUERDO CON LOS TÉRMINOS DE ESTE ACUERDO Y NUESTROS TÉRMINOS DE USO Y VENTA, NO INSTALE, ACCEDA O UTILICE LA APLICACIÓN LICENCIADA.
%p
  Este Acuerdo es un acuerdo vinculante entre usted y ChefSteps, y no con el proveedor de tienda de aplicaciones móviles, a través del cual usted instaló la Aplicación Licenciada ("
  %strong> Proveedor de Tienda de Aplicaciones
  "). ChefSteps, y no
  el Proveedor de Tienda de Aplicaciones, es el único responsable de la Aplicación Licenciada y el contenido de la misma.
%p
  %strong 1.
  = succeed "." do
    %strong Consentimiento de Comunicados Electrónicos
%p
  %strong 2.
  = succeed "." do
    %strong Propiedad de Aplicación Licenciada
%p
  %strong 3.
  = succeed "." do
    %strong Alcance de la Licencia de la Aplicación Licenciada
  = succeed "\")" do
    %strong Dispositivo
  = succeed "\")." do
    %strong Reglas de Uso
%p
  %strong 4.
  = succeed "." do
    %strong Restricciones de la Licencia
%p
  %strong 5.
  = succeed "." do
    %strong Aviso de Privacidad
%p
  %strong 6.
  = succeed "." do
    %strong Servicios de Soporte
  = succeed "." do
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
%p
  %strong 7.
  = succeed "." do
    %strong Reclamaciones del Producto
  = succeed "." do
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
%p
  %strong 8.
  = succeed "." do
    %strong Términos Adicionales
  %a{:href => "https://www.chefsteps.com/terms"} Términos de Uso
  y Venta de ChefSteps (conjuntamente “
  %strong> Términos Adicionales
  ").
%p
  %strong 9.
  = succeed "." do
    %strong Sin garantía
  = succeed "\u{201d})" do
    %strong Fallas
%p
  EL PROVEEDOR DE TIENDA DE APLICACIONES NO TIENE OBLIGACIÓN DE GARANTÍA ALGUNA CON RESPECTO A LA APLICACIÓN LICENCIADA O CUALQUIER OTRAS RECLAMACIONES, PÉRDIDAS, RESPONSABILIDADES, DAÑOS, COSTOS O GASTOS ATRIBUIBLES A CUALQUIER FALLA DE LA APLICACIÓN LICENCIADA.
%p Las leyes de algunos estados o jurisdicciones no permiten la exclusión de garantías implícitas. En la medida que estas leyes apliquen, las exclusiones establecidas en lo anterior pueden no aplicarle.
%p
  %strong 10.
  = succeed "." do
    %strong Indemnización
  = succeed "\")," do
    %strong "Partes de ChefSteps
  = succeed "\")," do
    %strong Reclamaciones
%p
  %strong 11.
  %strong Limitación de Responsabilidad
  EN LA MEDIDA MÁXIMA PERMITIDA POR LA LEY APLICABLE, EN NINGÚN CASO CHEFSTEPS O CUALQUIERA DE LAS OTRAS PARTES DE CHEFSTEPS SON RESPONSABLES POR CUALQUIER DAÑO INDIRECTO, ESPECIAL, INCIDENTAL,
  CONSECUENTE, EJEMPLAR O PUNITIVO DE CUALQUIER TIPO (QUE INCLUYE PERO NO SE LIMITA A, LA PÉRDIDA DE INGRESOS TOTALES, INGRESOS O GANANCIAS, PÉRDIDA DE USO O DATOS, PÉRDIDA O DIMINUCIÓN DE VALORES DE ACTIVOS O VALORES, O DAÑOS POR INTERRUPCIÓN DE NEGOCIOS)
  QUE SURJAN DE O EN CUALQUIER FORMA SE RELACIONEN CON SU DESCARGA, INSTALACIÓN O USO DE LA APLICACIÓN LICENCIADA (QUE INCLUYE, PERO NO SE LIMITA A CUALQUIER DAÑO PROVOCADO O QUE RESULTE DE LA CONFIANZA DE CUALQUIER USUARIO EN CUALQUIER INFORMACIÓN OBTENIDA
  POR CHEFSTEPS, O DE FALTAS, OMISIONES, INTERRUPCIONES, SUPRESIONES DE ARCHIVOS O CORREOS ELECTRÓNICOS, ERRORES, DEFECTOS, ERRORES LÓGICOS, VIRUS, CABALLOS DE TROYA, RETRASOS EN LA OPERACIÓN O TRANSMISIÓN O CUALQUIER FALLA DE RENDIMIENTO, RESULTANDO
  O NO DE CASOS FORTUITOS, FALLA DE COMUNICACIÓN, ROBO, DESTRUCCIÓN O ACCESO NO AUTORIZADO A LOS REGISTROS, PROGRAMAS O SISTEMAS DE CHEFSTEPS), INDEPENDIENTEMENTE DE LA FORMA DE ACCIÓN, YA SEA CON BASE EN CONTRATO, RESPONSABILIDAD CIVIL (QUE INCLUYE,
  PERO NO SE LIMITA A, NEGLIGENCIA SIMPLE, ACTIVA, PASIVA O IMPUTADA), RESPONSABILIDAD ESTRICTA DEL PRODUCTO O CUALQUIER OTRA TEORÍA LEGAL O EQUITATIVA (INCLUSO SI LA PARTE HA SIDO ADVERTIDA DE LA POSIBILIDAD DE TALES DAÑOS E INDEPENDIENTEMENTE DE SI
  TALES DAÑOS FUERON PREVISIBLES).
%p
  EN LA MEDIDA MÁXIMA PERMITIDA POR LA LEY APLICABLE, EN NINGÚN CASO EL LÍMITE MÁXIMO DE RESPONSABILIDAD DE CHEFSTEPS Y LAS PARTES DE CHEFSTEPS (CONJUNTAMENTE), YA SEA QUE SURJA POR CONTRATO O DE UNA MANERA RELACIONADA CON LA APLICACIÓN LICENCIADA, DEBE
  EXCEDER DIEZ DÓLARES ($10.00).
%p Algunas jurisdicciones no permiten la exclusión o limitación de daños incidentales o consecuenciales, así que la limitación o exclusión anterior puede no aplicarle.
%p
  %strong 12.
  = succeed "." do
    %strong No Exportación
%p
  %strong 13.
  = succeed "." do
    %strong Conformidad Legal
%p
  %strong 14.
  = succeed "." do
    %strong Artículos Comerciales
%p
  %strong 15.
  = succeed "." do
    %strong Terceros Beneficiarios
%p
  %strong 16.
  = succeed "." do
    %strong Terminación
%p
  %strong 17.
  %strong Divisibilidad.
  Si cualquier término, cláusula o disposición de este Acuerdo se considera inválida o no ejecutable, entonces ese término, cláusula o disposición se separará de este Acuerdo y no afectará la validez
  o aplicabilidad de cualquier parte de ese término, cláusula o disposición, o cualquier otro término, cláusula o disposición de este Acuerdo.
%p
  %strong 18.
  %strong Ley que Rige.
  Este Acuerdo debe regirse por, e interpretarse y ejecutarse de acuerdo con las leyes del Estado de Washington, sin considerar el conflicto de leyes o principios de ley que pudieran provocar la aplicación
  de las leyes de cualquier otra jurisdicción.
%p
  %strong 19.
  = succeed "." do
    %strong Contacto
%p
  ChefSteps, Inc.
  %br/
  Attn: ChefSteps Legal Team
  %br/
  1501 Pike Place, Suite 300,
  %br/
  Seattle, WA 98101
  %br/
  USA
  %br/
  Telephone: 206-905-1099
  %br/
  Email: info@chefsteps.com
  %br/
