= render 'layouts/filepicker'

-# :javascript
-#   window.ChefStepsAdmin = window.ChefStepsAdmin || {};
-#   window.ChefStepsAdmin.quizImageData= JSON.parse('#{j(@quiz_images)}');

%h2 Box Sort Question for "#{@question.quiz.title}"

= semantic_form_for [:admin, @question], url: admin_question_path(@question) do |f|
  = f.inputs name: "Question Details" do
    = f.semantic_fields_for :contents do |contents|
      = contents.input :instructions, input_html: {value: @question.instructions}

  = f.actions do
    = f.action :submit, label: 'Save Question'

