= render 'layouts/filepicker'

:javascript
  window.ChefStepsAdmin = window.ChefStepsAdmin || {};
  window.ChefStepsAdmin.questionImageData = JSON.parse('#{j(@question_images)}');

%h2 Box Sort Question for "#{@question.quiz.title}"


= semantic_form_for [:admin, @question], url: admin_question_path(@question) do |f|
  = f.inputs name: "Question Details" do
    = f.semantic_fields_for :contents do |contents|
      = contents.input :instructions

  = f.actions do
    = f.action :submit, label: 'Save Question'

#image-uploader
  #image-list
    %button.admin-button{ data: {behavior: 'filepicker'}} Upload Images for Quiz

