= render 'layouts/filepicker'

-# :javascript
-#   window.ChefStepsAdmin = window.ChefStepsAdmin || {};
-#   window.ChefStepsAdmin.quizImageData= JSON.parse('#{j(@quiz_images)}');

%h2 Box Sort Question for "#{@question.quiz.title}"

= semantic_form_for [:admin, @question], url: admin_question_path(@question) do |f|
  = f.inputs name: "Question Details" do
    = f.input :instructions, input_html: {value: @question.instructions}
    = f.semantic_fields_for :options do |options|
      = options.input '', label: 'Option 1', input_html: {value: @question.options[0][:text]}
      = options.input '', label: 'Option 2', input_html: {value: @question.options[1][:text]}
      = options.input '', label: 'Option 3', input_html: {value: @question.options[2][:text]}

  = f.actions do
    = f.action :submit, label: 'Save Question'

