.login-modal(close="closeModal('login')" modal="loginModalOpen" options="modalOptions" ng-cloak)
  %form(ng-switch="showForm" class="no-margin-modal-form")
    .modal-body.login-modal-body
      .close-x.pull-right(ng-click="closeModal('login')")
        %i.icon-remove
      .row-fluid(ng-switch-when="signIn")
        %h3 Sign in
        .form-horizontal(ng-show="!authentication.loggedIn()")
          .button-group
            .facebook-button.facebook-login
              %a(ng-click="facebookConnect()" class="btn btn-secondary btn-facebook" ng-disabled="dataLoading")
                %i.icon-facebook
                %b Facebook
            .google-button.google-plus-login
              %a(ng-click="googleSignin('#{google_app_id}')" class="btn btn-secondary btn-google" ng-disabled="dataLoading")
                %i.icon-google-plus
                %b Google
            .tiny-note
              OR
          .error(ng-show="login_error.message")
            %p {{login_error.message}}
          .message(ng-show="message")
            %p {{message}}
          %div(ng-class="{error: login_error.errors.email}")
            %input.input-block-level(ng-model="login_user.email" placeholder="Email")
            %div(ng-show="login_error.errors.email")
              %div.error-text(ng-repeat="field_error in login_error.errors.email")
                {{field_error}}
          %div(ng-class="{error: login_error.errors.password}")
            %input.input-block-level(type="password" ng-model="login_user.password" placeholder="Password")
            %div.pull-right.tiny-note
              = link_to 'Forgot your password?', new_user_password_path
            %div(ng-show="login_error.errors.email")
              %div.error-text(ng-repeat="field_error in login_error.errors.password")
                {{field_error}}
      .row-fluid(ng-switch-when="signUp")
        %h3 Sign up
        .form-horizontal(ng-show="!authentication.loggedIn()")
          .button-group
            .facebook-button.facebook-login
              %a(ng-click="facebookConnect()" class="btn btn-secondary btn-facebook" ng-disabled="dataLoading")
                %i.icon-facebook
                %b Facebook
            .google-button.google-plus-login
              -# %span.g-signin
              %a(ng-click="googleSignin('#{google_app_id}')" class="btn btn-secondary btn-google" ng-disabled="dataLoading")
                %i.icon-google-plus
                %b Google
            .tiny-note
              OR
          .error(ng-show="register_error.message")
            %p {{register_error.message}}
          .message(ng-show="message")
            %p {{message}}
          %div(ng-class="{error: register_error.errors.name}")
            %input.input-block-level(ng-model="register_user.name" placeholder="Name" ng-class="hasError(register_error.errors.name)")
            %div(ng-show="register_error.errors.name")
              %div.error-text(ng-repeat="field_error in register_error.errors.name")
                {{field_error}}
          %div(ng-class="{error: login_error.errors.email}")
            %input.input-block-level(ng-model="register_user.email" placeholder="Email" ng-class="hasError(register_error.errors.email)")
            %div(ng-show="register_error.errors.email")
              %div.error-text(ng-repeat="field_error in register_error.errors.email")
                {{field_error}}
          %div(ng-class="{error: login_error.errors.password}")
            %input.input-block-level.password-with-show-button(type="{{passwordType}}" ng-model="register_user.password" placeholder="Password" ng-class="hasError(register_error.errors.password)")
            %a.btn.show-password(ng-click="togglePassword()")
              Show
            %div(ng-show="register_error.errors.email")
              %div.error-text(ng-repeat="field_error in register_error.errors.password")
                {{field_error}}
          .tiny-note.terms
            = "By signing up, you are agreeing to the <b>#{link_to "Terms of Service", terms_of_service_path}</b>.".html_safe
    .modal-footer.login-modal-footer
      .sign-in-buttons.button-group(ng-switch-when="signIn")
        %div
          %button.btn.btn-primary.btn-large.signin(ng-click="login()" ng-disabled="dataLoading") Sign in
          .button-group(ng-show="dataLoading")
            %i.icon-page-load
        %hr
        %div
          %a.switch-to-signup(ng-click="switchForm('signUp')")
            New to ChefSteps?  Create an account.
      .sign-up-buttons.button-group(ng-switch-when="signUp")
        %div
          %button.btn.btn-primary.btn-large.signup(ng-click="register()" ng-disabled="dataLoading") Sign Up
          .button-group(ng-show="dataLoading")
            %i.icon-page-load
        %hr
        %div
          %a.switch-to-signin(ng-click="switchForm('signIn')")
            Already have an account?  Sign In.
      .sign-out-buttons.button-group(ng-show="authentication.cuurentUser()")
        %div
          %button.btn.btn-primary.btn-large.sign-out(ng-click="logout()") Sign Out

.invite-modal(close="closeModal('invite')" modal="inviteModalOpen" options="modalOptions" ng-cloak)
  %form(class="no-margin-modal-form")
    .modal-body.invite-modal-body
      .close-x.pull-right(ng-click="closeModal('invite')")
        %i.icon-remove
      .row-fluid
        %h3 Thanks for signing up!
        -# %p
        -#   We're sending you a confirmation email. Please check your email and click the link in it.
        -# %p
        -#   In the meantime, connect to these accounts to invite your friends to join you.
        %p
          We need to verify we got your email right, so please go check it!
        %p
          If you have friends you'd like to invite to ChefSteps you can connect these accounts to send them an invitation.
        .invite-horizontal(ng-show="authentication.currentUser()")
          .modal-center
            %i.icon-page-load(ng-show="dataLoading")
          .message(ng-show="message")
            %p {{message}}
          - if false
            -# This verion uses chefsteps styling
            %div
              %ul.friend-list
                %li.friend(ng-repeat="friend in inviteFriends")
                  %label
                    %input(type="checkbox" ng-model="friend.value")
                    {{friend.name}}
          .button-group
            .facebook-button.facebook-invite
              %a(ng-click="sendInvites()" class="btn btn-secondary btn-facebook" ng-disabled="dataLoading")
                %i.icon-facebook
                %b Invite friends from Facebook
            .google-button.google-invite
              %a.btn-google.btn.btn-secondary(ng-click="loadGoogleContacts()" ng-show="authentication.currentUser() && !!authentication.currentUser().google_access_token" ng-disabled="dataLoading")
                %i.icon-google-plus
                %b Invite friends from Google
              %a.btn-google.btn.btn-secondary(ng-click="formFor = 'googleInvite'; googleSignin('#{google_app_id}')" ng-show="authentication.currentUser() && !authentication.currentUser().google_access_token" ng-disabled="dataLoading")
                %i.icon-google-plus
                %b Connect to Google and Invite
            %div
              %a.next-button(ng-show="authentication.currentUser()" ng-click="welcome()" ng-disabled="dataLoading") {{invitationsNextText}}

    -# .modal-footer.invite-modal-footer
    -#   %div
    -#     %button.btn.btn-primary.btn-large.next-button(ng-show="authentication.currentUser()" ng-click="welcome()") Next
      -# .button-group
      -#   %div
      -#     %button.btn.btn-primary.btn-large.invite-friends(ng-show="authentication.currentUser()" ng-click="sendInvites()") Invite Friends

.google-invite-modal(close="closeModal('googleInvite')" modal="googleInviteModalOpen" options="modalOptions" ng-cloak)
  %form
    .modal-body.invite-modal-body
      .close-x.pull-right(ng-click="closeModal('googleInvite')")
        %i.icon-remove
      .row-fluid
        %h3 Select who you want to invite
        %p
          Invite your friends to join you on ChefSteps.com
          %a(href="/invitation.html" target="_blank")
            (Preview)
        .invite-horizontal(ng-show="authentication.currentUser()")
          .modal-center
            %i.icon-page-load(ng-show="dataLoading")
          .search
            %input(type="text" placeholder="Search For..." ng-model="searchFriends")
          %div
            %ul.friend-list
              %li.friend.one_column(ng-repeat="friend in inviteFriends | filter:searchFriends")
                %label
                  %input(type="checkbox" ng-model="friend.value")
                  %span(ng-show="friend.name")
                    {{friend.name}} ({{friend.email}})
                  %span(ng-show="!friend.name")
                    {{friend.email}}
          %div
            {{friendsSelected().length}} friends selected.
    .modal-footer.invite-modal-footer
      %div
        %button.btn.btn-primary.btn-large.next-button(ng-show="authentication.currentUser()" ng-click="sendInvitation()" ng-disabled="dataLoading") Send Invitations


.welcome-modal(close="closeModal('welcome')" modal="welcomeModalOpen" options="modalOptions" ng-cloak)
  .modal-body.welcome-modal-body
    .close-x.pull-right(ng-click="closeModal('welcome')")
      %i.icon-remove
    .row-fluid
      %h3 Welcome to ChefSteps
      %p
        Thanks for joining. We're so glad to have you. Here are some ideas to get you started on the road to cooking smarter.
      %p
        = link_to "Recipe development", "/projects/doughnut-holes-recipe-development#/doughnut-holes-intro"
        %br
        Follow along as we develop a recipe from start to finish. Each day, our chefs keep notes as they modify, test, and improve their recipes. Use what you learn to test our recipes and offer suggestions, or develop your own!
      %p
        = link_to "Classes", courses_path
        %br
        Drawing on our years of combined culinary experience, we create hands-on online classes about food and cooking that are both informative and entertaining. We won't tell you how to use a whipping siphon or make macarons from scratch — we'll show you.
  .modal-footer.invite-modal-footer
    %div
      %button.btn.btn-primary.btn-large.close-welcome(ng-click="closeModal('welcome')") Done

.survey-modal(close="closeModal('survey')" modal="surveyModalOpen" options="modalOptions" ng-cloak)
  .modal-body.survey-modal-body
    .close-x.pull-right(ng-click="closeModal('survey')")
      %i.icon-remove
    .row-fluid(ng-animate='slide')
      %div(ng-include="'/client_views/_survey'")
  .modal-footer.invite-modal-footer
    %div
      %button.btn.btn-primary.btn-large.close-survey(ng-click="submitSurvey()") Done
