.login-modal(close="closeModal('login')" modal="loginModalOpen" options="modalOptions" ng-cloak)
  .login-modal-content(ng-switch="showForm")
    %form(ng-submit="login()" form-autofill-fix class="no-margin-modal-form")
      .sign-in-body.modal-body.login-modal-body(ng-switch-when="signIn")
        .close-x.pull-right(ng-click="closeModal('login')")
          %span.icon-remove
        .row-fluid
          %h3 Sign in
          .form-horizontal(ng-show="!authentication.loggedIn()")
            .header-text(ng-show="headerText" ng-bind-html="headerText")
            .button-group
              .facebook-button.facebook-login
                %a(ng-click="facebookConnect(registrationSource)" class="btn btn-secondary btn-facebook" ng-disabled="dataLoading")
                  %span.icon-facebook
                  %b Facebook
              .google-button.google-plus-login
                %a(ng-click="googleSignin('#{google_app_id}')" class="btn btn-secondary btn-google" ng-disabled="dataLoading")
                  %span.icon-google-plus
                  %b Google
              .tiny-note
                OR
            .error(ng-show="login_error.message")
              %p {{login_error.message}}
            .message(ng-show="message")
              %p {{message}}
            %div(ng-class="{error: login_error.errors.email}")
              %input.input-block-level(name="email" ng-model="login_user.email" placeholder="Email")
              %div(ng-show="login_error.errors.email")
                %div.error-text(ng-repeat="field_error in login_error.errors.email")
                  {{field_error}}
            %div(ng-class="{error: login_error.errors.password}")
              %input.input-block-level(name="password" type="password" ng-model="login_user.password" placeholder="Password")
              %div.pull-right.tiny-note
                = link_to 'Forgot your password?', '/password-reset'
              %div(ng-show="login_error.errors.email")
                %div.error-text(ng-repeat="field_error in login_error.errors.password")
                  {{field_error}}
      .sign-in-footer.modal-footer.login-modal-footer(ng-switch-when="signIn")
        .sign-in-buttons.button-group
          %div
            %button.btn.btn-primary.btn-large.signin(type="submit" ng-disabled="dataLoading") Sign in
            .button-group(ng-show="dataLoading")
              %cs-loading-spinner
          %hr
          %div
            %a.switch-to-signup(ng-click="switchForm('signUp')")
              New to ChefSteps?  Create an account.
    %form(ng-submit="register(registrationSource)" form-autofill-fix class="no-margin-modal-form")
      .sign-up-body.modal-body.login-modal-body(ng-switch-when="signUp")
        .close-x.pull-right(ng-click="closeModal('login')")
          %span.icon-remove
        .row-fluid
          %h3 Sign up
          .form-horizontal(ng-show="!authentication.loggedIn()")
            .header-text(ng-show="headerText" ng-bind-html="headerText")
            .button-group
              .facebook-button.facebook-login
                %a(ng-click="facebookConnect(registrationSource)" class="btn btn-secondary btn-facebook" ng-disabled="dataLoading")
                  %span.icon-facebook
                  %b Facebook
              .google-button.google-plus-login
                -# %span.g-signin
                %a(ng-click="googleSignin('#{google_app_id}')" class="btn btn-secondary btn-google" ng-disabled="dataLoading")
                  %span.icon-google-plus
                  %b Google
              .tiny-note
                OR
            .error(ng-show="register_error.message")
              %p {{register_error.message}}
            .message(ng-show="message")
              %p {{message}}
            %div(ng-class="{error: register_error.errors.name}")
              %input.input-block-level(name="name" ng-model="register_user.name" placeholder="Name" ng-class="hasError(register_error.errors.name)")
              %div(ng-show="register_error.errors.name")
                %div.error-text(ng-repeat="field_error in register_error.errors.name")
                  {{field_error}}
            %div(ng-class="{error: login_error.errors.email}")
              %input.input-block-level(name="email" ng-model="register_user.email" placeholder="Email" ng-class="hasError(register_error.errors.email)")
              %div(ng-show="register_error.errors.email")
                %div.error-text(ng-repeat="field_error in register_error.errors.email")
                  {{field_error}}
            %div(ng-class="{error: login_error.errors.password}")
              %input.input-block-level.password-with-show-button(name="password" type="{{passwordType}}" ng-model="register_user.password" placeholder="Password" ng-class="hasError(register_error.errors.password)" aria-label="password")
              %a.btn.show-password(ng-click="togglePassword()")
                Show
              %div(ng-show="register_error.errors.email")
                %div.error-text(ng-repeat="field_error in register_error.errors.password")
                  {{field_error}}
            .tiny-note.terms
              = "By signing up, you are agreeing to the <b>#{link_to "Terms of Service", terms_of_service_path}</b>.".html_safe
      .sign-up-footer.modal-footer.login-modal-footer(ng-switch-when="signUp")
        .sign-up-buttons.button-group
          %div
            %button.btn.btn-primary.btn-large.signup(type="submit" ng-disabled="dataLoading") Sign Up
            .button-group(ng-show="dataLoading")
              %cs-loading-spinner
          %hr
          %div
            %a.switch-to-signin(ng-click="switchForm('signIn')")
              Already have an account?  Sign In.

.google-invite-modal(close="closeModal('googleInvite')" modal="googleInviteModalOpen" options="modalOptions" ng-cloak)
  %form
    .modal-body.invite-modal-body
      .close-x.pull-right(ng-click="closeModal('googleInvite')")
        %span.icon-remove
      .row-fluid
        %h3 Select who you want to invite
        %p
          Invite your friends to join you on ChefSteps.com
          %a(href="/invitation.html" target="_blank")
            (Preview)
        .invite-horizontal(ng-show="authentication.currentUser()")
          .modal-center
            %cs-loading-spinner(ng-show="dataLoading")
          .search
            %input(type="text" placeholder="Search For..." ng-model="searchFriends")
          %div
            %ul.friend-list
              %li.friend.one_column(ng-repeat="friend in inviteFriends | filter:searchFriends")
                %label
                  %input(type="checkbox" ng-model="friend.value")
                  %span(ng-show="friend.name")
                    {{friend.name}} ({{friend.email}})
                  %span(ng-show="!friend.name")
                    {{friend.email}}
          %div
            {{friendsSelected().length}} friends selected.
    .modal-footer.invite-modal-footer
      %div
        %button.btn.btn-primary.btn-large.next-button(ng-show="authentication.currentUser()" ng-click="sendInvitation()" ng-disabled="dataLoading") Send Invitations

.welcome-modal(close="closeModal('welcome')" modal="welcomeModalOpen" options="modalOptions" ng-cloak)
  .modal-body.welcome-modal-body
    .close-x.pull-right(ng-click="closeModal('welcome')")
      %span.icon-remove
    .row-fluid
      %h3 Welcome to ChefSteps
      %p
        Thanks for joining. We're so glad to have you. Here are some ideas to get you started on the road to cooking smarter.
      %p
        = link_to "Recipe development", "/projects/doughnut-holes-recipe-development#/doughnut-holes-intro"
        %br
        Follow along as we develop a recipe from start to finish. Each day, our chefs keep notes as they modify, test, and improve their recipes. Use what you learn to test our recipes and offer suggestions, or develop your own!
      %p
        = link_to "Classes", classes_path
        %br
        Drawing on our years of combined culinary experience, we create hands-on online classes about food and cooking that are both informative and entertaining. We won't tell you how to use a whipping siphon or make macarons from scratch — we'll show you.
  .modal-footer.invite-modal-footer
    %div
      %button.btn.btn-primary.btn-large.close-welcome(ng-click="closeModal('welcome')") Done

.welcome-modal(close="closeModal('kioskWelcome')" modal="kioskWelcomeModalOpen" options="modalOptions" ng-cloak)
  .modal-body.welcome-modal-body
    .row-fluid
      %h3 Thanks for joining the Community!
      %p Check your email for updates on new Recipes, Classes and more.
  .modal-footer.invite-modal-footer
    %div
      %button.btn.btn-primary.btn-large.close-welcome(ng-click="kioskReload()") Done
