.login-modal(ng-when="login" close="closeModal('login')" modal="loginModalOpen" options="modalOptions" ng-cloak)
  %form
    .modal-body.login-modal-body(ng-switch="showForm")
      .close-x.pull-right(ng-click="closeModal('login')")
        %i.icon-remove
      .row-fluid(ng-switch-when="signIn" ng-animate='slide')
        %h3 Sign in to ChefSteps
        .form-horizontal(ng-show="!authentication.currentUser()")
          %i.loading-spinner.icon-spinner.icon-spin(ng-show="dataLoading")
          .button-group
            .facebook-button.facebook-login
              %a(ng-click="facebookConnect()" class="btn btn-secondary btn-facebook") Sign in with Facebook
            .google-plus-login
              -# %google-plus-signin(clientid="#{google_app_id}" data-approvalprompt="force" scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/plus.me https://www.googleapis.com/auth/userinfo.profile")
              #signinButton
                %span.g-signin
                  %a#google-signin-button(ng-click="googleSignin('#{google_app_id}')" class="btn btn-secondary btn-google") Sign in with Google
          .error(ng-show="login_error.message")
            %p {{login_error.message}}
          .message(ng-show="message")
            %p {{message}}
          %div(ng-class="{error: login_error.errors.email}")
            %input.input-block-level(ng-model="login_user.email" placeholder="Email")
            %div(ng-show="login_error.errors.email")
              %div.error-text(ng-repeat="field_error in login_error.errors.email")
                {{field_error}}
          %div(ng-class="{error: login_error.errors.password}")
            %input.input-block-level(type="password" ng-model="login_user.password" placeholder="Password")
            %div.pull-right.tiny-note
              = link_to 'Forgot your password?', new_user_password_path
            %div(ng-show="login_error.errors.email")
              %div.error-text(ng-repeat="field_error in login_error.errors.password")
                {{field_error}}
      .row-fluid(ng-switch-when="signUp" ng-animate='slide')
        %h3 Sign up to ChefSteps
        .form-horizontal(ng-show="!authentication.currentUser()")
          %i.loading-spinner.icon-spinner.icon-spin(ng-show="dataLoading")
          .button-group
            .facebook-button.facebook-login
              %a(ng-click="facebookConnect()" class="btn btn-secondary btn-facebook") Sign up with Facebook
          .error(ng-show="register_error.message")
            %p {{register_error.message}}
          .message(ng-show="message")
            %p {{message}}
          %div(ng-class="{error: register_error.errors.name}")
            %input.input-block-level(ng-model="register_user.name" placeholder="Name" ng-class="hasError(register_error.errors.name)")
            %div(ng-show="register_error.errors.name")
              %div.error-text(ng-repeat="field_error in register_error.errors.name")
                {{field_error}}
          %div(ng-class="{error: login_error.errors.email}")
            %input.input-block-level(ng-model="register_user.email" placeholder="Email" ng-class="hasError(register_error.errors.email)")
            %div(ng-show="register_error.errors.email")
              %div.error-text(ng-repeat="field_error in register_error.errors.email")
                {{field_error}}
          %div(ng-class="{error: login_error.errors.password}")
            %input.input-block-level.password-with-show-button(type="{{passwordType}}" ng-model="register_user.password" placeholder="Password" ng-class="hasError(register_error.errors.password)")
            %a.btn.show-password(ng-click="togglePassword()")
              Show
            %div(ng-show="register_error.errors.email")
              %div.error-text(ng-repeat="field_error in register_error.errors.password")
                {{field_error}}
    .modal-footer.login-modal-footer
      .sign-out-buttons.button-group(ng-show="authentication.currentUser()")
        %div
          %button.btn.btn-primary.btn-large.sign-out(ng-show="authentication.currentUser()" ng-click="logout()") Sign Out
      .sign-in-buttons.button-group(ng-show="showForm=='signIn'" ng-animate='slide')
        %div
          %button.btn.btn-primary.btn-large.signin(ng-click="login()") Sign in
        %hr
        %div
          %a.switch-to-signup(ng-click="switchForm('signUp')")
            Get an Account
      .sign-up-buttons.button-group(ng-show="showForm=='signUp'")
        %div
          %button.btn.btn-primary.btn-large.signup(ng-click="register()") Sign Up
        %hr
        %div
          %a.switch-to-signin(ng-click="switchForm('signIn')")
            Already have an account

.invite-modal(close="closeModal('invite')" modal="inviteModalOpen" options="modalOptions" ng-cloak)
  %form
    .modal-body.invite-modal-body
      .close-x.pull-right(ng-click="closeModal('invite')")
        %i.icon-remove
      .row-fluid(ng-animate='slide')
        %h3 Thanks for signing up!
        %p
          We're sending you a confirmation email. Please check your email and click the link in it.
        %p
          In the meantime, connect to these accounts to invite your friends to join you.
        .invite-horizontal(ng-show="authentication.currentUser()")
          %i.loading-spinner.icon-spinner.icon-spin(ng-show="dataLoading")
          .message(ng-show="message")
            %p {{message}}
          - if false
            -# This verion uses chefsteps styling
            %div
              %ul.friend-list
                %li.friend(ng-repeat="friend in inviteFriends")
                  %label
                    %input(type="checkbox" ng-model="friend.value")
                    {{friend.name}}
          .button-group
            .facebook-button.facebook-login
              %a.btn-facebook.btn.btn-secondary(ng-click="sendInvites()")
                Invite friends on
                %b Facebook
            .google-button.google-login
              %a.btn-google.btn.btn-secondary(ng-click="loadGoogleContacts()")
                Invite friends from your
                %b Google Address Book

            %div
              %a.next-button(ng-show="authentication.currentUser()" ng-click="welcome()") {{invitationsNextText}}

    -# .modal-footer.invite-modal-footer
    -#   %div
    -#     %button.btn.btn-primary.btn-large.next-button(ng-show="authentication.currentUser()" ng-click="welcome()") Next
      -# .button-group
      -#   %div
      -#     %button.btn.btn-primary.btn-large.invite-friends(ng-show="authentication.currentUser()" ng-click="sendInvites()") Invite Friends

.google-invite-modal(close="closeModal('googleInvite')" modal="googleInviteModalOpen" options="modalOptions" ng-cloak)
  %form
    .modal-body.invite-modal-body
      .close-x.pull-right(ng-click="closeModal('googleInvite')")
        %i.icon-remove
      .row-fluid(ng-animate='slide')
        %h3 Select who you want to invite
        %p
          Invite your friends to join you on ChefSteps.com
        .invite-horizontal(ng-show="authentication.currentUser()")
          %i.loading-spinner.icon-spinner.icon-spin(ng-show="dataLoading")
          %div
            %ul.friend-list
              %li.friend.one_column(ng-repeat="friend in inviteFriends")
                %label
                  %input(type="checkbox" ng-model="friend.value")
                  {{friend.email}}
    .modal-footer.invite-modal-footer
      %div
        %button.btn.btn-primary.btn-large.next-button(ng-show="authentication.currentUser()" ng-click="sendInvitation()") Send Invitations


.welcome-modal(close="closeModal('welcome')" modal="welcomeModalOpen" options="modalOptions" ng-cloak)
  .modal-body.welcome-modal-body
    .close-x.pull-right(ng-click="closeModal('welcome')")
      %i.icon-remove
    .row-fluid(ng-animate='slide')
      %h3 Welcome to ChefSteps
      %p
        Thanks for joining. We're so glad to have you. Here are some ideas to get you started on the road to cooking smarter.
      %p
        = link_to "Recipe development", "/projects/doughnut-holes-recipe-development#/doughnut-holes-intro"
        %br
        Follow along as we develop a recipe from start to finish. Each day, our chefs keep notes as they modify, test, and improve their recipes. Use what you learn to test our recipes and offer suggestions, or develop your own!
      %p
        = link_to "Classes", courses_path
        %br
        Drawing on our years of combined culinary experience, we create hands-on online classes about food and cooking that are both informative and entertaining. We won't tell you how to use a whipping siphon or make macarons from scratch — we'll show you.
  .modal-footer.invite-modal-footer
    %div
      %button.btn.btn-primary.btn-large.close-welcome(ng-click="closeModal('welcome')") Done