.container
  .box.box-solo
    = form_for @user, url: session_path(@user) do |f|
      - if @signin_message
        %h2= @signin_message
        %hr
      .box-field= render 'devise/shared/facebook_login', text: 'Log in with <b>Facebook</b>'
      or
      .box-field= f.text_field :email, placeholder: 'email'
      .box-field= f.password_field :password, placeholder: 'password'
      = link_to 'Forgot your password?', new_user_password_path
      .box-field= f.submit 'Sign in', class: 'btn btn-primary btn-large'