#log-in.user-form
  %h1 Connect to log in (or #{link_to 'sign up', new_user_registration_path})
  = semantic_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.inputs 'Log in to existing account:' do
      = f.input :email, label: 'Email:'
      = f.input :password, label: 'Password:'
    %div= f.submit "Log in"
