.container
  .row
    .span12#recipe-gallery
      %h2 Recipes
      .dropdown
        = link_to 'javascript:void;', class: 'dropdown-toggle' do
          %div 
            = params[:difficulty].blank? ? 'Difficulty' : params[:difficulty].titleize
            %i.icon-angle-down
        %ul.dropdown-menu
          %li= link_to 'Easy', params.merge(difficulty: 'easy')
          %li= link_to 'Intermediate', params.merge(difficulty: 'intermediate')
          %li= link_to 'Advanced', params.merge(difficulty: 'advanced')
          %li= link_to 'Clear', params.merge(difficulty: '')

      = paginate @recipes
      / .row.gallery
      /   - @recipes.each do |recipe|
      /     .span4
      /       = link_to activity_path(recipe) do
      /         = render 'shared/media_centered', media: recipe, size: 'medium'
      %div{style: 'float: left; width: 100%;'}
        - @recipes.each do |recipe|
          = render 'shared/media_box_3', url: activity_path(recipe), title: recipe.title, image: recipe.featured_image, object: recipe
      = paginate @recipes