.row
  .span12
    %h2 Recipes
    = paginate @recipes
    %ul.thumbnails
      - @recipes.each do |recipe|
        %li.span4
          = link_to recipe, class: 'thumbnail' do
            = image_tag 'http://placehold.it/640x360'
            .caption
              %h4
                = recipe.title
    = paginate @recipes