-all_ingredients = Ingredient.all.map { |i| i.sub_activity_id? ? "#{i.title} [RECIPE]" : i.title}.select { |i| i != nil}.sort
%div#allingredients{data: {allingredients: all_ingredients.to_json}}

:ruby
  field_name_prefix = "activity[steps][]"

/ The Update Warning class will prompt the user to save the recipe before leaving the page
.update-warning

= semantic_form_for [:admin, @activity] do |f|
  = f.inputs name: "Activity Details" do
    = f.input :published
    = f.input :title
    %div#alltags{data: {alltags: ActsAsTaggableOn::Tag.all.map(&:name) }}
    = f.input :tag_list
    = f.input :description, label: "Description (Markdown or HTML)"
    = f.input :youtube_id
    = f.input :image_id
    = f.input :transcript
    = f.input :timing
    = f.input :difficulty, as: :select, collection: Activity.difficulty_enum
    = f.input :yield

  = section("Ingredients", f) do
    .ingredient-table-div
      = sortable_table('ingredients') do
        %colgroup
          %col.ingredient
          %col.quantity
          %col.unit
          %col.actions
        %tbody
          %tr
            %th.ingredient Ingredient
            %th.quantity Quantity
            %th.unit Unit
            %th
          = render 'ingredient_form', ingredient: nil
          - @activity.ingredients.ordered.each do |ingredient|
            = render 'ingredient_form', ingredient: ingredient
    %li#copy-ingredient-button= copy_button 'Add Ingredient', '#ingredient-row', 'table#ingredients'

  = section("Equipment", f) do
    %li= copy_button('Add Equipment', '#equipment-row', 'table#equipment')
    = sortable_table('equipment') do
      %tr
        %th Title
        %th Optional?
        %th
      = render 'equipment_form', equipment: nil
      - @activity.equipment.ordered.each do |equipment|
        = render 'equipment_form', equipment: equipment

  = section("Steps", f) do
    %li.two-button-row
      = copy_button 'Add Step', '#step-row', 'table#steps'
      - unless @activity.id.nil?
        = admin_button 'Edit ingredients associated with steps', associated_ingredients_admin_activity_path(@activity)
    = sortable_table('steps') do
      %tr
        %th Title
        %th Directions (Markdown or HTML)
        %th Image Id
        %th Image Description
        %th Youtube Id
        %th Audio Clip
        %th Audio Title
      = render 'step_form', step: nil, field_name_prefix: field_name_prefix
      - @activity.ordered_steps.each do |step|
        = render 'step_form', step: step, field_name_prefix: field_name_prefix
    %li.two-button-row
      = copy_button 'Add Step', '#step-row', 'table#steps'
      - unless @activity.id.nil?
        = admin_button 'Edit ingredients associated with steps', associated_ingredients_admin_activity_path(@activity)

  = f.actions do
    = f.action :submit
    = f.action :cancel, wrapper_html: {class: :cancel}, label: 'Cancel'

