= semantic_form_for [:admin, @activity] do |f|
  = f.inputs 'Details' do
    = f.input :title
    = f.input :description
    = f.input :youtube_id
    = f.input :yield
    = f.input :timing
    = f.input :difficulty, collection: @activity.difficulty_enum
    = f.input :activity_order

  = f.inputs 'Recipes' do
    = f.check_boxes :recipes

  = f.actions do
    = f.action :submit, as: :button
    = f.action :cancel, as: :link

