:ruby
  field_name_prefix = "activity[steps][]"

= semantic_form_for [:admin, @activity] do |f|
  = f.inputs name: "Activity Details" do
    = f.input :published
    = f.input :title
    %div#alltags{data: {alltags: ActsAsTaggableOn::Tag.all.map(&:name) }}
    = f.input :tag_list
    = f.input :description, label: "Description (Markdown or HTML)"
    = f.input :youtube_id
    = f.input :image_id
    = f.input :transcript
    = f.input :timing
    = f.input :difficulty, as: :select, collection: Activity.difficulty_enum

  = section("Ingredients", f) do
    %li= copy_button 'Add Ingredient', '#ingredient-row', 'table#ingredients'
    = sortable_table('ingredients') do
      %tr
        %th Ingredient
        %th Quantity
        %th Unit
      = render 'admin/recipes/ingredient_form', ingredient: nil
      - @activity.ingredients.ordered.each do |ingredient|
        = render 'admin/recipes/ingredient_form', ingredient: ingredient
    %li= copy_button 'Add Ingredient', '#ingredient-row', 'table#ingredients'

  = section("Equipment", f) do
    %li= copy_button('Add Equipment', '#equipment-row', 'table#equipment')
    = sortable_table('equipment') do
      %tr
        %th Title
        %th Optional?
        %th
      = render 'equipment_form', equipment: nil
      - @activity.equipment.ordered.each do |equipment|
        = render 'equipment_form', equipment: equipment

  = section("Steps", f) do
    %li.two-button-row
      = copy_button 'Add Step', '#step-row', 'table#steps'
      - unless @activity.id.nil?
        = admin_button 'Edit ingredients associated with steps', associated_ingredients_admin_activity_path(@activity)
    = sortable_table('steps') do
      %tr
        %th Title
        %th Directions (Markdown or HTML)
        %th Image Id
        %th Image Description
        %th Youtube Id
        %th Audio Clip
        %th Audio Title
      = render 'admin/recipes/step_form', step: nil, field_name_prefix: field_name_prefix
      - @activity.ordered_steps.each do |step|
        = render 'admin/recipes/step_form', step: step, field_name_prefix: field_name_prefix
    %li.two-button-row
      = copy_button 'Add Step', '#step-row', 'table#steps'
      - unless @activity.id.nil?
        = admin_button 'Edit ingredients associated with steps', associated_ingredients_admin_activity_path(@activity)

  = f.actions do
    = f.action :submit
    = f.action :cancel, wrapper_html: {class: :cancel}, label: 'Cancel'

