:ruby
  is_template = ingredient.nil?
  field_name_prefix ||= "activity[ingredients][]"
  row_id ||= 'ingredient-row' if is_template
  is_recipe = false
  unless is_template
    title = ingredient.title
    note = ingredient.note
    display_quantity = ingredient.display_quantity
    unit = ingredient.unit
    ingredient_id = ingredient.id
    is_recipe = ingredient.ingredient.sub_activity_id?
  end

%tr{id: row_id, class: ('template-row' if is_template )}
  %td= text_field_tag "#{field_name_prefix}[title]", title, {:'data-provide' => "typeahead",  :'autocomplete' => 'off', :"class" => "ingredient"}
  %td= text_field_tag "#{field_name_prefix}[note]", note, class: "note"
  %td= text_field_tag "#{field_name_prefix}[display_quantity]", display_quantity, class: "quantity"

  -# This must match the menuNames from window.allUnits!
  %td= select_tag "#{field_name_prefix}[unit]", options_for_select(%w[g kg ea a/n recipe piece lb oz drop fl.\ oz. teaspoon tablespoon cup pint quart gallon ml l], unit), class: "unit"
  %td
    = remove_button 'tr'
    = reorder_icon
