.panel
  %h3 Activity
  .panel_contents
    .attributes_table
      %table
        %tbody
          %tr
            %th Published
            %td= activity.published
          %tr
            %th Is Promoted in Gallery
            %td= activity_promoted?(activity)
          %tr
            %th Link
            %td= link_to_publishable(activity)
          %tr
            %th Title
            %td= activity.title
          %tr
            %th Tag List
            %td= activity.tag_list
          %tr
            %th Description
            %td= activity.description
          %tr
            %th Youtube Id
            %td= activity.youtube_id
          %tr
            %th Transcript
            %td= activity.transcript
          %tr
            %th Timing
            %td= activity.timing
          %tr
            %th Yield
            %td= activity.yield
          %tr
            %th Difficulty
            %td= activity.difficulty
          %tr
            %th Featured Image Tag
            %td= activity.featured_image_tag
          %tr
            %th Activity Order
            %td= activity.activity_order
          %tr
            %th Required Equipment
            %td
              %ul
                - activity.required_equipment.map do |equipment|
                  %li= link_to equipment.title, admin_equipment_path(equipment.equipment_id)
          %tr
            %th Optional Equipment
            %td
              %ul
                - activity.optional_equipment.map do |equipment|
                  %li= link_to equipment.title, admin_equipment_path(equipment.equipment_id)

          %tr
            %th Steps
            %td
              %ol
                - activity.ordered_steps.each_with_index do |step,index|
                  %li= step.title(index)


