:ruby
  is_template = step.nil?

  row_id = 'step-row' if is_template
  field_name_prefix ||= "activity[steps][]"

  unless is_template
    title = step.title
    id = step.id 
    directions = step.directions
    image_id = step.image_id
    image_description = step.image_description
    youtube_id = step.youtube_id
    audio_clip = step.audio_clip
    audio_title = step.audio_title
    hide_number = step.hide_number
    is_aside = step.is_aside
  end

%tr{id: row_id, class: ('template-row' if is_template )}
  %td.title
    = text_field_tag "#{field_name_prefix}[title]", title, placeholder: "Step title"
    = label_tag hide_number, class: 'checkbox' do
      = check_box_tag "#{field_name_prefix}[hide_number]", hide_number, hide_number
      Hide Number
    = label_tag hide_number, class: 'checkbox' do
      = check_box_tag "#{field_name_prefix}[is_aside]", is_aside, is_aside
      Aside
    = hidden_field_tag "#{field_name_prefix}[id]", id
  %td.directions= text_area_tag "#{field_name_prefix}[directions]", directions, placeholder: "This is how we do it", rows: 10
  %td.media
    %ul.nav.nav-pills
      %li.active
        %a{data: {toggle: :pill, target: "#media-tabs-#{id} .image-tab"}} Image
      %li
        %a{data: {toggle: :pill, target: "#media-tabs-#{id} .video-tab"}} Video
      %li
        %a{data: {toggle: :pill, target: "#media-tabs-#{id} .audio-tab"}} Audio
    .tab-content.media-tabs{id: "media-tabs-#{id}"}
      .tab-pane.active.image-tab
        = render '/shared/filepicker_group', param: "#{field_name_prefix}[image_id]", value: image_id
        = text_area_tag "#{field_name_prefix}[image_description]", image_description, rows: 3, placeholder: "Image description"
      .tab-pane.video-tab
        = text_field_tag "#{field_name_prefix}[youtube_id]", youtube_id, placeholder: 'YouTube ID'
      .tab-pane.audio-tab
        = text_field_tag "#{field_name_prefix}[audio_clip]", audio_clip, placeholder: 'Audio file name'
        = text_field_tag "#{field_name_prefix}[audio_title]", audio_title, placeholder: 'Audio title'
  %td
    = remove_button 'tr'
    = reorder_icon

- if step && @recipe
  %li.two-button-row
    = link_to 'Edit ingredients associated with steps', associated_ingredients_admin_recipe_path(@recipe), class: 'admin-button'
