- if current_user
  - if current_user.enrollments.where(enrollable_type: 'Course').map(&:enrollable_id).include?(@course.id)
    = where_user_left_off_in_course(@course, current_user, 'btn btn-primary btn-large')
  - else
    %h2= ab_test "free or not", "Enroll now", "Enroll now for free"
    %p We'll keep track of your course progress and you can earn badges and upload your creations as you learn.
    .section 
      = form_tag enroll_course_path(@course) do
        = submit_tag 'Enroll', class: 'btn btn-primary btn-large btn-block', onclick: "mixpanel.people.set({ 'course enrolled': $('#course-title').data('course'), 'enrollment method': 'Standard' }); mixpanel.track('Course Enrolled', {'course': $('#course-title').data('course'), 'enrollment method': 'Standard'});"
      .section#browse-section
        %p.text-center Or
        .text-center
          = link_to 'Browse the course', [@course, @course.first_published_activity]

- else
  .flat-form.enrollment-wizard
    %h2= ab_test "free or not", "Enroll now", "Enroll now for free"    
    We'll keep track of your course progress and you can earn badges and upload your creations as you learn.
    .section.hide.enroll-section
      = link_to 'Enroll', 'javascript:void(0);', class: 'btn btn-primary btn-large btn-block enroll-section-btn'
    .section.browse-section
      %p.text-center Or
      .text-center
        = link_to 'Browse the course', [@course, @course.first_published_activity]
    .section.hide.signup-or-signin-section
      .row-fluid
        .span6
          = link_to 'Create an Account', 'javascript:void(0);', class: 'btn btn-primary btn-large btn-block signup-and-enroll-btn'
        .span6
          = link_to 'Sign In', 'javascript:void(0);', class: 'btn btn-primary btn-large btn-block signin-and-enroll-btn'
    .section.hide.signup-and-enroll-section
      = form_for @new_user, url: signup_and_enroll_path, method: :post, class: 'form-inline' do |f|
        = hidden_field_tag :course_id, @course.id
        = f.text_field :name, {placeholder: 'name', required: true, class: 'input-block-level'}
        = f.email_field :email, {placeholder: 'email', required: true, class: 'input-block-level'}
        .input-block-level-password
          = f.password_field :password, {placeholder: 'password', required: true, class: 'input-block-level'}
          = link_to 'Show', 'javascript:void(0);', class: 'btn btn-secondary', id: 'user-password-show'
        = f.submit 'Create Account and Enroll', class: 'btn btn-primary btn-large btn-block', id: 'subscribe-email', onclick: "mixpanel.people.set({'course enrolled': $('#course-title').data('course'), 'enrollment method':'New User'}); mixpanel.track('Course Enrolled', {'course': $('#course-title').data('course'), 'enrollment method': 'New User'});"
  
    .section.hide.signin-and-enroll-section
      = form_tag signin_and_enroll_path, method: :post do
        = hidden_field_tag :course_id, @course.id
        = text_field_tag :email, nil, placeholder: 'email', class: 'input-block-level', required: true
        = password_field_tag :password, nil, placeholder: 'password', class: 'input-block-level', required: true
        = submit_tag 'Sign In and Enroll', class: 'btn btn-primary btn-large btn-block', onclick: "mixpanel.people.set({'course enrolled': $('#course-title').data('course')}); mixpanel.track('Course Enrolled', {'course': $('#course-title').data('course'), 'enrollment method': 'Standard'});"