.container
  .row.section
    .span12
      %h1= "#{course.title} Course"
  .row.section
    .span6
      .video-container(ng-cloak=""){:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject", :csenforceaspect => true}
        %iframe(ng-style="setHeight()" csenforceaspect){src: youtube_url(course.youtube_id)}
      .section
        :markdown
          #{course.description}
      %h4.text-center
        %i.icon-comment-alt
        Comments or Questions?
        = link_to 'Visit the Forum', @course.forum_link
     
    .span6
      .well
        = render 'course_enrollment_box'
      - if @course.users.count > 1 && @course.uploads.approved.count > 3
        .well   
          %h4= "Current enrollment: #{@course.users.count}"
          %h3 Some user creations:
          .horizontal-slider{data: {direction: 'right'}}
            .horizontal-slider-wrap
              - @course.uploads.includes(:user).approved.order('created_at DESC').each do |upload|
                = render 'shared/media_box', size: 'medium', url: upload_path(upload), title: upload.title, image: upload.image_id
            %div{class: "horizontal-slider-btn-right btn btn-circle"}
              %i{class: "icon-chevron-right"}
            %div{class: "horizontal-slider-shadow-overlay-right"}

%hr

.container
  .row.section
    - ab_test 'knife ads large', 'https://d3awvtnmmsvyot.cloudfront.net/api/file/sddgrD4AQzqGvIiZ9f1G?v=line', 'https://d3awvtnmmsvyot.cloudfront.net/api/file/PNWHEjOpT9SbPmQAEAtq?v=photo' do |knife_ad_large|
      = link_to image_tag(knife_ad_large), knife_collection_path
  %hr
  .row.section
    .span6
      =image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/NcFevaslSnmYJUlJfvXP/convert?fit=max&w=600&cache=true' 
    .span6
      %h2 What you'll learn
      %ul 
        %li The list of essential knives every cook should own
        %li The pros and cons of expensive knives
        %li How to use waterstones to sharpen a blade
        %li How to polish a blade until razor sharp
        %li How to keep your knife's sharp edge with honing
        %li The science behind how knives cut and slice food

%hr

.container-fluid
  .row-fluid
    .container
      .row.section
        %h2.text-orange Instructors
      .row.section
        .span2
          = image_tag('chris-large.jpg', title: 'Chris Young', class: 'img-rofile')
        .span4
          :markdown
            #{bio_chris.copy.to_s}
        .span2
          = image_tag('grant-large.jpg', title: 'Chris Young', class: 'img-rofile')
        .span4
          :markdown
            #{bio_grant.copy.to_s}


= render '/layouts/footer'

