.container.classes-index(ng-controller="CourseIndexItemController" ng-cloak ng-init="assembly=#{course.to_json};")
  .row.section
    .span6
      = render 'shared/media_box_2', url: landing_class_path(course), image: course.image_id, object: course
    .span6
      .title-group
        %h3.inline-group= course.title
        -if course.average_rating > 0
          .nowrap
            .rating.inline-group
              %csrating(value="#{course.average_rating}" readonly="true")
            %a
              = link_to 'See all reviews', landing_class_path(course, anchor: "reviews")
      %p= course.short_description
      .section-tiny
        -# ECOMTODO this page is being replaced by a components page, so just putting in a tiny
        -# hack for now so it doesn't error until then.
        .labeled-price-group
          .labeled-price.sale-price(ng-if='assembly.premium')
            .labeled-price-label ChefSteps Premium
          .labeled-price.regular-price
            .labeled-price-price(ng-if="assembly.price <= 0") Free
      %a(href="#{landing_class_path(course)}")
        .btn.btn-primary.btn-large
          Learn More
