.container
  .row.section
    .span12
      %h1= "#{course.title} Course"
  .row.section
    .span6
      .video-container(ng-cloak=""){:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject", :csenforceaspect => true}
        %iframe(ng-style="setHeight()" csenforceaspect){src: youtube_url(course.youtube_id)}
      .section
        :markdown
          #{course.description}
      %h4.text-center
        %i.icon-comment-alt
        Comments or Questions?
        = link_to 'Visit the Forum', @course.forum_link
     
    .span6
      .well
        = render 'course_enrollment_box'
      - if @course.users.count > 1 && @course.uploads.approved.count > 3
        .well   
          %h4= "Current enrollment: #{@course.users.count}"
          %h3 Some user creations:
          .horizontal-slider{data: {direction: 'right'}}
            .horizontal-slider-wrap
              - @course.uploads.includes(:user).approved.order('created_at DESC').each do |upload|
                = render 'shared/media_box', size: 'medium', url: upload_path(upload), title: upload.title, image: upload.image_id
            %div{class: "horizontal-slider-btn-right btn btn-circle"}
              %i{class: "icon-chevron-right"}
            %div{class: "horizontal-slider-shadow-overlay-right"}

%hr

.container
  .row.section
    .span8.offset2.text-center
      %h2 The ideal tool for this course
      %p.section Many of the recipes in our poutine course, including the squeaky cheese curd, make use of a SousVide Supreme water bath. This helpful tool affords accurate temperature control essential for sous vide cooking, but is useful in many other unexpected ways in the kitchen.

%hr

.container#enthusiast
  .row.section
    .span5
      = image_tag 'https://www.filepicker.io/api/file/lgyi1qx3RVyEKG3lxdRp'
    .span6.offset1
      %h2 SousVide Supreme
      = Course::SVS[:copy]
      .well.section
        = buy_now(Course::SVS[:variant_id], Course::SVS[:price])

%hr

.container#creative
  .row.section
    .span5
      = image_tag 'https://www.filepicker.io/api/file/XKjDWnY0So2bEaB9OdVx'
    .span6.offset1
      %h2 SousVide Supreme Demi
      = Course::SVS_DEMI[:copy]
      .well.section
        = buy_now(Course::SVS_DEMI[:variant_id], Course::SVS_DEMI[:price])

%hr

.container
  .row.section
    .span12
      %h2.text-center What you'll learn
    .span6
      %p In this short course, you'll learn how to use salt water to find the perfect potatoes for incredibly crisp French fries prepared via a three-stage cooking technique.       
      %p Squeaky cheese curds are a cult-food favorite, and their elusive squeak makes or breaks a classic poutine. We'll help you master the art of getting the squeak into these nuggets of fresh curd using an unstirred sous vide water bath and the cheddaring process.
    .span6
      %p Finally, for those who are interested in a modernist approach to melting cheese, this course reveals the secret of creating a smooth-flowing molten cheddar cheese sauce. This is invaluable knowledge for those interested in creating the ultimate cheese slice for summertime grilling, or use the sauce for mac & cheese or rich, silky-smooth fondue when the weather turns cold. 
      %p At the end of this course, you'll have the opportunity to demonstrate proficiency with the techniques, and also certify your understanding of the science behind poutine. 

    .span5.offset1.section
      =image_tag 'https://www.filepicker.io/api/file/A89KdgiLQeOtWvGvC4QE'
      .text-center
        %h5 Old School Poutine        
    .span5.section
      =image_tag 'https://www.filepicker.io/api/file/tQgN14vnRGeXzwsh5Yx8'
      .text-center
        %h5 New School Poutine    

%hr

.container
  .span6.offset3
    = render 'course_enrollment_box'

%hr

.container-fluid
  .row-fluid
    .container
      .row.section
        %h2.text-orange Instructors
      .row.section
        .span2
          = image_tag('chris-large.jpg', title: 'Chris Young', class: 'img-rofile')
        .span4
          :markdown
            #{bio_chris.copy.to_s}
        .span2
          = image_tag('grant-large.jpg', title: 'Chris Young', class: 'img-rofile')
        .span4
          :markdown
            #{bio_grant.copy.to_s}


= render '/layouts/footer'

