.container
  .row
    .span12.section
      %h1= "#{course.title} Course"      
  .row.section
    .span6
      .video-container(ng-cloak=""){:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject", :csenforceaspect => true}
        %iframe(ng-style="setHeight()" csenforceaspect){src: youtube_url('QPdO4I3WLHg')}
      .section
        %p= course.description
      %h4.text-center
        %i.icon-comment-alt
        Comments or Questions?
        = link_to 'Visit the Forum', @course.forum_link
     
    .span6
      .well
        = render 'course_enrollment_box'
      - if @course.users.count > 1 && @course.uploads.approved.count > 3
        .well   
          %h4= "Current enrollment: #{@course.users.count}"
          %h3 Some user creations:
          .horizontal-slider{data: {direction: 'right'}}
            .horizontal-slider-wrap
              - @course.uploads.includes(:user).approved.order('created_at DESC').each do |upload|
                = render 'shared/media_box', size: 'medium', url: upload_path(upload), title: upload.title, image: upload.image_id
            %div{class: "horizontal-slider-btn-right btn btn-circle"}
              %i{class: "icon-chevron-right"}
            %div{class: "horizontal-slider-shadow-overlay-right"}

%hr

.container
  .row.section
    .span8.offset2
      %h2 Be more creative in your kitchen
      %p In this short-course, you will learn all three techniques, starting with reverse spherification, which is surprisingly easy. The course then teaches you the helpful refinement of this technique, called frozen-reverse spherification. Finally, you'll master the more challenging technique of direct spherification. At the end of the course, you will have the opportunity to demonstrate your proficiency with these techniques and also prove your understanding of why spherification works to certify that you've mastered this popular modernist technique.
  .row.section
    .span4
      =image_tag 'https://www.filepicker.io/api/file/RY0MPYKRRkOLpCNqGZpN'
      .text-center
        %h4 Reverse Spherification
        
    .span4
      =image_tag 'https://www.filepicker.io/api/file/BwIi8kdRFGLEIWaWcXPI'
      .text-center
        %h4 Frozen Reverse Spherification
        
    .span4
      =image_tag 'https://www.filepicker.io/api/file/PFUrsvzWReCkVxlMGXBG'
      .text-center
        %h4 Direct Spherification

%hr

  .row.section
    .span8.offset2
      %h2
        Buy a kit to help you get started

.container#creative
  .row.section
    .span6
      / = image_tag 'https://www.filepicker.io/api/file/cFWqOq07TTyCzGPhs6Kn'
      .annotated.annotated-creative
        = image_tag 'https://www.filepicker.io/api/file/cFWqOq07TTyCzGPhs6Kn'
        .annotations
          - Course::SPHERIFICATION_CREATIVE[:equipment].each do |equipment|
            .annotation
              = equipment
      .btn.btn-secondary.annotation-toggle.section.hide View Details
      /.row-fluid
      /  .span6
      /    = image_tag 'https://www.filepicker./io/api/file/Mn5unIy2TSGXjBRiRsnj'
      /  .span6
      /    = image_tag 'https://www.filepicker.io/api/file/ZZk2FdB3TcXndhp2tihA'
    .span5.offset1.lead
      %h2 The Creative Kit
      = Course::SPHERIFICATION_CREATIVE[:copy]
      .well.section
        = buy_now(Course::SPHERIFICATION_CREATIVE[:variant_id], Course::SPHERIFICATION_CREATIVE[:price])


%hr
.container#enthusiast
  .row.section
    .span6
      / = image_tag 'https://www.filepicker.io/api/file/kBzOoRGkRsmpKSZPg9fg'
      .annotated.annotated-enthusiast
        = image_tag 'https://www.filepicker.io/api/file/kBzOoRGkRsmpKSZPg9fg'
        .annotations
          - Course::SPHERIFICATION_ENTHUSIAST[:equipment].each do |equipment|
            .annotation
              = equipment
      .btn.btn-secondary.annotation-toggle.section.hide View Details
      /.row-fluid
      /  .span6
      /    = image_tag 'https://www.filepicker./io/api/file/10jMQrfrTYazji1Sc4XA'
      /  .span6
      /    = image_tag 'https://www.filepicker.io/api/file/NiJGuT9RkOOY9RUqDpyQ'
    .span5.offset1.lead
      %h2 The Enthusiast Kit
      = Course::SPHERIFICATION_ENTHUSIAST[:copy]
      .well.section
        = buy_now(Course::SPHERIFICATION_ENTHUSIAST[:variant_id], Course::SPHERIFICATION_ENTHUSIAST[:price])

%hr
.container#professional
  .row.section
    .span6
      /= image_tag 'https://www.filepicker.io/api/file/gV7vpXwSXi4eqHfOf1ED'
      .annotated.annotated-professional
        = image_tag 'https://www.filepicker.io/api/file/gV7vpXwSXi4eqHfOf1ED'
        .annotations
          - Course::SPHERIFICATION_PROFESSIONAL[:equipment].each do |equipment|
            .annotation
              = equipment
      .btn.btn-secondary.annotation-toggle.section.hide View Details
      /.row-fluid
      /  .span6
      /    = image_tag 'https://www.filepicker./io/api/file/FBnDnqcUQRetfBswxNzq'
      /  .span6
      /    = image_tag 'https://www.filepicker.io/api/file/KLRyOQ6fTB2K2y2rc2Gq'
    .span5.offset1.lead
      %h2 The Professional Kit
      = Course::SPHERIFICATION_PROFESSIONAL[:copy]
      .well.section
        = buy_now(Course::SPHERIFICATION_PROFESSIONAL[:variant_id], Course::SPHERIFICATION_PROFESSIONAL[:price])

- if bio_chris && bio_grant
  .container
    .row.section
      %h2.text-orange Instructors
    .row.section
      .span2
        = image_tag('chris-large.jpg', title: 'Chris Young', class: 'img-profile')
      .span4
        :markdown
          #{bio_chris.copy.to_s}
      .span2
        = image_tag('grant-large.jpg', title: 'Chris Young', class: 'img-profile')
      .span4
        :markdown
          #{bio_grant.copy.to_s}

%hr
.container
  .row.section
    = render 'layouts/disqus_comments', disqus_id: "course-#{course.id}", disqus_title:course.title, disqus_url: course_url