.container
  .row.section
    .span6
      %h1= "#{course.title} Course"
      .video-container(ng-cloak=""){:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject", :csenforceaspect => true}
        %iframe(ng-style="setHeight()" csenforceaspect){src: youtube_url('5Jdq-wmQaPA')}
      .section
        %p= course.description
      %h4.text-center
        %i.icon-comment-alt
        Comments or Questions?
        = link_to 'Visit the Forum', 'http://forum.chefsteps.com'
     
    .span6
      .well
        = render 'course_enrollment_box'
      - if @course.users.count > 1 && @course.uploads.count > 3
        .well   
          %h4= "Current enrollment: #{@course.users.count}"
          %h4 Here are some things students have accomplished so far:
          .horizontal-slider{data: {direction: 'right'}}
            .horizontal-slider-wrap
              - @course.uploads.each do |upload|
                = render 'shared/media_box', size: 'medium', url: user_upload_path(upload.user, upload), title: upload.recipe_name, image: upload.image_id
            %div{class: "horizontal-slider-btn-right btn btn-circle"}
              %i{class: "icon-chevron-right"}
            %div{class: "horizontal-slider-shadow-overlay-right"}

%hr

.container-fluid
  .row-fluid
    .container
      .row.section
        .span11.offset1
          %h3.orange= "The Creative Kit"
      .row.section
        .span5.offset1
          = image_tag 'https://www.filepicker.io/api/file/cFWqOq07TTyCzGPhs6Kn'
          /= image_tag 'https://www.filepicker.io/api/file/5wKEDSXZQgCgtA5W7JxI'
          %h4= "The Creative Kit includes"
          %ul
            %li Syringe 
            %li Stainless-steel straining spoon
            %li 25 g Sphere Magic
            %li 25 g Sodium Citrate
            %li 50 g Calcium Lactate Gluconate
            %li 50 g Calcium Chloride
            %li 50 g Xanthan Gum
        .span5
          = image_tag 'https://www.filepicker.io/api/file/Mn5unIy2TSGXjBRiRsnj'
          /= image_tag 'https://www.filepicker.io/api/file/ZZk2FdB3TcXndhp2tihA
          %h4= "The Creative Kit takes you through these lessons"
          /%ul
          /  - @creative.each do |activity|
          /    %li= activity.title
      .row.section
        .span4.offset4.well
          %h4.text-center= "The Creative Kit $39"
          = buy_now(311070543)

%hr
.container-fluid
  .row-fluid
    .container
      .row.section
        .span11.offset1
          %h3.orange= "The Enthusiast Kit"
      .row.section
        .span5.offset1
          = image_tag 'https://www.filepicker.io/api/file/kBzOoRGkRsmpKSZPg9fg'
          %h4= "The Enthusiast Kit includes"
          %ul
            %li Pocket Scale
            %li Stainless-steel straining spoon
            %li Syringe
            %li Modernist Ravioli Mold
            %li 25 g Sphere Magic
            %li 25 g SHMP
            %li 50 g Calcium Lactate Gluconate
            %li 50 g Calcium Chloride
            %li 50 g Xanthan Gum
        .span5
          = image_tag 'https://www.filepicker.io/api/file/10jMQrfrTYazji1Sc4XA'
          /= image_tag 'https://www.filepicker.io/api/file/NiJGuT9RkOOY9RUqDpyQ'
          %h4= "The Enthusiast Kit takes you through these lessons"
          /%ul
          /  - @enthusiast.each do |activity|
          /    %li= activity.title
      .row.section
        .span4.offset4.well
          %h4.text-center= "The Enthusiast Kit $69"
          = buy_now(311979727)


%hr
.container-fluid
  .row-fluid
    .container
      .row.section
        .span11.offset1
          %h3.orange= "The Professional Kit"
      .row.section
        .span5.offset1
          = image_tag 'https://www.filepicker.io/api/file/gV7vpXwSXi4eqHfOf1ED'
          %h4= "The Professional Kit includes"
          %ul
            %li Pocket Scale (100 g to .01 g)
            %li Stainless steel straining spoon
            %li Syringe
            %li Rapid Caviar Dropper
            %li Modernist Ravioli Mold
            %li 25 g Sphere Magic
            %li 25 g Sodium Citrate
            %li 50 g Calcium Lactate Gluconate
            %li 50 g Calcium Chloride
            %li 50 g Xanthan Gum
        .span5
          = image_tag 'https://www.filepicker.io/api/file/FBnDnqcUQRetfBswxNzq'
          /= image_tag 'https://www.filepicker.io/api/file/KLRyOQ6fTB2K2y2rc2Gq'
          %h4= "The Professional Kit takes you through these lessons"
          /%ul
          /  - @professional.each do |activity|
          /    %li= activity.title
      .row.section
        .span4.offset4.well
          %h4.text-center= "The Professional Kit $119"
          = buy_now(311979875)

.container-fluid
  .row-fluid
    .container
      .row.section
        %h2.text-orange Instructors
      .row.section
        .span2
          = image_tag('chris-large.jpg', title: 'Chris Young', class: 'img-profile')
        .span4
          :markdown
            #{bio_chris.copy.to_s}
        .span2
          = image_tag('grant-large.jpg', title: 'Chris Young', class: 'img-profile')
        .span4
          :markdown
            #{bio_grant.copy.to_s}

%hr

.container-fluid
  .row-fluid
    .container
      .row.section
        = render 'layouts/disqus_comments', disqus_id: "course-#{course.id}", disqus_title:course.title, disqus_url: course_url

