.container
  .row.section
    .span6
      %h1= "#{course.title} Course"
      .video-container(ng-cloak=""){:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject", :csenforceaspect => true}
        %iframe(ng-style="setHeight()" csenforceaspect){src: youtube_url('5Jdq-wmQaPA')}
      .section
        %p= course.description
      %h4.text-center
        %i.icon-comment-alt
        Comments or Questions?
        = link_to 'Visit the Forum', 'http://forum.chefsteps.com'
     
    .span6
      .well
        = render 'course_enrollment_box'
      - if @course.users.count > 1 && @course.uploads.count > 3
        .well   
          %h4= "Current enrollment: #{@course.users.count}"
          %h4 Here are some things students have accomplished so far:
          .horizontal-slider{data: {direction: 'right'}}
            .horizontal-slider-wrap
              - @course.uploads.each do |upload|
                = render 'shared/media_box', size: 'medium', url: user_upload_path(upload.user, upload), title: upload.recipe_name, image: upload.image_id
            %div{class: "horizontal-slider-btn-right btn btn-circle"}
              %i{class: "icon-chevron-right"}
            %div{class: "horizontal-slider-shadow-overlay-right"}

#creative-kit.modal.hide.fade
  .modal-header
    %h3 The Creative Kit
    = image_tag 'https://www.filepicker.io/api/file/cFWqOq07TTyCzGPhs6Kn'

  .modal-body
    %ul
      %li Blah
      %li Blah 
  .modal-footer
    %a(class="btn btn-secondary" data-dismiss="modal" aria-hidden="true") Close


%hr

.container-fluid#creative
  .row-fluid
    .container
      .row.section
        .span4
          /= image_tag 'https://www.filepicker.io/api/file/cFWqOq07TTyCzGPhs6Kn'
          = image_tag 'https://www.filepicker.io/api/file/Mn5unIy2TSGXjBRiRsnj'
          %h3= "The Creative Kit for $#{Course::SPHERIFICATION_CREATIVE[:price]}"
          = Course::SPHERIFICATION_CREATIVE[:copy]
          %a(href='#creative-kit' data-target='#creative-kit' data-toggle='modal') See Kit Details
          .well.section
            = buy_now(Course::SPHERIFICATION_CREATIVE[:variant_id])

        .span4
          /= image_tag 'https://www.filepicker.io/api/file/kBzOoRGkRsmpKSZPg9fg'
          = image_tag 'https://www.filepicker.io/api/file/5wKEDSXZQgCgtA5W7JxI'
          %h3="The Enthusiast Kit for $#{Course::SPHERIFICATION_ENTHUSIAST[:price]}"
          = Course::SPHERIFICATION_ENTHUSIAST[:copy]
          %a(href='#creative-kit' data-target='#creative-kit' data-toggle='modal') See Kit Details
          .well.section
            = buy_now(Course::SPHERIFICATION_ENTHUSIAST[:variant_id])

        .span4
          /= image_tag 'https://www.filepicker.io/api/file/gV7vpXwSXi4eqHfOf1ED'
          = image_tag 'https://www.filepicker.io/api/file/FBnDnqcUQRetfBswxNzq'          
          %h3="The Professional Kit for $#{Course::SPHERIFICATION_PROFESSIONAL[:price]}"
          = Course::SPHERIFICATION_PROFESSIONAL[:copy]
          %a(href='#creative-kit' data-target='#creative-kit' data-toggle='modal') See Kit Details

          .well.section
            = buy_now(Course::SPHERIFICATION_PROFESSIONAL[:variant_id])

.container-fluid
  .row-fluid
    .container
      .row.section
        %h2.text-orange Instructors
      .row.section
        .span2
          = image_tag('chris-large.jpg', title: 'Chris Young', class: 'img-profile')
        .span4
          :markdown
            #{bio_chris.copy.to_s}
        .span2
          = image_tag('grant-large.jpg', title: 'Chris Young', class: 'img-profile')
        .span4
          :markdown
            #{bio_grant.copy.to_s}

%hr

.container-fluid
  .row-fluid
    .container
      .row.section
        = render 'layouts/disqus_comments', disqus_id: "course-#{course.id}", disqus_title:course.title, disqus_url: course_url

