.container
  .row.section
    .span6
      %h1= "#{course.title} Course"
      .video-container(ng-cloak=""){:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject", :csenforceaspect => true}
        %iframe(ng-style="setHeight()" csenforceaspect){src: youtube_url('QPdO4I3WLHg')}
      .row.section
        %ul
          %li
            %h4 Beautiful step-by-step demonstrations
          %li 
            %h4 Use our reliable recipes as a starting point
          %li 
            %h4 Support from our friendly community of experience cooks and world-class chefs
        %hr
        %h3.text-center
          = link_to 'Buy a kit to get started', '#creative'
       


    .span6.well
      = render 'course_enrollment_box'
      .section
        %h4= "Current enrollment: #{@course.users.count}"
        %h3 Some user creations:
        .horizontal-slider{data: {direction: 'right'}}
          .horizontal-slider-wrap
            - @course.uploads.includes(:user).approved.order('created_at DESC').each do |upload|
              = render 'shared/media_box', size: 'medium', url: upload_path(upload), title: upload.title, image: upload.image_id
          %div{class: "horizontal-slider-btn-right btn btn-circle"}
            %i{class: "icon-chevron-right"}
          %div{class: "horizontal-slider-shadow-overlay-right"}


#creative-kit.modal.hide.fade
  .modal-header
    %h3 The Creative Kit
  .modal-body
    = image_tag 'https://www.filepicker.io/api/file/cFWqOq07TTyCzGPhs6Kn'
    %ul.section{style: "-webkit-column-count: 2"}
      - Course::SPHERIFICATION_CREATIVE[:equipment].each do |equipment|
        %li= equipment
  .modal-footer.section
    %a(class="btn btn-secondary" data-dismiss="modal" aria-hidden="true") Close


#enthusiast-kit.modal.hide.fade
  .modal-header
    %h3 The Enthusiast Kit
  .modal-body
    = image_tag 'https://www.filepicker.io/api/file/kBzOoRGkRsmpKSZPg9fg'
    %ul.section{style: "-webkit-column-count: 2"}
      - Course::SPHERIFICATION_ENTHUSIAST[:equipment].each do |equipment|
        %li= equipment    
  .modal-footer.section
    %a(class="btn btn-secondary" data-dismiss="modal" aria-hidden="true") Close


#professional-kit.modal.hide.fade
  .modal-header
    %h3 The Professional Kit
  .modal-body
    = image_tag 'https://www.filepicker.io/api/file/gV7vpXwSXi4eqHfOf1ED'
    %ul.section{style: "-webkit-column-count: 2"}
      - Course::SPHERIFICATION_PROFESSIONAL[:equipment].each do |equipment|
        %li= equipment
  .modal-footer.section
    %a(class="btn btn-secondary" data-dismiss="modal" aria-hidden="true") Close

%hr            

.container-fluid#creative
  .row-fluid
    .container
      .row.section
        .span4.align-bottom
          /= image_tag 'https://www.filepicker.io/api/file/cFWqOq07TTyCzGPhs6Kn'
          = image_tag 'https://www.filepicker.io/api/file/Mn5unIy2TSGXjBRiRsnj'
          %h3= "The Creative Kit"
          .static-height
            = Course::SPHERIFICATION_CREATIVE[:copy]
            %a(href='#creative-kit' data-target='#creative-kit' data-toggle='modal') See Kit Details
          .well.section
            = buy_now(Course::SPHERIFICATION_CREATIVE[:variant_id], Course::SPHERIFICATION_CREATIVE[:price])

        .span4.align-bottom
          /= image_tag 'https://www.filepicker.io/api/file/kBzOoRGkRsmpKSZPg9fg'
          = image_tag 'https://www.filepicker.io/api/file/5wKEDSXZQgCgtA5W7JxI'
          %h3="The Enthusiast Kit"
          .static-height
            = Course::SPHERIFICATION_ENTHUSIAST[:copy]
            %a(href='#enthusiast-kit' data-target='#enthusiast-kit' data-toggle='modal') See Kit Details
          .well.section
            = buy_now(Course::SPHERIFICATION_ENTHUSIAST[:variant_id], Course::SPHERIFICATION_ENTHUSIAST[:price])

        .span4.align-bottom
          /= image_tag 'https://www.filepicker.io/api/file/gV7vpXwSXi4eqHfOf1ED'
          = image_tag 'https://www.filepicker.io/api/file/FBnDnqcUQRetfBswxNzq'          
          %h3="The Professional Kit"
          .static-height
            = Course::SPHERIFICATION_PROFESSIONAL[:copy]
            %a(href='#professional-kit' data-target='#professional-kit' data-toggle='modal') See Kit Details
          .well.section
            = buy_now(Course::SPHERIFICATION_PROFESSIONAL[:variant_id], Course::SPHERIFICATION_PROFESSIONAL[:price])

%hr

.container
  .row.section
    .span8.offset2
      %h2 Be more creative in your kitchen
      %p In this short-course, you will learn all three techniques, starting with reverse spherification, which is surprisingly easy. The course then teaches you the helpful refinement of this technique, called frozen-reverse spherification. Finally, you'll master the more challenging technique of direct spherification. At the end of the course, you will have the opportunity to demonstrate your proficiency with these techniques and also prove your understanding of why spherification works to certify that you've mastered this popular modernist technique.
  .row.section
    .span4
      =image_tag 'https://www.filepicker.io/api/file/RY0MPYKRRkOLpCNqGZpN'
      .text-center
        %h4 Reverse Spherification
        
    .span4
      =image_tag 'https://www.filepicker.io/api/file/BwIi8kdRFGLEIWaWcXPI'
      .text-center
        %h4 Frozen Reverse Spherification
        
    .span4
      =image_tag 'https://www.filepicker.io/api/file/PFUrsvzWReCkVxlMGXBG'
      .text-center
        %h4 Direct Spherification

%hr

.container-fluid
  .row-fluid
    .container
      .row.section
        %h2.text-orange Instructors
      .row.section
        .span2
          = image_tag('chris-large.jpg', title: 'Chris Young', class: 'img-profile')
        .span4
          :markdown
            #{bio_chris.copy.to_s}
        .span2
          = image_tag('grant-large.jpg', title: 'Chris Young', class: 'img-profile')
        .span4
          :markdown
            #{bio_grant.copy.to_s}

%hr

.container-fluid
  .row-fluid
    .container
      .row.section
        = render 'layouts/disqus_comments', disqus_id: "course-#{course.id}", disqus_title:course.title, disqus_url: course_url
