.container
  .row
    .span12
      %h2 Courses
      = paginate @courses

- @courses.each do |course|
  .container
    .row.section
      .span4
        = render 'shared/media_box_2', url: course_path(course), title: course.title, image: course.featured_image, object: course
      .span8
        %h2= course.title
        %h4= "#{course.viewable_activities.count} Lessons"
        = link_to 'View the Course', course, class: 'btn btn-primary btn-large'
.container
  .row
    .span12
      = paginate @courses