- content_for :title, course.title
- content_for :description, course.short_description
- @body_tag_attributes = {:'ng-app' => "ChefStepsApp"}

- ab_test('poutine', {'poutine_a' => 1}, {'poutine_b' => 1}) do |poutine|
  - if poutine == 'poutine_a'
    = render 'poutine_a'
  - elsif poutine == 'poutine_b'
    = render 'poutine_b'

- if current_user
  :javascript
    mixpanel.track('Course Viewed', {'distinct_id' : "#{current_user.email}", 'course' : "#{course.title}", 'url' : window.location.pathname});
    mixpanel.people.increment('Course Viewed Count')

- else
  :javascript
    mixpanel.track('Course Viewed', {'course' : "#{course.title}", 'url' : window.location.pathname});
    mixpanel.people.increment('Course Viewed Count')

#course-title(data-course="#{course.title}")