- content_for :title, course.title
- content_for :description, course.short_description

.container.top-container
  .row.section
    .span6
      %h1= course.title
      %p= course.description
      %h4.text-center
        %i.icon-comment-alt
        Comments or Questions?
        = link_to 'Visit the Forum', 'http://forum.chefsteps.com'
      .section.well
        %ul
          %li Lorem ipsum dolor sit amet
          %li Consectetur adipiscing elit
          %li Pellentesque nisi libero
          %li Lorem ipsum dolor sit amet
          %li Consectetur adipiscing elit
          %li Pellentesque nisi libero
    .span6.well
      - if current_user && current_user.course_ids.include?(@course.id)
        You are enrolled into this course.
        = link_to 'First activity', course_activity_path(@course, @course.first_published_activity), class: 'btn btn-primary btn-large pull-right'
      - else
        = form_tag enroll_course_path(@course) do
          = submit_tag 'Enroll', class: 'btn btn-primary btn-large pull-right'
.container-fluid.well-gradient
  .row-fluid
    %hr
    .container
      .row.section
        .span12
          .row
            .span4.well
              %h3 Good
            .span4.well
              %h3 Better
            .span4.well
              %h3 Best

.container-fluid
  .row-fluid
    .container
      .row.section
        = render 'layouts/disqus_comments', disqus_id: "course-#{course.id}", disqus_title:course.title, disqus_url: course_url

