- content_for :title, course.title
- content_for :description, course.short_description

.container
  .row.section
    .span6
      %h1= course.title
      =image_tag 'http://placehold.it/570x320'
      .section
        %p= course.description
      %h4.text-center
        %i.icon-comment-alt
        Comments or Questions?
        = link_to 'Visit the Forum', 'http://forum.chefsteps.com'
      
    .span6
      .well
        - if current_user
          - if current_user.course_ids.include?(@course.id)
            / %h2
            /   Lesson
            /   = current_user.viewed_activities_in_course(course).count
            /   of
            /   = course.viewable_activities.count
            / = where_user_left_off_in_course(@course, current_user, 'btn btn-primary btn-large')
            = link_to 'Continue Course', [@course, @course.first_published_activity], class: 'btn, btn-primary btn-large'
          - else
            = form_tag enroll_course_path(@course) do
              = submit_tag 'Enroll', class: 'btn btn-primary btn-large'
        - else
          .flat-form
            %h2 Sign Up To Enroll
            = form_for @new_user, url: registration_path(@new_user), class: 'form-inline' do |f|
              = f.text_field :name, {placeholder: 'name', required: true, class: 'input-block-level'}
              = f.email_field :email, {placeholder: 'email', required: true, class: 'input-block-level'}
              .input-block-level-password
                = f.password_field :password, {placeholder: 'password', required: true, class: 'input-block-level'}
                = link_to 'Show', 'javascript:void(0);', class: 'btn btn-secondary', id: 'user_password_show'
              = f.submit 'Enroll Now', class: 'btn btn-primary btn-large btn-block', id: 'subscribe-email'
      .well   
        - if @course.users.count > 1
          %h4= "#{@course.users.count} people have enrolled."
        %h4 Here's what people have accomplished with the course:
        - @course.uploads.each do |upload|
          = image_tag filepicker_gallery_image(upload.image_id)

  .row.section
    .span12
      %h2.text-center
        Be more creative in the kitchen
  .row
    .span4
      =image_tag 'http://placehold.it/570x320'
      %h4.text-center Reverse Spheres
    .span4
      =image_tag 'http://placehold.it/570x320'
      %h4.text-center Frozen Reverse Spheres
    .span4
      =image_tag 'http://placehold.it/570x320'
      %h4.text-center Direct Spheres
  .row.section
    .span12
      %h2.text-center
        Buy a kit to help you get started or 
        = link_to 'browse the course now.', course_activity_path(@course, @course.first_published_activity)

%hr
.container-fluid
  .row-fluid
    .container
      .row.section
        .span11.offset1
          %h3.orange= "The Creative Kit"
      .row.section
        .span5.offset1
          = image_tag 'http://placehold.it/570x320'
          %h4= "The Creative Kit includes"
          %ul
            %li Syringe for direct spherification
            %li Stainless steel dosing spoon for reverse spherification
            %li Stainless steel straining spoon
            %li 25 g Sphere Magic
            %li 25 g Sodium Citrate
            %li 50 g Calcium Lactate Gluconate
            %li 50 g Calcium Chloride
            %li 50 g Xanthan Gum
        .span5
          = image_tag 'http://placehold.it/570x320'
          %h4= "The Creative Kit takes you through these lessons"
          %ul
            - @creative.each do |activity|
              %li= activity.title
      .row.section
        .span4.offset4.well
          %h4.text-center= "The Creative Kit $39"
          = link_to 'Buy Now', 'http://store.chefsteps.com/cart/add', onclick: "var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '230692472'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'http://store.chefsteps.com/checkout'); f.appendChild(r); f.submit(); return false;", class: 'btn btn-primary btn-large btn-block'

%hr
.container-fluid
  .row-fluid
    .container
      .row.section
        .span11.offset1
          %h3.orange= "The Enthusiast Kit"
      .row.section
        .span5.offset1
          = image_tag 'http://placehold.it/570x320'
          %h4= "The Enthusiast Kit includes"
          %ul
            %li Syringe for direct spherification
            %li Stainless steel dosing spoon for reverse spherification
            %li Stainless steel straining spoon
            %li 25 g Sphere Magic
            %li 25 g Sodium Citrate
            %li 50 g Calcium Lactate Gluconate
            %li 50 g Calcium Chloride
            %li 50 g Xanthan Gum
        .span5
          = image_tag 'http://placehold.it/570x320'
          %h4= "The Enthusiast Kit takes you through these lessons"
          %ul
            - @enthusiast.each do |activity|
              %li= activity.title
      .row.section
        .span4.offset4.well
          %h4.text-center= "The Enthusiast Kit $70"
          .btn.btn-primary.btn-large.text-center.btn-block
            Buy Now

%hr
.container-fluid
  .row-fluid
    .container
      .row.section
        .span11.offset1
          %h3.orange= "The Professional Kit"
      .row.section
        .span5.offset1
          = image_tag 'http://placehold.it/570x320'
          %h4= "The Professional Kit includes"
          %ul
            %li Syringe for direct spherification
            %li Stainless steel dosing spoon for reverse spherification
            %li Stainless steel straining spoon
            %li 25 g Sphere Magic
            %li 25 g Sodium Citrate
            %li 50 g Calcium Lactate Gluconate
            %li 50 g Calcium Chloride
            %li 50 g Xanthan Gum
        .span5
          = image_tag 'http://placehold.it/570x320'
          %h4= "The Professional Kit takes you through these lessons"
          %ul
            - @professional.each do |activity|
              %li= activity.title
      .row.section
        .span4.offset4.well
          %h4.text-center= "The Professional Kit $119"
          .btn.btn-primary.btn-large.text-center.btn-block
            Buy Now
/ - ['creative','enthusiast','professional'].each do |kit_title|
/   .container-fluid.well-gradient
/     .row-fluid
/       .container
/         .row.section
/           .span11.offset1
/             %h3.orange= "The #{kit_title.titleize}"
/         .row.section
/           .span5.offset1
/             = image_tag 'http://placehold.it/570x320'
/             %h4= "The #{kit_title.titleize} kit includes"
/             %ul
/               %li Syringe for direct spherification
/               %li Stainless steel dosing spoon for reverse spherification
/               %li Stainless steel straining spoon
/               %li 25 g Sphere Magic
/               %li 25 g Sodium Citrate
/               %li 50 g Calcium Lactate Gluconate
/               %li 50 g Calcium Chloride
/               %li 50 g Xanthan Gum
/           .span5
/             = image_tag 'http://placehold.it/570x320'
/             %h4= "The #{kit_title.titleize} kit takes you through these lessons"
/             %ul
/               %li Sphere Baths
/               %li Direct Spherification
/               %li Reverse Spherification
/               %li Chocolate Spheres
/               %li Pine Spheres
/         .row.section
/           .span4.offset4.well
/             %h4.text-center= "The #{kit_title.titleize} Kit $39"
/             .btn.btn-primary.btn-large.text-center.btn-block
/               Buy Now

.container-fluid
  .row-fluid
    .container
      .row.section
        %h2.text-orange Instructors
      .row.section
        .span2
          = image_tag('chris-large.jpg', title: 'Chris Young', class: 'img-profile')
        .span4
          :markdown
            #{bio_chris.copy.to_s}
        .span2
          = image_tag('grant-large.jpg', title: 'Chris Young', class: 'img-profile')
        .span4
          :markdown
            #{bio_grant.copy.to_s}

%hr

.container-fluid
  .row-fluid
    .container
      .row.section
        = render 'layouts/disqus_comments', disqus_id: "course-#{course.id}", disqus_title:course.title, disqus_url: course_url

