- content_for :title, course.title
- content_for :description, course.short_description
- @body_tag_attributes = {:'ng-app' => "ChefStepsApp"}

.container
  .row.section
    .span6
      %h1= "#{course.title} Course"
      .video-container(ng-cloak=""){:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject", :csenforceaspect => true}
        %iframe(ng-style="setHeight()" csenforceaspect){src: youtube_url('5Jdq-wmQaPA')}
      .section
        %p= course.description
      %h4.text-center
        %i.icon-comment-alt
        Comments or Questions?
        = link_to 'Visit the Forum', 'http://forum.chefsteps.com'
     
    .span6
      .well
        - if current_user
          - if current_user.course_ids.include?(@course.id)
            - course_button_message = current_user.viewed_activities_in_course(@course).count > 0 ? 'Continue Course' : 'Start the Course!'
            = link_to course_button_message, [@course, @course.first_published_activity], class: 'btn, btn-primary btn-large'
          - else
            = form_tag enroll_course_path(@course) do
              = submit_tag 'Enroll', class: 'btn btn-primary btn-large'
        - else
          .flat-form.section
            %h2 Enroll for free now
            .section.hide#enroll-section
              = link_to 'Enroll', 'javascript:void(0);', class: 'btn btn-primary btn-large btn-block', id: 'enroll-section-btn'
            .section.hide#signup-or-signin-section
              .row-fluid
                .span6
                  = link_to 'Create an Account', 'javascript:void(0);', class: 'btn btn-primary btn-large btn-block', id: 'signup-and-enroll-btn'
                .span6
                  = link_to 'Sign In', 'javascript:void(0);', class: 'btn btn-primary btn-large btn-block', id: 'signin-and-enroll-btn'
            .section.hide#signup-and-enroll-section
              = form_for @new_user, url: signup_and_enroll_path, method: :post, class: 'form-inline' do |f|
                = hidden_field_tag :course_id, @course.id
                = f.text_field :name, {placeholder: 'name', required: true, class: 'input-block-level'}
                = f.email_field :email, {placeholder: 'email', required: true, class: 'input-block-level'}
                .input-block-level-password
                  = f.password_field :password, {placeholder: 'password', required: true, class: 'input-block-level'}
                  = link_to 'Show', 'javascript:void(0);', class: 'btn btn-secondary', id: 'user-password-show'
                = f.submit 'Create Account and Enroll', class: 'btn btn-primary btn-large btn-block', id: 'subscribe-email'
            .section.hide#signin-and-enroll-section
              = form_tag signin_and_enroll_path, method: :post do
                = hidden_field_tag :course_id, @course.id
                = text_field_tag :email, nil, placeholder: 'email', class: 'input-block-level', required: true
                = password_field_tag :password, nil, placeholder: 'password', class: 'input-block-level', required: true
                = submit_tag 'Sign In and Enroll', class: 'btn btn-primary btn-large btn-block'
      .well   
        - if @course.users.count > 1
          %h4= "Current enrollment: #{@course.users.count}"
        - if @course.uploads.count > 3
          %h4 Here are some things students have accomplished so far:
          .horizontal-slider{data: {direction: 'right'}}
            .horizontal-slider-wrap
              - @course.uploads.each do |upload|
                = render 'shared/media_box', size: 'medium', url: user_upload_path(upload.user, upload), title: upload.recipe_name, image: upload.image_id
            %div{class: "horizontal-slider-btn-right btn btn-circle"}
              %i{class: "icon-chevron-right"}
            %div{class: "horizontal-slider-shadow-overlay-right"}

%hr

.container
  .row.section
    .span8.offset2
      %h2 Be more creative in your kitchen
      %p In this short-course, you will learn all three techniques, starting with reverse spherification, which is surprisingly easy. The course then teaches you the helpful refinement of this technique, called frozen-reverse spherification. Finally, you'll master the more challenging technique of direct spherification. At the end of the course, you will have the opportunity to demonstrate your proficiency with these techniques and also prove your understanding of why spherification works to certify that you've mastered this popular modernist technique.
  .row.section
    .span4
      =image_tag 'https://www.filepicker.io/api/file/RY0MPYKRRkOLpCNqGZpN'
      .text-center
        %h4 Reverse Spherification
        
    .span4
      =image_tag 'https://www.filepicker.io/api/file/BwIi8kdRFGLEIWaWcXPI'
      .text-center
        %h4 Frozen Reverse Spherification
        
    .span4
      =image_tag 'https://www.filepicker.io/api/file/PFUrsvzWReCkVxlMGXBG'
      .text-center
        %h4 Direct Spherification

%hr

  .row.section
    .span8.offset2
      %h2
        Buy a kit to help you get started

.container
  .row.section
    .span6
      / = image_tag 'https://www.filepicker.io/api/file/cFWqOq07TTyCzGPhs6Kn'
      .annotated.annotated-creative
        = image_tag 'https://www.filepicker.io/api/file/cFWqOq07TTyCzGPhs6Kn'
        .annotations
          .annotation Syringe 
          .annotation Spherification Straining Spoon
          .annotation 25 g Sphere Magic
          .annotation 25 g Sodium Citrate
          .annotation 50 g Calcium Gluconate
          .annotation 50 g Calcium Chloride
          .annotation 50 g Xanthan Gum
      .row-fluid
        .span6
          = image_tag 'https://www.filepicker.io/api/file/Mn5unIy2TSGXjBRiRsnj'
        .span6
          = image_tag 'https://www.filepicker.io/api/file/ZZk2FdB3TcXndhp2tihA'
    .span5.offset1.lead
      %h2 The Creative Kit
      The Modernist Pantry Creative Sphere Magic Kit includes the technical ingredients you'll need to complete the ChefSteps reverse and direct spherification modules. It has most of the tools as well, except for a high-accuracy scale and the mold needed for frozen-reverse spherification.
      .well.section
        %h4.text-center= "The Creative Kit $39"
        = buy_now(311070543)


%hr
.container
  .row.section
    .span6
      / = image_tag 'https://www.filepicker.io/api/file/kBzOoRGkRsmpKSZPg9fg'
      .annotated.annotated-enthusiast
        = image_tag 'https://www.filepicker.io/api/file/kBzOoRGkRsmpKSZPg9fg'
        .annotations
          .annotation Syringe 
          .annotation Spherification Straining Spoon
          .annotation 25 g Sphere Magic
          .annotation 50 g Sodium Citrate
          .annotation 50 g Calcium Gluconate
          .annotation 50 g Calcium Chloride
          .annotation 50 g Xanthan Gum
          .annotation High-Accuracy Scale
          .annotation Silicon Hemisphere Mold
      .row-fluid
        .span6
          = image_tag 'https://www.filepicker.io/api/file/10jMQrfrTYazji1Sc4XA'
        .span6
          = image_tag 'https://www.filepicker.io/api/file/NiJGuT9RkOOY9RUqDpyQ'
    .span5.offset1.lead
      %h2 The Enthusiast Kit
      The Modernist Pantry Enthusiast Sphere Magic Kit includes all of the technical ingredients and tools you'll need to complete the entire ChefSteps spherification course. It adds a high-accuracy scale (capable of weighing 1/100th of a gram) and a high-quality silicon mold used for frozen-reverse spherification.
      .well.section
        %h4.text-center= "The Enthusiast Kit $79"
        = buy_now(311979727)

%hr
.container
  .row.section
    .span6
      /= image_tag 'https://www.filepicker.io/api/file/gV7vpXwSXi4eqHfOf1ED'
      .annotated.annotated-professional
        = image_tag 'https://www.filepicker.io/api/file/gV7vpXwSXi4eqHfOf1ED'
        .annotations
          .annotation Syringe 
          .annotation Spherification Straining Spoon
          .annotation 25 g Sphere Magic
          .annotation 25 g SHMP
          .annotation 50 g Calcium Gluconate
          .annotation 50 g Calcium Chloride
          .annotation 50 g Xanthan Gum
          .annotation High-Accuracy Scale
          .annotation Silicon Hemisphere Mold
          .annotation Rapid Caviar Maker
      .row-fluid
        .span6
          = image_tag 'https://www.filepicker.io/api/file/FBnDnqcUQRetfBswxNzq'
        .span6
          = image_tag 'https://www.filepicker.io/api/file/KLRyOQ6fTB2K2y2rc2Gq'
    .span5.offset1.lead
      %h2 The Professional Kit
      The Modernist Pantry Professional Sphere Magic Kit includes everything in the Enthusiast Kit, plus a professional caviar dosing tray used for direct spherification. This hard to find tool makes it easy to quickly turn any liquid into small spheres bursting with flavor. This kit includes all of the tools featured in ChefSteps spherification course.
      .well.section
        %h4.text-center= "The Professional Kit $119"
        = buy_now(311979875)

- if bio_chris && bio_grant
  .container
    .row.section
      %h2.text-orange Instructors
    .row.section
      .span2
        = image_tag('chris-large.jpg', title: 'Chris Young', class: 'img-profile')
      .span4
        :markdown
          #{bio_chris.copy.to_s}
      .span2
        = image_tag('grant-large.jpg', title: 'Chris Young', class: 'img-profile')
      .span4
        :markdown
          #{bio_grant.copy.to_s}

%hr
.container
  .row.section
    = render 'layouts/disqus_comments', disqus_id: "course-#{course.id}", disqus_title:course.title, disqus_url: course_url

