- content_for :title, "#{course.title} Course"
- content_for :description, course.short_description
- @body_tag_attributes = {:'ng-app' => "ChefStepsApp"}

- ab_test('spherification', {'spheres_a' => 1}, {'spheres_b' => 1}, {'spheres_c' => 1}, {'spheres_d' => 1}, {'spheres_e' => 1}, {'spheres_f' => 1}) do |spherification|
  - if spherification == 'spheres_a'
    = render 'spherification_a'
  - elsif spherification == 'spheres_b'
    = render 'spherification_b'
  - elsif spherification == 'spheres_c'
    = render 'spherification_c'
  - elsif spherification == 'spheres_d'
    = render 'spherification_d'
  - elsif spherification == 'spheres_e'
    = render 'spherification_e'
  - elsif spherification == 'spheres_f'
    = render 'spherification_f'

- if current_user
  :javascript
    mixpanel.track('Course Viewed', {'distinct_id' : "#{current_user.id}", 'course title' : document.title, 'url' : window.location.pathname});
- else
  :javascript
    mixpanel.track('Course Viewed', {'course title' : document.title, 'url' : window.location.pathname});

- if course.additional_script
  = course.additional_script.html_safe