- content_for :title, "#{course.title} Course"
- content_for :description, course.short_description
- @body_tag_attributes = {:'ng-app' => "ChefStepsApp"}

= render 'spherification_b'

- if current_user
  :javascript
    mixpanel.track('Course Viewed', {'distinct_id' : "#{current_user.email}", 'course' : "#{course.title}", 'url' : window.location.pathname});
- else
  :javascript
    mixpanel.track('Course Viewed', {'course' : "#{course.title}", 'url' : window.location.pathname});

- if course.additional_script
  = course.additional_script.html_safe

#course-title(data-course="#{course.title}")
