- content_for :title, 'ChefSteps Jobs'
- content_for :description, "We're looking to educate and solve problems for every cook. Empowering people to cook more efficiently, more often, and inspire them to have fun doing it. We hire people who are generalists, but also exhibit deep subject expertise. We're always interested in people with original ideas, but we hire people who also recognize the importance of collaboration to turn great ideas into great products."

.chefsteps-filter
  .text-center
    %h1.tagline Join ChefSteps
/    .text-center
/      .btn.btn-primary= link_to 'SEE OPEN POSITIONS', '#openPositions'

.container.jobs
  .span10.offset1
    .row.whitespace
      .text-center
        %h1 Every cook, cooking smarter.
        .section-tiny
        %h5 We want to educate and solve problems for every cook. We empower people to cook more efficiently, more often, and inspire them to have fun doing it.
  %hr
    .row
      .span12
        %h2 ChefSteps Core Values
        %p Sure, every startup's got core values. They're idealistic and may seem unattainable, but they're absolutely essential in creating a shared vision that everyone can get behind. And we work on them every day at ChefSteps.
    .row
      .span4.well.fixed
        %h3 Empower Cooks
        %p Show people how something works instead of telling them it works. Focus on delivering guidance, rather than answers, and together we'll empower a generation of cooks who are hungry to learn more.
      .span4.well.fixed
        %h3 Ship on Quality
        %p Knowing when something is good enough is different from knowing when it is great, and knowing when it is great is different from waiting until it is perfect. Quality, yes, but please, ship.
      .span4.well.fixed
        %h3 Over-Communicate
        %p Communicate openly. Ask lots of questions. Listen to your peers, interject your opinion, and have the courage and the curiosity to find out more about what people around you are working on.
    .row
      .span4.well.fixed
        %h3 Be Smart and Execute
        %p Do what you think is effective. Not knowing is fine: frame an experiment, hypothesize, synthesize, learn, and move on.
      .span4.well.fixed
        %h3 Stay Hungry
        %p Leave work every day having learned something new. Someone is always doing something that you don't yet know how to do, and taking the initiative to learn about it will earn respect.
      .span4.well.fixed
        %h3 Do What You Love
        %p Think long-term about what you love to do, and that will guide you to where the most value is in the short-term. Do what needs to get done so you can continue doing what you love.
    .row
      .span4.well.fixed
        %h3 Win Together
        %p We succeed and fail as a team. Don’t worry about getting credit, just make this place awesome.
  %hr
  .span12
    .row
      %h2 Why work here?
      %p A lot of reasons, really. We're thinking big about how the kitchen has (and hasn't) changed over the years, and we're working hard to be at the core of that. We're a product-oriented company from start-to-finish.
    .row
      .span4.well.fixed
        .text-center.section
          = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/LcUGSVWeQ0Oglu1jybKs', class: 'img-circle', alt: ''
        %h4 Amazing Workspace in Pike Place Market
        %p Steps from where they throw all that fish.
      .span4.well.fixed
        .text-center.section
          = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/4BmANtBTQzCYNUGvO92J', class: 'img-circle', alt: ''
        %h4 Unlimited Vacation & Sick Time
        %p Because you're a grown up.
      .span4.well.fixed
        .text-center.section
          = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/iZRgxrxYT02o07DEkc47', class: 'img-circle', alt: ''
        %h4 Really Freaking Good Medical, Dental, and Vision
        %p Stay healthy, stay happy.
    .row
      .span4.well.fixed
        .text-center.section
          = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/nrRdJZ7RD2Bg3TPmJf0w', class: 'img-circle', alt: ''
        %h4 Flexible Work Environment
        %p WFH, WFS (Stumptown), WFPR (Puerto Rico)
      .span4.well.fixed
        .text-center.section
          = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/LSlMdhgQPgPUlyKc8HEg', class: 'img-circle', alt: ''
        %h4 Food & Drink
        %p Fish and chips, macarons, David Kinch gumbo, burgers, chicken wings, steak, pistachio gelato. And much more.
      .span4.well.fixed
        .text-center.section
          = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/3Ut6jvLwRsW2iiUqIEw5', class: 'img-circle', alt: ''
        %h4 Bottomless Supply of Amazing Coffee
        :markdown
          Mostly [Herkimer](http://herkimercoffee.com/home.php) and you pull your own shots. But don't worry, we'll teach you.
    .row
      .span4.well.fixed
        .text-center.section
          = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/hLzzyxTzSxeW1hDS4vNG', class: 'img-circle', alt: ''
        %h4 Work On What You Value Most
        %p See above. Do what you love.
      .span4.well.fixed
        .text-center.section
          = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/XJJl3gMQBOdNFaFfqpLc', class: 'img-circle', alt: ''
        %h4 Small Team Environment
        %p Everybody knows your name. That's Cheers for you millennials.
      .span4.well.fixed
        .text-center.section
          = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/pxChjxHlTvqcaMnDiT7d', class: 'img-circle', alt: ''
        %h4 Encouraged to Learn
        %p Spend some time in the kitchen, in the hardware lab, or outside in a glider (really).
    .row
      .span4.well.fixed
        .text-center.section
          = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/f7FkwsNARTuomIR5wKij', class: 'img-circle', alt: ''
        %h4 Be Your Own Boss
        %p We don't micromanage.
      .span4.well.fixed
        .text-center.section
          = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/Tclaix4iQIyER56xCkcT', class: 'img-circle', alt: 'Be your own boss'
        %h4= link_to 'A Kick-Ass Team', '/about'
        :markdown
          We also really like to [have a good time](//instagram.com/p/lLORSpOR8m).
      .span4.well.fixed
        .text-center.section
          = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/J8qyEKmOSdKBEtOWTRQg', class: 'img-circle', alt: ''
        %h4 The Real Deal
        %p We’re inventing the future of food and cooking, and Gabe Newell of Valve Software has got our back.
    .row.whitespace
      .span10.offset1.fixed
        .text-center
          %h2 One more thing
          %p At ChefSteps, we love everyone. We’re an equal opportunity employer that values diversity, and we don’t discriminate on the basis of race, religion, color, national origin, gender, sexual orientation, age, marital status, veteran status, disability status, vegan & vegetarian status, or really any status whatsoever. If you’re alive, you’re damn good at some stuff, you eat things sometimes, and you think you can help make ChefSteps better, we want to hear from you.
  .span8.offset2
    .row
      %hr
      %h1#openPosition Open Positions
      %br
      %ul.no-bullet
        %li.section
          %h2 Content Development
        %li.section
          %h3 Copy Writer
          %p.section We’re looking for a full-time marketing/advertising copy writer with exceptional writing and editing skills, who understands brand voice and visual storytelling, and who writes imaginative, human, and energetic copy. This person should have strong visual design aesthetic, and astonishingly unique, creative, and refreshing campaign ideas.
          .btn.btn-primary= link_to 'Apply Now', 'http://chefsteps.applytojob.com/apply/xiJAuk/Copy-Writer.html'
        %li.section
          %h3 Copy Editor
          %p.section We’re looking for a full-time experienced copy editor with exceptional proofreading and editing skills, who understands brand voice and storytelling. This person should be exceedingly detail-oriented, with experience copyediting, fact-checking, and proofreading, and should have strong instincts for language and voice. We’re looking for a full-blown word nerd—someone who loves copyediting and research, and who is passionate about supporting a growing writing team with bulletproof precision and attention to detail. This person will play a pivotal role in helping to shape standards for voice and writing style.
          .btn.btn-primary= link_to 'Apply Now', 'http://chefsteps.applytojob.com/apply/C3WYf4/Copy-Editor.html'
        %li.section
          %h3 YouTube Channel Manager
          %p.section Interested in fundamentally changing the way people think? Are you up for owning the video mediums of a new brand that’s revolutionizing the way people cook? Got the right-brain passion to create emotional experiences with customers via video storytelling and the left-brain knowledge to understand what works via data analysis? Love the energy of a startup environment, working on the leading edge of e-commerce and building a new consumer brand from the ground up? If so, click through.
          .btn.btn-primary= link_to 'Apply Now', 'http://chefsteps.applytojob.com/apply/x0uak6/Youtube-Channel-Manager.html'
        %li.section
          %h3 Video Editor
          %p.section ChefSteps is looking for a multi-faceted video editor who’s eager to make a significant impact on an up-and-coming brand. We need someone who can quickly craft and edit a variety of compelling cooking-related content that moves people to engage, share, and cook.
          .btn.btn-primary= link_to 'Apply Now', 'http://chefsteps.applytojob.com/apply/BD2tfh/Video-Editor.html'

        %li.section
          %h2 Product
        %li.section
          %h3 Applied Mathematician
          %p.section Can you find the signal in noisy data and make long-range predictions? We're developing algorithms that use advanced mathematical methods—with insights from science and engineering—to help people cook smarter. And we’re looking for a coworker with an insatiable curiosity for math and science, plus a deep knowledge in at least one area. For we don't limit ourselves to any one sub-field: we numerically solve differential equations; we use frequentist and Bayesian techniques; we use Kalman filters; we use machine learning. Basically, we use whichever tool seems appropriate for the task at hand. So if you prefer learning and using tools from many sub-fields—rather than finding problems that your favorite tool solves—this may be the position for you.
          .btn.btn-primary= link_to 'Apply Now', 'http://chefsteps.applytojob.com/apply/tvnxoJ/Applied-Mathematician.html'       
        %li.section
          %h3 Software Development Engineer in Test
          %p.section If you love finding the really hard and interesting bugs while automating yourself out of manual regression passes, here is a unique opportunity to lead the QA effort for a wave of new products that will change the way consumers cook at home. We are looking for an SDET with 3 or more years of industry experience writing and executing test plans, developing test automation for JavaScript and native applications, and owning the defect database for one or more complex feature areas. You might be the right fit if you love food, are self-directed, and know how to set the right quality bar while keeping the product on schedule.
          .btn.btn-primary= link_to 'Apply Now', 'http://chefsteps.applytojob.com/apply/yBgwKm/Sdet.html'
        %li.section
          %h3 Industrial Designer
          %p.section We're looking for an industrial designer to join a world-class group of engineers and designers who are busily defining new cooking experiences through hardware, software, and content. We need your expertise in product design, manufacturing, ergonomics, usability, aesthetics, and surfacing to help reinvent the kitchen.
          .btn.btn-primary= link_to 'Apply Now', 'http://chefsteps.theresumator.com/apply/B2BIKd/Industrial-Designer.html'
        %li.section
          %h3 Product Designer
          %p.section ChefSteps is looking for product designers with end-to-end experience designing products and systems that have the potential to invent culture.
          .btn.btn-primary= link_to 'Apply Now', 'http://chefsteps.theresumator.com/apply/weQ3WD/Product-Designer.html'
        %li.section
          %h3 Full-Stack Web Developer
          %p.section We are looking for developers able to work effectively across both server and client-side to create beautiful experiences for our users on our website and in our HTML5 mobile app. Some of the core technologies we use are Rails for API generation, Angular.js, Ionic Framework and Cordova. You might be the right fit if you love food, are self-directed, enjoy refactoring, and are experienced enough to know how and when to ship.
          .btn.btn-primary= link_to 'Apply Now', '//chefsteps.theresumator.com/apply/x9pPkp/FullStack-Web-Developer.html'
        %li.section
          %h3 Senior Frontend Developer (AngularJS)
          %p.section We are looking for an experienced developer with a passion for frontend work. You have built complex web apps using AngularJS or another modern Javascript framework. You wouldn't dream of writing jQuery spaghetti in 2015. You create structured, modular CSS. You play nicely with designers and care about implementing pixel-perfect, responsive, jank-free interfaces - and you can send us the URLs to prove it. Bonus points if you've also built native-wrapped HTML5 apps using Cordova. You might be the right fit if you love food, are self-directed, enjoy refactoring, and are experienced enough to know how and when to ship.
          .btn.btn-primary= link_to 'Apply Now', '//chefsteps.theresumator.com/apply/y9RANX/Senior-Frontend-Developer-AngularJS.html'
        %li.section
          %h3 Firmware Developer
          %p.section If you love bringing up new hardware platforms and writing firmware that interfaces with complex systems to make people's lives better, here is a unique opportunity to join a small team of passionate engineers building a wave of new products that will change the way consumers cook at home. We are looking for a firmware engineer with 3 or more years of industry experience writing firmware in C/C++ for microcontroller-based devices. You might be the right fit if you love food, are self-directed, and know how to design, implement and ship clean, high quality embedded code.
          .btn.btn-primary= link_to 'Apply Now', 'http://chefsteps.applytojob.com/apply/ddbu1c/Embedded-Systems-Engineer.html'
        %li.section
          %h3 Web Services Developer
          %p.section We are looking for an engineer with demonstrable experience building high-performance, high-reliability web services. You are able to architect a system involving heterogeneous clients and complex asynchronous workers; you should be able to thoughtfully explain the tradeoffs of your architecture. You have deep knowledge of multiple NoSQL databases. You have experience with internet-of-things projects at least from the software side. You write elegant, reusable, well tested code and can strike the right balance between writing perfect code and shipping it rapidly and iteratively. You might be the right fit if you are passionate about developing elegant, future-proofed APIs and know how to both prototype rapidly and then turn prototypes into production-ready code.
          .btn.btn-primary= link_to 'Apply Now', '//chefsteps.theresumator.com/apply/bVAP04/Web-Services-Developer.html'
        %li.section
          %h3 Senior Electrical Engineer
          %p.section At ChefSteps we’re frustrated by the lack of innovation in the kitchen. Even the most basic appliances haven't changed in any meaningful way in years, and great ideas are being overlooked. So we're jumping in to create appliances that enthusiastic cooks want. We're looking for an experienced electrical engineer with a proven track record of designing and shipping high-volume consumer electronics products.. In this role you will work to conceive, design, evaluate, and produce new types of kitchen tools. You’ll also be expected to have experience working with contract manufactures to produce prototype and production hardware.
          .btn.btn-primary= link_to 'Apply Now', '//chefsteps.theresumator.com/apply/Vuo2tz/Electrical-Engineer.html'
        %li.section
          %h3 Senior Mechanical Engineer
          %p.section We are looking for Mechanical Engineers who are interested in the entire product building experience from prototype to production.  You should have 10 years of experience, and hopefully have tools of your own at home.  You should love actually building what you design, taking it from model on the screen to model in your hand. You won't just be stuck in a 'Mech-E' box, you'll participate in all levels of the products.  You might be the right fit if you love food, are self-directed, and are experienced enough to know when and how to ship things.
          .btn.btn-primary= link_to 'Apply Now', '//chefsteps.theresumator.com/apply/9PTff0/Mechanical-Engineer.html'

        %li.section
          %h2 Administration
        %li.section
          %h3 Senior Bookkeeper
          %p.section We’re looking for a full-time experienced bookkeeper with exceptional attention to detail and the breadth of skills to manage all types of company transactions. Given ChefSteps' small size, this role will have many responsibilities outside of bookkeeping that are critical to the success of the company. If you want a job where you can be integrally involved in the inner-workings of a company, then this is the role for you!
          .btn.btn-primary= link_to 'Apply Now', '//chefsteps.applytojob.com/apply/mDBHPT/Senior-Bookkeeper.html'

= render 'layouts/footer'
