#legal
  %ul.nav.nav-tabs
    = tab 'Terms of Service', '#terms', true
    = tab 'Privacy', '#privacy', false
    = tab 'Licensing', '#licensing', false

  .tab-content
    = tab_pane 'terms', true do
      .row
        .span12
          %h4 Terms of Service
      .row
        .span12
          :markdown
            #{terms_of_service.to_s}
    = tab_pane 'privacy' do
      PRIVACY
    = tab_pane 'licensing' do
      LICENSING
