#legal
  %ul.nav.nav-tabs
    = tab 'Terms of Service', '#terms', true
    = tab 'Privacy Policy', '#privacy', false
    = tab 'Licensing', '#licensing', false

  .tab-content
    = tab_pane 'terms', true do
      = render 'legal_layout', title: 'Terms of Service', copy: terms_of_service
    = tab_pane 'privacy' do
      = render 'legal_layout', title: 'Privacy Policy', copy: privacy_policy
    = tab_pane 'licensing' do
      = render 'legal_layout', title: 'Licensing', copy: licensing
