- cache ['legal', version] do
  #legal
    %ul.nav.nav-tabs
      = tab 'Terms of Service', 'terms'
      = tab 'Privacy Policy', 'privacy'
      = tab 'Licensing', 'licensing'

    .tab-content
      = tab_pane 'terms' do
        = render 'home/terms'
      = tab_pane 'privacy' do
        = render 'home/privacy'
      = tab_pane 'licensing' do
        = render 'legal_layout', title: 'Licensing', copy: licensing
