- content_for :title, 'Thank You'

.container.top-container
  .row
    .span8.offset2.section.lead
      %h1.text-orange= "Thank You #{current_user.name}!"
      %p
        :markdown
          #{thank_you_intro}

.container
  .row
    .span8.offset2
      .container-fluid
        .row-fluid
          .span4
            = link_to courses_path do
              = image_tag s3_image_url(thank_you_image_left.to_s)
              %h4 Take a Course
            / = render 'image_navigation', image: thank_you_image_left, caption: thank_you_image_left_caption
          .span4
            = link_to 'http://store.chefsteps.com' do
              = image_tag s3_image_url(thank_you_image_middle.to_s)
              %h4 Shop For Products
            / = render 'image_navigation', image: thank_you_image_middle, caption: thank_you_image_middle_caption
          .span4
            = link_to 'http://blog.chefsteps.com' do
              = image_tag s3_image_url(thank_you_image_right.to_s)
              %h4 Read Our Blog
            / = render 'image_navigation', image: thank_you_image_right, caption: thank_you_image_right_caption

= content_for :footer do
  = render 'layouts/footer'