= render 'layouts/filepicker'
= semantic_form_for [:admin, @embed_pdf] do |f|
  = f.inputs do
    = f.input :title, input_html: { disabled: !f.object.new_record? }
    = render '/shared/filepicker_group', label_text: 'Image', param: 'embed_pdf[image_id]', value: f.object.image_id
    = f.input :image_alt
    = f.input :image_longdesc, input_html: { rows: 3 }
    = f.label :pdf_id, 'PDF', class: 'label'
    = f.filepicker_field :pdf_id, dragdrop: true

  = f.actions do
    = f.action :submit
    = f.action :cancel, as: :link, url: admin_embed_pdfs_path, wrapper_html: {class: :cancel}, label: 'Cancel'
