.section.span12.ng-cloak.assembly-activity#video-ingredient-unit

  = render 'activities/hero_visual', activity: activity
  .row
    .span6
      = render 'activities/latest/description'
    .span6
      = render 'activities/main_ingredients', include_header: false
      .row
        .span3
          = render 'activities/new_equipment_list', model: "activity.equipment", name: "Equipment/Materials", test_method: "hasAnyEquipment", required_string: "any", required: "any"
        .span3
          = render 'activities/basic_edit_pair', model: "activity.yield", name: "Yield", add_text: "Add yield info...", itemprop: "recipeYield"
          = render 'activities/basic_edit_pair', model: "activity.timing", name: "Timing", add_text: "Add timing info..."
          = render 'activities/activity_relationships', activity: activity

.span12.ng-cloak.assembly-activity(ng-controller="StepsController")
  = render 'activities/latest/steps'

