%html
  %head
    %title= "Chefsteps"
    = csrf_meta_tags

    %script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    %script(src="//community-staging.usebloom.com/export/loader.js")

    - if current_user
      :javascript
        window.encryptedUser = "#{escape_javascript(current_user.encrypted_bloom_info)}";
        window.chefstepsUserId = "#{current_user.id}"
    - else
      :javascript
        window.chefstepsUserId = null

    :javascript
      Bloom.configure({
        env: 'staging',
        apiKey: 'xchefsteps',
        user: window.chefstepsUserId,
        auth: window.encryptedUser,
        getUsers: function(userIds, callback) {
          $.getJSON('/users?emails=' + userIds).then(function(response){
            var users;
            console.log(response);
            users = response.map(function(user) {
              user._id = "" + user.id;
              user.profileLink = "http://www.chefsteps.com/profiles/" + user.slug;
              user.avatarUrl = user['avatar_url'];
              return user;
            });
            return callback(users);
          });
        }
      });

    %style
      :sass
        $orange: #e25f25

        =boxsizing
          box-sizing: border-box
          -moz-box-sizing: border-box
          -webkit-box-sizing: border-box
          -o-box-sizing: border-box

        =navpadding
          height: 6rem
          padding: 0.8rem
          line-height: 4.4rem

        html
          font-size: 62.5%
          @include boxsizing

        body
          margin: 0px
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
          font-size: 14px
          line-height: 1.42857143
          color: #333
          background-color: #fff

        .cs-nav
          position: relative
          text-align: center
          display: block
          background: rgba(255,255,255,0.9)
          width: 100%
          z-index: 9999
          border-bottom: 2px solid #ccc
          border-top: 2px solid $orange
          height: 6rem
          left: 0px
          ::selection
            background: none
            color: $orange

          h3
            margin-top: 15px
            margin-bottom: 15px
            font-size: 24px
            font-weight: 500
            line-height: 1.1

        .cs-nav-logo
          position: absolute
          height: 100%
          padding: 0.8rem
          float: left
          @include boxsizing
          img
            height: 100%

        .cs-forum-notifs
          position: absolute
          top: 0px
          right: 60px
          padding: 18px 0px
          @include boxsizing

        .cs-nav-profile
          position: absolute
          top: 0px
          right: 0px
          @include boxsizing
          @include navpadding

        .message
          position: fixed
          bottom: 10px
          right: 10px
          padding: 15px
          border: 2px solid $orange
          width: 400px
          background: white
          @include boxsizing
          #message-close
            position: absolute
            top: 5px
            right: 10px
            font-weight: bold
            &:hover
              color: $orange
              cursor: pointer
        .message.message-closed
          display: none

  %body
    .cs-nav
      .cs-nav-logo
        %a(href='/')
          %img(src="https://s3.amazonaws.com/uploads.hipchat.com/45918/740320/PBNf6MFq9hsgnF1/csLogoHorizontalSmall-2014.05.02.svg")
      %h3 ChefSteps Forum
      .cs-forum-notifs
      .cs-nav-profile
        - if current_user
          = link_to user_profile_url(current_user) do
            %span
              = image_tag filepicker_arbitrary_image(current_user.profile_image_id, 75)
        - else
          sign in
    .forum
    .message#message
      #message-close
        x
      %strong Welcome to the ChefSteps Forum Beta!
      %div
        We appreciate the time you've taken to be part of creating a better forum experience.  Feel free to explore, create new discussions, upload photos, and comment on other discussions.  You can report bugs in the Bug Reports category, but if all else fails, you can always email us 
        %a(href="mailto:info@chefsteps.com?Subject=Forun%20Bug%20Report" target="_blank")
          here.
    :javascript
      $(document).ready(function() {
        $('#message-close').click(function(){
          $('#message').addClass('message-closed');
        });
      });
      Bloom.installForum({
        el: $('.forum')[0]
      });
      Bloom.installNotifs({
        el: $('.cs-forum-notifs')[0]
      });