.row
  .span12
    %h1 User
    %dl
      %dt ID
      %dd= user.id

      %dt Name
      %dd= user.name

      %dt Email
      %dd= user.email

      %dt Premium Member?
      %dd= user.premium_member

      -if user.premium_member
        %dt Premium Member Since
        %dd= user.premium_membership_created_at

        %dt Premium Member Price Paid
        %dd= user.premium_membership_price

      %dt Role
      %dd= user.role

      %dt Sign in count
      %dd= user.sign_in_count

      %dt Created at
      %dd= user.created_at

      %dt Viewed activities
      %dd
        %ol
          - user.viewed_activities.each do |activity|
            - activity_object = Activity.find(activity[0]) rescue nil
            -if activity_object
              %li
                = link_to activity_object.title, activity_object
                = activity[1]

      %dt Created Activites
      %dd
        %ol
          - user.created_activities.each do |activity|
            %li
              = link_to  activity.title, activity_path(activity)
      %dt Enrolled Classes
      %dd
        %ol
          - user.enrollments.each do |course|
            %li
              = course.enrollable.title
