- content_for :title, "#{@upload.title.html_safe} - Photo by #{@upload.user.name}"
- content_for :description, @upload.notes != "" ? @upload.notes.html_safe : @upload.title.html_safe
- content_for :canonical_link, upload_url(@upload) if @upload.id
- content_for :keywords, @upload.title.split(' ').join(',')
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}


.container(csfixnakedlinks ng-controller="ActivityUploadsController" ng-init="init(#{@upload.id}, #{@upload.likes_count.nil? ? 0 : @upload.likes_count})")
  .row
    .span8.offset2
      %h2= @upload.title
      /* Create a new recipe out of the picture and ingredients listed in the description? */
  .row
    .span7.offset2

      %h5.inline= "#{link_to @upload.parent.title, @upload.parent} by #{link_to @upload.user.name, user_profile_path(@upload.user)}".html_safe
  .section
  .row
    .span7.offset2
      .well.text-center= image_tag filepicker_hero_image(@upload.image_id)
      %div.section(ng-controller="NonAngularSocialController" ng-init="title='#{escape_javascript @upload.title}'; url='#{upload_url(@upload)}'; media='#{filepicker_hero_image(@upload.featured_image)}'")
        = render 'layouts/social_buttons', media_object: @upload, url: upload_url(@upload)
      %p
        = @upload.notes
      %hr
      .section#discussion
        %h3 Discussion
        %cscomments(comments-type="upload" comments-id="#{@upload.id}" seo-bot="#{is_static_render}")
    .span3.noprint()
      /*(ng-show="(! editMode) && (activityColumns >= 3)")*/
      = render 'shared/tools'
  %div(nell-popup)

= render 'layouts/footer'

#preloaded-activity-json.hide
  = @upload.to_json

