.container
  .row
    .span12
      %h2= @upload.recipe_name
  .row
    .span6
      = image_tag filepicker_hero_image(@upload.image_id)
      .lead.section
        = @upload.notes
    .span6
      .lead
        = "#{link_to @upload.user.name, user_profile_path(@upload.user)} shared this creation when they completed the #{link_to @upload.course.title, @upload.course} Course on #{link_to 'ChefSteps', 'www.chefsteps.com'}.".html_safe
      %p= "#{time_ago_in_words(@upload.created_at)} ago."
      %hr
      - if current_user.likes.map(&:likeable).include?(@upload)
        = link_to 'javascript:void(0);', class: 'btn btn-primary' do
          %i.icon-star
          = @upload.likes.count
      - else
        = form_for Like.new do |f|
          = f.hidden_field :likeable_id, value: @upload.id
          = f.hidden_field :likeable_type, value: @upload.class
          = link_to 'javascript:void(0);', onclick: "$('#new_like').submit()", class: 'btn btn-primary' do
            %i.icon-star-empty
            = @upload.likes.count
      = link_to "https://twitter.com/intent/tweet?text=I love this: #{@upload.recipe_name} from @ChefSteps!&url=#{ url_encode(current_url(request))}", class: 'btn btn-primary' do
        %i.icon-twitter
        %span Twitter
      = link_to "https://plus.google.com/share?url=#{current_url(request)}", onclick: "javascript:window.open(this.href,
      '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;", class: 'btn btn-primary' do
        %i.icon-google-plus
        %span Google
      = link_to "http://pinterest.com/pin/create/button/?url=#{current_url(request)}&media=#{filepicker_hero_image(@upload.image_id)}", onclick: "javascript:window.open(this.href,
        '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;", class: 'btn btn-primary' do
        %i.icon-pinterest
        %span Pinterest