- content_for :title, "#{@upload.title.html_safe} - Photo"
- content_for :description, @upload.notes != "" ? @upload.notes.html_safe : @upload.title.html_safe
- content_for :canonical_link, upload_url(@upload) if @upload.id
- content_for :keywords, @upload.title.split(' ').join(',')
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}

.container
  .row
    .span8.offset2
      %h2= @upload.title
      /* Create a new recipe out of the picture and ingredients listed in the description? */
  .row
    .span7.offset2
      %h5.inline= "by #{link_to @upload.user.name, user_profile_path(@upload.user)}".html_safe
    .span3
      /* Show if owner of upload */
      .btn.btn-primary
        =link_to 'Convert to Recipe'    
  .row
    .span7.offset2      
      .well.text-center= image_tag filepicker_hero_image(@upload.image_id)
      %div.section(ng-controller="NonAngularSocialController" ng-init="title='#{escape_javascript @upload.title}'; url='#{upload_url(@upload)}'; media='#{filepicker_hero_image(@upload.featured_image)}'")
        = render 'layouts/social_buttons', media_object: @upload, url: upload_url(@upload)
      %p
        = @upload.notes
      %hr
      %div(ng-controller='csCommentsController')
      %comments(db-params="{'commentsId': 'upload_#{@upload.id}'}" on-login="showModal()")
    .span3
      .section.well-border.pull-left
        /* If class show */
        - if @upload.assembly
          %h5
            More from
            =link_to truncate(@upload.assembly.title)
          .navbar
            .nav.pic-nav
              .pull-left
                = link_to 'blah' do
                  %i.fa.fa-chevron-left
                  = image_tag ('http://placehold.it/45x45')
              .pull-right
                = link_to 'blah' do
                  = image_tag ('http://placehold.it/45x45')
                  %i.fa.fa-chevron-right
        /* If single recipe, show which recipe it came from and other uploads for recipe */

= render 'layouts/footer'

