.row-fluid
  .span12
    %h2= @activity.title
    %p= @activity.description
.row-fluid
  - @activity.assignments.each do |assignment|
    .span3
      .assignment
        = render 'shared/media_box_2', size: 'medium', url: '#', title: assignment.child_activity.title, image: assignment.child_activity.featured_image, object: assignment.child_activity
      .text-center
        = link_to 'See the recipe', assignment.child_activity
  .span3
    = render 'shared/media_box_2', size: 'medium', url: '#', title: 'Your own recipe', image: @course.featured_image, object: nil

.row-fluid
  %hr

= render 'shared/uploads'

.row-fluid      
  %hr

  .horizontal-slider{data: {direction: 'right'}}
    .horizontal-slider-wrap
      - @course.uploads.each do |upload|
        = render 'shared/media_box', size: 'medium', url: upload_path(upload), title: upload.title, image: upload.image_id
    %div{class: "horizontal-slider-btn-right btn btn-circle"}
      %i{class: "icon-chevron-right"}
    %div{class: "horizontal-slider-shadow-overlay-right"}