
.row.relative(ng-hide="heroDisplayType() == 'none'")
  .span12.ng-cloak.assembly-activity.section#video-ingredient-unit
    .hero-video.noprint
      = render 'activities/hero_visual'
    - unless @assembly
      .noprint(ng-show="! editMode")
        = render 'layouts/social_buttons', media_object: activity
.row.main-content-container
  .span6
    = render 'activities/latest/description'
  %div(ng-class='ingredientSpanClass()')
    .row.section
      = render 'activities/main_ingredients'
    .row.section
      .span3(ng-show="editMode || hasAnyEquipment()")
        = render 'activities/new_equipment_list', model: "activity.equipment", name: "Equipment/&#8203;Materials", required_string: "any", required: "any"
      .span3(ng-show="editMode || !! activity.yield") 
        %h4 Yield
        %span(  cs-contenteditable="editMode" 
                ng-model="activity.yield" 
                itemprop="recipeYield")
        %span.extra-info(ng-bind-html="maybeDisplayCurrentScaling()")
      .span3(ng-show="editMode || !! activity.timing") 
        %h4 Timing
        %span(  cs-contenteditable="editMode" 
                ng-model="activity.timing")
        %span.extra-info(ng-bind-html="maybeWarnCurrentScaling()")
      = render 'activities/activity_relationships'

.row.step-container
  .span12.ng-cloak.assembly-activity.relative(ng-controller="StepsController")
    = render 'activities/steps'

