.row-fluid
  %h2.course-activity-header= activity.title.html_safe

.row-fluid
  .span12.section
    .video-container{:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject", :csenforceaspect => true}
      - if activity.youtube_id?
        .noprint
          - if params[:autoplay]
            %iframe(ng-style="setHeight()" csenforceaspect){src: youtube_url(activity.youtube_id, 1)}
          - else
            %iframe(ng-style="setHeight()" csenforceaspect){src: youtube_url(activity.youtube_id)}
      - elsif activity.image_id?
        = image_tag filepicker_activity_hero_image(activity.image_id), alt: activity.title, title: activity.title, itemprop: 'image'
      - elsif activity.featured_image_id?
        = image_tag filepicker_activity_hero_image(activity.featured_image_id), alt: activity.title, title: activity.title, itemprop: 'image'
    = render 'layouts/social_buttons', media_object: activity, url: activity_url(activity)

.row-fluid
  .span12
    - if activity.description?
      .section
        :markdown
          #{apply_shortcodes(activity.description)}
    - if activity.ingredients.any?
      = render 'main_ingredients'
    - if activity.yield.present?
      .section
        %h4 Yield
        %span{:itemprop => "recipeYield"}= activity.yield
    - if activity.timing.present?
      .section
        %h4 Timing
        = activity.timing
    - if activity.required_equipment.any?
      .section
        %h4 Equipment and Materials
        = render 'equipment_list', equipment: activity.required_equipment
    - if activity.optional_equipment.any?
      .section
        %h4 Optional Equipment
        = render 'equipment_list', equipment: activity.optional_equipment
    - if activity.used_in_activities.published.any?
      .section
        %h4 Used In
        %ul
          - activity.used_in_activities.published.each do |activity|
            %li= link_to activity.title.html_safe, activity
.row-fluid
  .span12.section(ng-controller="StepsController")
    = render 'steps'


#preloaded-activity-json.hide
  = @activity.to_json
