.section.ng-cloak#video-ingredient-unit(ng-class="primaryColumnClass()")

  = render 'activities/metadata'
  .noprint= render 'activities/hero_visual', main_object: activity
  %div.noprint(ng-show="! editMode")
    = render 'layouts/social_buttons', media_object: activity
  = render 'activities/description'
  = render 'activities/main_ingredients'
  = render 'activities/basic_edit_pair', model: "activity.yield", name: "Yield", add_text: "Add yield info...", itemprop: "recipeYield", show_extra: "maybeDisplayCurrentScaling()"
  = render 'activities/basic_edit_pair', model: "activity.timing", name: "Timing", add_text: "Add timing info...", show_extra: "maybeWarnCurrentScaling()"
  = render 'activities/new_equipment_list', model: "activity.equipment", name: "Equipment and Materials", test_method: "hasRequiredEquipment", required_string: "required", required: true
  = render 'activities/new_equipment_list', model: "activity.equipment", name: "Optional Equipment and Materials", test_method: "hasOptionalEquipment", required_string: "optional", required: false
  = render 'activities/activity_relationships', activity: activity
  -if activity.creator
    = render 'shared/mini_profile', user: activity.creator

.span6.ng-cloak(ng-controller="StepsController")
  = render 'activities/steps'

-# Turn this on if you want to see the whole data structure for debugging
  .row
    .span12
      %pre
        {{activity | json}}


