%div(cs-showcase collection-name='knives' ng-if="activity.id == 10355")

.master-column-container(cs-activity-columns ng-if="activity.id != 10355")
  .master-column
    #main-content.main-content-container(ng-cloak)

      -# With this intro block, we should be able to get rid of shared/tools, activities/title and eventually make them into directives/components.
      = render 'activities/intro_block'

      / promotion that displays when appropriate
      / NOTE: broke viewing courses before adding check for the activity being defined
      - if defined? activity
        - if activity.tag_list.include?("sous vide")
          - if current_user
            - if !current_user.enrolled?(activity.containing_course)
              = render 'activities/sous_vide_class_promo'
          - else
            = render 'activities/sous_vide_class_promo'

      .standard-item
        = render 'activities/metadata'

      .section-large
      .medium-item

        .half-medium-item.ingredients-item(ng-if="activity.ingredients.length || editMode")
          = render 'activities/main_ingredients'

        .half-medium-item
          .section(ng-show="editMode || hasAnyEquipment()")
            = render 'activities/new_equipment_list', model: "activity.equipment", required_string: "any", required: "any"

          .section
            .quarter-medium-item(ng-show="editMode || !! activity.yield")
              %h5 Yield
              .inline.no-p-margin(  cs-contenteditable="editMode"
                        ng-model="activity.yield")
              .inline.extra-info(ng-bind-html="maybeDisplayCurrentScaling()")

            .quarter-medium-item(ng-show="editMode || !! activity.timing")
              %h5 Timing
              .inline.no-p-margin(  cs-contenteditable="editMode"
                        ng-model="activity.timing")
              .inline.extra-info(ng-bind-html="maybeWarnCurrentScaling()")

          .section.noprint(ng-show='(! editMode) && (activity.used_in.length > 0)')
            %h5 Used In
            %ul.no-bullet
              %li(ng-repeat="item in activity.used_in | orderBy:'creator.id':true | limitTo:10")
                %a( ng-bind-html='item.title'
                    ng-href='/activities/{{item.slug}}'
                    target='_blank')
                %span.text-orange(ng-show='item.creator' tooltip="Community contributed recipe")
                  %i.icon-group

          .section.noprint(ng-show='(! editMode) && (activity.forks.length > 0)')
            %h5 Forks
            %ul.no-bullet
              %li(ng-repeat="item in activity.forks | orderBy:'creator.id':true | limitTo:10")
                %a( ng-bind-html='item.title'
                    ng-href='/activities/{{item.slug}}'
                    target='_blank')
                %span.text-orange(ng-show='item.creator' tooltip="Community contributed recipe")
                  %i.icon-group

      .ng-cloak.assembly-activity.relative(ng-controller="StepsController")
        = render 'activities/steps'
