#overview
  .container
    .row
      .span8
        %h1= raw activity.title

        -# Removed for demo
        -# %p= activity.description
      .span4
        -# Removed for demo
        -# .row
        -#   .span4
        -#     %h5 Difficulty Level
        -# .row
        -#   .span4
        -#     %span{ class: "difficulty #{activity.difficulty.downcase}"}
        -#       = activity.difficulty.capitalize
        -# .row
        -#   .span4
        -#     .horizontal-divider
        .row
          .span4.cooked-this-count
            %i.icon-pot-brick
            %span#cooked-count= activity.cooked_this
            %span.verbage Cooked This
      .span12
        .horizontal-divider
    .row
      .span8
        %h5 Ingredients
        - activity.recipes.each do |recipe|
          %table.ingredients
            %thead
              %tr
                %th=recipe.title
                %th{colspan: 2} Weight
            %tbody
              - recipe.ingredients.each do |ingredient|
                %tr
                  %td
                    - if ingredient.product_url?
                      = link_to ingredient.title, ingredient.product_url, { class: ('bullet-for-sale' if ingredient.for_sale) }
                    - else
                      = ingredient.title
                  %td.quantity= quantity_number(ingredient.quantity)
                  %td= ingredient.unit
      .span4
        - if activity.yield.present? || activity.timing.present?
          .row
            .span4
              - if activity.yield.present?
                %h5 Yield
                %p= activity.yield
              - if activity.timing.present?
                %h5 Timing
                %p= activity.timing
        - if activity.equipment.present?
          .row
            .span4
              %h5 Equipment
        .row
          - activity.required_equipment.in_groups(2, false).each do |group|
            .span2
              %ul.equipment
                - group.each do |item|
                  - if item.product_url?
                    %li.bullet-for-sale= link_to item.title, item.product_url
                  - else
                    %li= item.title
        - if activity.optional_equipment.present?
          .row
            .span4
              %h5 Optional Equipment
          .row
            - activity.optional_equipment.in_groups(2, false).each do |group|
              .span2
                %ul.equipment
                  - group.each do |item|
                    - if item.product_url?
                      %li.bullet-for-sale= link_to item.title, item.product_url
                    - else
                      %li= item.title

