#overview
  .container
    .row
      .span8
        %h1= activity.title
        %p= activity.description
      .span4
        %h5 Difficulty Level
        %span{ class: "difficulty #{activity.difficulty.downcase}"}
          = activity.difficulty.capitalize
        .horizontal-divider
          %span== #{activity.cooked_this} Cooked This
      .span12
        .horizontal-divider
    .row
      .span8
        %h5 Ingredients
        - activity.recipes.each do |recipe|
          %table.ingredients
            %thead
              %tr
                %th=recipe.title
                %th{colspan: 2} Weight
                %th
                  %i.icon-caret-down
            %tbody
              - recipe.ingredients.each do |ingredient|
                %tr
                  %td= ingredient.title
                  %td.quantity= quantity_number(ingredient.quantity)
                  %td= ingredient.unit
                  %td
      .span4
        .row
          .span4
            %h5 Yield
            %p= activity.yield
            %h5 Timing
            %p= activity.timing
        .row
          .span4
            %h5 Equipment
        .row
          - activity.required_equipment.in_groups(2, false).each do |group|
            .span2
              %ul.equipment
                - group.each do |item|
                  - if item.product_url?
                    %li= link_to item.title, item.product_url
                  - else
                    %li= item.title
        - if activity.optional_equipment.present?
          .row
            .span4
              %h5 Optional Equipment
          .row
            - activity.optional_equipment.in_groups(2, false).each do |group|
              .span2
                %ul.equipment
                  - group.each do |item|
                    - if item.product_url?
                      %li= link_to item.title, item.product_url
                    - else
                      %li= item.title

