#overview
  .container
    .row
      .span12{:itemprop => "description"}
        - if activity.has_description?
          :markdown
            #{apply_shortcodes(activity.description)}
      -# .span4
        -# Removed for demo
        -# .row
        -#   .span4
        -#     %h5 Difficulty Level
        -# .row
        -#   .span4
        -#     %span{ class: "difficulty #{activity.difficulty.downcase}"}
        -#       = activity.difficulty.capitalize
        -# .row
        -#   .span4
        -#     .horizontal-divider

    .row
      .span6
        - if activity.has_ingredients?
          = render 'ingredients_list', activity: activity
      .span6.spec-column
        - if activity.yield.present? || activity.timing.present?
          .row
            .span4
              - if activity.yield.present?
                %h5 Yield
                %span{:itemprop => "recipeYield"}= activity.yield
              - if activity.timing.present?
                %h5 Timing
                = activity.timing
        - if activity.required_equipment.present?
          .row
            .span4
              %h5 Equipment and Materials
          .row
            .span4
              = render 'equipment_list', equipment: activity.required_equipment.all
        - if activity.optional_equipment.present?
          .row
            .span4
              %h5 Optional Equipment and Materials
          .row
            .span4
              = render 'equipment_list', equipment: activity.optional_equipment.all
        - self_as_ingredient = Ingredient.find_by_sub_activity_id(activity)
        - used_in = self_as_ingredient.activities
        - if ! used_in.empty?
          .row
            .span4
              %h5 Used In
              %ul.used-in
                - used_in.each do |used_in_act|
                  %li= link_to used_in_act.title.html_safe, activity_path(used_in_act)


        - if activity.is_recipe? and activity.cooked_this > 0
          .row
            .span4.cooked-this-count
              %i.icon-pot-brick
              %span#cooked-count= activity.cooked_this
              %span.verbage Cooked This

