#overview
  .container
    .row
      .span8
        %h1= raw activity.title
        - if activity.has_description?
          :markdown
            #{activity.description}
      .span4
        -# Removed for demo
        -# .row
        -#   .span4
        -#     %h5 Difficulty Level
        -# .row
        -#   .span4
        -#     %span{ class: "difficulty #{activity.difficulty.downcase}"}
        -#       = activity.difficulty.capitalize
        -# .row
        -#   .span4
        -#     .horizontal-divider
        - if activity.has_recipes? and activity.cooked_this > 0
          .row
            .span4.cooked-this-count
              %i.icon-pot-brick
              %span#cooked-count= activity.cooked_this
              %span.verbage Cooked This
      .span12
        .horizontal-divider
    .row
      .span6
        - if activity.has_ingredients?
          - activity.ordered_recipes.each do |recipe|
            = render 'ingredients_list', recipe: recipe
      .span6
        - if activity.yield.present? || activity.timing.present?
          .row
            .span4
              - if activity.yield.present?
                %h5 Yield
                = activity.yield
              - if activity.timing.present?
                %h5 Timing
                = activity.timing
        - if activity.required_equipment.present?
          .row
            .span4
              %h5 Equipment and Materials
        .row
          .span4
            = render 'equipment_list', equipment: activity.required_equipment.all
        - if activity.optional_equipment.present?
          .row
            .span4
              %h5 Optional Equipment and Materials
          .row
            .span4
              = render 'equipment_list', equipment: activity.optional_equipment.all
