.row-fluid
  .span12
    %h1= @activity.title
    %h4= @activity.description

    #quizzes.hero-well.noprint
      .container
        - @activity.quizzes.each_slice(3) do |quizzes|
          .row
            - quizzes.each do |quiz|
              .span4
                = link_to quiz_path(quiz, return_to: course_activity_path(@course, @activity)) do
                  .image-with-caption
                    - if quiz.has_image?
                      = image_tag quiz.image.url, class: 'img-polaroid'
                    .image-caption
                      .image-caption-text= quiz.title