#spec-sheet.hero-unit
  .container
    .row.spec-sheet
      .span12
        %h3 Spec Sheet
      .span6
        %h4 Special Equipment
        %ul
          - activity.required_equipment.each do |item|
            - if item.product_url?
              %li= link_to item.title, item.product_url
            - else
              %li= item.title

        - if activity.optional_equipment.present?
          %h3 Optional Equipment
          %ul
            - activity.optional_equipment.each do |item|
              %li= item.title

      .span6
        %h4 Ingredients
        %ul
          - activity.ingredients.each do |ingredient|
            %li== #{ingredient.quantity} #{ingredient.title}

