.row.step
  .span4
    %h3
      :erb
        <strong><%="Step #{count}"%></strong>
    - if step.ingredients.any?
      .well
        %h6 Ingredients
        %table
          - step.ingredients.each do |ingredient|
            %tr
              %td= ingredient.title
              %td.quantity= quantity_number(ingredient.quantity)
              %td= ingredient.unit
    - if step.directions.present?
      .step-directions
        :markdown
          #{raw step.directions}
  .span8
    - if step.youtube_id?
      .well.video
        .video-container
          %iframe{src: youtube_url(step.youtube_id)}
    - else
      .well
        - if step.image_id?
          %img{src: s3_image_url(step.image_id)}
        - else
          = image_tag('img_placeholder.jpg')

