.row.step
  .span4
    %h3
      %strong= step.title(count)
    - if step.ingredients.any?
      .well
        %h6 Ingredients
        %table
          - step.ingredients.each do |ingredient|
            %tr
              - if ingredient.product_url.present?
                %td
                  = link_to ingredient.title, ingredient.product_url
                  - if ingredient.for_sale
                    %i.icon-shopping-cart
              - else
                %td= ingredient.title
              %td.quantity= quantity_number(ingredient.quantity)
              %td= ingredient.unit
    - if step.directions.present?
      .step-directions
        :markdown
          #{raw step.directions}
  .span8
    - if step.youtube_id?
      .well.video
        .video-container
          %iframe{src: youtube_url(step.youtube_id)}
    - else
      .well
        - if step.image_id?
          %img{src: s3_image_url(step.image_id)}
        - else
          = image_tag('img_placeholder.jpg')

