.row.step
  .span4.step_directions_col
    %h3.step_title
      %strong= step.title(count)
    - if step.ingredients.any?
      .well
        %table.ingredients
          %colgroup
            %col{width: "66%"}
            %col{width: "120px"}
            %col{width: "6%"}
          %thead
            %tr
              %th#ingredient Ingredient
              %th#quantity{colspan: 2}
                %a.change_units{title: "Click to change units"} Quantity

          - step.ingredients.each do |ingredient|
            %tr
              - if ingredient.product_url.present?
                %td
                  = link_to ingredient.title, ingredient.product_url
                  - if ingredient.for_sale
                    %i.icon-shopping-cart
              - else
                %td= ingredient.title
                %td.quantity-group.qtyfade
                  .lbs-qty
                  .lbs-label
                  .main-qty= ingredient.display_quantity
                %td.unit.qtyfade= ingredient.unit

    - if step.directions.present?
      .step-directions
        :markdown
          #{raw step.directions}
  .span8.step-img-col
    - if step.youtube_id?
      .video.noprint
        .video-container
          %iframe{src: youtube_url(step.youtube_id)}
      - if step.transcription?
        .transcription
          .btn.btn-primary.pull-right{data: {toggle: 'collapse', target:"#transcription-step-#{step.id}"}}
            %i.icon-pencil
              Transcription
          .transcription-content.collapse{id: "transcription-step-#{step.id}"}
            = step.transcription
    - else
      .step-image
        - if step.image_id?
          %a{:href => s3_image_url(step.image_id), :target => "_blank"}
            %img{:itemprop => "image", src: s3_image_url(step.image_id)}
        - else
          = image_tag('img_placeholder.jpg')

