.row.step
  .span4.step_directions_col
    %h3.step_title
      %strong= step.title(count)
    - if step.ingredients.any?
      .well
        %table.ingredients
          %colgroup
            %col{width: "70%"}
            %col{width: "20%"}
            %col{width: "10%"}
          %thead
            %tr
              %th#ingredient Ingredient
              %th#quantity{colspan: 2}
                %a.change_units{title: "Click to change units"} Quantity

          - step.ingredients.each do |ingredient|
            %tr
              - if ingredient.product_url.present?
                %td
                  = link_to ingredient.title, ingredient.product_url
                  - if ingredient.for_sale
                    %i.icon-shopping-cart
              - else
                %td= ingredient.title
              %td.quantity.qtyfade= ingredient.display_quantity
              %td.unit.qtyfade= ingredient.unit
    - if step.directions.present?
      .step-directions
        :markdown
          #{raw step.directions}
  .span8.step-img-col
    - if step.youtube_id?
      .well.video.noprint
        .video-container
          %iframe{src: youtube_url(step.youtube_id)}
    - else
      .step-image
        - if step.image_id?
          %img{src: s3_image_url(step.image_id)}
        - else
          = image_tag('img_placeholder.jpg')

