.row.step
  .span4
    %h3
      :erb
        <strong><%="Step #{count}: "%></strong><%=step.title%>
    - if step.ingredients.any?
      .well
        %h6 Ingredients
        %table
          - step.ingredients.each do |ingredient|
            %tr
              %td= ingredient.title
              %td= quantity_number(ingredient.quantity)
              %td= ingredient.unit
    %p= step.directions
  .span8
    .well.video
      .video-container
        %iframe{:src => youtube_url(step.youtube_id)}

