.hero-unit.gray
  .container#step-by-step
    - activity.recipes.each do |recipe|
      - if recipe.steps.any?
        .row
          .span12
            %h4= recipe.title
            - recipe.steps.each_with_index do |step, i|
              = render 'step', step: step, count: i+1
              .row
                .span12
                  .horizontal-divider

    - if activity.steps.any?
      .row
        .span12
          %h4 Assembly Steps
      - activity.steps.each_with_index do |step, i|
        = render 'step', step: step, count: i+1
        .row
          .span12
            .horizontal-divider
    .row
      .span12
        = form_tag cooked_this_activity_path, remote: true do
          = button_tag disable: @cooked_this, class: 'cooked-this' do
            .inner
              %i.icon-pot-white
              %span I cooked this!

