.container.top-container
  .row
    .span12
      %h1= @course.title + ' Course'
  .row
    .span12
      %ul.nav.nav-pills
        - @course.activity_modules.each_with_index do |activity_module, index|
          %li{class: activity_module == @current_module.activity ? 'active' : ''}
            = link_to [@course, @course.next_published_activity(activity_module)] do
              = "#{index + 1}."
              = activity_module.title
                
.container
  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked
        - @course.child_inclusions(@current_module).each do |inclusion|
          %li
            = inclusion.activity.title
      / %ul.nav.nav-tabs.nav-stacked
      /   - @course.tree_from_activity(@current_inclusion.activity).each do |nested_1|
      /     %li{class: nested_1[:activity] == @activity ? 'active' : ''}
      /       = link_to nested_1[:activity].title, [@course, nested_1[:activity]]
      /     - @course.tree_from_activity(1, nested_1[:activity]).each do |nested_2|
      /       %li{class: nested_2[:activity] == @activity ? 'active' : ''}
      /         = link_to [@course, nested_2[:activity]] do
      /           .indent-1
      /             = nested_2[:activity].title

      / %ul.nav.nav-tabs.nav-stacked
      /   - @inclusions_within_module.each do |inclusion|
      /     - inclusion_activity = inclusion.activity
      /     %li{class: inclusion_activity == @activity ? 'active' : ''}
      /       - if inclusion.nesting_level == 1
      /         - if inclusion_activity.published
      /           = link_to inclusion_activity.title, [@course, inclusion_activity]
      /         - else
      /           = link_to inclusion_activity.title, '#'
      /       - elsif inclusion.nesting_level == 2
      /         - if inclusion_activity.published
      /           = link_to [@course, inclusion_activity] do
      /             .indent-1
      /               = inclusion_activity.title
      /         - else
      /           = link_to inclusion_activity.title, '#', class: 'nested-1'

    .span9
      .container-fluid.course_activity_content
        .row-fluid
          %h2= @activity.title
        .row-fluid
          = render 'main_activity_content', activity: @activity

.container-fluid.well-gray.section
  .row-fluid
    .span12
      .course-nav-bottom
        - prev_activity = @course.prev_published_activity(@activity)
        - next_activity = @course.next_published_activity(@activity)
        - if prev_activity
          .course-nav-bottom-left
            = link_to [@course, prev_activity], class: 'btn btn-primary' do
              %i.icon-chevron-left
              = 'Previous: ' + prev_activity.title
        .course-nav-bottom-center
          %h3= @activity.title
        - if next_activity
          .course-nav-bottom-right
            = link_to [@course, next_activity], class: 'btn btn-primary' do
              = 'Next: ' + next_activity.title
              %i.icon-chevron-right