- @body_tag_attributes = {:'ng-app' => "ChefStepsApp", :'ng-controller' => "ActivityController", :'ng-click' => "bodyClick()"}
- content_for :title, "#{@activity.title.html_safe} - #{@activity.activity_type.first} - #{@course.title} Course"
- content_for :description, @activity.description != "" ? @activity.description.html_safe : @activity.title.html_safe
- content_for :canonical_link, activity_url(@activity) if @activity.id
- content_for :keywords, @activity.tag_list.join(',')
= render 'layouts/filepicker'
%div(ng-model="activity.title" ng-init="activity.title = '#{@activity.title}'")
%div(ng-model="activity.activity_type" ng-init="activity.activity_type = '#{@course.title} Course - #{@activity.activity_type.first}'")

#activity-title(data-activity="#{@activity.title}")
.container{data: {:'activity-id' => @activity.id}}
  .row
    .span12.section
      %h2= link_to @course.title, @course
      %hr
  / .row
  /   .span12.course-nav-top
  /     - if @prev_module
  /       = link_to [@course, @course.next_published_activity(@prev_module.activity)] do
  /         .course-nav-top-prev.btn.btn-gray.btn-circle
  /           %i.icon-chevron-left
  /     %ul.nav.nav-pills#course-navbar-top
  /       - hide_nav_item = true
  /       - @course.activity_modules.each_with_index do |activity_module, index|
  /         - active = activity_module == @current_module.activity ? 'active' : nil
  /         - if active == 'active' && hide_nav_item
  /           - hide_nav_item = false
  /         - hide = hide_nav_item ? 'hide-course-navbar-item' : nil
  /         %li{class: "#{active} #{hide}"}
  /           = link_to [@course, @course.next_published_activity(activity_module)] do
  /             = "#{index + 1}."
  /             = activity_module.title.html_safe
                
.container
  .row
    .span3
      = render 'course_activity_navigation'
    .span9
      .container-fluid.course_activity_content#activity-body.recipe_schema(ng-cloak="" cseditgroup=""){:itemscope => true, :itemtype => (@activity.is_recipe? ? "http://schema.org/Recipe" : nil), data: {:'activity-id' => @activity.id}}
        - if @activity.has_quizzes?
          - if current_user
            = render 'quiz_content'
          - else
            %h2 Create an Account or Sign In to take the Quiz
            = link_to 'Create Account', new_user_registration_path, class: 'btn btn-primary btn-large'
            or
            = link_to 'Sign In', sign_in_path, class: 'btn btn-primary btn-large'
        - elsif @activity.assignments.any?
          = render 'assignments'
        - else
          = render 'main_course_activity_content', course: @course, activity: @activity

.container-fluid.well-gray.section
  .row-fluid
    .container
      .row
        .span12
          .course-nav-bottom
            - if @prev_activity
              .course-nav-bottom-left
                = link_to [@course, @prev_activity], class: 'btn btn-primary' do
                  %i.icon-chevron-left
                  = 'Previous'
            .course-nav-bottom-center
              %h3= @activity.title
            - if @next_activity
              .course-nav-bottom-right
                = link_to [@course, @next_activity], class: 'btn btn-primary' do
                  = 'Next'
                  %i.icon-chevron-right

:javascript
  mixpanel.track('Activity Viewed', {'distinct_id' : "#{current_user ? current_user.email : nil}", 'context' : 'course', 'title' : "#{@activity.title}", 'slug' : "#{@activity.slug}"});
  mixpanel.people.increment('Activity Viewed Count')
