= render 'courses/title_bar'

.container
  - if activity.video_url?
    .row.top-video
      .span12
        .video-container
          %iframe{src: activity.video_url }

= render 'spec_sheet', activity: activity

.container
  - activity.steps.each_with_index do |step, i|
    - if step.video_url?
      = render 'video_step', step: step, count: i+1
    - else
      = render 'step', step: step, count: i+1

= render 'layouts/disqus_comments', id: activity.id
