= render 'courses/title_bar'

- if activity.video?
  .row
    .span12
      .video-container
        %iframe{src: activity.video_url }

= render 'spec_sheet', activity: activity

- activity.steps.each_with_index do |step, i|
  - if step.video?
    = render 'video_step', step: step, count: i+1
  - else
    = render 'step', step: step, count: i+1
.row
  .span12
    = render 'layouts/disqus_comments', id: activity.id

