-################################ HEADER / LAYOUT STUFF ################################

= render 'layouts/filepicker'
- content_for :title, "#{@activity.title} - #{@activity.activity_type.first}".html_safe
- content_for :description, @activity.description.to_s != "" ? @activity.description.html_safe : @activity.title.html_safe
- content_for :canonical_link, activity_url(@activity) if @activity.id
- content_for :keywords, @activity.tag_list.join(',')
- if @activity.id
  - content_for :facebook_og do
    %meta{property: 'og:url', content: activity_url(@activity)}
    %meta{property: 'og:title', content: @activity.title.html_safe}
    %meta{property: 'og:description', content: @activity.description.to_s != "" ? @activity.description.html_safe : @activity.title.html_safe}
    - if @activity.image_id?
      %meta{property: 'og:image', content: filepicker_activity_hero_image(@activity.image_id)}
    - elsif @activity.featured_image_id?
      %meta{property: 'og:image', content: filepicker_activity_hero_image(@activity.featured_image_id)}
  - content_for :twitter_cards do
    %meta{property: 'twitter:site', content: '@chefsteps'}
    %meta{property: 'twitter:title', content: @activity.title.html_safe }
    %meta{property: 'twitter:description', content: @activity.description}
    - if @activity.image_id?
      %meta{property: 'twitter:image:src', content: filepicker_activity_hero_image(@activity.image_id)}
    - elsif @activity.featured_image_id?
      %meta{property: 'twitter:image:src', content: filepicker_activity_hero_image(@activity.featured_image_id)}
    - if @activity.youtube_id?
      %meta{property: 'twitter:card', content: 'player'}
      %meta{property: 'twitter:player', content: "https://www.youtube.com/embed/#{@activity.youtube_id}?wmode=opaque\&rel=0&modestbranding=1\&showinfo=0\&vq=hd720"}
      %meta{property: 'twitter:player:height', content: '270'}
      %meta{property: 'twitter:player:width', content: '480'}
    - else
      %meta{property: 'twitter:card', content: 'summary_large_image'}
- @body_tag_attributes = {:'ng-app' => "ChefStepsApp", :'ng-controller' => "ActivityController", :'ng-click' => "bodyClick()"}

-# This is how search engine crawlers know to request the _escaped_fragment_ page
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}

-if params[:scaling]
  :javascript
    paramScaling = #{params[:scaling]};


-################################ PRIMARY CONTENT ################################

#activity-title(data-activity="#{@activity.title}")
%form(ng-cloak name="activityForm")
  -# dummy default button so no way a default click on some other button happens when return is pressed in a text field
  %input(ng-click="" type="submit" style="height: 0px !important; width:0px !important; margin-left: -10000px;")

  .container#activity-body.recipe_schema(ng-class="addEditModeClass()"){:itemscope => true, :itemtype => (@activity.is_recipe? ? "http://schema.org/Recipe" : nil), data: {:'activity-id' => @activity.id}}
    .row.noprint(ng-cloak ng-show="editMode && alerts.length > 0")
      .span8.offset2
        %alert.edit-alert.alert-block.anim-basic-fade(ng-repeat="alert in alerts" type="alert.type || 'error'" close="alertService.closeAlert($index)")
          %h3 Save Failed!
          {{alert.message}}
          .section
            If you can't resolve the issue, please
            %a(ng-href="mailto:michael@chefsteps.com?subject=Error%20Message&body=Error: {{alert.message}}. Please add any info about what caused this problem." target="_blank")>
              send this error text to ChefSteps
            \.

    -# Row with title and buttons
    .row.printable

      .span8.relative.ng-cloak
        = render 'title'

      .span4.noprint.ng-cloak
        = render 'top_buttons'

    .row
      .span12
        = render 'activities/metadata'

    -# Main content row
    .row.printable
      .span12
        -# This seems a little weird, why do we have a row inside a span12?
        #main-content(scroll-spy offset="140")
          / = render 'main_activity_content', activity: @activity
          = render 'activities/main_activity_content', activity: @activity

    -# Big spinner until the activity loads. By not cloaking but using angular to hide, it
    -# disappears roughly when the page is ready.
    .row.activity-loading-spinner(ng-hide="true")
      .span12
        %i.icon-page-load

-################################ BOTTOM OF PAGE CONTENT ################################

- content_for :bottom do
  - if ! @minimal
    .row(ng-hide="editMode" ng-cloak)
      .span12
        .section
        %h3 User Creations
        = link_to 'UPLOAD YOUR OWN', '#', class: 'btn btn-primary', data: {toggle: 'modal', target: '#upload-user-creation'}, onclick: "mixpanel.people.set({ 'photo upload intent': '#{@activity.title}' }); mixpanel.track('Photo Upload Intent', { 'photo upload intent': '#{@activity.title}' });"
        #user-creations-carousel
          - if @activity.uploads.approved.any?
            .horizontal-slider{data: {direction: 'right'}}
              .horizontal-slider-wrap
                - @activity.uploads.approved.includes(:user).order('created_at DESC').each do |upload|
                  = render 'shared/media_box', size: 'medium', url: upload_path(upload), title: upload.title, image: upload.image_id
              %div{class: "horizontal-slider-btn-right btn btn-circle"}
                %i{class: "icon-chevron-right"}
              %div{class: "horizontal-slider-shadow-overlay-right"}

    - if (! ENV["CS_NO_SUGGESTED_ACTIVITIES"]) && @popular_recipes && @random_recipes
      .row(ng-hide="editMode" ng-cloak)
        .span12
          %h3 Popular Recipes
          #technique-carousel
            = render 'shared/horizontal_slider', items: @popular_recipes, direction: 'right'

          %h3 From The Archives
          #related-carousel
            = render 'shared/horizontal_slider', items: @random_recipes, direction: 'right'
    - if ! ENV["CS_NO_DISQUS"]
      .row(ng-hide="editMode" ng-cloak)
        .span12
          %h3 Discussion
          .section
            - disqus_id = "activity-#{@activity.id}"
            = render 'layouts/disqus_comments', disqus_id: disqus_id, disqus_title: @activity.title, disqus_url: activity_url(@activity)

= content_for :footer do
  = render 'layouts/footer'
-################################ MODALS  ################################

- if @course
  .modal.hide.fade#syllabus-modal
    .modal-header
      = button_tag "X", class: 'close', data: {dismiss:'modal'}
      %h3= @course.title
    .modal-body
      = course_syllabus(@course)

- content_for :popup_bottom do
  - if ! ENV["CS_NO_POPUP"]
    - if @viewed_activities && @viewed_activities.count > 1 && current_user.nil?
      .container-fluid.popup-bottom(ng-hide="editMode")
        .row-fluid
          .container
            .row
              .span12
                .row
                  .span5.offset1
                    %h3 Cook Better Than You Ever Thought Possible
                    = form_tag new_user_registration_url, :method => :get do
                      = email_field_tag 'email', nil, {class: 'input-signup-email', placeholder: 'Enter email', required: true}
                      = hidden_field_tag :signed_up_from, 'bottom_popup_cta'
                      = submit_tag 'Sign Up Now', class: 'btn btn-secondary', id: 'subscribe-email'
                  .span6
                    %h3 Benefits Include
                    %ul
                      %li Ask questions of some of the world's best chefs
                      %li Keep up to date with our latest recipes
                      %li Enroll in courses, upload your creations
                      %li Like other student creations
                  .popup-bottom-close
                    %i.icon-remove

//////// UPLOAD MODAL /////////
- if params[:action] == 'show'
  .modal.hide.fade#upload-user-creation
    .modal-header
      %h3= "Share your #{@activity.title} creation"
    .modal-body
      = render 'shared/uploads'
  
= render 'cancel_edit_modal'
= render 'restore_autosave.html.haml'
= render 'already_editing_modal.html.haml'

%div(ng-cloak close="showTagsModal = false" modal="showTagsModal" options="modalOptions")
  .modal-header
    %h2 Choose Tags
    Pick all that apply. It is ok to have more than one in a category.
  .modal-body.tag-bg
    %csTagChooser(  ng-model="activity.tags" 
                    options="csTagService.activitySuggestedTags")
  .modal-footer
    %button.btn(ng-click="showTagsModal = false") Done

-################################ PRELOADED JSON FOR SPEED ################################

#preloaded-activity-json.hide
  = @activity.to_json


:javascript
  mixpanel.track('Activity Viewed', {'context' : 'naked', 'title' : "#{@activity.title}", 'slug' : "#{@activity.slug}"});



