= render 'courses/title_bar'

= render 'activities/breadcrumbs'

= render 'courses/navigation', model: activity

.container
  - if activity.youtube_id?
    .row.top-video
      .span12
        .video-container
          %iframe{src: youtube_url(activity.youtube_id)}
- if activity.spec_sheet?
  = render 'overview', activity: activity
- if activity.step_by_step?
  = render 'step_by_step', activity: activity

= render 'layouts/disqus_comments', id: activity.id

