-################################ HEADER / LAYOUT STUFF ################################
-# Sanitize everything in the head so that no javascript gets put in there.  However an admin will have javascript rendered for the rest of the page, while a user will not.
-# This fixes potential problems for XSS attacks.
- content_for :title, "#{sanitize(@activity.title)} | #{@activity.activity_type.first}".html_safe
- content_for :description, @activity.description.to_s != "" ? sanitize(@activity.description).html_safe : sanitize(@activity.title).html_safe
- content_for :canonical_link, activity_url(@activity) if @activity.id
- content_for :keywords, sanitize(@activity.tag_list.join(','))
- if @activity.id
  - content_for :facebook_og do
    %meta{property: 'og:url', content: activity_url(@activity)}
    %meta{property: 'og:title', content: sanitize(@activity.title).html_safe}
    %meta{property: 'og:description', content: @activity.description.to_s != "" ? sanitize(@activity.description).html_safe : sanitize(@activity.title).html_safe}
    - if @activity.image_id?
      %meta{property: 'og:image', content: filepicker_activity_hero_image(@activity.image_id)}
    - elsif @activity.featured_image_id?
      %meta{property: 'og:image', content: filepicker_activity_hero_image(@activity.featured_image_id)}
  - content_for :twitter_cards do
    %meta{property: 'twitter:site', content: '@chefsteps'}
    %meta{property: 'twitter:title', content: sanitize(@activity.title).html_safe }
    %meta{property: 'twitter:description', content: @activity.description}
    - if @activity.image_id?
      %meta{property: 'twitter:image:src', content: filepicker_activity_hero_image(@activity.image_id)}
    - elsif @activity.featured_image_id?
      %meta{property: 'twitter:image:src', content: filepicker_activity_hero_image(@activity.featured_image_id)}
    - if @activity.youtube_id?
      %meta{property: 'twitter:card', content: 'player'}
      %meta{property: 'twitter:player', content: "https://www.youtube.com/embed/#{@activity.youtube_id}?wmode=opaque\&rel=0&modestbranding=1\&showinfo=0"}
      %meta{property: 'twitter:player:height', content: '270'}
      %meta{property: 'twitter:player:width', content: '480'}
    - else
      %meta{property: 'twitter:card', content: 'summary_large_image'}

- @body_tag_attributes = {:'ng-app' => "ChefStepsApp", :'ng-controller' => "ActivityController", :'ng-class' => '{"activity_show" : true}' }

-# This is how search engine crawlers know to request the _escaped_fragment_ page
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}

-if params[:scaling]
  :javascript
    paramScaling = #{params[:scaling]};


-################################ PRIMARY CONTENT ################################

-# .container-fluid.well-gradient.full-bleed.no-bottom-margin(ng-controller="LoginController" ng-show="!authentication.currentUser()" ng-cloak ng-init="registrationSource='activityMadlib'; setIntent('ftue')")
-#   = render "devise/sessions/new_angular"
-#   .row-fluid
-#     .container
-#       .row
-#         .span10.offset1.relative
-#           = render 'home/madlib'

.cs-banner.banner-signup(ng-controller='csBannerController' ng-hide='banner.dismissed')
  .cs-banner-msg
    %h3 Sign up for the latest recipes and techniques.
  .cs-banner-cta(ng-controller='csBannerSignupController' ng-click='signup()')
    Join
  .cs-banner-close(ng-click='dismiss()')
    %i(cs-icon='x')


.schema-container{:itemscope => true, :itemtype => (@activity.is_recipe? ? "http://schema.org/Recipe" : "http://schema.org/Article")}
  .recipe-container

    = render 'activities/banner_image'

    .banner-spacer.noprint( ng-if="heroMedia.heroDisplayType() == 'none'" )

    .comments-slide(ng-class="{'open' : anyCommentsOpen}")
      #activity-title(data-activity="#{@activity.title}")
      %form.printable(ng-cloak name="activityForm" csfixnakedlinks)

        -# dummy default button so no way a default click on some other button happens when return is pressed in a text field
        %input(ng-click="" type="submit" style="height: 0px !important; width:0px !important; margin-left: -10000px;")

        #activity-body.recipe_schema(ng-class="addEditModeClass()"){data: {:'activity-id' => @activity.id}}
          = render 'activities/main_activity_content', activity: @activity


          -# Big spinner until the activity loads. By not cloaking but using angular to hide, it
          -# disappears roughly when the page is ready.
          .row.activity-loading-spinner(ng-hide="! loading")
            .span12
              %i.icon-page-load


  %div(nell-popup)

  -################################ BOTTOM OF PAGE CONTENT ################################

  - content_for :bottom do
    - if ! ENV["CS_NO_DISQUS"]
      .row.section
        .text-center
          .section
            %strong
              Have a question about a recipe?
              %br
                %a(href="//chefsteps.com/forum" onclick="mixpanel.track('Question to Forum', {'title' : '#{@activity.title}'});")
                  Please ask us on the forum
          .section
            %strong
              Customer service issue?
              %br
                =mail_to "info@chefsteps.com", "Email us at info@chefsteps.com"
        .span8.offset2
          %h3 Comments
          #discussion
            %cscomments(comments-type="activity" comments-id="{{activity.id}}" seo-bot="#{is_brombone}")


  = content_for :footer do
    = render 'layouts/footer'

  = render 'home/madlib_popup', registration_source: 'activityMadlib'


  -################################ MODALS  ################################

  - if @course
    .modal.hide.fade#syllabus-modal
      .modal-header
        = button_tag "X", class: 'close', data: {dismiss:'modal'}
        %h3= @course.title
      .modal-body
        = course_syllabus(@course)

  = render 'cancel_edit_modal'
  = render 'restore_autosave.html.haml'
  = render 'already_editing_modal.html.haml'

  %div(ng-cloak close="showTagsModal = false" modal="showTagsModal" options="modalOptions")
    .modal-header
      %h2 Choose Tags
      Pick all that apply. It is ok to have more than one in a category.
    .modal-body.tag-bg
      %csTagChooser(  ng-model="activity.tags"
                      options="csTagService.activitySuggestedTags")
    .modal-footer
      %button.btn(ng-click="showTagsModal = false") Done

  -################################ PRELOADED JSON FOR SPEED ################################

  #preloaded-activity-json.hide
    = @activity.to_json



