= render 'layouts/filepicker'

- content_for :title, @activity.title.html_safe
- content_for :description, @activity.description != "" ? @activity.description.html_safe : @activity.title.html_safe
- content_for :canonical_link, activity_url(@activity) if @activity.id
- content_for :keywords, @activity.tag_list.join(',')
- if @activity.id
  - content_for :facebook_og do
    %meta{property: 'og:url', content: activity_url(@activity)}
    %meta{property: 'og:title', content: @activity.title.html_safe}
    %meta{property: 'og:description', content: @activity.description != "" ? @activity.description.html_safe : @activity.title.html_safe}
    - if @activity.image_id?
      %meta{property: 'og:image', content: filepicker_activity_hero_image(@activity.image_id)}
    - elsif @activity.featured_image_id?
      %meta{property: 'og:image', content: filepicker_activity_hero_image(@activity.featured_image_id)}
  - content_for :twitter_cards do
    %meta{property: 'twitter:site', content: '@chefsteps'}
    %meta{property: 'twitter:title', content: @activity.title.html_safe }
    %meta{property: 'twitter:description', content: @activity.description}
    - if @activity.image_id?
      %meta{property: 'twitter:image:src', content: filepicker_activity_hero_image(@activity.image_id)}
    - elsif @activity.featured_image_id?
      %meta{property: 'twitter:image:src', content: filepicker_activity_hero_image(@activity.featured_image_id)}
    - if @activity.youtube_id?
      %meta{property: 'twitter:card', content: 'player'}
      %meta{property: 'twitter:player', content: "https://www.youtube.com/embed/#{@activity.youtube_id}?wmode=opaque\&rel=0&modestbranding=1\&showinfo=0\&vq=hd720"}
      %meta{property: 'twitter:player:height', content: '270'}
      %meta{property: 'twitter:player:width', content: '480'}
    - else
      %meta{property: 'twitter:card', content: 'summary_large_image'}
- @body_tag_attributes = {:'ng-app' => "ChefStepsApp", :'ng-controller' => "ActivityController", :'ng-click' => "bodyClick()"}


// This is how the crawler knows to request the _escaped_fragment_ page
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}

-if params[:scaling]
  :javascript
    paramScaling = #{params[:scaling]};

%form(name="myform")
  .container#activity-body.recipe_schema(ng-cloak="" ng-class="addEditModeClass()"){:itemscope => true, :itemtype => (@activity.is_recipe? ? "http://schema.org/Recipe" : nil), data: {:'activity-id' => @activity.id}}

    .row.printable

      .span6.relative
        %csEditPair#title-edit-pair
          %csEditPairShow
            %h1.activity-title(ng-bind-html-unsafe="activity.title || 'Add title...'" itemprop='name' ng-class="disableIf(! activity.title.length)")
            -if @activity.source_activity_id
              %h5(style="font-weight: normal;")
                {{sourceActivityTypeString()}}
                = link_to @activity.source_activity.title, activity_path(@activity.source_activity)
          %csEditPairEdit
            %textarea.nohtml(name="title" rows=2 data-ng-model="activity.title" placeholder="Add title..." required="true")
            -if @activity.source_activity_id
              %h5(style="font-weight: normal;")
                %select.unit(type="text" ng-model="activity.source_type" required="true" ng-options="s.id as s.name for s in sourceActivityTypes")
                = link_to @activity.source_activity.title, activity_path(@activity.source_activity)

      .span6.noprint

        %div(collapse="editMode")
          - if ! @minimal
            .pull-left.display-inline-fix
              - if @course
                .btn-circle{data: {toggle: 'modal', target: '#syllabus-modal'}}
                  %i.icon-file-alt
                - prev_activity = @course.prev_published_activity(@activity)
                - next_activity = @course.next_published_activity(@activity)
                - if prev_activity
                  = link_to course_activity_path(@course, prev_activity), class: 'btn-circle' do
                    %i.icon-chevron-left
                - if next_activity
                  = link_to course_activity_path(@course, next_activity), class: 'btn-circle' do
                    %i.icon-chevron-right
              .btn-circle#show-all
                %i.icon-resize-full#show-all-icon
              .btn-circle{onclick: 'window.print()'}
                %i.icon-print
            -if admin_user_signed_in? && @include_edit_toolbar
              .pull-right(style="margin-left: 20px;")
                %button#edit-mode.btn.btn-primary(type='button' ng-click="startEditMode()")
                  Edit
                %button#edit-mode.btn.btn-primary(type='button' ng-click="fork()")
                  Fork

            .pull-right.display-inline-fix
              = render 'layouts/social_buttons', media_object: @activity
        %div.pull-right(collapse="!editMode")
          .btn-toolbar
            .btn-group
              %button#edit-undo.btn.btn-secondary(ng-click="undo()" ng-disabled="! undoAvailable()"){type: 'button'}
                %i.icon-undo
                Undo
              %button#edit-redo.btn.btn-secondary(ng-click="redo()" ng-disabled="! redoAvailable()"){type: 'button'}
                Redo
                %i.icon-repeat


    .row.printable.printable-column
      .span12
        .row#main-content
          = render 'main_activity_content', activity: @activity
          - if ! @minimal
            = render 'community_tab_fake'

- content_for :bottom do
  - if ! @minimal

    - if ! ENV["CS_NO_SUGGESTED_ACTIVITIES"]
      .row(ng-hide="editMode")
        .span12
          %h3 Techniques
          #technique-carousel
            = render 'shared/horizontal_scroller', items: @techniques
          %h3 Recipes
          #related-carousel
            = render 'shared/horizontal_scroller', items: @recipes

    - if ! ENV["CS_NO_DISQUS"]
      .row(ng-hide="editMode")
        .span12
          %h3 Discussion
          .section
            - disqus_id = "activity-#{@activity.id}"
            = render 'layouts/disqus_comments', disqus_id: disqus_id, disqus_title: @activity.title, disqus_url: activity_url(@activity)

- if @course
  .modal.hide.fade#syllabus-modal
    .modal-header
      = button_tag "X", class: 'close', data: {dismiss:'modal'}
      %h3= @course.title
    .modal-body
      = course_syllabus(@course)

- content_for :popup_bottom do
  - if ! ENV["CS_NO_POPUP"]
    - if @viewed_activities && @viewed_activities.count > 1 && current_user.nil?
      .container-fluid.popup-bottom(ng-hide="editMode")
        .row-fluid
          .container
            .row
              .span12
                .row
                  .span5.offset1
                    %h3 Cook Better Than You Ever Thought Possible
                    = form_tag new_user_registration_url, :method => :get do
                      = email_field_tag 'email', nil, {class: 'input-signup-email', placeholder: 'Enter email', required: true}
                      = hidden_field_tag :signed_up_from, 'bottom_popup_cta'
                      = submit_tag 'Sign Up Now', class: 'btn btn-secondary', id: 'subscribe-email'
                  .span6
                    %h3 Benefits Include
                    %ul
                      %li Ask questions of some of the world's best chefs
                      %li Keep up to date with our latest recipes
                  .popup-bottom-close
                    %i.icon-remove

#cancel-modal.modal.hide.fast{tabindex: '-1', role: 'dialog', style: "z-index: 2000"}
  .modal-header
    %button.close{type: 'button', data: {dismiss: 'modal'}}
      x
    .modal-body
      Do you really want to abandon all of your changes?
    .modal-footer
      %button.btn.btn-success{data: {dismiss: 'modal'}}
        No !!
      %button.btn.btn-danger(ng-click="cancelEditMode()"){data: {dismiss: 'modal'}}
        Yes


