- content_for :title, @activity.title.html_safe
- content_for :description, @activity.description != "" ? @activity.description.html_safe : @activity.title.html_safe
- content_for :canonical_link, activity_url(@activity)
- content_for :keywords, @activity.tag_list.join(',')

.row
  .span6
    %h1
      = @activity.title.html_safe
    - if @activity.description?
      :markdown
        #{@activity.description}
  .span6
    = render 'layouts/social_buttons', media_object: @activity

.row
  .span12
    .row
      .span6.section#video-ingredient-unit
        .video-container
          - if @activity.youtube_id?
            %iframe{src: youtube_url(@activity.youtube_id)}
          - elsif @activity.image_id?
            = image_tag s3_image_url(@activity.image_id)
          #image-viewer
            #image-viewer-container
            #image-viewer-close
              %i.icon-remove.icon-large
        - if @activity.ingredients.any?
          .activity-ingredients-list#full-ingredients-list.section{data: {target: ''}}
            = render 'ingredients_list', ingredients: @activity.ingredients
        - if @activity.required_equipment.any?
          .section
            %h4 Equipment and Materials
            = render 'equipment_list', equipment: @activity.required_equipment
        - if @activity.used_in_activities.any?
          .section
            %h4 Used In
            %ul
            - @activity.used_in_activities.each do |activity|
              %li= link_to activity.title, activity
      .span6.section
        .ordered-steps
          - @activity.steps.each_with_index do |step, index|
            .ordered-step-item{id: "order-step-item-#{index}"}
              .step-element.step-number
                = index + 1
              .step-element.step-content
                - if step.title?
                  %h4= step.title
                :markdown
                  #{raw step.directions}
                / - if step.ingredients.any?
                /   .step-ingredients
                /     = render 'ingredients_list', ingredients: step.ingredients
              .step-actions.btn-group
                -if step.ingredients.any?
                  .btn.step-action-item.step-ingredients
                    %i.icon-th-list
                    .step-ingredients-source
                      = render 'ingredients_list', ingredients: step.ingredients
                - if step.image_id?
                  .btn.step-action-item.step-image
                    %i.icon-picture
                    .step-image-source
                      = image_tag s3_image_url(step.image_id)
                

.row
  .span12
    %h3 Techniques
    .carousel-scroll#technique-carousel
      .carousel-scroll-inner
        - @techniques.each_with_index do |technique,index|
          .item
            = link_to activity_path(technique) do
              = render 'shared/media_centered', media: technique, main: 'Technique', size: 'small'
    %h3 Related
    .carousel-scroll#related-carousel
      .carousel-scroll-inner
        - @recipes.each_with_index do |recipe,index|
          .item
            = link_to activity_path(recipe) do
              = render 'shared/media_centered', media: recipe, main: 'Recipe', size: 'small'

= #TODO Remove old code below

/ - conditional_cache [activity, version], cache_unless: !cache_show do

/   - disqus_id = "activity-#{activity.id}"

/   - content_for :title, activity.title.html_safe
/   / - content_for :description, activity.description != "" ? activity.description.html_safe : activity.title.html_safe
/   - content_for :canonical_link, activity_url
/   - content_for :keywords, activity.tag_list.join(',')
/   - course = Course.find(params[:course_id]) if params[:course_id]

/   -if params[:scaling]
/     :javascript
/       paramScaling = #{params[:scaling]};

/   .recipe_schema{:itemscope => true, :itemtype => (activity.is_recipe? ? "http://schema.org/Recipe" : nil)}

/     = render 'courses/navigation', course: course, activity: activity, disqus_id: disqus_id

/     .noprint.activity-hero
/       .container
/         %h1= activity.title.html_safe
/         - if activity.youtube_id?
/           .video-container{:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject"}
/             %iframe{src: youtube_url(activity.youtube_id), webkitallowfullscreen: true, mozallowfullscreen:true, allowfullscreen: true }
/           - if activity.transcript?
/             .transcript
/               .btn.btn-primary.pull-right{data: {toggle: 'collapse', target:"#transcript-activity-#{activity.id}"}}
/                 %i.icon-pencil
/                   transcript
/               .transcript-content.collapse{id: "transcript-activity-#{activity.id}"}
/                 = activity.transcript
/         - else
/           - if activity.image_id?
/             .activity-image
/               = image_tag s3_image_url(activity.image_id)

/     = render 'overview', activity: activity
/     -if activity.steps.any?
/       #step-by-step
/         = render 'step_by_step', activity: activity
/     = render 'quizzes', activity: activity
/     = render 'cooked_this_button', activity: activity

/   = render 'layouts/disqus_comments', disqus_id: disqus_id, disqus_title: activity.title, disqus_url: activity_url
