.row
  .span6
    %h1
      = @activity.title
    - if @activity.description?
      %p
        :markdown
          #{@activity.description}
  .span6
    = link_to '#', class: 'btn-circle' do
      %i.icon-envelope-alt
    = link_to '#', class: 'btn-circle' do
      %i.icon-phone
    = link_to '#', class: 'btn-circle' do
      %i.icon-facebook
    = link_to '#', class: 'btn-circle' do
      %i.icon-google-plus
    = link_to '#', class: 'btn-circle' do
      %i.icon-twitter
    = link_to '#', class: 'btn-circle' do
      %i.icon-pinterest


%hr

.row
  .span12
    .row
      .span6
        .video-container
          %iframe{src: youtube_url(@activity.youtube_id)}
      .span6
        .ordered-steps
          - @activity.steps.each_with_index do |step, index|
            .ordered-step-item
              .step-element.step-number
                = index + 1
              .step-element.step-image
                = image_tag s3_image_url(step.image_id)
              .step-element.step-content
                :markdown
                  #{raw step.directions}
              = link_to 'Need Help?', '#', class: 'btn btn-mini pull-right'

%hr

.row
  .span12
    .row
      .span6
        - if @activity.ingredients.any?
          .activity-ingredients-list
            = render 'ingredients_list', activity: @activity
        - if @activity.required_equipment.any?
          %h4 Equipment and Materials
          = render 'equipment_list', equipment: @activity.required_equipment
      .span6
        %h3 Techniques
        .carousel-small#technique-carousel
          .carousel-small-inner
            - @techniques.each_with_index do |technique,index|
              %div{class: "item #{'active' if index == 0}"}
                = render 'shared/media_centered', media: technique, media_image: technique.step_images.last, main: 'Technique'
        %h3 You might also like
        .carousel-small#related-carousel
          .carousel-small-inner
            - @recipes.each_with_index do |technique,index|
              %div{class: "item #{'active' if index == 0}"}
                = render 'shared/media_centered', media: technique, media_image: technique.step_images.last, main: 'Recipe'

= #TODO Remove old code below

/ - conditional_cache [activity, version], cache_unless: !cache_show do

/   - disqus_id = "activity-#{activity.id}"

/   - content_for :title, activity.title.html_safe
/   / - content_for :description, activity.description != "" ? activity.description.html_safe : activity.title.html_safe
/   - content_for :canonical_link, activity_url
/   - content_for :keywords, activity.tag_list.join(',')
/   - course = Course.find(params[:course_id]) if params[:course_id]

/   -if params[:scaling]
/     :javascript
/       paramScaling = #{params[:scaling]};

/   .recipe_schema{:itemscope => true, :itemtype => (activity.is_recipe? ? "http://schema.org/Recipe" : nil)}

/     = render 'courses/navigation', course: course, activity: activity, disqus_id: disqus_id

/     .noprint.activity-hero
/       .container
/         %h1= activity.title.html_safe
/         - if activity.youtube_id?
/           .video-container{:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject"}
/             %iframe{src: youtube_url(activity.youtube_id), webkitallowfullscreen: true, mozallowfullscreen:true, allowfullscreen: true }
/           - if activity.transcript?
/             .transcript
/               .btn.btn-primary.pull-right{data: {toggle: 'collapse', target:"#transcript-activity-#{activity.id}"}}
/                 %i.icon-pencil
/                   transcript
/               .transcript-content.collapse{id: "transcript-activity-#{activity.id}"}
/                 = activity.transcript
/         - else
/           - if activity.image_id?
/             .activity-image
/               = image_tag s3_image_url(activity.image_id)

/     = render 'overview', activity: activity
/     -if activity.steps.any?
/       #step-by-step
/         = render 'step_by_step', activity: activity
/     = render 'quizzes', activity: activity
/     = render 'cooked_this_button', activity: activity

/   = render 'layouts/disqus_comments', disqus_id: disqus_id, disqus_title: activity.title, disqus_url: activity_url
