- disqus_id = "activity-#{activity.id}"

- content_for :title, activity.title.html_safe

= render 'courses/title_bar'

= render 'activities/breadcrumbs'

= render 'courses/navigation', model: activity, disqus_id: disqus_id

.hero-unit.hero-well
  .container
    - if activity.youtube_id?
      .row.top-video
        .span12
          .video-container
            %iframe{src: youtube_url(activity.youtube_id)}

= render 'overview', activity: activity
#step-by-step
  = render 'step_by_step', activity: activity

= render 'layouts/disqus_comments', disqus_id: disqus_id

