= render 'courses/title_bar'

= render 'courses/navigation'

.container
  - if activity.youtube_id?
    .row.top-video
      .span12
        .video-container
          %iframe{src: youtube_url(activity.youtube_id)}

= render 'spec_sheet', activity: activity

.container
  - activity.steps.each_with_index do |step, i|
    - if step.youtube_id?
      = render 'video_step', step: step, count: i+1
    - else
      = render 'step', step: step, count: i+1

= render 'layouts/disqus_comments', id: activity.id

