// This is a super simplified version of the activity page designed to be rendered entirely on the server
// when it is requested by a search engine spider with _escaped_fragment_ in the URL params.
// See https://developers.google.com/webmasters/ajax-crawling/docs/getting-started for more info.
// Hopefully the day will come when we won't need this, when google can reliably crawl sites with angular/ajax content.
// I've intentionally removed some class names so that the content is fully exposed (no more... links with jquery
// overlays, recipe scaling, etc, and got rid of all partials - so we just need to make sure that any new
// model elements that show up on the real activity page get displayed in some form here too. It doesn't need to be beautiful.

= render 'layouts/filepicker'
- content_for :title, "#{@activity.title.html_safe} - #{@activity.activity_type.first}"
- content_for :description, @activity.description != "" ? @activity.description.html_safe : @activity.title.html_safe
- content_for :canonical_link, activity_url(@activity)
- content_for :keywords, @activity.tag_list.join(',')
- content_for :facebook_og do
  %meta{property: 'og:url', content: activity_url(@activity)}
  %meta{property: 'og:title', content: @activity.title.html_safe}
  %meta{property: 'og:description', content: @activity.description != "" ? @activity.description.html_safe : @activity.title.html_safe}
  - if @activity.image_id?
    %meta{property: 'og:image', content: filepicker_activity_hero_image(@activity.image_id)}
  - elsif @activity.featured_image_id?
    %meta{property: 'og:image', content: filepicker_activity_hero_image(@activity.featured_image_id)}


#activity-body.recipe_schema{:itemscope => true, :itemtype => (@activity.is_recipe? ? "http://schema.org/Recipe" : nil)}

  .row.printable

    .span6.relative
      %h1.activity-title{itemprop: 'name'}
        =@activity.title.html_safe

    .pull-left.display-inline-fix
      - if @course
        .btn-circle{data: {toggle: 'modal', target: '#syllabus-modal'}}
          %i.icon-file-alt

  .row.printable.printable-column
    .span12
      .row#main-content
        .span6.section#video-ingredient-unit
          .video-container{:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject"}
            - if @activity.youtube_id?
              %iframe{src: youtube_url(@activity.youtube_id)}
            - elsif @activity.image_id?
              = image_tag filepicker_activity_hero_image(@activity.image_id), alt: @activity.title, title: @activity.title, itemprop: 'image'
          - if @activity.description?
            %div
              :markdown
                #{apply_shortcodes(@activity.description)}
          %h6
            You have reached the static version of this page. For the full experience, please visit
            =link_to activity_url(@activity)

          - if @activity.ingredients.any?
            .section
              .activity-ingredients-list#full-ingredients-list.section
                .well
                  %table.ingredients{:itemprop => "ingredients"}
                    %thead
                      %tr
                        %th#ingredient Ingredient
                        %th#quantity{colspan: 2}

                    %tbody
                      - @activity.ingredients.each do |ingredient|
                        %tr.ingredient-item
                          %td.ingredient-title
                            .pull-left
                              - if ingredient.product_url?
                                =link_to ingredient.title.html_safe, ingredient.product_url, { class: ('for-sale-after' if ingredient.for_sale), target: "_blank"}
                              - elsif ingredient.sub_activity_id != nil
                                -subact = Activity.find_by_id(ingredient.sub_activity_id)
                                =link_to subact.title.html_safe, activity_path(subact)
                              - else
                                = ingredient.title.html_safe
                            - if ingredient.note?
                              .pull-left
                                = ", #{apply_shortcodes(ingredient.note).html_safe}"
                          %td.quantity-group
                            .main-qty= ingredient.display_quantity
                          %td.unit= ingredient.unit
          - if @activity.yield.present?
            .section
              %h4 Yield
              = @activity.yield
          - if @activity.timing.present?
            .section
              %h4 Timing
              = @activity.timing
          - if @activity.equipment.any?
            .section
              %h4 Equipment and Materials
              %ul.equipment
                - @activity.equipment.each do |item|
                  - if item.product_url?
                    %li.bullet-for-sale= link_to item.title, item.product_url
                  - else
                    %li= item.title
          - if @activity.used_in_activities.published.any?
            .section
              %h4 Used In
              %ul
                - @activity.used_in_activities.published.each do |activity|
                  %li= link_to activity.title.html_safe, activity
        .span6
          .steps{:itemprop => "recipeInstructions"}
            .pull-left
              - step_number = 0
              - @activity.steps.each_with_index do |step,index|
                .ordered-step-item{id: "order-step-item-#{index}"}
                  .step-element.step-number
                    - if step.hide_number?
                      - step_number
                    - else
                      = step_number+=1
                  .step-element.step-content
                    - if step.title?
                      %h4= step.title
                    :markdown
                      #{apply_shortcodes(step.directions)}
                    - if step.image_id?
                      .step-image-show{id: "step-image-#{index}"}
                        -descrip = filepicker_image_description(step.image_id, step.image_description)
                        = image_tag filepicker_step_image(step.image_id), alt: descrip, title: descrip, :itemprop => 'image'
                    - if step.youtube_id?
                      .video-container
                        %iframe{src: youtube_url(step.youtube_id)}

      .row
        .span12
          %h3 Discussion
          .section
            - disqus_id = "activity-#{@activity.id}"
            = render 'layouts/disqus_comments', disqus_id: disqus_id, disqus_title: @activity.title, disqus_url: activity_url(@activity)

