#privacy
  %h4 CHEFSTEPS DATAPOLITIK
  %p Senest opdateret: 13/10/2017
  %p
    Denne Datapolitik forklarer, hvordan oplysninger om dig indsamles, anvendes og videregives af ChefSteps, Inc. og vores datterselskaber og andre tilknyttede selskaber (”ChefSteps”, ”vi”, ”os”), når du får adgang til eller bruger vores webside, mobilapps
    eller andre produkter og tjenester (samlet ”Tjenesterne”), eller når du i øvrigt interagerer med os.
  %p
    Vi kan til enhver tid ændre denne Datapolitik. Hvis vi foretager ændringer, giver vi dig besked ved at ændre datoen øverst på politikken, og i nogle tilfælde kan vi give dig yderligere besked ved, f.eks. at tilføje en erklæring på vores webside eller
    sende dig en meddelelse via vores Tjenester. Vi opfordrer dig til at gennemgå Datapolitikken, når du får adgang til vores Tjenester eller i øvrigt interagerer med os for at holde dig opdateret med vores oplysningspraksis og de måder, du kan være med
    til at beskytte dit privatliv.
  %h3 Indsamling af oplysninger
  %h4 Oplysninger, som du giver os
  %p
    Vi indsamler oplysninger, som du forsyner os med direkte. Vi indsamler for eksempel oplysninger, når du opretter en konto, foretager et køb, tilmelder dig vores kurser, deltager i de interaktive områder i vores Tjenester, kommunikerer med os via tredjepartssider
    fra sociale medier, deltager i vores konkurrencer, reklamer, sweepstakes og undersøgelser, anmoder om kundesupport eller i øvrigt kommunikerer med os. De typer oplysninger vi kan indsamle, omfatter dit navn, din e-mailadresse, telefonnummer, faktureringsadresse,
    leveringsadresse, oplysninger du lagrer på vores Tjenester, fotos, brugernavne til sociale medier og andre oplysninger, du vælger at give.
  %h4 Oplysninger, som vi indsamler automatisk
  %p Når du får adgang til eller bruger vores Tjenester, indsamler vi automatisk oplysninger om dig, og vi kan forbinde dem med oplysninger, som du forsyner os med direkte. Vi kan for eksempel indsamle:
  %p
    Oplysninger om transaktioner: Når du foretager et køb eller en returnering, indsamler vi oplysninger om transaktionen, såsom kategorien eller detaljer om produktet, transaktionsbeløbet og datoen for køb/returnering. Bemærk, at vi ikke indsamler eller
    lagrer oplysninger om betalingskort, såsom kreditkortnumre. For yderligere oplysninger om, hvordan disse oplysninger indsamles, behandles og lagres, <a href="https://stripe.com/us/privacy/">henvises til vores betalingsbehandlers datapolitik og vilkår</a>.
  %p
    %strong Logoplysninger på websiden:
    Vi logger oplysninger om din brug af vores webside, såsom din computers operativsystem, den type browser du anvender, tidspunkter for adgang, besøgte sider, din IP-adresse og den webside, der henviste dig til
    vores side.
  %p
    %strong> Oplysninger indsamlet i forbindelse med Joule
    \: Når du først kobler din Joule på vores Tjenester, linkes Joule automatisk til din konto hos ChefSteps. For oplysninger om at frakoble din Joule fra din konto hos ChefSteps henvises til ”Dine
    valg” nedenfor. Når du forbinder Joule til et wi-fi-netværk, indsamler vi oplysninger om netværket (såsom navn og styrken på forbindelsen). Vi indsamler oplysninger om din brug af Joule, herunder hvad og hvordan du laver mad, samt dine præferencer inden
    for madlavning og opskrifter. Vi indsamler diagnosticeringsdata fra Joules sensorer og komponenter, såsom samlet antal motoromdrejninger, atmosfærisk tryk og badetemperatur. Der gemmes også nogle tekniske oplysninger og oplysninger om brug på Joule.
    Der henvises til ”Brug af oplysninger” nedenfor for at forstå, hvordan vi bruger dataene.
  %p
    %strong Oplysninger om mobiltelefon eller tablet:
    Når du får adgang til eller bruger vores mobile sider eller apps, kan vi indsamle oplysninger om mobiltelefonen eller tabletten, herunder hardwaremodel, operativsystem og version, enhedsidentifikatorer,
    oplysninger om mobile netværk og oplysninger om din brug af vores mobilapplikationer. Hvis Joule er koblet til vores Tjenester via wi-fi, så du kan styre Joule fra flere mobiltelefoner eller tabletter, der har meldt sig på din ChefSteps-konto, kan vi
    endvidere indsamle oplysninger om alle mobiltelefoner og tabletter, du anvender til at styre Joule.
  %p
    %strong Oplysninger om placering:
    Vi kan indsamle oplysninger om din placering, når du får adgang til eller bruger en af vores mobilapplikationer eller i øvrigt samtykker til indsamling af disse oplysninger. For yderligere detaljer om indsamling
    af oplysninger om placering og de valg, du har, henvises til ”Dine valg” nedenfor.
  %p
    %strong Oplysninger indsamlet af cookies og andre sporingsteknologier:
    Vi og vores tjenesteudbydere anvender forskellige teknologier, herunder cookies og webbeacons, til at indsamle oplysninger om dig, når du interagerer med vores Tjenester eller
    e-mails, herunder oplysninger om din surf- og købsadfærd. Cookies er små datafiler lagret på din harddisk eller en enheds hukommelse, som hjælper os med at forbedre vores webside og din oplevelse, se hvilke områder og funktioner på vores webside, som
    er populære og tælle besøg. Webbeacons er elektroniske billeder, der kan bruges på vores webside eller i vores e-mails og er med til at levere cookies, tælle besøg og forstå brug og kampagners effekt. For yderligere oplysninger om cookies og hvordan
    man slår dem fra henvises til vores
    %a{:href => "https://www.chefsteps.com/cookie-policy"} Cookie-politik
    og
    %a{:href => "http://www.aboutcookies.org"} www.aboutcookies.org
    eller
    = succeed "." do
      %a{:href => "http://www.allaboutcookies.org"} www.allaboutcookies.org
  %h4 Oplysninger, som vi indsamler fra andre kilder
  %p
    Vi kan også modtage oplysninger om dig fra andre kilder og linke eller sætte dem sammen med oplysninger, vi indsamler om dig. Hvis du for eksempel opretter eller logger på din ChefSteps-konto via et socialt medies side eller hvis du knytter din konto
    på det sociale medie til din ChefSteps-konto, har vi adgang til visse oplysninger fra den side, såsom dit navn, oplysninger om konto og vennelister, i overensstemmelse med de fuldmagtsprocesser, der fastlægges af siden for det sociale medie.
  %h4
    %a{:name => "use-of-information"}
    Brug af oplysninger
  %p Vi kan bruge oplysninger om dig til forskellige formål i relation til vores Tjenester, som vi stiller til rådighed for dig, herunder at:
  %p Levere, vedligeholde og forbedre vores Tjenester (vi anvender f.eks. Joule- diagnosticeringsdata for at hjælpe os med at forstå, hvordan Joule bruges og til at tjekke, at komponenterne præsterer i henhold til specifikationerne),
  %p Give og levere de produkter og tjenester, du anmoder om, behandle transaktioner og sende dig relevante oplysninger, herunder bekræftelser og kvitteringer,
  %p Sende dig tekniske meddelelser, opdateringer, vigtige beskeder om sikkerhed, support og administrative meddelelser,
  %p Svare på dine kommentarer, spørgsmål og anmodninger og yde kundeservice (f.eks. oplysninger om, hvordan dit wi-fi-netværk benyttes til fejlfinding af problemer med forbindelsen, du indberetter, når du bruger Joule),
  %p
    Kommunikere med dig om produkter, tjenester, kategorier, opskrifter, tilbud, reklamefremstød, begivenheder og andre nyheder og oplysninger, som vi mener, vil være af interesse for dig (f.eks. anvendes oplysninger om din brug af Joule til at tilbyde dig
    funktioner såsom kogekunstens historie og anbefalinger af opskrifter),
  %p Overvåge og analysere tendenser, brug og aktiviteter i forbindelse med vores Tjenester,
  %p Opdage, undersøge og forebygge svigagtige transaktioner og andre ulovlige aktiviteter, og beskytte ChefSteps’ og andres rettigheder, ejendom og sikkerhed,
  %p Tilpasse og forbedre vores Tjenester og levere skræddersyede annoncer, indhold eller funktioner til dig,
  %p Gøre konkurrencer, sweepstakes og fremstød lettere og behandle og levere bidrag og belønninger, og
  %p Linke eller sætte sammen med oplysninger, vi får fra andre, for at hjælpe os med at forstå dine behov og give dig bedre service.
  %h4
    %a{:name => "sharing-info"}>
    Deling af oplysninger
  %p Vi kan dele oplysninger om dig som følger eller som i øvrigt beskrevet i denne Datapolitik:
  %p Med tredjepartsleverandører, konsulenter og andre tjenesteudbydere, der har behov for adgang til disse oplysninger for at udføre arbejde på vegne af os,
  %p Når du køber tredjepartsprodukter gennem os, kan vi dele oplysninger med leverandørerne af disse produkter for at opfylde din bestilling,
  %p
    Hvis du forbinder tredjepartsenheder og -tjenester med din ChefSteps-konto eller vores Tjenester, såsom når du vælger at danne grænseflade mellem Joule eller vores mobilapp med Amazon Alexa, kan dine oplysninger blive delt med disse tredjeparter ifølge
    din instruks og samtykke,
  %p Når du melder dig til og deltager på de interaktive områder i vores Tjenester, kan visse oplysninger om dig blive vist offentligt, såsom dit navn, fotos, opskrifter og andre oplysninger, du vælger at give,
  %p Som svar på en anmodning om oplysninger, hvis vi mener at videregivelse er i overensstemmelse med, eller krævet af, en gældende lov, forordning eller retslige skridt,
  %p Hvis vi mener, at dine handlinger er i modstrid med vores brugeraftaler eller politikker, eller for at beskytte ChefSteps’ eller andres rettigheder, ejendom og sikkerhed,
  %p I forbindelse med eller under forhandlinger om en eventuel fusion, salg af virksomhedens aktiver, finansiering eller et andet selskabs opkøb af hele eller en del af vores virksomhed, og
  %p Med dit samtykke eller efter din instruks.
  %p Vi kan også dele samlede eller anonymiserede oplysninger med tredjeparter.
  %h4 Funktioner til social deling
  %p
    Vores Tjenester kan tilbyde funktioner til social deling eller andre integrerede værktøjer (såsom "Synes godt om” i Facebook). Din brug af disse funktioner gør det muligt at dele oplysninger med dine venner eller offentligheden, afhængig af de indstillinger
    du foretager med enheden, som tilbyder funktionen til social deling. For yderligere oplysninger om formålet og omfanget af indsamling og behandling af data i forbindelse med funktioner til social deling henvises du til datapolitikkerne for de enheder,
    der leverer disse funktioner.
  %h4
    Annoncering og analysetjenester leveret af andre
    %a#_cp_text_1_86
  %p
    Vi kan tillade andre, på vores vegne, at lægge annoncer på internettet og levere analysetjenester. Disse enheder kan anvende cookies, webbeacons og andre teknologier til at indsamle oplysninger om din brug af Tjenesterne og andre websider, herunder din
    IP-adresse, webbrowser, besøgte sider, tid brugt på siderne, links som er klikket på og konverteringsoplysninger. Disse oplysninger kan bruges af ChefSteps og andre til blandt andet at analysere og spore data, fastlægge hvor populært bestemt indhold
    er, levere annoncering og indhold målrettet dine interesser på vores Tjenester og andre websider og bedre forstå din onlineaktivitet. For flere oplysninger om interessebaserede annoncer eller for at fravælge, at oplysninger om din surfen på nettet bruges
    til annoncering i forbindelse med adfærd, henviser vi til
    %a{:href => "http://www.aboutads.info/choices", :target => "_blank"} www.aboutads.info/choices.
  %p
    Vi kan også arbejde med tredjeparts sociale platforme, som f.eks. Facebook, for at levere annoncer til dig som led i en tilpasset kampagne, medmindre du meddeler os, at du foretrækker, at oplysninger om dig bruges på denne måde, ved at udfylde den onlineformular,
    der findes
    %a{:href => "https://www.chefsteps.com/facebook_optout"} her.
  %h4 Sikkerhed
  %p ChefSteps tager rimelige skridt for at medvirke til at beskytte oplysninger om dig mod tab, tyveri, mistrug og uberettiget adgang, videregivelse, ændring og ødelæggelse.
  %h4 Grænseoverskridende overførsel af oplysninger, beskyttelse af privatlivets fred
  %p
    Ved at få adgang til vores Tjenester eller på anden måde give os oplysninger, samtykker du i behandling og overførsel af oplysninger i og til USA og andre lande, hvor du måske ikke har de samme rettigheder, som du har i henhold til lokal lovgivning. Hvor
    dette er tilfældet, træffer vi passende foranstaltninger til at beskytte oplysninger om dig i overensstemmelse ned denne Datapolitik.
  %p
    Vi overholder de rammer, der findes mellem EU og USA og Schweiz og USA for beskyttelse af privatlivet (samlet ”Beskyttelse af Privatlivets Fred”) hvad angår de personoplysninger, vi indsamler fra EU og Schweiz og overfører til USA. For flere oplysninger
    om Beskyttelse af Privatlivets Fred, og for at se vores certificering, henviser vi til websiden med Beskyttelse af Privatlivets Fred
    //[insert link to ChefSteps’ certification when available]
    Vi er ansvarlige i henhold til Beskyttelse af Privatlivets
    Fred angående personoplysninger, som vi deler med tredjeparter til ekstern behandling på vores vegne, som beskrevet i afsnittet
    %a{:href => "“#sharing-info“"}”Deling af oplysninger”
    ovenfor, medmindre vi beviser, at vi ikke er ansvarlige for den begivenhed, der er årsag til skaden.
    Hvis du har spørgsmål angående vores overholdelse af Beskyttelse af Privatlivets Fred, opfordrer vi dig til at kontakte os på
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    = succeed "," do
      %a{:href => "https://www.jamsadr.com"} JAMS
    %a{:href => "https://www.privacyshield.gov/servlet/servlet.FileDownload?file=015t00000004qAg"} Bilag I til principperne om Beskyttelse af Privatlivets fred
    for flere detaljer).
  %h3 Dine valg
  %h4 Kontooplysninger
  %p
    Vi lagrer de oplysninger, vi indsamler om dig, så længe det er nødvendigt til det eller de formål, hvortil vi oprindeligt indsamlede dem, medmindre en længere opbevaringsperiode kræves eller tillades af gældende lov. Du har til enhver tid ret til (uden
    beregning) at få adgang til de oplysninger, vi har om dig, eller til at opdatere, korrigere eller slette dine personoplysninger ved at logge på din ChefSteps-konto. Alternativt kan du kontakte os på
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    og bede om de oplysninger, vi har om dig, eller anmode os om at opdatere, korrigere eller slette oplysninger, vi har om dig, men bemærk, at vi kan bede dig om at give yderligere oplysninger for at bekræfte din identitet. Hvis du ønsker at deaktivere
    din konto, kan du kontakte os på
    = succeed "," do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  %h4 Joule
  %p Når din Joule er koblet med din ChefSteps-konto, kan du afbryde den ved at deaktivere den via indstillingerne på din mobiltelefon eller tablet.
  %h4 Oplysninger om placering
  %p
    Når du første starter nogle af vores mobilapps, første gang får adgang til visse funktioner i mobilapps, eller besøger en af siderne på vores webside, der indsamler oplysninger om placering, bliver du bedt om at samtykke i indsamlingen af oplysninger
    om placering. Hvis du i første omgang samtykker i vores indsamling af oplysninger om placering, kan du senere standse denne indsamling ved at ændre indstillingerne på din mobiltelefon, tablet eller internetbrowser. Hvis du gør dette, vil visse funktioner
    i vores Tjenester ikke længere virke, såsom tilbud om ingredienser eller produkter fra leverandører tæt på dig. Du kan også standse vores indsamling af oplysninger om placering fra vores mobilapps ved at følge den sædvanlige afinstalleringsprocedure
    og fjerne ChefSteps’ applikation(er) fra din mobiltelefon eller tablet.
  %h4 Reklame-kommunikation fra ChefSteps
  %p Du kan til enhver tid fravælge at modtage reklame-kommunikation fra os ved at følge instrukserne i sådanne kommunikationer. Selv hvis du fravælger, kan vi stadig sende dig kommunikation, der ikke er reklame, såsom om din konto eller vores nuværende forretningsforhold.
  %h4 Mobile push-beskeder/vigtige beskeder
  %p Med dit samtykke kan vi sende reklame og ikke-reklamemæssige push-beskeder eller vigtige beskeder til din mobile enhed. Du kan til enhver tid vælge at ophøre med at modtage disse beskeder ved at ændre meddelelses-indstillingerne på din mobile enhed.
  %h4 Yderligere meddelelse om privatlivets fred til indbyggere i EU og Mexico
  %p
    Hvis du bor i EU eller Mexico, handler ChefSteps som ”dataansvarlig” hvad angår dine personoplysninger, og vi behandler disse oplysninger med dit samtykke og/eller som det er nødvendigt for at drive vores virksomhed, levere vores Tjenester til dig, opfylde
    vores kontraktmæssige og juridiske forpligtelser, eller i øvrigt opfylde lovlige interesser beskrevet i afsnittene
    %a{:href => "“#use-of-information\""} ”Brug af oplysninger”
    og
    %a{:href => "“#sharing-info\""} “Deling af oplysninger”
    ovenfor. Hvis behandlingen af personoplysninger bygger på
    dit samtykke, har du til enhver tid ret til at tilbagekalde dit samtykke til fremtidig behandling ved at kontakte os på
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    for at udøve dine rettigheder til at gennemgå, rette, slette, begrænse behandlingen af og overføre
    dine personoplysninger. Hvis du beslutter dig for at udøve din ret til sletning eller at modsætte dig behandlingen af dine personoplysninger, er du indforstået med, at Chefsteps på baggrund af din anmodning muligvis ikke kan opretholde din brug hvad
    angår Tjenesterne. Hvis du ikke er enig i, hvordan vi bruger dine personoplysninger eller en beslutning truffet af os som svar på din anmodning om at udøve dine rettigheder til beskyttelse af personlige oplysninger, kan du indgive en formel klage hos
    din lokale databeskyttelsesmyndighed.
  %h4 Kontakt os
  %p Hvis du har spørgsmål eller kommentarer til denne datapolitik, bedes du kontakte os på info@chefsteps.com eller ved at skrive til:
  %p
    ChefSteps, Inc.
    %br>/
    Data Privacy Department
    %br>/
    1501 Pike Place, Suite 300
    %br>/
    Seattle, WA 98101
    %br>/
    USA
