#privacy
  %h4 CHEFSTEPS PRIVACYBELEID
  %p Laatst gewijzigd: 13/10/2017
  %p
    Dit Privacybeleid legt uit hoe informatie over u wordt verzameld, gebruikt en gedeeld door ChefSteps, Inc. en onze dochtermaatschappijen en andere aan ons gelieerde ondernemingen (“ChefSteps”, “wij”, “ons”) wanneer u onze website, mobiele applicaties
    en andere producten en diensten (gezamenlijk de “Diensten”) bezoekt of gebruikt, of wanneer u anderszins met ons in contact treedt.
  %p
    Wij kunnen van tijd tot tijd wijzigingen aanbrengen in dit Privacybeleid. Als wij wijzigingen aanbrengen zullen wij u dit melden door de datum bovenaan het privacybeleid te herzien en, in sommige gevallen, kunnen wij u een aanvullende melding sturen,
    bijvoorbeeld door het plaatsen van een verklaring op onze homepage of door u een aankondiging te sturen via onze Diensten. Wij raden u aan om het Privacybeleid te bekijken wanneer u onze Diensten bezoekt of anderszins met ons in contact treedt om op
    de hoogte te blijven van onze informatiepraktijken en de manieren waarop u uw privacy kunt helpen beschermen.
  %h3 Verzamelen van informatie
  %h4 Gegevens die u aan ons verstrekt
  %p
    Wij verzamelen informatie die u rechtstreeks aan ons verstrekt. Wij verzamelen bijvoorbeeld informatie wanneer u een account aanmaakt, een aankoop doet, zich inschrijft voor onze lessen, deelneemt aan de interactieve gedeelten van onze Diensten, via sociale
    media sites van derden met ons communiceert, deelneemt aan onze wedstrijden, promoties, sweepstakes en enquêtes, klantenondersteuning vraagt of anderszins met ons communiceert. De soorten informatie die wij van u kunnen verzamelen omvatten uw naam,
    e-mailadres, telefoonnummer, factuuradres, bezorgadres, informatie die u op onze Diensten opslaat, foto's, gebruikersnamen van sociale media en alle andere informatie die u verkiest te verstrekken.
  %h4 Informatie die wij automatisch verzamelen
  %p Wanneer u onze Diensten bezoekt of gebruikt, verzamelen wij automatisch informatie over u en kunnen wij deze koppelen aan informatie die u rechtstreeks aan ons verstrekt. Wij kunnen bijvoorbeeld het volgende verzamelen:
  %p
    %strong> Informatie over transacties
    \: Wanneer u een aankoop of retourzending doet, verzamelen wij informatie over de transactie, zoals de klasse- of productgegevens, het transactiebedrag en de datum van de aankoop/retourzending. Wij verzamelen
    geen betaalkaartgegevens, zoals creditcardnummers. Voor meer informatie over hoe deze informatie wordt verzameld, verwerkt en opgeslagen verwijzen wij u naar het privacybeleid en de voorwaarden van onze
    = succeed "." do
      %a{:href => "https://stripe.com/us/privacy/"} betalingsverwerker
  %p
    %strong> Website loginformatie
    \: Wij registreren informatie over uw gebruik van onze website, zoals het besturingssysteem van uw computer, het type browser dat u gebruikt, tijden van toegang, bekeken pagina's, uw IP-adres en de webpagina die u
    naar onze site heeft verwezen.
  %p
    %strong> Informatie die in verbinding met Joule wordt verzameld
    \: Wanneer u voor het eerst uw Joule verbindt met onze Diensten, zal Joule automatisch worden gekoppeld aan uw ChefSteps account. Voor informatie over het ontkoppelen van uw Joule van
    uw ChefSteps account, verwijzen wij u naar “Uw keuzes” hieronder. Wanneer u Joule met een Wi-Fi netwerk verbindt, verzamelen wij informatie over het netwerk (zoals naam en sterkte van de verbinding). Wij verzamelen informatie over uw gebruik van Joule,
    waaronder wat en hoe u kookt, alsook uw kook- en receptenvoorkeuren. Wij verzamelen diagnostische gegevens van de sensoren en onderdelen van Joule, zoals totaal aantal motoromwentelingen, atmosferische druk en badtemperatuur. Sommige technische informatie
    en gebruikersinformatie wordt ook op Joule opgeslagen. Wij verwijzen u naar “Gebruik van informatie” hieronder om te begrijpen hoe wij de gegevens gebruiken.
  %p
    %strong> Mobiele telefoon of tablet informatie
    \: Wanneer u onze mobiele sites of apps bezoekt of gebruikt kunnen wij informatie verzamelen over de mobiele telefoon of tablet, inclusief het hardware model, besturingssysteem en versie, apparaatidentificatoren,
    mobiele netwerkinformatie en informatie over uw gebruik van onze mobiele toepassingen. Als Joule met onze Diensten is verbonden via Wi-Fi, zodat u Joule kunt bedienen vanaf meerdere mobiele telefoons of tablets die op uw ChefSteps account zijn aangemeld,
    verzamelen wij informatie over alle mobiele telefoons en tablets die u gebruikt om Joule te bedienen.
  %p
    %strong> Locatiegegevens
    \: Wij kunnen informatie verzamelen over uw locatie wanneer u een van onze mobiele applicaties opent of gebruikt of anderszins instemt met het verzamelen van deze informatie. Voor meer informatie over de verzameling van
    locatiegegevens en de keuzes die u daarbij heeft, verwijzen wij u naar “Uw keuzes” hieronder.
  %p
    %strong> Informatie verzameld door cookies en andere tracking-technologieën
    \: Wij en onze dienstverleners gebruiken diverse technologieën, waaronder cookies en web beacons, om informatie over u te verzamelen wanneer u interactie heeft met onze
    Diensten of e-mails, waaronder informatie over uw surf- en koopgedrag. Cookies zijn kleine gegevensbestanden die op uw harde schijf of in het geheugen van het apparaat worden opgeslagen en die ons helpen om onze website en uw ervaring te verbeteren,
    om te bekijken welke gebieden en functies van onze website populair zijn en om bezoeken te tellen. Web beacons zijn elektronische afbeeldingen die op onze website of in onze e-mails gebruikt kunnen worden en helpen om cookies te plaatsen, bezoeken te
    tellen en inzicht te krijgen in het gebruik en de effectiviteit van campagnes. Voor meer informatie over cookies en hoe u deze kunt uitschakelen verwijzen wij u naar ons
    %a{:href => "https://www.chefsteps.com/cookie-policy"} Cookiebeleid
    en
    %a{:href => "http://www.aboutcookies.org"} www.aboutcookies.org
    of
    = succeed "." do
      %a{:href => "http://www.allaboutcookies.org"} www.allaboutcookies.org
  %h4 Informatie die wij uit andere bronnen verzamelen
  %p
    Wij kunnen ook informatie over u ontvangen van andere bronnen en deze informatie koppelen aan of combineren met informatie die wij over u verzamelen. Als u bijvoorbeeld uw ChefSteps account aanmaakt of erop inlogt via een sociale media site of als u uw
    sociale media account koppelt aan uw ChefSteps account, hebben wij toegang tot bepaalde informatie van die site, zoals uw naam, accountinformatie en vriendenlijsten, in overeenstemming met de autorisatieprocedures die door dergelijke sociale media sites
    worden bepaald.
  %h4
  %a{:name => "use-of-information"}>
  Gebruik van informatie
  %p Wij kunnen informatie over u gebruiken voor diverse doeleinden met betrekking tot de Diensten die wij aan u verstrekken, waaronder:
  %p Het verstrekken, onderhouden en verbeteren van onze Diensten (wij gebruiken bijvoorbeeld diagnostische gegevens van Joule om ons te helpen te begrijpen hoe Joule wordt gebruikt en om te controleren of de onderdelen voldoen aan de specificaties);
  %p Het verstrekken en leveren van de producten en diensten waarom u verzoekt, het verwerken van transacties en het aan u toezenden van daaraan verbonden informatie, waaronder bevestigingen en aankoopbewijzen;
  %p Het aan u toezenden van technische meldingen, updates, veiligheidswaarschuwingen, ondersteuningsberichten en administratieve berichten;
  %p Het reageren op uw opmerkingen, vragen en verzoeken en het verstrekken van klantenservice (informatie over uw Wi-Fi netwerk wordt bijvoorbeeld gebruikt bij het oplossen van verbindingsproblemen die u meldt wanneer u Joule gebruikt);
  %p
    Het met u communiceren over producten, diensten, lessen, recepten, aanbiedingen, promoties, evenementen en ander nieuws en informatie waarvan wij denken dat die interessant voor u is (informatie over uw gebruik van Joule wordt bijvoorbeeld gebruikt om
    u functies aan te bieden zoals kookgeschiedenis en aanbevelingen voor recepten);
  %p Het monitoren en analyseren van trends, gebruik en activiteiten in verband met onze Diensten;
  %p Het opsporen, onderzoeken en voorkomen van fraudeleuze transacties en andere illegale activiteiten en het beschermen van rechten, eigendom en veiligheid van ChefSteps en anderen;
  %p Her personaliseren en verbeteren van onze Diensten en het verstrekken van op u afgestemde advertenties, content of functies;
  %p Het faciliteren van wedstrijden, sweepstakes en promoties en het verwerken en afleveren van inschrijvingen en beloningen; en
  %p Het koppelen aan of combineren met informatie die wij van anderen krijgen om uw behoeften te helpen begrijpen en u van een betere service te voorzien.
  %h4
  %a{:name => "sharing-info"}>
  Delen van informatie
  %p Wij kunnen informatie over u delen zoals hieronder of anderszins in dit Privacybeleid beschreven:
  %p Met derden-leveranciers, consultants en andere dienstverleners die toegang tot dergelijke informatie nodig hebben om namens ons werkzaamheden uit te voeren;
  %p Wanneer u via ons producten van derden koopt, kunnen wij informatie delen met de leveranciers van dergelijke producten teneinde uw bestelling te voldoen;
  %p
    Als u apparaten en diensten van derden verbindt met uw ChefSteps account of onze Diensten, zoals wanneer u ervoor kiest om Joule of onze mobiele applicatie te verbinden met Amazon Alexa, kan uw informatie worden gedeeld met dergelijke derden, afhankelijk
    van uw instructie en toestemming;
  %p Wanneer u zich aanmeldt voor en deelneemt aan de interactieve gedeelten van onze Diensten, kan bepaalde informatie over u publiekelijk worden weergegeven, zoals uw naam, foto's, recepten en andere informatie die u verkiest te verstrekken;
  %p In antwoord op een verzoek om informatie indien wij van mening zijn dat het delen daarvan in overeenstemming is met of vereist wordt door toepasselijk recht, regelgeving of gerechtelijke procedures;
  %p Als wij van mening zijn dat uw acties in strijd zijn met onze gebruikersovereenkomsten of beleid of om de rechten, eigendom en veiligheid van ChefSteps of anderen te beschermen;
  %p In verband met, of tijdens onderhandelingen over, een fusie, verkoop van bedrijfsactiva, financiering of overname van het gehele of een deel van ons bedrijf door een ander bedrijf; en
  %p Met uw toestemming of volgens uw instructie.
  %p Wij kunnen ook samengevoegde of gedeïdentificeerde informatie met derden delen.
  %h4 Functies voor delen op sociale media
  %p
    Onze Diensten kunnen functies voor het delen op sociale media en andere ingebouwde tools (zoals de Facebook “Vind ik leuk” knop) aanbieden. Uw gebruik van dergelijke functies stelt u in staat om informatie te delen met uw vrienden of het publiek, afhankelijk
    van de instellingen die u vastlegt bij de entiteit die de functies voor delen op sociale media verstrekt. Voor meer informatie over doel en reikwijdte van gegevensverzameling en -verwerking in verband met functies voor het delen op sociale media, verwijzen
    wij u naar het privacybeleid van de entiteiten die deze functies verstrekken.
  %h4
    Advertentie- en analytische diensten van anderen
    %a#_cp_text_1_86
  %p
    Wij kunnen anderen toestaan om namens ons advertenties op het internet te plaatsen en om analytische diensten te verstrekken. Deze entiteiten kunnen cookies, web beacons en andere technologieën gebruiken om informatie over uw gebruik van de Diensten en
    andere websites te verzamelen, waaronder uw IP-adres, webbrowser, bekeken pagina's, hoeveelheid tijd die op pagina's is doorgebracht, links waarop geklikt is en conversie-informatie. Deze informatie kan door ChefSteps en anderen gebruikt worden om,
    onder andere, gegevens te analyseren en bij te houden, de populariteit van bepaalde content te bepalen, het leveren van op uw interesse afgestemde advertenties en content op onze Diensten en andere websites, en om een beter begrip van uw online activiteiten
    te verkrijgen. Voor meer informatie over op interesses gebaseerde advertenties, of het afmelden voor het gebruik van informatie over uw surfgedrag voor gedragsgerichte reclamedoeleinden, zie
    %a{:href => "http://www.aboutads.info/choices", :target => "_blank"} www.aboutads.info/choices.
  %p
    Wij kunnen ook samenwerken met sociale platformen van derden, zoals Facebook, om advertenties aan u te tonen als onderdeel van een op maat gemaakte campagne, tenzij u ons bericht dat u er de voorkeur aan geeft geen informatie over u op deze manier te
    laten gebruiken door het online formulier in te vullen dat
    = succeed "beschikbaar" do
      %a{:href => "https://www.chefsteps.com/facebook_optout"} hier
  %h4 Beveiliging
  %p ChefSteps neemt redelijke maatregelen om informatie over u te helpen beschermen tegen verlies, diefstal, misbruik en onbevoegde toegang, openbaarmaking, wijziging en vernietiging.
  %h4 Grensoverschrijdende doorgifte van informatie; Privacy Shield
  %p
    Door toegang te verkrijgen tot of het gebruiken van onze Diensten of het anderszins verstrekken van informatie aan ons, stemt u toe tot de verwerking en doorgifte van informatie in en aan de Verenigde Staten en andere landen, waar u mogelijk niet dezelfde
    rechten heeft als onder de lokale wetgeving. Wanneer dit het geval is zullen wij gepaste maatregelen nemen om informatie over u te beschermen in overeenstemming met dit Privacybeleid.
  %p
    Wij houden ons aan de EU-U.S. en Swiss-U.S. Privacy Shield Frameworks (gezamenlijk het “Privacy Shield”) met betrekking tot persoonsgegevens die wij verzamelen vanuit de EU en Zwitserland en doorgeven aan de Verenigde Staten. Voor meer informatie over
    het Privacy Shield en om onze certificering te bekijken verwijzen wij u naar de Privacy Shield website
    //[insert link to ChefSteps’ certification when available].
    Op grond van het Privacy Shield blijven wij verantwoordelijk en aansprakelijk voor alle
    persoonsgegevens die wij delen met derden voor externe verwerking namens ons, zoals beschreven in de paragraaf “Delen van informatie” hierboven, tenzij wij aantonen dat wij niet verantwoordelijk zijn voor de gebeurtenis die de schade veroorzaakt. Als
    u een vraag heeft over onze naleving van het Privacy Shield, raden wij u aan contact met ons op te nemen via
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    = succeed "," do
      %a{:href => "https://www.jamsadr.com"} JAMS
    %a{:href => "https://www.privacyshield.gov/servlet/servlet.FileDownload?file=015t00000004qAg"} Bijlage I van de Privacy Shield Principles
    voor meer informatie).
  %h3 Uw keuzes
  %h4 Accountinformatie
  %p
    Wij slaan de informatie die wij over u verzamelen op zolang als dit noodzakelijk is voor het (de) doeleinde(n) waarvoor wij de informatie oorspronkelijk verzameld hebben, tenzij een langere bewaartermijn vereist of toegestaan is onder toepasselijk recht.
    U heeft het recht om (kosteloos) inzage te verkrijgen tot informatie die wij over u hebben of om te allen tijde uw persoonsgegevens bij te werken, te corrigeren of te wissen door in te loggen op uw ChefSteps account. U kunt ook contact met ons opnemen
    via
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    en informatie die wij over u hebben opvragen of verzoeken om de gegevens die wij over u hebben bij te werken, te corrigeren of te wissen, maar let op dat wij u in dat geval mogelijk aanvullende
    informatie kunnen vragen om uw identiteit te bevestigen. Als u uw account wilt uitschakelen kunt u contact met ons opnemen via
    = succeed "," do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  %h4 Joule
  %p Wanneer uw Joule aan uw Chefsteps account gekoppeld is, kunt u deze ontkoppelen door de verbinding te verbreken via de instellingen op uw mobiele telefoon of tablet.
  %h4 Locatiegegevens
  %p
    Wanneer u voor het eerst een aantal van onze mobiele applicaties start, voor het eerst toegang krijgt tot bepaalde functies in de mobiele applicaties, of een van de pagina's op onze website bezoekt waar locatiegegevens worden verzameld, wordt u gevraagd
    toestemming te geven voor het verzamelen van locatiegegevens. Als u in eerste instantie toestemming geeft voor het verzamelen van locatiegegevens, kunt u deze verzameling later stoppen door de instellingen op uw mobiele telefoon, tablet of internetbrowser
    te wijzigen. Als u dit doet, zullen bepaalde functies van onze Diensten niet langer functioneren, zoals aanbiedingen voor ingrediënten of producten van leveranciers in uw buurt. U kunt het verzamelen door ons van locatiegegevens via onze mobiele applicaties
    ook stoppen door de standaard verwijderingsprocedure te volgen en de ChefSteps applicatie(s) uit uw mobiele telefoon of tablet te verwijderen.
  %h4 Promotionele mededelingen van ChefSteps
  %p
    U kunt zich te allen tijde afmelden voor het ontvangen van promotionele mededelingen van ons door de instructies in die mededelingen te volgen. Zelfs als u zich afmeldt, kunnen wij u toch niet-promotionele mededelingen sturen, bijvoorbeeld over uw account
    of onze lopende zakelijke relaties.
  %h4 Mobiele pushberichten/alerts
  %p
    Met uw toestemming kunnen wij promotionele en niet-promotionele pushberichten of alerts naar uw mobiele apparaat sturen. U kunt er te allen tijde voor kiezen om ontvangst van deze berichten te stoppen door de meldingsinstellingen op uw mobiele apparaat
    te wijzigen.
  %h4 Aanvullende Privacyverklaring voor inwoners van de EU en Mexico
  %p
    Als u in de EU of Mexico woont, treedt ChefSteps op als “verantwoordelijke” voor de verwerking van uw persoonsgegevens en verwerken wij deze gegevens met uw toestemming en/of indien noodzakelijk voor onze bedrijfsvoering, verlenen wij onze Diensten aan
    u, voldoen wij aan onze contractuele en wettelijke verplichtingen of voldoen wij anderszins aan de gerechtvaardigd belangen zoals beschreven in de bovenstaande paragrafen
    %a{:href => "“#use-of-information\""} “Gebruik van informatie”
    en
    %a{:href => "“#sharing-info“"} “Delen van informatie”
    Als de verwerking van persoonsgegevens op basis van uw toestemming plaatsvindt, heeft u te allen tijde het recht om uw toestemming voor toekomstige verwerking in te trekken door contact met ons op te nemen via
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    om uw rechten uit te oefenen om uw persoonsgegevens te controleren, corrigeren, wissen, de verwerking ervan te beperken en om deze over te dragen. Indien u beslist om uw recht op gegevenswissing uit te oefenen of om u tegen de verwerking van uw persoonsgegevens
    te verzetten, zult u begrijpen dat op basis van uw verzoek ChefSteps mogelijk niet in staat is om uw gebruik met betrekking tot de Diensten te handhaven. Als u het niet eens bent met de manier waarop wij uw persoonsgegevens gebruiken of met een beslissing
    van ons in antwoord op uw verzoek om uw privacyrechten uit te oefenen, kunt u een formele klacht indienen bij uw lokale toezichthoudende autoriteit.
  %h4 Contact met ons opnemen
  %p Indien u vragen of opmerkingen heeft over dit Privacybeleid, kunt u contact met ons opnemen via info@chefsteps.com of ons schrijven op het volgende adres:
  %p
    ChefSteps, Inc.
    %br>/
    Data Privacy Department
    %br>/
    1501 Pike Place, Suite 300
    %br>/
    Seattle, WA 98101
    %br>/
    U.S.A.
