%h4 CHEFSTEPS TIETOSUOJASELOSTE
%p Päivitetty viimeksi: 13/10/2017
%p
  Tämä tietosuojaseloste kertoo kuinka ChefSteps, Inc. sekä tytäryhtiömme ja muut kumppanimme ("ChefSteps", "me") keräävät, käyttävät ja jakavat tietojasi, kun käytät nettisivujamme, mobiilisovellustamme tai muita tuotteitamme tai palveluitamme (yhdessä
  "Palvelut"), tai kun muutoin olet vuorovaikutuksessa kanssamme.
%p
  Saatamme muuttaa tätä tietosuojaselostetta ajoittain. Mikäli teemme jotain muutoksia, ilmoitamme niistä sinulle muuttamalla selosteen yläreunassa olevaa päivämäärää. Joissain tapauksissa saatamme ilmoittaa muutoksista myös erikseen lisäämällä tiedon tästä
  nettisivuillemme tai lähettämällä sinulle ilmoituksen Palveluidemme kautta. Suosittelemme, että tarkistat tietosuojaselosteen aina kun käytät Palveluitamme tai olet muuten yhteydessä meihin, jotta pysyt ajantasalla tietosuojakäytänteistämme ja siitä,
  kuinka voit itse suojata yksityisyyttäsi.
%h3 Tietojen kerääminen
%h4 Tiedot, jotka saamme sinulta
%p
  Keräämme tietoja, jotka saamme suoraan sinulta. Keräämme tietoja esimerkiksi kun luot käyttäjätilin, teet ostoksia, rekisteröidyt kursseillemme, otat osaa Palveluidemme interaktiivisiin osiin, viestit kanssamme ulkopuolisten sosiaalisen median sivustojen
  välityksellä, osallistut meidän kilpailuihimme, kampanjoihimme, arvontoihimme ja kyselyihimme, pyydät apua asiakaspalvelusta tai muutoin viestit kanssamme. Keräämme muun muassa seuraavia tietoja: nimi, sähköpostiosoite, puhelinnumero, laskutusosoite,
  toimitusosoite, tiedot joita tallennat Palveluihimme, valokuvat, sosiaalisen median käyttäjänimet, sekä muut mahdolliset antamasi tiedot.
%h4 Automaattisesti kerättävät tiedot
%p Käyttäessäsi Palveluitamme keräämme sinusta automaattisesti tietoja, jotka voimme yhdistää niiden tietojen kanssa, jotka olet antanut suoraan meille. Keräämme esimerkiksi seuraavia tietoja:
%p
  %strong> Tiedot ostoksista
  \: Kun ostat tai palautat jotain, keräämme tästä tietoja. Näitä tietoja ovat esimerkiksi tuotteen tyyppi tai muut tuotetta koskevat tiedot, ostotapahtuman summa sekä ostoksen tai palautuksen päivämäärä. Emme kerää tai
  säilytä maksukortin tietoja, kuten esimerkiksi luottokortin numeroa. Jos haluat lisätietoja siitä, kuinka ostoksiisi liittyviä tietoja kerätään, käsitellään ja säilytetään, voit tutustua maksunvälittäjämme
  = succeed "." do
    %a{:href => "https://stripe.com/us/privacy/"} tietosuojaselosteeseen ja ehtoihin
%p
  %strong> Verkkosivujen lokitiedot
  \: Kirjaamme tietoja siitä, kuinka käytät internetsivustoamme. Näitä tietoja ovat esimerkiksi tietokoneesi käyttöjärjestelmä, käyttämäsi internetselain, käyttöajat, mitä sivuja olet katsonut, IP-osoitteesi sekä
  sen internetsivuston osoite, jonka kautta tulit sivuillemme.
%p
  %strong> Joulen käytön yhteydessä kerätyt tiedot
  \: Kun yhdistät Joulen ensimmäistä kertaa Palveluihimme, Joule yhdistyy automaattisesti käyttämääsi ChefSteps-tiliin. Jos haluat tietoa siitä, kuinka voit erottaa Joulen käytön ChefSteps-tilistäsi,
  katso alla kohta "Tekemäsi valinnat". Kun yhdistät Joulen langattomaan verkkoon, keräämme tietoja käyttämästäsi verkkoyhteydestä, kuten verkon nimi ja internetyhteyden vahvuus. Keräämme tietoja siitä, kuinka käytät Joulea, kuten esimerkiksi mitä ja
  miten kokkaat, sekä millaisista resepteistä ja kokkausvaihtoehdoista pidät. Keräämme diagnostiikkatietoja Joulen antureista ja osista, kuten esimerkiksi tietoja moottorin kierrosnopeudesta, ilmanpaineesta ja hauteen lämpötilasta. Jouleen tallentuu myös
  joitain teknisiä ja käyttöön liittyviä tietoja. Alla kohdassa "Tietojen käyttö" on lisätietoja siitä, kuinka käytämme tietoja.
%p
  %strong> Tiedot kännykästä tai tabletista
  \: Kun käytät mobiilisivustojamme ja sovelluksiamme, saatamme kerätä muun muassa seuraavia tietoja käyttämästäsi kännykästä tai tabletista: laitteen malli, käyttöjärjestelmä ja versio, laitteen tunnistetiedot,
  mobiiliverkon tiedot sekä tietoja siitä, kuinka käytät mobiilisovelluksiamme. Lisäksi jos Joule on yhdistettynä Palveluihimme langattoman verkon välityksellä, niin että voit käyttää Joulea usealla eri kännykällä tai tabletilla, jotka on kytketty ChefSteps-käyttäjätiliisi,
  keräämme tietoja kaikista niistä kännyköistä ja tableteista, joilla käytät Joulea.
%p
  %strong> Sijaintitiedot
  \: Saatamme kerätä tietoja sijainnistasi, kun käytät jotain mobiilisovelluksistamme tai muutoin annat suostumuksesi sijaintitietojen keräämiselle. Lisätietoja sijaintitietojen keräämisestä ja tarjolla olevista vaihtoehdoista
  löytyy alla kohdasta "Tekemäsi valinnat".
%p
  %strong> Evästeiden ja muiden seurantajärjestelmien kautta kerätyt tiedot
  \: Me sekä käyttämämme palveluntarjoajat käytämme lukuisia eri tekniikoita, kuten evästeitä ja muita verkkojäljitteitä, kerätäksemme tietoja sinusta silloin, kun käytät Palveluitamme
  tai olet lähettämiemme sähköpostiviestin vastaanottajana. Näitä tietoja ovat esimerkiksi selaushistoriasi ja ostokäyttäytymisesi. Evästeet ovat pieniä tiedostoja, jotka tallennetaan käyttämällesi kiintolevylle tai laitteen muistiin. Ne auttavat meitä
  parantamaan nettisivujamme ja käyttäjäkokemustasi, näkemään mitkä osiot ja ominaisuudet nettisivuillamme ovat suosittuja sekä laskemaan kävijämääriä. Verkkojäljitteet ovat pieniä kuvatiedostoja, joita voidaan käyttää nettisivuillamme tai sähköpostiviesteissämme,
  ja jotka auttavat toimittamaan evästeitä, laskemaan kävijämääriä sekä ymmärtämään kuinka sivuja käytetään ja kuinka toimivia kampanjat ovat. Lisätietoja evästeistä ja siitä, kuinka evästeet voi poistaa käytöstä,
  %a{:href => "https://www.chefsteps.com/cookie-policy"} löytyy Evästekäytännöstämme
  tai osoitteesta
  %a{:href => "http://www.aboutcookies.org"} www.aboutcookies.org
  tai
  = succeed "." do
    %a{:href => "http://www.allaboutcookies.org"} www.allaboutcookies.org
%h4 Muista lähteistä kerätyt tiedot
%p
  Saatamme lisäksi saada muista lähteistä sinua koskevia tietoja, joita saatamme yhdistää niihin tietoihin, jotka olemme itse keränneet sinuun liittyen. Jos esimerkiksi luot ChefSteps-käyttäjätilisi tai kirjaudut tilillesi jonkin sosiaalisen median sivuston
  kautta tai jos muutoin liität sosiaalisen median tilisi ChefSteps-käyttäjätiliisi, saamme pääsyn tiettyihin tietoihin kyseisellä sivustolla, kuten esimerkiksi nimesi, tilitietosi ja kaverilistasi, sen mukaisesti mitä kukin sosiaalisen median sivusto
  sallii.
%h4
  %a{:name => "use-of-information"}>
  Tietojen käyttö
%p Saatamme käyttää sinua koskevia tietoja erilaisia käyttötarkoituksia varten liittyen sinulle tarjoamiimme Palveluihin. Näitä käyttötarkoituksia ovat muun muassa:
%p Palveluidemme tarjoaminen, ylläpito ja parantaminen (käytämme esimerkiksi Joulen diagnostiikkatietoja sen ymmärtämiseksi, kuinka Joulea yleensä käytetään ja sen varmistamiseksi, että Joulen osat toimivat määritysten mukaisesti);
%p Haluamiesi tuotteiden ja palveluiden tarjoaminen ja toimittaminen, ostotapahtumien käsittely, sekä näihin liittyvien tietojen lähettäminen sinulle, mukaan lukien tilausvahvistukset ja kuitit;
%p Erinäisten viestien ja ilmoitusten toimittaminen: tekniset ilmoitukset, päivitykset, turvallisuushälytykset sekä asiakastukeen ja ylläpitoon liittyvät viestit;
%p Viesteihisi, kysymyksiisi ja pyyntöihisi vastaaminen ja asiakaspalvelun tarjoaminen (esimerkiksi langatonta verkkoyhteyttäsi koskevia tietoja käytetään vianmäärityksessä, jos olet ilmoittanut yhteysongelmista Joulen käytössä);
%p
  Tiedottaminen sinua mahdollisesti kiinnostavista tuotteista, palveluista, kursseista, resepteistä, tarjouksista, kampanjoista, tapahtumista ja muista uutisista ja tiedoista (esimerkiksi tietoja siitä, kuinka käytät Joulea, käytetään sellaisten ominaisuuksien
  tarjoamiseksi kuten kokkaushistoria ja reseptisuositukset);
%p Palveluihimme liittyvien trendien, käytön ja toiminnan valvonta ja analysoiminen;
%p Petollisten liiketoimien ja muun laittoman toiminnan tunnistaminen, tutkinta ja estäminen sekä ChefStepsin ja muiden oikeuksien, omaisuuden ja turvallisuuden suojeleminen;
%p Palveluidemme kohdentaminen ja parantaminen ja sinulle räätälöityjen mainosten, sisällön ja ominaisuuksien tarjoaminen;
%p Kilpailujen, arvontojen ja kampanjoiden järjestäminen sekä osanottojen ja palkintojen käsittely ja toimittaminen; sekä
%p Tietojen yhdistäminen muilta saatuihin tietoihin, jotta ymmärtäisimme tarpeitasi ja voisimme tarjota parempaa palvelua sinulle.
%h4
  %a{:name => "sharing-info"}>
  Tietojen jakaminen
%p Saatamme jakaa sinua koskevia tietoja alla kuvatulla tavalla, tai kuten muuten on kuvattu tässä Tietosuojaselosteessa:
%p Kolmannen osapuolen toimittajien, konsulttien ja muiden palveluntarjoajien kanssa, jotka tarvitsevat pääsyn kyseisiin tietoihin voidakseen suorittaa työtä puolestamme;
%p Kun ostat kolmannen osapuolen tarjoamia tuotteita meidän kauttamme, saatamme jakaa tietoja kyseisten tuotteiden toimittajien kanssa tilauksesi täyttämiseksi;
%p
  Jos yhdistät kolmannen osapuolen tarjoamia laitteita ja palveluita ChefSteps-käyttäjätiliisi tai Palveluihimme, kuten esimerkiksi jos päätät liittää Joulen tai mobiilisovelluksemme Amazonin Alexa-laitteeseen, tietosi saatetaan jakaa tällaisten kolmansien
  osapuolien kanssa, antamiesi ohjeiden ja suostumuksien mukaisesti;
%p Kun rekisteröidyt ja osallistut Palveluidemme vuorovaikutteisiin osuuksiin, tiettyjä tietoja sinusta saatetaan näyttää julkisesti, kuten nimesi, kuvasi, reseptisi ja muut tiedot, joita päätät jakaa;
%p Vastauksena tietojensaantipyyntöön, jos uskomme, että tietojen jakaminen noudattaa soveltuvia lakeja ja oikeudellista prosessia, tai jos soveltuvat lait ja oikeudellinen prosessi näin vaativat;
%p Jos uskomme, että toimintasi on vastoin käyttösopimuksiamme ja käytänteitämme, tai suojellaksemme ChefStepsin tai muiden oikeuksia, omaisuutta ja turvallisuutta;
%p Seuraavien yhteydessä tai niistä neuvoteltaessa: sulautuminen, yrityksen omaisuuden myynti, rahoitus tai muun yrityksen ostaessa osan liiketoiminnastamme tai liiketoimintamme kokonaisuudessaan; ja
%p Sinun suostumuksella ja sinun ohjeiden mukaisesti.
%p Saatamme myös jakaa muihin tietoihin yhdistettyjä tietoja tai anonymisoituja tietoja kolmansien osapuolien kanssa.
%h4 Jakaminen sosiaalisessa mediassa
%p
  Palvelumme saattavat tarjota mahdollisuuden jakaa sisältöä sosiaalisessa mediassa (kuten esimerkiksi Facebookin "Tykkää"-nappi). Käyttäessäsi näitä ominaisuuksia voit jakaa tietoja ystäviesi kanssa tai julkisesti, riippuen yksityisasetuksistasi suhteessa
  siihen tahoon, joka kyseistä jakamisominaisuutta tarjoaa. Lisätietoja tietojen keräämisen ja käsittelyn tarkoituksista ja laajuudesta tällaisen jakamisen yhteydessä löytyy kunkin tällaisia ominaisuuksia tarjoavan tahon tietosuojaselosteesta.
%h4
  Muiden tarjoamat mainos- ja analytiikkapalvelut
  %a#_cp_text_1_86
%p
  Saatamme sallia muiden näyttää mainoksia puolestamme internetissä tai tarjota analytiikkapalveluja. Nämä tahot voivat käyttää evästeitä, verkkojäljitteitä ja muita teknisiä keinoja kerätäkseen tietoja siitä, kuinka käytät Palveluja ja muita nettisvuja.
  Näitä tietoja ovat esimerkiksi sinun IP-osoitteesi, käyttämäsi selain, selaushistoriasi, nettisivuilla viettämäsi aika, klikkaamasi linkit sekä mainonnan tulosseurantatiedot. ChefSteps ja muut voivat käyttää näitä tietoja muun muuassa tietojen analysoimiseksi
  ja seuraamiseksi, tietyn sisällön suosion määrittelyssä, sinun kiinnostuksen kohteiden mukaisten mainosten ja sisällön näyttämiseksi Palveluissamme ja muilla nettisivuilla sekä ymmärtääksemme paremmin nettikäyttäytymistäsi. Saadaksesi lisätietoja kohdennetuista
  mainoksista, tai jos haluat kieltää selaustietojesi käytön käyttäytymiseen perustuvassa mainonnassa, käy osoitteessa
  %a{:href => "http://www.aboutads.info/choices", :target => "_blank"} www.aboutads.info/choices.
%p
  Saatamme myös tehdä yhteistyötä ulkopuolisten sosiaalisen median alustojen, kuten Facebookin, kanssa, näyttääksemme sinulle mainoksia osana räätälöityä kampanjaa, paitsi jos ilmoitat meille, ettet halua sinua koskevia tietoja käytettävän. Voit tehdä tällaisen
  ilmoituksen täyttämällä nettilomakkeen, joka on saatavilla täällä.
%h4 Tietoturva
%p ChefSteps ryhtyy kohtuullisiin toimenpiteisiin tietojesi suojaamiseksi katoamiselta, varastamiselta, väärinkäytöltä sekä luvattomalta pääsyltä, jakamiselta, muokkaamiselta ja tuhoamiselta.
%h4 Tietojen rajat ylittävä siirto; Privacy Shield -järjestely
%p
  Käyttämällä Palveluitamme ja luovuttamalla tietoja meille suostut tietojesi käsittelyyn Yhdysvalloissa ja muissa maissa ja tietojesi siirtoon Yhdysvaltoihin ja muihin maihin, jotka eivät välttämättä tarjoa samoja oikeuksia sinulle, kuin mitä sinulla on
  paikallisen lainsäädännön alla. Jos näin on, pyrimme kohtuullisissa määrin suojaamaan sinua koskevia tietoja tämän Tietosuojaselosteen mukaisesti.
%p
  Noudatamme EU:n ja Yhdysvaltojen sekä Sveitsin ja Yhdysvaltojen välillä olevia Privacy Shield –järjestelyjä (yhdessä "Privacy Shield –järjestely") suhteessa niihin henkilötietoihin, joita keräämme EU:ssa ja Sveitsissä ja jotka siirrämme Yhdysvaltoihin.
  Lisätietoja Privacy Shield –järjestelystä, ja tieto siitä että noudatamme kyseistä järjestelyä, löytyy Privacy Shield –järjestelyn nettisivuilta
  / [insert link to ChefSteps’ certification when available]
  \. Privacy Shield –järjestelyn mukaisesti olemme
  vastuussa henkilötiedoista, jotka jaamme kolmansien osapuolien kanssa, jotta nämä osapuolet voivat käsitellä henkilötietoja puolestamme, kuten kuvataan "Tietojen jakaminen" –kohdassa yllä. Emme kuitenkaan ole vastuussa vahingosta silloin, kun pystymme
  näyttämään, ettemme ole vastuussa siitä tapahtumasta, joka on johtanut kyseiseen vahinkoon. Jos sinulla on kysymyksiä liittyen meidän Privacy Shield –järjestelyssä mukana oloon, otathan yhteyttä osoitteeseen
  = succeed "." do
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
%h3 Tekemäsi valinnat
%h4 Tilitiedot
%p
  Säilytämme keräämiämme tietoja sinusta niin kauan kuin alkuperäinen tietojen käyttötarkoitus sitä vaatii, paitsi jos soveltuva lainsäädäntö edellyttää pidempiä säilytysaikoja. Sinulla on (maksuton) tarkastusoikeus niihin tietoihin, joita meillä on sinusta,
  kuten myös oikeus päivittää, korjata tai poistaa henkilötietosi milloin tahansa kirjautumalla ChefSteps-käyttäjätilillesi. Voit myös ottaa meihin yhteyttä osoitteessa
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  ja pyytää saada tietoja,
  jotka meillä on sinusta, tai pyytää meitä päivittämään, korjaamaan tai poistamaan tietoja. Huomaathan kuitenkin, että tällaisten pyyntöjen yhteydessä saatamme tarvita lisätietoja varmistaaksemme henkilöllisyytesi. Jos haluat poistaa tilisi käytöstä,
  voit ottaa meihin yhteyttä osoitteessa
  = succeed "," do
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
%h4 Joule
%p Siinä vaiheessa kun olet yhdistänyt Joulen ChefSteps-käyttäjätiliisi, voit katkaista yhteyden kännykkäsi tai tablettisi asetuksista.
%h4 Sijaintitiedot
%p
  Kun otat ensimmäistä kertaa mobiilisovelluksiamme käyttöön, käytät mobiilisovellusten tiettyjä ominaisuuksia tai käyt jollain nettisivustomme sivulla, joka kerää sijaintitietoja, sinulta kysytään suostumusta sijaintitietojesi keräämiselle. Jos annat suostumuksesi
  sijaintitietojesi keräämiselle, voit myöhemmin peruuttaa suostumuksesi tälle keräämiselle vaihtamalla asetuksiasi kännykälläsi, tabletillasi tai nettiselaimellasi. Näin tehdessäsi tietyt Palveluidemme ominaisuudet eivät enää toimi, kuten esimerkiksi
  ehdotukset lähituottajiltasi tulevista ainesosista ja tuotteista. Voit myös kieltää mobiilisovelluksissamme tapahtuvan sijaintitietojesi keräämisen poistamalla ChefSteps-sovelluksen (tai –sovellukset) kännykästäsi tai tabletiltasi.
%h4 ChefStepsin mainosviestintä
%p
  Voit kieltää meiltä tulevan mainosviestinnän vastaanottamisen milloin tahansa seuraamalla kyseisissä viesteissä löytyviä ohjeita. Vaikka kieltäisit mainosviestinnän, voimme edelleen lähettää sinulle ei-mainosliitännäisiä viestejä, kuten käyttäjätiliäsi
  koskevia tietoja tai muuta asiakassuhdettasi koskevaa viestintää.
%h4 Mobiililaitteiden ilmoitukset ja hälytykset
%p Saatamme lähettää sinulle mainonallisia ja ei-mainonnallisia ilmoituksia ja hälytyksiä mobiililaitteillasi, jos annat tälle suostumuksesi. Voit kieltää tällaisten viestien vastaanottamisen milloin tahansa muuttamalla mobiililaitteesi ilmoitusasetuksia.
%h4 EU:n ja Meksikon asukkaille tarkoitettu ylimääräinen tietosuojailmoitus
%p
  Jos asut EU:n alueella tai Meksikossa, ChefSteps käsittelee henkilötietojasi "rekisterinpitäjänä". Käsittelemme henkilötietojasi suostumuksellasi ja/tai sen mukaisesti mikä on tarpeen liiketoimintaamme varten, Palveluidemme toimittamiseksi sinulle, sopimuksellisten
  tai lain vaatimien velvollisuuksiemme täyttämiseksi tai muuten sen mukaisesti, mitä kohdissa
  %a{:href => "“#use-of-information\""} "Tietojen käyttö"
  ja
  %a{:href => "“#sharing-info“"} "Tietojen jakaminen"
  kuvatut oikeutetut edut vaativat. Jos
  henkilötietojesi käsittely perustuu suostumukseesi, sinulla on oikeus peruuttaa suostumuksesi jatkossa tapahtuvalle käsittelylle milloin tahansa ottamalla yhteyttä meihin osoitteessa
  = succeed "." do
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  jos haluat käyttää oikeuttasi tarkastaa,
  korjata tai poistaa henkilötietojasi, tai rajoittaa henkilötietojesi käsittelyä tai niiden siirtoa. Jos päätät käyttää oikeuttasi saada henkilötietosi poistetuksi tai vastustaa henkilötietojesi käsittelyä, ChefSteps ei välttämättä voi enää tarjota Palveluita
  sinulle. Jos olet eri mieltä siitä, kuinka käsittelemme henkilötietojasi tai siitä, kuinka olemme vastanneet yksityisyyden suojaa koskevaan pyyntöösi, voit tehdä virallisen valituksen paikalliselle tietosuojaviranomaiselle.
%h4 Ota yhteyttä
%p Jos sinulla on kysymyksiä tai kommentteja liittyen tähän tietosuojaselosteeseen, voit olla yhteydessä meihin osoitteessa info@chefsteps.com tai:
%p
    ChefSteps, Inc.
    %br>/
    Data Privacy Department
    %br>/
    1501 Pike Place, Suite 300
    %br>/
    Seattle, WA 98101
    %br>/
    U.S.A.
