#privacy
  %h4 POLITIQUE DE CONFIDENTIALITÉ DE CHEFSTEPS
  %p Dernière mise à jour : 13/10/2017
  %p
    La présente Politique de Confidentialité précise de quelle manière la société ChefSteps, Inc., ses filiales et d’autres sociétés affiliées (ci-après « ChefSteps » ou « nous ») collectent, utilisent et divulguent des informations à votre sujet lorsque
    vous accédez ou utilisez notre site Web, nos applications mobiles ou nos autres produits et services (collectivement désignés par les « Services »), ou lorsque vous échangez avec nous d’une autre manière.
  %p
    Nous pouvons modifier cette Politique de Confidentialité de temps à autre. Si nous apportons des modifications, nous vous en informerons en modifiant la date qui se trouve au début de ce document et, dans certains cas, vous en serez informé, par exemple
    par l’ajout d’une mention sur notre page d’accueil ou par l’envoi d’une notification par l’intermédiaire de nos Services. Nous vous invitons à relire la Politique de Confidentialité à chaque fois que vous accéderez à nos Services ou que vous communiquerez
    avec nous, afin de rester au fait de notre Politique de Confidentialité et des moyens qui peuvent vous aider à protéger votre vie privée.
  %h3 Collecte des informations
  %h4 Les informations que vous nous communiquez
  %p
    Nous collectons les informations que vous nous communiquez directement. Par exemple, nous collectons des informations lorsque vous créez un compte, faites un achat, vous inscrivez à nos classes, participez dans les zones interactives de nos Services,
    communiquez avec nous via des sites de média-sociaux tiers, participez à nos concours, promotions, loteries ou enquêtes, faites appel à l’assistance clients ou communiquez avec nous d’une autre manière. Les types d’informations que nous pouvons être
    amenés à collecter comprennent votre nom, votre adresse e‑mail, votre numéro de téléphone, votre adresse de facturation, votre adresse d’expédition, les informations que vous enregistrez dans nos services, des photographies, des noms d’utilisateur de
    réseaux sociaux et toute autre information que vous choisissez de nous fournir.
  %h4 Les informations que nous collectons automatiquement
  %p Lorsque vous accédez à nos Services ou que vous les utilisez, nous collectons automatiquement des informations à votre sujet, que nous pouvons associer à des informations que vous nous avez déjà communiquées directement. Par exemple, nous pouvons collecter :
  %p
    %strong des informations de transaction :
    lorsque vous faites un achat ou retournez un produit, nous collectons des informations sur la transaction, telles que la catégorie et les détails du produit, le montant de la transaction et la date de
    l’achat ou du retour. Veuillez noter que nous ne collectons ni ne conservons aucune information relative aux cartes de paiement, dont notamment les numéros de carte de crédit. Pour de plus amples renseignements sur les modalités de collecte, de traitement
    et de conservation de ces informations, veuillez-vous reporter à la
    %a{:href => "https://stripe.com/us/privacy/"} politique de confidentialité
    de notre organisme de paiements.
  %p
    %strong des informations relatives aux logs sur le site Web :
    nous enregistrons des informations relatives à votre utilisation de notre site Web, telles que le type de système d’exploitation de votre ordinateur, le type de navigateur que vous
    utilisez, vos heures d’accès, les pages que vous avez consultées, votre adresse IP et la page Web à partir de laquelle vous êtes arrivé sur notre site.
  %p
    %strong> des informations relatives à Joule 
    \: lorsque vous connectez pour la première fois Joule à nos Services, Joule vous connectera automatiquement à votre compte ChefSteps. Pour savoir comment dissocier votre Joule de votre compte ChefSteps,
    veuillez consulter la rubrique « Vos choix » ci-dessous. Lorsque vous connectez Joule à un réseau Wi‑Fi, nous collectons des informations concernant le réseau (dont le nom du réseau et la qualité de la connexion). Nous collectons également des informations
    relatives à votre utilisation de Joule, notamment ce que vous cuisinez et comment vous cuisinez, ainsi que vos préférences de cuisson et de recettes. Nous collectons des données de diagnostic par l’intermédiaire des capteurs et des composants de Joule,
    telles que le nombre total de tours du moteur, la pression atmosphérique et la température des bains. Certaines informations techniques et d’utilisation sont également enregistrées dans Joule. Pour savoir comment nous utilisons ces données, veuillez
    consulter la rubrique « Utilisation des informations » ci-dessous.
  %p
    %strong> des informations relatives aux les téléphones portables et aux tablettes 
    \: lorsque vous accédez à nos sites ou applications mobiles ou lorsque vous les utilisez, nous pouvons collecter des informations relatives au téléphone portable
    ou à la tablette avec lequel vous vous connectez, notamment le modèle d’appareil, le type et la version de son système d’exploitation, des identifiants de l’appareil, des informations sur le réseau mobile et des informations relatives à votre utilisation
    de nos applications mobiles. En outre, si vous connectez Joule à nos Services
    %em via
    un réseau Wi-Fi, afin que vous puissiez piloter Joule à partir de plusieurs téléphones portables ou tablettes qui ont été enregistrés dans votre compte ChefSteps,
    nous collecterons des informations relatives à tous les téléphones et es tablettes que vous utilisez pour piloter Joule.
  %p
    %strong> des informations de localisation 
    \: nous pouvons collecter des informations relatives à votre localisation au moment où vous accédez à, ou utilisez, l’une de nos applications mobiles, ou lorsque vous consentez d’une autre manière à la
    collecte de ces informations. Pour de plus amples renseignements sur la collecte des informations de localisation et des choix qui s’offrent à vous, veuillez consulter la rubrique « Vos choix » ci-dessous.
  %p
    %strong> des informations collectées par l’intermédiaire des cookies et autres technologies de traçage 
    \: nos prestataires de services et nous‑mêmes utilisons diverses technologies, dont les cookies et les balises Web, afin de collecter des informations
    relatives à la façon dont vous interagissez avec nos Services, notamment des informations relatives à votre comportement de navigation et d’achat. Les « cookies » sont de petits fichiers de données stockés sur votre disque dur ou dans la mémoire de
    vos appareils et qui nous aident à améliorer notre site Web et votre expérience d’utilisateur – notamment savoir les zones et les fonctionnalités de notre site qui vous intéressent le plus et compter les visites. Les balises Web sont des images électroniques
    qui peuvent être utilisées sur notre site Web ou dans nos courriers électroniques et qui nous aident à déposer des cookies, compter les visites et comprendre l’usage et l’efficacité d’une campagne. Vous trouverez des plus d’information relatives aux
    cookies et aux moyens permettant de les désactiver dans notre
    %a{:href => "https://www.chefsteps.com/cookie-policy"} Politique relatives aux Cookies
    et sur le site
    = succeed "." do
      %a{:href => "http://www.allaboutcookies.org"} www.allaboutcookies.org
  %h4 Les informations que nous collectons à partir d’autres sources
  %p
    Nous pouvons aussi recevoir des informations à votre sujet à partir d’autres sources et les relier ou les combiner avec les informations que nous collectons nous-mêmes à votre sujet. Par exemple, si vous créez ou vous connectez à un compte ChefSteps par
    l’intermédiaire d’un réseau social ou si vous associez votre compte sur un réseau social à votre compte ChefSteps, nous aurons accès à certaines informations provenant de ce réseau social, telles que votre nom, les informations relatives à votre compte
    et votre liste d’amis, en fonction des procédures d’autorisation déterminées par ledit réseau social.
  %h4
    %a{:name => "use-of-information"}>
    Utilisation des informations
  %p Nous pouvons utiliser les informations à votre sujet à diverses fins liées aux Services que nous vous fournissons, à savoir :
  %p
    pour fournir, entretenir et améliorer nos Services (par exemple, nous utilisons les données de diagnostic de Joule pour nous aider à comprendre de quelle manière Joule est utilisé et pour vérifier que ses composants fonctionnent conformément aux spécifications) ;
  %p pour fournir et livrer les produits et les services que vous nous demandez, traiter les transactions et vous envoyer les informations afférentes, dont des confirmations et des reçus ;
  %p pour vous envoyer des informations techniques, des mises à jour, des alertes de sécurité et des messages d’aide ou à caractère administratif ;
  %p
    pour répondre à vos commentaires, questions et demandes et pour vous apporter une assistance client (par exemple, nous utilisons les informations relatives à votre réseau Wi-Fi pour diagnostiquer un problème de connexion que vous nous signalez lorsque
    vous utilisez Joule) ;
  %p
    pour communiquer avec vous au sujet des produits, des services, des classes, des recettes, des promotions, des événements et pour vous faire part d’autres actualités ou informations susceptibles de vous intéresser (par exemple, nous pouvons utiliser des
    informations relatives à votre utilisation de Joule pour vous proposer des fonctionnalités comme l’historique de ce que vous avez cuisiné ou des suggestions de recettes) ;
  %p pour suivre et analyser les tendances, l’utilisation et les activités en rapport avec nos Services ;
  %p pour détecter, analyser et prévenir les transactions frauduleuses et d’autres activités illégales, ainsi que protéger les droits, la propriété et la sécurité de ChefSteps ou de tiers ;
  %p pour personnaliser et améliorer nos Services ainsi que fournir des annonces publicitaires, des contenus ou des fonctionnalités adaptés à votre profil d’utilisateur ;
  %p pour faciliter les jeux‑concours, les loteries et les actions promotionnelles et traiter et délivrer les inscriptions récompenses ;
  %p pour établir des liens ou des combinaisons avec des informations que nous obtenons d’autres sources, afin de mieux comprendre vos besoins et vous fournir un meilleur service.
  %h4
    %a{:name => "sharing-info"}>
    Partage d’informations
  %p Nous pouvons partager des informations à votre sujet selon les modalités ci‑dessous et celles précisées par ailleurs dans la présente Politique de Confidentialité :
  %p avec des prestataires, des consultants ou autres fournisseurs de services tiers qui ont besoin d’accéder à ces informations afin d’exécuter des missions pour notre compte ;
  %p lorsque vous achetez des produits tiers par notre intermédiaire, nous pouvons partager vos données avec les fournisseurs de ces produits afin de permettre l’exécution de votre commande ;
  %p
    si vous connectez des appareils et services tiers à votre compte ChefSteps ou à nos Services – par exemple, si vous choisissez de connecter Joule ou notre application mobile avec Amazon Alexa, nous pouvons partager des informations à votre sujet avec
    ce fournisseur tiers, avec votre consentement et selon vos instructions ;
  %p
    lorsque vous vous inscrivez et participez dans une zone interactive de nos Services, certaines informations à votre sujet peuvent être visibles publiquement, telles que votre nom, des photos, des recettes ou toute autre information que vous choisissez
    de communiquer ;
  %p En réponse à une demande d’information, si nous considérons que fournir cette cette information est licite ou requis par toute loi ou un règlement applicables, ou dans le cadre d’une action en justice ;
  %p si nous considérons que vous contrevenez à nos contrats ou politiques d’utilisation, ou dans le but de protéger les droits, la propriété et la sécurité de ChefSteps ou d’un tiers ;
  %p en relation avec ou lors de négociations avec une autre société en vue d’une fusion, d’une vente d’actifs de la société, d’un financement ou d’une acquisition de tout ou partie de nos activités ;
  %p avec votre consentement ou selon votre instruction
  %p Nous pouvons aussi partager avec des tiers des informations agrégées ou anonymisées.
  %h4 Fonctionnalités de partage sur les réseaux sociaux
  %p
    Nos Services peuvent proposer des fonctionnalités de partage sur les réseaux sociaux ou d’autres outils intégrés (comme le bouton « J’aime » de Facebook). Votre utilisation de ces fonctionnalités vous permet de partager des informations avec vos amis
    ou le public en général, selon les paramètres que vous définissez auprès du fournisseur de la fonctionnalité de partage. Pour de plus amples informations sur la finalité et le champ d’application de la collecte et du traitement des données en relation
    avec les fonctionnalités de partage sur les réseaux sociaux, veuillez-vous reporter à la politique de confidentialité des fournisseurs de ces fonctionnalités.
  %h4
    Services de publicité et d’analyse fournis par des tiers
    %a#_cp_text_1_86
  %p
    Nous pouvons autoriser des tiers à publier des publicités pour notre compte sur Internet et à fournir des services d’analytique. Ces tiers peuvent utiliser des cookies, des balises Web et d’autres technologies pour collecter des informations relatives
    à votre utilisation des Services et d’autres sites Web, dont votre adresse IP, votre navigateur, les pages que vous avez visitées, le temps passé sur chacune, les liens sur lesquels vous avez cliqués et des informations de conversion. ChefSteps et ces
    tiers peuvent utiliser ces informations pour, entre autres, analyser et suivre les données, déterminer la popularité de certains contenus, publier des publicités et des contenus ciblés en fonction de vos centres d’intérêt sur nos Services et sur d’autres
    sites Web, ainsi que pour de mieux comprendre votre activité en ligne. Pour plus d’information sur la publicité ciblée, ou sur la façon dont vous pouvez vous opposer à l’utilisation de vos données de navigation à des fins de publicité comportementales,
    vous pouvez consulter le site suivant :
    = succeed "." do
      %a{:href => "http://www.aboutads.info/choices"} www.aboutads.info/choices
  %p
    Nous pouvons aussi travailler avec des réseaux sociaux comme Facebook pour vous afficher des publicités dans le cadre d’une campagne personnalisée, sauf si vous préférez qu’aucune information à votre sujet ne soit utilisée à cette fin, auquel cas vous
    pouvez nous l’indiquer en complétant le formulaire en ligne disponible
    %a{:href => "https://www.chefsteps.com/facebook_optout"} ici.
  %h4 Sécurité
  %p ChefSteps prend toutes mesures nécessaires afin de protéger les informations à votre sujet contre la perte, le vol, l’usage abusif, l’accès non autorisé, la divulgation, l’altération et la destruction.
  %h4 Transferts d’informations internationaux et « Privacy Shield »
  %p
    En accédant à ou en utilisant nos Services, ou en nous fournissant des informations d’une autre manière, vous consentez au traitement et au transfert d’informations vers les États-Unis et vers d’autres pays dans lesquels vous êtes susceptibles de ne pas
    disposer des mêmes droits que ceux dont vous disposez en vertu de votre loi locale. . Lorsque cela est le cas, nous prendrons les mesures nécessaires pour que les informations à votre sujet soient protégées conformément à la présente Politique de Confidentialité.
  %p
    Nous nous conformons à la décision d’adéquation visant à reconnaitre au mécanisme « Eu-US Privacy Shield » un niveau de protection équivalent aux exigences européennes (ci-après « le Privacy Shield ») pour ce qui concerne les données personnelles que
    nous collectons dans l’Union européenne et en Suisse et que nous transférons aux États‑Unis. Pour plus d’informations sur le Privacy Shield et pour consulter notre certification,
    = succeed "." do
      %a{:href => "https://stripe.com/us/privacy/"} veuillez visiter le site internet de Privacy Shield
  %p
    En vertu du Privacy Shield nous restons responsable de toute donnée personnelle que nous partageons avec les tiers pour traitement externe réalisé pour notre compte, tel que décrit dans le paragraphe « Partage d’information » ci-dessus, sauf à ce que
    nous prouvions que nous ne sommes pas responsables du fait qui a provoqué le dommage. Si vous avez une question concernant notre adhésion au Privacy Shield, nous vous invitons à nous contacter à l’adresse
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  %p
    Nous sommes soumis aux pouvoirs de contrôle et d’exécution de la Commission Fédérale du Commerce (« FTC »). Vous pouvez aussi déposer gratuitement une réclamation auprès de JAMS, notre conciliateur Privacy Shield désigné. Dans certains cas, le Privacy
    Shield offre le droit de recourir à l’arbitrage contraignant afin de résoudre le litige (cf. Annexe 1 des Principes du Privacy Shield pour plus d’informations).
  %h3 Vos choix
  %h4 Informations relatives à votre compte
  %p
    Nous conservons les informations que nous collectons à votre sujet pour la durée nécessaire à la réalisation des fins pour lesquelles nous les avons initialement collectées, sauf si les lois applicables autorisent ou obligent à les conserver plus longtemps.
    Vous disposez d’un droit d’accès (gratuit) aux informations vous concernant que nous détenons, d’actualisation, de rectification ou d’effacement, à tout moment, de vos données personnelles en vous connectant à votre compte ChefSteps. Vous pouvez aussi
    nous contacter à
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    et nous demander de vous communiquer les informations que nous détenons à votre sujet, ou demander de les actualiser, rectifier ou effacer, étant précisé que nous pourrons vous
    demander des informations complémentaires afin de confirmer votre identité. Si vous souhaitez désactiver votre compte, vous pouvez nous contacter à
    = succeed "," do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  %h4 Joule
  %p Lorsque Joule est connecté à votre compte ChefSteps, vous pouvez le déconnecter dans les réglages de votre téléphone ou de votre tablette.
  %h4 Informations de localisation
  %p
    Lorsque vous lancez pour la première fois certaines de nos applications mobiles, accédez à certaines fonctionnalités d’une application mobile ou visitez l’une des pages de notre site internet qui collecte des informations de localisation, il vous sera
    demandé de consentir à la collecte de ces informations de localisation. Si vous avez initialement consenti à la collecte de vos informations de localisation, vous pourrez par la suite vous opposer à cette collecte en modifiant les réglages de votre
    téléphone, de votre tablette ou de votre navigateur Internet. Si vous modifiez vos paramètres, certaines fonctionnalités de nos Services deviendront inopérantes, comme les offres d’ingrédients ou de produits proposées par les fournisseurs situés à proximité
    de l’endroit où vous vous trouvez. Vous pouvez également vous opposez à la collecte des informations de localisation par nos applications mobiles en suivant la procédure standard pour désinstaller la ou les applications ChefSteps de votre téléphone
    ou de votre tablette.
  %h4 Messages à caractère promotionnel envoyés par ChefSteps
  %p
    Vous pouvez vous opposer, à tout moment, à la réception de messages promotionnels de notre part en suivant les instructions qui figurent dans ces messages. Si vous faites ce choix, nous pourrons toutefois continuer à vous envoyer des messages non promotionnels,
    par exemple au sujet de votre compte ou de notre relation commerciale en cours.
  %h4 Notification « push » et alertes sur mobiles
  %p
    Avec votre consentement, nous pouvons envoyer des notifications « push » à caractère promotionnel ou non promotionnel, ou des alertes sur votre appareil mobile. Vous pouvez choisir, à tout moment, de ne plus recevoir ces notifications en modifiant les
    réglages de votre appareil.
  %h4 Information relative à votre vie privée complémentaire pour les résidents de l’UE et du Mexique
  %p
    Si vous résidez dans l’Union européenne ou au Mexique, ChefSteps agit en tant que « responsable de traitement» des données personnelles vous concernant. À ce titre, nous traitons ces données avec votre consentement et/ou si cela est nécessaire pour exercer
    nos activités, vous fournir nos Services, exécuter nos obligations contractuelles ou légales ou poursuivre nos intérêts légitimes décrits dans les paragraphes
    %a{:href => "“#use-of-information\""} Utilisation des informations
    et
    %a{:href => "“#sharing-info“"} Partage d’informations
    ci-dessus. Si nous traitons vos données personnelles sur la base de votre consentement, vous avez le droit, à tout moment, de retirer votre consentement à tout traitement de données ultérieur en nous contactant à l’adresse
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    pour exercer vos droits d’accès, de rectification, d’effacement, de limitation de traitement et le transfert de vos données personnelles. Si vous décidez d’exercer votre droit d’effacement de vos données personnelles ou votre droit d’opposition au traitement
    de vos données, vous comprenez que, du fait de votre demande, ChefSteps sera susceptible de ne plus être en mesure de vous permettre de continuer à utiliser les Services. Si vous n’êtes pas d’accord avec la manière dont nous utilisons vos données personnelles
    ou avec une décision que nous avons prise à la suite de votre demande d’exercice de droits relatifs à la protection de votre vie privée, vous pouvez introduire une réclamation officielle auprès de l’autorité de protection des données de votre pays.
  %h4 Pour nous contacter
  %p
    Si vous avez des questions ou des commentaires concernant cette Politique de Confidentialité, veuillez nous envoyer un courrier électronique à
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    ou nous écrire à l’adresse suivante :
  %p
    ChefSteps, Inc.
    %br>/
    Data Privacy Department
    %br>/
    1501 Pike Place, Suite 300
    %br>/
    Seattle, WA 98101
    %br>/
    U.S.A.
