#privacy
  %h4 POLICY SULLA PRIVACY DI CHEFSTEPS
  %p Ultimo aggiornamento: 13/10/2017
  %p
    La presente Policy sulla Privacy illustra le modalità di raccolta, utilizzo e trasmissione dei dati dell’utente da parte di ChefSteps, Inc. e delle sue controllate e collegate (“ChefSteps”) quando l’utente accede o usa il sito web, le app per dispositivi
    mobili o altri prodotti e servizi ChefSteps (collettivamente i “Servizi”) o quando interagisce in altra maniera con ChefSteps.
  %p
    La presente Policy sulla Privacy potrebbe essere soggetta a modifiche. Le modifiche saranno comunicate all’utente tramite l’aggiornamento della data indicata all’inizio della presente Policy e, in alcuni casi, tramite avvisi aggiuntivi pubblicati sulla
    homepage o trasmessi mediante i nostri Servizi. Si consiglia di esaminare la Policy sulla Privacy ogni volta che accedete ai nostri Servizi o interagite in altra maniera con ChefSteps al fine di rimanere informati sulle pratiche di ChefSteps in materia
    di informazione e sulle modalità in cui l’utente può proteggere la sua privacy.
  %h3 Raccolta dei dati
  %h4 Dati forniti dall’utente
  %p
    ChefSteps raccoglie i dati direttamente forniti dall’utente quando, ad esempio, crea un account, effettua acquisti, si iscrive a lezioni, utilizza le aree interattive dei Servizi, comunica con ChefSteps mediante i siti di social media di soggetti terzi,
    partecipa a concorsi, promozioni, giochi a premi e sondaggi, richiede assistenza o comunica in altra maniera con ChefSteps. Le tipologie di dati raccolti includono nome, indirizzo email, numero di telefono, indirizzo di fatturazione, indirizzo di spedizione
    dell’utente, le informazioni che l’utente archivia sui Servizi, fotografie, username dei social media, e qualsiasi altra informazione che l’utente decida di fornire.
  %h4 Dati raccolti automaticamente
  %p Quando l’utente accede o utilizza i Servizi, ChefSteps raccoglie automaticamente i dati dell’utente e li associa ai dati forniti direttamente dall’utente. Per esempio, ChefSteps raccoglie:
  %p
    %strong> Dati su operazioni
    \: Quando l’utente effettua un acquisto o un reso, ChefSteps raccoglie alcune informazioni sull’operazione, come la categoria o i dettagli del prodotto, l’importo dell’operazione e la data dell’acquisto/reso. ChefSteps
    non raccoglie o archivia le informazioni sul metodo di pagamento, come i numeri di carte di credito. Per maggiori informazioni sulle modalità di raccolta, trattamento e archiviazione di tali informazioni, consultare i termini e
    %a{:href => "https://stripe.com/us/privacy/"} la policy sulla privacy
    del gestore dei pagamenti.
  %p
    %strong> Dati sull’accesso al sito web
    \: ChefSteps registra i dati sull’utilizzo del sito web di ChefSteps da parte dell’utente, come il sistema operativo e il tipo di browser utilizzati dall’utente, i tempi di accesso, le pagine visitate, l’indirizzo
    IP dell’utente e le pagine web di provenienza.
  %p
    %strong> Dati raccolti con Joule
    \: Al momento del primo utilizzo del prodotto Joule in associazione ai Servizi, Joule verrà collegato automaticamente all’account ChefSteps dell’utente. Per informazioni sulle modalità di disconnessione dell’account
    ChefSteps da Joule, si veda la sezione “Preferenze utente” di cui sotto. Quando Joule viene connesso a una rete Wi-Fi, ChefSteps raccoglie informazioni sulla rete (come il nome e il livello della connessione). ChefSteps raccoglie i dati di utilizzo
    di Joule, compresi i cibi cucinati e le caratteristiche della cucina dell’utente, nonché le preferenze e le ricette dell’utente. ChefSteps raccoglie i dati diagnostici dai sensori e dalle componenti Joule, come il numero totale di giri, la pressione
    atmosferica e la temperatura dell’acqua. Alcuni dati tecnici e di utilizzo sono inoltre salvati su Joule. Si veda la sezione “Utilizzo dei dati” sotto per avere maggiori informazioni sulle modalità di utilizzo dei dati.
  %p
    %strong> Dati sul telefono cellulare o tablet
    \: Quando l’utente accede o usa i siti o le app ChefSteps per dispositivi mobili, ChefSteps potrebbe raccogliere le informazioni relative al telefono cellulare o tablet utilizzato, come il modello, il
    sistema operativo e la versione, l’identificatore del dispositivo, i dati sulla rete mobile e sull’utilizzo delle app per dispositivi mobili. Inoltre, quando Joule è connesso ai Servizi tramite connessione Wi-Fi per permetterne il controllo da più telefoni
    cellulari o tablet registrati nell’account ChefSteps, ChefSteps raccoglie informazioni su tutti i telefoni cellulari e tablet utilizzati per controllare Joule.
  %p
    %strong> Dati sulla posizione
    \: Quando l’utente presta il proprio consenso alla loro raccolta, ad ogni accesso o utilizzo delle app per dispositivi mobili ChefSteps potrebbe raccogliere informazioni sulla posizione. Per maggiori dettagli sulla
    raccolta delle informazioni sulla posizione e le opzioni a disposizione dell’utente, si veda la sezione “Preferenze utente” di seguito.
  %p
    %strong> Dati raccolti mediante cookie e altre tecnologie di tracciamento
    \: ChefSteps e i suoi fornitori utilizzano varie tecnologie, compresi cookie e web beacon, per raccogliere informazioni sull’utente quando interagisce con i Servizi o email,
    comprese informazioni sulle attività di navigazione e acquisto. I cookie sono file di dati di piccole dimensioni che vengono memorizzati nel browser, disco rigido o memoria del dispositivo dell’utente e che permettono di memorizzare le preferenze dell’utente
    al fine di migliorare i Servizi e personalizzare l’esperienza utente, vedere quali aree e aspetti del sito web sono maggiormente apprezzati e contare il numero di visite. I web beacon sono immagini elettroniche che possono essere contenute nel sito
    web o all’interno delle email per inviare cookie, contare il numero di visite e comprendere l'efficacia dell'utilizzo e delle varie campagne. Per maggiori informazioni sui cookie e su come disabilitarli, consultare
    %a{:href => "https://www.chefsteps.com/cookie-policy"} la Policy sui Cookie
    e visitare il sito
    %a{:href => "http://www.aboutcookies.org"} www.aboutcookies.org
    o
    = succeed "." do
      %a{:href => "http://www.allaboutcookies.org"} www.allaboutcookies.org
  %h4 Dati raccolti da altre fonti
  %p
    ChefSteps potrebbe ricevere informazioni sull’utente anche da altre fonti e collegare o combinare le stesse con le informazioni raccolte da ChefSteps. Per esempio, quando l’utente crea o accede all’account ChefSteps attraverso il sito di un social media
    o associa i propri account social media all’account ChefSteps, ChefSteps accede ad alcune informazioni provenienti da tale sito, come il nome, le informazioni dell’account e la lista degli amici dell’utente, in conformità con le procedure di autorizzazione
    stabilite da tale social media.
  %h4
    %a{:name => "use-of-information"}>
    Utilizzo dei dati
  %p ChefSteps potrebbe usare i dati dell’utente per varie finalità relative ai Servizi forniti, tra cui:
  %p Fornire, mantenere e migliorare i Servizi (per esempio, tramite l’uso dei dati diagnostici di Joule è possibile comprendere come Joule viene utilizzato, nonché controllare che le componenti funzionino in base alle specifiche);
  %p Fornire e consegnare i prodotti e i servizi richiesti, elaborare le operazioni e inviarne all’utente le relative informazioni, comprese conferme e ricevute;
  %p Inviare comunicazioni tecniche, aggiornamenti, avvisi di sicurezza e messaggi di assistenza e amministrativi;
  %p Rispondere a commenti, domande e richieste dell’utente e fornire il servizio di assistenza clienti (per esempio, i dati sulla rete Wi-Fi sono usati per individuare gli eventuali problemi di connessione segnalati dall’utente durante l’uso di Joule);
  %p
    Inviare comunicazioni all’utente relative a prodotti, servizi, lezioni, ricette, offerte, promozioni, eventi e altre notizie e informazioni di interesse per l’utente (per esempio, le informazioni sull’utilizzo di Joule sono utilizzate per offrire funzionalità
    come lo storico delle attività e i consigli sulle ricette);
  %p Monitorare e analizzare tendenze, usi e attività connessi ai Servizi;
  %p Individuare, analizzare e prevenire operazioni fraudolente e altre attività illecite, nonché tutelare i diritti, i beni e la sicurezza di ChefSteps e di altri soggetti;
  %p Personalizzare e migliorare i Servizi e inviare all’utente pubblicità, contenuti o funzioni personalizzate;
  %p Gestire concorsi, giochi a premi e promozioni registrandone le iscrizioni e inviandone i premi; e
  %p Associare o combinare le informazioni ricevute da altri soggetti al fine di comprendere le esigenze dell’utente e migliorare il servizio.
  %h4
    %a{:name => "sharing-info"}>
    Condivisione dei dati
  %p ChefSteps potrebbe condividere i dati dell’utente nelle modalità indicate di seguito o come altrimenti descritto nella presente Policy sulla Privacy:
  %p Con venditori, consulenti e altri fornitori terzi che necessitino di accedere a tali dati per svolgere le attività per conto di ChefSteps;
  %p Quando l’utente acquista i prodotti di terzi tramite ChefSteps, ChefSteps potrebbe condividere i relativi dati con i fornitori di tali prodotti al fine di evadere l’ordine dell’utente;
  %p
    Se l’utente connette dispositivi e servizi di terzi all’account ChefSteps o ai Servizi, ad esempio in caso di interazione tra Joule o l’app per dispositivi mobili ChefSteps con Amazon Alexa, i dati possono essere condivisi con tali soggetti terzi, in
    base alle impostazioni e consensi dell’utente;
  %p Quando l’utente si registra e utilizza le aree interattive dei Servizi, alcuni dati potrebbero essere visibili pubblicamente, come il nome, la foto, le ricette e qualsiasi altra informazione che l’utente decida di fornire;
  %p In risposta a una richiesta di informazioni, qualora ChefSteps ritenga che la divulgazione sia conforme o obbligatoria ai sensi dalle leggi, dei regolamenti o di procedure legali applicabili;
  %p Qualora ChefSteps ritenga che le azioni dell’utente non sono conformi a quanto stabilito nei contratti con l’utente o nelle policy di ChefSteps, o al fine di tutelare i diritti, i beni e la sicurezza di ChefSteps o di altri soggetti;
  %p In caso di negoziazioni aventi a oggetto eventuali fusioni, vendite di attivi della società, finanziamenti o acquisizioni in tutto o in parte di rami d’azienda da parte di un’altra società; e
  %p Con il consenso o dietro indicazione dell’utente.
  %p ChefSteps potrebbe inoltre condividere informazioni in forma aggregata o anonima con soggetti terzi.
  %h4 Caratteristiche di condivisione sui social media
  %p
    I Servizi possono offrire funzioni di condivisione attraverso social media e altri strumenti integrati (come il pulsante “Mi piace” di Facebook). L’uso di tali funzioni da parte dell’utente consente la condivisione di informazioni con gli amici o il pubblico,
    sulla base delle impostazioni stabilite con il soggetto che fornisce la funzione di condivisione sui social. Per maggiori informazioni circa la finalità e lo scopo della raccolta e trattamento dei dati in relazione alle funzioni di condivisione sui
    social, visitare le politiche sulla privacy dei soggetti che forniscono tali funzioni.
  %h4
    Pubblicità e servizi di analisi forniti da
    = succeed "terzi" do
      %a#_cp_text_1_86
  %p
    ChefSteps potrebbe consentire a soggetti terzi di fornire per proprio conto pubblicità su Internet e servizi di analisi. Tali soggetti potrebbero usare cookie, web beacon e altre tecnologie per raccogliere informazioni sull’uso dei Servizi e di altri
    siti web da parte dell’utente, compreso l’indirizzo IP, il browser, le pagine visitate, il tempo trascorso sulle varie pagine, i link cliccati e le informazioni di conversione. Queste informazioni possono essere usate da ChefSteps e da soggetti terzi,
    tra le altre cose, per analizzare e tracciare i dati, determinare il gradimento di determinati contenuti, proporre sui Servizi e su altri siti web pubblicità e contenuti basati sugli interessi, in modo da comprendere meglio l’attività online dell’utente.
    Per maggiori informazioni sugli annunci basati sugli interessi o per impedire che i dati di navigazione vengano utilizzati per finalità di pubblicità comportamentale, visitare il sito
    %a{:href => "http://www.aboutads.info/choices", :target => "_blank"} www.aboutads.info/choices.
  %p
    ChefSteps potrebbe inoltre collaborare con piattaforme social di soggetti terzi, come Facebook, per inviare all’utente annunci nell’ambito di campagne personalizzate, salvo qualora l’utente decida di negare tale utilizzo compilando il modulo online qui
    disponibile.
  %h4 Sicurezza
  %p ChefSteps adotta misure adeguate per proteggere i dati dell’utente prevenendone la perdita, il furto, l’abuso e l’accesso, la divulgazione, l’alterazione e la distruzione non autorizzate.
  %h4 Trasferimento dei dati verso Paesi terzi; Privacy Shield
  %p
    Tramite l’accesso o l’utilizzo dei Servizi o l’invio in altra maniera di dati, l’utente presta il proprio consenso al trattamento e al trasferimento dei dati all’interno e verso gli Stati Uniti e altri Paesi terzi dove i diritti in materia di protezione
    dei dati personali potrebbero differire rispetto al diritto locale. In tal caso, ChefSteps adotterà misure adeguate alla protezione dei dati dell’utente in conformità con la presente Policy sulla Privacy.
  %p
    ChefSteps si attiene ai framework Privacy Shield tra Unione europea e Stati Uniti e tra Svizzera e Stati Uniti (collettivamente il “Privacy Shield”) con riferimento ai dati personali raccolti nell’Unione europea e in Svizzera e trasferiti negli Stati
    Uniti. Per maggiori informazioni sul Privacy Shield e per consultare la certificazione ChefSteps, visitare il sito web del Privacy Shield
    / [insert link to ChefSteps’ certification when available]
    \. Ai sensi del Privacy Shield, ChefSteps è responsabile
    per qualsiasi dato personale condiviso con soggetti terzi incaricati del trattamento dei dati per conto di ChefSteps, come descritto nella sezione “Condivisione dei dati” di cui sopra, salvo ove si dimostri l’estraneità all’evento che ha provocato il
    danno. Per qualsiasi domanda inerente l’adesione di ChefSteps al Privacy Shield, scrivere all’indirizzo
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  %h3 Preferenze utente
  %h4 Informazioni account
  %p
    ChefSteps conserva i dati personali raccolti per il tempo necessario agli scopi per i quali i dati sono stati originariamente raccolti, salvo ove sia necessario un periodo di conservazione più lungo o ciò sia permesso dal diritto applicabile. L’utente
    ha il diritto (senza costi) di accedere ai propri dati personali o di aggiornare, rettificare o cancellare i dati personali in qualsiasi momento accedendo all’account ChefSteps. in alternativa, sarà possibile contattare ChefSteps all’indirizzo
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    per chiedere informazioni sui dati personali conservati o aggiornare, rettificate e cancellare i dati. In tale ipotesi, ChefSteps si riserva di richiedere all’utente informazioni aggiuntive per confermare la propria identità. Qualora l’utente desideri
    disattivare il proprio account, è possibile contattare l’indirizzo
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  %h4 Joule
  %p È possibile disconnettere Joule dall’account ChefSteps a cui è associato accedendo alle impostazioni su telefono cellulare o tablet.
  %h4 Informazioni sulla posizione
  %p
    Al primo accesso ad alcune delle app per dispositivi mobili o ad alcune delle loro funzionalità, o durante la navigazione sulle pagine web ChefSteps che raccolgono informazioni sulla posizione, verrà chiesto all’utente di prestare il proprio consenso
    alla raccolta delle informazioni sulla propria posizione. Anche a seguito del consenso, l’utente potrà interrompere tale raccolta modificando le impostazioni sul proprio telefono cellulare, tablet o browser Internet. Facendo ciò, alcune caratteristiche
    dei Servizi non funzioneranno più, come le offerte per ingredienti o prodotti da parte di fornitori localizzati vicino all’utente. L’utente potrà interrompere la raccolta di informazioni sulla posizione sulle app per dispositivi mobili seguendo la normale
    procedura di disintallazione e rimuovendo le app ChefSteps dal proprio telefono cellulare o tablet.
  %h4 Comunicazioni promozionali di ChefSteps
  %p
    L’utente potrà decidere in qualsiasi momento di non ricevere comunicazioni promozionali da parte di ChefSteps seguendo le istruzioni presenti in tali comunicazioni. Anche se l’utente decide di non ricevere più comunicazioni promozionali, ChefSteps potrà
    continuare a inviare comunicazioni non-promozionali, come quelle relative all’account utente o alle relazioni commerciali in corso con ChefSteps.
  %h4 Notifiche push/avvisi su dispositivi mobili
  %p
    Previo consenso dell’utente, ChefSteps potrà inviare al dispositivo mobile dell’utente notifiche push o avvisi promozionali e non-promozionali. L’utente può scegliere di interrompere la ricezione di tali messaggi in qualsiasi momento modificando le impostazioni
    di notifica sul proprio dispositivo mobile.
  %h4 Comunicazione aggiuntiva sulla privacy per i residenti nell’UE e in Messico
  %p
    In relazione agli utenti residenti nell’Unione Europea o in Messico, ChefSteps agisce in qualità di “titolare del trattamento” e procede al trattamento di tali dati previo consenso dell’utente e/o nella misura necessaria per svolgere le proprie attività
    d’impresa, fornire i Servizi, adempiere ai propri obblighi contrattuali e legali o soddisfare in altro modo gli interessi legittimi descritti nelle sezioni
    %a{:href => "“#use-of-information\""} “Utilizzo dei dati”
    e
    %a{:href => "“#sharing-info“"} “Condivisione dei dati”
    di cui sopra. Se il
    trattamento dei dati personali è basato sul consenso dell’utente, l’utente ha il diritto di revocare il proprio consenso al trattamento in ogni momento, inviando la propria richiesta all’indirizzo
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    per esercitare il proprio diritto a esaminare, correggere, cancellare, restringere il trattamento e trasferire i propri dati personali. Nel caso in cui l’utente decida di esercitare il diritto di cancellazione dei dati o opposizione al trattamento,
    l’utente è consapevole che, a seguito di tale richiesta, ChefSteps potrebbe non essere in grado di garantire la fornitura dei Servizi. In caso di disaccordo con le modalità di utilizzo dei dati personali o con le decisioni adottate da ChefSteps in risposta
    alla richiesta di esercizio dei diritti inerenti la privacy dei dati personali, l’utente potrà presentare una formale denuncia presso l’autorità garante per la protezione dei dati locale.
  %h4 Contatti
  %p In caso domande o commenti sulla presente Policy sulla Privacy, è possibile inviare un’email all’indirizzo info@chefsteps.com o scrivere a:
  %p ChefSteps, Inc.
  %p Data Privacy Department
  %p 1501 Pike Place, Suite 300
  %p Seattle, WA 98101
  %p U.S.A.
