#privacy
  %h4 CHEFSTEPS’ PERSONVERNERKLÆRING
  %p Sist oppdatert: 13/10/2017
  %p
    Denne personvernerklæringen forklarer hvordan opplysninger om deg samles inn, brukes og videreformidles av ChefSteps, Inc. og våre datterselskaper og andre tilknyttede selskaper («ChefSteps», «vi», «oss») når du går inn på eller bruker nettsiden vår,
    våre mobilapplikasjoner og andre av våre produkter og tjenester (samlet kalt "tjenestene") eller når du kommuniserer med oss på annen måte.
  %p
    Vi kan komme til å endre denne personvernerklæringen fra tid til annen. Hvis vi gjør endringer, vil vi varsle deg ved å endre datoen øverst på erklæringen, og vi vil i noen tilfeller gi deg ytterligere varsel, f.eks. ved at vi legger ut en meddelelse
    på hjemmesiden vår eller ved at vi sender deg et varsel gjennom våre tjenester. Vi oppfordrer deg til å lese igjennom personvernerklæringen når du går inn på våre tjenester eller interagerer med oss på annen måte, slik at du holder deg oppdatert på
    vår informasjonspraksis og på hvordan du kan beskytte dine personopplysninger.
  %h3 Innsamling av opplysninger
  %h4 Opplysninger du gis oss
  %p
    Vi samler inn opplysninger du gir oss direkte. For eksempel samler vi inn opplysninger når du oppretter en konto, foretar et kjøp, melder deg på våre kurs, deltar i de interaktive områdene av tjenestene våre, kommuniserer med oss via sosiale nettsteder
    tilhørende tredjeparter, deltar i våre konkurranser, markedsføring, lotterier og undersøkelser, ber om kundestøtte eller kommuniserer med oss på annen måte. Opplysningene vi samler inn kan være navnet ditt, e-postadressen din, telefonnummeret ditt,
    fakturaadressen, forsendelsesadressen, opplysninger du lagrer på våre tjenester, fotografier, brukernavn på sosiale medier og alle andre opplysninger du velger å gi oss.
  %h4 Opplysninger vi samler inn automatisk
  %p Når du går inn på eller bruker våre tjenester samler vi automatisk inn opplysninger om deg, og vi kan knytte disse til opplysninger du gir oss direkte. For eksempel kan vi samle inn:
  %p
    %strong Transaksjonsopplysninger:
    Når du foretar et kjøp eller en retur, samler vi inn opplysninger om transaksjonen, for eksempel opplysninger om kurset eller produktet, transaksjonsbeløpet og datoen for kjøpet/returen. Merk at vi ikke samler
    inn eller lagrer betalingskortopplysninger, for eksempel kredittkortnumre. Hvis du vil vite mer om hvordan disse opplysningene blir samlet inn, behandlet og lagret, kan du lese
    %a{:href => "https://stripe.com/us/privacy/"} personvernerklæringen og vilkårene
    til vår betalingsbehandler.
  %p
    %strong Opplysninger fra nettstedlogg:
    Vi registrerer opplysninger om din bruk av vårt nettsted, for eksempel operativsystemet på datamaskinen din, typen nettleser du bruker, tilgangstider, viste sider, din IP-adresse og nettsiden som sendte
    deg videre til vårt nettsted.
  %p
    %strong Opplysninger samlet inn i forbindelse med Joule:
    Når du parer din Joule med våre tjenester for første gang oppretter Joule automatisk en kobling til din ChefSteps-konto. Se «Dine valg» nedenfor for informasjon om hvordan du opphever koblingen
    mellom Joule og din ChefSteps-konto. Når du kobler Joule til et Wi-Fi-nettverk, samler vi inn opplysninger om nettverket (for eksempel navn og signalstyrke). Vi samler inn opplysninger om din bruk av Joule, herunder hva du lager, og hvordan du gjør
    det, og om dine matlagings- og oppskriftspreferanser. Vi samler inn diagnosedata fra Joules sensorer og komponenter, for eksempel samlet antall motoromdreininger, lufttrykk og badtemperatur. Enkelte tekniske opplysninger og opplysninger om bruken blir
    også lagret på Joule. Se «Bruk av opplysninger» nedenfor for informasjon om hvordan vi bruker dataene.
  %p
    %strong Mobiltelefonopplysninger og nettbrettopplysninger:
    Når du går inn på eller bruker våre mobiltelefonsider eller applikasjoner for mobiltelefoner og nettbrett, kan vi samle inn opplysninger om mobiltelefonen og nettbrettet, herunder maskinvaremodell,
    operativsystem og versjon, enhetsidentifikatorer, opplysninger om mobilnettverket og opplysninger om din bruk av våre mobilapplikasjoner. Hvis Joule kobles til våre tjenester via Wi-Fi, slik at du kan styre Joule fra flere mobiltelefoner eller nettbrett
    som er innlogget på din ChefSteps-konto, vil vi samle inn opplysninger om alle mobiltelefoner og nettbrett du bruker til å styre Joule med.
  %p
    %strong Stedsopplysninger:
    Vi kan samle inn opplysninger om hvor du befinner deg når du går inn på eller bruker en av våre mobilapplikasjoner eller på annen måte samtykker til innsamling av slike opplysninger. Hvis du vil vite mer om innsamlingen
    av stedsopplysninger og valgene du har, kan du lese «Dine valg» nedenfor.
  %p
    %strong Opplysninger samlet inn gjennom informasjonskapsler og andre sporingsteknologier:
    Vi og våre tjenesteleverandører bruker ulike teknologier, herunder informasjonskapsler og web-beacons, til å samle inn opplysninger om deg når du bruker
    tjenestene våre eller sender oss e-post, inkludert opplysninger om din surfe- og kjøpsatferd. Informasjonskapsler er små datafiler som er lagret på harddisken din eller i enhetsminnet, og som hjelper oss med å forbedre nettstedet vårt og din opplevelse,
    finne ut hvilke områder og funksjoner på nettstedet som er populære og telle besøk. Web-beacons er elektroniske bilder som vi vil kunne bruke på vårt nettsted og i våre e-poster til å levere informasjonskapsler, telle besøk og forstå bruk og kampanjers
    effektivitet. Hvis du vil vite mer om informasjonskapsler og hvordan de kan deaktiveres, kan du lese vår
    %a{:href => "https://www.chefsteps.com/cookie-policy"} policy for informasjonskapsler
    og besøke
    %a{:href => "http://www.aboutcookies.org"} www.aboutcookies.org
    eller
    = succeed "." do
      %a{:href => "http://www.allaboutcookies.org"} www.allaboutcookies.org
  %h4 Opplysninger vi samler inn fra andre kilder
  %p
    Vi kan også motta opplysninger om deg fra andre kilder og koble disse sammen med opplysninger vi samler inn om deg. Hvis du oppretter eller logger deg inn på din ChefSteps-konto gjennom et sosialt nettsted, eller hvis du knytter din sosiale medier-konto
    til din ChefSteps-konto, får vi for eksempel tilgang til visse opplysninger fra det aktuelle nettstedet, som navnet ditt, kontoopplysninger og vennelister i samsvar med autorisasjonsprosedyrene for det aktuelle sosiale nettstedet.
  %h4
    %a{:name => "use-of-information"}>
    Bruk av opplysninger
  %p Vi kan bruke opplysninger om deg til ulike formål knyttet til tjenestene vi leverer til deg, herunder til
  %p å levere, vedlikeholde og forbedre våre tjenester (for eksempel bruker vi diagnosedata fra Joule som hjelp til å forstå hvordan Joule brukes, og til å kontrollere at komponenter fungerer slik de skal)
  %p å levere de produktene og tjenestene du ber om, behandle transaksjoner og sende deg relevant informasjon, herunder bekreftelser og kvitteringer
  %p å sende deg tekniske varsler, oppdateringer, sikkerhetsvarsler og kundestøttemeldinger og administrative meldinger
  %p å svare på dine kommentarer, spørsmål og anmodninger og yte kundeservice (for eksempel brukes opplysninger om ditt Wi-Fi-nettverk til å feilsøke ved tilkoblingsproblemer du rapporterer om når du bruker Joule)
  %p
    å kommunisere med deg om produkter, tjenester, kurs, kvitteringer, tilbud, markedsføring, arrangementer og andre nyheter og informasjon vi tror vil være av interesse for deg (for eksempel brukes opplysninger om din bruk av Joule til å tilby deg funksjoner
    som matlagingshistorikk og oppskriftsanbefalinger)
  %p å overvåke og analysere trender, bruk og aktiviteter i forbindelse med våre tjenester
  %p å avdekke, undersøke og forebygge falske transaksjoner og annen ulovlig virksomhet og beskytte ChefSteps’ og andres rettigheter, eiendom og sikkerhet
  %p å tilpasse og forbedre våre tjenester og tilby deg skreddersydd reklame, skreddersydd innhold og skreddersydde funksjoner
  %p å legge til rette for konkurranser, lotterier, markedsføring og behandle påmeldinger og levere premier
  %p sammenholdt med opplysninger vi får fra andre, å forstå dine behov og gi deg bedre service
  %h4
    %a{:name => "sharing-info"}>
    Deling av opplysninger
  %p Vi kan dele opplysninger om deg som følger eller slik det ellers framgår av denne personvernerklæringen:
  %p Med eksterne leverandører, konsulenter og andre tjenesteleverandører som trenger tilgang til slike opplysninger for at de skal kunne utføre arbeid på vegne av oss.
  %p Når du kjøper produkter fra tredjeparter gjennom oss, kan vi dele opplysninger med leverandørene av disse produktene for å gjennomføre din bestilling.
  %p
    Hvis du kobler enheter og tjenester fra tredjeparter til din ChefSteps-konto eller våre tjenester, for eksempel ved at du velger å bruke Joule eller vår mobilapplikasjon sammen med Amazon Alexa, kan dine opplysninger bli delt med disse tredjepartene i
    henhold til dine instrukser og ditt samtykke.
  %p Når du melder deg på og deltar i de interaktive områdene av tjenestene våre, kan visse opplysninger om deg bli vist til andre, som navnet ditt, bilder, oppskrifter og andre opplysninger du velger å gi.
  %p Som svar på en anmodning om opplysninger, hvis vi mener at videreformidling er i samsvar med eller påkrevd etter lovgivningen eller en rettslig avgjørelse.
  %p Hvis vi mener at dine handlinger er uforenlige med våre brukeravtaler eller policyer, eller for å beskytte ChefSteps’ og andres rettigheter, eiendom og sikkerhet.
  %p I forbindelse med eller under forhandlinger om, fusjoner, salg av selskapsaktiva, finansiering eller oppkjøp fra et annet selskaps side av hele eller en del av vår virksomhet.
  %p Med ditt samtykke eller etter din instruks.
  %p Vi kan også dele aggregerte eller anonymiserte opplysninger med tredjeparter.
  %h4 Funksjoner for sosial deling
  %p
    Våre tjenester kan tilby funksjoner for sosial deling og andre integrerte verktøy (som Facebooks «liker»-knapp). Ved å bruke disse funksjonene kan du dele opplysninger med dine venner eller med allmennheten, avhengig av hvilke innstillinger du angir overfor
    foretaket som leverer funksjonen for sosial deling. Hvis du vil vite mer om formålet med og omfanget av innsamlingen og behandlingen av data i forbindelse med funksjoner for sosial deling, kan du gå til personvernerklæringene til foretakene som leverer
    disse funksjonene.
  %h4
    Reklame- og analysetjenester levert av andre
    %a#_cp_text_1_86
  %p
    Vi kan la andre levere annonser på vegne av oss på Internett og levere analysetjenester. Disse foretakene kan bruke informasjonskapsler, web-beacons og andre teknologier til å samle inn opplysninger om din bruk av tjenestene og andre nettsteder, herunder
    din IP-adresse, nettleser, viste sider, tid brukt på sider, hvilke koblinger du klikker på, og opplysninger om konverteringsrater. Disse opplysningene kan brukes av ChefSteps og andre for å, blant annet, analysere og spore data, fastslå populariteten
    til et visst innhold, levere annonser og innhold rettet mot dine interesser på våre tjenester og andre nettsteder, og få en bedre forståelse av din nettaktivitet. Hvis du vil vite mer om interessebaserte annonser og om hvordan du kan velge at opplysninger
    om din nettsurfing ikke skal brukes i forbindelse med atferdsrettet reklame, kan du gå inn på
    %a{:href => "http://www.aboutads.info/choices", :target => "_blank"} www.aboutads.info/choices.
  %p
    Vi kan også samarbeide med eksterne sosiale plattformer, som Facebook, om å gi deg annonser som del av en tilpasset kampanje, med mindre du varsler oss om at du foretrekker at opplysninger om deg ikke brukes på denne måten, ved å fylle ut det elektroniske
    skjemaet, som du finner
    %a{:href => "https://www.chefsteps.com/facebook_optout"} her.
  %h4 Sikkerhet
  %p ChefSteps iverksetter rimelige tiltak for å beskytte personopplysninger mot tap, tyveri, misbruk og uautorisert tilgang, videreformidling, endring og ødeleggelse.
  %h4 Overføring av opplysninger over landegrenser; Privacy Shield
  %p
    Ved å gå inn på eller bruke våre tjenester eller på annen måte gi oss opplysninger samtykker du til behandling og overføring av opplysninger i og til USA og andre land, der du kanskje ikke har de samme rettighetene som du har etter lovgivningen i ditt
    land. Når dette er tilfellet, vil vi iverksette hensiktsmessige tiltak for å beskytte personopplysningene dine i samsvar med denne personvernerklæringen.
  %p
    Vi følger rammeverkene EU-US Privacy Shield og Swiss-US Privacy Shield (samlet kalt «Privacy Shield») i forbindelse med personopplysninger vi samler inn fra EU og Sveits og overfører til USA. Hvis du vil vite mer om Privacy Shield eller se vår sertifisering,
    kan du gå inn på nettstedet til Privacy Shield
    / [insert link to ChefSteps’ certification when available]
    \. Vi forblir ansvarlige etter Privacy Shield for alle personopplysninger vi deler med tredjeparter for ekstern behandling på våre vegne, som beskrevet
    i punktet «Deling av opplysninger» over, med mindre vi dokumenterer at vi ikke er ansvarlige for hendelsen som ga opphav til skaden. Hvis du har spørsmål om vår overholdelse av Privacy Shield, oppfordrer vi deg til å kontakte oss på
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    = succeed "," do
      %a{:href => "https://www.jamsadr.com"} JAMS
    %a{:href => "https://www.privacyshield.gov/servlet/servlet.FileDownload?file=015t00000004qAg"} Annex I til Privacy Shield Principles
    for nærmere opplysninger).
  %h3 Dine valg
  %h4 Kontoopplysninger
  %p
    Vi lagrer opplysningene vi samler inn om deg, så lenge det er nødvendig for formålet (-ene) de opprinnelig ble samlet inn for, med mindre en lengre oppbevaringstid er påkrevd eller tillatt etter gjeldende rett. Du har rett til (kostnadsfritt) å få innsyn
    i opplysningene vi har om deg, og å oppdatere, rette og slette dine personopplysninger når som helst ved å logge deg inn på din ChefSteps-konto. Alternativt kan du kontakte oss på
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    og be om opplysninger
    vi har om deg, eller be om at vi oppdaterer, retter eller sletter opplysninger vi har om deg; merk at vi kan kreve at du oppgir ytterligere opplysninger for å bekrefte din identitet. Hvis du ønsker å deaktivere kontoen din, kan du kontakte oss på
    = succeed "," do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  %h4 Joule
  %p Når din Joule er paret med din Chefsteps-konto, kan du oppheve koblingen ved å koble enheten fra via innstillingene på mobiltelefonen eller nettbrettet.
  %h4 Stedsopplysninger
  %p
    Når du starter noen av våre mobilapplikasjoner for første gang, går inn på visse funksjoner i mobilapplikasjonene for første gang eller besøker en av sidene på vårt nettsted som samler inn stedsopplysninger, blir du bedt om å samtykke til at det samles
    inn stedsopplysninger. Hvis du har samtykket til slik innsamling, kan du senere stoppe innsamlingen ved å endre innstillingene på mobiltelefonen, nettbrettet eller nettleseren. Hvis du gjør det vil noen av funksjonene til tjenestene våre ikke lenger
    fungere, for eksempel tilbud på ingredienser eller produkter fra leverandører som befinner seg i nærheten av deg. Du kan også stanse vår innsamling av stedsopplysninger gjennom våre mobilapplikasjoner ved å følge standard avinstallasjonsprosess og fjerne
    ChefSteps-applikasjonen(e) fra mobiltelefonen eller nettbrettet.
  %h4 Markedsføring fra ChefSteps
  %p
    Du kan når som helst velge å ikke motta markedsføring fra oss ved å følge instruksjonene i markedsføringshenvendelsene. Selv om du velger bort markedsføring fra oss, kan vi fortsette å sende deg ikke-salgsfremmende henvendelser, for eksempel meddelelser
    om din konto og om vårt løpende forretningsforhold.
  %h4 Mobile pushvarsler
  %p Hvis du har samtykket til det kan vi sende deg salgsfremmende og ikke-salgsfremmende pushvarsler på din mobilenhet. Du kan velge å slutte å motta disse meldingene når som helst ved å endre varslingsinnstillingene på din mobilenhet.
  %h4 Ytterligere personvernerklæring for personer bosatt i EU og Mexico
  %p
    Hvis du bor i EU eller Mexico, har ChefSteps rollen som «behandlingsansvarlig» for dine personopplysninger, og vi behandler opplysningene med ditt samtykke og/eller i den grad det er nødvendig for at vi skal kunne drive vår virksomhet, levere våre tjenester
    til deg, oppfylle våre kontraktsmessige og lovfestede forpliktelser eller på annen måte fremme de legitime interessene som beskrives i punktene
    %a{:href => "“#use-of-information\""} Bruk av opplysninger
    og
    %a{:href => "“#sharing-info“"} Deling av opplysninger
    over. Hvis behandlingen av
    personopplysninger er basert på ditt samtykke, har du rett til å trekke tilbake ditt samtykke til framtidig behandling når som helst ved å kontakte oss på
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    for å utøve din rett til å få innsyn i, rette, slette, begrense
    behandlingen av, og overføre dine personopplysninger. Hvis du bestemmer deg for å utøve din rett til å slette opplysninger eller motsette deg behandling av dine personopplysninger, er du klar over at ChefSteps, som følge av din anmodning, kanskje ikke
    lenger vil være i stand til å la deg bruke tjenestene som før. Hvis du ikke er enig i måten vi bruker dine personopplysninger eller uenig med en avgjørelse vi treffer som svar på din henvendelse om utøvelse av dine personvernrettigheter, kan du sende
    inn en formell klage til din nasjonale personvernmyndighet.
  %h4 Kontakt oss
  %p Hvis du har spørsmål eller kommentarer vedrørende denne personvernerklæringen, kan du kontakte oss på info@chefsteps.com eller per brev til:
  %p
    ChefSteps, Inc.
    %br>/
    Data Privacy Department
    %br>/
    1501 Pike Place, Suite 300
    %br>/
    Seattle, WA 98101
    %br>/
    U.S.A.
