#privacy
  %h4 AVISO DE PRIVACIDAD DE CHEFSTEPS
  %p Última Actualización: 13/10/2017
  %p
    Este Aviso de Privacidad explica cómo se recaba, utiliza y divulga datos personales de usted, por ChefSteps, Inc. y nuestras subsidiarias y otras compañías afiliadas (“ChefSteps,” “nosotros”, “nuestro”), cuando usted accede o utiliza nuestro sitio web,
    aplicaciones móviles u otros productos y servicios (conjuntamente, los “Servicios”), o cuando interactúa de otra forma con nosotros.
  %p
    Es probable que cambiemos este Aviso de Privacidad de vez en cuando. En caso de que realicemos cambios, le notificaremos al modificar la fecha en la parte superior del aviso y, en algunos casos, le proporcionaremos una notificación adicional, tal como
    al agregar una declaración a nuestra página de inicio o al enviarle una notificación a través de nuestros Servicios. Le recomendamos revise el Aviso de Privacidad cada vez que acceda a nuestros Servicios o interactúe de otra forma con nosotros, para
    permanecer informado sobre nuestras prácticas de información y las maneras en las que puede ayudar a proteger su privacidad.
  %h3 Recopilación de Datos Personales
  %h4 Información que Usted nos Proporciona
  %p
    Recabamos datos personales que usted nos proporciona directamente. Por ejemplo, recabamos datos personales cuando usted crea una cuenta, realiza una compra, se inscribe a nuestras clases, participa en las áreas interactivas de nuestros Servicios, se comunica
    con nosotros a través de sitios de redes sociales de terceros, participa en nuestros concursos, promociones, sorteos y encuestas, solicita atención al cliente, o de otra forma, se comunica con nosotros. Los datos personales que podemos recabar incluyen
    su nombre, dirección de correo electrónico, número telefónico, dirección de facturación, dirección de envío, información que usted almacena en nuestros Servicios, fotografías, nombres de usuarios de redes sociales y cualquier otra información que elija
    proporcionar.
  %h4 Información que Recabamos Automáticamente
  %p Cuando usted accede a o utiliza nuestros Servicios, automáticamente recabamos información sobre usted y podemos asociarla con información que usted nos proporcionó directamente. Por ejemplo, podemos recabar:
  %p
    %strong> Información de Transacciones
    \: Cuando usted realiza una compra o una devolución, recabamos información sobre la transacción, tal como la clase o detalles del producto, el monto de la transacción y la fecha de la compra/devolución. Tenga
    en cuenta que no recabamos o almacenamos información de tarjeta de pago, tal como números de tarjetas de crédito. Para mayor información sobre cómo se recaba, trata y almacena la información, por favor refiérase a la política de
    %a{:href => "https://stripe.com/us/privacy/"} privacidad y términos
    del procesador de pagos.
  %p
    %strong> Información de Registro del Sitio Web
    \: Registramos información sobre el uso de nuestro sitio web, tal como el sistema operativo de su computadora, el tipo de navegador que utiliza, las horas de acceso, páginas vistas, su dirección IP
    y la página web que le envió a nuestro sitio.
  %p
    %strong> Información Recabada Junto con Joule
    \: Cuando empareje por primera vez su Joule a nuestros Servicios, Joule lo enlazará automáticamente a su cuenta de ChefSteps. Para información sobre la desvinculación de su Joule de su cuenta de ChefSteps,
    por favor vea “Sus Opciones” a continuación. Cuando conecta el Joule a una red Wi-Fi, recabamos información sobre la red (tal como el nombre e intensidad de conexión). Recabamos información sobre el uso del Joule, incluyendo qué y cómo cocina, así como
    sus preferencias de cocina y recetas. Recabamos datos de diagnóstico de los sensores y componentes del Joule, tales como revoluciones totales del motor, presión atmosférica y temperatura de baño. Cierta información técnica y de uso también se guarda
    en el Joule. Por favor vea “Uso de Información” a continuación para entender cómo utilizamos los datos.
  %p
    %strong> Información de Teléfono Móvil y Tableta
    \: Cuando acceda o utilice nuestros sitios o aplicaciones móviles, podremos recabar información sobre el teléfono móvil o tableta, incluyendo el modelo de hardware, sistema operativo y versión, identificadores
    del dispositivo, información de la red móvil e información sobre el uso de nuestras aplicaciones móviles. Además, si el Joule se conecta a nuestros Servicios mediante Wi-Fi, de modo que pueda controlar el Joule desde múltiples teléfonos móviles o tabletas
    en los que haya iniciado sesión con su cuenta de ChefSteps, recabaremos información sobre todos los teléfonos móviles y tabletas que utilice para controlar el Joule.
  %p
    %strong> Información de Ubicación
    \: Podemos recabar información sobre su ubicación cuando acceda o utilice una de nuestras aplicaciones móviles, o consienta de otra forma, la recopilación de esta información. Para más detalles sobre la recopilación
    de información de ubicación y las opciones que tiene, por favor vea “Sus Opciones” a continuación.
  %p
    %strong> Información Recabada por Cookies y Otras Tecnologías de Rastreo
    \: Nosotros y nuestros proveedores de servicios utilizamos diversas tecnologías, incluyendo cookies y balizas web, para recabar información o datos personales sobre usted cuando
    interactúa con nuestros Servicios o correos electrónicos, incluyendo información sobre su navegador y comportamiento de compras. Las cookies son archivos de datos pequeños almacenados en el disco duro o en la memoria de su dispositivo, que nos ayudan
    a mejorar nuestro sitio web y su experiencia, ver cuáles áreas o características de nuestro sitio web son populares y contar las visitas. Las balizas web son imágenes electrónicas que pueden utilizarse en nuestro sitio web o en nuestros correos electrónicos
    y que ayudan a suministrar cookies, contar visitas y entender el uso y eficiencia de la campaña. Para mayor información sobre las cookies, y cómo deshabilitarlas, por favor vea nuestra
    %a{:href => "https://www.chefsteps.com/cookie-policy"} Política de Cookies
    y visite
    %a{:href => "http://www.aboutcookies.org/"} www.aboutcookies.org
    o
    = succeed "." do
      %a{:href => "http://www.allaboutcookies.org/"} www.allaboutcookies.org
  %h4 Información que Recabamos de Otras Fuentes
  %p
    También podemos recibir información sobre usted de otras fuentes, y vincularla o combinarla con información que recabamos sobre usted. Por ejemplo, si usted crea o inicia sesión en su cuenta de ChefSteps a través de un sitio de red social o si asocia
    su cuenta de red social con su cuenta de ChefSteps, tendremos acceso a cierta información de ese sitio, como su nombre, información de cuenta y lista de amigos, de acuerdo con los procedimientos de autorización determinados por tal sitio de red social.
  %h4
    %a{:name => "use-of-information"}>
    Uso de los Datos Personales
  %p Podemos utilizar sus datos personales con diversos fines relacionados con los Servicios que le proporcionamos, incluyendo:
  %p Proporcionar, mantener y mejorar nuestros Servicios (por ejemplo, utilizamos datos de diagnóstico de Joule para ayudarnos a entender cómo se utiliza Joule y comprobar que los componentes cumplen con las especificaciones);
  %p Proporcionar y suministrar los productos y servicios solicitados, procesar transacciones y enviarle información relacionada, incluyendo confirmaciones y recibos;
  %p Enviarle notificaciones técnicas, actualizaciones, alertas de seguridad y mensajes de soporte y administrativos.
  %p Responder a sus comentarios, preguntas y solicitudes, y proporcionar atención al cliente (por ejemplo, la información sobre su red Wi-Fi se utiliza para solucionar cualquier problema de conexión que reporte cuando utiliza el Joule);
  %p
    Comunicarle sobre productos, servicios, clases, recetas, ofertas, promociones, eventos y otras noticias e información que pensamos sería de su interés (por ejemplo, la información sobre el uso de su Joule se utiliza para ofrecerle características tales
    como historial de cocina y recomendaciones de recetas);
  %p Monitorear y analizar tendencias, el uso y actividades relacionadas con nuestros Servicios;
  %p Detectar, investigar y evitar transacciones fraudulentas y otras actividades ilegales, y proteger los derechos, propiedad y seguridad de ChefSteps y otros;
  %p Personalizar y mejorar nuestros Servicios y proporcionarle publicidad, contenido o características personalizados;
  %p Favorecer concursos, sorteos y promociones, y procesar y entregar entradas y premios; y
  %p Vincular o combinar con información que conseguimos de otros para ayudar a entender sus necesidades y proporcionarle un mejor servicio.
  %h4
    %a{:name => "sharing-info"}>
    Intercambio de Datos Personales
  %p Es probable que compartamos datos personales sobre usted de la siguiente manera, o como se describe, de otra forma, en este Aviso de Privacidad.
  %p Con terceros vendedores, consultores y otros proveedores de servicios que necesitan acceso a tal información para llevar a cabo trabajo en nuestro nombre;
  %p Cuando compra productos de terceros a través de nosotros, podemos compartir información con los proveedores de tales productos para que se complete su pedido;
  %p
    Si conecta dispositivos y servicios de terceros a su cuenta ChefSteps o a nuestros Servicios, tal como cuando elige interconectar Joule o nuestra aplicación móvil con Amazon Alexa, su información puede compartirse con tales terceros, según sus instrucciones
    y consentimiento;
  %p Cuando inicia sesión y participa en las áreas interactivas de nuestros Servicios, cierta información sobre usted puede visualizarse públicamente, tal como su nombre, fotos, recetas y cualquier otra información que elija proporcionar;
  %p En respuesta a una solicitud de información, si creemos que la divulgación está de acuerdo o se requiere por cualquier ley, reglamento o proceso legal aplicable;
  %p Si creemos que sus acciones son inconsistentes con nuestros acuerdos o políticas de usuario, o para proteger los derechos, propiedad y seguridad de ChefSteps u otros;
  %p En relación con, o durante la negociación de, cualquier fusión, venta o bienes de la compañía, financiamiento o adquisición de todo o una porción de nuestro negocio por otra compañía; y
  %p Con su consentimiento o según sus indicaciones.
  %p También podemos compartir información disociada o anónima con terceros.
  %h4 Características de Intercambio Social
  %p
    Nuestros Servicios pueden ofrecer características de intercambio social y otras herramientas integradas (tal como el botón de “Me Gusta” de Facebook). Su uso de tales características permite el intercambio de información con sus amigos o con el público,
    dependiendo de las configuraciones que establezca con la entidad que proporcione la característica de intercambio social. Para mayor información sobre el propósito y alcance de la recopilación y tratamiento de datos, en relación con las características
    de intercambio social, por favor visite las políticas de privacidad de las entidades que proporcionan estas características.
  %h4
    Servicios de Publicidad y Servicios Analíticos Proporcionados por Otros
    %a#_cp_text_1_86
  %p
    Es posible que permitamos que otros publiquen anuncios en nuestro nombre a través de Internet y proporcionen servicios analíticos. Estas entidades pueden utilizar cookies, balizas web y otras tecnologías para recabar información sobre su uso de los Servicios
    y otros sitios web, incluyendo su dirección IP, navegador web, páginas vistas, tiempo que permaneció en las páginas, vínculos seleccionados e información de conversión. Esta información puede utilizarse por ChefSteps y otros para, entre otras cosas,
    analizar y rastrear datos, determinar la popularidad de cierto contenido, proporcionar servicios de publicidad y contenido dirigido a su interés en nuestros Servicios y otros sitios web, y entender mejor su actividad en línea. Para mayor información
    sobre la publicidad basada en intereses, o para optar por que no se utilice información de navegación web con fines de publicidad de comportamiento, por favor visite
    %a{:href => "http://www.aboutads.info/choices"} www.aboutads.info/choices.
  %p
    También podemos trabajar con plataformas sociales de terceros, tal como Facebook, para publicar publicidad como parte de una campaña personalizada, a menos que nos notifique que prefiere que la información sobre usted no se utilice de esta manera, al
    completar el formulario en línea disponible
    %a{:href => "https://www.chefsteps.com/facebook_optout"} aquí.
  %h4 Seguridad
  %p ChefSteps toma medidas razonables, para ayudar a proteger información sobre usted contra pérdida, robo, mal uso y acceso no autorizado, divulgación, alteración y destrucción.
  %h4 Transferencias Transfronterizas de Datos Personales; Escudo de Privacidad
  %p
    Al acceder o utilizar nuestros Servicios o proporcionarnos información de otra forma, consiente el tratamiento y transferencia de información a los Estados Unidos y otros países, donde pudiera no tener los mismos derechos que tiene conforme a las leyes
    locales. Cuando esto sea el caso, tomaremos las medidas apropiadas para proteger sus datos personales de conformidad con este Aviso de Privacidad.
  %p
    Cumplimos con los marcos de Escudo de Privacidad de UE-EE.UU. y Suiza-EE.UU. (conjuntamente, el “Escudo de Privacidad”) con respecto a los datos personales que recabamos de la UE y Suiza y transferimos a los Estados Unidos. Para mayor información sobre
    el Escudo de Privacidad, y para ver nuestra certificación, por favor visite el sitio web del Escudo de Privacidad
    / [insert link to ChefSteps’ certification when available]
    \. Somos responsables conforme al Escudo de Privacidad de cualquier dato personal
    que compartamos con terceros para tratamiento externo a nuestro nombre, como se describe en la sección previa "Intercambio de Datos Personales", a menos que demostremos que no somos responsables por el evento que da lugar al daño. Si tiene una pregunta
    con respecto a nuestra adherencia al Escudo de Privacidad, le invitamos a contactarnos en
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    = succeed "," do
      %a{:href => "https://www.jamsadr.com/"} JAMS
    %a{:href => "https://www.privacyshield.gov/servlet/servlet.FileDownload?file=015t00000004qAg"} Anexo I a los Principios del Escudo de Privacidad
    para más detalles).
  %h3 Sus Opciones
  %h4 Información de la Cuenta
  %p
    Almacenamos los datos personales que recabamos sobre usted, por el tiempo que sea necesario para los fines para los cuales los recabamos originalmente, a menos que se requiera o se permita un periodo de retención mayor por las leyes aplicables. Tiene
    el derecho (sin costo) a acceder a la información que tenemos sobre usted o a actualizar, rectificar o borrar sus datos personales en cualquier momento al iniciar sesión en su cuenta de ChefSteps. Alternativamente, puede contactarnos en
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    y solicitar la información que tenemos sobre usted o solicitar que actualicemos, rectifiquemos o borremos la información que tenemos sobre usted, pero tenga en cuenta que podremos requerir que proporcione información adicional para confirmar su identidad.
    Si desea desactivar su cuenta, puede contactarnos en
    = succeed "," do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  %h4 Joule
  %p Una vez que su Joule se empareje con su cuenta de Chefsteps, puede desvincularlo desconectándolo por medio de la configuración en su teléfono móvil o tableta.
  %h4 Información de Ubicación
  %p
    Cuando inicie por primera vez alguna de nuestras aplicaciones móviles, acceda por primera vez a ciertas características en las aplicaciones móviles, o visite una de las páginas en nuestro sitio web que recabe información de ubicación, se le solicitará
    consentimiento para la recopilación de información de ubicación. Si inicialmente consintió nuestra recopilación de información de ubicación, posteriormente puede detener esta recopilación al cambiar las configuraciones en su teléfono móvil, tableta
    o navegador de Internet. Si hace eso, ciertas características de nuestros Servicios ya no funcionarán, tales como las ofertas de ingredientes o productos de los proveedores ubicados cerca de usted. También puede detener nuestra recopilación de información
    de ubicación por nuestras aplicaciones móviles al seguir el proceso de desinstalación estándar y remover las aplicaciones de ChefSteps de su teléfono móvil o tableta.
  %h4 Comunicación Promocional de ChefSteps
  %p
    Puede optar por no recibir ninguna comunicación promocional en cualquier momento al seguir las instrucciones incluidas esas comunicaciones. Incluso si decide “dejar de recibir” esas comunicaciones, aún podemos enviarle comunicaciones no promocionales,
    tales como aquellas sobre su cuenta o nuestras relaciones de negocios en curso.
  %h4 Notificaciones Emergentes Móviles/Alertas
  %p
    Con su consentimiento, podemos enviar notificaciones o alertas emergentes promocionales y no promocionales a su dispositivo móvil. Puede elegir detener la recepción de estos mensajes en cualquier momento al cambiar las configuraciones de notificación
    en su dispositivo móvil.
  %h4 Aviso de Privacidad Adicional para Residentes de la UE y México
  %p
    Si usted reside en la UE o México, ChefSteps actúa como un “controlador de datos” con respecto a sus datos personales y tratamos tales datos con su consentimiento y/o según sea necesario para operar nuestro negocio, proporcionarle nuestros Servicios,
    cumplir con nuestras obligaciones contractuales y legales, o de otra forma, satisfacer los intereses legítimos descritos en las secciones previas
    %a{:href => "“#use-of-information\""} Uso de Datos Personales
    e
    = succeed "." do
      %a{:href => "“#sharing-info“"} Intercambio de Datos Personales
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    para ejercer su derecho a
    revisar, corregir, eliminar, limitar el tratamiento y transferencia, de sus datos personales. En caso de que decida ejercer su derecho a cancelar u oponerse al tratamiento de sus datos personales, usted entiende que, con fundamento en su solicitud,
    ChefSteps puede no ser capaz de mantener su uso con respecto a los Servicios. Si no está de acuerdo con cómo tratamos sus datos personales o con una decisión tomada por nosotros en respuesta a su solicitud de ejercer sus derechos de protección de datos,
    puede presentar una queja formal con su autoridad de protección de datos local.
  %h4 Contáctenos
  %p Si tiene alguna pregunta o comentario sobre este Aviso de Privacidad, por favor contáctenos en info@chefsteps.com o por escrito a:
  %p
    ChefSteps, Inc.
    %br>/
    Data Privacy Department
    %br>/
    1501 Pike Place, Suite 300
    %br>/
    Seattle, WA 98101
    %br>/
    U.S.A.
