#privacy
  %h4 CHEFSTEPS INTEGRITETSPOLICY
  %p Senast uppdaterad: 13/10/2017
  %p
    Denna Integritetspolicy redogör för hur information om dig samlas in, används och lämnas ut av ChefSteps, Inc. och våra dotterbolag och andra koncernbolag (“ChefSteps,” “vi,” “oss”) när du besöker eller använder vår hemsida, mobilapplikationer, eller
    andra produkter och tjänster (gemensamt “Tjänsterna”), eller när du på annat sätt interagerar med oss.
  %p
    Vi kan komma att ändra denna Integritetspolicy från tid till annan. Om vi gör ändringar kommer vi att meddela dig genom att ändra datumet högst upp i policyn och i vissa fall kan vi komma att meddela dig på ytterligare sätt, till exempel genom att lägga
    upp ett uttalande på vår hemsida eller genom att skicka dig en notifikation via Tjänsterna. Vi uppmanar dig att gå igenom Integritetspolicyn närhelst du använder Tjänsterna eller på annat sätt interagerar med oss för att hålla dig uppdaterad om vår
    informationshantering och vilka sätt du kan hjälpa till att skydda din integritet.
  %h3 Insamlande av information
  %h4 Information du lämnar till oss
  %p
    Vi samlar in information som du tillhandahåller direkt till oss. Vi samlar till exempel in information när du skapar ett konto, genomför ett köp, registrerar dig för våra kurser, deltar i de interaktiva delarna i Tjänsterna, kommunicerar med oss via tredje
    parts sociala medier, deltar i våra tävlingar, kampanjer, insatsspel och undersökningar, ber om support från kundservice, eller kommunicerar med oss på annat sätt. Den sortens information vi kan komma att samla in innefattar ditt namn, mejladress, telefonnummer,
    faktureringsadress, leveransadress, information du lagrar i Tjänsterna, fotografier, användarnamn för sociala medier, och vilkensomhelst annan information du väljer att tillhandahålla.
  %h4 Information vi samlar in automatiskt
  %p När du åtkommer eller använder Tjänsterna samlar vi automatiskt in information om dig och vi kan komma att koppla samman den med information som du lämnar direkt till oss. Vi kan till exempel samla in:
  %p
    %strong> Transaktionsinformation
    \: När du genomför ett köp eller retur samlar vi in information om transaktionen, såsom klassifikation eller produktdetaljer, transaktionsbeloppet och datum för köpet/returen. Notera dock att vi inte samlar in eller
    lagrar betalningskortsinformation såsom kreditkortsnummer. För mer information om hur informationen samlas in, hanteras och lagras, vänligen se vår betalningshandläggares
    = succeed "." do
      %a{:href => "https://stripe.com/us/privacy/"} Integritetspolicy och villkor
  %p
    %strong> Information från hemsideslogg
    \: Vi loggar information om ditt användande av vår hemsida, såsom din dators operativsystem, vilken sorts webbläsare du använder, åtkomsttider, sidovyer, din IP-adress och den webbsida som hänvisade dig till
    vår sida.
  %p
    %strong> Information insamlad tillsammans med Joule
    \: När du kopplar din Joule till Tjänsterna för första gången kommer Joule automatiskt länka till ditt ChefSteps-konto. För information om att koppla bort din Joule från ditt ChefSteps-konto, vänligen
    se “Dina val” nedan. När du kopplar upp Joule mot ett Wi-Fi nätverk samlar vi in information om nätverket (såsom namn och anslutningsstyrka). Vi samlar in information om din användning av Joule, inklusive vad och hur du lagar mat, såväl som dina matlagnings-
    och receptpreferenser. Vi samlar in diagnosticerande data från Joules sensorer och komponenter, såsom motorns totala varvtal, atmosfäriskt tryck, och vattentemperatur. Viss teknisk och användarinformation sparas även på Joule. Vänligen se “Användning
    av information” nedan för att förstå hur vi använder data.
  %p
    %strong> Information från mobiltelefon eller läsplatta
    \: När du åtkommer eller använder våra mobila webbplatser eller applikationer kan vi komma att samla in information om mobiltelefonen eller läsplattan, inklusive hårdvarumodellen, operativsystem
    och – version, enhetsidentifierare, information om mobila nätverk och information om ditt användande av våra mobila applikationer. Därtill, i de fall Joule är kopplad till Tjänsterna via Wi-Fi så att du kan kontrollera Joule från flera olika mobiltelefoner
    eller läsplattor som är inloggade på ditt ChefSteps-konto, kommer vi att samla in information om alla mobiltelefoner och läsplattor du använder för att kontrollera Joule.
  %p
    %strong> Platsinformation
    \: Vi kan komma att samla in information om din plats när du åtkommer eller använder en av våra mobilapplikationer eller på annat sätt godkänner inhämtandet av denna information. För mer detaljer kring inhämtandet av platsinformation
    och de möjligheter du har, vänligen se ”Dina val” nedan.
  %p
    %strong> Information inhämtad av kakor och annan spårningsteknik
    \: Vi och våra tjänsteleverantörer använder olika tekniker, inklusive cookies och webbsignaler, för att samla in information om dig när du interagerar med Tjänsterna eller mejl, inklusive
    information om din sökhistorik och dina köpvanor. Cookies är små datafiler som lagras på din hårddisk eller i enhetens minne och som hjälper oss att förbättra vår hemsida och din upplevelse, se vilka områden och funktioner på vår hemsida som är populära,
    samt räkna besökare. Webbsignaler är elektroniska bilder som kan komma att användas på vår hemsida eller i våra mejl och hjälper till att leverera kakor, räkna besökare och förstå användningen och kampanjers effektivitet. För vidare information om kakor
    och hur du inaktiverar dem, vänligen se vår
    %a{:href => "https://www.chefsteps.com/cookie-policy"} Cookie Policy
    och besök
    %a{:href => "http://www.aboutcookies.org"} www.aboutcookies.org
    eller
    = succeed "." do
      %a{:href => "http://www.allaboutcookies.org"} www.allaboutcookies.org
  %h4 Information vi samlar in från andra källor
  %p
    Vi kan också komma att motta information om dig från andra källor och länka eller kombinera det med information vi samlar in om dig. Om du till exempel skapar eller loggar in på ditt ChefSteps-konto via sociala medier eller om du kopplar ihop ditt konto
    på sociala medier med ditt ChefSteps-konto kommer vi ha tillgång till viss information därifrån, såsom ditt namn, kontoinformation och vänlista i enlighet med auktorisationsprocess sådan sida på sociala medier använder.
  %h4
    %a{:name => "use-of-information"}>
    Användning av information
  %p Vi kan komma att använda information om dig i olika syften hänförliga till Tjänsterna vi tillhandahåller dig, inklusive för att:
  %p Tillhandahålla, underhålla och förbättra Tjänsterna (exempelvis använder vi diagnostisk data från Joule för att hjälpa oss att förstå hur Joule används och kontrollera att komponenter presterar som de ska);
  %p Tillhandahålla och leverera de produkter och tjänster du begär, hantera transaktioner och översända relaterad information, inklusive bekräftelser och kvitton;
  %p Skicka tekniska meddelanden, uppdateringar, säkerhetsvarningar, support och administrativa meddelanden;
  %p Svara på dina kommentarer, frågor och önskemål, samt tillhandahålla kundtjänst (t.ex. information om hur ditt Wi-Fi nätverk används för att felsöka anslutningsproblem du anmäler när du använder Joule);
  %p
    Kommunicera med dig om produkter, tjänster, kurser, recept, erbjudanden, kampanjer, event och andra nyheter och information vi tror kan vara av intresse för dig (till exempel information om din användning av Joule används för att erbjuda dig funktioner
    som matlagningshistorik och receptrekommendationer);
  %p Övervaka och analysera trender, användning och aktiviteter i samband med Tjänsterna;
  %p Upptäcka, undersöka och förhindra olagliga transaktioner och andra olagliga aktiviteter, och bevaka ChefSteps och andras rättigheter, egendom och säkerhet;
  %p Skräddarsy och förbättra Tjänsterna och tillhandahålla annonser, innehåll eller funktioner anpassade till dig personligen;
  %p Underlätta tävlingar, insatsspel och kampanjer, samt hantera och leverera deltagarbidrag och priser; samt
  %p Länka eller kombinera information vi får från andra för att bättre förstå dina behov och tillhandahålla dig bättre service.
  %h4
    %a{:name => "sharing-info"}>
    Delning av information
  %p Vi kan komma att dela information om dig enligt följande eller på annat sätt som beskrivs i denna Integritetspolicy:
  %p Med tredjepartsleverantörer, konsulter och andra tjänsteleverantörer som behöver tillgång till sådan information för att utföra arbete på våra vägnar;
  %p När du köper produkter från tredje man genom oss kan vi komma att dela information med leverantörerna av sådana produkter för att fylla din beställning;
  %p
    Om du kopplar in enheter och tjänster från tredje man till ditt ChefSteps-konto eller Tjänsterna, när du t.ex. väljer att koppla ihop Joule eller vår mobilapplikation med Amazon Alexa kan din information delas med sådan tredje part i enlighet med din
    instruktion och ditt samtycke;
  %p När du registrerar dig för och deltar i de interaktiva delarna i Tjänsterna kan viss information om dig komma att visas offentligt, som t.ex. ditt namn, bilder, recept och annan information du väljer att lämna;
  %p Som svar på en begäran om information om vi anser att röjandet är i enlighet med eller krävs av någon tillämplig lag, bestämmelse eller juridisk process;
  %p Om vi anser att dina handlingar är i strid med våra användaravtal eller policys, eller för att bevaka ChefSteps eller andras rättigheter, egendom och säkerhet;
  %p I samband med eller under förhandlingar av någon som helst fusion, inkråmsförsäljning, finansiering eller ett annat företags köp av hela eller delar av vår verksamhet; och
  %p Med ditt samtycke eller enligt din instruktion.
  %p Vi kan också komma att dela samlad eller avidentifierad information med tredje man.
  %h4 Funktioner för delning i sociala medier
  %p
    Tjänsterna kan erbjuda funktioner för att dela i sociala medier och andra integrerade verktyg (såsom Facebooks “Gilla”-knapp). Ditt användande av sådana funktioner gör det möjligt att dela information med dina vänner eller allmänheten, beroende på de
    inställningar du gör i förhållande till den som tillhandahåller funktionen för delning i sociala medier. För mer information om syftet för och omfattningen av datainsamling och -hantering i samband med funktioner för delning i sociala medier, vänligen
    se integritetspolicys för respektive organisation som tillhandahåller dessa funktioner.
  %h4 Annonserings- och analyseringstjänster tillhandahållna av andra
  %p
    Vi kan komma att tillåta andra att visa annonser på våra vägnar på internet och att tillhandahålla analyseringstjänster. Dessa organisationer kan använda cookies, webbsignaler och annan teknik för att samla in information om ditt användande av Tjänsterna
    och andra webbsidor, inklusive din IP-adress, webbläsare, sidvyer, tid nedlagd vid sidbesök, klickade länkar och omvandlingsinformation. Denna information kan komma att användas av ChefSteps och andra för att bland annat analysera och spåra data, fastställa
    populariteten för visst innehåll, leverera reklam och innehåll riktat till dig i Tjänsterna och andra webbsidor, och bättre förstå din onlineaktivitet. För mer information om intressebaserade annonser, eller för att välja bort användningen av din sökhistorik
    för beteendemässiga reklamändamål, vänligen besök
    = succeed "." do
      %a{:href => "http://www.aboutads.info/choices", :target => "_blank"} www.aboutads.info/choices
  %p
    Vi kan också komma att samarbeta med tredje mans sociala plattformar, såsom Facebook för att leverera annonser till dig som del i en skräddarsydd kampanj, förutsatt att du inte meddelar oss att du föredrar att din information inte används i sådant syfte
    genom att fylla i formulär du finner
    = succeed "." do
      %a{:href => "https://www.chefsteps.com/facebook_optout"} här
  %h4 Säkerhet
  %p ChefSteps vidtar rimliga åtgärder för att skydda information om dig från förlust, stöld, missbruk och obehörig åtkomst, avslöjande, ändring och förstöring.
  %h4 Gränsöverskridande informationsöverföring; Sekretesskydd
  %p
    Genom att du åtkommer eller använder Tjänsterna eller på annat sätt lämnar information till oss, samtycker du till hanteringen och överföringen av information inom och till Förenta Staterna och andra länder där du kanske inte har samma rättigheter som
    du har under lokal lagstiftning. Där så är fallet kommer vi att vidta lämpliga åtgärder för att skydda information om dig i enlighet med denna Integritetspolicy.
  %p
    Vi efterlever ramverket för sekretesskydd mellan EU och USA samt mellan Schweiz och USA (gemensamt benämnt “Sekretesskyddet”) avseende personliga uppgifter vi samlar in från EU och Schweiz och överför till Förenta Staterna. För mer information om Sekretesskyddet,
    och för att se vår certifiering, vänligen besök Sekretesskyddets webbsida
    / [infoga länk till ChefSteps certifiering när tillgängligt]
    \. Vi är fortsatt ansvariga i enlighet med Sekretesskyddet för alla personuppgifter vi delar med tredje man för extern
    hantering på våra vägnar såsom beskrivits i avsnittet “Delning av information” ovan, förutsatt vi inte bevisar att vi inte är ansvariga för händelsen som orsakat skadan. Om du har en fråga avseende vårt iakttagande av Sekretesskyddet uppmuntrar vi dig
    att kontakta oss på
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    = succeed "," do
      %a{:href => "https://www.jamsadr.com"} JAMS
    %a{:href => "https://www.privacyshield.gov/servlet/servlet.FileDownload?file=015t00000004qAg"} Annex I till Privacy Shield Principles
    för detaljer).
  %h3 Dina val
  %h4 Kontoinformation
  %p
    Vi lagrar information vi samlar in om dig så länge det är nödvändigt för det syfte vi ursprungligen inhämtade informationen för, förutsatt att en längre arkiveringstid inte krävs eller tillåts av tillämplig lag. Du har rätt att (utan kostnad) tillgå information
    vi bevarar om dig eller att närsomhelst uppdatera, korrigera eller radera dina personuppgifter genom att logga in på ditt ChefSteps-konto. Alternativt kan du kontakta oss på
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    och begära information
    vi har om dig eller begära att vi uppdaterar, korrigerar eller raderar information vi har om dig, men vänligen notera att vi kan komma att be dig lämna ytterligare information för att bekräfta din identitet. Om du önskar avaktivera ditt konto kan du
    kontakta oss på
    = succeed "," do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  %h4 Joule
  %p När din Joule är sammankopplad med ditt Chefsteps-konto kan du koppla bort den genom att använda inställningarna på din mobiltelefon eller läsplatta.
  %h4 Platsinformation
  %p
    När du startar någon av våra mobilapplikationer för första gången, tillgår vissa funktioner i mobilapplikationer för första gången, eller besöker någon av de sidor på vår webbsida som samlar in platsinformation kommer du att ombes att godkänna inhämtandet
    av platsinformation. Om du inledningsvis samtycker till vårt inhämtande av platsinformation kan du vid ett senare tillfälle stoppa denna insamling genom att ändra inställningarna i din mobiltelefon, läsplatta eller webbläsare. Om du gör det kommer vissa
    funktioner i Tjänsterna inte längre fungera, som t.ex. erbjudanden för ingredienser eller produkter från leverantörer nära dig. Du kan även stoppa vår insamling av platsinformation i våra mobilapplikationer genom att följa standardprocessen för avinstallering
    och ta bort ChefSteps-applikationen från din mobiltelefon eller läsplatta.
  %h4 Reklammeddelanden från ChefSteps
  %p
    Du kan närsomhelst välja bort att motta reklammeddelanden från oss genom att följa instruktionerna i dessa meddelanden. Även om du väljer bort att motta reklammeddelanden kan vi ändå komma att skicka meddelanden till dig som gäller ditt konto eller vår
    pågående affärsrelation.
  %h4 Mobila pushmeddelanden / påminnelser
  %p
    Med ditt samtycke kan vi komma att skicka reklammässiga och icke-reklammässiga pushmeddelanden eller påminnelser till din mobila enhet. Du kan närsomhelst välja att sluta motta dessa meddelanden genom att ändra meddelandeinställningarna på din mobila
    enhet.
  %h4 Ytterligare sekretessmeddelande för bosatta inom EU och Mexico
  %p
    Om du är bosatt inom EU eller Mexico agerar ChefSteps som en “data controller” avseende din personliga information och vi hanterar sådan information med ditt godkännande och/eller där så är nödvändigt för att driva vår verksamhet, tillhandahålla dig Tjänsterna,
    uppfylla våra avtalsenliga och lagliga skyldigheter, eller på annat sätt uppfylla de legitima intressen som beskrivs i avsnitten
    %a{:href => "#use-of-information", :target => "_self"} Användning av information
    och
    %a{:href => "#sharing-info", :target => "_self"} Delning av information
    ovan. Om hanteringen av personlig information
    baseras på ditt samtycke har du rätt att närsomhelst återkalla ditt samtycke för fortsatt hantering genom att kontakta oss på
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    för att utöva din rätt att granska, korrigera, radera, begränsa hanteringen
    av, och överföra din personliga information. I det fall du väljer att utöva din rätt att radera eller att motsätta dig hanteringen av din personliga information är du införstådd med att ChefSteps kanske inte kommer att kunna upprätthålla din användning
    av Tjänsterna utifrån din begäran. Om du inte instämmer med hur vi använder din personliga information eller ett beslut vi fattar i anledning av din begäran att utöva ditt personuppgiftsskydd kan du inge ett formellt klagomål till din lokala dataskyddsmyndighet.
  %h4 Kontakta oss
  %p Om du har några frågor eller kommentarer om denna Integritetspolicy, vänligen kontakta oss på info@chefsteps.com eller skriftligen till:
  %p
    ChefSteps, Inc.
    %br>/
    Data Privacy Department
    %br>/
    1501 Pike Place, Suite 300
    %br>/
    Seattle, WA 98101
    %br>/
    U.S.A.
