%p
  %strong Dispositions Spéciales Applicables aux Utilisateurs Résidant en Belgique
%p
  Si vous résidez en Belgique et si les Services et/ou Produits vous ont été proposés par ChefSteps en Belgique, veuillez consulter les Dispositions Spéciales Applicables aux Utilisateurs Résidant en Belgique (« Dispositions Spéciales »). Ces dispositions
  spéciales s'appliquent en complément ou, dans certains cas, en lieu et place de certains articles des Conditions Générales d'Utilisation et de Vente. Tous les termes en majuscules non définis dans ces Dispositions Spéciales ont la signification qui
  leur est donnée dans les Conditions Générales d'Utilisation et de Vente.
%p
  1
  %strong> . Informations de Paiement et de Facturation
  \. À la fin de l’article 4.1, ce qui suit s'applique :
%ul
  %li
    Les Produits disponibles à la vente par le biais de nos Services peuvent être ajoutés à votre panier virtuel en appuyant sur le bouton « Acheter Joule » sur la page Web du Produit. Vous pouvez retirer plusieurs articles de votre panier virtuel avant
    de terminer la commande en ajustant la quantité sélectionnée dans votre panier virtuel. En cliquant sur le bouton "Finaliser la commande” à la fin du processus de commande en ligne, vous aurez l'obligation de payer les Produits commandés.
%p
  2.
  %strong> Livraison; Risque de perte
  \. Au lieu de la troisième phrase de l’article 4.4, ce qui suit s'applique :
%ul
  %li Les Produits vous seront livrés dès qu’il est raisonnablement possible et dans tous les cas endéans les 30 jours suivant la date où nous acceptons votre commande.
%p
  3.
  = succeed "." do
    %strong Retours et Remboursements pour les Produits Achetés directement auprès de ChefSteps
%ul
  %li Vous avez le droit de vous rétracter (annuler votre commande) sans donner de raison endéans les 14 jours suivant la livraison (soit à vous, soit à la personne que vous avez désignée pour accepter la livraison) de votre Produit.
%p Si votre commande est composée de plusieurs Produits, la période de 14 jours commencera à courir à partir du moment où vous (ou la personne que vous avez désignée pour accepter la livraison) reçoit le dernier Produit de votre commande.
%p
  Pour exercer votre droit de rétractation, vous devez nous contacter et nous notifier clairement votre décision de résiliation du contrat d'achat et de vente. Vous pouvez exercer ce droit en contactant le Service Clientèle par courrier, e-mail ou téléphone
  (coordonnées ci-dessous).
%p Vous pouvez, à cet effet, utiliser le formulaire d'annulation suivant, sans pour autant y être obligés :
%table
  %tr
    %td
      %p
        %strong Modèle de formulaire d’annulation
      %p À: Service Clientèle
      ChefSteps, Inc.
      %br/
      Customer Service
      %br/
      1501 Pike Place, Suite 300
      %br/
      Seattle, WA 98101
      %br/
      U.S.A.
      %p Adresse e-mail: info@chefsteps.com
      %p Numéro de téléphone: (206) 905-1099
      %p Je/Nous(*) vous notifie/notifions(*) par la présente que j’/nous(*) annule/annulons(*) le contrat de vente pour les biens suivants(*)/les services suivants(*),
      %p Commandé(s) le (*) / reçu(s) le (*)
      %p Nom du/des consommateur(s),
      %p Adresse du/des consommateur(s),
      %p Signature du consommateur (seulement si ce formulaire est notifié sur papier)
      %p Date
      %p (*) Veuillez biffer la mention inutile
%p Après avoir exercé votre droit de rétractation, vous devez retourner tous les Produits à l'adresse suivante au plus tard 14 jours à compter de la date à laquelle vous nous avez notifié votre retrait:
%p [address to be inserted]
%p
  Nous nous réservons le droit de faire toute retenue du remboursement pour toute perte de valeur des Produits fournis, si la perte résulte d'une manipulation inutile de votre part, c'est-à-dire si celle-ci outrepasse ce qui est nécessaire pour établir
  le fonctionnement des Produits.
%p Nous effectuerons le remboursement sans retard injustifié et au plus tard:
%ul
  %li 14 jours après la date de réception de tout Produit fourni; ou
  %li (si plus tôt) 14 jours après le jour où vous nous fournissez la preuve que vous avez retourné les Produits; ou
  %li s'il n'y a pas de Produits fournis, 14 jours après la date à laquelle nous sommes informés de votre décision d'annuler la commande.
%p
  Vous êtes responsable des coûts occasionnés pour le retour des Produits. Nous vous recommandons de retourner les Produits par recommandé et d'obtenir une preuve de livraison. Veuillez emballer les Produits avec soin afin qu'ils nous reviennent en bon
  état.
%p
  Tous les remboursements seront effectués via le même mode de paiement que celui utilisé lors de votre achat, à moins que nous en ayons convenu autrement, y compris les frais de livraison (à l'exception des frais supplémentaires engendrés par le choix
  du type de livraison autre que le type standard le moins cher de livraison offert par nous lors de la commande).
%p
  4.
  = succeed "." do
    %strong Erreurs
%p
  Nous essayons d'être aussi précis que possible et d'éliminer toutes les erreurs sur nos Services. Cependant, nous ne garantissons pas que les descriptions, prix ou autres informations sur les Produits sont exacts, complets, fiables, actuels ou sans erreur.
  En cas d'erreur, nous nous réservons le droit de corriger une telle erreur ou d'annuler la commande et de rembourser tout montant facturé.
%p
  5.
  = succeed "." do
    %strong Politique de Violation Répétée; Plaintes concernant les Droits d’auteur
%ul
  %li
    En vertu de la directive 2000/31/CE sur le commerce électronique de l'UE, les exigences d'une notification appropriée sont les suivantes: communication écrite avec une signature physique ou électronique d'une personne autorisée à agir, identification
    de l'œuvre protégée par le droit d'auteur, du matériel prétendument contrefait, des informations raisonnablement suffisantes pour permettre à ChefSteps de vous contacter (adresse, numéro de téléphone et adresse e-mail) et une déclaration selon laquelle
    vous estimez de bonne foi que l'utilisation de matériel n'est pas autorisée.
%p
  6.
  = succeed "." do
    %strong Avertissements
%p
  7.
  %strong Limitation de Responsabilité.
  Au lieu de l'article 16, ce qui suit s'applique:
%ul
  %li
    PAR L'ACCEPTATION DES PRODUITS AU MOMENT DE LA LIVRAISON, TOUS LES DÉFAUTS VISIBLES SONT CONSIDÉRÉS COMME COUVERTS. VOUS ETES TENUS DE VÉRIFIER LES PRODUITS LIVRÉS AU MOMENT DE LA LIVRAISON ET DE NOUS INFORMER PAR ÉCRIT DE TOUTE DÉFECTUOSITÉ VISIBLE
    AU PLUS TARD 2 JOURS APRÈS LA LIVRAISON, À DEFAUT DE QUOI LA LIVRAISON SERA CONSIDÉRÉE COMME AVOIR ÉTÉ ACCEPTÉE.
%p
  NOTRE GARANTIE NE COUVRE QUE LES DÉFAUTS DÉCRITS DANS NOTRE POLITIQUE DE GARANTIE. VOUS DEVEZ NOUS INFORMER DES VICES CACHÉS LE PLUS TÔT POSSIBLE ET AU PLUS TARD 2 MOIS APRÈS QUE CES DÉFAUTS ONT ÉTÉ DÉCOUVERTS. APRES CETTE PERIODE DE 2 MOIS, AUCUNE PLAINTE
  NE SERA VALIDE. VOUS NOUS PERMETTREZ, APRÈS UNE NOTIFICATION VALIDE D'UN VICE, D'ENQUÊTER SUR LE VICE ET DE FOURNIR LA SOLUTION LA PLUS ADÉQUATE.
%p TOUTE DEMANDE EN INDEMNITÉ OU GARANTIE EXPIRE DANS TOUS LES CAS SI LES PRODUITS SONT ALTÉRÉS, RÉPARÉS, MODIFIÉS OU REMPLACÉS PAR L’INTERMÉDIAIRE DE QUELQU'UN D’AUTRE QUE CHEFSTEPS OU UN TIERS AUTORISÉ PAR NOUS.
%p LES DÉFAUTS QUI SE PRODUISENT EN RAISON DE L'USURE NORMALE OU D’UN TRAITEMENT ET/OU UTILISATION INAPPROPRIÉ(E)(S) PAR VOUS OU EN RAISON DE CAUSES EXTERNES NE SONT PAS COUVERTS PAR LA GARANTIE MENTIONNÉE CI-DESSUS.
%p
  DANS TOUTE LA MESURE PERMISE PAR LA LOI APPLICABLE: (A) CHEFSTEPS OU TOUTE AUTRE PARTIE AGISSANT AU NOM DE CHEFSTEPS NE SERA EN AUCUN CAS TENUE RESPONSABLE DE TOUT DOMMAGE INDIRECT, SPÉCIAL, ACCIDENTEL, CONSÉCUTIF, EXEMPLAIRE OU PUNITIF DE QUELQUE NATURE
  QUE CE SOIT (Y COMPRIS, SANS S’Y LIMITER, PERTE DE REVENUS OU BÉNÉFICES, PERTE D'UTILISATION OU DE DONNÉES, PERTE OU DIMINUTION DE LA VALEUR D'ACTIFS OU D’ACTIONS, OU INTERRUPTION D'ACTIVITÉ) DÉCOULANT DE L'ACCÈS AUX OU DE L'UTILISATION DES SERVICES
  OU DES MATÉRIAUX OU LIÉS AUTREMENT À CES CONDITIONS (Y COMPRIS, SANS S'Y LIMITER, TOUT DOMMAGE CAUSÉ PAR OU RÉSULTANT DE LA CONFIANCE DE TOUT UTILISATEUR QUANT A TOUTE INFORMATION OBTENUE DE CHEFSTEPS, OU D'ERREURS, D’OMISSIONS, D’INTERRUPTIONS, DE
  SUPPRESSIONS DE FICHIERS OU DE COURRIELS, ERREURS, DÉFAUTS, BUGS, VIRUS, CHEVAUX DE TROIE, RETARDS EN CAS D'EXPLOITATION OU DE TRANSMISSION OU DE TOUT MANQUEMENT À L'EXÉCUTION, DÉCOULANT OU NON D’EVENEMENTS DE FORCE MAJEURE, DE L'ÉCHEC DES COMMUNICATIONS,
  DU VOL, DE LA DESTRUCTION OU DE L'ACCÈS NON AUTORISÉ AUX DOSSIERS, PROGRAMMES OU SYSTÈMES DE CHEFSTEPS) QUELLE QUE SOIT LA FORME DE L'ACTION, QU'ELLE SOIT BASÉE SUR UN CONTRAT, UNE FAUTE QUASI-DELICTUELLE (Y COMPRIS, MAIS SANS S'Y LIMITER, LA NÉGLIGENCE
  SIMPLE, ACTIVE, PASSIVE OU IMPUTÉE) OU UNE RESPONSABILITÉ STRICTE DE PRODUIT; ET (B) EN AUCUN CAS LA RESPONSABILITÉ TOTALE DE CHEFSTEPS ET DES ENTITES CHEFSTEPS (CONJOINTEMENT), QU’ELLE SOIT CONTRACTUELLE, EN GARANTIE, QUASI- DELICTUELLE (Y COMPRIS
  LA NÉGLIGENCE SIMPLE, ACTIVE, PASSIVE OU IMPUTÉE), DU PRODUIT, RESPONSABILITÉ ABSOLUE OU TOUTE RESPONSABILITE SUR LA BASE DE TOUTE AUTRE REGIME JURIDIQUE DECOULANT DE OU EN LIEN AVEC L'UTILISATION OU L'IMPOSSIBILITÉ D'UTILISER LES SERVICES, Y COMPRIS
  LE MATÉRIEL ET LES FONCTIONS QUI Y SONT CONTENUS, NE POURRA EXCEDER TOUTE INDEMNITE QUE VOUS NOUS PAYEZ POUR L'ACCÈS OU L'UTILISATION DES SERVICES.
%p
  SAUF EN CAS DE PREMÉDITATION OU DE DÉFAUT GRAVE DANS NOTRE CHEF, CELUI DE NOTRE PERSONNEL DE SERVICE OU DE NOS COLLABORATEURS, NOUS NE SOMMES PAS RESPONSABLES DE TOUT DOMMAGE QUE VOUS OU UN TIERS POURRAIT SUBIR EN RAISON DU NON-FONCTIONNEMENT OU DU FONCTIONNEMENT
  INAPPROPRIÉ DE NOS SERVICES OU PRODUITS, NI DE TOUT DOMMAGE CAUSÉ PAR UNE LIVRAISON RETARDÉE, INCORRECTE OU INCOMPLÈTE.
%p
  VOUS POUVEZ ÊTRE TENUS RESPONSABLE DE TOUT DOMMAGE RÉSULTANT DE VOTRE PROPRE FAUTE OU NÉGLIGENCE COMMISE LORS DE LA COMMANDE, LA RÉCEPTION ET/OU L'UTILISATION DES PRODUITS OU RÉSULTANT DES MODIFICATIONS APPORTÉES PAR L'ACHETEUR APRÈS LA LIVRAISON DES
  PRODUITS, DANS QUEL CAS (I) LA GARANTIE DÉCRITE À L'ARTICLE 16 EXPIRERA, ET (II) NOUS NOUS RÉSERVONS TOUS LES DROITS POUR RÉCLAMER UNE INDEMNITÉ POUR TOUT DOMMAGE QUE NOUS AVONS SUBI EN CONSEQUENCE.
%p
  LES LIMITES MENTIONNÉES DANS CET ARTICLE 16 NE LIMITERONT NI N’EXCLUERONT TOUTE RESPONSABILITE EN CAS DE MORT OU DE DOMMAGES CORPORELS OU DE DOMMAGES MATÉRIELS CAUSÉS PAR DES PRODUITS OU SERVICES QUE VOUS AVEZ ACHETÉS AUPRES DE NOUS, OU POUR NOS FRAUDES,
  NÉGLIGENCES GRAVES OU NOTRE MAUVAISE CONDUITE INTENTIONNELLE, VOLONTAIRE, MALVEILLANTE OU NOTRE INSOUCIANCE TEMERAIRE.
%p
  8.
  = succeed "." do
    %strong Règlement des différends; Arbitrage
%ul
  %li
    En tant que consommateur résidant en Belgique, vous pouvez intenter une action en justice en vertu des présentes Conditions soit en suivant la procédure d'arbitrage décrite ci-dessus, soit par l'intermédiaire du Consumentenombudsdienst / Service de
    Médiation pour le consommateur (le ‘Service de Médiation’). Le Service de Médiation traitera à son tour la demande par lui-même ou transmettra la demande à un service plus spécialisé, le cas échéant. Vous pouvez contacter le Service de Médiation en
    utilisant les coordonnées suivantes :
%p SERVICE DE MEDIATION POUR LE CONSOMMATEUR
%p North Gate II
%p Boulevard du Roi Albert II 8 Bte 1
%p 1000 Bruxelles
%p Tel : 02 702 52 00
%p Fax : 02 808 71 20
%p
  E-mail : contact@consumentenombudsdienst.be /
  %a{:href => "mailto:contact@mediationconsommateur.be"} contact@mediationconsommateur.be
%p
  Site web:
  %a{:href => "http://www.consumentenombudsdienst.be/nl"} www.consumentenombudsdienst.be/nl
  \/
  %a{:href => "http://www.mediationconsommateur.be/fr"} http://www.mediationconsommateur.be/fr
%p
  Sur les sites mentionnés ci-dessus, vous pouvez consulter toutes les informations pertinentes concernant le Service de Médiation et le fonctionnement de la procédure extrajudiciaire de règlement des litiges. La Commission européenne fournit également
  aux consommateurs de l'UE une plateforme de règlement des litiges en ligne accessible à l'adresse suivante:
  = succeed "." do
    %a{:href => "http://ec.europa.eu/odr"} http://ec.europa.eu/odr
%p
  9
  %strong> .  Droit applicable et juridictions compétentes
  \. Au lieu de l'article 19, ce qui suit s'applique:
%ul
  %li
    Ces Conditions et votre accès aux et votre utilisation des Produits et Services seront régis et interprétés conformément au droit belge sans égard aux règles ou principes de conflit de lois qui entraîneraient l'application des lois de tout autre juridiction,
    nonobstant votre droit, en tant que consommateur de l'UE, d'intenter une action devant les tribunaux du lieu où vous êtes domicilié. Les consommateurs résidant dans l'Espace Economique Européen ("
    %strong> EEE
    ") bénéficieront de l’application
    de toutes les dispositions impératives de la loi de la juridiction dans laquelle vous résidez. Rien dans ces conditions n'affecte vos droits en tant que consommateur de l'EEE de se prévaloir des dispositions impératives de la loi de la juridiction
    dans laquelle vous résidez.
