%p
  %strong Bijzondere Bepalingen die van Toepassing zijn op Gebruikers Woonachtig in België
%p
  Wanneer u woonachtig bent in België en wanneer de Diensten en/of Producten van ChefSteps aan u worden aangeboden in België gelieve deze Bijzondere Bepalingen die van Toepassing zijn op Gebruikers Woonachtig in België dan door te nemen ( “Bijzondere Bepalingen”).
  Deze Bijzondere Bepalingen vullen de Gebruiks-en Verkoopsvoorwaarden aan of komen in sommige gevallen in de plaats van de Gebruiks- en Verkoopsvoorwaarden. Alle begrippen die in hoofdletter worden weergegeven en die niet worden gedefinieerd in deze
  Bijzondere Bepalingen hebben dezelfde betekenis zoals beschreven in de Gebruiks- en Verkoopsvoorwaarden.
%p
  1
  %strong> . Betaal- en Facturatie Gegevens
  \. Op het einde van afdeling 4.1, geldt het volgende:
%ul
  %li
    Producten die beschikbaar zijn voor verkoop via onze Diensten kunnen worden toegevoegd aan uw virtuele shopping kaart door te drukken op de “Koop Joule”– knop op de webpagina van het Product. U kan verschillende Producten verwijderen van de virtuele
    shopping kaart voor de bestelling is voltooid door de gekozen hoeveelheid aan te passen in uw virtuele shopping kaart. Door te drukken op de “Voltooi uw bestelling” – knop op het einde van het online bestelling proces, bent u verplicht om te betalen
    voor de bestelde Producten.
%p
  2.
  %strong> Levering en Risico van Verlies.
  In de plaats van de derde zin van afdeling 4.4., geldt het volgende:
%ul
  %li De Producten zullen zo snel mogelijk aan u geleverd worden en in ieder geval binnen de dertig (30) dagen volgend op de dag waarop we uw bestelling hebben ontvangen.
%p
  3.
  = succeed "." do
    %strong Terugsturing en Terugbetalingen van de Producten die Rechtstreeks Aangekocht worden bij ChefSteps
%ul
  %li
    U heeft het wettelijke recht om van uw aankoop af te zien, zonder opgave van enige reden, binnen de 14 dagen na verzending van uw Product (hetzij rechtstreeks naar u verzonden, hetzij naar de persoon die u heeft aangeduid om de levering te aanvaarden).
%p Wanneer uw bestelling bestaat uit meerdere Producten, vangt de periode van 14 dagen aan vanaf de dag waarop u (of de persoon die u heeft aangeduid om de levering te aanvaarden) het laatste Product ontvangen heeft van uw bestelling.
%p
  Om uw herroepingsrecht uit te oefenen, moet u ons contacteren en duidelijk aangeven dat u beslist om van uw koop/verkoop - contract af te zien. U kan dit recht uitoefenen door de Consumentendienst te contacteren per post, per email of per telefoon (de
  contactgegevens worden hieronder weergegeven) .
%p U kan gebruik maken van het volgende formulier om van uw aankoop af te zien, maar het gebruik van dit formulier is niet verplicht:
%p
  %strong Modelformulier voor herroeping
%p Aan : Consumentendienst
ChefSteps, Inc.
%br/
Customer Service
%br/
1501 Pike Place, Suite 300
%br/
Seattle, WA 98101
%br/
U.S.A.
%p E-mail adres: info@chefsteps.com
%p Telefoonnummer: (206) 905-1099
%p Ik/wij (*) deel/delen (*) u hierbij mede dat ik/wij (*) onze overeenkomst betreffende de verkoop van de volgende goederen (*)/levering van de volgende dienst (*) herroep/herroepen (*)
%ul
  %li Besteld op (*)/ontvangen op (*)
  %li Naam/ Namen consument(en)
  %li Adres consument (en)
  %li Datum
  %li
    Handtekening van consument (en)
    = succeed "(alleen" do
      %br/
%p (*) Doorhalen wat niet van toepassing is.
%p Na het uitoefenen van uw herroepingsrecht moet u alle Producten terugsturen naar het volgende adres, niet later dan 14 dagen vanaf de dag op dewelke u ons te kennen geeft dat u uw Herroepingsrecht wenst uit te oefenen:
%p
  ChefSteps, Inc.
  %br/
  Customer Service
  %br/
  1501 Western Avenue, Suite 600
  %br/
  Seattle, WA 98101
  %br/
  U.S.A.
%p
  Wij behouden ons het recht voor om eventueel de terugbetaling te verminderen met waardeverminderingen van elk geleverd Product, wanneer de waardevermindering het resultaat is van onnodig handelen door u – zoals bijvoorbeeld: wanneer u meer doet dan nodig
  zou zijn om de werking van het Product vast te stellen.
%p We zullen de terugbetaling zonder enige vertraging uitvoeren en deze zal in ieder geval gebeuren niet later dan:
%ul
  %li 14 dagen na de dag waarop we van u de geleverde Producten terug hebben ontvangen; of
  %li (wanneer dit sneller is) 14 dagen na de dag waarop u ons voorziet van enig bewijs dat u de Producten aan ons heeft terugbezorgd; of
  %li Wanneer er geen Producten werden geleverd, 14 dagen na de dag dat u ons heeft geïnformeerd over de beslissing om uw bestelling te annuleren.
%p
  U bent verantwoordelijk voor de kosten om de Producten aan ons terug te bezorgen. We raden u aan om de Producten terug te sturen via aangetekende zending, met ontvangstbevestiging. De Producten moeten veilig verpakt worden voor verzending om ons te kunnen
  garanderen dat de Producten ons in een goede staat zullen bereiken.
%p
  Alle terugbetalingen zullen worden uitgevoerd op dezelfde manier waarop u uw betaling heeft gedaan bij aankoop, tenzij anders overeengekomen, hierbij inbegrepen de kosten voor levering (behalve voor de aanvullende kosten die voortvloeien uit een vorm
  van verzending die afwijkt van de minst dure vorm of standaard verzending die door ons wordt aangeboden wanneer een bestelling wordt geplaatst).
%p
  4.
  = succeed "." do
    %strong Fouten
%p
  We doen ons best om zo nauwkeurig mogelijk te zijn en om fouten uit onze Diensten te halen, maar, we kunnen niet garanderen dat deze beschrijvingen, prijzen of andere Product informatie nauwkeurig, volledig, betrouwbaar of volledig foutloos is. In geval
  van een fout, behouden we ons het recht voor om deze fout recht te zetten of om de bestelling te annuleren en om u desgevallend het aangerekende bedrag terug te storten.
%p
  5.
  = succeed "In" do
    %strong Beleid voor Herhaalde Inbreuken; Klachten over Auteursrechten.
%ul
  %li
    De Richtlijn 2000/31/EG, de Richtlijn inzake elektronische handel van 8 juni 2000, bepaalt dat de vereisten voor een correcte kennisgeving de volgende zijn: geschreven communicatie met een fysieke of elektronische handtekening van een persoon die de
    machtiging heeft om te handelen, identificatie van het auteursrechtelijk beschermde werk waarvan beweerd wordt dat er een inbreuk op gemaakt werd, identificatie van het materiaal waarvan beweerd wordt dat er een inbreuk op werd gemaakt, informatie
    die redelijkerwijs voldoende is voor ChefSteps om u te contacteren (adres, telefoonnummer en e-mail) en een verklaring dat u te goeder trouw gelooft dat het gebruik van het materiaal niet geautoriseerd is.
%p
  6.
  = succeed "." do
    %strong Disclaimers
%p
  7.
  = succeed "." do
    %strong Beperking van Aansprakelijkheid
%ul
  %li
    DOOR DE AANVAARDING VAN DE PRODUCTEN OP HET MOMENT VAN VERZENDING, WORDEN ALLE ZICHTBARE GEBREKEN GEACHT TE ZIJN GEDEKT. U BENT VERPLICHT OM DE GELEVERDE PRODUCTEN TE CONTROLEREN OP MOMENT VAN LEVERING EN ONS SCHRIFTELIJK TE INFORMEREN OF HET BESTAAN
    VAN ENIGE ZICHTBARE GEBREKEN NIET LATER DAN 2 DAGEN NA LEVERING, BIJ GEBREKE WAARAAN DE LEVERING WORDT GEACHT AANVAARD TE ZIJN.
%p
  ONZE GARANTIE OMVAT ALLEEN DERGELIJKE DEFECTEN ZOALS OMSCHREVEN IN ONZE GARANTIE VOORWAARDE. U ZAL ONS ZO SNEL MOGELIJK OP DE HOOGTE BRENGEN VAN DERGELIJKE VERBORGEN GEBREKEN EN ZEKER NIET LATER DAN 2 MAANDEN VANAF DE DAG DAT U HET GEBREK HEEFT WAARGENOMEN.
  NA DEZE PERIODE VAN 2 MAANDEN ZIJN DE KLACHTEN NIET MEER GELDIG. U ZAL ONS TOESTAAN OM VOLGEND OP EEN GELDIGE EN TIJDIGE KENNISGEVING VAN EEN GEBREK, HET GEBREK TE ONDERZOEKEN EN OM DE MEEST EFFICIËNTE OPLOSSING HIERVOOR TE ZOEKEN.
%p DE VORDERING VOOR EEN SCHADEVERGOEDING OF EEN GARANTIE VERVALT IN ELK GEVAL WANNEER DE PRODUCTEN GEWIJZIGD, HERSTELD, AANGEPAST OF VERVANGEN WERDEN DOOR EEN ANDERE PERSOON DAN CHEFSTEPS OF EEN DERDE PARTIJ DIE HIERVOOR DE TOESTEMMING HAD GEKREGEN.
%p GEBREKEN DIE VOORKOMEN DOOR NORMALE SLIJTAGE OF ONGEPASTE BEHANDELING EN/OF GEBRUIK LANGS UW ZIJDE, OF DOOR UITWENDIGE OMSTANDIGHEDEN WORDEN NIET GEDEKT ONDER DE BOVENVERMELDE GARANTIE.
%p
  VOOR ZOVER TOEGELATEN DOOR HET TOEPASSELIJKE RECHT: (A) IN GEEN ENKEL GEVAL ZAL CHEFSTEPS OF EENDER WIE VAN DE CHEFSTEPS PARTIJEN AANSPRAKELIJK ZIJN VOOR ENIGE INDIRECTE, COMPENSATOIRE OF PUNITIEVE SCHADE VAN EENDER WELKE SOORT (HIERBIJ INBEGREPEN, ZONDER
  BEPEKREND TE ZIJN TOT, WINSTDERVING, INKOMSTEN- OF WINST- VERLIES, VERLIES OF GEBRUIK OF VAN DATA, VERLIES OF VERMINDERING IN WAARDE VAN ACTIVA OF EFFECTEN, OF SCHADE DOOR ONDERBREKING VAN DE BUSINESS) DIE VOORTVLOEIEN UIT OF OP EENDER WELKE WIJZE GERELATEERD
  ZIJN AAN DE TOEGEANG OF HET GEBRUIK VAN DE DIENSTEN OF HET MATERIAAL OF OP EEN ANDERE MANIER GERELATEERD ZIJN AAN DEZE VOORWAARDEN (HIERBIJ INBEGREPEN, MAAR NIET BEPERKT TOT, ENIGE SCHADE VEROORZAAKT DOOR OF VOLGEND UIT HET VERTROUWEN VAN EENDER WELKE
  GEBRUIKER OP DE INFORMATIE VERKREGEN DOOR CHEFSTEPS, OF DOOR VERGISSINGEN, OMMISSIES, ONDERBREKINGEN, VERWIJDERINGEN OF DOCUMENTEN OF EMAILS, FOUTEN, DEFECTEN, BUGS, VIRUSSEN, TROJAANSE PAARDEN, VERTRAGINGEN IN UITVOERING OF TRANSFER OF ENIGE TEKORTKOMING
  OF UITVOERING, DIE AL DAN NIET HET GEVOLG ZIJN VAN DADEN VAN GOD OF OVERMACHT, COMMUNICATIEFOUTEN, DIEFSTAL, VERNIETIGING OF ONBEVOEGDE TOEGANG TOT CHEFSTEPS ARCHIEVEN, PROGRAMMA’S OF SYSTEMEN), ONGEACHT DE VORM VAN DE VORDERING, OF HET NU GEBASEERD
  IS OP HET CONTRACT, ONRECHTMATIGE DAAD (DAARBIJ INBEGREPEN, MAAR NIET BEPERKT TOT, EENVOUDIGE NALATIGHEID, DAN WEL ACTIEF, PASSIEF OF GEINSINUEERD) OF STRIKTE PRODUCT AANSPRAKELIJKHEID; EN (B) IN GEEN ENKELE OMSTANDIGHEID ZAL DE TOTALE AANSPRAKELIJKHEID
  VAN CHEFSTEPS EN DE CHEFSTEPS PARTIJEN (TESAMEN), DAN WEL BIJ CONTRACT, GARANTIE, ONRECHTMATIGE DAAD (DAARBIJ INBEGREPEN EENVOUDIGE NALATIGHEID, DAN WEL ACTIEF, PASSIEF OF GEINSINUEERD), PRODUCT AANSPRAKELIJKHEID, STRIKTE AANSPRAKELIJKHEID OF EEN ANDERE
  THEORIE DIE VOLGT UIT OF GERELATEERD IS AAN HET GEBRUIK VAN OF HET ONVERMOGEN OM DE DIENSTEN TE GEBRUIKEN, DAARBIJ INBEGREPEN DE MATERIALEN EN FUNCTIES DIE DAARBIJ ZIJN INBEGREPEN, ENIGE VERGOEDING KUNNEN OVERSCHRIJDEN DIE U AAN ONS BETAALT VOOR DE
  TOEGANG TOT OF HET GEBRUIK VAN DE DIENSTEN.
%p
  BEHALVE IN GEVAL VAN OPZET OF GROVE FOUT DOOR ONS, DOOR ONZE DIENSTEN, ONS PERSONEEL OF ANDERE WERKNEMERS, ZIJN WIJ NIET AANSPRAKELIJK VOOR EENDER WELKE SCHADE DAT U OF EEN DERDE PARTIJ HEEFT GELEDEN ALS GEVOLG VAN HET NIET - OF ONJUIST GEBRUIK VAN ONZE
  DIENSTEN EN PRODUCTEN, EN VOOR SCHADE DIE VEROORZAAKT WORDT DOOR VERTRAGING, ONJUISTE OF ONVOLLEDIGE VERZENDING.
%p
  U BENT VERANTWOORDELIJK VOOR ELKE SCHADE DIE TE WIJTEN IS AAN UW EIGEN FOUT OF NALATIGHEID WANNEER U DE PRODUCTEN BESTELT, ONTVANGT EN/OF GEBRUIKT OF DIE TE WIJTEN ZIJN AAN DE VERANDERINGEN GEMAAKT DOOR DE KOPER NA DE AFGIFTE VAN DE PRODUCTEN IN WELK
  GEVAL (I) DE GARANTIE ZOALS OMSCHREVEN IN AFDELING 16 NIET GELDT, EN (II) WIJ ONS HET RECHT VOORBEHOUDEN OM SCHADEVERGOEDING TO EISEN VOOR EENDER WELKE SCHADE DIE WIJ HEBBEN GELEDEN ALS EEN GEVOLG DAARVAN.
%p
  DE BEPERKINGEN ZOALS BEPAALD IN DEZE AFDELING 16 ZULLEN DE AANSPRAKELIJKHEID NIET UITSLUITEN OF BEPERKEN VOOR DOOD OF FYSISCHE SCHADE OF ZAAKSCHADE DIE VEROORZAAKT WERD DOOR DE PRODUCTEN OF DIENSTEN DIE U VAN ONS AANKOOPT, OF VOOR ONS BEDROG, GROVE NALATIGHEID
  OF INTENTIONEEL, OPZETTELIJK, KWAADWILLIG OF ROEKELOOS WANGEDRAG.
%p
  8.
  %strong Geschil beslechting; Arbitrage.
  Een nieuwe Afdeling 18.9 wordt toegevoegd die het volgende bepaalt:
%ul
  %li
    Als consument woonachtig in België, kan u juridische geschillen in verband met deze voorwaarden laten beslechten door een arbitrage procedure op te starten zoals hierboven toegelicht of door de Consumentenombudsdienst/ /Service de Médiation pour le
    Consommateur (de “Consumentenombudsdienst) te raadplegen. De Consumentenombudsdienst zal op zijn beurt de vragen zelf behandelen dan wel doorsturen naar een meer gespecialiseerde dienst indien dit nodig zou zijn. U kan de Consumentenombudsdienst bereiken
    door de volgende contactgegevens te gebruiken
%p CONSUMENTENOMBUDSDIENST/ SERVICE DE MEDIATION POUR LE CONSOMMATEUR
%p North Gate II
%p Koning Albert II-laan 8 Bus 1 / Boulevard du Roi Albert II 8 Bte 1
%p 1000 Brussel
%p Tel : 02 702 52 00
%p Fax : 02 808 71 20
%p
  E-mail : contact@consumentenombudsdienst.be /
  %a{:href => "mailto:contact@mediationconsommateur.be"} contact@mediationconsommateur.be
%p
  Website:
  %a{:href => "http://www.consumentenombudsdienst.be/nl"} www.consumentenombudsdienst.be/nl
  \/
  %a{:href => "http://www.mediationconsommateur.be/fr"} http://www.mediationconsommateur.be/fr
%p
  U kan alle relevante informatie aangaande de Consumentenombudsdienst terugvinden op bovenvermelde websites en meer informatie vinden over hoe een buitengerechtelijke geschillenregeling procedure werkt. De Europese Commissie heeft ook voor de Europese
  consument de mogelijkheid voorzien om online het geschil op te lossen door de volgende pagina te raadplegen:
  = succeed "." do
    %a{:href => "http://ec.europa.eu/odr"} http://ec.europa.eu/odr
%p
  9
  %strong> .  Toepasselijk Recht en Plaats
  \. In de plaats van Afdeling 19, geldt het volgende:
%ul
  %li
    Deze Voorwaarden en de toegang tot en het gebruik van de Producten en Diensten zullen worden geregeld door, uitgelegd en afgedwongen worden overeenkomstig het Belgisch recht, zonder rekening te houden met de regels die van toepassing zijn op wetsconflicten
    van wetten of principes die leiden tot de toepassing van de wetten van een ander rechtsgebied, niettegenstaande uw recht als EU consument om een procedure in te stellen voor de rechtbank van de plaats waar u gedomicilieerd bent. Consumenten die in
    de Europese Economische Ruimte verblijven (“EER”) kunnen genieten van de dwingende bepalingen van de wet van het rechtsgebied waar men woont. Geen enkele bepaling in deze Voorwaarden tast uw recht aan als EER-consument om te vertrouwen op de dwingende
    bepalingen van de wet in het rechtsgebied waar u woont.
