%p
  %strong Besondere Bestimmungen für Nutzer, die in Deutschland wohnhaft sind
%p
  Falls Sie in Deutschland wohnhaft sind und falls Ihnen die Leistungen und/oder Produkte von ChefSteps in Deutschland angeboten wurden, prüfen Sie bitte diese besonderen Bedingungen für Nutzer, die in Deutschland wohnhaft sind (“Besondere Bedingungen”).
  Diese besonderen Bedingungen gelten zusätzlich zu bestimmten Abschnitten der Nutzungs- und Verkaufsbedingungen und in manchen Fällen anstelle jener Bedingungen. Alle Begriffe mit großem Anfangsbuchstaben, die nicht in diesen besonderen Bedingungen definiert
  sind, haben die Bedeutung, die ihnen in den Nutzungs- und Verkaufsbedingungen zugewiesen wird.
%p
  1.
  = succeed "." do
    %strong Einleitung
%ul
  %li
    ChefSteps behält sich das Recht vor, diese Bedingungen jederzeit und nach unserem alleinigen Ermessen zu ändern oder zu modifizieren. Falls sich diese Bedingungen ändern, so gelten diese Änderungen mit Wirkung für die Zukunft und wir werden die Änderungen
    ankündigen, beispielsweise durch Übersendung einer Mitteilung per Email, durch eine Mitteilung durch die Leistungen oder durch Aktualisieren des „Zuletzt aktualisiert“-Datums am Anfang dieser Bedingungen. Sie haben das Recht, jederzeit solchen Änderungen
    zu widersprechen, indem Sie Ihre Nutzung der Leistungen einstellen. Ihre fortgesetzte Nutzung der Leistungen bestätigt Ihre Annahme der revidierten Bedingungen. Wir empfehlen Ihnen, die Bedingungen häufig zu prüfen, um sicherzustellen, dass Sie die
    Bestimmungen und Bedingungen, die gelten, wenn Sie auf die Leistungen zugreifen oder diese nutzen, verstehen. Falls Sie mit den überarbeiteten Bedingungen nicht einverstanden sind, dürfen Sie auf die Leistungen nicht zugreifen oder diese nutzen.
%p
  2.
  %strong> Versand; Verlustrisiko
  \. Anstelle des dritten Satzes der Ziffer 4.4 gilt Folgendes:
%ul
  %li Produkte werden an Sie geliefert, sobald dies angemessenerweise möglich ist, und in jedem Fall innerhalb von 30 Tagen nach dem Tag, an dem wir Ihre Bestellung annehmen..
%p
  3.
  = succeed "." do
    %strong Rücksendungen und Erstattungen für Produkte, die direct von ChefSteps gekauft werden
%ul
  %li Sie haben ein gesetzliches Recht, ohne Angabe von Gründen innerhalb von 14 Tagen nach Lieferung Ihres Produkts (entweder an Sie oder an die Person, die Sie als empfangsberechtigt benannt haben), Ihre Bestellung zu widerrufen.
%p Falls Ihre Bestellung mehrere Produkten umfaßt, so läuft die Frist von 14 Tagen ab dem Zeitpunkt, in dem Sie (oder die Person, die Sie als empfangsberechtigt benannt haben) das letzte Produkt im Rahmen ihrer Bestellung erhalten.
%p
  Um Ihr Widerrufsrecht auszuüben, müssen Sie sich mit einer deutlichen Erklärung Ihrer Entscheidung, den Kaufvertrag zu widerrufen, an uns wenden. Sie können dieses Recht ausüben, indem Sie sich per Post, Email oder telefonisch an den Kundendienst wenden
  (Kontaktangaben erscheinen nachstehend).
%p Sie können das folgende Widerrufsformular verwenden, aber sind nicht dazu verpflichtet, dies zu tun:
%table
  %tr
    %td
      %p
        %strong Muster Widerrufsformular
      %p An: Kundendienst
      ChefSteps, Inc.
      %br/
      Customer Service
      %br/
      1501 Pike Place, Suite 300
      %br/
      Seattle, WA 98101
      %br/
      U.S.A.
      %p Email-Adresse info@chefsteps.com
      %p Telefonnummer: (206) 905-1099
      %p Ich/wir (*) erkläre/n hiermit, dass ich/wir (*) meinen/unseren (*) Kaufvertrag über die folgenden Waren(*)/ für die Erbringung der folgenden Leistung (*),
      %p bestellt am (*)/ erhalten am (*),
      %p widerrufe(n).
      %p Name des/der Verbraucher,
      %p Anschrift des/der Verbraucher,
      %p Unterschrift des Verbrauchers (nur in dem Fall, dass dieses Formular auf Papier verwendet wird)
      %p Datum
      %p (*) Bitte streichen, wenn nicht zutreffend
%p Nach Ausübung Ihres Widerrufsrechts müssen Sie alle Produkte spätestens 14 Tage nach dem Tag, an dem Sie uns Ihren Widerruf mitteilen, an der folgenden Anschrift zurückgeben:
%p [address to be inserted]
%p Wir behalten uns das Recht vor, von der Rückerstattung jeglichen Wertverlust gelieferter Produkte abzuziehen, falls der Verlust das Ergebnis unnötiger Handhabung durch Sie ist, d.h. mehr als notwendig, um das Funktionieren der Produkte festzustellen.
%p Wir leisten die Rückerstattung unverzüglich und in jedem Fall spätestens:
%ul
  %li 14 Tage nach dem Tag, an dem wir von Ihnen jegliche gelieferten Produkte zurückerhalten; oder
  %li (falls früher) 14 Tage nach dem Tag, an dem Sie uns den Nachweis erbringen, dass Sie die Produkte zurückgegeben haben; oder
  %li falls keine Produkte geliefert wurden, 14 Tage nach dem Tag, an dem wir über Ihre Entscheidung zum Widerruf von der Bestellung informiert werden.
%p
  Sie sind verantwortlich für die Kosten für die Rückgabe der Produkte. Wir empfehlen, dass Sie die Produkte per Einschreiben mit Zustellungsnachweis zurückgeben. Bitte verpacken Sie die Produkte sorgfältig, um sicherzustellen, dass sie uns in gutem Zustand
  erreichen.
%p
  Alle Rückerstattungen erfolgen mit derselben Zahlungsmethode, die Sie für den Kauf gewählt haben, außer soweit wir anderweitig einverstanden waren, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich ergeben, wenn Sie eine
  andere Lieferart wählen als die preisgünstigste Standardlieferung, die von uns zur Zeit der Erteilung der Bestellung angeboten wurde).
%p
  5.
  = succeed "." do
    %strong Fehler
%ul
  %li
    Wir bemühen uns, so genau wie möglich zu sein und Fehler unserer Leistungen zu beseitigen. Jedoch behalten wir uns im Falle eines Fehlers das Recht vor, diesen Fehler zu berichtigen oder die Bestellung zu stornieren und jeglichen berechneten Betrag
    zurückzuerstatten.
%p
  6.
  = succeed "." do
    %strong Wiederholte Verletzungen; Urheberrechtsbeschwerden
%ul
  %li
    Gemäß EU E-Commerce Richtlinie 2000/31/EG sind die Anforderungen an eine ordnungsgemäße Mitteilung die Folgenden: Schriftliche Mitteilung mit einer körperlichen oder elektronischen Signatur einer Person, die handlungsbefugt ist, Identifizierung des
    urheberrechtlich geschützten Werks, welches angeblich verletzt wurde, Identifizierung des Materials, welches angeblich verletzend ist, angemessenerweise ausreichende Informationen, um es ChefSteps zu ermöglichen, Sie zu kontaktieren (Adresse, Telefonnummer
    und Email) und eine Erklärung, dass Sie guten Glaubens der Auffassung sind, dass die Nutzung des Materials nicht genehmigt ist.
%p
  7.
  = succeed "." do
    %strong Haftungsausschlüsse
%ul
  %li nichts in diesen Bedingungen beeinträchtigt gesetzliche Rechte und Rechtsbehelfe, die ihnen aufgrund gesetzes zustehen.
%p
  8.
  = succeed "." do
    %strong Haftungsbegrenzung
%ul
  %li Wir haften aufgrund dieser Bedingungen nach Maßgabe der nachfolgenden Bestimmungen:
%p (a) Wir haften in vollem Umfang für Vorsatz und grobe Fahrlässigkeit und für Schäden, die durch Verletzung des Lebens, des Körpers oder der Gesundheit entstehen;
%p
  (b) im Falle leichter Fahrlässigkeit haften wir nur für die Verletzung einer wesentlichen Vertragsverpflichtung, d.h. einer Verpflichtung, deren
  = succeed "die" do
    %strong Erfüllung
%p (c) wir haften nicht für jeglichen ausbleibenden wirtschaftlichen Erfolg, für entgangenen Gewinn oder mittelbare Schäden;
%p (d) wir sind begrenzt auf den typischen und vorhersehbaren Schaden zur Zeit der Annahme dieser Bedingungen;
%p (e) diese Haftungsbegrenzung gilt entsprechend zugunsten unserer Arbeitnehmer, Vertreter und Erfüllungsgehilfen; und
%p (f) jegliche potenzielle Haftung unsererseits für Garantien und für Ansprüche aufgrund des deutschen Produkthaftungsgesetzes bleibt unberührt.
%p
  9.
  = succeed "Anstelle" do
    %strong Streitbeilegung; Schiedsverfahren.
%p
  \. Als Verbraucher mit Wohnsitz in dem Europäischen Wirtschaftsraum (“
  %strong> EWR
  ”) können Sie in Bezug auf diese Bedingungen vor den Gerichten des Staates, in dem Sie wohnhaft sind, Verfahren einleiten. Die Europäische Kommission stellt EWR-Verbrauchern
  auch online eine Streitschlichtungsplattform zur Verfügung, die unter der folgenden Adresse verfügbar ist: http://ec.europa.eu/consumers/odr/. Bitte beachten Sie, dass wir nicht dazu verpflichtet sind, uns unter Verwendung der Plattform der Europäischen
  Kommission oder unter Beteiligung eines Verbraucherstreitschlichters an einer alternativen Streitschlichtung zu beteiligen. Wir behalten uns das Recht vor, im Einzelfall der alternativen Streitschlichtung zuzustimmen.
%p
  10
  %strong> .  Anwendbares Recht und Gerichtsstand
  \. Anstelle der Ziffer 19 gilt Folgendes:
%ul
  %li
    Diese Bedingungen und Ihr Zugang zu den Produkten und Leistungen und deren Nutzung unterliegen dem deutschen Recht und sind danach auszulegen und durchzusetzen. Als Verbraucher mit Wohnsitz in dem EWR genießen Sie auch die Vorteile aus zwingenden Bestimmungen
    des Rechts der Jurisdiktion, innerhalb welcher Sie wohnhaft sind. Nichts in diesen Bedingungen beeinträchtigt Ihr Recht als EWR-Verbraucher, sich auf die zwingenden Bestimmungen der Jurisdiktion, in welcher Sie wohnhaft sind, zu berufen.
%p
  11.
  = succeed "." do
    %strong Kündigung
%ul
  %li
    Ungeachtet jeglicher entgegenstehender Bestimmungen in diesen Bedingungen behalten wir uns das Recht vor, Ihr Recht auf die Leistungen zu beenden, wenn Sie diese Bedingungen oder jegliche sonstigen darin in Bezug genommenen Bestimmungen oder Grundsätze
    in schwerwiegender Weise verletzen. Außer soweit eine solche Verletzung geheilt werden kann, fordern wir Sie schriftlich (Email ausreichend) zur Heilung auf, bevor wir kündigen. Wir gewähren einen angemessenen Zeitraum zur Heilung, es sei denn, besondere
    Umstände bestehen, welche die sofortige Beendigung rechtfertigen (unter Berücksichtigung der Interessen beider Parteien). Wir üben dieses Recht nur innerhalb eines angemessenen Zeitraumes nach Kenntnisnahme der Verletzung aus.
