%p
  %strong Disposiciones Especiales Aplicables a los Usuarios Residentes en España
%p
  Si reside en España y ChefSteps le ofreció los Servicios y/o Productos en España, le rogamos que revise estas Disposiciones Especiales Aplicables a los Usuarios Residentes en España (“Disposiciones Especiales”). Estas Disposiciones Especiales se aplican
  de manera adicional a las Condiciones de Uso y Venta o, en algunos casos, sustituyendo a determinadas cláusulas de dichas Condiciones. Todos los términos en mayúsculas no definidos en estas Disposiciones Especiales tendrán el significado que se les
  atribuya en las Condiciones de Uso y Venta.
%p
  1.
  %strong Aptitud.
  En lugar de la segunda frase de la Cláusula 3, se aplica lo siguiente:
%ul
  %li
    Si usted tiene entre 14 y 18 años de edad y no está autorizado legalmente a aceptar estas Condiciones y a quedar obligado por las mismas, sólo podrá hacer uso de los Servicios bajo la supervisión de un progenitor o tutor legal que acepte quedar obligado
    por estas Condiciones.
%p
  2.
  = succeed "." do
    %strong Envío; Riesgo de Pérdida
%ul
  %li
    Usted acepta pagar los cargos por envíos y tramitación que se indiquen en el momento en que usted realice una compra. Nos reservamos el derecho de aumentar, disminuir, añadir o eliminar los cargos por envíos y tramitación cada cierto tiempo, pero en
    cualquier caso le notificaremos de los cargos que se le apliquen antes de que usted realice su compra. Los productos se le entregarán en cuanto sea razonablemente posible y, en todo caso, en un plazo de 30 días a partir del día en el que aceptemos
    su pedido. A menos que indiquemos lo contrario, se le transmitirá a usted el riesgo de pérdida o daño que pueda sufrir un Producto una vez le sea entregado en la ubicación de entrega que usted especifique. Si tiene cualquier pregunta o inquietud relativa
    al envío, póngase en contacto con nosotros escribiendo a
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
%p
  3.
  = succeed "." do
    %strong Devoluciones y Reembolsos de Productos Comprados Directamente de ChefSteps
%ul
  %li Usted tiene un derecho legal de desistir de su pedido sin dar un motivo en los 14 días posteriores a la entrega de su Producto (ya sea a usted o a la persona que usted haya designado para aceptar la entrega).
%p Si su pedido consta de varios Productos, el plazo de 14 días comenzará a correr a partir del momento en que usted (o la persona que usted haya designado para recibir la entrega) reciba el último Producto de su pedido.
%p
  Para ejercer su derecho de desistimiento, deberá ponerse en contacto con nosotros y proporcionar una indicación clara de su decisión de desistir del contrato de compraventa. Podrá ejercer este derecho contactando con el Servicio de Atención al Cliente
  mediante correo postal, correo electrónico o teléfono (los datos de contacto se indican a continuación).
%p Podrá utilizar el siguiente formulario modelo de cancelación, pero no está obligado a hacerlo:
%table
  %tr
    %td
      %p
        %strong Formulario modelo de cancelación
      %p Para: Servicio de Atención al Cliente
      ChefSteps, Inc.
      %br/
      Customer Service
      %br/
      1501 Pike Place, Suite 300
      %br/
      Seattle, WA 98101
      %br/
      U.S.A.
      %p Dirección de correo electrónico: info@chefsteps.com
      %p Número de teléfono: (206) 905-1099
      %p Yo/Nosotros (*) por la presente notifico/notificamos que yo/nosotros (*) desisto/desistimos de mi/nuestro (*) contrato de compraventa de los siguientes productos (*) /de prestación del siguiente servicio*,
      %p Pedido el día (*) /recibido el día (*),
      %p Nombre del/de los cliente(s),
      %p Dirección del/de los cliente(s),
      %p Firma del cliente (solo si se notifica este formulario en formato papel ),
      %p Fecha
      %p (*) Elimine si no procede
%p Después de ejercer su derecho de desistimiento, deberá devolver todos los Productos a la siguiente dirección en un plazo máximo de 14 días a partir del día en que nos notifique su desistimiento:
%p [ address to be inserted]
%p
  Nos reservamos el derecho de realizar deducciones sobre el reembolso por cualquier pérdida de valor de cualesquiera Productos suministrados, si la pérdida fuera el resultado de una manipulación innecesaria por su parte, esto es, una manipulación que vaya
  más allá de lo que sería necesario para el funcionamiento de los Productos.
%p Realizaremos el reembolso sin retrasos injustificados, y en un plazo máximo de:
%ul
  %li 14 días a partir del día en el que recibamos de usted la devolución de los Productos suministrados; o
  %li (si fuera anterior) 14 días a partir del día en que nos proporcione prueba de haber devuelto los Productos; o
  %li si no se hubieran suministrado los Productos, 14 días a partir del día en el que estemos informados de su decisión de desistir del pedido.
%p
  Usted es responsable de los costes de devolución de los Productos. Le recomendamos que devuelva los Productos mediante correo certificado y que obtenga prueba de su entrega. Le rogamos que embale los Productos con cuidado para garantizar que lleguen a
  nosotros en buen estado.
%p
  A todos los reembolsos se le aplicará el mismo método de pago que usted haya empleado durante su compra, a menos que hayamos acordado lo contrario, incluido el coste de entrega (excepto los costes adicionales que surjan cuando usted hubiera optado por
  un tipo de entrega que no sea el tipo de entrega estándar de menor coste que nosotros ofrezcamos en el momento de realizar el pedido).
%p
  4.
  = succeed "." do
    %strong Política de Infractor Reincidente; Reclamaciones sobre Derechos de Autor
%ul
  %li
    De conformidad con la
    %em Digital Millennium Copyright Act
    (Ley de Derechos de Autor del Milenio Digital de EE.UU.) y otras leyes aplicables, hemos adoptado la política de limitar el acceso a los Servicios, o cancelar las cuentas, de aquellos usuarios
    que vulneren los derechos de propiedad intelectual e industrial de terceros, en las circunstancias apropiadas y a nuestro exclusivo criterio. Si usted cree que existe algún elemento en los Servicios que infringe cualquier derecho de autor que usted
    posea o controle, puede presentar una notificación de dicha infracción a nuestro agente designado que figura a continuación:
%p
  Nombre del agente designado: Edward Starbird
  %br>/
  Dirección: 1501 Pike Place, #300, Seattle, WA 98101
  %br>/
  Teléfono: (206)905-1099
%p
  Correo electrónico:
  %a{:href => "mailto:dmca@chefsteps.com"} dmca@chefsteps.com
%p
  Conforme a la Directiva 2000/31/CE sobre comercio electrónico, los requisitos de una notificación apropiada son: Comunicación escrita con una firma física o electrónica de una persona autorizada para actuar, identificación de la obra protegida por derechos
  de autor que se afirma que ha sido infringida, identificación del material que se afirma que está provocando la infracción , información razonablemente suficiente para permitir que ChefSteps contacte con usted (dirección, número de teléfono y correo
  electrónico) y una declaración de que usted cree de buena fe que el uso del material no está autorizado. También debe tener en cuenta que, si usted incurre deliberadamente en cualquier tergiversación importante en su notificación de que el material
  o la actividad está provocando la infracción , usted será responsable de los daños y perjuicios que puedan producirse, incluidos, sin limitación , costas y honorarios de abogados, en los que incurramos nosotros o el presunto infractor como consecuencia
  de habernos basado en dicha tergiversación para retirar o desactivar el acceso al material o la actividad que se afirma que está provocando la infracción .
%p
  5.
  = succeed "." do
    %strong Contenido de Usuario
%ul
  %li
    Usted acepta ser el único responsable de su Contenido de Usuario y del uso que usted haga de cualesquiera funciones y áreas interactivas de los Servicios. Al publicar, cargar o enviar de otro modo Contenido de Usuario, usted manifiesta y garantiza que
    (a) dicho Contenido de Usuario no es confidencial; (b) usted posee todos los derechos de propiedad intelectual e industrial (o ha obtenido todos los permisos necesarios) para proporcionar dicho contenido y para conceder las licencias aquí establecidas;
    y (c) el Contenido de Usuario no violará ni infringirá ningún derecho de propiedad intelectual o industrial u otro derecho susceptible d eprotección, incluido el derecho de publicidad o privacidad, de cualquier persona o entidad.
%p
  6.
  %strong> Derechos sobre el Contenido de Usuario
  \. En lugar de la Cláusula 12, se aplica lo siguiente:
%ul
  %li
    A menos que se establezca lo contrario en estas Condiciones o en un acuerdo independiente, no reivindicamos ninguna titularidad o control sobre su Contenido de Usuario. Sin embargo, al publicar, cargar o enviar de otro modo Contenido de Usuario, usted
    otorga a ChefSteps un derecho no exclusivo, gratuito, mundial, perpetuo (o por el plazo máximo disponible), irrevocable, transferible y completamente sub-licenciable para utilizar, reproducir, modificar, adaptar, transformar, publicar, poner a disposición
    del público y comunicar de otro modo públicamente, traducir, crear obras derivadas, distribuir, ejecutar y mostrar dicho Contenido de Usuario y su nombre, imagen, voz y persona en los Servicios, en sitios de terceros y aplicaciones móviles y en todos
    los demás medios o formatos, para cualquier fin, incluidos los fines comerciales de ChefSteps. Usted concede además a todos los usuarios de nuestros Servicios permiso para acceder y utilizar su Contenido de Usuario de acuerdo con la versión más reciente
    de la
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"} licencia Creative Commons Attribution- NonCommercial-ShareAlike
    (BY-NC-SA).
%p
  7.
  %strong Exenciones.
  En lugar del segundo, tercer y cuarto párrafos de la Cláusula 15, se aplica lo siguiente:
%ul
  %li LOS SERVICIOS Y MATERIALES SE PROPORCIONAN “TAL CUAL” Y “EN EL ESTADO EN QUE SE ENCUENTRAN”.
%p
  USTED ES EL ÚNICO RESPONSABLE DE LA LIMPIEZA, MANIPULACIÓN, PREPARACIÓN, ALMACENAMIENTO, COCINADO, USO Y CONSUMO DE ALIMENTOS DE UN MODO ADECUADO Y SEGURO. LAS INSTRUCCIONES E INDICACIONES PARA COCINAR PROPORCIONADAS POR CHEFSTEPS SE OFRECEN ÚNICAMENTE
  COMO ORIENTACIÓN. USE SU SENTIDO COMÚN Y CRITERIO APROPIADO CUANDO PREPARE O CONSUMA CUALQUIER ALIMENTO. CONSUMIR CARNES, AVES, PESCADOS, MARISCOS O HUEVOS CRUDOS O POCO COCINADOS PUEDE AUMENTAR EL RIESGO DE INTOXICACIÓN ALIMENTARIA Y DICHO CONSUMO
  SE DEBE HACER A SU EXCLUSIVO CRITERIO. DECLINAMOS EXPRESAMENTE CUALQUIER RESPONSABILIDAD POR CUALQUIER EFECTO ADVERSO QUE PUEDA SURGIR DEL USO O APLICACIÓN QUE USTED HAGA DE LA INFORMACIÓN PROPORCIONADA A TRAVÉS DE LOS SERVICIOS.
%p
  CHEFSTEPS NO OFRECE NINGUNA GARANTÍA SOBRE PRODUCTOS FABRICADOS POR OTRAS ENTIDADES, AUNQUE USTED PUEDA COMPRARLOS A TRAVÉS DE NUESTROS SERVICIOS. LOS PRODUCTOS FABRICADOS POR OTRAS ENTIDADES, PERO VENDIDOS A TRAVÉS DE NUESTROS SERVICIOS SON VENDIDOS
  POR CHEFSTEPS “TAL” Y “CON TODOS LOS DEFECTOS QUE PUDIERAN CONTENER”.
%p
  8.
  = succeed "." do
    %strong Limitación de Responsabilidad; Exoneración de Responsabilidad
%p
  9.
  = succeed "." do
    %strong Modificaciones de los Servicios
%ul
  %li
    Nos reservamos, a nuestra exclusiva discreción y sometido a previo aviso, el derecho a modificar todos y cada uno de los Materiales y modificar, suspender o dejar de proporcionar acceso a los Servicios (o cualesquiera características o funcionalidades
    de los Servicios) en cualquier momento sin obligación ni responsabilidad alguna ante usted.
%p
  10.
  %strong Resolución de Conflictos; Arbitraje.
  En lugar de la Cláusula 18, se aplica lo siguiente:
%ul
  %li
    Con respecto a los usuarios que residan en España, todas las reclamaciones, conflictos o controversias que surjan de o en relación con estas Condiciones serán trasladados y resueltos por el sistema arbitral de consumo previsto en las leyes sobre consumo,
    cuando proceda. En ausencia de dicho sistema de arbitraje, se aplicará la Cláusula 19.
    %strong Si usted es un consumidor residente en el Área Económica Europea (“EEA”), también puede emprender acciones legales en relación con estas Condiciones en los tribunales del país en el que resida. La Comisión Europea también ofrece a los consumidores del EEE una plataforma en línea para la resolución de conflictos a la que se puede acceder en la siguiente dirección:
    %a{:href => "http://ec.europa.eu/consumers/odr/"}
      %strong http://ec.europa.eu/consumers/odr/
    %strong .
%p
  11.
  = succeed "." do
    %strong Ley Aplicable y Jurisdicción
%ul
  %li
    Estas Condiciones y su acceso a, y uso de, los Productos y Servicios se regirán, interpretarán y se harán valer de conformidad con la ley del lugar de residencia del usuario, sin tener en cuenta normas o principios en materia de conflicto de leyes (tanto
    del Estado de Washington como de cualquier otra jurisdicción) que pudiesen dar lugar a la aplicación de las leyes de cualquier otra jurisdicción. Cualquier conflicto entre las partes que no esté sujeto a arbitraje se someterá al tribunal correspondiente
    al lugar de residencia del usuario. Como consumidor residente en el EEE, usted se beneficiará de las disposiciones obligatorias de la ley del país en el que usted resida. Nada de lo previsto en estas Condiciones afectará a sus derechos como consumidor
    del EEE a invocar disposiciones obligatorias de la ley del país en el que usted resida.
%p
  12.
  = succeed "." do
    %strong Terminación
%ul
  %li
    Sin perjuicio de cualquier otra disposición prevista en estas Condiciones, nos reservamos la facultad de terminar su derecho a acceder a los Servicios si usted infringe de manera grave estas Condiciones, o cualquier otra condición o política que aquí
    se mencione. A menos que no se pueda subsanar dicha infracción, le facilitaremos una solicitud por escrito (un correo electrónico será suficiente) para que pueda subsanar la infracción antes de la terminación. A menos que existan circunstancias especiales
    que justifiquen la terminación inmediata (considerando los intereses de ambas partes), ofreceremos un plazo de tiempo adecuado para la subsanación. Solo ejerceremos este derecho transcurrido un plazo razonable de tiempo desde que tengamos conocimiento
    de la infracción.
