%p
  %strong Särskilda bestämmelser tillämpliga på användare bosatta i Finland
%p
  Om du är bosatt i Finland och om Tjänsterna och/eller Produkterna har erbjudits till dig av ChefSteps i Finland, var vänlig och granska dessa Särskilda Bestämmelser tillämpliga på användare bosatta i Finland ("Särskilda Bestämmelser"). Dessa Särskilda
  Bestämmelser tillämpas förutom, eller i vissa fall i stället för vissa paragrafer av, Användnings- och Säljningsvillkoren. Alla begrepp skrivna med stora bokstäver som inte har definierats i dessa Särskilda Bestämmelser skall ha den betydelse som ges
  i Användnings- och Säljningsvillkoren.
%p
  1.
  = succeed "." do
    %strong Returneringar och återbetalningar gällande Produkter köpta direkt från ChefSteps
%ul
  %li Du har en laglig rätt att frånträda din beställning, utan att behöva ange några skäl, inom 14 dagar från leveransen av din Produkt (antingen leverans till dig eller till personenen nominerad av dig för att ta emot leveransen).
%p Om din beställning består av flera Produkter skall 14 dagar räknas från den dag då du (eller personen nominerad av dig för att ta emot leveransen) har mottagit sista produkten av din beställning.
%p
  För att använda din rätt att frånträda avtalet skall du kontakta oss och ange ett klart meddelande om att du vill frånträda försäljnings- och köpeavtalet. Du kan använda denna rätt genom att kontakta Kundservicen per post, e-post eller telefon (kontaktuppgifterna
  finns nedan).
%p Du kan använda följande modellblankett för frånträdande, men det är inte obligatoriskt:
%table
  %tr
    %td
      %p
        %strong Modellblankett för frånträdande
      %p Till: Kundservice
      ChefSteps, Inc.
      %br/
      Customer Service
      %br/
      1501 Pike Place, Suite 300
      %br/
      Seattle, WA 98101
      %br/
      U.S.A.
      %p E-postadress: info@chefsteps.com
      %p Telefonnummer: (206) 905-1099
      %p Jag/Vi(*) meddelar härmed att jag/vi(*) vill frånträda mitt/vårt(*) avtal om köp av följande varor/om tillhandahållande av följande tjänster*,
      %p Beställd den(*) / mottagen den(*)
      %p Konsumentens namn
      %p Konsumentens adress
      %p Konsumentens underskrift (endast om denna blankett överlämnas i pappersform)
      %p Datum
      %p (*) Stryk det som inte är relevant
%p Efter att ha använt din rätt att frånträda avtalet måste du returnera alla Produkter till följande adress inom 14 dagar från den dag då du anmäler oss om ditt frånträdande:
%p [address to be inserted]
%p
  Vi förbehåller oss rätten att göra avdrag från återbetalningssumman för värdeminskningar som har drabbat de levererade produkterna om värdeminskningen är resultatet av din onödiga hantering, d.v.s. om du har hanterat produkterna mer än vad skulle vara
  nödvändigt för att få produkten att fungera.
%p Vi gör återbetalningen utan oskäligt dröjsmål och senast
%ul
  %li inom 14 dagar från den dag då vi mottar de levererade Produkterna; eller
  %li (om tidigare) inom 14 dagar från den dag då du bevisar att du har returnerat Produkterna; eller
  %li om inga Produkter har levererats, inom 14 dagar från den dag då vi får underrättelse om ditt beslut att frånträda avtalet.
%p
  Du skall bära kostnaderna för retur av Produkter. Vi rekommenderar att du returnerar Produkterna via rekommenderat brev och skaffar dig bevis på att leveransen har skett. Vänligen packa Produkterna med omsorg för att se till att vi kan motta dem i gott
  skick.
%p
  Om inte annat överenskommits mellan oss, skall alla återbetalningar göras med samma betalningsmetod som du använt då du gjorde din beställning, inklusive leveranskostnader (med undantag av ytterligare kostnader som uppstår om du vid din beställning valt
  en leverans av annat slag än den minst kostsamma standardleveransen som vi erbjuder).
%p
  3.
  = succeed "." do
    %strong Policyer mot upprepade intrång; Upphovsrättsliga klagomål
%ul
  %li
    Enligt EU-direktiv 2000/31/EG gällande elektronisk handel är kraven för en rätt slags anmälan följande: Ett skriftligt meddelande med en fysisk eller elektronisk underskrift av en person som är behörig att agera, identifiering av det upphovsrättsligt
    skyddade verket som påstås ha blivit föremål för intrång, tillräckliga informationer för ChefSteps att kontakta dig (adress, telefonnummer och e-postadress) samt en förklaring att du i god tro är övertygad att användningen av material inte är tillåten.
%p
  4.
  = succeed "." do
    %strong Tvistlösning; Skiljeförfarande
%ul
  %li
    Du har rätt att hänskjuta ett klagomål angående dessa Bestämmelser till Konsumentverket (
    %a{:href => "http://www.kuluttajariita.fi"}> www.kuluttajariita.fi
    ). Innan hänskjutning av ett klagomål till Konsumentverket måste du kontakta Konsumentrådgivning
    (
    %a{:href => "http://www.kuluttajaneuvonta.fi"}> www.kuluttajaneuvonta.fi
    ). Som konsument bosatt inom Europeiska ekonomiska samarbetsområdet ("
    %strong> EES
    ") kan du också inleda rättsliga förfaranden rörande dessa Bestämmelser vid en domstol
    i den stat du är bosatt i. Europeiska kommissionen erbjuder till EES-konsumenter en onlineplattform för tvistlösning som finns på följande adress:
    = succeed "." do
      %a{:href => "http://ec.europa.eu/consumers/odr/"} http://ec.europa.eu/consumers/odr/
%p
  5.
  = succeed "." do
    %strong Tillämplig lag och behörig domstol
%ul
  %li
    Trots det ovanstående skall en konsument bosatt inom EES åberopa tvingande regler av den stat han/hon är bosatt i. Ingen bestämmelse i dessa Särskilda Bestämmelser skall inverka på dina rättigheter som konsument bosatt i EES att åberopa tvingande lagbestämmelser
    av den stat du är bosatt i.
