%p
  %strong Dispositions spécifiques applicables aux utilisateurs résidant en France
%p
  Si vous résidez en France et que les Services ou Produits vous ont été proposés en France par Chefsteps, lisez les présentes dispositions spécifiques applicables aux utilisateurs résidant en France (« Dispositions Spécifiques »). Ces Dispositions Spécifiques
  complètent ou, dans certains cas, remplacent certains articles ou dispositions des Conditions Générales d’Utilisation et de Vente. Tous les termes qui commencent par une majuscule et qui ne sont pas définis dans les présentes Dispositions Spécifiques
  ont la signification qui leur est donnée dans les Conditions Générales d’Utilisation et de Vente.
%p
  1.
  = succeed "." do
    %strong Retour et remboursement des produits achetés directement à ChefSteps
%ul
  %li Vous avez le droit d’annuler votre commande sans indication de motif dans un délai de 14 jours à compter de la livraison (à vous-même ou à la personne que vous avez désignée pour réceptionner la livraison) du Produit que vous avez commandé.
%p Si votre commande comporte plusieurs produits, ce délai de 14 jours commencera à courir lorsque vous (ou la personne que vous avez désignée pour prendre livraison de la commande) aurez reçu le dernier produit de la commande.
%p
  Afin de pouvoir exercer votre droit d’annulation, vous devez prendre contact avec nous et nous fournir une indication claire de votre décision de vous départir du contrat d’achat et de vente. Vous pouvez exercer ce droit en contactant notre Service Client
  par courrier postal, par courrier électronique ou par téléphone (nos coordonnées sont indiquées ci-dessous).
%p Vous avez la possibilité, mais non l’obligation, d’utiliser le formulaire d’annulation de commande type ci-dessous :
%table
  %tr
    %td
      %p
        %strong Formulaire type de rétractation
      %p À : Service Client
      ChefSteps, Inc.
      %br/
      Customer Service
      %br/
      1501 Pike Place, Suite 300
      %br/
      Seattle, WA 98101
      %br/
      U.S.A.
      %p Adresse e-mail : info@chefsteps.com
      %p Numéro de téléphone : (206) 905-1099
      %p Par la présente, je vous informe / nous vous informons(*) que j’annule / nous annulons mon/notre (*) contrat de vente des produits suivants(*)/concernant la fourniture du service suivant *,
      %p Commandé le (*) / reçu le (*)
      %p Nom du ou des consommateurs,
      %p Adresse du ou des consommateurs,
      %p Signature du consommateur (uniquement si ce formulaire est imprimé)
      %p Date
      %p (*) Rayer les mentions inutiles
%p Une fois que vous aurez exercé votre droit de rétractation, vous devrez retourner tous les produits, au plus tard 14 jours à compter de la date à laquelle vous nous aurez informés de votre rétractation, à l’adresse suivante :
%p
  ChefSteps, Inc.
  %br/
  Customer Service
  %br/
  1501 Western Avenue, Suite 600
  %br/
  Seattle, WA 98101
  %br/
  U.S.A.
%p
  Nous nous réservons le droit de déduire de votre remboursement le montant de toute perte de valeur des produits fournis si cette perte résulte d’une manipulation non nécessaire des produits - c’est-à-dire plus que ce qui serait nécessaire pour vérifier
  que les produits fonctionnent.
%p Nous procéderons au remboursement rapidement et au plus tard :
%ul
  %li 14 jours après la date de réception des produits retournés ; ou
  %li (au premier des deux termes échus) 14 jours après la date de présentation d’une preuve de retour des produits ; ou
  %li si aucun produit n’a été fourni, 14 jours après la date à laquelle nous avons été informés de votre décision d’annuler la commande.
%p Les frais de retour des produits sont à votre charge. Nous vous conseillons de nous retourner les produits en recommandé avec accusé de réception. Emballez-les soigneusement de manière à ce qu’ils nous parviennent en bon état.
%p
  Sauf accord contraire de notre part, tous les remboursements seront effectués par le moyen de paiement que vous avez utilisé lors de votre achat, frais de livraison inclus (à l’exclusion des frais supplémentaires si vous avez choisi, lors de la commande,
  un mode de livraison autre que le type de livraison standard le moins cher que nous proposons).
%p
  2.
  = succeed "." do
    %strong Erreurs
%ul
  %li
    Nous nous efforçons d’être aussi exacts que possible et d’éliminer les erreurs de nos services ; toutefois, nous ne déclarons pas et ne garantissons pas que les descriptifs, prix et autres informations concernant les produits ou services sont exacts,
    complets, fiables, à jour ou exempts d’erreur. En cas d’erreur, nous prendrons contact avec vous et vous demanderons si vous souhaitez acheter le produit ou service à son véritable prix ou si, à l’inverse, vous préférez annuler votre commande et obtenir
    le remboursement de tout montant débité.
%p
  3.
  = succeed "." do
    %strong Politique relative aux violations répétées ; Réclamations relatives au droit d’auteur
%ul
  %li
    Bien que nous n’exercions aucun contrôle actif sur le Contenu Utilisateur défini à l’Article 10, nous avons adopté vis-à-vis des utilisateurs qui portent atteinte aux droits de propriété intellectuelle d’autrui une politique de limitation de l’accès
    aux services ou de suppression des comptes, dans certains cas et à notre discrétion. Si vous estimez qu’une partie des Services, quelle qu’elle soit, porte atteinte à un droit d’auteur dont vous êtes titulaire ou que vous contrôlez, vous pouvez notifier
    cette atteinte à notre mandataire désigné à l’adresse indiquée ci-dessous :
%p
  Nom du mandataire désigné : Edward Starbird 
  %br>/
  Adresse : 1501 Pike Place, #300, Seattle, WA 98101 
  %br>/
  Téléphone : (206)905-1099 
  %br>/
  E-mail :
  %a{:href => "mailto:dmca@chefsteps.com"} dmca@Chefsteps.com
%p
  Conformément aux dispositions de la Directive 2000/31/CE sur le commerce électronique, une notification doit comporter les informations suivantes : communication écrite portant la signature physique ou électronique d’une personne autorisée à agir, identification
  de l’œuvre protégée par un droit de propriété intellectuelle à laquelle il a présumément été porté atteinte, identification de l’élément présumément illégal, informations raisonnablement suffisantes pour permettre à ChefSteps de vous contacter (adresse,
  numéro de téléphone et e-mail) et déclaration selon laquelle vous estimez de bonne foi que l’utilisation de l’élément en question n’est pas autorisée. Nous attirons également votre attention sur le fait que la législation française peut prévoir des
  sanctions pénales et que si, dans la notification de l’élément ou de l’activité non autorisé, vous faites délibérément une fausse déclaration importante, vous serez responsable de tous les dommages, et notamment des frais et honoraires d’avocat que
  nous-mêmes ou l’auteur présumé de l’atteinte engagerions, qui résulteraient de la suppression ou de la désactivation de l’accès à l’élément ou à l’activité présumément non autorisé à la suite de cette fausse déclaration.
%p
  4.
  = succeed "." do
    %strong Indemnisation
%p
  5.
  = succeed "." do
    %strong Exclusions de garanties
%ul
  %li
    Nous pouvons être amenés à vous faire part d’importantes mises en garde et instructions pour votre santé et votre sécurité que vous devez impérativement lire avant d’utiliser certains Produits et/ou de bénéficier de certaines activités ou services.
    Nous pouvons mettre à jour ou réviser ces mises en garde et instructions et vous serez informé(e) de toute mise à jour.
%p
  Dans les limites prévues par la loi en vigueur, les services et éléments Chefsteps sont fournis « en l’état » et « sous réserve de disponibilité » sans garantie de quelque nature que ce soit, expresse ou tacite, et nous excluons expressément toutes les
  autre garanties, expresses ou tacites, et notamment les garanties tacites de qualité marchande, d’aptitude à l’exécution d’un travail donné, de propriété et de non-contrefaçon. Nous ne déclarons et ne garantissons pas que les sites internet, applications
  mobiles et éléments Chefsteps sont exacts, complets, fiables, à jour ou exempts d’erreur. De plus, nos sites internet, applications mobiles et éléments (a) ne sont fournis que pour information, (b) sont fournis en tant que conseils généraux et (c) ne
  sont pas destinés à remplacer un avis médical ou nutritionnel professionnel. Si nous nous efforçons de sécurisé votre accès aux sites internet, applications mobiles et éléments ChefSteps ainsi que leur utilisation, nous ne pouvons déclarer ni garantir,
  et ne déclarons et ne garantissons pas que ceux-ci ou nos serveurs sont exempts de virus ou d’autres composants dangereux. Par conséquent, il vous appartient d’utiliser un logiciel reconnu dans le secteur d’activité pour détecter les virus présents
  dans tout fichier téléchargé et les éliminer.
%p
  C’est à vous et à vous seul(e) qu’il incombe de laver, manipuler, préparer, stocker, cuire, utiliser et consommer vos aliments de manière adaptée et sûre. Les instructions de cuisson et les consignes données par ChefSteps ne sont données qu’à titre indicatif.
  Faites preuve de bon sens et d’appréciation lorsque vous préparez ou consommez des aliments. La consommation de viandes, de volaille, de fruits de mer, de coquillages ou d’œufs crus ou insuffisamment cuits peut augmenter vos risques d’intoxication alimentaire,
  et nous laissons cette consommation à votre appréciation. Nous déclinons expressément toute responsabilité concernant les effets nocifs qui pourraient résulter de la mise en œuvre ou de l’utilisation des informations fournies dans le cadre des services.
%p
  Nous attirons votre attention sur le fait que les exclusions de garantie ci-dessus n’affectent pas la garantie de conformité légale dont vous bénéficiez en vertu des articles l.211-7 et suivants du Code de la consommation français, et qui autorise tout
  consommateur :
%ul
  %li à agir dans les deux ans qui suivent la date de livraison ;
  %li à choisir entre la réparation et le remplacement de son produit, sous réserve des conditions de coût énoncées à l’Article L.217-9 du code de la consommation ;
  %li et à être dispensé de prouver l’existence d’une non-conformité du produit au cours des vingt-quatre mois suivant la livraison du produit.
%p
  Vos droits en vertu de la garantie légale contre les vices cachés prévues dans les Articles 1641 et suivants du Code Civil français, qui vous donne le droit d’annuler la vente ou vous ouvre droit à une réduction du prix d’achat conformément aux termes
  de l’Article 1644 du Code Civil, ne sont pas affectés non plus.
%p
  6.
  = succeed "." do
    %strong Limitation de la responsabilité ; Désistement
%ul
  %li
    Dans les limites prévues par la loi en vigueur : (a) ni Chefsteps ni les autres parties Chefsteps ne sauront être responsables de quelque manière que ce soit de dommages indirects (et notamment de manque à gagner, de perte de revenus ou de bénéfices,
    de perte de jouissance ou de données, de perte ou diminution de valeur des actifs ou titres, ou encore de pertes d’exploitation) qui feraient suite ou seraient de quelque manière que ce soit liés à l’accès aux services ou éléments ou à leur utilisation
    ou encore aux présentes conditions (et notamment tous dommages résultant de l’utilisation, par un utilisateur, d’une information communiquée par Chefsteps, ou des erreurs, omissions, interruptions, suppressions de fichiers ou d’e-mails, erreurs, défauts,
    bugs, virus, chevaux de Troie, retards de fonctionnement ou de transmission ou encore défaillances résultant de la force majeure, d’une panne des systèmes de communication, d’un vol, de la destruction ou de l’accès non autorisé aux dossiers, programmes
    ou systèmes de Chefsteps), quelle que soit la forme de l’action, qu’elle soit fondée sur la responsabilité contractuelle, la responsabilité délictuelle (et notamment la négligence simple, qu’elle soit active, passive ou supposée), la responsabilité
    produit stricte ou tout autre concept juridique en équité (même si la partie concernée a été informé que ces dommages risquaient de ce concrétiser et que ces dommages aient été ou non prévisibles) ; et (b) la responsabilité totale de Chefsteps et
    des parties Chefsteps (conjointement), que ce soit au titre d’un contrat, d’une garantie, d’un délit (y compris la négligence, qu’elle soit active, passive ou supposée), au titre de la responsabilité produit, de la responsabilité stricte ou d’un autre
    concept juridique, en lien avec l’utilisation, possible ou non, des services, y compris les éléments et fonctions qu’ils contiennent, ne saura en aucun cas être supérieure à la rémunération qui nous a été versée pour votre accès aux produits ou services
    ou leur utilisation.
%p
  Les limitations prévues dans le présent Article 16 ne sauront limiter ni exclure la responsabilité en cas de décès ou de dommage corporel causé par des produits ou services que vous nous achetez, ni en cas de fraude, de faute lourde ou de comportement
  intentionnellement malveillant ou imprudent de notre part.
%p
  7.
  = succeed "." do
    %strong Résolution des litiges ; Arbitrage
%ul
  %li
    Nonobstant, en tant que consommateur résidant dans l’Espace économique européen (« 
    %strong> l’EEE
     »), vous pouvez intenter une action concernant les présentes conditions en suivant la procédure d’arbitrage décrite ci-dessus ou devant les tribunaux
    du pays dans lequel vous résidez. La Commission européenne met également à la disposition des consommateurs EEE une plate-forme en ligne de règlement des litiges à l’adresse suivante :
    = succeed "." do
      %a{:href => "http://ec.europa.eu/consumers/odr/"} http://ec.europa.eu/consumers/odr/
%p
  8.
  = succeed "." do
    %strong Droit applicable et attribution de compétence
%ul
  %li
    Les présentes conditions ainsi que votre accès aux Produits et Services et leur utilisation sont régis par les lois françaises. En tant que consommateur résidant dans l’EEE, vous bénéficierez des dispositions impératives de la loi du pays dans lequel
    vous résidez. Aucune modalité des présentes conditions n’affecte vos droits en tant que consommateur de l’EEE à vous prévaloir des dispositions impératives du pays dans lequel vous résidez.
%p
  9.
  = succeed "." do
    %strong Résiliation
%ul
  %li
    Nonobstant toute mention contraire dans les présentes conditions, dans les limites prévues par la loi en vigueur, nous nous réservons le droit de mettre fin, sans avis préalable et à notre discrétion, à votre droit d’accéder aux services ou de les utiliser,
    et de bloquer ou d’empêcher tout nouvel accès et toute nouvelle utilisation des services soit dans le cas où vous persisteriez à ne pas respecter les présentes conditions malgré l’envoi, par nos services, d’une mise en demeure de remédier à ce changement,
    soit dans le cas où vous utiliseriez les services de manière contraire à la loi.
