= render 'layouts/filepicker'
:ruby

= semantic_form_for [:admin, @course] do |f|
  = f.inputs name: "course Details" do
    = f.input :published
    = f.input :title
    = f.input :youtube_id
    = f.input :description, label: "Description (Markdown or HTML)"
    = f.input :short_description, label: "Short description, for SERPs"
    = f.input :additional_script, label: "Add any additional scripts"
    %li
      .filepicker-group
        = f.label :image_id, 'Image', class: 'label'
        = f.hidden_field :image_id, class: 'filepicker-real-file'
        .filepicker-preview-group
          = image_tag 'https://d92f495ogyf88.cloudfront.net/static/missing.png', class: "filepicker-preview"
          .btn-small.remove-filepicker-image
            %span.icon-remove
        .filepicker-subgroup
          .filepicker-pick-button.btn-small.btn-warning
            Pick file
          .filepicker-drop-pane.btn-small.btn-warning
            Or drop file here

  = section("Activities", f) do
    = hidden_field_tag "activity_hierarchy"

    .control-row
      = text_field_tag "new_activity_name", nil, size: 80, placeholder: "New Activity or Module Name", style: "width: auto;"
      = add_activity_to_list_button('Create New Module', '#new_activity_name', '#activity_list', "#template_module")
      = add_activity_to_list_button('Create New Activity', '#new_activity_name', '#activity_list > li:last-child > ol', "#template_activity")

    .control-row
      = select_tag "activity_select", options_from_collection_for_select(Activity.all.sort_by { |a| a.title.to_s }.reject { |a| a.title.to_s.empty?}, "id", "title")
      = add_activity_to_list_button('Add Module', '#activity_select', '#activity_list', "#template_module")
      = add_activity_to_list_button('Add Activity', '#activity_select', '#activity_list > li:last-child > ol', "#template_activity")

    // templates for add buttons to copy
    %li#template_activity.activity.mjs-nestedSortable-leaf
      %div
        %span.disclose
          %span
        %span.activity-title
          Replace
        =remove_button 'li'

    %li#template_module.module.mjs-nestedSortable-leaf
      %div
        %span.disclose
          %span
        %span.activity-title
          Replace
        =remove_button 'li'
      %ol

    .nested-activity-list-shared
      =render layout: 'shared/nested_activities', :locals => {:for_form => true, course: @course} do |incl|
        %span.disclose
          %span
        / %span.activity-title= raw incl.activity.title.strip
        %span.activity-title= incl.title.blank? ? incl.activity.title.strip : incl.title
        = link_to 'edit syllabus title', edit_admin_inclusion_path(incl)
        = remove_button 'li'
      -if @course.inclusions.count == 0
        %ol#activity_list.sortable.allow-nested

  = f.actions do
    = f.action :submit, wrapper_html: {class: "return_activities"}
    = f.action :cancel, wrapper_html: {class: :cancel}, label: 'Cancel'

