:ruby

= semantic_form_for [:admin, @course] do |f|
  = f.inputs name: "course Details" do
    = f.input :published
    = f.input :title
    = f.input :description, label: "Description (Markdown or HTML)"

  = section("Activities", f) do
    %li= copy_button('Add Activity', '#activity-row', 'table#activities')
    = sortable_table('activities') do
      %tr
        %th
      = render 'activity_form', activity: nil
      - @course.activities.each do |activity|
        = render 'activity_form', activity: activity

  = f.actions do
    = f.action :submit
    = f.action :cancel, wrapper_html: {class: :cancel}, label: 'Cancel'

