.panel
  %h3 Course
  .panel_contents
    .attributes_table
      %table
        %tbody
          %tr
            %th Published
            %td= course.published
          %tr
            %th Link
            %td= link_to_publishable(course)
          %tr
            %th Title
            %td= course.title
          %tr
            %th Description
            %td= course.description
          %tr
            %th Activities
            %td
              %ul
                - course.activities.each do |activity|
                  %li= link_to activity.admin_title, admin_activity_path(activity)

