.flat-form(ng-controller='UploadsController' ng-init="init(#{assembly.id})" )
  .span6(ng-show="upload.status == 'new'")
    %form(name='UploadForm' ng-submit='submit()')
      %h2 Upload a Photo

      %h3 Title
      %p Name your creation
      %input.input-block-level(type='text' ng-model='upload.title' required)

      %h3 Story
      %p Tell us a story about your success, failures, variations and creations.  What worked and what didn't work?  What did you change to suit your palate or your dietary restrictions?
      %textarea.input-block-level(ng-model='upload.notes' required)

      %h3 Add a photo
      %p Click the button below to show a picture along with your creation.
      %p
        %div(ng-show='upload.image_src.length > 0')
          %img(ng-src="{{upload.image_src}}")
        %input(type='hidden' ng-model='upload.image_id' required)
        .btn.btn-secondary(ng-click='addPhoto()')
          %span(ng-hide="upload.image_id")
            Upload Photo
          %span(ng-show="upload.image_id")
            Change Photo
      %p
        %div(ng-show='UploadForm.$valid')
          .btn.btn-primary.btn-large(ng-click='submit()')
            Save
        %div(ng-hide='UploadForm.$valid')
          .btn.btn-primary.btn-large.disabled
            Save

  %div(ng-show="upload.status == 'show'")
    %h2 Upload Successful!
    %h3
      {{upload.title}}
    %p
      {{upload.notes}}
    %img(ng-src="{{upload.image_src}}")

  %div(ng-show='shareModalShow')
    .modal-backdrop(fade in)
    .modal
      .modal-body
        %h4= "Congratulations, you've completed the #{@course.title} Course!"
        - if current_user
          %p= "Here's your badge, which we'll display on #{link_to 'your profile.', user_profile_path(current_user)}".html_safe
        %h4 Share this on:
        - ab_test("social_share4", "circle_anim", "slide_anim", "glow_anim") do |split_name|
          = render 'layouts/share_button', split_name: split_name
        %p= "Would you like to share your recipe of this on ChefSteps? #{link_to 'Start Here', new_activity_path}".html_safe
      .modal-footer
        %a.btn.btn-primary.btn-large(ng-href='{{upload.path}}')
          Done