%li(ng-click="switchTab('menu', 'Overview')" ng-class="isActiveTab('menu')")
  = link_to 'Overview', '#overview'
%li(ng-click="switchTab('reviews', 'Reviews')" ng-class="isActiveTab('reviews')")
  = link_to "Reviews", '#reviews'
- if @course.faq
  %li(ng-click="switchTab('faq', 'FAQ')" ng-class="isActiveTab('faq')")
    = link_to 'FAQ', '#faq'
- if @course.ingredients_equipment
  %li(ng-click="switchTab('ingredients-equipment', 'Ingredients / Equipment')" ng-class="isActiveTab('ingredients-equipment')")
    = link_to "What you'll need", '#ingredients-equipment'
- if @course.uploads.approved.any?
  %li(ng-click="switchTab('student-projects', 'Student Projects')" ng-class="isActiveTab('student-projects')")
    = link_to "Student Projects", '#student-projects'
- if @course.assembly_type == 'Course'
  %li(ng-click="switchTab('preview', 'Preview')" ng-class="isActiveTab('preview')")
    = link_to "Preview", '#preview'