.assembly-course-landing
  .container
    .row
      .span8.section
        .embed-container.noprint{:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject"}
          - if @course.slug == 'french-macarons'
            - ab_test 'macaron_landing_video', 'FA7XWOmcptU', '5adpHW6fqa0' do |video_id|
              %iframe(frameborder='0' allowfullscreen){src: youtube_url(video_id)}
          - else
            %iframe(frameborder='0' allowfullscreen){src: youtube_url(@course.youtube_id)}

      .span4.section.offset8.affixable-fixed(affixableoffsetbottom='600')
        .buy-box
          - discounted_price = @course.price ? @discounted_price : 0
          = render 'assemblies/assembly_buy_button', assembly: @assembly, enrolled: current_user && current_user. enrolled?(@assembly), discounted_price: discounted_price, completed: current_user && current_user. completed_course?(@assembly), gift_certificate: @gift_certificate
          .text-center.enroll-count.section
            %h4= "#{@course.enrollments.count} Enrolled"
          .text-center.section(ng-show="#{@assembly.average_rating} > 0")
            %csrating.rating(value="#{@assembly.average_rating}" readonly="true")
            %div (#{pluralize(@assembly.comments.count, 'review')})
          %h5 Class Includes:
          %ul
            %li Unlimited Access
            %li= "#{@course.video_count} HD Videos"
            / %li Three Fundamental Fillings Explained
            = @course.buy_box_extra_bullets.html_safe if @course.buy_box_extra_bullets
            - if @course.price
              %li Q&A Support
          - if @course.price
            %h4 100% satisfaction guaranteed or your money back
        .section(ng-controller="NonAngularSocialController" ng-init="title='#{@course.title}'; url='https://www.chefsteps.com/classes/#{@course.slug}/landing'; media='#{filepicker_hero_image(@course.image_id)}'")
          = render 'layouts/social_buttons', media_object: @course, url: "https://www.chefsteps.com/classes/#{@course.  slug}/landing"

.container.assembly-course-landing(ng-controller="TabOrDropdown" ng-cloak)
  .row
    .span8
      %ul.nav.nav-tabs.underline.landing-tab-menu
        = render 'landing_page_tab_links'
      %ul.nav
        %li.dropdown.landing-tab-dropdown
          %a.dropdown-toggle(ng-click="showDropdown = ! showDropdown")
            %span {{tabTitle}}
            %b.caret
          %ul.dropdown-menu(ng-show="showDropdown")
            = render 'landing_page_tab_links'

      .tab-content#class-overview
        %div(ng-show="tab=='default'")
          %p 
            %strong ChefSteps exists to inspire creativity and encourage expertise in the kitchen. 
            Drawing on our years of combined culinary experience, we create hands-on online classes about food and cooking that are both informative and entertaining. We won't tell you how to make macarons from scratch—we'll show you. Whether you’re a home cook, a professional chef, or just love watching cooks work, there’s something here to discover.

          %p 
            %strong This class is designed to help you succeed in mastering the macaron. 
            You’ll learn each part of the process with entertaining and informative high-definition videos, succinct step-by-step instructions, background information on the science of macarons, and personal support from our James Beard award–winning culinary team. We also provide recipes for various flavors and colors, so you can apply your acquired skills to make macarons again and again.

          %p 
            %strong Macarons—those delectably light, mini-meringues of French descent-—
            involve a series of sophisticated techniques that can take time and practice to perfect. You often only see them at the finest bakeries—the colorful confections all lined up in a row—because they're notoriously finicky, even for pastry chefs. But learning to make macarons is actually much simpler when you can see how it’s done, with step-by-step instruction, rather than trying to follow along in long, wordy recipes and cookbooks.

          %p 
            %strong ChefSteps founder Grant Crilly, 
            who instructs this course, learned how to make macarons the hard way. He spent hundreds of hours reading cookbooks, trying and failing, his garbage can littered with colorful cookie shells night after night. He finally succeeded after attending a class in Paris with macaron expert Pierre Herme, mastering the different techniques by taking visual cues while learning in a hands-on, guided workshop. Grant developed this class with his own experience in mind.

          %p 
            %strong We’re confident that our detailed tutorial will provide all the instruction you need, 
            but if you have questions, please ask. Our culinary support team is standing by.

          - if @course.landing_bottom
            .section
              :markdown
                #{@course.landing_bottom.content}

          - if @course.uploads.approved.any?
            .section
              %h4 Student Projects
              .row
                - @course.uploads.approved.order("updated_at DESC").limit(6).each do |upload|
                  .span4
                    = render 'shared/media_box_2', size: 'medium', url: upload_path(upload), title: upload.title, image: upload.image_id, object: upload


        %div(ng-show="tab=='reviews'")

          %div(ng-controller='CommentsController' ng-init="init('assemblies',#{@course.id}, #{(current_user && current_user.id) || 0}, true)")
            = render 'comments/reviews'
        - if @course.faq    
          %div(ng-show="tab=='faq'")
            :markdown
              #{apply_shortcodes(@course.faq.content)}

        - if @course.ingredients_equipment    
          %div(ng-show="tab=='ingredients-equipment'")
            :markdown
              #{apply_shortcodes(@course.ingredients_equipment.content)}

 
= render 'layouts/footer'

:javascript
  mixpanel.track('Course Landing Viewed', {'context' : 'course', 'title' : "#{@course.title}", 'slug' : "#{@course.slug}"});
  _gaq.push(['_trackEvent', 'Course', 'Viewed', "#{@course.title}", null, true]);
