= render 'layouts/filepicker'

.container
  .row
    .span12
      %h1
        = link_to @course.title, landing_course_path(@course)

      / - if current_user
      /   = render 'enrollments/enrollment', enrollable: @course
      / - else
      /   = link_to 'Sign In', sign_in_url, class: 'btn btn-primary btn-large'


.container(ng-controller='ActivityController' ng-init="loadActivity(10)")

  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked
        - @course.assembly_inclusions.each_with_index do |inclusion,index|
          %li(ng-click="loadActivity(#{@course.assembly_inclusions[index].includable.id})")
            #{inclusion.includable.title}
    .span9
      .tab-content
        = render 'activities/main_activity_content', activity: @course.assembly_inclusions[0].includable
             