= render 'layouts/filepicker'
- content_for :title, "#{@course.title.html_safe} - Course"
- content_for :description, @course.description != "" ? @course.description.html_safe : @course.title.html_safe
- @body_tag_attributes = {:'ng-app' => "ChefStepsApp", :'ng-controller' => "ActivityController"}

.container.section.relative(ng-cloak id="top")
  .course-nav
    %ul.nav.nav-tabs.nav-stacked.section
      - @course.assembly_inclusions.each_with_index do |inclusion,index|
        - act_id = @course.assembly_inclusions[index].includable.id
        - next_act_id = @course.assembly_inclusions[index+1] ? @course.assembly_inclusions[index+1].includable.id : [] 
        %li(ng-class="{active: #{act_id} == activity.id}")
          %a(ng-click="startViewActivity(#{act_id}, #{next_act_id});")
            #{inclusion.includable.title}

  .span12
    .assembly-content(ng-init="loadActivity(#{@course.assembly_inclusions[0].includable.id})")
      = render 'activities/latest/main_activity_content', activity: @course.assembly_inclusions[0].includable

-# By not cloaking this, it will be on while the page is first loading before angular takes charge
.assembly-loading-background(ng-show="loading" ng-animate="'fade'")
  .activity-loading-spinner
    .span12
      %i.icon-spinner.icon-spin

= content_for :footer do
  = render 'layouts/footer'

             