.container
  .row
    %h1= @course.title

    - if current_user && current_user.enrolled?(@course)
      - current_user_enrolled = true
    - else
      - current_user_enrolled = false
    %div(ng-controller='EnrollmentsController' ng-init="init('assemblies','#{@course.id}', '#{current_user ? true: false}', '#{current_user_enrolled}')" ng-cloak)
      = render 'enrollments/enrollment'