- content_for :title, "#{@course.title.html_safe} - Class"
- content_for :description, @course.description != "" ? @course.description.html_safe : @course.title.html_safe
-# - @body_tag_attributes = {:'ng-app' => "ChefStepsApp"}
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}
- content_for :canonical_link, landing_class_url(@course) if @course.id

.controller.course-wrapper(ng-controller='CoursesController' ng-init="init(#{@course.id})")
  .course-assembly-container(ng-cloak ng-class="{'course-global-nav-show': showGlobalNav}")
    .course-content-wrapper(ng-class="{'menu-slideout': showCourseMenu}" cscoursescroll scrollToTop="{{scrollToTop}}" scroll-spy spyonelement="true" offset="68")
      .container-fluid
        .row-fluid
          .span12.relative.course-content.printable(ng-controller='ActivityController')
            %div(ng-switch on='view_inclusion')
              %div(ng-switch-when="Activity")
                .class-activity-wrapper.comments-slide(ng-class="{'open' : anyCommentsOpen}")
                  / = render 'activities/banner_image'
                  %cs-image-video(  image='currentIncludable.includable_image_id || currentIncludable.includable.featured_image'
                                    youtube-id='currentIncludable.includable.youtube_id'
                                    vimeo-id='currentIncludable.includable.vimeo_id')
                  %div(csFixNakedLinks="")
                    = render 'activities/main_activity_content'
                .prev-next-group(ng-class="{'hide-when-menu-showing': showCourseMenu}" ng-cloak)
                  .row-fluid.section
                    .span12
                      .course-nav-bottom
                        .course-nav-bottom-center.non-responsive
                          %h3
                            .course-nav-item.btn.btn-primary(ng-class="{disabled: ! prevInclusion()}" ng-click="loadPrevInclusion()")
                              PREVIOUS
                            .course-nav-item(ng-bind-html="currentIncludable.includable_title")
                            .course-nav-item.btn.btn-primary(ng-class="{disabled: ! nextInclusion()}" ng-click="loadNextInclusion()")
                              NEXT
                          %h4.next-activity-name(ng-show="nextInclusion()" ng-bind-html="'NEXT: ' + nextInclusion().includable_title")
                  .comments-container.section.noprint#comments(ng-if="currentIncludable.include_disqus")
                    .standard-item
                      %h3 Discussion
                      %cscomments(comments-type="activity" comments-id="{{currentIncludable.includable_id}}" seo-bot="#{is_brombone}")
              %div(ng-switch-when='Assignment')
                = render 'assembly_upload', assembly: @course

              %div(ng-switch-when='Page')
                = render 'assembly_page'

              - if current_user && current_user.role?(:admin)
                .edit-button-box.noprint
                  %h5 Admin Tools
                  %div(ng-switch on="currentIncludable.includable_type")
                    %div(ng-switch-when='Activity')
                      %a(ng-href="/activities/{{currentIncludable.includable_slug}}" target="_blank")
                        %i.icon-edit
                        edit
                    %div(ng-switch-when='Assignment')
                      %a(ng-href="/admin/assignments/{{currentIncludable.includable_slug}}/edit" target="_blank")
                        %i.icon-edit
                        edit
                    %div(ng-switch-when='Page')
                      %a(ng-href="/admin/pages/{{currentIncludable.includable_slug}}/edit" target="_blank")
                        %i.icon-edit
                        edit


        / - if @course.id == 100
        /   .row-fluid.section
        /     .span12.course-comments
        /       %hr
        /       .section#comments
        /         %a(name='discussion')
        /         %cscomments(comments-type="activity" comments-id="{{currentIncludable.includable_id}}" seo-bot="#{is_brombone}")
        / - else
        /   .row-fluid.section(ng-show="currentIncludable.include_disqus" ng-class="{'hide-when-menu-showing': showCourseMenu}")
        /     .span12.course-comments
        /       %hr
        /       = render 'layouts/disqus_angular'
    .assembly-loading-wrapper.anim-basic-fade(ng-show="loading > 0")
      .assembly-loading-background
        %cs-loading-spinner.fixed(ng-hide="! loading")
    .course-nav-slideout.noprint(ng-class="{'menu-slideout': showCourseMenu}")
      %a.black-link(ng-href='{{course.path}}')
        %h1
          {{course.title}}
      %ul.section.no-bullet
        %li(ng-repeat='inclusion in course.assembly_inclusions'
            ng-class="inclusionActiveClass(inclusion)"
            ng-click='loadInclusion(inclusion.includable_type, inclusion.includable_slug)'
            ng-include="'_recursive_assembly_syllabus.html'")
      // @discounted_price isn't always being set.  This is a hack to not show this when there is no free trial.  load_assembly may have weird edge cases we haven't thought of.
      - if @course.price
        - final_price = @discounted_price ? @discounted_price : @course.price
      - else
        - final_price = 0
      .free-trial-section(ng-controller="BuyAssemblyStripeController" ng-cloak
        ng-init='assembly=#{@course.to_json}; discounted_price=#{final_price}; logged_in=#{current_user != nil};freeTrialCode="#{session[:free_trial]}"; freeTrialText="#{@free_trial_text}"; assemblyPath="#{class_url(@course, protocol: "http")}"' ng-show="isFreeTrial()")
        %p
          %span(ng-show="differenceInTime() > 60 && differenceInTime() > 0")
            You're in a free trial.
            %br
            Want to move at your own pace?
          %span(ng-show="differenceInTime() < 60 && differenceInTime() > 0")
            You're in a free trial.
            %br
            {{differenceInTime() | number:0}} minutes remaining
          %span(ng-show="differenceInTime() <= 0")
            Your free trial has expired.
            %br
            Please buy now to continue the class.
        .buy-button
          %a.btn.btn-primary#buy-now(ng-click="openModal(false)")
            %b Buy Now {{discounted_price | niceDollars}}
        =render 'buy_modal'

    .course-nav-hamburger-wrapper
      .course-nav-hamburger(ng-click="toggleShowCourseMenu()")
        .hamburger-bar
        .hamburger-bar
        .hamburger-bar

  .course-global-nav.noprint(ng-class="{'course-global-nav-show': showGlobalNav}")
    = render 'layouts/navigation', external: false

  .course-nav-bottom-center.responsive.container-fluid.noprint.text-center(ng-class="{'hide-when-menu-showing': showCourseMenu, 'show-nav-bottom': showBottomNav}")
    %h4.next-activity-name(ng-show="nextInclusion()" ng-bind-html="'NEXT: ' + nextInclusion().includable_title")
    .course-nav-buttons-group
      .course-nav-item.btn.btn-secondary(ng-class="{disabled: ! prevInclusion()}" ng-click="loadPrevInclusion()")
        %i.icon-chevron-up
      .course-nav-item.btn.btn-secondary(ng-class="{disabled: ! nextInclusion()}" ng-click="loadNextInclusion()")
        %i.icon-chevron-down

%div(nell-popup)
  / .footer-group(ng-class="{'hide-when-menu-showing': showCourseMenu}")
  /   = render 'layouts/footer'


