- content_for :title, @assembly_type.pluralize
- content_for :description, "Become a better cook with our online classes"
- content_for :keywords, @assemblies.map(&:title).to_sentence

.container
  .row
    .span12
      %h1= @assembly_type.pluralize
      %br
      = paginate @assemblies

- @assemblies.each do |assembly|
  .container
    .row.section
      .span4
        = render 'shared/media_box_2', url: landing_assembly_path(assembly), title: assembly.title, image: assembly.featured_image, object: assembly
      .span8
        %h2= assembly.title
        %p
          = assembly.short_description
        = link_to "View the #{assembly.assembly_type}", landing_assembly_path(assembly), class: 'btn btn-primary btn-large'
.container
  .row
    .span12
      = paginate @assemblies
