- content_for :title, "#{@course.title.html_safe} - Class"
- content_for :description, @course.description != "" ? strip_tags(markdown(@course.description)) : @course.title.html_safe
- content_for :keywords, @course.leaf_activities.map(&:title).join(',')
- content_for :facebook_og do
  %meta{property: 'og:url', content: landing_class_url(@course)}
  %meta{property: 'og:title', content: "#{@course.title.html_safe} - Class"}
  %meta{property: 'og:description', content: @course.description != "" ? strip_tags(markdown(@course.description)) : @course.title.html_safe}
  %meta{property: 'og:image', content: filepicker_hero_image(@course.image_id)}


.assembly-course-landing(ng-controller="TabOrDropdown" ng-cloak)
  .container
    .row
      .span8.section
        .embed-container.noprint{:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject"}
          - if @course.slug == 'french-macarons'
            - ab_test 'macaron_landing_video', 'FA7XWOmcptU', {'XqQZSn0uB2w' => 5} do |video_id|
              %iframe(frameborder='0' allowfullscreen){src: youtube_url(video_id)}
          - elsif @course.slug == 'accelerated-sous-vide-cooking-course'
            %ul.rslides
              %li
                %img(src="http://d2eud0b65jr0pw.cloudfront.net/Module_7_Pork_Cheek_assembly20121204_4.jpg")
              %li
                %img(src="http://d2eud0b65jr0pw.cloudfront.net/final_dish_IMG_5402.jpg")
              %li
                %img(src="http://d2eud0b65jr0pw.cloudfront.net/Why%20Sous%20Vide_Convenience_6.jpg")
              %li
                %img(src="http://d2eud0b65jr0pw.cloudfront.net/Module%201_searing.jpg")
          - else
            %iframe(frameborder='0' allowfullscreen){src: youtube_url(@course.youtube_id)}

      .span4.section.offset8.affixable-fixed(affixableoffsetbottom='600')
        .buy-box
          - discounted_price = @course.price ? @discounted_price : 0
          = render 'assemblies/assembly_buy_button', assembly: @assembly, enrolled: current_user && current_user. enrolled?(@assembly), discounted_price: discounted_price, completed: current_user && current_user. completed_course?(@assembly), gift_certificate: @gift_certificate
          .text-center.enroll-count.section
            %h4= "#{@course.enrollments.count} Enrolled"
          .text-center.section(ng-show="#{@assembly.average_rating} > 0" ng-click="switchTab('reviews', 'Reviews')")
            %csrating.rating(value="#{@assembly.average_rating}" readonly="true")
            %div (#{pluralize(@assembly.comments.count, 'review')})
          %h5 Class Includes:
          %ul
            %li Unlimited Access
            %li= "#{@course.video_count} HD Videos"
            / %li Three Fundamental Fillings Explained
            = @course.buy_box_extra_bullets.html_safe if @course.buy_box_extra_bullets
            - if @course.price
              %li Q&A Support
          - if @course.price
            %h4 100% satisfaction guaranteed or your money back
        .section(ng-controller="NonAngularSocialController" ng-init="title='#{@course.title}'; url='https://www.chefsteps.com/classes/#{@course.slug}/landing'; media='#{filepicker_hero_image(@course.image_id)}'")
          = render 'layouts/social_buttons', media_object: @course, url: "https://www.chefsteps.com/classes/#{@course.  slug}/landing"
        .testimonials.well(ng-click="switchTab('reviews', 'Reviews')" ng-show="#{@course.slug == 'french-macarons'}")
          = image_tag 'https://www.filepicker.io/api/file/AShQR6KzQJeqKNwszJjK/convert?fit=crop&w=75&h=75', class: 'img-circle'
          %p "...the best $39 of my life. On the first day we made the roasted cocoa macarons, and on the second, rainbow chip. Both days we made perfect cookies and filling, first try.”
          %h5 -Patrick, North Carolina


    .row
      .span8
        %ul.nav.nav-tabs.underline.landing-tab-menu
          = render 'landing_page_tab_links'
        %ul.nav
          %li.dropdown.landing-tab-dropdown
            %a.dropdown-toggle(ng-click="showDropdown = ! showDropdown")
              %span {{tabTitle}}
              %b.caret
            %ul.dropdown-menu(ng-show="showDropdown")
              = render 'landing_page_tab_links'

        .tab-content#class-overview
          %div(ng-show="tab=='default'")
            :markdown
              #{apply_shortcodes(@course.description)}
            - if @course.landing_bottom
              .section
                :markdown
                  #{@course.landing_bottom.content}

            - if @course.uploads.approved.any?
              .section
                %h4 Student Projects
                .row
                  - @course.uploads.approved.order("updated_at DESC").limit(6).each do |upload|
                    .span4
                      = render 'shared/media_box_2', size: 'medium', url: upload_path(upload), title: upload.title, image: upload.image_id, object: upload


          %div(ng-show="tab=='reviews'")

            %div(ng-controller='CommentsController' ng-init="init('assemblies',#{@course.id}, #{(current_user && current_user.id) || 0}, true)")
              = render 'comments/reviews'
          - if @course.faq    
            %div(ng-show="tab=='faq'")
              :markdown
                #{apply_shortcodes(@course.faq.content)}

          - if @course.ingredients_equipment    
            %div(ng-show="tab=='ingredients-equipment'")
              :markdown
                #{apply_shortcodes(@course.ingredients_equipment.content)}

= render 'layouts/footer'

:javascript
  mixpanel.track('Course Landing Viewed', {'context' : 'course', 'title' : "#{@course.title}", 'slug' : "#{@course.slug}"});
  _gaq.push(['_trackEvent', 'Course', 'Viewed', "#{@course.title}", null, true]);

  
  