- content_for :title, "#{@course.title.html_safe} - Course"
- content_for :description, @course.description != "" ? @course.description.html_safe : @course.title.html_safe

.assembly-course-landing
  .full-stripe
    .container
      .row
        .span12
          .embed-container.noprint{:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject"}
            - if @course.slug == 'french-macarons'
              - ab_test 'macaron_landing_video', 'tg8xqq9hz-k', 'dmvhmQTCDfY' do |video_id|
                %iframe(frameborder='0' allowfullscreen){src: youtube_url(video_id)}
            - else
              %iframe(frameborder='0' allowfullscreen){src: youtube_url(@course.youtube_id)}

.container.assembly-course-landing
  .row
    .span8.section
      %ul.nav.nav-tabs.underline
        %li.active
          = link_to 'Overview', '#overview', data: {toggle: 'tab'}
        - if @course.faq
          %li
            = link_to 'FAQ', '#faq', data: {toggle: 'tab'}
        %li
          = link_to 'Equipment / Ingredients', '#equipment-ingredients', data: {toggle: 'tab'}
        - if @course.testimonials
          %li
            = link_to 'Testimonials', '#testimonials', data: { toggle: 'tab'}
      .tab-content
        .tab-pane.active#overview
          .two-columns
            :markdown
              #{apply_shortcodes(@course.description)}

        - if @course.faq    
          .tab-pane#faq
            = @course.faq.content

        .tab-pane#equipment-ingredients
          .row
            .span4
              %h4 Equipment you'll need
              %ul.unstyled
                - @course.required_equipment.each do |equipment_item|
                  - if equipment_item.product_url?
                    %li.bullet-for-sale= link_to equipment_item.title, equipment_item.product_url, { target: "_blank"}
                  - else
                    %li= equipment_item.title
            .span4
              %h4 Ingredients you'll need
              %ul.unstyled
                - @course.combined_ingredients.each do |ingredient_item|
                  %li= ingredient_item[0][0].title
        - if @course.testimonials 
          .tab-pane#testimonials
            = @course.testimonials.content

    -if @course.price
      .span3.offset1.section
        .buy-box
          
          = render 'assemblies/assembly_buy_button', assembly: @assembly, enrolled: current_user && current_user.enrolled?(@assembly), discounted_price: @discounted_price, completed: current_user && current_user.completed_course?(@assembly)
          .text-center.section
            %h4= "#{@course.enrollments.count} Enrolled"
          %h5 Course Includes:
          %ul
            %li Unlimited Access
            %li= "#{@course.video_count} HD Videos"
            -# Pulling this because it lessons doesn't sound right when some parts are recipes etc.
            -# %li= "#{@course.assembly_inclusions.count} Lessons"
            %li Q&A from the chefs
          %h4 100% satisfaction guaranteed or your money back

    -else
      .span3.offset1.section
        .btn.btn-primary.btn-large.input-block-level
          %a(ng-href="#{class_url(@assembly, protocol: "http")}")
            START CLASS

  - if @course.landing_bottom
    .row
      .span8
        :markdown
          #{@course.landing_bottom.content}

  .row
    .span12
      - if @course.uploads.any?
        %h4 Student Projects
        - @course.uploads.approved.order("updated_at DESC").limit(6).each do |upload|
          = render 'shared/media_box', size: 'medium', url: upload_path(upload), title: upload.title, image: upload.image_id

= render 'layouts/footer'

:javascript
  mixpanel.track('Course Landing Viewed', {'context' : 'course', 'title' : "#{@course.title}", 'slug' : "#{@course.slug}"});