.full-stripe
  .container
    .row
      .span12
        .embed-container.noprint{:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject"}
          %iframe(frameborder='0' allowfullscreen){src: youtube_url(@course.youtube_id)}

.container.assembly-course-landing
  .row.section
    .span8
      %ul.nav.nav-tabs.underline
        %li.active
          = link_to 'Overview', '#overview', data: {toggle: 'tab'}
        - if @course.faq
          %li
            = link_to 'FAQ', '#faq', data: {toggle: 'tab'}
        %li
          = link_to 'Student Uploads', '#student-uploads', data: {toggle: 'tab'}
        - if @course.testimonials
          %li
            = link_to 'Testimonials', '#testimonials', data: { toggle: 'tab'}
        %li
          = link_to 'Preview Course', '#preview', data: {toggle: 'tab'}
      .tab-content
        .tab-pane.active#overview
          .two-columns
            = @course.description
        - if @course.faq    
          .tab-pane#faq
            - @course.faq.steps.each do |step|
              %h5= step.title
              %p= step.directions              
        .tab-pane#student-uploads
          = image_tag ('http://placehold.it/75x75')
          = image_tag ('http://placehold.it/75x75')
          = image_tag ('http://placehold.it/75x75')
          = image_tag ('http://placehold.it/75x75')
          = image_tag ('http://placehold.it/75x75')
          = image_tag ('http://placehold.it/75x75')
        - if @course.testimonials 
          .tab-pane#testimonials
            = @course.testimonials.content
        .tab-pane#preview
          %p Here's what the course content looks like:
          = image_tag ('http://placehold.it/500x300')

    .span4
      .buy-box
        = render 'assemblies/assembly_buy_button', assembly: @assembly, enrolled: current_user && current_user.enrolled?(@assembly)
        .row.item-small
          .text-center.section
            %h4 2000+ Enrolled
          %h5 Course Includes:
          %ul
            %li Full Access
            %li 14 HD Videos
            %li 7 Lessons
            %li Q&A with the chefs
          %h4 100% satisfaction guaranteed or your money back

  .row
    .span4
      %h3.inline Equipment you'll need
      .pull-right.section
        %ul.nav.nav-pills
          %li.active
            = link_to '#equip-pics', data: {toggle: 'tab'} do
              .icon.icon-picture
          %li
            = link_to '#equip-list', data: {toggle: 'tab'} do
              .icon.icon-list-ul
      .tab-content.overflow-visible
        .tab-pane.active#equip-pics
          %ul.grid
            %li
              %figure
                %div
                  = image_tag ('http://placehold.it/450x375')
                %figcaption
                  %h2 Egestas Mattis
                  Maecenas sed diam eget risus varius blandit sit amet non magna.
            %li
              %figure
                %div
                  = image_tag ('http://placehold.it/450x375')
                %figcaption
                  %h2 Egestas Mattis
                  Maecenas sed diam eget risus varius blandit sit amet non magna.
            %li
              %figure
                %div
                  = image_tag ('http://placehold.it/450x375')
                %figcaption
                  %h2 Egestas Mattis
                  Maecenas sed diam eget risus varius blandit sit amet non magna.
            %li
              %figure
                %div
                  = image_tag ('http://placehold.it/450x375')
                %figcaption
                  %h2 Egestas Mattis
                  Maecenas sed diam eget risus varius blandit sit amet non magna.
  
        .tab-pane#equip-list
          %ul
            %li Tellus Amet
            %li Malesuada Tristique
            %li Tellus Nibh Venenatis
            %li Cursus Fusce        

                       


    .span4
      %h3.inline Ingredients you'll need
      .pull-right.section
        %ul.nav.nav-pills
          %li.active
            = link_to '#ingred-pics', data: {toggle: 'tab'} do
              .icon.icon-picture
          %li
            = link_to '#ingred-list', data: {toggle: 'tab'} do
              .icon.icon-list-ul
      .tab-content.overflow-visible
        .tab-pane.active#ingred-pics
          %ul.grid
            %li
              %figure
                %div
                  = image_tag ('http://placehold.it/450x375')
                %figcaption
                  %h2 Egestas Mattis
                  Maecenas sed diam eget risus varius blandit sit amet non magna.
            %li
              %figure
                %div
                  = image_tag ('http://placehold.it/450x375')
                %figcaption
                  %h2 Egestas Mattis
                  Maecenas sed diam eget risus varius blandit sit amet non magna.
            %li
              %figure
                %div
                  = image_tag ('http://placehold.it/450x375')
                %figcaption
                  %h2 Egestas Mattis
                  Maecenas sed diam eget risus varius blandit sit amet non magna.
            %li
              %figure
                %div
                  = image_tag ('http://placehold.it/450x375')
                %figcaption
                  %h2 Egestas Mattis
                  Maecenas sed diam eget risus varius blandit sit amet non magna.
  
        .tab-pane#ingred-list
          %ul
            %li Tellus Amet
            %li Malesuada Tristique
            %li Tellus Nibh Venenatis
            %li Cursus Fusce
    .span4
      %p.lead.section "Maecenas faucibus mollis interdum."
      %h5.pull-right - George Jetson      

= render 'layouts/footer'
