.full-stripe
  .container
    .row
      .span12
        .embed-container.noprint{:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject"}
          %iframe(frameborder='0' allowfullscreen){src: youtube_url(@course.youtube_id)}

.container.assembly-course-landing
  .row.section
    .span8
      %ul.nav.nav-tabs.underline
        %li.active
          = link_to 'Overview', '#overview', data: {toggle: 'tab'}
        - if @course.faq
          %li
            = link_to 'FAQ', '#faq', data: {toggle: 'tab'}
        %li
          = link_to 'Student Uploads', '#student-uploads', data: {toggle: 'tab'}
        - if @course.testimonials
          %li
            = link_to 'Testimonials', '#testimonials', data: { toggle: 'tab'}
        %li
          = link_to 'Preview Course', '#preview', data: {toggle: 'tab'}
      .tab-content
        .tab-pane.active#overview
          .two-columns
            = @course.description
        - if @course.faq    
          .tab-pane#faq
            - @course.faq.steps.each do |step|
              %h5= step.title
              %p= step.directions              
        .tab-pane#student-uploads
          .pull-left.full-width
            - @course.uploads.each do |upload|
              = render 'shared/media_box', size: 'medium', url: upload_path(upload), title: upload.title, image: upload.image_id
        - if @course.testimonials 
          .tab-pane#testimonials
            = @course.testimonials.content
        .tab-pane#preview
          %p Here's what the course content looks like:
          = image_tag ('http://placehold.it/500x300')

    .span4
      .buy-box
        = render 'assemblies/assembly_buy_button', assembly: @assembly, enrolled: current_user && current_user.enrolled?(@assembly)
        .text-center.section
          %h4= "#{@course.enrollments.count} Enrolled"
        %h5 Course Includes:
        %ul
          %li Full Access
          %li= "#{@course.video_count} HD Videos"
          %li= "#{@course.assembly_inclusions.count} Lessons"
          %li Q&A from the chefs
        %h4 100% satisfaction guaranteed or your money back

  .row
    .span4
      %h3.inline Equipment you'll need
      .pull-right.section
        %ul.nav.nav-pills
          %li.active
            = link_to '#equip-pics', data: {toggle: 'tab'} do
              .icon.icon-picture
          %li
            = link_to '#equip-list', data: {toggle: 'tab'} do
              .icon.icon-list-ul
      .tab-content.overflow-visible
        .tab-pane.active#equip-pics
          %ul.grid
            - @course.required_equipment.each do |equipment|
              %li
                %figure
                  %div
                    = image_tag ('http://placehold.it/450x375')
                  %figcaption
                    %h3= equipment.title
  
        .tab-pane#equip-list
          %h4 Required Equipment
          %ul
            - (@course.required_equipment).each do |equipment_item|
              - if equipment_item.product_url?
                %li.bullet-for-sale= link_to equipment_item.title, equipment_item.product_url, { target: "_blank"}
              - else
                %li= equipment_item.title
          %h4 Optional Equipment
          %ul
            - (@course.optional_equipment).each do |equipment_item|
              - if equipment_item.product_url?
                %li.bullet-for-sale= link_to equipment_item.title, equipment_item.product_url, { target: "_blank"}
              - else
                %li= equipment_item.title

    .span4
      %h3.inline Ingredients you'll need
      .pull-right.section
        %ul.nav.nav-pills
          %li.active
            = link_to '#ingredients-pics', data: {toggle: 'tab'} do
              .icon.icon-picture
          %li
            = link_to '#ingredients-list', data: {toggle: 'tab'} do
              .icon.icon-list-ul
      .tab-content.overflow-visible
        .tab-pane.active#ingredients-pics
          %ul.grid
            - @course.combined_ingredients.each do |combined_ingredient|
              %li
                %figure
                  %div
                    = image_tag ('http://placehold.it/450x375')
                  %figcaption
                    %h3= combined_ingredient[0][0].title
  
        .tab-pane#ingredients-list
          %ul
            - @course.combined_ingredients.each do |combined_ingredient|
              %li= combined_ingredient[0][0].title
    .span4
      = @course.testimonials      

= render 'layouts/filepicker'
= render 'layouts/footer'
