.assembly-course-landing
  .full-stripe
    .container
      .row
        .span12
          .embed-container.noprint{:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject"}
            %iframe(frameborder='0' allowfullscreen){src: youtube_url(@course.youtube_id)}

.container.assembly-course-landing
  .row.section
    .span8
      %ul.nav.nav-tabs.underline
        %li.active
          = link_to 'Overview', '#overview', data: {toggle: 'tab'}
        - if @course.faq
          %li
            = link_to 'FAQ', '#faq', data: {toggle: 'tab'}
        %li
          = link_to 'Equipment / Ingredients', '#equipment-ingredients', data: {toggle: 'tab'}
        - if @course.testimonials
          %li
            = link_to 'Testimonials', '#testimonials', data: { toggle: 'tab'}
      .tab-content
        .tab-pane.active#overview
          .two-columns
            = @course.description
        - if @course.faq    
          .tab-pane#faq
            - @course.faq.steps.each do |step|
              %h5= step.title
              %p= step.directions
        .tab-pane#equipment-ingredients
          .row
            .span4
              %h4 Equipment you'll need
              %ul.grid
                - 3.times do
                  %li
                    %figure
                      %div
                        = image_tag ('http://placehold.it/450x375')
                      %figcaption
                        %h3 Equipment
            .span4
              %h4 Ingredients you'll need
              %ul.grid
                - 3.times do
                  %li
                    %figure
                      %div
                        = image_tag ('http://placehold.it/450x375')
                      %figcaption
                        %h3 Ingredients
        - if @course.testimonials 
          .tab-pane#testimonials
            = @course.testimonials.content

    .span3.offset1
      .buy-box
        = render 'assemblies/assembly_buy_button', assembly: @assembly, enrolled: current_user && current_user.enrolled?(@assembly)
        .text-center.section
          %h4= "#{@course.enrollments.count} Enrolled"
        %h5 Course Includes:
        %ul
          %li Full Access
          %li= "#{@course.video_count} HD Videos"
          %li= "#{@course.assembly_inclusions.count} Lessons"
          %li Q&A from the chefs
        %h4 100% satisfaction guaranteed or your money back

  .row
    .span8
      %h4 Course Preview
      .row.section
        .span4
          = image_tag ('http://placehold.it/450x600'), class: 'image-shadow'
          %ul.section
            %li Some feature
            %li Some feature
            %li Some feature
        .span4
          = image_tag ('http://placehold.it/450x600'), class: 'image-shadow'
          %ul.section
            %li Some feature
            %li Some feature
            %li Some feature
    .span3.offset1
      = @course.testimonials.content if @course.testimonials
  .row
    .span12
      %h4 Student Projects
      - @course.uploads.each do |upload|
        = render 'shared/media_box', size: 'medium', url: upload_path(upload), title: upload.title, image: upload.image_id


= render 'layouts/footer'
