- content_for :title, "#{@course.title.html_safe} - Class"
- content_for :description, @course.description != "" ? @course.description.html_safe : @course.title.html_safe

.container.pre-registration
  .row.section
    .span8.offset2.text-center

      %h3
        Enter your email address to be notified when our&nbsp;
        %b> #{@course.title.html_safe}
        &nbsp;class is available.

      %form.form-horizontal.validate{action: "http://chefsteps.us3.list-manage.com/subscribe/post?u=9f69331c823fb9ca452fe5184&id=#{@course.prereg_email_list_id}", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
        %fieldset
          %input#mce-EMAIL.required.email.input-xlarge{name: "EMAIL", type: "email", value: "", placeholder: "Email address"}/
          %div{style: "position: absolute; left: -5000px;"}
            %input{name: "b_9f69331c823fb9ca452fe5184_#{@course.prereg_email_list_id}", type: "text", value: ""}/
          %input#mc-embedded-subscribe.btn.btn-primary{name: "subscribe", type: "submit", value: "SIGN UP"}/


  .row.background
    .span12.text-center
      = image_tag filepicker_hero_image(@course.prereg_image_id)
 


 