.container
  %h1= @project.title
  .row
    .span12
      %ul.nav.nav-pills
        %li.active
          = link_to 'Introduction', '#introduction', data: {toggle: 'tab'}
        - @project.assembly_inclusions.each do |assembly_inclusion|
          %li
            = link_to assembly_inclusion.includable.title, "#project-#{assembly_inclusion.id}", data: {toggle: 'tab'}
      .tab-content
        .tab-pane.active#introduction
          .row
            .span9
              .row
                .container-fluid
                  .row-fluid
                    .span6
                      .section
                        %ul
                          - @project.assembly_inclusions.each do |assembly_inclusion|
                            %li
                              = link_to assembly_inclusion.includable.title, assembly_inclusion.includable
                      .section
                        = link_to 'Get Started', '#', class: 'btn btn-large btn-primary input-block-level'
                    .span6
                      .lead
                        = @project.description
            .span3
              %h4 All Ingredients
              = link_to 'Text me this list', '#', class: 'btn btn-secondary'
              / %ul.unstyled
              /   - @project.ingredients.each do |includable_ingredient|
              /     %li
              /       = "#{includable_ingredient.quantity} #{includable_ingredient.unit}"
              /       = includable_ingredient.ingredient.title
              %ul.unstyled
                - @project.combined_ingredients.each do |combined_ingredient|
                  %li
                    = combined_ingredient[0][0].title
                    = combined_ingredient[1]
                    = combined_ingredient[2]
                       
        - @project.assembly_inclusions.each do |assembly_inclusion|
          .tab-pane{id: "project-#{assembly_inclusion.id}"}
            = render '/shared/activity', activity: assembly_inclusion.includable
