.row
  .span6
    %h1
      = @science.title
    - if @science.description?
      :markdown
        #{@science.description}
  .span6
    = render 'layouts/social_buttons', media_object: @science

.row
  .span12
    .row
      .span6.section
        #video-ingredient-unit
          .video-container
            %iframe{src: youtube_url(@science.youtube_id)}
            #image-viewer
              #image-viewer-container
              #image-viewer-close
                %i.icon-remove.icon-large
          - if @science.ingredients.any?
            .activity-ingredients-list#full-ingredients-list.section
              = render 'ingredients_list', ingredients: @science.ingredients
        - if @science.required_equipment.any?
          .section
            %h4 Equipment and Materials
            = render 'equipment_list', equipment: @science.required_equipment
      .span6.section
        .ordered-steps
          - @science.steps.each_with_index do |step, index|
            .ordered-step-item
              .step-element.step-number
                = index + 1
              .step-element.step-content
                %h4= step.title
                :markdown
                  #{raw step.directions}
                - if step.ingredients.any?
                  .step-ingredients
                    = render 'ingredients_list', ingredients: step.ingredients
              .step-image
                = image_tag filepicker_step_image(step.image_id) if step.image_id?
              / = link_to '?', '#', class: 'btn btn-warning btn-mini pull-right'