- if user_signed_in?
  %li.authentication.first
    = link_to destroy_user_session_path, method: :delete do
      Log out
      %i.icon-chevron-right.pull-right

  %li.authentication
    = link_to '#' do
      = current_user.name
      %i.icon-chevron-right.pull-right
    %span
      |

- else
  %li.authentication.first
    = auth_trigger '#auth-modal', 0 do
      Log in
      %i.icon-chevron-right.pull-right

  %li.authentication
    = auth_trigger '#auth-modal', 1 do
      Sign up
      %i.icon-chevron-right.pull-right
    %span
      |

