- if user_signed_in?
  .profile-info{ data: {'click-toggle' => 'active'} }
    .text
      = current_user.name
      %span= current_user.location
    = image_tag current_user.profile_image_url(default_profile_photo_url)
  %li.authentication.authorized.first
    = link_to destroy_user_session_path, method: :delete do
      Log out
      %i.icon-chevron-right.pull-right

  %li.authentication.authorized
    = link_to user_profile_path(current_user) do
      Profile
      %i.icon-chevron-right.pull-right
    %span
      |

- else
  %li.authentication.first
    = link_to '#log-in' do
      Log in
      %i.icon-chevron-right.pull-right

  %li.authentication
    = link_to '#sign-up' do
      Sign up
      %i.icon-chevron-right.pull-right
    %span
      |

