- if user_signed_in?
  %li.authentication.first
    = link_to destroy_user_session_path, method: :delete do
      Log out
      %i.icon-chevron-right.pull-right

  %li.authentication
    = link_to '#' do
      = current_user.name
      %i.icon-chevron-right.pull-right
    %span
      |

- else
  %li.authentication.first
    = modal_trigger new_user_session_path, '#auth-modal' do
      Log in
      %i.icon-chevron-right.pull-right

  %li.authentication
    = modal_trigger new_user_registration_path, '#auth-modal' do
      Sign up
      %i.icon-chevron-right.pull-right
    %span
      |

