- if user_signed_in?
  %li.authentication.first
    = link_to destroy_user_session_path, method: :delete do
      Log out
      %i.icon-chevron-right.pull-right

  %li.authentication
    = link_to user_profile_path(current_user) do
      = current_user.name
      %i.icon-chevron-right.pull-right
    %span
      |

- else
  %li.authentication.first
    = link_to '#log-in' do
      Log in
      %i.icon-chevron-right.pull-right

  %li.authentication
    = link_to '#sign-up' do
      Sign up
      %i.icon-chevron-right.pull-right
    %span
      |

