#footer.hero-unit.footer.noprint
  .container
    .row
      .span8
        %p
          General inquiries:
          = mail_to 'info@chefsteps.com'
        %p
          Press inquiries:
          = mail_to 'press@chefsteps.com'
        %p.creative-commons
          %a{ href: 'http://creativecommons.org/licenses/by-nc-sa/3.0', target: '_blank' }
            All Content is Creative Commons Attribution-NonCommercial-ShareAlike
      .span2.pull-right
        %p
          %a.icon-facebook{ href: "https://www.facebook.com/Chefsteps" }
            Facebook
        %p
          %a.icon-twitter{ href: "http://twitter.com/@chefsteps" }
            Twitter
        %p
          %a.icon-pinterest{ href: "http://pinterest.com/chefsteps/" }
            Pinterest
        %p
          %a.icon-legal{ href: legal_url }
            Legal


- unless user_signed_in?
  #auth-modal.modal.hide.noprint
    %button.close{ data: { dismiss: 'modal' } }
      %i.icon-remove
    = render template: 'devise/sessions/new'
    = render template: 'devise/registrations/new'
    = render template: 'devise/registrations/complete_registration'
    = render template: 'devise/passwords/new'

