.cs-nav-container.nav-fixed.nav-visible(ng-controller='NavController as nav' ng-class="{'nav-visible': nav.visibleNav, 'nav-hidden': nav.hiddenNav, 'nav-fixed': nav.fixedNav, 'nav-show-menu': nav.showMenu}")
  %alerts
  .cs-nav(ng-show="!editMode" ng-cloak ng-controller="LoginController" ng-init="registrationSource='nav'; authentication.setCurrentUser(#{current_user.to_json(methods: :authentication_token, include: [:enrollments])}); setIntent('ftue')")
    = render "devise/sessions/new_angular"
    .cs-nav-center.hide-mobile
      = render 'layouts/nav_items'

    .cs-nav-left
      %a(href='/')
        %img.logo-color(src="https://d92f495ogyf88.cloudfront.net/static/chefsteps-logo-h.png" id="chefsteps-logo")
        %img.logo-white(src="https://d92f495ogyf88.cloudfront.net/static/chefsteps-logo-white.png" id="chefsteps-logo")

    .cs-nav-right

      %a.cs-nav-item.hide-mobile(href='/gallery')
        %i.fa.fa-search

      - if current_user
        .dropdown.dropdown-right.cs-nav-item.hide-mobile(ng-controller='csDropdownController as dropdown')
          .dropdown-toggle(ng-click='dropdown.toggle($event)')
            - if current_user.image_id.blank?
              .profile-button
                Profile
            - else
              .cs-nav-profile
                .profile-image
                  = image_tag current_user.avatar_url
          .dropdown-menu(ng-show='dropdown.showMenu')
            .dropdown-wrapper
              .dropdown-menu-item
                %a(ng-href="/profiles/{{authentication.currentUser().slug}}")Profile

              .dropdown-menu-item
                %a(ng-href="/profiles/{{authentication.currentUser().slug}}/edit")Settings

              .dropdown-menu-item
                %a(ng-href="/logout")Sign Out
      - else
        %a.cs-nav-item.button.small.hide-mobile#nav-login(ng-click="openModal('login')")
          Sign In

      %button.cs-nav-item.cs-nav-menu-toggle.lines-btn.hide-desktop(ng-click="nav.showMenu = ! nav.showMenu")
        %span.lines
  .cs-nav(ng-show="editMode")
    -if @include_edit_toolbar
      .nav-edit-toolbar(collapse="!editMode")
        = render 'activities/edit_toolbar'
