- if ! @minimal
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        = link_to root_url, class: 'brand' do
          = image_tag logo_large_image_url, id: 'chefsteps-logo'
          / .logo-wrapper
          /   .logo-window
          /   .logo-block
          /     .logo-text ChefSteps
          /     .logo-subtext cook connected
        %button.btn.btn-navbar{style: 'float: right', data: {toggle: 'collapse', target: '.nav-collapse'}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %div
          -if @include_edit_toolbar
            #nav-edit-toolbar(collapse="!editMode")
              = render 'activities/edit_toolbar'
          %div(ng-style="toolbarBonusStyle()"){collapse: ("editMode" if @include_edit_toolbar)}
            .nav-collapse.collapse.pull-right#cs-navigation
              %ul.nav
                %li.dropdown
                  .nav-item-border

                  = link_to 'javascript:void(0);', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
                    Recipes
                    %i.icon-angle-down
                  %ul.dropdown-menu
                    .dropdown-background
                    %li= link_to 'ChefSteps Recipes', gallery_index_url + "#/?activity_type=Recipe"
                    %li= link_to 'Community Recipes', gallery_index_url + "#/?generator=Community"
                    %li= link_to 'Add Recipe', new_activity_url
                    -if can? :manage, Ingredient
                      %li= link_to 'Manage Ingredients', manager_ingredients_path
                    -if can? :manage, Equipment
                      %li= link_to 'Manage Equipment', equipment_index_path

                %li
                  .nav-item-border
                  = link_to 'Classes', courses_url
                %li.dropdown
                  .nav-item-border
                  = link_to 'javascript:void(0);', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
                    Community
                    %i.icon-angle-down
                  %ul.dropdown-menu
                    .dropdown-background
                    %li= link_to 'Forum', 'http://forum.chefsteps.com'
                    %li= link_to 'Vote For New Courses', poll_url('vote-for-future-classes-3')
                %li.dropdown
                  .nav-item-border
                  = link_to 'javascript:void(0);', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
                    Shop
                    %i.icon-angle-down
                  %ul.dropdown-menu
                    .dropdown-background
                    %li= link_to 'Store', 'http://store.chefsteps.com'
                    %li= link_to 'Knife Collection', knife_collection_url
                    %li= link_to 'Sous Vide Collection', sv_collection_url
                %li(ng-controller="LoginController" ng-init="authentication.setCurrentUser(#{current_user.to_json})")
                  .nav-item-border
                  - if external
                    -# Can't see current_user when external, so use a route that will
                    -# either go to their profile if logged in, or take them to sign in
                    = link_to user_profile_url('self') do
                      %span
                        Profile

                  - elsif current_user
                    - unviewed_events_count = current_user.events.timeline.unviewed.count
                    = link_to user_profile_url(current_user) do
                      %span
                        Profile
                        - if unviewed_events_count > 0
                          .label
                            = "#{unviewed_events_count} New"
                  - else
                    %a#nav-sign-in-button(ng-show="(! authentication.currentUser())" ng-click="openModal('login')") Sign In
                    = render "devise/sessions/new_angular"
                    = link_to 'Profile', user_profile_url('self'), "ng-show" => "(authentication.currentUser())", class: "profile-link"

                - unless external
                  %li
                    .nav-item-border
                    .nav-search.nav-search-toggle
                      %i.icon-search.icon-large
                      = form_tag gallery_index_url, :method => :get, class: 'navbar-form form-search nav-search-form' do
                        = text_field_tag :search_all, nil, :placeholder => 'search', class: 'search-query', id: 'nav-search-field'
                      .nav-search-hide
                        %i.icon-remove
