- if ! @minimal
  - if external
    .cs-nav
      .cs-nav-logo
        = link_to root_url do
          .logo-box
            %img.regular-logo(src="https://s3.amazonaws.com/chefsteps/static/chefsteps-logo-h-tagline.png")
  - else
    .cs-nav(ng-controller="NavbarController" ng-cloak)
      .cs-nav-logo
        = link_to root_url do
          %cs-loading
          
      .cs-nav-profile-container(ng-show="!editMode" ng-cloak ng-controller="LoginController" ng-init="registrationSource='nav'; authentication.setCurrentUser(#{current_user.to_json(methods: :authentication_token, include: [:enrollments])}); setIntent('ftue')")
        - if current_user
          .cs-nav-profile
            = link_to user_profile_url(current_user) do
              .profile-image
                = image_tag current_user.avatar_url
          / .cs-nav-notifs
          /   %csnotifs
        - else
          %a#nav-sign-in-button(ng-show="(! authentication.currentUser())" ng-click="openModal('login')") Sign In
          = render "devise/sessions/new_angular"
          .cs-nav-profile(ng-if="authentication.currentUser()")
            %a(ng-href="{{'/profiles/' + authentication.currentUser().slug}}")
              // Place holder for now until we write a filepicker service
              %img(src="http://d3awvtnmmsvyot.cloudfront.net/api/file/U2RccgsARPyMmzJ5Ao0c/convert?fit=max&w=75&h=75&cache=true")
          / .cs-nav-notifs(ng-if="authentication.currentUser()")
          /   %csnotifs

      .cs-nav-items(ng-show="!editMode")
        .cs-nav-items-toggle(ng-click="toggleMenu()")
          Menu
        %ul.cs-nav-links-container(ng-class="{'cs-nav-menu-open': showMenu}")
          .menu-popover-arrow
          .cs-nav-links(ng-hide="showSearch")
            %li
              = link_to gallery_index_url do
                Recipes
            %li.cs-nav-dropdown
              %a.cs-nav-dropdown-toggle(ng-click="toggleDropdown('resources')")
                Resources
                %i.fa.fa-caret-down
              .cs-nav-dropdown-menu(ng-show="showDropdown=='resources'" ng-cloak)
                %ul
                  .resources-popover-arrow
                  %li
                    = link_to ingredients_url do
                      %i.fa.fa-leaf 
                      Ingredient Wiki
                  %li
                    = link_to courses_url do
                      %i.fa.fa-film 
                      Classes
                  %hr{style: "border-bottom: 1px solid #ccc"}
                  %li
                    = link_to 'http://www.chefsteps.com/activities/the-egg-calculator' do
                      = image_tag "https://d3awvtnmmsvyot.cloudfront.net/api/file/l4FOGWE7Swuz1kgKrNmZ", width: "15px"
                      Egg Calculator
                  %hr{style: "border-bottom: 1px solid #ccc"}
                  %li
                    = link_to knife_collection_url do
                      = image_tag "https://d3awvtnmmsvyot.cloudfront.net/api/file/F0T93X9wSdGBCXEwBPWY", width: "15px"
                      Knife Collection
                  %li
                    = link_to sv_collection_url do
                      = image_tag "https://d3awvtnmmsvyot.cloudfront.net/api/file/Obli4MvVSqKIhOsSFhny", width: "15px"
                      Sous Vide Collection
                  %li
                    %a(href="http://store.chefsteps.com/collections/cookbooks-we-love")
                      %i.fa.fa-book
                      Cookbook Collection
            %li
              %a(href='http://forum.chefsteps.com/discussions')
                Forum
            %li
              %a(href='/about')
                About
            - if current_admin?
              %li.cs-nav-dropdown
                %a.cs-nav-dropdown-toggle(ng-click="toggleDropdown('adminResources')")
                  Admin
                  %i.fa.fa-caret-down
                .cs-nav-dropdown-menu(ng-show="showDropdown=='adminResources'" ng-cloak)
                  %ul
                    .admin-popover-arrow
                    %li
                      %a(href="http://dashboard.usebloom.com/")
                        Comments Dashboard
                    %li= link_to 'Manage Ingredients', manager_ingredients_path
                    %li= link_to 'Manage Equipment', equipment_index_path

          .cs-nav-search(ng-class="{'cs-nav-search-open': showSearch}")
            %li
              .cs-nav-search-toggle(ng-click="toggleSearch()")
                %i.fa.fa-search
              .cs-nav-search-input(ng-show="showSearch" ng-cloak)
                %form(ng-submit="getSearchQuery()" method="get" name="search" ng-controller="SearchController")
                  %input(placeholder="search" ng-model="navbarSearchQuery")
              .cs-nav-search-close
                %i.fa.fa-times(ng-click="toggleSearch()")

      %div
        -if @include_edit_toolbar
          #nav-edit-toolbar(collapse="!editMode")
            = render 'activities/edit_toolbar'