- if ! @minimal
  .navbar.navbar-fixed-top(ng-controller="NavbarController")
    .navbar-inner
      .container
        .nav-collapse(ng-click="$root.showNav = !$root.showNav")
          %h5 menu
        = link_to root_url, class: 'brand' do
          = image_tag "https://s3.amazonaws.com/uploads.hipchat.com/45918/740320/PBNf6MFq9hsgnF1/csLogoHorizontalSmall-2014.05.02.svg", id: 'chefsteps-logo', width: "200"        
        .nav-container(ng-if="!editMode")
          = render 'layouts/navigation_contents', external: false
        .nav-container-popover(ng-if="$root.showNav" ng-cloak)
          = render 'layouts/navigation_contents', external: false
        -if @include_edit_toolbar
          #nav-edit-toolbar(collapse="!editMode")
            = render 'activities/edit_toolbar'