.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to root_url, class: 'brand' do
        / = image_tag 'logo-window.png', id: 'logo-window'
        #logo-window
        .logo-text chefsteps
      %button.btn.btn-navbar{data: {toggle: 'collapse', target: '.nav-collapse'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse.collapse.pull-right
        %ul.nav
          %li
            = link_to 'Recipes', recipe_gallery_index_path
          %li.dropdown
            = link_to 'Resources', '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'}
            %ul.dropdown-menu
              .dropdown-background
              %li
                = link_to techniques_path do
                  / %i.icon-cogs.icon-2x
                  Techniques
              %li
                = link_to sciences_path do
                  / %i.icon-beaker.icon-2x
                  Science
          %li= link_to 'Forum', 'http://forum.chefsteps.com'
          %li= link_to 'Shop', 'http://store.chefsteps.com'
          %li
            / = link_to 'Search', search_index_path
            = form_tag '/search', :method => :get, class: 'navbar-form' do
              = text_field_tag :q, nil, :placeholder => 'search', class: 'span2'
              / = submit_tag 'Search', class: 'btn btn-primary'
          %li
            - if current_user
              = link_to 'Profile', user_profile_path(current_user)
            - else
              = link_to 'Sign in', sign_in_path