.cs-nav-container.nav-fixed.nav-visible(ng-controller='NavController as nav' ng-class="{'nav-visible': nav.visibleNav, 'nav-hidden': nav.hiddenNav, 'nav-fixed': nav.fixedNav, 'nav-show-menu': nav.showMenu}")
  %alerts
  .cs-nav(ng-show="!editMode" ng-cloak ng-controller="LoginController" ng-init="registrationSource='nav'; authentication.setCurrentUser(#{current_user.to_json(methods: :authentication_token, include: [:enrollments])}); setIntent('ftue')")
    = render "devise/sessions/new_angular"
    .cs-nav-center.hide-mobile
      = render 'layouts/nav_items'

    .cs-nav-left
      %a(href='/')
        %img.logo-color(src="https://d92f495ogyf88.cloudfront.net/static/chefsteps-logo-h.png" id="chefsteps-logo")
        %img.logo-white(src="https://d92f495ogyf88.cloudfront.net/static/chefsteps-logo-white.png" id="chefsteps-logo")

    .cs-nav-right

      //#intl-icon.intl-icon.cs-nav-icon-item.hide-mobile
      //  .intlFlag(ng-click="dropdown.toggle()")
      //    %div.flag-icon(ng-class="dropdown.flagIconClass(dropdown.currentCountry.code)")
      //    .intl-label
      //      {{dropdown.currentCountry.currency}}
      //      %span.icon-spanner-down
      //  #intl-dropdown-menu.dropdown-menu(ng-show='dropdown.showDropdown')
      //    .dropdown-wrapper
      //      .dropdown-menu-item(ng-repeat='country in dropdown.internationalData.countries' ng-if="country.code === 'US' || country.code === 'CA'" ng-click='dropdown.selectCountry(country)')
      //        %div(ng-attr-id="{{country.code}}")
      //          %span.flag-icon(ng-class="dropdown.flagIconClass(country.code)")>
      //          {{country.name}}
      //      .divider
      //      .dropdown-menu-item(ng-repeat='country in dropdown.internationalData.countries' ng-if="!(country.code === 'US' || country.code === 'CA')"  ng-click='dropdown.selectCountry(country)')
      //        %div(ng-attr-id="{{country.code}}")
      //          %span.flag-icon(ng-class="dropdown.flagIconClass(country.code)")>
      //          {{country.name}}

      //#intl-icon-mobile.intl-icon.hide-desktop.cs-nav-icon-item
      //  .intlFlag(ng-click="dropdown.toggle()")
      //    %div.flag-icon(ng-class="dropdown.flagIconClass(dropdown.currentCountry.code)")
      //    .intl-label
      //      {{dropdown.currentCountry.currency}}
      //      %span.icon-spanner-down
      //  #intl-dropdown-menu-mobile.dropdown-menu-mobile.ng-hide(ng-show='dropdown.showDropdown')
      //    .dropdown-wrapper-mobile
      //      .dropdown-menu-item(ng-repeat='country in dropdown.internationalData.countries' ng-if="country.code === 'US' || country.code === 'CA'" ng-click='dropdown.selectCountry(country)')
      //        %div(ng-attr-id="{{country.code}}")
      //          %span.flag-icon(ng-class="dropdown.flagIconClass(country.code)")>
      //          {{country.name}}
      //      .divider
      //      .dropdown-menu-item(ng-repeat='country in dropdown.internationalData.countries' ng-if="!(country.code === 'US' || country.code === 'CA')"  ng-click='dropdown.selectCountry(country)')
      //        %div(ng-attr-id="{{country.code}}")
      //          %span.flag-icon(ng-class="dropdown.flagIconClass(country.code)")>
      //          {{country.name}}

      %a.cs-nav-item.cs-nav-icon-item.hide-mobile(href='/gallery')
        %span.icon-search

      #cart-icon.cs-nav-item.cs-nav-icon-item.hide-mobile
        %a{:href => "#{ Rails.application.config.shared_config[:spree_endpoint] }/cart"}
          %span.icon-cart

      - if current_user
        .dropdown.dropdown-right.cs-nav-icon-item.hide-mobile(ng-controller='csDropdownController as dropdown')
          #profile-dropdown-toggle.dropdown-toggle.profile-image(ng-click='dropdown.toggle($event)')
            - if current_user.image_id.blank?
              //.profile-button
              %span.icon-profile
            - else
              .cs-nav-profile
                .profile-image
                  = image_tag current_user.avatar_url
          .dropdown-menu(ng-show='dropdown.showMenu')
            .dropdown-wrapper
              .dropdown-menu-item
                %a(ng-href="/profiles/{{authentication.currentUser().slug}}")Profile

              .dropdown-menu-item
                %a(ng-href="/subscriptions")Subscription

              .dropdown-menu-item
                %a(ng-href="#{ Rails.application.config.shared_config[:spree_endpoint] }/account")Order History

              .dropdown-menu-item
                %a(ng-href="/logout")Sign Out
      / - else
      /   %a.cs-nav-item.button.small.hide-mobile#nav-login(ng-click="openModal('login')")
      /     Sign In

      %button.cs-nav-item.cs-nav-menu-toggle.lines-btn.hide-desktop(ng-click="nav.showMenu = ! nav.showMenu")
        %span.lines
  .cs-nav(ng-show="editMode")
    -if @include_edit_toolbar
      .nav-edit-toolbar(collapse="!editMode")
        = render 'activities/edit_toolbar'
