!!! 5
%html.no-js{lang: "en", 'xmlns:fb' => "http://ogp.me/ns/fb#", :class => "#{'fs-course' if @hide_nav} chefsteps-main" }
  %head
    %title= "#{yield :title} - ChefSteps"
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'print',  media: 'print'
    %link{href: "//cloud.typography.com/7213652/651062/css/fonts.css", type: "text/css", rel: "stylesheet"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel: "stylesheet", type: "text/css"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel: "stylesheet", type: "text/css"}
    = csrf_meta_tags
    = render 'layouts/twitter'
    %meta{charset: 'utf-8'}
    %meta{name: 'description', content: yield(:description)}
    %meta{name: 'keywords', content: yield(:keywords)}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1'}
    %meta{"http-equiv" => "Content-Language", content: "en"}
    %meta{name: "google-signin-clientid", content: google_app_id}
    %meta{name: "google-signin-scope", content: "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.me https://www.googleapis.com/auth/userinfo.profile https://www.google.com/m8/feeds"}
    %meta{name: "google-signin-requestvisibleactions", content: "http://schemas.google.com/AddActivity"}
    %meta{name: "google-signin-cookiepolicy", content: "single_host_origin"}
    = yield :facebook_og
    = yield :twitter_cards
    - unless yield(:ajax_seo).blank?
      = yield :ajax_seo
    %script(src='http://www.youtube.com/iframe_api' async='true')


    = auto_discovery_link_tag :atom, feed_path
    = auto_discovery_link_tag :rss, feed_path
    - if Rails.env.development?
      %link{href: "/favicon-dev.png"}
    - else
      %link{href: "/favicon.ico", rel: "shortcut icon"}

    %meta{:name => "google-translate-customization", :content => "d64492c5d22d7921-60170f9c9b7267c6-g7179c5f7a7e64573-d"}
    - unless yield(:canonical_link).blank?
      %link{rel: "canonical", href: yield(:canonical_link) }
    - if Rails.env.production?
      = render 'layouts/qbaka'
    = render 'layouts/google_analytics'
    = render 'layouts/adroll' if current_user
    = render 'layouts/stripe'
    = render 'layouts/mixpanel'

    = render 'layouts/inspectlet'
    = render 'layouts/crazyegg'
    = javascript_include_tag 'application_head'
    = javascript_include_tag 'application'
    / %script{src:'https://s3.amazonaws.com/chefsteps-production-assets/bloom/bundle.min.js'}
    %script{src:'https://s3.amazonaws.com/chefsteps-production-assets/bloom/bundle-dev.min.js'}
    %a{href: 'https://plus.google.com/106370441183974123730?rel=author'}
  %body{@body_tag_attributes || {:'ng-app' => "ChefStepsApp", "ng-init" => "environmentConfiguration.google_app_id = '#{google_app_id}'; environmentConfiguration.environment = '#{Rails.env}'", :class => "#{Rails.env} #{'fs-course' if @hide_nav} controller-#{controller_name} action-#{action_name}"}}
    = render 'layouts/facebook'
    = render 'layouts/google'
    - unless @hide_nav == true
      = render 'layouts/navigation', external: false
      - unless @no_alerts == true
        .container.alert-container
          - flash.each do |name, msg|
            %div{class: "alert alert-#{name == :notice ? 'success' : 'error'}"}
              %button.close{type: 'button', data: {dismiss: 'alert'}} x
              %h4.alert-message= msg.html_safe
              .lblock
          %cs-notifications

    .container.noprint.cookies-disabled(style="display:none;")
      .row-fluid
        %h1 We Need Cookies
        ChefSteps accounts work best with cookies enabled in your browser. These are little text files stored on your computer that tell us to remember stuff. If you just want to look at recipes, go for it! If you want all the benefits of an account, please enable cookies.

    = yield

    / modals /
    %cs-ftue-nav
    %div(ng-controller='SurveyModalController')
    %div(ng-controller='ConnectModalController')
    %div(ng-controller='InviteModalController')
    %div(ng-controller='WelcomeModalController')
    %div(ng-controller='RecommendationsModalController')

    .container-fluid.noprint#slider-container
      .row-fluid
        .container
          = yield :bottom

    = yield :popup_bottom

    = yield :footer
    .gallery-spinner.text-center(ng-show='sup')
      %i.icon-page-load
  / = render 'layouts/youtube'
  / = render 'layouts/app_init'
  = render "layouts/login_hack"

  = yield(:custom_js)

-# This load on every page, so a convenient place to make sure mixpanel identity is known
- if current_user
  :javascript
    mixpanel.identify("#{current_user.email}")
