%html
  %head
    %title ChefSteps
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{charset: 'utf-8'}
    %meta{name: 'description', content: yield(:description)}
    %meta{name: 'keywords', content: yield(:keywords)}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

  %body
    .container
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            = link_to 'ChefSteps', root_url, class: 'brand'
            %button.btn.btn-navbar{data: {toggle: 'collapse', target: '.nav-collapse'}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .nav-collapse.collapse
              %ul.nav
                %li
                  = link_to 'Home', root_path
                %li
                  = link_to 'Recipes', recipe_gallery_index_path
                %li.dropdown
                  = link_to 'Resources', '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'}
                  %ul.dropdown-menu
                    %li
                      %h5 Ingredients
                      = link_to '#' do
                        .media
                          .pull-left
                            = image_tag 'http://placehold.it/50x50', class:'media-object'
                          .media-body
                            %h4.media-heading Ingredient Title
                            %p Ingredient Description
                      = link_to '#' do
                        .media
                          .pull-right
                            See More Ingredients
                      %h5 Techniques
                      = link_to '#' do
                        .media
                          .pull-left
                            = image_tag 'http://placehold.it/50x50', class:'media-object'
                          .media-body
                            %h4.media-heading Technique Title
                            %p Technique Description
                      = link_to '#' do
                        .media
                          .pull-right
                            See More Techniques
                      %h5 Science of
                      = link_to '#' do
                        .media
                          .pull-left
                            = image_tag 'http://placehold.it/50x50', class:'media-object'
                          .media-body
                            %h4.media-heading Science of Title
                            %p Science of Description
                      = link_to '#' do
                        .media
                          .pull-right
                            See More Science

                %li
                  = link_to 'Sign in', sign_in_path


    .container#main-container
      - flash.each do |name, msg|
        %div{class: "alert alert-#{name == :notice ? 'success' : 'error'}"}
          %button.close{type: 'button', data: {dismiss: 'alert'}} x
          = msg
      = yield
      = render 'layouts/footer'
