!!! 5
%html.no-js{lang: "en", 'xmlns:fb' => "http://ogp.me/ns/fb#", :class => "#{'fs-course' if @hide_nav} chefsteps-main", :style => "font-size: 62.5% !important;"}
  %head
    -if @show_app_add
      %meta(name="apple-itunes-app" content="app-id=816731096, affiliate-data=at=10lIEQ&ct=MWSmartBanneriPhone, app-argument=http://nytimes.com?fromSmartAppBanner=1")
      %meta(name="apple-mobile-web-app-title" content="ChefSteps")
    = render 'layouts/cdn_js'
    %style
    / http://stackoverflow.com/questions/3326650/console-is-undefined-error-for-internet-explorer
    %script(type="text/javascript")
      if (!window.console) console = {log: function() {}};
      window.lastPerfTime = new Date();
      window.logPerf = function(where) {d2 = new Date(); console.log(where + ": " + (d2 - window.lastPerfTime)); window.lastPerfTime = d2;};
      logPerf("HEAD");

    %title= "#{yield :title} | ChefSteps"
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'print',  media: 'print'
    %meta{charset: 'utf-8'}
    %meta{name: 'description', content: yield(:description)}
    %meta{name: 'keywords', content: yield(:keywords)}
    -unless yield(:extra_head_tags).blank?
      = yield :extra_head_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1'}
    %meta{"http-equiv" => "Content-Language", content: "en"}
    = csrf_meta_tags
    %meta{name: "google-signin-cookiepolicy", content: "single_host_origin"}
    = auto_discovery_link_tag :atom, feed_path
    = auto_discovery_link_tag :rss, feed_path
    %meta{:name => "google-translate-customization", :content => "d64492c5d22d7921-60170f9c9b7267c6-g7179c5f7a7e64573-d"}
    %link{href: 'https://plus.google.com/106370441183974123730?rel=author'}

    - if Rails.env.development?
      %link{href: "/favicon-dev.png"}
    - else
      %link{href: "/favicon.ico", rel: "shortcut icon"}
    - unless yield(:canonical_link).blank?
      %link{rel: "canonical", href: yield(:canonical_link) }
    %link{href: "//cloud.typography.com/7213652/651062/css/fonts.css", type: "text/css", rel: "stylesheet"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel: "stylesheet", type: "text/css"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: "stylesheet", type: "text/css"}
    %link(href="/chefsteps-icons.css" rel="stylesheet" type="text/css")
    %link{href:"/apple-touch-icon.png", rel:"apple-touch-icon" }
    = render 'layouts/mixpanel'
    = render 'layouts/google_analytics'
    = render 'layouts/filepicker'
    = render 'layouts/twitter'
    - if yield(:facebook_og).blank?
      = render 'layouts/facebook_og_default'
    - else
      = yield :facebook_og
    = yield :twitter_cards
    - unless yield(:ajax_seo).blank?
      = yield :ajax_seo
    :javascript
      window.youtubeAPIReady = false;
      window.onYouTubeIframeAPIReady = function() {
        console.log('YT API ready')
        window.youtubeAPIReady = true;
      }

    %script(src='//www.youtube.com/iframe_api' async='true')

    -# Not async on purpose, csembedvimeo assumes loaded
    %script(src='//f.vimeocdn.com/js/froogaloop2.min.js')

    // Send Bloom Encrypted User data
    - if current_user
      :javascript
        window.encryptedUser = "#{escape_javascript(current_user.encrypted_bloom_info)}";
        window.chefstepsUserId = "#{current_user.id}"
    - else
      :javascript
        window.chefstepsUserId = null
    :javascript
      angular.module('csConfig', []).constant('csConfig', #{Rails.application.config.shared_config.to_json});

  %body{@body_tag_attributes || {:'ng-app' => "ChefStepsApp"}, :'ng-click' => "$broadcast('bodyClicked')", :class => "#{Rails.env} #{'fs-course' if @hide_nav} controller-#{controller_name} action-#{action_name}", 'ng-init' =>  "environmentConfiguration.google_app_id = '#{google_app_id}'; environmentConfiguration.environment = '#{Rails.env}'; is_brombone=#{is_brombone};"}

    #rails-flash.hide
      = flash.to_json
    - unless @hide_nav == true
      = render 'layouts/navigation', external: false
      .nav-spacer.noprint

    .container.noprint.cookies-disabled(style="display:none;")
      .row-fluid
        %h1 We Need Cookies
        ChefSteps accounts work best with cookies enabled in your browser. These are little text files stored on your computer that tell us to remember stuff. If you just want to look at recipes, go for it! If you want all the benefits of an account, please enable cookies.

    = yield

    / %csglobalmessage

    / modals /
    / %cs-ftue-nav
    / %div(ng-controller='SurveyModalController')
    / %div(ng-controller='ConnectModalController')
    / %div(ng-controller='InviteModalController')
    / %div(ng-controller='WelcomeModalController')
    / %div(ng-controller='RecommendationsModalController')

    .container-fluid.noprint#slider-container.ng-cloak
      .row-fluid
        .container
          = yield :bottom

    = yield :popup_bottom

    = yield :footer

  / = render 'layouts/youtube'
  / = render 'layouts/app_init'

  = render "layouts/login_hack"
  = javascript_include_tag 'application'
  %script(type="text/javascript")
    logPerf("POST APP");


  = render 'layouts/facebook'
  = render 'layouts/google'
  - if Rails.env.production?
    = render 'layouts/adwords_remarketing'
    = render 'layouts/facebook_remarketing'

  = render 'layouts/intercom'
  = render 'layouts/embedly'
  = yield(:custom_js)
  = inline_svg('cs-icons.svg')

-# This load on every page, so a convenient place to make sure mixpanel identity is known
- if current_user
  :javascript
    mixpanel.identify("#{current_user.email}")
