!!! 5
%html.no-js{lang: "en", 'xmlns:fb' => "http://ogp.me/ns/fb#" }
  %head
    %title= "#{yield :title} - ChefSteps"
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'print',  media: 'print'
    %link{href: "//cloud.typography.com/7213652/651062/css/fonts.css", type: "text/css", rel: "stylesheet"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel: "stylesheet", type: "text/css"}
    = csrf_meta_tags
    = render 'layouts/twitter'
    %meta{charset: 'utf-8'}
    %meta{name: 'description', content: yield(:description)}
    %meta{name: 'keywords', content: yield(:keywords)}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1'}
    %meta(http-equiv="Content-Language" content="en")
    = yield :facebook_og
    = yield :twitter_cards
    - unless yield(:ajax_seo).blank?
      = yield :ajax_seo
    / YouTube Iframe API can't be loaded async so we have to load it directly

    = auto_discovery_link_tag :atom, feed_path
    = auto_discovery_link_tag :rss, feed_path
    - if Rails.env.development?
      %link{href: "/favicon-dev.png"}
    - else
      %link{href: "/favicon.ico", rel: "shortcut icon"}

    %meta{:name => "google-translate-customization", :content => "d64492c5d22d7921-60170f9c9b7267c6-g7179c5f7a7e64573-d"}
    - unless yield(:canonical_link).blank?
      %link{rel: "canonical", href: yield(:canonical_link) }
    - if Rails.env.production?
      = render 'layouts/qbaka'
    = render 'layouts/google_analytics'
    = render 'layouts/adroll' if current_user
    = render 'layouts/stripe'
    = render 'layouts/mixpanel'

    = render 'layouts/inspectlet'
    = render 'layouts/crazyegg'
    = javascript_include_tag 'application_head'
    = javascript_include_tag 'application'
    %a{href: 'https://plus.google.com/106370441183974123730?rel=author'}
  %body{@body_tag_attributes || {:'ng-app' => "ChefStepsApp"}, :class => Rails.env}
    = render 'layouts/facebook'
    - unless @hide_nav == true
      = render 'layouts/navigation', external: false
      .container.alert-container
        - flash.each do |name, msg|
          %div{class: "alert alert-#{name == :notice ? 'success' : 'error'}"}
            %button.close{type: 'button', data: {dismiss: 'alert'}} x
            %h4.alert-message= msg.html_safe
            .lblock
        %cs-notifications

    = yield

    .container-fluid.noprint#slider-container
      .row-fluid
        .container
          = yield :bottom

    = yield :popup_bottom

    = yield :footer
    / %script{src:'http://www.youtube.com/iframe_api'}
    / %script{src:'/assets/youtube.js'}
  / = render 'layouts/youtube'
  / = render 'layouts/app_init'
  = yield(:custom_js)

-# This load on every page, so a convenient place to make sure mixpanel identity is known
- if current_user
  :javascript
    mixpanel.identify("#{current_user.email}")