%html.no-js{lang: "en", 'xmlns:fb' => "http://ogp.me/ns/fb#" }
  %head
    %title ChefSteps
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'print',  media: 'print'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{charset: 'utf-8'}
    %meta{name: 'description', content: yield(:description)}
    %meta{name: 'keywords', content: yield(:keywords)}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    / = auto_discovery_link_tag :atom, feed_path
    / = auto_discovery_link_tag :rss, feed_path
    / %link{href: "/favicon.ico", rel: "shortcut icon"}
    / %meta{:name => "google-translate-customization", :content => "d64492c5d22d7921-60170f9c9b7267c6-g7179c5f7a7e64573-d"}
    / -if ! yield(:canonical_link).empty?
    /   %link{rel: "canonical", href: yield(:canonical_link) }
    / = render 'layouts/google_analytics' if Rails.env.production?

  %body
    .container
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            = link_to 'ChefSteps', root_url, class: 'brand'
            %button.btn.btn-navbar{data: {toggle: 'collapse', target: '.nav-collapse'}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .nav-collapse.collapse
              %ul.nav
                %li
                  = link_to 'Home', root_path
                %li
                  = link_to 'Recipes', recipe_gallery_index_path
                %li.dropdown
                  = link_to 'Resources', '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'}
                  %ul.dropdown-menu
                    %li
                      = link_to '#' do
                        .media
                          %h4
                            .pull-left
                              Ingredients
                            .pull-right
                              %small
                                See More Ingredients
                      = link_to '#' do
                        .media
                          .pull-left
                            = image_tag 'http://placehold.it/50x50', class:'media-object'
                          .media-body
                            %h5.media-heading Ingredient Title
                            %p Ingredient Description
                    %li
                      = link_to '#' do
                        .media
                          %h4
                            .pull-left
                              Techniques
                            .pull-right
                              %small
                                See More Techniques
                      = link_to '#' do
                        .media
                          .pull-left
                            = image_tag 'http://placehold.it/50x50', class:'media-object'
                          .media-body
                            %h5.media-heading Technique Title
                            %p Technique Description
                    %li
                      = link_to '#' do
                        .media
                          %h4
                            .pull-left
                              Science
                            .pull-right
                              %small
                                See More Science
                      = link_to '#' do
                        .media
                          .pull-left
                            = image_tag 'http://placehold.it/50x50', class:'media-object'
                          .media-body
                            %h5.media-heading Science Title
                            %p Science Description

                %li
                  = link_to 'Sign in', sign_in_path


    .container#main-container
      - flash.each do |name, msg|
        %div{class: "alert alert-#{name == :notice ? 'success' : 'error'}"}
          %button.close{type: 'button', data: {dismiss: 'alert'}} x
          = msg
      = yield
      = render 'layouts/footer'
