%html
  %head
    = render 'layouts/cdn_js'
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'print',  media: 'print'
    = csrf_meta_tags
    :javascript
      angular.module('csConfig', []).constant('csConfig', #{Rails.application.config.shared_config.to_json});
  %body(style="margin: 0;")
    = yield

  = render 'layouts/filepicker'
  = javascript_include_tag 'application'
